@use "sass:map";
@use "../setting/var_properties";
@use "../mixin/build-utility";

$modifiers: ();
@each $modifier in var_properties.$overflows {
    $modifiers: map.merge($modifiers, ($modifier: ("overflow": #{$modifier})))
}

$overflow-utils:(
    "name": "overflow",
    "modifiers": $modifiers
);

@include build-utility.build-utilities($overflow-utils)