//
// @name Container
// @description A container with a maximum width of <code>$screen-lg-max</code>
//
// @page Layout/Container
//
// @markup
// <div class="container"></div>
//

%containerCommon {
    margin: 0 auto;
    width: 100%;

    @each $breakpoint, $gutter in $grid-gutters {
        @include mq($breakpoint) {
            padding: 0 $gutter;
        }
    }
}

.container {
    @extend %containerCommon;
    width: 95%;

    @include mq(sm) {
        max-width: 700px;
    }

    @include mq(md) {
        max-width: 1000px;
    }

    @include mq(lg) {
        width: 100%;
        max-width: 1280px + $baseline*6;
    }
}

.container {
    .container {
        padding-left: 0px !important;
        padding-right: 0px !important;
    }
}

.container.container-fullwidth,
.container-fullwidth,
.container-fluid {
    @extend %containerCommon;
    max-width: 100%;
    width: 100%;
}

