iframe[src*="google.com/maps/"],
iframe[src*="youtube.com/embed/"] {
    width: 100%;
    display: block;
}

article,
.mce-content-body {
    iframe[src*="google.com/maps/"],
    iframe[src*="youtube.com/embed/"] {
        max-width: 700px;
    }
}

.image-responsive {
    width: 100%;
    max-width: 100%;
    height: auto;
}
