//
// @name Basic Table
// @description
//
// @page Tables/Basic
//
// @state .table-sm - Small table
// @state .table-lg - Large table
// @state .table-striped - Zebra striped table
// @state .table-bordered - Borders between rows
// @state .table-hover - Highlight table row on hover
//
// @markup
// <table class="table table-striped table-hover">
//     <thead>
//         <tr>
//             <th>Yummie</th>
//             <th>Much</th>
//         </tr>
//     </thead>
//     <tbody>
//         <tr>
//             <td>Gingerbread</td>
//             <td>9</td>
//         </tr>
//         <tr>
//             <td>Jelly-o</td>
//             <td>8</td>
//         </tr>
//         <tr>
//             <td>Apple pie</td>
//             <td>10</td>
//         </tr>
//     </tbody>
//     <tfoot>
//         <tr>
//             <td colspan="3"><small>Candy canes I love muffin</small></td>
//         </tr>
//     </tfoot>
// </table>
//

.table,
article table,
.mce-item-table,
.modularity-table {
    @include material-radius;
    @include material-shadow;

    width: 100%;
    border: 1px solid $creamy-darker;
    border-collapse: collapse;

    thead {
        border-bottom: 1px solid $creamy-darker;
    }

    thead,
    tbody,
    tfoot {
        background-color: #fff;
    }

    thead + tfoot {
        border-bottom: 1px solid $creamy-darker;
    }

    tbody + tfoot {
        border-top: 1px solid $creamy-darker;
    }

    th,
    thead td {
        padding: $cell-padding;
        text-align: left;
        font-weight: bold;
    }

    td {
        padding: $cell-padding;
        vertical-align: middle;
    }
}

.mce-item-table {
    th,
    td {
        min-width: 30px;
    }
}

.table-striped {
    tbody {
        tr:nth-child(even) {
            background-color: $table-zebra-alter-color;
        }
    }
}

/* Respect border-width up to 10 px */
@for $i from 0 through 10 {
    article table[border='#{$i}'] {
        border-width: #{$i}px;
        thead,
        tbody {
            th + th,
            td + td,
            tr + tr {
                border-width: #{$i}px;
            }
        }
    }
}

body:not(.material-no-shadow) article table[border='0'] {
    box-shadow: none;
}

article table,
.table-bordered {
    thead {
        th + th,
        td + td {
            border-left: 1px solid $creamy-darker;
        }
    }

    tbody {
        tr + tr {
            border-top: 1px solid $creamy-darker;
        }

        td + td {
            border-left: 1px solid $creamy-darker;
        }
    }
}

.table-hover {
    tbody {
        tr:hover {
            background-color: lighten($palette-4, 60%);
        }
    }

    &.table-striped {
        tbody {
            tr:nth-child(even):hover {
                background-color: lighten($palette-4, 58%);
            }
        }
    }
}

.table.table-va-top {
    th,
    td {
        vertical-align: top;
    }
}

table.table-sm {
    font-size: 0.8em;

    th,
    td {
        padding: $cell-padding-sm;
    }
}

table.table-lg {
    font-size: 1.1em;

    th,
    td {
        padding: $cell-padding-lg;
    }
}

.box-filled .table,
.box-filled .modularity-table {
    margin-top: 10px;
    font-size: 0.8em;
    border: none;
    border-top: 1px solid rgba(#fff, 0.3);

    * {
        border-color: rgba(#fff, 0.3);
    }

    tbody,
    tfoot {
        background-color: transparent;
    }

    thead {
        background-color: rgba(#fff, 0.2);
    }

    &.table-striped tbody tr:nth-child(2n) {
        background-color: rgba(#fff, 0.2);
    }

    &.table-hover {
        tbody {
            tr:hover {
                background-color: rgba(#fff, 0.3);
            }
        }

        &.table-striped {
            tbody {
                tr:nth-child(even):hover {
                    background-color: rgba(#fff, 0.3);
                }
            }
        }
    }
}

.table.table--plain {
    border: none;
    box-shadow: none !important;
}
