@use "../../sass/mixin/inherit";
@use "../../sass/mixin/tokens";

@include inherit.property("color-contrast");
@include inherit.property("color-primary");

$_: "c-link";

@include tokens.create($_, getComponentTokens($_));

a,
.#{$_} {
    @include inherit.consume($_, "color-contrast", tokens.getRawValue($_, "color--background-contrast"), "mixable-color");
    @include inherit.consume($_, "color-primary", tokens.getRawValue($_, "color--primary"), "mixable-color-saturated");
    --#{$_}--link-color-mix: color-mix(in srgb, var(--#{$_}--mixable-color) var(--#{$_}--color-mix-amount, 90%), var(--#{$_}--mixable-color-saturated));
    --#{$_}--state-link-color-mix: color-mix(in srgb, var(--#{$_}--mixable-color) var(--#{$_}--state-color-mix-amount, 50%), var(--#{$_}--mixable-color-saturated));
}

a:not([class^="c-"]):not([class*=" c-"]),
.#{$_} {
    text-decoration-style: solid;
    transition: 100ms color;
    color: var(--#{$_}--link-color-mix);

    i {
        text-decoration: none;
    }

    &:hover {
        text-decoration-style: solid;
    }

    &:active,
    &:focus {
        text-decoration: underline;
        text-decoration-style: dotted;
    }

    &:active,
    &:hover {
        color: var(--#{$_}--state-link-color-mix);
    }

    &:visited,
    &:visited:hover,
    &:visited:active {
        color: var(--#{$_}--state-link-color-mix);
    }
}