@use "../../sass/mixin/tokens";

$_: "c-link";

@include tokens.create($_, getComponentTokens($_));

@include tokens.create($_,
    ("color--background-contrast",
    ));

a,
.#{$_} {
    color: tokens.getRawValue($_, $token: "color--background-contrast", $inheritVariable: "color-contrast");
    text-decoration-style: solid;
    transition: 100ms color;

    i {
        text-decoration: none;
    }

    &:hover {
        text-decoration-style: solid;
    }

    &:active,
    &:focus {
        text-decoration: underline;
        text-decoration-style: dotted;
    }

    &:active,
    &:hover {
        color: color-mix(in srgb, #{tokens.getRawValue($_, "color--background-contrast")} 65%, gray);
    }

    &:visited,
    &:visited:hover,
    &:visited:active {
        color: color-mix(in srgb, #{tokens.getRawValue($_, "color--background-contrast")} 65%, gray);
    }
}