@use "../../sass/mixin/tokens";

@property --inherit-color-contrast {
    syntax: "*";
    inherits: true;
}

$_: "c-link";

@include tokens.create($_, getComponentTokens($_));

a,
.#{$_} {
    --#{$_}-mixable-color: #{tokens.getRawValue($_, "color--background-contrast", "color-contrast")};
    --#{$_}-mixable-color-saturated: #{tokens.getRawValue($_, "color--primary")};
    --#{$_}-link-color-mix: color-mix(in srgb, var(--#{$_}-mixable-color) var(--#{$_}--color-mix-amount, 90%), var(--#{$_}-mixable-color-saturated));
    --#{$_}-state-link-color-mix: color-mix(in srgb, var(--#{$_}-mixable-color) var(--#{$_}--state-color-mix-amount, 50%), var(--#{$_}-mixable-color-saturated));
}

a:not([class^="c-"]):not([class*=" c-"]),
.#{$_} {
    text-decoration-style: solid;
    transition: 100ms color;
    color: var(--#{$_}-link-color-mix);

    i {
        text-decoration: none;
    }

    &:hover {
        text-decoration-style: solid;
    }

    &:active,
    &:focus {
        text-decoration: underline;
        text-decoration-style: dotted;
    }

    &:active,
    &:hover {
        color: var(--#{$_}-state-link-color-mix);
    }

    &:visited,
    &:visited:hover,
    &:visited:active {
        color: var(--#{$_}-state-link-color-mix);
    }
}