@use "sass:map";
@use "../function/string-replace";
@use "../../sass/mixin/build-utility";

$sizings: (
    "25%",
    "50%",
    "75%",
    "100%",
    "auto",
    "unset"
);

$width: (
);
$height: (
);

@each $modifier in $sizings {
    $mod: (
        string-replace.str-replace($modifier, "%"): ("width": $modifier)
    );
$width: map.merge($width, $mod);
}

@each $modifier in $sizings {
    $mod: (
        string-replace.str-replace($modifier, "%"): ("height": $modifier)
    );
$height: map.merge($height, $mod);
}

@include build-utility.build-utilities((
    (name: "width",
        modifiers: $width ),
    (name: "height",
        modifiers: $height )
));