@use "var_default";

// ***************************************************************
// *** Radius sizes
// ***************************************************************
// All radius values are now CSS variables defined in _css-variables.scss
// Components should use: var(--radius-sm, calc(var(--base, 8px) / 2))
