// Exports CSS variables and breakpoints for use outside of Sass
@use "sass:map";
@use "_var_default.scss" as *;
@use "_css-variables.scss";

:root {
  --breakpoint-xs: #{map.get($breakpoints-map, xs)};
  --breakpoint-sm: #{map.get($breakpoints-map, sm)};
  --breakpoint-md: #{map.get($breakpoints-map, md)};
  --breakpoint-lg: #{map.get($breakpoints-map, lg)};
  --breakpoint-xl: #{map.get($breakpoints-map, xl)};
}
