@use "var_default";

// ***************************************************************
// *** Fonts
// ***************************************************************

//  Font Family
$font-family-roboto: "Roboto", sans-serif;
$font-family-code: "Fira Sans", "Monaco", "Consolas", "Menlo", "Lucida Console", "Courier New",
    "Courier", "Console";

$font-family-base: var(--font-family-base) !default;
$font-family-heading: var(--font-family-heading) !default;
$font-family-bold: var(--font-family-bold, $font-family-roboto) !default;
$font-family-italic: var(--font-family-italic, $font-family-roboto) !default;
$font-family-button: var(--font-family-button, $font-family-base) !default;

//  Font size
$font-size-base: var(--font-size-base) !default;
$font-size-lead: var(--font-size-lead) !default;
$font-size-caption: var(--font-size-caption) !default;
$font-size-marketing: var(--font-size-marketing) !default;
$font-size-headline: var(--font-size-headline) !default;
$font-size-title: var(--font-size-title) !default;
$font-size-subtitle: var(--font-size-subtitle) !default;
$font-size-subtitle-small: 0.875rem !default;
$font-size-meta: 0.875rem !default;
$font-size-body: 1rem !default;
$font-size-brand: 2.25rem !default;


$font-size-hero: 2rem !default; //+ 1.5vw
$font-size-hero-byline: 1.25rem !default; //+ 1.5vw
$font-size-hero-body: 1rem !default; //+ 1.5vw

$font-size-btn: 1rem;
$font-size-btn-line-height: calc(#{var(--base)}*2);

$font-size-btn-lg: 1rem;
$font-size-btn-lg-line-height: calc(#{var(--base)}*2);

$font-size-btn-md: 0.95rem;
$font-size-btn-md-line-height: calc(#{var(--base)}*2);

$font-size-btn-sm: 0.775rem;
$font-size-btn-sm-line-height: calc(#{var(--base)}*1.5);

//  Font Weights
$font-weight-normal: var(--font-weight-normal) !default;
$font-weight-medium: var(--font-weight-medium) !default;
$font-weight-bold: var(--font-weight-bold) !default;
$font-weight-thin: 200 !default;
$font-weight-italic: var(--font-weight-italic, 400) !default;


$font-weight-base: var(--font-weight-base, var(--font-weight-normal)) !default;
$font-weight-heading: var(--font-weight-heading) !default;
$font-weight-button: var(--font-weight-button, var(--font-weight-medium)) !default;
$font-weight-caption: var(--font-weight-caption, var(--font-weight-normal)) !default;

//  Line heights
$line-height-base: var(--line-height-base) !default;
$line-height-heading: var(--line-height-heading) !default;
$line-height-caption: var(--line-height-caption, var(--line-height-base)) !default;
$line-height-headline: 1.25;

//  Letter spacing
$letter-spacing-base: var(--letter-spacing-base) !default;
$letter-spacing-heading: var(--letter-spacing-heading, var(--letter-spacing-base)) !default;
$letter-spacing-button: var(--letter-spacing-button, var(--letter-spacing-base)) !default;
$font-letterspacing-title: .0125rem;
$font-letterspacing-subtitle: .0178571429rem;

//  Text Transform
$text-transform-base: var(--text-transform-base, none) !default;
$text-transform-heading: var(--text-transform-heading, none) !default;
$text-transform-button: var(--text-transform-button, none) !default;