@use "var_default";

// ***************************************************************
// *** Radius sizes
// ***************************************************************

var(--radius-xs): var(--radius-xs, calc(#{var_default.$base}/4)) !default;
var(--radius-sm): var(--radius-sm, calc(#{var_default.$base}/2)) !default;
var(--radius-md): var(--radius-md, #{var_default.$base}/2) !default;
var(--radius-lg): var(--radius-lg, calc(#{var_default.$base}/2)) !default;
$border-radius-full: 50% !default;

$radiuses: (
    0,
    var(--radius-xs),
    var(--radius-sm),
    var(--radius-md),
    var(--radius-lg),
    $border-radius-full
);