@use "var_colors";

//Overflow
$overflows: (
    "hidden",
    "auto",
    "scroll",
    "visible"
);

$display-states: (
    none:           (display: none),
    inline:         (display: inline),
    inline-block:   (display: inline-block),
    block:          (display: block),
    table:          (display: table),
    table-cell:     (display: table-cell),
    table-row:      (display: table-row),
    flex:           (display: flex),
    grid:           (display: grid),
    inline-flex:    (display: inline-flex)
);

//Visibility states
$visibility-states: "visible", "hidden" !default;

//  Z-index
$level-top: 99999 !default;
$level-10: 10000 !default;
$level-9: 9000 !default;
$level-8: 8000 !default;
$level-7: 7000 !default;
$level-6: 6000 !default;
$level-5: 5000 !default;
$level-4: 4000 !default;
$level-3: 3000 !default;
$level-2: 2000 !default;
$level-1: 1000 !default;
$level-bottom: 1 !default;

//  Drop shadows
$drop-shadow-amount:    var(--shadow-amount) !default;
$drop-shadow-color:     var(--shadow-color) !default;
$drop-shadow-0:         var(--shadow-0) !default;
$drop-shadow-1:         var(--shadow-1) !default;
$drop-shadow-2:         var(--shadow-2) !default;
$drop-shadow-3:         var(--shadow-3) !default;
$drop-shadow-4:         var(--shadow-4) !default;
$drop-shadow-5:         var(--shadow-5) !default;

$detail-shadow-amount:  var(--shadow-detail-amount) !default;
$detail-shadow-0:       var(--shadow-detail-0) !default;
$detail-shadow-1:       var(--shadow-detail-1) !default;
$detail-shadow-2:       var(--shadow-detail-2) !default;
$detail-shadow-3:       var(--shadow-detail-3) !default;
$detail-shadow-4:       var(--shadow-detail-4) !default;
$detail-shadow-5:       var(--shadow-detail-5) !default;

$drop-shadow-list: $drop-shadow-0 $drop-shadow-1 $drop-shadow-2 $drop-shadow-3 $drop-shadow-4 $drop-shadow-5 !default; //   example usage: nth($drop-shadow-list, 1);

//  Borders widths
//  ------------------------
$border-width-thin:             var(--border-width-thin) !default;
$border-width-medium:           var(--border-width-medium) !default;
$border-width-large:            var(--border-width-thick) !default;
//---------------------------
$border-width-divider:          var(--border-width-divider) !default;       //  Collection, <hr> & other seperators of related content
$border-width-highlight:        var(--border-width-highlight, var(--border-width-thick)) !default;    //  Active Tab, Active nav item etc
$border-width-card:             var(--border-width-card, 0px) !default;                         //  Elevated card border (none by default)
$border-width-outline:          var(--border-width-outline, var_colors.$color-border-divider) !default;    //  Outlined card
$border-width-button:           var(--border-width-button) !default;      //  Outlined button
$border-width-input:            var(--border-width-input) !default;         //  Input
//---------------------------