// ***************************************************************
// *** Fonts
// ***************************************************************

//  Font Family
$font-family-roboto: "Roboto", sans-serif;
$font-family-code: "Fira Sans", "Monaco", "Consolas", "Menlo", "Lucida Console", "Courier New",
    "Courier", "Console";

$font-family-heading: $font-family-roboto !default;
$font-family-body: $font-family-roboto !default;

//  Font size
$font-size-marketing: 36px !default;
$font-size-headline: 32px !default;
$font-size-title: 21px !default;
$font-size-subtitle: 18px !default;
$font-size-subtitle-small: 14px !default;
$font-size-body: 16px !default;
$font-size-caption: 14px !default;
$font-size-meta: 12px !default;


$font-size-hero: 48px !default;
$font-size-hero-byline: 28px !default;
$font-size-hero-body: 20px !default;

$font-size-btn: 1em;
$font-size-btn-line-height: $base*2;

$font-size-btn-lg: 0.875em;
$font-size-btn-lg-line-height: $base*2;

$font-size-btn-md: 0.875em;
$font-size-btn-md-line-height: $base*2;

$font-size-btn-sm: 0.6875em;
$font-size-btn-sm-line-height: $base*2;

$icon-sizes:(
    "inherit": inherit,
    "xs": $base,
    "sm": $base*2,
    "md": $base*3,
    "lg": $base*4,
    "xl": $base*5,
    "xxl": $base*6
);

//  Font Weights
$font-weight-normal: 400 !default;
$font-weight-medium: 500 !default;
$font-weight-bold: 700 !default;
$font-weight-thin: 200 !default;

// Line heights
$line-height-base: 1.625;
$line-height-heading: 1.33;
$line-height-headline: 1.25;

// Letter spacing
$font-letterspacing-title: .0125em;
$font-letterspacing-subtitle: .0178571429em;
