// ***************************************************************
// *** Default settings
// ***************************************************************

//  Base sizing unit
$base: 8px !default;
$em-base: 1em !default;

//Header
$header-logotype-height: $base*5 !default;

//  Spacer
$spacers: (
        '0': 0,
        '05': $base/2,
        '1': $base * 1,
        '2': $base * 2,
        '3': $base * 3,
        '4': $base * 4,
        '6': $base * 6,
        '7': $base * 7,
        '8': $base * 8,
        '5': $base * 5,
        '9': $base * 9,
        '10': $base * 10,
        '11': $base * 11,
        '12': $base * 12,
) !default;

//  Sizings
$sizings: (
        '25',
        '50',
        '75',
        '100',
        'auto'
) !default;

//  Breakpoints
$breakpoints-map: (
        xs: 0,
        sm: 32.5em, //520px
        md: 56em,   //980px
        lg: 78em,   //1248px
        xl: 100em,  //1600px
) !default;

//Width
$container-width: 1150px !default;
$container-width-wide: 1500px !default;