

:root {

  /**********************************************************
  * BASE 
  * This is the base of the full stylguide, it is used to 
  * calculate other variables, such as radius, spacing, etc.
  * It should not be changed directly, but can be overridden 
  * locally by declaring the --base variable.
  ***********************************************************/
  --base: 8px;
  --base-font-size: 16px;

  /**********************************************************
  * Z-INDEX LEVELS
  ***********************************************************/
  --level-1: 1000;
  --level-2: 2000;
  --level-3: 3000;
  --level-4: 4000;
  --level-5: 5000;
  --level-6: 6000;
  --level-7: 7000;
  --level-8: 8000;
  --level-9: 9000;

  /**********************************************************
  * RADIUS
  ***********************************************************/
  --radius-xxs:  calc(var(--base) / 8);
  --radius-xs:   calc(var(--base) / 4);
  --radius-sm:   calc(var(--base) / 2);
  --radius-md:   calc(var(--base));
  --radius-lg:   calc(var(--base) * 2);
  --radius-xl:   calc(var(--base) * 4);
  --radius-full: 5000px;

  /**********************************************************
  * SPACING
  ***********************************************************/
  --spacing-xs: --base;
  --spacing-sm: calc(var(--base) * 2);
  --spacing-md: calc(var(--base) * 4);
  --spacing-lg: calc(var(--base) * 6);

  /**********************************************************
  * Colors
  ***********************************************************/

  /* Brand */
  --color--primary: #000;
  --color--primary-contrast: #fff;

  --color--secondary: #000;
  --color--secondary-contrast: #fff;

  --color--accent: #000;
  --color--accent-contrast: #fff;

  /* Layout */
  --color--background: #fff;
  --color--background-contrast: #000;

  --color--surface: #fff;
  --color--surface-contrast: #000;

  /* Typography */
  --color--text: #000;
  --color--muted: #000;

  /* UI */
  --color--border: #000;
  --color--ring: #000;

  /* State / feedback */
  --color--success: #000;
  --color--success-contrast: #fff;

  --color--warning: #000;
  --color--warning-contrast: #fff;

  --color--error: #000;
  --color--error-contrast: #fff;

  --color--info: #000;
  --color--info-contrast: #fff;
}