// ***************************************************************
// *** Fonts
// ***************************************************************

//  Font Family
$font-family-roboto: "Roboto", "sans-serif";
$font-family-code: "Fira Sans", "Monaco", "Consolas", "Menlo", "Lucida Console", "Courier New",
    "Courier", "Console";

$font-family-base: var(--font-family-base, $font-family-roboto) !default;
$font-family-heading: var(--font-family-heading, $font-family-base) !default;
$font-family-body: $font-family-roboto !default;
$font-family-bold: var(--font-family-bold, $font-family-roboto) !default;
$font-family-italic: var(--font-family-italic, $font-family-roboto) !default;
    
//  Font size
$font-size-base: var(--font-size-base, 1rem) !default;
$font-size-lead: var(--font-size-lead, 1.125rem) !default;
$font-size-caption: var(--font-size-caption, 0.875rem) !default;
$font-size-marketing: 2.25rem !default;
$font-size-headline: 2rem !default;
$font-size-title: 1.375rem !default;
$font-size-subtitle: 1.125rem !default;
$font-size-subtitle-small: 0.875rem !default;
$font-size-body: 1rem !default;
$font-size-meta: 0.875rem !default;
$font-size-brand: 2.25rem !default;


$font-size-hero: 2rem !default; //+ 1.5vw
$font-size-hero-byline: 1.25rem !default; //+ 1.5vw
$font-size-hero-body: 1rem !default; //+ 1.5vw

$font-size-btn: 1rem;
$font-size-btn-line-height: calc(#{$base}*2);

$font-size-btn-lg: 1rem;
$font-size-btn-lg-line-height: calc(#{$base}*2);

$font-size-btn-md: 0.95rem;
$font-size-btn-md-line-height: calc(#{$base}*2);

$font-size-btn-sm: 0.775rem;
$font-size-btn-sm-line-height: calc(#{$base}*1.5);

$icon-sizes:(
    "inherit": inherit,
    "xs": $base,
    "sm": calc(#{$base}*2),
    "md": calc(#{$base}*3),
    "lg": calc(#{$base}*4),
    "xl": calc(#{$base}*5),
    "xxl": calc(#{$base}*6)
);

//  Font Weights
$font-weight-normal: 400 !default;
$font-weight-medium: 500 !default;
$font-weight-bold: var(--font-weight-bold, 700) !default;
$font-weight-thin: 200 !default;
$font-weight-italic: var(--font-weight-italic, 400) !default;


$font-weight-base: var(--font-weight-base, #{$font-weight-normal}) !default;
$font-weight-heading: var(--font-weight-heading, #{$font-weight-medium}) !default;
$font-weight-button: var(--font-weight-button, #{$font-weight-medium}) !default;
$font-weight-caption: var(--font-weight-caption, #{$font-weight-normal}) !default;

//  Line heights
$line-height-base: var(--line-height-base, 1.625) !default;
$line-height-heading: var(--line-height-heading, 1.33) !default;
$line-height-caption: var(--line-height-caption, $line-height-base) !default;
$line-height-button: var(--line-height-button, 1) !default;
$line-height-headline: 1.25;

//  Letter spacing
$letter-spacing-base: var(--letter-spacing-base, 0) !default;
$letter-spacing-heading: var(--letter-spacing-heading, 0) !default;
$letter-spacing-button: var(--letter-spacing-button, 0) !default;
$font-letterspacing-title: .0125rem;
$font-letterspacing-subtitle: .0178571429rem;

//  Text Transform
$text-transform-base: var(--text-transform-base, 'none') !default;
$text-transform-heading: var(--text-transform-heading, 'none') !default;
$text-transform-button: var(--text-transform-button, 'none') !default;