// ***************************************************************
// *** Fonts
// ***************************************************************

//  Font Family
$font-family-roboto: "Roboto", "sans-serif";
$font-family-code: "Fira Sans", "Monaco", "Consolas", "Menlo", "Lucida Console", "Courier New",
    "Courier", "Console";

$font-family-base: var(--font-family-base, $font-family-roboto) !default;
$font-family-heading: var(--font-family-heading, $font-family-base) !default;
$font-family-body: $font-family-roboto !default;

//  Font size
$font-size-base: var(--font-size-base, 16px) !default;
$font-size-marketing: 36px !default;
$font-size-headline: 32px !default;
$font-size-title: 21px !default;
$font-size-subtitle: 18px !default;
$font-size-subtitle-small: 14px !default;
$font-size-body: 16px !default;
$font-size-caption: 14px !default;
$font-size-meta: 12px !default;
$font-size-lead: 18px !default; 


$font-size-hero: 32px !default; //+ 1.5vw
$font-size-hero-byline: 20px !default; //+ 1.5vw
$font-size-hero-body: 16px !default; //+ 1.5vw

$font-size-btn: 1em;
$font-size-btn-line-height: calc(#{$base}*2);

$font-size-btn-lg: 1em;
$font-size-btn-lg-line-height: calc(#{$base}*2);

$font-size-btn-md: 0.95em;
$font-size-btn-md-line-height: calc(#{$base}*2);

$font-size-btn-sm: 0.775em;
$font-size-btn-sm-line-height: calc(#{$base}*1.5);

$icon-sizes:(
    "inherit": inherit,
    "xs": $base,
    "sm": calc(#{$base}*2),
    "md": calc(#{$base}*3),
    "lg": calc(#{$base}*4),
    "xl": calc(#{$base}*5),
    "xxl": calc(#{$base}*6)
);

//  Font Weights
$font-weight-normal: 400 !default;
$font-weight-medium: 500 !default;
$font-weight-bold: 700 !default;
$font-weight-thin: 200 !default;

// Line heights
$line-height-base: 1.625;
$line-height-heading: 1.33;
$line-height-headline: 1.25;

// Letter spacing
$font-letterspacing-title: .0125em;
$font-letterspacing-subtitle: .0178571429em;
