// ***************************************************************
// *** Default settings
// ***************************************************************
//  Base sizing unit

$base: var(--base, 8px) !default;
$number-base: var(--base-number, 8) !default;
$em-base: var(--em-base, 1em) !default;

//Header
$header-logotype-height: calc(#{$base}*5) !default;
$header-logotype-max-width: calc(#{$base}*38) !default;

//  Spacer
$spacers: (
    "0": var(--spacing-0),
    "05": calc(var(--base) * 0.5),
    "1": var(--spacing-xs),
    "1half": calc(var(--spacing-xs) * 1.5),
    "2": var(--spacing-sm),
    "3": calc(var(--spacing-sm) * 1.5),
    "4": var(--spacing-md),
    "5": calc(var(--spacing-md) * 1.25),
    "6": var(--spacing-lg),
    "7": calc(var(--spacing-lg) * 1.167),
    "8": var(--spacing-xl),
    "9": calc(var(--spacing-xl) * 1.125),
    "10": var(--spacing-xxl),
    "11": calc(var(--spacing-xxl) * 1.1),
    "12": var(--spacing-3xl),
    "13": calc(var(--spacing-3xl) * 1.083),
    "14": calc(var(--spacing-3xl) * 1.167),
    "15": calc(var(--spacing-3xl) * 1.25),
    "16": var(--spacing-4xl),
    "17": calc(var(--spacing-4xl) * 1.0625),
    "18": calc(var(--spacing-4xl) * 1.125),
    "19": calc(var(--spacing-4xl) * 1.1875),
    "20": calc(var(--spacing-4xl) * 1.25),
    "21": calc(var(--spacing-4xl) * 1.3125),
    "22": calc(var(--spacing-4xl) * 1.375),
    "23": calc(var(--spacing-4xl) * 1.4375),
    "24": var(--spacing-5xl),
    "auto": "auto"
) !default;

//  Sizings
$sizings: (
    "25%",
    "50%",
    "75%",
    "100%",
    "auto",
    "unset"
) !default;

//  Breakpoints
$breakpoints-map: (
    xs: 0,
    sm: 32.5em, // 520px
    md: 56em, // 896px
    lg: 78em, // 1248px
    xl: 100em, // 1600px
) !default;

$container-breakpoints-map: (
    xs: 20em, // 320px
    sm: 36em, // 576px
    md: 48em, // 768px
    lg: 62em, // 992px
    xl: 75em, // 1200px
) !default;

//Width
$container-width:           var(--container-width, calc(#{$base} * 156)) !default; //1280
$container-width-content:   var(--container-width-content, calc(#{$base} * 87.5)) !default; //700
$container-width-wide:      var(--container-width-wide, calc(#{$base} * 200)) !default; //1600