//  Base sizing unit
$base: 8px !default;
$em-base: 1em !default; 

//  Font Family
$font-family-roboto: 'Roboto', sans-serif;
$font-family-code: 'Fira Sans', 'Monaco', 'Consolas', 'Menlo', 'Lucida Console', 'Courier New',
    'Courier', 'Console';

$font-family-heading: $font-family-roboto !default;
$font-family-body: $font-family-roboto !default;

//Width
$container-width: 1150px !default; 
$container-width-wide: 1500px !default; 

//  Font size
$font-size-headline: 32px !default;
$font-size-title: 20px !default;
$font-size-subtitle: 18px !default;
$font-size-body: 16px !default;
$font-size-caption: 14px !default;
$font-size-meta: 12px !default;

$font-size-hero: 48px !default;
$font-size-hero-byline: 28px !default;
$font-size-hero-body: 20px !default;

$font-size-btn: 0.9em;
$font-size-btn-line-height: 1.3;

$font-size-btn-lg: 1.2em;
$font-size-btn-lg-line-height: 1.3;

$font-size-btn-sm: 0.75em;
$font-size-btn-sm-line-height: 1;


//  Font Weights
$font-weight-normal: 400 !default;
$font-weight-medium: 500 !default;
$font-weight-bold: 700 !default;
$font-weight-thin: 200 !default;

// Line heights
$line-height-base: 1.625;
$line-height-heading: 1.5;
$line-height-headline: 1.25;

//  Colors
$color-primary: #ae0b05 !default;
$color-primary-dark: #e3000f !default;
$color-primary-light: #cb0050 !default;

$color-secondary: #f7a600 !default;
$color-secondary-dark: #f7a600 !default;
$color-secondary-light: #f7a600 !default;

$color-black: black !default;
$color-gray: lighten($color-black,50%) !default;
$color-gray-light: lighten($color-gray,45%) !default;
$color-gray-lighter: lighten($color-gray-light,4%) !default;
$color-white: white !default;

$color-success: #11a636 !default;
$color-danger: #e3000f !default;
$color-info: #b1f5ff !default;
$color-warning: #ffd700 !default;

$color-base: rgba($color-black, 0.96) !default;
$color-base-secondary: rgba($color-black, 0.54) !default;
$color-base-disabled: rgba($color-black, 0.37) !default;

$color-base-invert: $color-white !default;
$color-base-invert-secondary: rgba($color-white, 0.75) !default;
$color-base-invert-disabled: rgba($color-white, 0.5) !default;

$color-heading: $color-base !default;
$color-body: $color-base !default;
$color-body-background: #f4f4f4;

$color-link: #0069b4 !default;
$color-link-hover: $color-link;
$color-link-visited: #712089 !default;
$color-link-visited-hover: $color-link-visited;

$color-shadow: rgba($color-black, 0.08) !default;
$color-border: #e5e5e5;
$color-code-background: #fdfcfb;
$color-cream: #fdfcfb;

$color-header-background: $color-white !default;
$color-header-background-level-1: $color-gray-light !default;
$color-header-background-level-2: $color-white !default;
$color-header-background-level-3: $color-primary !default;

$color-menu-background: $color-white !default; 
$color-menu-separator: $color-gray-light !default; 
$color-menu-active-indicator: $color-gray-light !default; 
$color-menu-active-background: $color-gray-lighter !default; 
$color-menu-text: $color-black; 

$color-menu-active-indicator-horizontal: $color-primary-light !default; 
$color-menu-text-horizontal: $color-black; 

$color-card-background: $color-white !default; 

$color-footer-background: #efefef;

$color-breadcrumb-active: $color-gray !default; 
$color-breadcrumb-icon: $color-black !default; 
$color-breadcrumb: $color-black !default; 

$color-paper-background: $color-white !default; 

$color-table-background-odd: $color-gray-light !default; 

//Header
$header-logotype-height: $base*5 !default;

//Radiuses
$border-radius-xs: ($base/4) !default;
$border-radius-sm: ($base/2) !default;
$border-radius-md: ($base) !default;
$border-radius-lg: ($base*2) !default;
$border-radius-full: 50% !default;

//  Breakpoints
$breakpoints-map: (
    xs: 0,
    sm: 32.5em, //520px
    md: 56em,   //980px
    lg: 78em,   //1248px
    xl: 100em,  //1600px
) !default;

//Display states
$display-states: 'none', 'inline', 'inline-block', 'block', 'table', 'table-cell', 'table-row', 'flex', 'inline-flex' !default;

//  Spacer
$spacers: (
    '0': 0,
    '05': $base/2,
    '1': $base * 1,
    '2': $base * 2,
    '3': $base * 3,
    '4': $base * 4,
    '6': $base * 6,
    '7': $base * 7,
    '8': $base * 8,
    '5': $base * 5,
    '9': $base * 9,
    '10': $base * 10,
    '11': $base * 11,
    '12': $base * 12,
) !default;

//  Z-index
$level-top: 99999 !default;
$level-10: 10000 !default;
$level-9: 9000 !default;
$level-8: 8000 !default;
$level-7: 7000 !default;
$level-6: 6000 !default;
$level-5: 5000 !default;
$level-4: 4000 !default;
$level-3: 3000 !default;
$level-2: 2000 !default;
$level-1: 1000 !default;
$level-bottom: 1 !default;
