// ***************************************************************
// *** Default settings
// ***************************************************************
//  Base sizing unit

$base: var(--base, 8px) !default;
$em-base: var(--em-base, 1em) !default;

//Header
$header-logotype-height: calc(#{$base}*5) !default;
$header-logotype-max-width: calc(#{$base}*38) !default;

//  Spacer
$spacers: (
    "0": 0,
    "05": calc(#{$base}/2),
    "1": calc(#{$base} * 1),
    "1half": calc(#{$base} * 1.5),
    "2": calc(#{$base} * 2),
    "3": calc(#{$base} * 3),
    "4": calc(#{$base} * 4),
    "6": calc(#{$base} * 6),
    "7": calc(#{$base} * 7),
    "8": calc(#{$base} * 8),
    "5": calc(#{$base} * 5),
    "9": calc(#{$base} * 9),
    "10": calc(#{$base} * 10),
    "11": calc(#{$base} * 11),
    "12": calc(#{$base} * 12),
    "auto": "auto"
) !default;

//  Sizings
$sizings: (
    "25%",
    "50%",
    "75%",
    "100%",
    "auto"
) !default;

//  Breakpoints
$breakpoints-map: (
    xs: 0,
    sm: 32.5em,
    md: 56em,
    lg: 78em
) !default;

//Width
$container-width: calc(#{$base} * 156) !default; //1280
$container-width-content: 700px !default;
$container-width-wide: 1500px !default;