// ***************************************************************
// *** Colors
// ***************************************************************
// All color values are now CSS variables defined in _css-variables.scss
// Components should use: var(--c-component-color, var(--color-primary, #ae0b05))
