//Overflow
$overflows: (
    "hidden",
    "auto",
    "scroll",
    "visible"
);

//Display states
$display-states:
    "none",
    "inline",
    "inline-block",
    "block",
    "table",
    "table-cell",
    "table-row",
    "flex",
    "grid",
    "inline-flex" !default;

//Visibility states
$visibility-states: "visible", "hidden" !default;

//  Z-index
$level-top: 99999 !default;
$level-10: 10000 !default;
$level-9: 9000 !default;
$level-8: 8000 !default;
$level-7: 7000 !default;
$level-6: 6000 !default;
$level-5: 5000 !default;
$level-4: 4000 !default;
$level-3: 3000 !default;
$level-2: 2000 !default;
$level-1: 1000 !default;
$level-bottom: 1 !default;

//  Drop shadows
$drop-shadow-amount:    var(--drop-shadow-amount, 1) !default;
$drop-shadow-0:         var(--drop-shadow-0, drop-shadow(0 0 0 #0000)) !default;
$drop-shadow-1:         var(--drop-shadow-1, drop-shadow(0px calc(4px * #{$drop-shadow-amount}) calc(6px * #{$drop-shadow-amount}) rgba(0,0,0,.3))) !default;
$drop-shadow-2:         var(--drop-shadow-2, drop-shadow(0px calc(6px * #{$drop-shadow-amount}) calc(8px * #{$drop-shadow-amount}) rgba(0,0,0,.3))) !default;
$drop-shadow-3:         var(--drop-shadow-3, drop-shadow(0px calc(8px * #{$drop-shadow-amount}) calc(10px * #{$drop-shadow-amount}) rgba(0,0,0,.3))) !default;
$drop-shadow-4:         var(--drop-shadow-4, drop-shadow(0px calc(10px * #{$drop-shadow-amount}) calc(12px * #{$drop-shadow-amount}) rgba(0,0,0,.3))) !default;
$drop-shadow-5:         var(--drop-shadow-5, drop-shadow(0px calc(12px * #{$drop-shadow-amount}) calc(14px * #{$drop-shadow-amount}) rgba(0,0,0,.3))) !default;

$drop-shadow-list: $drop-shadow-0 $drop-shadow-1 $drop-shadow-2 $drop-shadow-3 $drop-shadow-4 $drop-shadow-5 !default; //   example usage: nth($drop-shadow-list, 1);

//  Borders
//  ------------------------
//  Thin - dividers etc
//  Medium - button
//  Large - Card, Paper etc

$border-width-thin:     var(--border-width-thin, 1px) !default;
$border-width-medium:   var(--border-width-medium, 1px) !default;
$border-width-large:    var(--border-width-large, 1px) !default;

$border-color-thin:     var(--border-color-thin, rgba(0,0,0,.1)) !default;
$border-color-medium:   var(--border-color-medium, rgba(0,0,0,.1)) !default;
$border-color-large:    var(--border-color-large, rgba(0,0,0,.1)) !default;

$border-style-thin:     var(--border-style-thin, solid) !default;
$border-style-medium:   var(--border-style-medium, solid) !default;
$border-style-large:    var(--border-style-large, solid) !default;