//
// @name Hero
// @description Hero image. Typically used with the brand stripe as in the following example.
//
// @page Hero/Hero
//
// @markup
// <div class="hero" style="height: 300px; background-image:url('https:\/\/unsplash.it/1200/800/?image=513');">
//     <div class="stripe">
//         <div></div>
//         <div></div>
//         <div></div>
//         <div></div>
//         <div></div>
//     </div>
// </div>
//

.hero {
    position: relative;
    width: 100%;
    background-color: $creamy;
    background-size: cover;
    background-position: center center;

    @media print {
        display: none;
    }

    .slider.ratio-16-9 {
        max-height: 90vh;
    }

    .slider.ratio-36-7 {
        max-height: 350px;
    }
}
