@use "../../sass/mixin/ratio";
@use "../../sass/mixin/tokens";

$_: "c-block";

@include tokens.create($_, getComponentTokens($_));

.#{$_} {
    --#{$_}--shadow: #{tokens.getCalculatedValue($_, "shadow", 1)};
    --#{$_}--shadow-hover: #{tokens.getCalculatedValue($_, "shadow", 2)};
    --#{$_}--radius: #{tokens.getCalculatedValue($_, "border-radius", 1)};
    --#{$_}--color-text: #{tokens.getRawValue($_, "color--alpha-contrast")};
    --#{$_}--color-background: #{tokens.getRawValue($_, "color--alpha")};
    --#{$_}--color-overlay: rgb(from #{tokens.getRawValue($_, "color--alpha")} r g b / 1);
    --#{$_}--color-overlay-middle: rgba(from #{tokens.getRawValue($_, "color--alpha")} r g b / .5);
    --#{$_}--color-overlay-end: rgba(from #{tokens.getRawValue($_, "color--alpha")} r g b / 0);
    --#{$_}--color-secondary: #{tokens.getRawValue($_, "color--secondary")};
    --#{$_}--color-hover-background: #{tokens.getRawValue($_, "color--alpha-border")};
    --#{$_}--color-hover-overlay: #{tokens.getRawValue($_, "color--alpha-border")};
    position: relative;
    border-radius: var(--#{$_}--radius);
    corner-shape: tokens.getRawValue($_, "corner-shape");
    filter: var(--#{$_}--shadow);
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    background-position: center;
    background-size: cover;
    background-color: var(--#{$_}--color-background);
    text-decoration: none;

    .#{$_}__heading {
        --inherit-font-size: #{tokens.getRawValue($_, "font-size-400")};
    }

    .#{$_}__icon {
        border-radius: 999px;
    }

    .#{$_}__image {
        border-radius: var(--#{$_}--radius);
        corner-shape: tokens.getRawValue($_, "corner-shape");

        .c-image__image {
            border-radius: var(--#{$_}--radius);
            corner-shape: tokens.getRawValue($_, "corner-shape");
        }
    }

    .c-datebadge + .#{$_}__body {
        padding-top: tokens.getCalculatedValue($_, "base", 12);
    }

    .#{$_}__body {
        background: linear-gradient(0deg, var(--#{$_}--color-overlay) 0%, var(--#{$_}--color-overlay-middle) 80%, var(--#{$_}--color-overlay-end) 100%);
        border-radius: inherit;
        corner-shape: inherit;
        padding: tokens.getCalculatedValue($_, "base", 8) tokens.getCalculatedValue($_, "base", 3) tokens.getCalculatedValue($_, "base", 3) tokens.getCalculatedValue($_, "base", 3);
        width: 100%;
        z-index: 0;
        max-height: 100%;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: tokens.getCalculatedValue($_, "base", 2);
        margin-top: auto;
        position: relative;

        .#{$_}__meta {
            display: flex;
        }
    }

    .#{$_}__floating {
        position: absolute;
        right: tokens.getCalculatedValue($_, "base", 1);
        top: tokens.getCalculatedValue($_, "base", 1);
        z-index: 3;
    }

    .#{$_}__heading,
    .#{$_}__meta,
    .#{$_}__date,
    .#{$_}__content,
    .#{$_}__secondarymeta {
        margin: 0;
        color: var(--#{$_}--color-text);
        display: block;
    }

    .#{$_}__body {
        color: var(--#{$_}--color-text);
    }

    &.#{$_}--ratio-1-1 {
        @include ratio.ratio(1, 1, true);

        &:before {
            width: 0;
        }
    }

    &.#{$_}--ratio-4-3 {
        @include ratio.ratio(4, 3, true);

        &:before {
            width: 0;
        }
    }

    &.#{$_}--ratio-12-16 {
        @include ratio.ratio(12, 16, true);

        &:before {
            width: 0;
        }
    }

    &.#{$_}--ratio-16-9 {
        @include ratio.ratio(16, 9, true);

        &:before {
            width: 0;
        }
    }

    &--svg-background {
        background-size: clamp(tokens.getCalculatedValue($_, "base", 3), 50%, tokens.getCalculatedValue($_, "base", 8));
        background-repeat: no-repeat;
        background-color: var(--#{$_}--color-secondary);
    }

    [data-component="datebadge"] {
        position: absolute;
        top: 0;
        left: 0;
    }

    [data-component="group"] {
        width: 100%;
    }
}

a.#{$_} {
    transition: all 200ms ease-out;
    cursor: pointer;

    .#{$_}__image-background:before {
        position: absolute;
        inset: 0;
        content: "";
        transition: opacity 200ms;
        background: var(--#{$_}--color-hover-overlay);
        opacity: 0;
        z-index: 1;
    }

    &:hover {
        filter: var(--#{$_}--shadow-hover);
        background-color: var(--#{$_}--color-hover-background);
        color: inherit;
        transform: translateY(calc(0px - tokens.getCalculatedValue($_, "base", 0.25)));

        .#{$_}__heading {
            text-decoration: underline;
        }

        .#{$_}__image-background:before {
            opacity: 0.08;
        }
    }
}

.o-grid--no-gutter>[class*="o-grid-"] .#{$_},
.o-grid--no-gutter>[class*="o-grid-"] .#{$_} [class*="c-block"],
.o-grid--no-gutter>[class*="o-grid-"] .#{$_} [class*="c-block"]:after,
.o-grid--no-gutter>[class*="o-grid-"] .#{$_} .c-image__image {
    border-radius: unset;
    filter: none;
}