//
// @name Timeline
// @description Vertical timeline
// @author Jonatan Hanson
//
// @page Timeline
//
//@state .timeline-side - Places image div closest to the timeline marker
//
// @markup
// <div class="grid">
// 	<div class="grid-md-12">
//      <div class="box-content">
// 		<ul class="timeline">
// 			<li class="timeline__event">
// 				<div class="timeline__date hidden-xs hidden-sm">
// 					<span>24 Dec 2010</span>
// 				</div>
// 				<div class="timeline__marker">
// 					<div class="timeline__date hidden-md hidden-lg">
// 						<span>24 Dec</span><span>2010</span>
// 					</div>
// 				</div>
// 				<div class="timeline__content timeline-side">
// 					<div class="grid">
// 						<div class="grid-md-5 grid-lg-4">
// 							<i class="pricon pricon-5x pricon-twitter-square"></i>
// 						</div>
// 						<div class="grid-md-7 grid-lg-8">
// 							<h3>Sweet roll brownie</h3>
// 							<p>Oat cake jelly-o wafer cake candy canes. Sweet pastry dragée biscuit dragée lemon drops I love.</p>
// 						</div>
// 					</div>
// 				</div>
// 			</li>
// 			<li class="timeline__event">
// 				<div class="timeline__date hidden-xs hidden-sm">
// 					<span>5 Jan 2011</span>
// 				</div>
// 				<div class="timeline__marker">
// 					<div class="timeline-date hidden-md hidden-lg">
// 						<span>5 Jan</span><span>2011</span>
// 					</div>
// 				</div>
// 				<div class="timeline__content timeline-side">
// 					<div class="grid">
// 						<div class="grid-md-5 grid-lg-4">
// 							<i class="pricon pricon-5x pricon-facebook-square"></i>
// 						</div>
// 						<div class="grid-md-7 grid-lg-8">
// 							<h3>Sugar plum</h3>
// 							<p>Biscuit jujubes candy canes bear claw donut. I love tootsie roll I love cheesecake apple pie lollipop jelly. Marshmallow marzipan lemon drops dessert.</p>
// 						</div>
// 					</div>
// 				</div>
// 			</li>
// 			<li class="timeline__event">
// 				<div class="timeline-date hidden-xs hidden-sm">
// 					<span>9 Jul 2015</span>
// 				</div>
// 				<div class="timeline__marker">
// 					<div class="timeline-date hidden-md hidden-lg">
// 						<span>9 Jul</span><span>2015</span>
// 					</div>
// 				</div>
// 				<div class="timeline-content">
// 					<div class="grid">
// 						<div class="grid-md-12">
// 							<img src="https:\/\/unsplash.it/400/250/?image=823" class="image">
// 						</div>
// 						<div class="grid-md-12">
// 							<h3>Fruitcake</h3>
// 							<p>I love apple pie fruitcake. Fruitcake I love danish toffee jelly beans croissant candy canes caramels. Biscuit wafer icing gingerbread sweet dragée sesame snaps.</p>
// 						</div>
// 					</div>
// 				</div>
// 			</li>
// 			<li class="timeline__event">
// 				<div class="timeline__date hidden-xs hidden-sm">
// 					<span>25 Aug 2017</span>
// 				</div>
// 				<div class="timeline__marker">
// 					<div class="timeline__date hidden-md hidden-lg">
// 						<span>25 Aug</span><span>2017</span>
// 					</div>
// 				</div>
// 				<div class="timeline__content">
// 					<div class="grid">
// 						<div class="grid-md-12">
// 							<h3>Cheesecake chocolate cake</h3>
// 							<p>Chocolate bar jujubes pastry halvah. Jujubes soufflé cotton candy. Liquorice bear claw carrot cake.
// 	                		Sesame snaps dessert sesame snaps donut soufflé danish bonbon. Toffee powder macaroon tiramisu apple pie sweet donut.</p>
// 	                	</div>
// 	                </div>
// 	            </div>
// 	        </li>
// 		</ul>
// 	    </div>
// 	</div>
// </div>

.timeline {
    position: relative;
    margin: 0;
    padding: 0;
    list-style: none;

    li::before {
        background-color: transparent !important;
    }

    &:before {
        content: "";
        position: absolute;
        left: 1.5em;
        width: 1px;
        height: 100%;
        background: $gray;
        padding-bottom: 10px;
    }

    a:hover {
        text-decoration: none;
    }

    img {
        padding: 0 0 0.5em 0;
        width: 100%;
        height: auto;
    }

    &__event {
        position: relative;

        &:not(:last-child) {
            margin-bottom: 1em;
        }

        &:after {
            content: "";
            display: table;
            clear: both;
        }
    }

    &__marker {
        background: $gray;
        position: absolute;
        top: 0.7em;
        left: 1.5em;
        padding: .25em .4em;
        transform: translateX(-50%);
        border-radius: 3px;
    }

    &__date {
        text-align: center;
        position: relative;
        color: #fff;
        font-size: 0.7em;

        span {
            display: block;
        }
    }

    &__title {
        font-size: 1.1em;
        color: #fff;
    }

    &__content {
        font-size: 0.8em;
        position: relative;
        margin-left: 4.8em;
        padding: 1em;
        color: #fff;
        border-radius: 3px;

        &:before {
            content: "";
            position: absolute;
            display: block;
            top: 0.8em;
            left: -0.7em;
            border-top: 0.75em solid transparent;
            border-bottom: 0.75em solid transparent;
        }
    }
}

.timeline {
    .box-panel .box-content & {

        $background-colors: $palette-1, $palette-2, $palette-3, $palette-4;

        &__content__date {
            display: none;
        }

        @media screen and #{$screen-md-up} {
            &:before {
                left: 50%;
                transform: translateX(-50%);
            }

            &__marker {
                top: calc(50% - 1em);
                width: 1.5em;
                height: 1.5em;
                padding: 0;
                border: 6px solid #fff;
                border-radius: 50%;
                left: 50%;
            }

            &__date {
                font-size: 1em;
                text-align: left;
                color: $gray;
                top: calc(50% - 1em);
                width: calc(50% - 2em);
                position: absolute;
                right: 0;

                span {
                    display: inline;
                }
            }

            &__content {
                font-size: 0.9em;
                margin-left: 0;
                width: calc(50% - 3em);

                &:before {
                    top: calc(50% - 1em);
                }
            }

            &__title {
                font-size: 1.3em;
            }
        }

        @for $i from 1 through length($background-colors) {
            :nth-child(#{length($background-colors)}n+#{$i}) {
                .timeline__content {
                    background: nth($background-colors, $i);

                    &:before {
                        border-right: 0.75em solid nth($background-colors, $i);

                        @media screen and #{$screen-md-up} {
                            left: auto;
                            right: -0.7em;
                            border-right: none;
                            border-left: 0.75em solid nth($background-colors, $i);

                            @if $i % 2 == 0 {
                                border-right: 0.75em solid nth($background-colors, $i);
                            }
                        }
                    }
                }
            }
        }

        :nth-child(even) {
            .timeline__content {
                @media screen and #{$screen-md-up} {
                    float: right;

                    &:before {
                        left: -0.7em;
                        right: auto;
                        border-left: none;
                    }
                }
            }

            .timeline__date {
                @media screen and #{$screen-md-up} {
                    text-align: right;
                    left: 0;
                }
            }
        }

        :nth-child(odd) .timeline__side {
            @media screen and #{$screen-md-up} {
                & > .grid {
                    flex-wrap: nowrap;

                    & > div[class*="grid"]:first-child {
                        order: 1;
                    }
                }
            }
        }
    }
}

.timeline {
    .box-filled .box-content & {
        &:before {
            background: #fff;
            left: 0.6em;
        }

        &__date, &__marker &__date {
            display: none;
        }

        &__side > .grid {
            flex-wrap: nowrap;

            & > div[class*="grid"]:first-child {
                order: 1;
            }
        }

        &__content {
            margin-left: 3em;
            background: #fff;
            color: $gray-dark;

            &:before {
                border-right: 0.75em solid #fff;
            }

            &__date {
                font-size: 0.8em;
                color: $palette-1;
                text-align: left;

                span {
                    display: inline;
                }
            }
        }

        &__title {
            color: $gray-dark;
        }

        &__marker {
            left: 0.6em;
            width: 1.1em;
            height: 1.1em;
            padding: 0;
            border-radius: 50%;

            background: #fff;
            border: 4px solid lighten($palette-3, 10%);
        }
    }
}
