.DS_Store
node_modules
/cache
/cache/*
/source/library
/source/library/*
source/library
source/library/*
/dist/*
dist/*
dist
/dist
/source/icons/outlined-icons/
/source/icons/stroked-icons/
/vendor/*
/vendor

