.DS_Store
node_modules
/cache
/cache/*
/source/library
/source/library/*
source/library
source/library/*
/dist/*
dist/*
dist
/dist
/source/icons/outlined-icons/
/source/icons/stroked-icons/
/vendor/*
/vendor
stylelint.log

/source/sass/generic/_icons.scss
source/sass/generic/_icons.scss
_icons.scss

/source/sass/imports
/source/sass/imports/
source/sass/imports/
source/sass/imports/*