<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/11.5/phpunit.xsd"
         colors="true"
         failOnRisky="true"
         failOnWarning="true"
         failOnDeprecation="true"
         failOnPhpunitDeprecation="true">
    <php>
        <ini name="xdebug.mode" value="off"/>
        <ini name="xdebug.start_with_request" value="no"/>
        <env name="XDEBUG_MODE" value="off" force="true"/>
    </php>
    <testsuites>
        <testsuite name="app">
            <directory suffix="Test.php">source/php/Tests</directory>
        </testsuite>
        <testsuite name="validators">
            <directory suffix="Test.php">source/validators/Tests</directory>
        </testsuite>
        <testsuite name="components">
            <directory suffix="Test.php">source/components/Tests</directory>
        </testsuite>
    </testsuites>
</phpunit>
