@use "../../sass/mixin/tokens";

$_: "c-acceptance";

@include tokens.create($_, getComponentTokens($_));

.#{$_} {
    --#{$_}--shadow: tokens.use($_, "shadow", 1);
    --#{$_}--shadow-hover: tokens.use($_, "shadow", 1.5);
    --#{$_}--map-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGhlaWdodD0iMjRweCIgdmlld0JveD0iMCAtOTYwIDk2MCA5NjAiIHdpZHRoPSIyNHB4IiBmaWxsPSIjZThlYWVkIj48cGF0aCBkPSJtNjAwLTEyMC0yNDAtODQtMTg2IDcycS0yMCA4LTM3LTQuNVQxMjAtMTcwdi01NjBxMC0xMyA3LjUtMjN0MjAuNS0xNWwyMTItNzIgMjQwIDg0IDE4Ni03MnEyMC04IDM3IDQuNXQxNyAzMy41djU2MHEwIDEzLTcuNSAyM1Q4MTItMTkybC0yMTIgNzJabS00MC05OHYtNDY4bC0xNjAtNTZ2NDY4bDE2MCA1NlptODAgMCAxMjAtNDB2LTQ3NGwtMTIwIDQ2djQ2OFptLTQ0MC0xMCAxMjAtNDZ2LTQ2OGwtMTIwIDQwdjQ3NFptNDQwLTQ1OHY0NjgtNDY4Wm0tMzIwLTU2djQ2OC00NjhaIi8+PC9zdmc+");

    background-color: tokens.get($_, "color--surface");
    background-position: center;
    border-radius: tokens.use($_, "border-radius");
    contain: layout;
    corner-shape: tokens.get($_, "corner-shape");

    &.#{$_}--accepted {
        background-color: transparent;
    }

    .#{$_}__modal {
        border-radius: inherit;
        corner-shape: inherit;
        display: flex;
        flex-direction: column;
        height: 100%;
        padding: tokens.use($_, "space", 2);
        width: 100%;
    }

    .#{$_}__modal-description {
        display: none;
        margin: auto;
        max-width: 100%;

        .c-button+.c-button {
            margin-left: 0;
        }
    }

    .#{$_}__content {
        height: 100%;
    }

    .#{$_}__content iframe {
        background-color: tokens.get($_, "color--surface");
    }

    .#{$_}__modal-title {
        --inherit-font-size: tokens.get($_, "font-size-400");
    }

    /* Map */
    &.#{$_}--map {
        .#{$_}__modal {
            contain: paint;
        }

        .#{$_}__modal-description {
            z-index: 3;
        }

        .#{$_}__modal:before {
            background-color: tokens.get($_, "color--surface-border");
            background-position: center;
            background-size: contain;
            content: "";
            inset: 0;
            mask-image: var(--#{$_}--map-image);
            mask-position: center;
            mask-repeat: no-repeat;
            mask-size: contain;
            position: absolute;
            z-index: 2;
            opacity: 0.5;
        }

        .#{$_}__modal:after {
            background-color: tokens.get($_, "color--surface-alt");
            content: "";
            inset: 0;
            position: absolute;
            z-index: 1;
        }
    }

    /* Video */
    &.#{$_}--video {
        background-color: unset;
        position: relative;
        aspect-ratio: 16/9;
        height: unset !important;

        iframe {
            height: 100%;
            width: 100%;
        }

        .#{$_}__modal {
            background-color: tokens.get($_, "color--alpha");
            color: tokens.get($_, "color--alpha-contrast");
            inset: 0;
            position: absolute;
        }

        .#{$_}__modal-icon-play {
            color: tokens.get($_, "color--alpha-contrast");
            cursor: pointer;
            filter: var(--#{$_}--shadow);
            font-size: clamp(tokens.use($_, "base", 8), 10vw, tokens.use($_, "base", 10));
            left: 50%;
            position: absolute;
            top: 50%;
            transform: translate(-50%, -50%);
            transition: filter 100ms linear;

            &:hover {
                filter: var(--#{$_}--shadow-hover);
                color: tokens.get($_, "color--alpha-contrast-alt");
            }

            &:hover:before {
                visibility: hidden;
                width: 0;
                height: 0;
            }
        }

        .#{$_}__modal-info {
            cursor: pointer;
            position: absolute;
            top: tokens.use($_, "base", 1);
            right: tokens.use($_, "base", 2);
            color: tokens.get($_, "color--alpha-contrast");
        }
    }
}

/* Since video module uses padding for ratio */
.c-card__video {
    .embed {
        .#{$_}.#{$_}--video {
            position: static;
        }
    }
}