@use "../../sass/mixin/tokens";

$_: "c-code";

@include tokens.create($_, getComponentTokens($_), ('border' : '1px solid ' + tokens.get($_, "color--surface-border")));

.#{$_} {
    background-color: tokens.get($_, "color--surface-alt");
    border: tokens.get($_, "border");
    border-radius: tokens.use($_, "border-radius", 1.5);
    corner-shape: tokens.get($_, "corner-shape");
    margin: tokens.use($_, "space", 2) 0;
    overflow: hidden;

    .code-toolbar {
        overflow: auto;
        background-color: tokens.get($_, "color--surface-alt");
    }

    &__pre {
        font-family: tokens.get($_, "font-family-code");
        margin: 0;
    }
}