@use "../../sass/mixin/tokens";

$_: "c-code";

@include tokens.create($_, getComponentTokens($_));

.#{$_} {
    --#{$_}--border: 1px solid #{tokens.getRawValue($_, "color--surface-border")};
    background-color: tokens.getRawValue($_, "color--surface-alt");
    border: var(--#{$_}--border);
    border-radius: tokens.getCalculatedValue($_, "border-radius", 1.5);
    corner-shape: tokens.getRawValue($_, "corner-shape");
    overflow: hidden;
    position: relative;

    pre[class*="language-"],
    code[class*="language-"] {
        font-family: tokens.getRawValue($_, "font-family-code");
        color: tokens.getRawValue($_, "color--surface-contrast-muted");
    }

    .code-toolbar {
        overflow: auto;
        background-color: tokens.getRawValue($_, "color--surface-alt");

        >pre[class*="language-"] {
            margin: 0;
            padding: tokens.getCalculatedValue($_, "space", 3);
            background: transparent;
            border: 0;
        }

        >.toolbar {
            top: tokens.getCalculatedValue($_, "space", 1);
            right: tokens.getCalculatedValue($_, "space", 1);

        }
    }

    &__pre {
        font-family: tokens.getRawValue($_, "font-family-code");
        margin: 0;
    }

    &__output {
        display: block;
    }
}