@use "../setting/var_properties";
@use "../mixin/build-utility";
@use "../mixin/tokens";

$_top: "u-top-*";
$_right: "u-right-*";
$_bottom: "u-bottom-*";
$_left: "u-left-*";

@include tokens.create($_top, ("space"));
@include tokens.create($_right, ("space"));
@include tokens.create($_bottom, ("space"));
@include tokens.create($_left, ("space"));

$position_utils: (
    (name: "position",
        modifiers: (static: (position: static),
            relative: (position: relative),
            absolute: (position: absolute),
            fixed: (position: fixed),
            sticky: (position: sticky))),
    (name: "top",
        modifiers: (0: (top: 0),
            1: (top: tokens.use($_top, "space", 1)),
            2: (top: tokens.use($_top, "space", 2)),
            3: (top: tokens.use($_top, "space", 3)),
            4: (top: tokens.use($_top, "space", 4)),
        )),
    (name: "right",
        modifiers: (0: (right: 0),
            1: (right: tokens.use($_right, "space", 1)),
            2: (right: tokens.use($_right, "space", 2)),
            3: (right: tokens.use($_right, "space", 3)),
            4: (right: tokens.use($_right, "space", 4)),
        )),
    (name: "bottom",
        modifiers: (0: (bottom: 0),
            1: (bottom: tokens.use($_bottom, "space", 1)),
            2: (bottom: tokens.use($_bottom, "space", 2)),
            3: (bottom: tokens.use($_bottom, "space", 3)),
            4: (bottom: tokens.use($_bottom, "space", 4)),
        )),
    (name: "left",
        modifiers: (0: (left: 0),
            1: (left: tokens.use($_left, "space", 1)),
            2: (left: tokens.use($_left, "space", 2)),
            3: (left: tokens.use($_left, "space", 3)),
            4: (left: tokens.use($_left, "space", 4)),
        )),
);

@include build-utility.build-utilities($position_utils);