.c-acceptance {
    border-radius: $c-iframe-border-radius;
    background-color: white;
    position: relative;

    .c-acceptance__modal {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        padding:calc(var(--base, 8px) * 2);
    }

    .c-acceptance__modal-description {
        margin: auto;
        max-width: 100%;
        display: none;
    }

    .c-acceptance__content  {
        height: 100%;
    }

    &.c-acceptance--video {
        background-color: unset;
        position: initial;
        .c-acceptance__modal {
            @include cover;
            overflow: auto;
            background-color: var(--c-slider-color-overlay, var(--color-alpha, rgba(0, 0, 0, 0.55)));  
            color:white; 
        }
        a {
            color: var(--color-alpha-contrast, white);
        }

        .c-acceptance__modal-icon-play {
            cursor: pointer;
            position: absolute;
            font-size: 80px;
            top:50%;
            left:50%;
            transform: translate(-50%, -50%);
            color: var(--color-alpha-contrast, white);
        }

        .c-acceptance__modal-icon-info {
            position: absolute;
            top: calc(var(--base, 8px) * 2);
            right: calc(var(--base, 8px) * 2);
            color: var(--color-alpha-contrast, white);

        }
    }
}