
$c-accordion-border-width: var(--c-accordion-border-width, $border-width-divider) !default;
$c-accordion-border-color: var(--c-accordion-border-color, $color-border-divider) !default;

.c-accordion {
    padding-top: $base;
    padding-bottom: $base;

    .c-accordion__button {
        @include button-unstyled;
        border-top: $c-accordion-border-width solid $c-accordion-border-color;
        cursor: pointer;
        text-decoration: none;
        width: 100%;
        color: inherit;

        &> {
            line-height: $line-height-heading;
        }

        &:hover,
        &:focus {
            background-color: $color-gray-light;
            text-decoration: none;
        }

        .c-accordion__icon {
            transition: ease .3s transform;
        }

        &[aria-expanded="true"] {
            .c-accordion__icon {
                transform: rotate(180deg);
                transition: ease .3s transform;
            }
        }
    }

    .c-accordion__button:focus,
    .c-accordion__button-wrapper:focus {
        outline: none;
    }

    .c-accordion__button:focus > .c-accordion__button-wrapper {
        outline-offset: 1px;
        outline: 1px dashed $color-gray;
    }

    .c-accordion__section:first-child .c-accordion__button {
        border-top: none;
    }

    .c-accordion__button-wrapper {
        padding: calc(#{$base} * 2) calc(#{$base} * 3);
        display: flex;
        align-items: center;
    }

    .c-accordion__icon {
        margin-left: auto;

        &:before {
            display: inline-block;
            transform: rotate(90deg);
        }
    }

    .c-accordion__content {
        padding: calc(#{$base} * 2) calc(#{$base} * 3) calc(#{$base} * 2) calc(#{$base} * 3);

        &[aria-hidden="true"] {
            display: none;
        }

        &[aria-hidden="false"] {
            display: block;
            transition: ease .3s all;
            animation-name: fadeIn;
            animation-duration: .3s;
            animation-fill-mode: both;
            will-change: transform;
        }

        *:first-child { 
            margin-top: 0; 
        }
    }

    @keyframes fadeIn {

        from {
            opacity: 0;
        }

        to {
            opacity: 1;
        }
    }
}


/* Accordion with table columns */

.accordion-table__head {
    display: flex;
    padding: #{$base} calc(#{$base} * 6) #{$base} calc(#{$base} * 3);
    background: #f5f5f5;
    font-size: .8em;
}

.accordion-table__head-column-icon,
.c-accordion-table .c-icon {
    flex-grow: 0;
}

.c-accordion__button .c-accordion__button-column,
.accordion-table__head-column {
    width: 20%;
    flex-grow: 1;
}

.c-accordion-table .c-accordion__button {
    position: relative;
}

.c-accordion-table .c-accordion__icon,
.c-accordion-table .c-accordion__button[aria-expanded="true"] .c-accordion__icon {
    position: absolute;
    right: calc(#{$base} * 3);
}

/* Expand accordion when print page */ 
@media print {
    .c-accordion .c-accordion__content {
        display: block;
    }
}
