.c-alert {

    @include cover();
    position: fixed;
    z-index: $level-top;

    &--overlay-light {
        background-color: rgba($color-white, .85);
        outline: 5000px solid rgba($color-white, .85); /* relative container fix */
    }

    &--overlay-dark {
        background-color: rgba($color-black, .85);
        outline: 5000px solid rgba($color-black, .85); /* relative container fix */
    }

    &__inner {
        @include paper(5);

        @include center();

        padding: map-get($spacers, "4");
        width: calc(100% - #{map-get($spacers, "4")});
        max-width: 450px;
    }
}