@use "../mixin/tokens";

/* Component name */
$_: "c-anchormenu";

/* Design tokens */
@include tokens.create($_, (
    "base",
    "space",
    "color--primary",
    "color--surface",
    "color--border",
    "border-width",
),
(
    "border": tokens.use($_, "border-width", 1) solid tokens.get($_, "color--surface-border"),
));

/* Component */
.#{$_} {
    contain: layout;
    background-color: tokens.get($_, "color--surface");
    border-top: tokens.get($_, 'border');
    border-bottom: tokens.get($_, 'border');
    margin-bottom: tokens.use($_, "space", 2);
    padding: 0 tokens.use($_, "space", 3);
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 5;

    .#{$_}__container {
        display: flex;
        flex-wrap: wrap;
        gap: 0 tokens.use($_, "space", 3);
        max-width: calc(var(--base) * 150);
        margin-inline: auto;

        .#{$_}__item {
            padding: tokens.use($_, "space", 2) 0;
            font-size: 1.125rem;
            text-decoration: none;
            transition: .2s;
            color: tokens.get($_, "color--surface-contrast-muted");
            display: flex;

            &.is-active {
                border-bottom: max(
                    calc(tokens.get($_, "base") * 0.25),
                    tokens.use($_, "border-width", 1)
                ) solid tokens.get($_, "color--primary");
                color: tokens.get($_, "color--surface-contrast");
            }

            .#{$_}__icon {
                margin-right: tokens.use($_, "space", 0.5);
            }
        }
    }
}
