@use "../setting/var_colors";
@use "../setting/var_default";
@use "../setting/var_properties";

.c-anchormenu {
    background-color: var_colors.$color-white;
    border-top: 1px solid var_colors.$color-lighter;
    border-bottom: 1px solid var_colors.$color-lighter;
    margin-bottom: calc(#{var_default.$base} * 2);
    top: 0;
    padding: 0 calc(#{var_default.$base} * 3);
    width: 100%;
    position: sticky;
    z-index: var(--level-5);

    .c-anchormenu__container {
        display: flex;
        flex-wrap: wrap;
        gap: 0 calc(#{var_default.$base} * 3);
        max-width: calc(var(--base, 8px) * 150);
        margin-left: auto;
        margin-right: auto;
        .c-anchormenu__item {
            padding: calc(#{var_default.$base} * 2) 0;
            font-size: 1.125rem;
            text-decoration: none;
            transition: .2s;
            color: var_colors.$color-dark;
            display: flex;
            
            &.is-active {
                border-bottom: 1px solid var_colors.$color-black;
                color: var_colors.$color-black;
            }

            .c-anchormenu__icon {
                margin-right: calc(#{var_default.$base} * 0.5);
            }
        }
    }
 }
