.c-anchormenu {
    background-color: $color-white;
    border-top: 1px solid $color-lighter;
    border-bottom: 1px solid $color-lighter;
    margin-bottom: calc(#{$base} * 2);
    margin-top: calc(#{$base} * 3);
    top: 0;
    padding: 0 calc(#{$base} * 3);
    width: 100%;
    position: sticky;
    z-index: $level-5;

    .c-anchormenu__container {
        display: flex;
        flex-wrap: wrap;
        gap: 0 calc(#{$base} * 3);
        max-width: calc(var(--base, 8px) * 150);
        margin-left: auto;
        margin-right: auto;
        .c-anchormenu__item {
            padding: calc(#{$base} * 2) 0;
            font-size: 1.125em;
            text-decoration: none;
            transition: .2s;
            color: $color-dark;
            display: flex;
            
            &.is-active {
                border-bottom: 1px solid $color-black;
                color: $color-black;
            }

            .c-anchormenu__icon {
                margin-right: calc(#{$base} * 0.5);
            }
        }
    }
 }
