@use "../mixin/center";
@use "../mixin/cover";
@use "../mixin/ratio";
@use "../mixin/size";
@use "../setting/var_colors";

.c-avatar {
    border-radius: 50%;
    background: var(--color--secondary);
    line-height: 0;
    position: relative;
    contain: paint;

    /* Modifiers */

    &--size-sm {
        @include size.size(40);
    }

    &--size-md {
        @include size.size(72);
    }

    &--size-lg {
        @include size.size(112);
    }

    &--size-full {
        @include ratio.ratio(1,1,false);

        width: 100%;
        height: 100%;
    }

    /* Nested elements */

    &__image,
    &__initials {
        @include cover.cover();
        border-radius: inherit;
    }

    &__initials {
        height: 100%;
        width: 100%;
    }

    &__image {
        width: 100%;
    }

    &__image img.c-image__image {
        border-radius: inherit;
    }

    &__icon {
        border-radius: inherit;
        @include cover.cover();

        .c-icon {
            @include center.center();
            color: var(--color--white);
        }
    }
}

.c-avatar--image {
    background: none;
}