.c-avatar {
    @include ratio(1,1,false); 

    border-radius: 50%;
    background: #eee;
    line-height: 0;
    position: relative;

    /* Modifiers */ 
    &--size-sm {
        width: 10px; 
        height: 10px;
    }

    &--size-md {
        width: 20px; 
        height: 20px;
    }

    &--size-lg {
        width: 30px; 
        height: 30px;
    }

    &--size-full {
        width: 100%; 
        height: 100%;
    }

    /* Nested elements */

    &__image {
        @include cover();
        border-radius: inherit;
    }

    &__initials,
    &__icon {
        border-radius: inherit;
        @include cover();
    }
}