.c-avatar {
    border-radius: 50%;
    background: $color-secondary;
    line-height: 0;
    position: relative;

    /* Modifiers */

    &--size-sm {
        @include size(40);
    }

    &--size-md {
        @include size(72);
    }

    &--size-lg {
        @include size(112);
    }

    &--size-full {
        @include ratio(1,1,false);

        width: 100%;
        height: 100%;
    }

    /* Nested elements */

    &__image,
    &__initials {
        @include cover();
        border-radius: inherit;
    }

    &__initials {
        height: 100%;
        width: 100%;
    }

    &__image {
        width: 100%;
    }

    &__icon {
        border-radius: inherit;
        @include cover();

        .c-icon {
            @include center();
            color: #fff;
        }
    }
}

.c-avatar--image {
    background: none;
}