$quote-background-color: var(--quote-background-color, $color-secondary) !default;
$quote-color: var(--quote-color, $color-secondary-contrasting) !default;

.c-blockquote,
blockquote {
    display: flex;
    flex-direction: column;
    background-color: $quote-background-color;
    color: $quote-color;
    margin: 0;
    padding: calc($base * 5);

    *:first-child {
        margin-top: 0;
    }
}