@use "../setting/var_border-radius";
@use "../setting/var_colors";
@use "../setting/var_default";

$quote-background-color: var(--quote-background-color, var(--color--secondary));
$quote-color: var(--quote-color, var(--color--secondary-contrasting));
$quote-border-radius: var(--quote-border-radius, var(--radius-md));

.c-blockquote,
blockquote {
    background-color: $quote-background-color;
    color: $quote-color;
    margin: 0;
    padding: calc(var(--base) * 10) calc(var(--base) * 5) calc(var(--base) * 5) calc(var(--base) * 5);
    border-radius: $quote-border-radius;
    position: relative;

    *:first-child {
        margin-top: 0;
    }

    &::before,
    &::after {
        font-family: 'Material Symbols Outlined', 'Material Symbols Rounded', 'Material Symbols Sharp';
        content: '\e244';
        position: absolute;
        font-size: calc(var(--base) * 4);
        font-variation-settings:
        'FILL' 1,
        'wght' var(--current-material-symbols-weight, 400),
        'GRAD' var(--current-material-symbols-grade, 0),
        'opsz' var(--current-material-symbols-optical-size, 48);
    }

    &::before {
        top: calc(var(--base) * 3.5);
        transform: rotate(180deg);
    }
    
    &::after {
        right: calc(var(--base) * 5);
        bottom: calc(var(--base) * 3.5);
        transform: rotate(180deg);
    }

    & > :last-child {
        margin-right: calc(var(--base) * 5);
    }
}