@use "../mixin/cover";
@use "../mixin/mq";
@use "../mixin/ratio";
@use "../setting/var_border-radius";
@use "../setting/var_colors";
@use "../setting/var_default";
@use "../setting/var_properties";

$c-block-border-radius: var(--c-block-border-radius, var(--radius-lg));
$c-block-color: var(--c-block-color, var_colors.$color-white);
$c-block-background-color: var(--c-block-background-color, var_colors.$color-gray-light);
$c-block-color-overlay: var(--c-block-color-overlay, var_colors.$color-alpha);
$c-block-image-background-color: var(--c-block-image-background-color, var_colors.$color-secondary);

.c-block {
    position: relative;
    border-radius: $c-block-border-radius;
    filter: var_properties.$drop-shadow-2;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    background-position: center;
    background-size: cover;
    background-color: $c-block-background-color;
    text-decoration: none;

    @include mq.mq('sm') {
        flex-direction: row;
    }

    .c-block__image {
        border-radius: $c-block-border-radius;
        .c-image__image {
            border-radius: $c-block-border-radius;
        }
    }

    .c-block__body {
        padding: calc(#{var_default.$base} * 6) calc(#{var_default.$base} * 3) calc(#{var_default.$base} * 3) calc(#{var_default.$base} * 3);
        width: 100%;
        z-index: 0;
        max-height: 100%;
        overflow: hidden;
        display: flex; 
        flex-direction: column;
        gap: #{var_default.$base};
        margin-top: auto;
        position: relative;

        &::after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            background: $c-block-color-overlay;
            background: linear-gradient(
                180deg,
                transparent 0,
                transparent 14%,
                $c-block-color-overlay 61%,
                $c-block-color-overlay
            );
            z-index: -1;
            border-bottom-left-radius: $c-block-border-radius;
            border-bottom-right-radius: $c-block-border-radius;
        }
        .c-block__meta {
            display: flex;
        }
    }

    .c-block__floating {
        position: absolute;
        right: var_default.$base;
        top: var_default.$base;
        z-index: var(--level-3);
    }

    .c-block__heading, 
    .c-block__meta,
    .c-block__date,
    .c-block__content,
    .c-block__secondarymeta {
        margin: 0;
        color: $c-block-color; 
        display: block; 
    }

    .c-block__body {
        color: $c-block-color; 
    }

    &.c-block--ratio-1-1 {
        @include ratio.ratio(1, 1, true); 
        &:before {
            width: 0;
            @include mq.mq('xs', 'sm') {
                display: none;
            }
        }
    }
    
    &.c-block--ratio-4-3 {
        @include ratio.ratio(4, 3, true); 
        &:before {
            width: 0;
            @include mq.mq('xs', 'sm') {
                display: none;
            }
        }
    }
    
    &.c-block--ratio-12-16 {
        @include ratio.ratio(12, 16, true); 
        &:before {
            width: 0;
            @include mq.mq('xs', 'sm') {
                display: none;
            }
        }
    }
    
    &.c-block--ratio-16-9 {
        @include ratio.ratio(16, 9, true);
        &:before {
            width: 0;
            @include mq.mq('xs', 'sm') {
                display: none;
            }
        } 
    }

    &--svg-background {
        background-size: clamp(#{var_default.$base} * 3, 50%, #{var_default.$base} * 8);
        background-repeat: no-repeat;
        background-color: $c-block-image-background-color;
    }
}

a.c-block {
    transition: all 200ms ease-out;
    cursor: pointer;

    .c-block__image-background:before {
        @include cover.cover(); 
        content: '';
        transition: opacity 200ms;
        @include cover.cover(); 
        background: var_colors.$color-lighter;
        opacity: 0;
        z-index: var(--level-1);
    }

    &:hover {
        filter: var_properties.$drop-shadow-3;
        background-color: var_colors.$color-lightest;
        color: inherit;
        transform: translateY(calc( 0px - #{var_default.$base} * 0.25 ));

        .c-block__heading {
            text-decoration: underline;
        }

        .c-block__image-background:before {
            opacity: 0.08;
        }
    }
}

.o-grid--no-gutter > [class*="o-grid-"] .c-block,
.o-grid--no-gutter > [class*="o-grid-"] .c-block [class*="c-block"], 
.o-grid--no-gutter > [class*="o-grid-"] .c-block [class*="c-block"]:after {
    border-radius: unset;
    filter: none; 
}