$c-box-border-radius: var(--c-box-border-radius, $border-radius-sm) !default;
$c-box-color: var(--c-box-color, $color-primary-contrasting) !default;
$c-box-background-color: var(--c-box-background-color, $color-primary) !default;
$c-box-shadow: var(--c-box-shadow, $drop-shadow-2) !default;

.c-box {
    position: relative;
    border-radius: $c-box-border-radius;
    filter: $c-box-shadow;
    display: block;
    background-color: $c-box-background-color;

    .c-box__body {
        @include cover(); 
        z-index: $level-2; 
        padding: calc(#{$base} * 3);
        width: 100%;
        z-index: 0;
        max-height: 100%;
        overflow: hidden;
        display: flex; 
        flex-direction: column;
        gap: calc(#{$base} * 2);
        text-align: center;
        justify-content: center;
    }

    .c-box__image {
        width: clamp(calc(#{$base} * 6), 50%, calc(#{$base} * 20));
        margin: 0 auto calc(#{$base} * 2) auto;
    }

    .c-box__icon.c-icon {
        color: $c-box-color;
        font-size: calc(#{$base} * 10);
        line-height: 60px;
        margin-bottom: calc(#{$base} * 2);
    }

    .c-box__image.c-image--type-svg {
        width: clamp(calc(#{$base} * 6), 30%, calc(#{$base} * 20));
    }

    .c-box__heading, 
    .c-box__meta,
    .c-box__date,
    .c-box__content {
        margin: 0; 
        color: $c-box-color; 
        display: block;
    }

    .c-box__content {
        text-align: left;
    }

    &.c-box--ratio-1-1 {
        @include ratio(1, 1, false);
    }

    &.c-box--ratio-4-3 {
        @include ratio(4, 3, false);
    }

    &.c-box--ratio-12-16 {
        @include ratio(12, 16, false);
    }
}

a.c-box {
    text-decoration: none;
    color: inherit;
    transition: all 200ms ease-out;

    .c-box__image {
        position: relative;
    }

    .c-box__image:before {
        content: '';
        @include cover();
        transition: opacity 200ms;
        height: 100%;
        width: 100%;
        background: $color-lighter;
        opacity: 0;
        z-index: $level-1;
    }

    &:before {
        content: "";
        @include cover(); 
        background-color: rgba(0,0,0,.2);
        top: 0;
        left: 0;
        opacity: 0;
        border-radius: inherit;
        transition: all 200ms ease-out;
    }

    &:hover:before {
        opacity: 1;
    }

    &:hover {
        filter: $drop-shadow-3;
        color: inherit;
        transform: translateY(calc( 0px - #{$base} * 0.25 ));

        .c-box__heading {
            text-decoration: underline;
        }

        .c-box__image:before {
            opacity: 0.08;
        }
    }

    &:focus:before {
        background-color: rgba(0,0,0,.3);
    }
}

.o-grid--no-gutter > [class*="o-grid-"] .c-box,
.o-grid--no-gutter > [class*="o-grid-"] .c-box [class*="c-box"], 
.o-grid--no-gutter > [class*="o-grid-"] .c-box [class*="c-box"]:after {
    border-radius: unset;
    filter: none; 
}