@use "../setting/var_default";

.c-box {
    border-radius: var(--c-box-border-radius, var(--radius-sm, calc(var(--base, 8px) / 2)));
    filter: var(--c-box-shadow, var(--drop-shadow-2, drop-shadow(0px 6px 8px rgba(0,0,0,.1))));
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--c-box-background-color, var(--color-primary, #ae0b05));
    container-type: inline-size;
    container-name: testbox;

    .c-box__body {
        padding: calc(#{var_default.$base} * 3);
        display: flex; 
        flex-direction: column;
        gap: calc(#{var_default.$base} * 2);
        text-align: center;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
    }

    .c-box__image {
        display: flex;
        justify-content: center;
        width: 100%;
        max-width: calc(#{var_default.$base} * 20);
    }

    @container testbox (max-width: 650px) {
        .c-box__image {
            max-width: calc(#{var_default.$base} * 15);
        }
    }

    @container testbox (max-width: 450px) {
        .c-box__image {
            max-width: calc(#{var_default.$base} * 10);
        }
    }

    .c-box__icon.c-icon {
        color: var(--c-box-color, var(--color-primary-contrasting, var(--color-white, #ffffff)));
        font-size: calc(#{var_default.$base} * 10);
        line-height: 60px;
        margin-bottom: calc(#{var_default.$base} * 2);
        margin-right: auto;
        margin-left: auto;
    }

    .c-box__image.c-image--type-svg {
        width: clamp(calc(#{var_default.$base} * 6), 30%, calc(#{var_default.$base} * 20));
    }

    .c-box__heading, 
    .c-box__meta,
    .c-box__date,
    .c-box__content {
        margin: 0; 
        color: var(--c-box-color, var(--color-primary-contrasting, var(--color-white, #ffffff))); 
        display: block;
    }

    .c-box__content {
        text-align: left;
    }

    &.c-box--ratio-1-1 {
        aspect-ratio: 1/1;
    }

    &.c-box--ratio-4-3 {
        aspect-ratio: 4/3;
    }

    &.c-box--ratio-12-16 {
        aspect-ratio: 12/16;
    }
}

a.c-box {
    text-decoration: none;
    color: inherit;
    transition: all 200ms ease-out;

    .c-box__image {
        position: relative;
    }

    &:hover {
        filter: var(--drop-shadow-3, drop-shadow(0px 8px 10px rgba(0,0,0,.1)));
        color: inherit;
        transform: translateY(calc( 0px - #{var_default.$base} * 0.25 ));
        filter: brightness(0.9);

        .c-box__heading {
            text-decoration: underline;
        }
    }
}

.o-grid--no-gutter > [class*="o-grid-"] .c-box,
.o-grid--no-gutter > [class*="o-grid-"] .c-box [class*="c-box"], 
.o-grid--no-gutter > [class*="o-grid-"] .c-box [class*="c-box"]:after {
    border-radius: unset;
    filter: none; 
}