@use "sass:map";
@use "../setting/var_default";

.c-brand {
  .c-brand__logotype {
    height: var(--c-brand-height);
  }

  .c-brand__viewbox {
    height: var(--c-brand-height);
  }

  .c-brand__container {
    height: var(--c-brand-height);
    display: flex;
    gap: map.get(var_default.$spacers, "3");
    align-items: center;
  }

  .c-brand__text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 100%;
    font-size: var(--c-brand-font-size, 2.25rem);
    color: var(--c-brand-contrast-color, var(--color-primary, #ae0b05));
    line-height: 1.2;
    justify-content: center;
  }

  .c-brand__line {
    white-space: nowrap;
    display: block;
  }
}