@use "sass:map";
@use "../setting/var_colors";
@use "../setting/var_default";
@use "../setting/var_fonts";
@use "../mixin/tokens";

/* Component name */
$_: "c-brand";

/* Design tokens */
@include tokens.create($_, getComponentTokens($_), (
    "height": tokens.use($_, "base", 12),
    "gap": tokens.use($_, "space", 3),
    "contrast-color": tokens.get($_, "color--primary"),
    "font-size": tokens.use($_, "base", 4)
));

.c-brand {
  .c-brand__logotype {
    height: tokens.get($_, "height");
  }

  .c-brand__viewbox {
    height: tokens.get($_, "height");
  }

  .c-brand__container {
    height: tokens.get($_, "height");
    display: flex;
    gap: tokens.get($_, "gap");
    align-items: center;
  }

  .c-brand__text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 100%;
    font-size: tokens.get($_, "font-size");
    color: tokens.get($_, "contrast-color");
    line-height: 1.2;
    justify-content: center;
  }

  .c-brand__line {
    white-space: nowrap;
    display: block;
  }
}