.c-breadcrumb {
    ol {
        list-style: none;
        padding:0px;
    }

    .c-breadcrumb__item {
        margin-top:0px;
        padding:0px;
        padding-right:10px;
        float:left;
    }
}