.c-breadcrumb {
    display: flex;
    gap: map-get($spacers, "1");

    &__prefix {
        font-weight: bold;
        white-space: nowrap;
    }
    
    &__list {
        @include unlist();
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        padding: 0;
    }

    &__item {
        padding: 0 map-get($spacers, "1") 0 0;
        margin: 0;
        color: $color-breadcrumb-active;
        display: flex;
        gap: map-get($spacers, "05");

        @include mq(map_get($breakpoints-map, "xs"), map_get($breakpoints-map, "sm")) {
            &:not(:last-child) {
               display: none;
            }
        }
    }

    &__link,
    &__link:visited,
    &__link:visited:hover {
        color: $color-breadcrumb;
        text-decoration: none;
    }

    .c-icon {
        color: $color-breadcrumb-icon;
        align-self: center;
        @include mq(map_get($breakpoints-map, "xs"), map_get($breakpoints-map, "sm")) {
            transform: scaleX(-1);
        }
    }
}