.c-breadcrumb {
    &__list {
        @include unlist(); 
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
        padding: 0;
    }

    &__item {
        padding: 0 map-get($spacers, '1') 0 0;
        margin: 0;
        color: $color-breadcrumb-active; 
    }

    &__link,
    &__link:visited, 
    &__link:visited:hover  {
        color: $color-breadcrumb;
        text-decoration: none;  
    }

    .c-icon {
        color: $color-breadcrumb-icon; 

        &:before {
            vertical-align: -20%; /* TODO: Fix */
        }
    }
}