// LABEL
.c-btn__label-icon {
    order:2;
    padding-left: 5%;
    &--reverse{
        order:1;
        padding-right: 5%;
    }
}

.c-btn__label-text {
    order:1;
    &--reverse{
        order:2;
    }
}

// ICON

.c-btn__icon{
    @include button-size(0.4em, 0.2em, $font-size-btn-sm, $font-size-btn-sm-line-height, 50%);
    @include button-mix($color-black, false, false, true);
}

// OUTLINED
.c-btn__outlined{
    &--secondary {
        @include button-mix($color-secondary, false, true);
    }

    &--primary {
        @include button-mix($color-primary, false, true);
    }
}

// BUTTON
.c-btn {
    display: inline-block;
    vertical-align: middle;
    text-decoration: none;
    cursor: pointer;
    margin: 0;
    margin-top: 2.66667px;
    margin-bottom: 2.66667px;
    line-height: 1;
    &__label{
        display:flex;
        flex-direction: row;
        text-transform: uppercase;
    }
    
    // COLOR
    &--primary {
        @include button-mix($color-white, $color-primary, false);
    }

    &--secondary {
        @include button-mix($color-white, $color-secondary, false);
    }

    // SIZE
    &--lg {
        @include button-size(0.5em, 0.9em, $font-size-btn-lg, $font-size-btn-lg-line-height, 2px);
    }

    &--md {
        @include button-size(0.5em, 0.7em, $font-size-btn-md, $font-size-btn-md-line-height, 2px);
    }

    &--sm {
        @include button-size(0.5em, 0.6em, $font-size-btn-sm, $font-size-btn-sm-line-height, 2px);
    }
    
    // FLOATING
    &--floating {
        @include shadow(6);
    }

    &--animated-float-on-hover{

        box-shadow:none;
        transition: 0.3s;
        transition-timing-function: ease-in;

        &:hover {
            @include shadow(6);
        }
    }

    &--float-on-hover{
        box-shadow:none;
        &:hover {
            @include shadow(6);
        }
    }

    

}