@use "sass:map";
@use "../mixin/cover";
@use "../setting/var_border-radius";
@use "../setting/var_colors";
@use "../setting/var_default";
@use "../setting/var_fonts";
@use "../setting/var_properties";


// Font
$c-button-font-weight: var(--c-button-font-weight, var_fonts.$font-weight-button);
$c-button-text-transform: var(--c-button-text-transform, var_fonts.$text-transform-button);
$c-button-font-family: var(--c-button-font-family, var_fonts.$font-family-button);

// Colors
$c-button-color: var(--c-button-color, var_colors.$color-default);
$c-button-color-contrasting: var(--c-button-color-contrasting, var_colors.$color-default-darker);
$c-button-primary-color: var(--c-button-primary-color, var_colors.$color-primary);
$c-button-primary-color-contrasting: var(--c-button-primary-color-contrasting, var_colors.$color-primary-contrasting);
$c-button-secondary-color: var(--c-button-secondary-color, var_colors.$color-secondary);
$c-button-secondary-color-contrasting: var(--c-button-secondary-color-contrasting, var_colors.$color-secondary-contrasting);
$c-button-default-color: var(--c-button-default-color, var_colors.$color-button-black);

// Borders
$c-button-border-radius: var(--c-button-border-radius, var(--radius-md));
$c-button-border-radius-small: var(--c-button-border-radius-small, var(--radius-sm));

$c-button-border-width: var(--c-button-border-width, var_properties.$border-width-button);


// BUTTON
.c-button {
    display: inline-flex;
    vertical-align: middle;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    cursor: pointer;
    font-weight: $c-button-font-weight;
    font-family: $c-button-font-family;
    text-transform: $c-button-text-transform;
    background-color: transparent;
    border: none;
    user-select: none;
    position: relative;
    max-width: 100%;

    .c-button__loader {
        display: none;
        width: calc(var_default.$base * 3);
        height: calc(var_default.$base * 3);
        border: 3px solid;
        margin-bottom: 2px;
        border-radius: 50%;
        border-bottom-color: transparent;
        box-sizing: border-box;
    }

    &.c-button.is-working {
        .c-button__label-icon {
            display: none;
        }

        .c-button__loader {
            display: inline-block;
            // animation: rotation 1s linear infinite;

            @keyframes rotation {
                0% {
                    transform: rotate(0deg);
                }
                100% {
                    transform: rotate(360deg);
                }
            } 
        }
    }
    
    &:after {
        content: '';
        @include cover.cover(); 
        z-index: var(--level-1);
        background-color: transparent;
        opacity: 0;
        transition: opacity 100ms ease-in-out, 
                    transform 150ms ease-in-out, 
                    background-color 100ms ease-in-out;
        border-radius: inherit;
    }

    &:disabled {
        cursor: not-allowed;
        &:not(.c-button--no-disabled-color) {
            border-color: var_colors.$color-button-disabled-bg;
            background-color: var_colors.$color-button-disabled-bg;
            color: var_colors.$color-button-disabled-text;
            
            * {
                color: var_colors.$color-button-disabled-text;
            }
        }

    }

    &__full-width {
        width: 100%;
        .c-button__label-icon {
            flex: 1;
            .c-icon {
                margin-left: auto;
            }
        }
    }

    .c-button__label {
        display: flex;
        flex-direction: row;
        justify-content: center;
        position: relative;
        z-index: var(--level-2);
        transition: opacity 100ms, color 100ms;
        text-decoration: none;
        gap: #{var_default.$base};
        width: 100%;
        max-width: 100%;
        height: 100%;

        * {
            align-self: center;
        }

        .c-button__label-icon {
            order: 2;
            position: relative;
            z-index: var(--level-2);
            display: flex;
    
            &--reverse {
                order: 1;
            }
        }

        .c-button__label-text {
            order: 1;
            display: inline-block;
            align-items: center;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;

            &--reverse {
                order: 2;
            }
        }
    }

    &.c-button--lg {
        height: calc(#{var_default.$base} * 8); 
        min-width: calc(#{var_default.$base} * 12);
        padding: 0 calc(#{var_default.$base} * 5);
        font-size: var_fonts.$font-size-btn-lg; 
        border-radius: $c-button-border-radius; 

        .c-button__loader {
            width: calc(var_default.$base * 4);
            height: calc(var_default.$base * 4);
            border-width: 4px;
            margin-left: calc(var_default.$base * -1.5);
        }

        &.c-button--icon-only {
            width: calc(#{var_default.$base} * 8); 
            min-width: initial;
        }

        &.c-button__outlined .c-button__label .c-button__label-icon,
        &.c-button__filled .c-button__label .c-button__label-icon {
            margin-right: calc(#{var_default.$base} * -1.5);
            &--reverse {
                margin-right: 0;
                margin-left: calc(#{var_default.$base} * -1.5);
            }
        }
    }

    &.c-button--md {
        height: calc(#{var_default.$base} * 6.5); 
        min-width: calc(#{var_default.$base} * 9);
        padding: 0 calc(#{var_default.$base} * 4); 
        font-size: var_fonts.$font-size-btn-md; 
        border-radius: $c-button-border-radius; 

        .c-button__loader {
            margin-left: calc(var_default.$base * -1);
        }

        &.c-button--icon-only {
            width: calc(#{var_default.$base} * 6.5); 
            min-width: initial;
        }

        &.c-button__outlined .c-button__label .c-button__label-icon,
        &.c-button__filled .c-button__label .c-button__label-icon {
            margin-right: calc(#{var_default.$base} * -1);
            &--reverse {
                margin-right: 0;
                margin-left: calc(#{var_default.$base} * -1);
            }
        }
    }

    &.c-button--sm {
        letter-spacing: 0.1rem;
        height: calc(#{var_default.$base} * 5.5);
        min-width: calc(#{var_default.$base} * 6.75); 
        padding: 0 calc(#{var_default.$base} * 2); 
        font-size: var_fonts.$font-size-btn-sm; 
        border-radius: $c-button-border-radius-small; 

        .c-button__loader {
            width: calc(var_default.$base * 2);
            height: calc(var_default.$base * 2);
            border-width: 2px;
            margin-left: calc(var_default.$base * -.5);
        }

        &.c-button--icon-only {
            width: calc(#{var_default.$base}* 5.5); 
            min-width: initial;
        }

        &.c-button__outlined .c-button__label .c-button__label-icon,
        &.c-button__filled .c-button__label .c-button__label-icon {
            margin-right: calc(#{var_default.$base} * -.5);
            &--reverse {
                margin-right: 0;
                margin-left: calc(#{var_default.$base} * -.5);
            }
        }
    }

    &.c-button--pill {
        border-radius: calc( #{var_default.$base} * 4); //No use of percent. 
    }

    &.c-button--sm.c-button--icon-only,
    &.c-button--md.c-button--icon-only,
    &.c-button--lg.c-button--icon-only {
        padding-left: 0;
        padding-right: 0; 
        justify-content: center;

        .c-button__label span.c-button__label-icon {
            margin-right: 0;
            margin-left: 0;
        }

        .c-icon::after {
            vertical-align: baseline;
        }
    }
}

// Only text
.c-button__basic {
    border: none;
    box-shadow: none;
    filter: var_properties.$drop-shadow-0;
    transition: transform 100ms ease-in-out;

    /* Allows disabled basic buttons */ 
    &:not(:disabled) {
        padding-left: 0;
        padding-right: 0;

        &:hover {
            opacity: .8;
        }
    }

    &--primary,
    &--primary .c-button__label {
        color: $c-button-primary-color;
    }

    &--secondary,
    &--secondary .c-button__label {
        color: $c-button-secondary-color;
    }

    &--default,
    &--deafult .c-button__label {
        color: $c-button-default-color;
    }
}

// Background and border
.c-button__filled {
    will-change: filter;
    transition: filter 200ms ease-in-out; 
    filter: var_properties.$drop-shadow-1;

    &--primary {
        background-color: $c-button-primary-color;
        color:  $c-button-primary-color-contrasting;

        .c-button__label {
            color:  $c-button-primary-color-contrasting;  
        }
    }

    &--secondary {
        background-color: $c-button-secondary-color;
        color: $c-button-secondary-color-contrasting;
                
        .c-button__label {
            color: $c-button-secondary-color-contrasting;
        }
    }

    &--default,
    &--deafult {
        background-color: $c-button-color;
        color: $c-button-color-contrasting;

        &:hover:after {
            background: var_colors.$color-black !important;
            opacity: .06 !important;
        }

        &:hover:active:after {
            opacity: .12 !important;
        }
  
        .c-button__label-text,
        .c-button__label-icon {
            color: $c-button-color-contrasting;
        }
    }

    /* Default state */ 
    &:after {
        background-color: transparent;
    }

    /* Hover state (hover) */
    &:hover {
        filter: var_properties.$drop-shadow-2;

        &:after {
            background: var_colors.$color-white;
            opacity: .24;
        }
    }

    /* Active state (pressed) */ 
    &:hover:active {
        filter: var_properties.$drop-shadow-1;

        &:after {
            background: var_colors.$color-black;
            opacity: .32;
        }

        .c-button__label {
            opacity: .8;
        }
    }
}

// No background, only border

.c-button__outlined {
    
    &--primary {
        border: $c-button-border-width solid $c-button-primary-color;
        color: $c-button-primary-color;

        .c-button__label {
            color: $c-button-primary-color;
        }

        &:hover:after {
            background: $c-button-primary-color;
            opacity: .08;
        }

        &:active:after {
            background: $c-button-primary-color;
            opacity: .24;
        }
    }

    &--secondary {
        border: $c-button-border-width solid $c-button-secondary-color;
        color: $c-button-secondary-color;

        .c-button__label {
            color: $c-button-secondary-color;
        }

        &:hover:after {
            background: $c-button-secondary-color;
            opacity: .08;
        }

        &:active:after {
            background: $c-button-secondary-color;
            opacity: .24;
        }
    }

    &--default,
    &--deafult {
        border: $c-button-border-width solid var_colors.$color-button-default-text;
        color: var_colors.$color-button-default-text;

        .c-button__label {
            color: var_colors.$color-button-default-text;
        }

        &:hover:after {
            background: var_colors.$color-button-default-text;
            opacity: .08;
        }

        &:active:after {
            background: var_colors.$color-button-default-text;
            opacity: .24;
        }
    }
    
    &:hover:focus {
        .c-button__label {
            opacity: .8;
        }
    }
}

.c-button__toggle {

    transition: color 100ms ease-in-out, 
    background 100ms ease-in-out, 
    outline 100ms ease-in-out, 
    outline-offset 100ms ease-in-out; 


    &[aria-pressed='true']:after {
        background: var_colors.$color-white;
        opacity: .3;
    }

    &.c-button__filled {
        outline-offset: 4px;
        outline: 0 solid rgba(0,0,0,0.5);
    }

    /* Filled active styles */
    &.c-button__filled[aria-pressed='true'] {
        outline: 2px solid rgba(255,255,255,0.5);
        outline-offset: -2px;
    }

    /* Basic active styles */ 
    &.c-button__basic:before {
        content: "";
        border-bottom: 2px solid $c-button-color-contrasting;
        bottom: 4px;
        position: absolute; 
        width: 0;
        transition: width 100ms ease-in-out;
    } 

    &.c-button__basic[aria-pressed='true']:before {
        width: 100%;
    } 

    &.c-button__basic[aria-pressed='true']:after {
        display: none;
    }

    /* Outlined active styles */
    &.c-button__outlined {
        &[aria-pressed='true']:after {
            display: none;
        }
    }

    /* Filled color - active */ 
    &.c-button__filled--default[aria-pressed='true'] {
        outline-color: $c-button-color-contrasting;
    }
    
    &.c-button__filled--primary[aria-pressed='true'] {
        outline-color: $c-button-primary-color-contrasting; 
    }

    &.c-button__filled--secondary[aria-pressed='true'] {
        outline-color: $c-button-secondary-color-contrasting; 
    }

    /* Basic color - active */ 

    &.c-button__basic--default[aria-pressed='true']:before  {
        border-color: $c-button-color-contrasting;
    }

    &.c-button__basic--primary[aria-pressed='true']:before {
        border-color: $c-button-primary-color;
    }

    &.c-button__basic--secondary[aria-pressed='true']:before {
        border-color: $c-button-secondary-color;
    }

    /* Outlined color - active */
    &.c-button__outlined--default[aria-pressed='true'] {
        
        background-color: $c-button-color-contrasting; 

        .c-button__label,
        .c-button__label-icon,
        .c-button__label-text {
            color: $c-button-color;
        }
    }

    &.c-button__outlined--primary[aria-pressed='true'] {
        background-color: $c-button-primary-color; 

        .c-button__label,
        .c-button__label-icon,
        .c-button__label-text {
            color: $c-button-primary-color-contrasting;
        }
    }

    &.c-button__outlined--secondary[aria-pressed='true'] {
        background-color: $c-button-secondary-color; 

        .c-button__label,
        .c-button__label-icon,
        .c-button__label-text {
            color: $c-button-secondary-color-contrasting;
        }
    }
    
}

.c-button + .c-button {
    margin-left: map.get(var_default.$spacers, '1');
}

@media print {
    .c-button {
        display: none;
    }
}
