.c-buttongroup-group .c-buttongroup{
    margin-bottom:0;
    border:0;
    border-right:1px solid $color-shadow;
    border-radius: 0;
    margin:0;
    float:left;
    align-items: stretch;

    &:last-child{
        border:0;
    }

}

.c-buttongroup-group{
    border:2px solid black;
    border-radius: 5px;
    display:inline-flex;
}

.c-buttongroup-group__border{
    &--primary{
        border-color: $color-primary;
    }

    &--secondary{
        border-color: $color-secondary;
    }

    &--default{
        border-color: $color-default;
    }
}

.c-buttongroup-group__background{
    &--primary{
        border-color: $color-primary;
    }

    &--secondary{
        border-color: $color-secondary;
    }
}

