@use "../mixin/cover";
@use "../mixin/tokens";

/* Component name */
$_: "c-button";

/* Design tokens */
@include tokens.create($_, (
    "border-radius",
    "border-width",
    "space",
    "color--primary",
    "color--secondary"
), (
    "base": "var(--base)",
    "font-weight": "var(--font-weight-medium)",
    "font-family": "var(--font-family-base)",
    "font-size-lg": "calc(var(--base-font-size) * 1.125)",
    "font-size-md": "var(--base-font-size)",
    "font-size-sm": "calc(var(--base-font-size) * 0.875)",
    "color-default": "var(--color--surface)",
    "color-default-contrast": "var(--color--surface-contrast)",
    "color-black": "var(--color--black-100)",
    "color-white": "var(--color--white-100)",
    "color-disabled-bg": "var(--color--gray-20)",
    "color-disabled-text": "var(--color--gray-60)",
    "shadow": "0 2px 4px var(--shadow-color)",
    "level-1": "1",
    "level-2": "2"
));

/* Component */
.#{$_} {
    contain: layout;
    display: inline-flex;
    vertical-align: middle;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    cursor: pointer;
    font-weight: tokens.get($_, "font-weight");
    font-family: tokens.get($_, "font-family");
    background-color: transparent;
    border: none;
    user-select: none;
    position: relative;
    max-width: 100%;

    .#{$_}__loader {
        display: none;
        width: calc(#{tokens.get($_, "base")} * 3);
        height: calc(#{tokens.get($_, "base")} * 3);
        border: 3px solid;
        margin-bottom: 2px;
        border-radius: 50%;
        border-bottom-color: transparent;
        box-sizing: border-box;
    }

    &.#{$_}.is-working {
        .#{$_}__label-icon {
            display: none;
        }

        .#{$_}__loader {
            display: inline-block;

            @keyframes rotation {
                0% { transform: rotate(0deg); }
                100% { transform: rotate(360deg); }
            }
        }
    }

    &:after {
        content: '';
        @include cover.cover();
        z-index: tokens.get($_, "level-1");
        background-color: transparent;
        opacity: 0;
        transition: opacity 100ms ease-in-out,
                    transform 150ms ease-in-out,
                    background-color 100ms ease-in-out;
        border-radius: inherit;
        corner-shape: inherit;
    }

    &:disabled {
        cursor: not-allowed;
        &:not(.#{$_}--no-disabled-color) {
            border-color: tokens.get($_, "color-disabled-bg");
            background-color: tokens.get($_, "color-disabled-bg");
            color: tokens.get($_, "color-disabled-text");

            * {
                color: tokens.get($_, "color-disabled-text");
            }
        }
    }

    &__full-width {
        width: 100%;
        .#{$_}__label-icon {
            flex: 1;
            .c-icon {
                margin-left: auto;
            }
        }
    }

    .#{$_}__label {
        display: flex;
        flex-direction: row;
        justify-content: center;
        position: relative;
        z-index: tokens.get($_, "level-2");
        transition: opacity 100ms, color 100ms;
        text-decoration: none;
        gap: tokens.get($_, "base");
        width: 100%;
        max-width: 100%;
        height: 100%;

        * {
            align-self: center;
        }

        .#{$_}__label-icon {
            z-index: tokens.get($_, "level-2");
            display: flex;

            &--reverse {
                order: 1;
            }
        }

        .#{$_}__label-text {
            order: 1;
            display: inline-block;
            align-items: center;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;

            &--reverse {
                order: 2;
            }
        }
    }

    &.#{$_}--lg {
        height: calc(#{tokens.get($_, "base")} * 8);
        min-width: calc(#{tokens.get($_, "base")} * 12);
        padding: 0 calc(#{tokens.get($_, "base")} * 5);
        font-size: tokens.get($_, "font-size-lg");
        border-radius: min(calc(#{tokens.get($_, "base")} * 6.5 / 4), #{tokens.use($_, "border-radius")});
        corner-shape: tokens.get($_, "corner-shape");

        .#{$_}__loader {
            width: calc(#{tokens.get($_, "base")} * 4);
            height: calc(#{tokens.get($_, "base")} * 4);
            border-width: 4px;
            margin-left: calc(#{tokens.get($_, "base")} * -1.5);
        }

        &.#{$_}--icon-only {
            width: calc(#{tokens.get($_, "base")} * 8);
            min-width: initial;
        }

        &.#{$_}__outlined .#{$_}__label .#{$_}__label-icon,
        &.#{$_}__filled .#{$_}__label .#{$_}__label-icon {
            margin-right: calc(#{tokens.get($_, "base")} * -1.5);
            &--reverse {
                margin-right: 0;
                margin-left: calc(#{tokens.get($_, "base")} * -1.5);
            }
        }
    }

    &.#{$_}--md {
        height: calc(#{tokens.get($_, "base")} * 6.5);
        min-width: calc(#{tokens.get($_, "base")} * 9);
        padding: 0 calc(#{tokens.get($_, "base")} * 4);
        font-size: tokens.get($_, "font-size-md");
        border-radius: min(calc(#{tokens.get($_, "base")} * 6.5 / 4), #{tokens.use($_, "border-radius")});
        corner-shape: tokens.get($_, "corner-shape");

        .#{$_}__loader {
            margin-left: calc(#{tokens.get($_, "base")} * -1);
        }

        &.#{$_}--icon-only {
            width: calc(#{tokens.get($_, "base")} * 6.5);
            min-width: initial;
        }

        &.#{$_}__outlined .#{$_}__label .#{$_}__label-icon,
        &.#{$_}__filled .#{$_}__label .#{$_}__label-icon {
            margin-right: calc(#{tokens.get($_, "base")} * -1);
            &--reverse {
                margin-right: 0;
                margin-left: calc(#{tokens.get($_, "base")} * -1);
            }
        }
    }

    &.#{$_}--sm {
        letter-spacing: 0.1rem;
        height: calc(#{tokens.get($_, "base")} * 5.5);
        min-width: calc(#{tokens.get($_, "base")} * 6.75);
        padding: 0 calc(#{tokens.get($_, "base")} * 2);
        font-size: tokens.get($_, "font-size-sm");
        border-radius: min(calc(#{tokens.get($_, "base")} * 6.5 / 4), #{tokens.use($_, "border-radius")});
        corner-shape: tokens.get($_, "corner-shape");

        .#{$_}__loader {
            width: calc(#{tokens.get($_, "base")} * 2);
            height: calc(#{tokens.get($_, "base")} * 2);
            border-width: 2px;
            margin-left: calc(#{tokens.get($_, "base")} * -.5);
        }

        &.#{$_}--icon-only {
            width: calc(#{tokens.get($_, "base")} * 5.5);
            min-width: initial;
        }

        &.#{$_}__outlined .#{$_}__label .#{$_}__label-icon,
        &.#{$_}__filled .#{$_}__label .#{$_}__label-icon {
            margin-right: calc(#{tokens.get($_, "base")} * -.5);
            &--reverse {
                margin-right: 0;
                margin-left: calc(#{tokens.get($_, "base")} * -.5);
            }
        }
    }

    &.#{$_}--pill {
        border-radius: calc(#{tokens.get($_, "base")} * 4);
    }

    &.#{$_}--sm.#{$_}--icon-only,
    &.#{$_}--md.#{$_}--icon-only,
    &.#{$_}--lg.#{$_}--icon-only {
        padding-left: 0;
        padding-right: 0;
        justify-content: center;

        .#{$_}__label span.#{$_}__label-icon {
            margin-right: 0;
            margin-left: 0;
        }

        .c-icon::after {
            vertical-align: baseline;
        }
    }
}

// Only text
.#{$_}__basic {
    border: none;
    box-shadow: none;
    filter: tokens.get($_, "shadow");
    transition: transform 100ms ease-in-out;

    &:not(:disabled) {
        padding-left: 0;
        padding-right: 0;

        &:hover {
            opacity: .8;
        }
    }

    &--primary,
    &--primary .#{$_}__label {
        color: tokens.get($_, "color--primary");
    }

    &--secondary,
    &--secondary .#{$_}__label {
        color: tokens.get($_, "color--secondary");
    }

    &--default,
    &--deafult .#{$_}__label {
        color: tokens.get($_, "color-black");
    }
}

// Background and border
.#{$_}__filled {
    will-change: filter;
    transition: filter 200ms ease-in-out;
    filter: tokens.get($_, "shadow");

    &--primary {
        background-color: tokens.get($_, "color--primary");
        color: tokens.get($_, "color--primary-contrast");

        .#{$_}__label {
            color: tokens.get($_, "color--primary-contrast");
        }
    }

    &--secondary {
        background-color: tokens.get($_, "color--secondary");
        color: tokens.get($_, "color--secondary-contrast");

        .#{$_}__label {
            color: tokens.get($_, "color--secondary-contrast");
        }
    }

    &--default,
    &--deafult {
        background-color: tokens.get($_, "color-default");
        color: tokens.get($_, "color-default-contrast");

        &:hover:after {
            background: tokens.get($_, "color-black") !important;
            opacity: .06 !important;
        }

        &:hover:active:after {
            opacity: .12 !important;
        }

        .#{$_}__label-text,
        .#{$_}__label-icon {
            color: tokens.get($_, "color-default-contrast");
        }
    }

    &:after {
        background-color: transparent;
    }

    &:hover {
        filter: tokens.get($_, "shadow");

        &:after {
            background: tokens.get($_, "color-white");
            opacity: .24;
        }
    }

    &:hover:active {
        filter: tokens.get($_, "shadow");

        &:after {
            background: tokens.get($_, "color-black");
            opacity: .32;
        }

        .#{$_}__label {
            opacity: .8;
        }
    }
}

.#{$_}__outlined {
    border: clamp(
            1px,
            #{tokens.use($_, "border-width")},
            calc(var(--base) / 2)
        ) solid;

    &--primary {
        border-color: tokens.get($_, "color--primary");
        color: tokens.get($_, "color--primary");

        .#{$_}__label {
            color: tokens.get($_, "color--primary");
        }

        &:hover:after {
            background: tokens.get($_, "color--primary");
            opacity: .08;
        }

        &:active:after {
            background: tokens.get($_, "color--primary");
            opacity: .24;
        }
    }

    &--secondary {
        border-color: tokens.get($_, "color--secondary");
        color: tokens.get($_, "color--secondary");

        .#{$_}__label {
            color: tokens.get($_, "color--secondary");
        }

        &:hover:after {
            background: tokens.get($_, "color--secondary");
            opacity: .08;
        }

        &:active:after {
            background: tokens.get($_, "color--secondary");
            opacity: .24;
        }
    }

    &--default,
    &--deafult {
        border-color: tokens.get($_, "color-black");
        color: tokens.get($_, "color-black");
        .#{$_}__label {
            color: tokens.get($_, "color-black");
        }
        &:hover:after,
        &:active:after {
            background: tokens.get($_, "color-black");
        }
    }

    &:hover:focus {
        .#{$_}__label {
            opacity: .8;
        }
    }
}

.#{$_}__toggle {
    transition: color 100ms ease-in-out,
    background 100ms ease-in-out,
    outline 100ms ease-in-out,
    outline-offset 100ms ease-in-out;

    &[aria-pressed='true']:after {
        background: tokens.get($_, "color-white");
        opacity: .3;
    }

    &.#{$_}__filled {
        outline-offset: 4px;
        outline: 0 solid rgba(0,0,0,0.5);
    }

    &.#{$_}__filled[aria-pressed='true'] {
        outline: 2px solid tokens.get($_, "color-white");
        outline-offset: -2px;
    }

    &.#{$_}__basic:before {
        content: "";
        border-bottom: 2px solid var(--#{$_}--color-default-darker);
        bottom: 4px;
        position: absolute;
        width: 0;
        transition: width 100ms ease-in-out;
    }

    &.#{$_}__basic[aria-pressed='true']:before {
        width: 100%;
    }

    &.#{$_}__basic[aria-pressed='true']:after {
        display: none;
    }

    &.#{$_}__outlined {
        &[aria-pressed='true']:after {
            display: none;
        }
    }

    &.#{$_}__filled--default[aria-pressed='true'] {
        outline-color: var(--#{$_}--color-default-darker);
    }

    &.#{$_}__filled--primary[aria-pressed='true'] {
        outline-color: var(--#{$_}--color-primary-contrasting);
    }

    &.#{$_}__filled--secondary[aria-pressed='true'] {
        outline-color: var(--#{$_}--color-secondary-contrasting);
    }

    &.#{$_}__basic--default[aria-pressed='true']:before  {
        border-color: var(--#{$_}--color-default-darker);
    }

    &.#{$_}__basic--primary[aria-pressed='true']:before {
        border-color: tokens.get($_, "color--primary");
    }

    &.#{$_}__basic--secondary[aria-pressed='true']:before {
        border-color: tokens.get($_, "color--secondary");
    }

    &.#{$_}__outlined--default[aria-pressed='true'] {
        background-color: tokens.get($_, "color-default-contrast");

        .#{$_}__label,
        .#{$_}__label-icon,
        .#{$_}__label-text {
            color: tokens.get($_, "color-default");
        }
    }

    &.#{$_}__outlined--primary[aria-pressed='true'] {
        background-color: tokens.get($_, "color--primary");

        .#{$_}__label,
        .#{$_}__label-icon,
        .#{$_}__label-text {
            color: tokens.get($_, "color--primary-contrast");
        }
    }

    &.#{$_}__outlined--secondary[aria-pressed='true'] {
        background-color: tokens.get($_, "color--secondary");

        .#{$_}__label,
        .#{$_}__label-icon,
        .#{$_}__label-text {
            color: tokens.get($_, "color--secondary-contrast");
        }
    }
}

.#{$_} + .#{$_} {
    margin-left: tokens.use($_, "space");
}

@media print {
    .#{$_} {
        display: none;
    }
}
