body:not(.s-bem-deprecated) {
    .c-header .c-header__body {
        padding: $baseline*2 0;
    }
    .c-header.c-header--hard .c-header__body {
        padding: 0 0;
    }

    .c-header__body {
        align-items: center;
        flex-wrap: nowrap;
    }

    .c-header.c-header--small {}
    .c-header.c-header--large .c-header__body {
        @include mq(lg) {
            height: 128px;
        }
    }
}


// ==========================================================================
// Deprecated
// ==========================================================================

.s-bem-deprecated {
    .c-header__row {
        display: flex;
        flex-wrap: no-wrap;
        align-items: center;
        padding: $content-gutter $content-gutter;
    }

    .c-header__item {
        display: flex;
        flex-wrap: no-wrap;
        align-items: center;
        flex-grow: 1;

        &.c-header__item--left {
            justify-content: flex-start;
        }

        &.c-header__item--right {
            justify-content: flex-end;
        }

        &.c-header__item--center {
            justify-content: center;
        }
    }

    .c-header__item:not(:last-child) {
        margin-right: $content-gutter * 2;
    }

    .c-header__logo {
        //Temp fix
        h1 {
            padding-bottom: 0;
        }

        a {
            display: block;
        }

        img,
        svg {
            height: auto;
            width: 100%;
            max-width: 18rem;
            display: block;
        }
    }

    .c-header--primary {
        .c-header__row {
            padding: $content-gutter $content-gutter;

            @media all and #{$screen-sm-up} {
                padding: $content-gutter * 2 $content-gutter;
            }
        }
    }

    .c-header--top {
        .c-header__row {
            padding: $content-gutter * 0.75 $content-gutter;
        }
        font-size: 80%;
        line-height: 1;

        a.pricon:before {
            vertical-align: top;
        }
    }

}

// ==========================================================================
// DEPERICATED 2
// ==========================================================================
 .s-header__deprecated {
        .c-navbar {
            margin-top: $baseline * -2;
            margin-bottom: $baseline * -2;
        }

        .c-navbar,
        .c-navbar .c-navbar__item {
            display: flex;
            align-items: stretch;
        }

        .c-navbar .c-navbar__action {
            // font-size: 16px;
            // line-height: 24px;
        }

        .c-navbar .c-navbar__link,
        .c-navbar .c-navbar__action,
        .c-brand {
            display: flex;
            align-items: center;
        }

        .widget_municipio-navigation:first-child .c-navbar {
            margin-left: $baseline * -1.5;
        }

        .widget_municipio-navigation:last-child .c-navbar {
            margin-right: $baseline * -1.5;
        }
    }

    .s-header__deprecated .hamburger-box {
        top: -1px;
    }


    .s-header--small__deprecated {
        &,
        .c-navbar .c-navbar__link,
        .c-navbar .c-navbar__action {
            font-size: 14px;
            line-height: 16px;
        }

        .c-navbar {
            margin-top: $baseline * -1;
            margin-bottom: $baseline  * -1;
        }

        .c-navbar .c-navbar__link,
        .c-navbar .c-navbar__action {
            padding: $baseline * 1 $baseline * 1.5;
        }
    }

    .s-header--large__deprecated {
        @include mq(md) {
            .c-navbar {
                margin-top: $baseline * -3;
                margin-bottom: $baseline  * -3;
            }

            .c-navbar .c-navbar__link,
            .c-navbar .c-navbar__action {
                padding: $baseline*3 $baseline*2;
            }

            .widget_municipio-navigation:first-child .c-navbar {
                margin-left: $baseline * -2;
            }

            .widget_municipio-navigation:last-child .c-navbar {
                margin-right: $baseline * -2;
            }
        }
    }


