@use "../setting/var_colors";
@use "../setting/var_properties";

/* stylelint-disable */

.c-calendar {

    &--primary .cjslib-calendar {
        color: var(--color--white);
        background-color: var(--color--primary);
    }

    &--primary .cjslib-day-indicator {
        color: var(--color--primary);
    }

    &--secondary .cjslib-calendar {
        color: var(--color--white);
        background-color: var(--color--secondary);

        & cjslib-day-indicator {
            color: var(--color--secondary);
        }
    }

    &--secondary .cjslib-day-indicator {
        color: var(--color--secondary);
    }

    &--default .cjslib-calendar, cjslib-day-indicator {
        color: var(--color--primary);
        background-color: var(--color--default);
    }

    &--default .cjslib-day-indicator {
        color: var(--color--primary);
    }

    &__event-list {
        background-color: var(--color--default);
        color: var(--color--primary);
        padding:2%;
        filter: var(--shadow-5);
        z-index: 9999;
    }

}

.cjslib-calendar {
    width: 800px;
    height: 800px;
    display: flex;
    flex-direction: column;
    font-family: "Satellite", "Roboto", sans-serif;
    border: 1px solid rgba(21, 21, 21, 0.12);
    transform: scale(1);
    box-shadow: 0px 0px 4px rgba(21, 21, 21, 0.21);
    user-select: none;
}

.cjslib-calendar.cjslib-size-small {
    width: 400px;
    height: 400px;
}

.cjslib-calendar.cjslib-size-medium {
    width: 600px;
    height: 600px;
}

.cjslib-calendar.cjslib-size-large {
    width: 800px;
    height: 800px;
}

.cjslib-year {
    width: calc(100% - 10px);
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 5px;
    font-size: 14px;
}

.cjslib-year>span {
    flex: 1;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    text-transform: uppercase;
}

.cjslib-year>div {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.cjslib-month {
    z-index: 1;
    width: calc(100% - 10px);
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 20px 5px;
    font-size: 40px;
    box-shadow: 0px 1px 4px rgba(21, 21, 21, 0.12);
    box-shadow: 0px 1px 4px rgba(21, 21, 21, 0.12);
}

.cjslib-month>span {
    flex: 1;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    text-transform: uppercase;
}

.cjslib-month>div {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.cjslib-labels {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.cjslib-labels>span {
    flex: 1;
    font-size: 12px;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    padding: 10px;
}

.cjslib-days {
    background-color: var(--color--lighter);
    flex: 1;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 2px 6px -2px rgba(21, 21, 21, 0.21);
    box-shadow: 0px 2px 6px -2px rgba(21, 21, 21, 0.21);
}

.cjslib-row {
    width: 100%;
    flex: 1;
    display: flex;
    flex-direction: row;
}

.cjslib-day {
    flex: 1;
    padding: 5px;
    cursor: pointer;
    position: relative;
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid rgba(21, 21, 21, .12);
    border-right: 1px solid rgba(21, 21, 21, .12);
    transition: filter 200ms ease-in-out;
    transition: box-shadow 200ms ease-in-out;
    transition: box-shadow 200ms ease-in-out;
    transition: filter 200ms ease-in-out;
    transition: filter 200ms ease-in-out, box-shadow 200ms ease-in-out;
    will-change: filter;
}

.cjslib-day:last-child {
    border-right: none;
}

.cjslib-day:hover {
    background-color: rgba(21, 21, 21, 0.012);
    box-shadow: inset 0px 0px 4px rgba(21, 21, 21, 0.21);
    box-shadow: inset 0px 0px 4px rgba(21, 21, 21, 0.21);
}

.cjslib-day-radios {
    display: none;
}

.cjslib-day-radios:checked+.cjslib-day {
    background-color: rgba(21, 21, 21, 0.012);
    box-shadow: inset 0px 0px 4px rgba(21, 21, 21, 0.21);
    box-shadow: inset 0px 0px 4px rgba(21, 21, 21, 0.21);
}

.cjslib-day>.cjslib-day-num {
    width: auto;
    height: fit-content;
    font-size: 14px;
    color: rgba(21, 21, 21, 0.84);
}

.cjslib-day.cjslib-day-today>.cjslib-day-num {
    padding-bottom: 3px;
    border-bottom: 2px solid;
    border-radius: 1px;
}

.cjslib-day>.cjslib-day-indicator {
    font-size: 0px;
    position: absolute;
    border-radius: 100%;
    box-shadow: 0px 2px 4px rgba(21, 21, 21, 0.21);
    box-shadow: 0px 2px 4px rgba(21, 21, 21, 0.21);
}

.cjslib-indicator-type-numeric {
    padding: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cjslib-day.cjslib-day-diluted {
    background-color: rgba(21, 21, 21, 0.021);
    box-shadow: inset 0px 0px 1px rgba(21, 21, 21, 0.12);
    box-shadow: inset 0px 0px 1px rgba(21, 21, 21, 0.12);
}

.cjslib-day.cjslib-day-diluted>.cjslib-day-num {
    width: auto;
    font-size: 10px;
    color: rgba(21, 21, 21, 0.73);
}

.cjslib-day-indicator:empty,
.cjslib-day.cjslib-day-diluted>.cjslib-day-indicator {
    display: none !important;
}

.cjslib-calendar.cjslib-size-small .cjslib-day>.cjslib-day-indicator {
    width: 8px;
    height: 8px;
    bottom: 7px;
    right: 7px;
}

.cjslib-calendar.cjslib-size-small .cjslib-day>.cjslib-indicator-type-numeric {
    font-size: 7px;
}

.cjslib-calendar.cjslib-size-small .cjslib-day>.cjslib-indicator-pos-top {
    top: 7px;
    bottom: unset;
}

.cjslib-calendar.cjslib-size-medium .cjslib-day>.cjslib-day-indicator {
    width: 18px;
    height: 18px;
    bottom: 10px;
    right: 10px;
}

.cjslib-calendar.cjslib-size-medium .cjslib-day>.cjslib-indicator-type-numeric {
    font-size: 10px;
}

.cjslib-calendar.cjslib-size-medium .cjslib-day>.cjslib-indicator-pos-top {
    top: 10px;
    bottom: unset;
}

.cjslib-calendar.cjslib-size-large .cjslib-day>.cjslib-day-indicator {
    width: 24px;
    height: 24px;
    bottom: 14px;
    right: 14px;
}

.cjslib-calendar.cjslib-size-large .cjslib-day>.cjslib-indicator-type-numeric {
    font-size: 12px;
}

.cjslib-calendar.cjslib-size-large .cjslib-day>.cjslib-indicator-pos-top {
    top: 14px;
    bottom: unset;
}

.cjslib-events {
    width: 800px;
    height: 800px;
    font-family: "Satellite", "Roboto", sans-serif;
    box-shadow: 0px 0px 4px rgba(21, 21, 21, 0.21);
    box-shadow: 0px 0px 4px rgba(21, 21, 21, 0.21);
    border: 1px solid rgba(21, 21, 21, 0.12);
    display: flex;
    flex-direction: column;
    user-select: none;
    user-select: none;
}

.cjslib-events.cjslib-size-small {
    width: 400px;
    height: 400px;
}

.cjslib-events.cjslib-size-medium {
    width: 600px;
    height: 600px;
}

.cjslib-events.cjslib-size-large {
    width: 800px;
    height: 800px;
}

.cjslib-date {
    width: calc(100% - 10px);
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 5px;
    font-size: 14px;
}

.cjslib-date>span {
    flex: 1;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    text-transform: uppercase;
}

.cjslib-date>div {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.cjslib-rows {
    background-color: var(--color--lighter);
    width: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow: auto !important;
}

.cjslib-list {
    width: 100%;
    position: relative;
    overflow-y: visible !important;
    padding: 0;
    margin: 0;
    color: rgba(21, 21, 21, 0.94);
    padding-bottom: 15px;
}

.cjslib-list-history {
    padding-top: 10px;
    width: calc(100% - 20px);
    margin-left: 10px;
    margin-right: 10px;
}

.cjslib-list-history>.cjslib-list-history-title {
    padding: 5px 0px;
    border-radius: 2px;
}

.cjslib-list-placeholder {
    height: 100%;
    border: none !important;
    justify-content: center;
    align-content: center;
    align-items: center;
    color: var(--color--dark);
    pointer-events: none;
    display: none;
}

.cjslib-list-placeholder * {
    pointer-events: all;
}

.cjslib-list .cjslib-list-placeholder:only-child {
    display: block !important;
}

.cjslib-list>li {
    width: 100%;
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid rgba(21, 21, 21, 0.12);
}

.cjslib-list>li:hover {
    box-shadow: inset 0px 0px 4px rgba(21, 21, 21, 0.21);
    box-shadow: inset 0px 0px 4px rgba(21, 21, 21, 0.21);
}

.cjslib-list>li>div {
    display: flex;
    flex: 2;
    justify-content: center;
    align-items: center;
    align-content: center;
    padding: 10px;
    border-right: 1px solid rgba(21, 21, 21, 0.12);
}

.cjslib-time {
    font-size: 14px;
}

.cjslib-m {
    font-size: 14px;
    text-transform: uppercase;
    padding-left: 5px;
}

.cjslib-list>li>p {
    flex: 4;
    margin: 10px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    font-size: 18px;
    word-break: break-word;
}
/* stylelint-enable */