@use "sass:map";
@use "../mixin/cover";
@use "../mixin/focus";
@use "../mixin/mq";
@use "../setting/var_border-radius";
@use "../setting/var_colors";
@use "../setting/var_default";
@use "../setting/var_properties";

$c-card-color-background: var(--c-card-color-background, var_colors.$color-background-card) !default;
$c-card-border-radius: var(--c-card-border-radius, var_border-radius.$border-radius-lg) !default;

$c-card-border-width: var(--c-card-border-width, var_properties.$border-width-card) !default;
$c-card-border-color: var(--c-card-border-color, var_colors.$color-border-card) !default;

$c-card-border-width-outline: var(--c-card-border-width-outline, var_properties.$border-width-outline) !default;
$c-card-border-color-outline: var(--c-card-border-color-outline, var_colors.$color-border-outline) !default;

$c-card-border-width-divider: var(--c-card-border-width-divider, var_properties.$border-width-divider) !default;
$c-card-border-color-divider: var(--c-card-border-color-divider, var_colors.$color-border-divider) !default;

$c-card-image-background-color: var(--c-card-image-background-color, var_colors.$color-secondary) !default;

.c-card {
    container-type: inline-size;
    filter: var_properties.$drop-shadow-2;
    will-change: filter;
    display: flex;
    flex-direction: column;
    position: relative;
    background-color: $c-card-color-background;
    border-radius: $c-card-border-radius;
    transition: all 200ms ease-in;
    border: $c-card-border-width solid $c-card-border-color;

    .c-card__paint-container {
        contain: paint;
        border-radius: inherit;
        display: inherit;
        flex-direction: inherit;
        flex-wrap: wrap;
        flex-direction: inherit;

        > * {
            width: 100%;
        }
    }

    .c-card__header {
        width: 100%;
    }

    .c-card__header,
    .c-card__body,
    .c-card__content-after {
        overflow-wrap: break-word;
        hyphens: auto;
        padding: map.get(var_default.$spacers, '2');
    }

    .c-card__content:not(:first-child) {
        margin-top: map.get(var_default.$spacers, '1');
    }
    
    .c-card__footer {
        overflow-wrap: break-word;
        hyphens: auto;
        padding: map.get(var_default.$spacers, '2');
        margin-top: auto;
    }
    
    .c-card__body {
        display: grid;
        padding-top: map.get(var_default.$spacers, '3');
        padding-bottom: map.get(var_default.$spacers, '3');
        gap: map.get(var_default.$spacers, '05');
        align-content: center;

        :first-child {
            margin-top: 0;
        }
    }
    
    .c-card__footer {
        border-top: $c-card-border-width-divider solid $c-card-border-color-divider;
    }
    
    .c-card__image {
        background-color: var_colors.$color-card-image-background;
        border-radius: none;

        .c-image__image {
            border-radius: inherit;
        }
    }
    
    &__title {
        &-expand-button {
            float: right;
            
            &[aria-pressed='true'] {
                transform: rotate(180deg);
                transition-timing-function: ease-in-out;
            }
        }
    }
    
    &__date {
        display: flex;
        gap: calc(#{var_default.$base} * 0.5);
        align-items: center;
        margin-top: calc(#{var_default.$base} * 0.5);
    }
    
    &__dropdown {
        position: absolute;
        top: 0;
        right: 0;
        
        &--white .c-button {
            color: var_colors.$color-white;
        }
        
        &--black .c-button {
            color: var_colors.$color-black;
        }
    }
    
    &__dropdown .c-button:hover {
        background-color: unset;
    }
    
    &__dropdown .c-button:focus {
        background-color: unset;
    }
    
    /* Image aspect ratio */
    .c-card__image-container {
        position: relative;
        width: 100%;
        contain: paint;
    }
    
    &.c-card--ratio-1-1 {
        .c-card__image-container {
            aspect-ratio: 1 / 1;
        }
    }
    
    &.c-card--ratio-16-9 {
        .c-card__image-container {
            aspect-ratio: 16 / 9;
        }
    }
    
    &.c-card--ratio-4-3 {
        .c-card__image-container {
            aspect-ratio: 4 / 3;
        }
    }
    
    &.c-card--ratio-10-3 {
        .c-card__image-container {
            aspect-ratio: 10 / 3;
        }
    }
    
    &.c-card--ratio-36-7 {
        .c-card__image-container {
            aspect-ratio: 36 / 7;
        }
    }

    /* Floating items top right corner (on image) */
    .c-card__floating {
        position: absolute;
        right: var_default.$base;
        top: var_default.$base;
        z-index: var_properties.$level-3;
    }

    .c-card__content-after {
        height: 100%;
    }

    /* Focus highlight */
    &--focus-inset:focus {
        @include focus.focus-inset($c-card-border-radius);
    }
 
    /* Icons in headline */ 
    &__header .c-icon {
        vertical-align: top;

        & ~ :is(h1, h2, h3, h4, h5, h6) {
            display: inline;
        }
    }

    /* Explicit link */
    .c-card__explicit-link {
        font-weight: 700;
    }

    /* Apperance modifiers */

    &--outline {
        border: $c-card-border-width solid;
    }

    &--highlight {
        .c-card__header,
        .c-card__body {
            border-left: var_default.$base solid var_colors.$color-primary;
        }
    }

    &--accented {
        .c-card {
            margin-bottom: var_default.$base;
        }
        .c-card__header {
            border-bottom: calc(#{var_default.$base} / 2) solid var_colors.$color-primary;
            background: var_colors.$color-white;
        }
        .c-typography {
            color: var_colors.$color-black;
        }
    }

    &--panel {
        .c-card__header {
            background: var_colors.$color-primary;
            color: var_colors.$color-white;
            * {
                color: var_colors.$color-white;
            }
            
            i, h4 {
                display: inline-block;
                vertical-align: middle;
            }
            
            h4 {
                margin-top: 0px;
            }
        }
        
        &.c-card--flat {
            .c-card__header {
                padding: map.get(var_default.$spacers, '2');
            }
        }
    }

    &--collapse {
        visibility: hidden;
        max-height: 0px;
        height: 0px;
        padding: 0px;
    }

    /* Datebadge */ 
    .c-card__datebadge {
        position: absolute;
        margin: calc(var_default.$base * 2);
    }

    &.c-card--has-datebadge {
        .c-card__datebadge {
            margin: 0;
            left: calc(var_default.$base * 2);
            top: calc(var_default.$base * 2);
        }

        &:not(.c-card--has-image) {

            .c-card__heading-container,
            .c-card__content {
                padding-left: calc(var_default.$base * 9.5);
            }
        }
    }
    
    /* Flat card design */
    &.c-card--flat.c-card--none {
        .c-card__header {
            padding-left: 0;
            padding-right: 0;
        }
    }

    &.c-card--flat {
        background: none;
        border: none;
        filter: none;

        &:active,
        &:visited, 
        &:hover {
            background: none;
            border: none;
            filter: none;
        }
    
        .c-card__body {
            padding-left: 0;
            padding-right: 0; 
        }

        .c-card__header,
        .c-card__content-after {
            padding: 0
        }
    }
    //end flat card design

    &--svg-background {
        .c-card__image-background {
            background-size: clamp(#{var_default.$base} * 3, 50%, #{var_default.$base} * 8);
            background-repeat: no-repeat;
            background-color: $c-card-image-background-color;
        }   
    }
    
    .c-card__paint-container {
        @container (min-width: 500px) {
            display: flex;
            flex-wrap: wrap;
            flex-direction: row;
            .c-card__body {
                padding: map.get(var_default.$spacers, '4');
            }
            .c-card__footer {
                flex: 1;
            }
            .c-card__image-background {
                height: 100%;
            }
            .c-card__image-container {
                flex-basis: 30%;
            }
            .c-card__image-container + .c-card__body {
                flex-basis: calc(100% - 30%);
            }
        }
    }
}

/* Add hover effect */
a.c-card {
    text-decoration: none;
    color: inherit;
    
    .c-card__image:before {
        content: '';
        @include cover.cover();
        transition: opacity 200ms;
        height: 100%;
        width: 100%;
        background: var_colors.$color-lighter;
        opacity: 0;
        z-index: var_properties.$level-1;
    }
    
    &:hover {
        filter: var_properties.$drop-shadow-3;
        background-color: var_colors.$color-lightest;
        color: inherit;
        transform: translateY(calc( 0px - #{var_default.$base} * 0.25 ));
        transition: all 200ms ease-out;
        
        .c-card__heading {
            text-decoration: underline;
        }
        
        .c-card__image:before {
            opacity: 0.08;
        }
    }
    
    &:focus {
        background-color: var_colors.$color-code-background-focus;

        .c-card__image-container {
            &:before {
                opacity: 0.2;
            }
        }
    }
}           

/* Adaptions for in grid without gutter */
.o-grid--no-gutter > [class*="o-grid-"] .c-card,
.o-grid--no-gutter > [class*="o-grid-"] .c-card [class*="c-card"], 
.o-grid--no-gutter > [class*="o-grid-"] .c-card [class*="c-card"]:after {
    border-radius: unset;
    filter: none; 
}