@use "../mixin/cover";
@use "../mixin/focus";
@use "../mixin/tokens";

/* Component name */
$_: "c-card";

/* Design tokens */
@include tokens.create($_, (
    "border-radius",
    "space",
    "color--surface",
    "color--primary"
), (
    "base": "var(--base)",
    "border-width": "var(--border-width-card, 0px)",
    "border-color": "var(--color-border-card, var(--color--surface))",
    "border-width-divider": "var(--border-width-divider, 1px)",
    "border-color-divider": "var(--color-border-divider, rgba(0,0,0,.1))",
    "shadow": "var(--drop-shadow-2)",
    "shadow-hover": "var(--drop-shadow-3)",
    "level-1": "1000",
    "level-3": "3000",
    "image-bg": "var(--color-complementary-1, #e5e5e5)",
    "image-bg-svg": "var(--color--secondary)",
    "color-white": "var(--color--white-100)",
    "color-black": "var(--color--black-100)"
));

/* Component */
.#{$_} {
    container-type: inline-size;
    filter: tokens.get($_, "shadow");
    will-change: filter;
    display: flex;
    flex-direction: column;
    position: relative;
    background-color: tokens.get($_, "color--surface");
    color: tokens.get($_, "color--surface-contrast");
    border-radius: tokens.use($_, "border-radius");
    corner-shape: tokens.get($_, "corner-shape");
    transition: all 200ms ease-in;
    border: tokens.get($_, "border-width") solid tokens.get($_, "border-color");

    .#{$_}__paint-container {
        contain: paint;
        border-radius: inherit;
        display: inherit;
        flex-direction: inherit;
        flex-wrap: wrap;
        height: inherit;

        > * {
            width: 100%;
        }
    }

    .#{$_}__header {
        width: 100%;
    }

    .#{$_}__header,
    .#{$_}__body,
    .#{$_}__content-after {
        overflow-wrap: break-word;
        hyphens: auto;
        padding: tokens.use($_, "space", 2);
    }

    .#{$_}__content:not(:first-child) {
        margin-top: tokens.use($_, "space");
    }

    .#{$_}__footer {
        overflow-wrap: break-word;
        hyphens: auto;
        padding: tokens.use($_, "space", 2);
        margin-top: auto;
        border-top: tokens.get($_, "border-width-divider") solid tokens.get($_, "border-color-divider");
    }

    .#{$_}__body {
        display: grid;
        padding-top: tokens.use($_, "space", 3);
        padding-bottom: tokens.use($_, "space", 3);
        gap: tokens.use($_, "space", 0.5);
        align-content: center;

        > :first-child {
            margin-top: 0;
        }
    }

    .#{$_}__image {
        background-color: tokens.get($_, "image-bg");
        border-radius: 0;

        .c-image__image {
            border-radius: inherit;
        }
    }

    &__title {
        &-expand-button {
            float: right;

            &[aria-pressed='true'] {
                transform: rotate(180deg);
                transition-timing-function: ease-in-out;
            }
        }
    }

    &__date {
        display: flex;
        gap: tokens.use($_, "space", 0.5);
        align-items: center;
        margin-top: tokens.use($_, "space", 0.5);
    }

    &__dropdown {
        position: absolute;
        top: 0;
        right: 0;

        &--white .c-button {
            color: tokens.get($_, "color-white");
        }

        &--black .c-button {
            color: tokens.get($_, "color-black");
        }
    }

    &__dropdown .c-button:hover,
    &__dropdown .c-button:focus {
        background-color: unset;
    }

    /* Image aspect ratio */
    .#{$_}__image-container {
        position: relative;
        width: 100%;
        contain: paint;
    }

    &.#{$_}--ratio-1-1 .#{$_}__image-container { aspect-ratio: 1 / 1; }
    &.#{$_}--ratio-16-9 .#{$_}__image-container { aspect-ratio: 16 / 9; }
    &.#{$_}--ratio-4-3 .#{$_}__image-container { aspect-ratio: 4 / 3; }
    &.#{$_}--ratio-10-3 .#{$_}__image-container { aspect-ratio: 10 / 3; }
    &.#{$_}--ratio-36-7 .#{$_}__image-container { aspect-ratio: 36 / 7; }

    .#{$_}__floating {
        position: absolute;
        right: tokens.get($_, "base");
        top: tokens.get($_, "base");
        z-index: tokens.get($_, "level-3");
    }

    .#{$_}__content-after {
        margin-top: auto;
    }

    &--focus-inset:focus {
        @include focus.focus-inset(tokens.use($_, "border-radius"));
    }

    &__header .c-icon {
        vertical-align: top;

        & ~ :is(h1, h2, h3, h4, h5, h6) {
            display: inline;
        }
    }

    .#{$_}__explicit-link {
        font-weight: 700;
    }

    /* Appearance modifiers */

    &--outline {
        border: tokens.get($_, "border-width") solid;
    }

    &--highlight {
        .#{$_}__header,
        .#{$_}__body {
            border-left: tokens.get($_, "base") solid tokens.get($_, "color--primary");
        }
    }

    &--accented {
        .#{$_} {
            margin-bottom: tokens.get($_, "base");
        }
        .#{$_}__header {
            border-bottom: calc(#{tokens.get($_, "base")} / 2) solid tokens.get($_, "color--primary");
            background: tokens.get($_, "color-white");
        }
        .c-typography {
            color: tokens.get($_, "color-black");
        }
    }

    &--panel {
        .#{$_}__header {
            background: tokens.get($_, "color--primary");
            color: tokens.get($_, "color--primary-contrast");
            * {
                color: tokens.get($_, "color--primary-contrast");
            }

            i, h4 {
                display: inline-block;
                vertical-align: middle;
            }

            h4 {
                margin-top: 0;
            }
        }

        &.#{$_}--flat .#{$_}__header {
            padding: tokens.use($_, "space", 2);
        }
    }

    &--collapse {
        visibility: hidden;
        max-height: 0;
        height: 0;
        padding: 0;
    }

    .#{$_}__datebadge {
        position: absolute;
        margin: tokens.use($_, "space", 2);
    }

    &.#{$_}--has-datebadge {
        .#{$_}__datebadge {
            margin: 0;
            left: tokens.use($_, "space", 2);
            top: tokens.use($_, "space", 2);
        }

        &:not(.#{$_}--has-image) {
            .#{$_}__heading-container,
            .#{$_}__content {
                padding-left: tokens.use($_, "space", 9.5);
            }
        }
    }

    &.#{$_}--flat.#{$_}--none .#{$_}__header {
        padding-left: 0;
        padding-right: 0;
    }

    &.#{$_}--flat {
        background: none;
        border: none;
        filter: none;

        &:active,
        &:visited,
        &:hover {
            background: none;
            border: none;
            filter: none;
        }

        .#{$_}__body {
            padding-left: 0;
            padding-right: 0;
        }

        .#{$_}__header,
        .#{$_}__content-after {
            padding: 0;
        }
    }

    &--svg-background {
        .#{$_}__image-background {
            background-size: clamp(#{tokens.get($_, "base")} * 3, 50%, #{tokens.get($_, "base")} * 8);
            background-repeat: no-repeat;
            background-color: tokens.get($_, "image-bg-svg");
        }
    }

    .#{$_}__paint-container {
        @container (min-width: 500px) {
            display: flex;
            flex-wrap: wrap;
            flex-direction: row;
            .#{$_}__body {
                padding: tokens.use($_, "space", 4);
            }
            .#{$_}__footer {
                flex: 1;
            }
            .#{$_}__image-background {
                height: 100%;
            }
            .#{$_}__image-container {
                flex-basis: 30%;
            }
            .#{$_}__image-container + .#{$_}__body {
                flex-basis: calc(100% - 30%);
            }
        }
    }
}

/* Hover effect for linked cards */
a.#{$_} {
    text-decoration: none;

    .#{$_}__image:before {
        content: '';
        @include cover.cover();
        transition: opacity 200ms;
        height: 100%;
        width: 100%;
        background: tokens.get($_, "color--surface-contrast");
        opacity: 0;
        z-index: tokens.get($_, "level-1");
    }

    &:hover {
        filter: tokens.get($_, "shadow-hover");
        background-color: color-mix(in srgb, #{tokens.get($_, "color--surface-contrast")} 10%, #{tokens.get($_, "color--surface")});
        transform: translateY(calc(0px - #{tokens.get($_, "base")} * 0.25));
        transition: all 200ms ease-out;

        .#{$_}__heading {
            text-decoration: underline;
        }

        .#{$_}__image:before {
            opacity: 0.08;
        }
    }

    &:focus {
        background-color: color-mix(in srgb, #{tokens.get($_, "color--surface-contrast")} 6%, #{tokens.get($_, "color--surface")});

        .#{$_}__image-container:before {
            opacity: 0.2;
        }
    }
}

/* Grid without gutter */
.o-grid--no-gutter > [class*="o-grid-"] .#{$_},
.o-grid--no-gutter > [class*="o-grid-"] .#{$_} [class*="#{$_}"],
.o-grid--no-gutter > [class*="o-grid-"] .#{$_} [class*="#{$_}"]:after {
    border-radius: unset;
    filter: none;
}
