.c-card {
    @include shadow(2); 
    position: relative;
    background-color: $color-white;
    transition: box-shadow 200ms, background-color 200ms; 
    border-radius: 12.5px;
    overflow: hidden;

    &--panel {
        .c-card__header {
            background: $color-primary;
            color: $color-white;
            * {color: $color-white;}
        }
    }

    &__header,
    &__body,
    &__footer
    {
        padding: map-get($spacers, "2"); 
    }

    &__body {
        padding-top: map-get($spacers, "3");
        padding-bottom: map-get($spacers, "3");
    }

    &__body > *:first-child {
        margin-top: 0;
    }
    &__body > *:last-child {
        margin-bottom: 0;
    }

    &__footer {
        border-top: 1px solid $color-lighter;
    }

    &__image + &__title + &__body {
        margin-top: map-get($spacers, "2"); 
    }

    &__image {
        background-color: $color-default;

        &--primary {
            background-color: $color-primary;
        }

        &--secondary {
            background-color: $color-secondary;
        }

        &--default {
            background-color: $color-default;
        }

        &-background {
            width: 100%;
            height: 200px;
            background-size: cover;
            background-repeat: no-repeat;

            &--padded {
                width:auto;
                background-size: contain;
                background-position: center;
                background-origin: content-box;
                padding: map-get($spacers, "5" );
            }

        }

        &>.c-image>img {
            box-sizing: border-box;
            height: 200px;
            border-radius: 0;
            margin: 0 auto;
        }

        &>figure>.c-image__image {
            width: unset;
        }

        &--padded>.c-image>img {
            padding:10%;
        }

    }

    &__title {
        &-expand-button {
            float:right;

            &[aria-pressed="true"] {
                transform: rotate(180deg);
                transition-timing-function: ease-in-out;
            }
        }
    }

    &__dropdown {
        position: absolute;
        top: 0;
        right: 0;

        &--white .c-button {
            color: $color-white;
        }

        &--black .c-button {
            color: $color-black;
        }
    }

    &__dropdown .c-button:hover {
        background-color: unset;
    }

    &__dropdown .c-button:focus {
        background-color: unset;
    }

    &--collapse {
        visibility:hidden;
        max-height: 0px;
        height: 0px;
        padding: 0px;
    }
}

a.c-card {
    display: block;
    text-decoration: none;
    color: inherit; 

    &:hover {
        @include shadow(4);
        background-color: $color-code-background;
        color: inherit;

        .c-card__heading {
            text-decoration: underline;
        }

        .c-card__header,
        .c-card__body {
            background: $color-lightest;
        }

        .c-card__image {
            position: relative;

            &:before {
                transition: opacity 200ms;
                content: '';
                height: 100%;
                width: 100%;
                position: absolute;
                background: $color-lighter;
                opacity: 0.08
            }
        }
    }

    &:focus {
        background-color: darken($color-code-background, 2%);
        .c-card__image {
            &:before {
                opacity: 0.20
            }
        }
    }
}