.c-card {
    position: relative;
    background-color: $color-white;
    min-width:280px;
    max-width: max-content;
    width:100%;
    box-shadow: 0px 6px 8px rgba(98, 98, 98, 0.18), 0px 2px 2px rgba(98, 98, 98, 0.18), 0px 0px 2px rgba(98, 98, 98, 0.18);
    border-radius: 12.5px;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto auto auto auto;
    grid-template-areas:
    "title"
    "image"
    "body"
    "footer"
    ;

    &__image {
        background-color: $color-default;

        &--primary{
            background-color: $color-primary;
        }

        &--secondary{
            background-color: $color-secondary;
        }

        &--default{
            background-color: $color-default;
        }
        
        &-background{
            width: 100%;
            height: 200px;
            background-size: cover;
            background-repeat: no-repeat;

            &--padded{
                width:auto;
                background-size: contain;
                background-position: center;
                background-origin: content-box;
                padding: map-get($spacers, "5" );
            }
            
        }

        & > .c-image > img{
            box-sizing: border-box;
            height: 200px;
            border-radius: 0;
            margin: 0 auto;
        }

        & > figure > .c-image__image{
            width: unset;
        }
    
        &--padded > .c-image > img{
            padding:10%;
        }

    }

    &__title{
        grid-area: title;
        padding: 20px 20px 10px;
        
        & h4{
            margin:0;
        }

        &-headings{
            word-break: break-all;
            display:inline-block;
        }

        &-expand-button{
            float:right;

            &[aria-pressed="true"]{
                transform: rotate(180deg);
                transition-timing-function: ease-in-out;
            }
        }
    
    }
    
    &__body{
        padding: 10px 20px;
        grid-area: body;
        height: auto;
    }

    &__footer{
        padding: 28px 30px;
        grid-area: footer;
    }

    &__dropdown{
        position: absolute;
        top: 0;
        right: 0;

        &--white .c-button{
            color: $color-white;
        }

        &--black .c-button{
            color: $color-black;
        }
    }

    &__dropdown .c-button:hover{
        background-color: unset;
    }

    &__dropdown .c-button:focus{
        background-color: unset;
    }

    &--image-first {
        & > .c-card__image > .c-card__image-background{
            width: 100%;
            height: 200px;
            border-radius: 12.5px 12.5px 0 0;
            
        }
        & > .c-card__image{
            border-radius: 12.5px 12.5px 0 0;
        }
        grid-template-rows: auto auto auto auto;
        grid-template-areas:
        "image"
        "title"
        "body"
        "footer"
        ;
    }

    &--collapse{
        visibility:hidden;
        max-height: 0px;
        height: 0px;
    }
}