$c-card-color-background: var(--c-card-color-background, $color-background-card) !default;
$c-card-border-radius: var(--c-card-border-radius, $border-radius-lg) !default;

$c-card-border-width: var(--c-card-border-width, $border-width-card) !default;
$c-card-border-color: var(--c-card-border-color, $color-border-card) !default;

$c-card-border-width-outline: var(--c-card-border-width-outline, $border-width-outline) !default;
$c-card-border-color-outline: var(--c-card-border-color-outline, $color-border-outline) !default;

$c-card-border-width-divider: var(--c-card-border-width-divider, $border-width-divider) !default;
$c-card-border-color-divider: var(--c-card-border-color-divider, $color-border-divider) !default;

$c-card-image-background-color: var(--c-card-image-background-color, $color-secondary) !default;

.c-card {

    filter: $drop-shadow-2;
    will-change: filter;
    display: flex;
    flex-direction: column;
    position: relative;
    background-color: $c-card-color-background;
    border-radius: $c-card-border-radius;
    transition: all 200ms ease-in;
    border: $c-card-border-width solid $c-card-border-color;

    & > *:first-child  {
        border-top-left-radius: $c-card-border-radius;
        border-top-right-radius: $c-card-border-radius;

        .c-card__image-background {
            border-top-left-radius: $c-card-border-radius;
            border-top-right-radius: $c-card-border-radius;
        }
    } 

    & > *:last-child  {
        border-bottom-left-radius: $c-card-border-radius;
        border-bottom-right-radius: $c-card-border-radius;
    }

    /* Sub objects */ 
    .c-card__header,
    .c-card__body,
    .c-card__content-after {
        overflow-wrap: break-word;
        hyphens: auto;
        padding: map-get($spacers, '2');
    }

    .c-card__content:not(:first-child) {
        margin-top: map-get($spacers, '1');
    }
    
    .c-card__footer {
        overflow-wrap: break-word;
        hyphens: auto;
        padding: map-get($spacers, '2');
        margin-top: auto;
    }
    
    .c-card__body {
        display: grid;
        padding-top: map-get($spacers, '3');
        padding-bottom: map-get($spacers, '3');
        gap: map-get($spacers, '05');
        align-content: center;

        :first-child {
            margin-top: 0;
        }
    }
    
    .c-card__footer {
        border-top: $c-card-border-width-divider solid $c-card-border-color-divider;
    }
    
    .c-card__image {
        background-color: $color-card-image-background;
        border-radius: inherit;
        .c-image__image {
            border-radius: inherit;
        }
    }
    
    &__title {
        &-expand-button {
            float: right;
            
            &[aria-pressed='true'] {
                transform: rotate(180deg);
                transition-timing-function: ease-in-out;
            }
        }
    }
    
    &__date {
        display: flex;
        gap: calc(#{$base} * 0.5);
        align-items: center;
        margin-top: calc(#{$base} * 0.5);
    }
    
    &__dropdown {
        position: absolute;
        top: 0;
        right: 0;
        
        &--white .c-button {
            color: $color-white;
        }
        
        &--black .c-button {
            color: $color-black;
        }
    }
    
    &__dropdown .c-button:hover {
        background-color: unset;
    }
    
    &__dropdown .c-button:focus {
        background-color: unset;
    }
    
    /* Image aspect ratio */
    .c-card__image-container {
        position: relative;
        width: 100%;
        overflow: hidden;
    }

    
    &.c-card--ratio-1-1 {
        .c-card__image-container {
            aspect-ratio: 1 / 1;
        }
    }
    
    &.c-card--ratio-16-9 {
        .c-card__image-container {
            aspect-ratio: 16 / 9;
        }
    }
    
    &.c-card--ratio-4-3 {
        .c-card__image-container {
            aspect-ratio: 4 / 3;
        }
    }
    
    &.c-card--ratio-10-3 {
        .c-card__image-container {
            aspect-ratio: 10 / 3;
        }
    }
    
    &.c-card--ratio-36-7 {
        .c-card__image-container {
            aspect-ratio: 36 / 7;
        }
    }

    /* Floating items top right corner (on image) */
    .c-card__floating {
        position: absolute;
        right: $base;
        top: $base;
        z-index: $level-3;
    }

    .c-card__content-after {
        height: 100%;
    }

    /* Focus highlight */
    &--focus-inset:focus {
        @include focus-inset($c-card-border-radius);
    }
 
    /* Icons in headline */ 
    &__header .c-icon {
        vertical-align: top;

        & ~ :is(h1, h2, h3, h4, h5, h6) {
            display: inline;
        }
    }

    /* Apperance modifiers */

    &--outline {
        border: $c-card-border-width solid;
    }

    &--highlight {
        .c-card__header,
        .c-card__body {
            border-left: $base solid $color-primary;
        }
    }

    &--accented {
        .c-card {
            margin-bottom: $base;
        }
        .c-card__header {
            border-bottom: calc(#{$base} / 2) solid $color-primary;
            background: $color-white;
        }
        .c-typography {
            color: $color-black;
        }
    }

    &--panel {
        .c-card__header {
            background: $color-primary;
            color: $color-white;
            * {
                color: $color-white;
            }
            
            i, h4 {
                display: inline-block;
                vertical-align: middle;
            }
            
            h4 {
                margin-top: 0px;
            }
        }
        
        &.c-card--flat {
            .c-card__header {
                padding: map-get($spacers, '2');
            }
        }
    }

    &--collapse {
        visibility: hidden;
        max-height: 0px;
        height: 0px;
        padding: 0px;
    }

    /* Datebadge */ 
    .c-card__datebadge {
        position: absolute;
        margin: calc($base * 2);
    }

    &.c-card--has-datebadge {
        .c-card__datebadge {
            margin: 0;
            left: calc($base * 2);
            top: calc($base * 2);
        }

        &:not(.c-card--has-image) {

            .c-card__heading-container,
            .c-card__content {
                padding-left: calc($base * 9.5);
            }
        }

        &:not(.c-card--has-image):not(.c-card--size-xs) {

            .c-card__heading-container,
            .c-card__content {
                padding: 0;
            }

            .c-card__heading-container {
                padding-top: calc($base * 8.5);
            }
        }
    }
    
    
    
    /* Flat card design */
    &.c-card--flat.c-card--none {
        .c-card__header {
            padding-left: 0;
            padding-right: 0;
        }
    }

    &.c-card--flat {
        background: none;
        border: none;
        filter: none;

        &:active,
        &:visited, 
        &:hover {
            background: none;
            border: none;
            filter: none;
        }

        & > *:first-child  {
            border-radius: $c-card-border-radius;
            will-change: filter;
            
            .c-card__image-background {
                border-radius: $c-card-border-radius;
            }

        }
        
        &.c-card__video, &.c-card__map {
            .c-card__header {
                border-radius: $c-card-border-radius $c-card-border-radius 0 0;
            }
        }
    
        &.c-card--size-sm {
            .c-card__body {
                padding-left: map-get($spacers, '4' );
            }
        }

        .c-card__body {
            padding-left: 0;
            padding-right: 0; 
        }

        .c-card__header,
        .c-card__content-after {
            padding: 0
        }

        @include mq(map_get($breakpoints-map, "md")) {
            &.c-card--size-sm,
            &.c-card--size-md,
            &.c-card--size-lg {
                .c-card__image, .c-card__image-background {
                    order: 2;
                    border-radius: $c-card-border-radius;
                }
                .c-card__body {
                    padding: 0 map-get($spacers, '4');
                }
            }
        }
    }
    //end flat card design


    /* TODO: CHANGE */ 
    &--svg-background {
        .c-card__image-background {
            background-size: clamp(#{$base} * 3, 50%, #{$base} * 8);
            background-repeat: no-repeat;
            background-color: $c-card-image-background-color;
        }   
    }
    
    &--size-sm,
    &--size-md,
    &--size-lg {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        
        .c-card__body {
            padding: map-get($spacers, '4');
        }
        
        .c-card__footer {
            flex: 1;
        }
        
        .c-card__image-background {
            height: 100%;
        }
        
        .c-card__image, .c-card__image-background {
            border-radius: $c-card-border-radius $c-card-border-radius 0 0;
        }
        
    }

    &--size-sm.c-card--size-xs {
        & > *:first-child {
            .c-card__image-background {
                border-top-right-radius: 0;
            }
        }
        
        & .c-card__image-container + .c-card__body {
            border-bottom-left-radius: 0;
        }
    }

    &--size-sm .c-card__image, &--size-sm .c-card__image-background {
        flex-basis: 200px;
        border-radius: $c-card-border-radius 0 0 $c-card-border-radius;
    }

    &--size-sm .c-card__image-container {
        flex-basis: 200px;
    }
    
    &--size-sm .c-card__image-container + .c-card__body {
        flex-basis: calc(100% - 200px);
    }
    
    &--size-md .c-card__image-container {
        flex-basis: 300px;
    }
    
    &--size-md .c-card__image-container + .c-card__body {
        flex-basis: calc(100% - 300px);
    }
    
    &--size-lg .c-card__image-container {
        flex-basis: 30%;
    }
    
    &--size-lg .c-card__image-container + .c-card__body {
        flex-basis: calc(100% - 30%);
    }
}

/* Add hover effect */
a.c-card {
    text-decoration: none;
    color: inherit;
    
    .c-card__image:before {
        content: '';
        @include cover();
        transition: opacity 200ms;
        height: 100%;
        width: 100%;
        background: $color-lighter;
        opacity: 0;
        z-index: $level-1;
    }
    
    &:hover {
        filter: $drop-shadow-3;
        background-color: $color-lightest;
        color: inherit;
        transform: translateY(calc( 0px - #{$base} * 0.25 ));
        transition: all 200ms ease-out;
        
        .c-card__heading {
            text-decoration: underline;
        }
        
        .c-card__image:before {
            opacity: 0.08;
        }
    }
    
    &:focus {
        background-color: $color-code-background-focus;

        .c-card__image-container {
            &:before {
                opacity: 0.2;
            }
        }
    }
}           

/* Adaptions for in grid without gutter */
.o-grid--no-gutter > [class*="o-grid-"] .c-card,
.o-grid--no-gutter > [class*="o-grid-"] .c-card [class*="c-card"], 
.o-grid--no-gutter > [class*="o-grid-"] .c-card [class*="c-card"]:after {
    border-radius: unset;
    filter: none; 
}

@include mq(map_get($breakpoints-map, "md")) {
    .c-card {
        &--size-sm,
        &--size-md,
        &--size-lg {
            .c-card__image-container {
                order: 1;
                border-radius: 0 $c-card-border-radius $c-card-border-radius 0;
            }
            
            .c-card__body {
                order: 3;
            }

            .c-card__footer {
                flex: 0 0 100%;
                order: 3;
            }
        }
    }
}
       

@media print {
    .c-card__body {
        padding: 10px 0 0;
        margin: 0px;
    }

    .c-card--panel .c-card__header {
        background: none;
        border-bottom: 3px solid #ae0b05;
        padding-left: 0px;
    }

    .c-card__footer,
    .c-card__image-container {
        display: none;
    }
}