.c-card {
    @include shadow(2);
    display: block;
    position: relative;
    background-color: $color-white;
    border-radius: $border-radius-lg;
    overflow: hidden;

    &--highlight {
        .c-card__header,
        .c-card__body,
        .c-card__footer {
            border-left: $base solid $color-primary;
        }
    }

    &--accented {
        .c-card {
            margin-bottom: $base;
        }
        .c-card__header {
            border-bottom: calc(#{$base} / 2) solid $color-primary;
            background: $color-white;
        }
        .c-typography {
            color: $color-black;
        }
    }

    &--size-sm,
    &--size-md,
    &--size-lg {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;

        .c-card__body {
            padding: map-get($spacers, '4');
        }

        .c-card__footer {
            flex: 1;
        }

        .c-card__image-background {
            height: 100%;
        }
    }

    &--size-sm .c-card__image {
        flex-basis: 250px;
    }

    &--size-sm .c-card__body {
        flex-basis: calc(100% - 250px);
    }

    &--size-md .c-card__image {
        flex-basis: 300px;
    }

    &--size-md .c-card__body {
        flex-basis: calc(100% - 300px);
    }

    &--size-lg .c-card__image {
        flex-basis: 30%;
    }

    &--size-lg .c-card__body {
        flex-basis: calc(100% - 30%);
    }

    &--panel {
        .c-card__header {
            background: $color-primary;
            color: $color-white;
            * {
                color: $color-white;
            }

            i, h4 {
                display: inline-block;
                vertical-align: middle;
            }

            h4 {
                margin-top: 0px;
            }
        }
    }

    &--square-image {
        .c-card__image {
            .c-card__image-background {
                @include ratio(1, 1, false);
            }
        }
    }

    &__header,
    &__body,
    &__footer {
        word-break: break-word;
        hyphens: auto;
        padding: map-get($spacers, '2');
    }

    &__body {
        padding-top: map-get($spacers, '3');
        padding-bottom: map-get($spacers, '3');
    }

    &__body > *:first-child {
        margin-top: 0;
    }
    &__body > *:last-child {
        margin-bottom: 0;
    }

    &--action {
        .c-card__body {
            position: relative;
            padding-right: map-get($spacers, '5');
        }
        .c-card__action {
            position: absolute;
            top: 50%;
            right: map-get($spacers, '2');
            transform: translateY(-50%);
            color: $color-light;
        }
    }

    &__footer {
        border-top: 1px solid $color-lighter;
    }

    &__image + &__title + &__body {
        margin-top: map-get($spacers, '2');
    }

    &__image {
        background-color: $color-card-image-background;

        &--primary {
            background-color: $color-primary;
        }

        &--secondary {
            background-color: $color-secondary;
        }

        &--default {
            background-color: $color-card-image-background;
        }

        &-background {
            width: 100%;
            @include ratio(16, 9, false);
            background-size: cover;
            background-repeat: no-repeat;

            &--padded {
                width: auto;
                background-size: contain;
                background-position: center;
                background-origin: content-box;
                padding: map-get($spacers, '5');
                min-height: 200px;
            }
        }

        & > .c-image > img {
            box-sizing: border-box;
            height: 200px;
            border-radius: 0;
            margin: 0 auto;
        }

        & > figure > .c-image__image {
            width: unset;
        }

        &--padded > .c-image > img {
            padding: 10%;
        }
    }

    &__title {
        &-expand-button {
            float: right;

            &[aria-pressed='true'] {
                transform: rotate(180deg);
                transition-timing-function: ease-in-out;
            }
        }
    }

    &__dropdown {
        position: absolute;
        top: 0;
        right: 0;

        &--white .c-button {
            color: $color-white;
        }

        &--black .c-button {
            color: $color-black;
        }
    }

    &__dropdown .c-button:hover {
        background-color: unset;
    }

    &__dropdown .c-button:focus {
        background-color: unset;
    }

    &--collapse {
        visibility: hidden;
        max-height: 0px;
        height: 0px;
        padding: 0px;
    }
}

a.c-card {
    text-decoration: none;
    color: inherit;
    transition: transform 350ms ease-in-out, box-shadow 350ms ease-in-out,
        background-color 200ms ease-in-out;

    .c-card__image {
        overflow: hidden;
        position: relative;
    }

    .c-card__image:before {
        content: '';
        transition: opacity 200ms;
        height: 100%;
        width: 100%;
        position: absolute;
        background: $color-lighter;
        opacity: 0;
        z-index: $level-1;
    }

    .c-card__image-background {
        transition: transform 800ms;
    }

    &:hover {
        @include shadow(3);
        background-color: $color-code-background;
        color: inherit;
        transform: translateY(calc( 0px - #{$base} * 0.25 ));

        .c-card__heading {
            text-decoration: underline;
        }

        .c-card__header,
        .c-card__body {
            background: $color-lightest;
        }

        .c-card__image:before {
            opacity: 0.08;
        }
    }

    &:focus {
        background-color: $color-code-background-focus;
        .c-card__image {
            &:before {
                opacity: 0.2;
            }
        }
    }
}

@media print {
    .c-card__body {
        padding: 10px 0 0;
        margin: 0px;
    }

    .c-card--panel .c-card__header {
        background: none;
        border-bottom: 3px solid #ae0b05;
        padding-left: 0px;
    }

    .c-card__footer,
    .c-card__image-background,
    .c-card__image {
        display: none;
    }
}
