@use "sass:map";
@use "../setting/var_border-radius";
@use "../setting/var_colors";
@use "../setting/var_default";

.c-code {
    border-radius: var(--radius-md);
    corner-shape: var(--corner-shape);
    margin: 16px 0;
    overflow: hidden;

    .code-toolbar {
        overflow: auto;
        background-color: var(--color--lighter);
    }

    &__pre {
        margin: 0;
    }

    &__toggle {

        .c-button__toggle {
            color: var(--color--lighter);

            &[aria-pressed="true"] {
                color: var(--color--default-dimmed);

            }

            &:hover {
                color: var(--color--black);
            }
        }
    }
}

.markup-preview {
    padding: map.get(var_default.$spacers, "3");
    border-bottom: 0;
    border-radius: 5px;
}

.markup-preview--align-x {
    padding: map.get(var_default.$spacers, "3") 0;
}

div.code-toolbar>.toolbar a, div.code-toolbar>.toolbar button, div.code-toolbar>.toolbar span {

    @extend .c-button !optional;
    @extend .c-button__filled !optional;
    @extend .c-button__filled--primary !optional;
    @extend .c-button--sm !optional;

}

.toolbar-item {
    position: absolute;
    top: -40px;
    right: -3px;
}

.selected-components-loader {
    position:absolute;
    top:3px;
}

.selected-components {

    width:90%;

    .component-list {
        text-transform: uppercase;
        cursor: not-allowed;
        margin-right:10px;
        margin-bottom:10px;
        padding: 3px 8px;
        animation: componentListFadeIn 1s linear;
        animation-fill-mode: both;
        background:none;
    }

    .component-list .c-icon {
        margin-right: 3px;
        position: relative;
        top: 2px;
    }

    @for $i from 1 through 10 {

        .component-list:nth-child(#{$i}n) {
            animation-delay: #{$i * 0.1}s;
        }
    }

}
@keyframes componentListFadeIn {

    0% {
        opacity: 0;
    }

    70% {
        opacity: 0;
        transform: scale(1);
    }

    85% {
        opacity: 1;
        transform: scale(1.08);
    }

    100% {
        transform: scale(1);
    }
}

.breaklines {

    code {
        word-break: break-all;
    }

}

.c-button--copy-compiled-link {
    position: absolute;
    top: -40px;
    right: 0px;
}

.online-compiled-components {

    animation: componentListFadeIn 1s linear;
    animation-fill-mode: both;
    background-color: var(--color--lighter);
    padding:15px;

    #compiledCSS {
        display: block;
        word-break: break-all;
        font-family: Consolas, Monaco, "Andale Mono", "Ubuntu Mono", monospace;
        font-size: 1rem;
    }
}