@use "sass:map";
@use "../mixin/mq";
@use "../setting/var_border-radius";
@use "../setting/var_colors";
@use "../setting/var_default";
@use "../setting/var_fonts";
@use "../setting/var_properties";

/* Component CSS Variables */

/* Collection Spacing */
$c-collection-padding-x: var(--c-collection-padding-x, var(--spacing-sm));
$c-collection-padding-y: var(--c-collection-padding-y, var(--spacing-sm));
$c-collection-padding-x-compact: var(--c-collection-padding-x-compact, var(--spacing-sm));
$c-collection-padding-y-compact: var(--c-collection-padding-y-compact, var(--spacing-xs));

/* Collection Colors */
$c-collection-hover-background: var(--c-collection-hover-background, var(--color--light));
$c-collection-current-background: var(--c-collection-current-background, var(--color--primary));
$c-collection-text-color: var(--c-collection-text-color, var(--color--text));
$c-collection-date-background: var(--c-collection-date-background, var(--color--light));

/* Collection Borders */
$c-collection-border-radius: var(--c-collection-border-radius, var(--radius-md));
$c-collection-border-width: var(--c-collection-border-width, var(--border-width-thin));
$c-collection-border-color: var(--c-collection-border-color, var(--color--border));
$c-collection-divider-border-width: var(--c-collection-divider-border-width, var(--border-width-divider));
$c-collection-divider-border-color: var(--c-collection-divider-border-color, var(--color--border));

/* Collection Item */
$c-collection-item-border-width: var(--c-collection-item-border-width, var(--border-width-medium));
$c-collection-item-border-color: var(--c-collection-item-border-color, var(--color--border));
$c-collection-item-image-border-radius: var(--c-collection-item-image-border-radius, var(--radius-lg));
$c-collection-item-content-border-radius: var(--c-collection-item-content-border-radius, var(--radius-md));
$c-collection-item-background-color: var(--c-collection-item-background-color, var(--color--surface));

// Reset
.c-collection {
    --c-collection-padding-x-inset: calc(var(--c-collection-padding-x, var(--base, 8px) * 2) * 3.5);
    
    padding: 0;
    margin: 0;


    p {
        margin: 0;
    }
    a.c-collection__item--action {
        text-decoration: none;
    }
}

.c-collection {
    &.c-collection--bordered {
        border-radius: $c-collection-border-radius;
        corner-shape: var(--corner-shape);
        border-color: $c-collection-border-color;
        padding-top: var(--base);
        padding-bottom: var(--base);
        border: $c-collection-border-width solid;
    }

    // Item
    .c-collection__item {
        display: flex;
  
        &__floating {
            position: absolute;
            right: calc(var(--base) * 2.75);
            top: var(--base);
            z-index: var(--level-3);
            cursor: pointer;
        }

        .c-collection__item__before {
            display: flex;

            img {
                aspect-ratio: 1/1;
                border-radius: $c-collection-item-image-border-radius;
                corner-shape: var(--corner-shape);
                height: 100%;
                width: 100%;
                object-fit: cover;
                margin: 0;
                max-width: calc(var(--base) * 15);
                min-width: calc(var(--base) * 15);
            }

            .c-image {
                margin: 0;
            }

            .c-image.c-image--is-placeholder {
                img {
                    max-width: unset;
                    min-width: unset;
                }

                width: calc(var(--base) * 15);
                min-height: calc(var(--base) * 15);
            }
        }

        &.c-collection__item--bordered {
            padding: calc(var(--base) * 3) 0;
            border-bottom: $c-collection-item-border-width solid $c-collection-item-border-color;
            border-top: $c-collection-item-border-width solid $c-collection-item-border-color;
            margin-top: calc($c-collection-item-border-width * -1);
        }

        &.c-collection__item--icon-last {
            .c-collection__icon {
                order: 5;
            }

            .c-collection__content {
                padding-left: var(--c-collection-padding-x, calc(var(--base, 8px) * 2));
            }
        }
    }

    .c-collection__item.is-current {
        background-color: $c-collection-current-background;
        color: var(--color--white);
    }

    // Divider
    .c-collection__divider {
        border: none;
        border-top: $c-collection-divider-border-width solid;
        border-color: $c-collection-divider-border-color;
        margin-top: var(--base);
        margin-bottom: var(--base);
    }

    // Fix single 1px messing up vertical rythm
    .c-collection__divider + * {
        margin-top: -1px;
    }

    .c-collection__divider.c-collection__divider--inset {
        margin-left: var(--c-collection-padding-x-inset);
    }

    // Content
    .c-collection__content {
        flex: 1 1 auto;
        padding: $c-collection-padding-y $c-collection-padding-x;

        & > *:first-child {
            margin-top: 0;
        }
        & > *:last-child {
            margin-bottom: 0;
        }
    }
    
    // Content Modifier - Multiline
    .c-collection__content.c-collection__content--icon {
        padding-right: calc(#{var(--base)} * 5);
        position: relative;
        .c-collection__secondary {
            position: absolute;
            top: calc(#{var(--base)} * 1.5);
            right: calc(#{var(--base)} * 2);
            float: none;
        }
    }

    // Secondary
    .c-collection__item > .c-collection__secondary {
        padding: $c-collection-padding-y $c-collection-padding-x;
        display: flex;
    }
    .c-collection__content .c-collection__secondary {
        float: right;
    }


    // Icon
    .c-collection__icon {
        padding: $c-collection-padding-y $c-collection-padding-x;
        display: flex;
    }

    .c-collection__icon + .c-collection__content {
        padding-left: 0;
    }
    
    // Links, Buttons etc
    .c-collection__action,
    .c-collection__item--action {

        &, a {
            color: $c-collection-text-color;
            .c-collection__content,
            .c-collection__icon {
                transition: transform 400ms;
            }

            .c-collection__icon {
                transition: transform 300ms;
            }
        }

        &:hover {
            &, a {
                color: $c-collection-text-color;
                background-color: $c-collection-hover-background;
                .c-collection__content,
                .c-collection__icon {
                    transform: translateX(calc(#{var(--base)} * 0.5)); 
                }
            }
        }
    }

    // Nested
    & .c-collection {
        padding-top: 0;
        padding-bottom: 0;
        padding-left: $c-collection-padding-x;
        border-top: none;
        border-right: none;
        border-bottom: none;
        border-left: none;
        display: none;
    }
}


// Modifiers - Bordered
.c-collection.c-collection--bordered {
    .c-collection__item {
        border-top: $c-collection-divider-border-width solid;
        border-color: $c-collection-divider-border-color;
    }
    
    .c-collection__item:first-child {
        border-top: none;
    }
}

// Defined to avoid code duplication.
@mixin collection-compact-styles($breakpoint: null) {
    $suffix: if($breakpoint, "-#{$breakpoint}", "");

    .c-collection.c-collection--compact#{$suffix} {
        @for $i from 1 through 6 {
            --h#{$i}-font-size: min(var(--h#{i}-font-size, 1rem), #{var_fonts.$font-size-base});
        }
        &.c-collection--bordered {
            padding-top: calc(var(--base) / 2);
            padding-bottom: calc(var(--base) / 2);
        }

        .c-collection__content,
        .c-collection__icon,
        .c-collection__item > .c-collection__secondary {
            padding: $c-collection-padding-y-compact $c-collection-padding-x-compact;
        }

        .c-collection__icon + .c-collection__content {
            padding-left: 0;
        }

        .c-collection__icon {
            --c-icon-size: calc(#{var(--base)} * 2);
            padding-right: calc(#{var(--base)} * .5);
            align-self: center;
        }
    }
}

// Applying the normal compact styles
@include collection-compact-styles();

// Applying the compact styles for each breakpoint
@each $breakpoint in map.keys(var_default.$breakpoints-map) {
    @include mq.mq($breakpoint) {
        @include collection-compact-styles($breakpoint);
    }
}

//Modifiers - Sharp edges
.c-collection.c-collection--sharp-top {
    border-radius: 0 0 $c-collection-border-radius $c-collection-border-radius;   
}

.c-collection.c-collection--sharp-bot {
    border-radius: $c-collection-border-radius $c-collection-border-radius 0 0;    

}
.c-collection.c-collection--sharp {
    border-radius: 0;
}

// Modifiers - unbox
.c-collection.c-collection--unbox {
    border: none;
    border-radius: 0;
    padding-top: 0;
    padding-bottom: 0;
}

// Modifiers - Nav
.c-collection.c-collection--nav {
    border-radius: 0;
    padding-top: 0;
    padding-bottom: 0;

    .c-collection__item {
        border-top: $c-collection-divider-border-width solid;
        border-color: $c-collection-divider-border-color;
    }
    
    .c-collection__item:first-child {
        border-top: none;
    }

    .c-collection__item .c-collection__secondary {
        display: flex;
        align-items: center;
    }
    .c-collection__item.is-open > .c-collection__secondary i {
        transform: rotate(180deg);
    }

    .c-collection__item.is-open + .c-collection {
        display: block;
    }

    .c-collection__item > .c-collection__secondary {
        border-left: $c-collection-divider-border-width solid;
    }

    .c-collection {
        border-radius: 0;
        padding-top: 0;
        padding-left: unset;
        border-left: solid var(--base) $c-collection-border-color;
        border-top: $c-collection-divider-border-width solid;
    }
}

.c-card {
    .c-collection {
        border: none;
    }
}

@media print {

    .c-collection {

        .c-collection__icon {
            display: none;
        }

        .c-collection__action:hover,
        .c-collection__action:hover a,
        a.c-collection__item.c-collection__item--action:hover,
        a.c-collection__item.c-collection__item--action:hover a,
        button.c-collection__item.c-collection__item--action:hover,
        button.c-collection__item.c-collection__item--action:hover a {
            background: transparent;
            transition: none;
        }
    }

    .o-container, .c-collection {
        display: unset;
        overflow: visible;
        page-break-before: avoid;
        page-break-inside: avoid;
        break-inside: avoid;
        break-before: avoid;
    }

}


$event-date-size:  56px;

.c-collection.c-collection--event {
    .c-collection__date {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: $event-date-size;
        height: $event-date-size;
        background-color: $c-collection-date-background;
    };

    .c-collection__divider.c-collection__divider--inset {
        margin-left: 96px;
    }

    .c-collection__date {
        font-weight: 500;

    }
    .c-collection__day {
        font-size: 20px;
        line-height: 1;
        margin-bottom: 6px;
    }

    .c-collection__day.c-collection__day--today,
    .c-collection__day.c-collection__day--range {
        font-size: 18px;
    }

    .c-collection__month {
        line-height: 1;
        font-size: 14px;
        text-transform: uppercase;
    }

    .c-collection__icon,
    .c-collection__secondary,
    .c-collection__content {
        align-self: flex-start;
    }

    .c-collection__content {
        h1, h2, h3, h4 {
            & + p {
                margin-top: 8px;
            }
        }

        p + p {
            margin-top: 4px;
        }
    }

    .c-collection__secondary  {
        text-align: right;
    }
}

