

$collection-padding-x: calc(#{$base} * 2) !default;
$collection-paddding-y: calc(#{$base} * 2) !default;
$collection-paddding-y-compact: calc(#{$base} * 0.75) !default;

$collection-compact-padding-x: $collection-padding-x !default;
$collection-compact-padding-y: $base !default;

$collection-border-color: var(--c-collection-border-color, $color-border-divider) !default;
$collection-border: solid 1px $collection-border-color !default;

$collection-hover-background: rgba(black, .05) !default;
$collection-hover-color: rgba(black, .1) !default;
$collection-hover-border: rgba(black, .1) !default;

$c-collection-border-radius: var(--c-collection-border-radius, $border-radius-md) !default;

$c-collection-border-width: var(--c-collection-border-width, $border-width-outline) !default;
$c-collection-border-color: var(--c-collection-border-color, $color-border-outline) !default;

$c-collection-divider-border-width: var(--c-collection-border-width, $border-width-divider) !default;
$c-collection-divider-border-color: var(--c-collection-border-color, $color-border-divider) !default;


// Reset
.c-collection {
    padding: 0;
    margin: 0;


    p {
        margin: 0;
    }
    a.c-collection__item--action {
        text-decoration: none;
    }
}

.c-collection {
    border-radius: $c-collection-border-radius;
    border: $c-collection-border-width solid;
    border-color: $c-collection-border-color;
    padding-top: $base;
    padding-bottom: $base;

    // Item
    .c-collection__item {
        display: flex;

        &:focus {
            outline: thick solid -webkit-focus-ring-color;
            outline-offset: 2px;
            box-shadow: 0 0 0 6px $color-white;
        }
    }

    .c-collection__item.is-current {
        background-color: $color-primary;
        color: white;
    }

    // Divider
    .c-collection__divider {
        border: none;
        border-top: $c-collection-divider-border-width solid;
        border-color: $c-collection-divider-border-color;
        margin-top: $base;
        margin-bottom: $base;
    }

    // Fix single 1px messing up vertical rythm
    .c-collection__divider + * {
        margin-top: -1px;
    }

    .c-collection__divider.c-collection__divider--inset {
        margin-left: calc(#{$collection-padding-x} * 3.5);
    }

    // Content
    .c-collection__content {
        flex: 1 1 auto;
        padding: $collection-paddding-y $collection-padding-x;

        & > *:first-child {
            margin-top: 0;
        }
        & > *:last-child {
            margin-bottom: 0;
        }
    }
    
    // Content Modifier - Multiline
    .c-collection__content.c-collection__content--icon {
        padding-right: calc(#{$base} * 5);
        position: relative;
        .c-collection__secondary {
            position: absolute;
            top: calc(#{$base} * 1.5);
            right: calc(#{$base} * 2);
            float: none;
        }
    }

    // Secondary
    .c-collection__item > .c-collection__secondary {
        padding: $collection-paddding-y $collection-padding-x;
        display: flex;
    }
    .c-collection__content .c-collection__secondary {
        float: right;
    }


    // Icon
    .c-collection__icon {
        padding: $collection-paddding-y $collection-padding-x;
        display: flex;
    }

    .c-collection__icon + .c-collection__content {
        padding-left: 0;
    }
    
    // Links, Buttons etc
    .c-collection__action,
    a.c-collection__item.c-collection__item--action,
    button.c-collection__item.c-collection__item--action {

        &, a {
            color: #000000;
            .c-collection__content,
            .c-collection__icon {
                transition: transform 400ms;
            }

            .c-collection__icon {
                transition: transform 300ms;
            }
        }
        
        &:hover {
            &, a {
                color: #000000;
                background-color: $collection-hover-background;
                .c-collection__content,
                .c-collection__icon {
                    transform: translateX(calc(#{$base} * 0.5)); 
                }
            }
        }
    }

    // Nested
    & .c-collection {
        padding-top: 0;
        padding-bottom: 0;
        padding-left: $collection-padding-x;
        border-top: none;
        border-right: none;
        border-bottom: none;
        border-left: none;
        display: none;
    }
}


// Modifiers - Bordered
.c-collection.c-collection--bordered {
    .c-collection__item {
        border-top: $c-collection-divider-border-width solid;
        border-color: $c-collection-divider-border-color;
    }
    
    .c-collection__item:first-child {
        border-top: none;
    }
}

// Modifiers - compact
.c-collection.c-collection--compact {
    .c-collection__content {
        padding: $collection-paddding-y-compact $collection-compact-padding-x;
    }
    .c-collection__content.c-collection__content--icon {
        .c-collection__secondary {
            top: calc(#{$base} * 1.5);
        }
    }

    // Secondary
    .c-collection__item > .c-collection__secondary {
        padding: $collection-paddding-y-compact $collection-compact-padding-x;
    }
    .c-collection__content .c-collection__secondary {
        float: right;
    }


    // Icon
    .c-collection__icon {
        padding: $collection-paddding-y $collection-padding-x;
        display: flex;
    }
}

//Modifiers - Sharp edges
.c-collection.c-collection--sharp-top {
    border-radius: 0 0 $c-collection-border-radius $c-collection-border-radius;   
}

.c-collection.c-collection--sharp-bot {
    border-radius: $c-collection-border-radius $c-collection-border-radius 0 0;    

}
.c-collection.c-collection--sharp {
    border-radius: 0;
}

// Modifiers - unbox
.c-collection.c-collection--unbox {
    border: none;
    border-radius: 0;
    padding-top: 0;
    padding-bottom: 0;
}

// Modifiers - Nav
.c-collection.c-collection--nav {
    border-radius: 0;
    padding-top: 0;
    padding-bottom: 0;

    .c-collection__item {
        border-top: $c-collection-divider-border-width solid;
        border-color: $c-collection-divider-border-color;
    }
    
    .c-collection__item:first-child {
        border-top: none;
    }

    .c-collection__item .c-collection__secondary {
        display: flex;
        align-items: center;
    }
    .c-collection__item.is-open > .c-collection__secondary i {
        transform: rotate(180deg);
    }

    .c-collection__item.is-open + .c-collection {
        display: block;
    }

    .c-collection__item > .c-collection__secondary {
        border-left: $c-collection-divider-border-width solid;
    }

    .c-collection {
        border-radius: 0;
        padding-top: 0;
        padding-left: unset;
        border-left: solid $base $collection-border-color;
        border-top: $c-collection-divider-border-width solid;
    }
}

.c-card {
    .c-collection {
        border: none;
    }
}

@media print {

    .c-collection {

        .c-collection__icon {
            display: none;
        }

        .c-collection__action:hover,
        .c-collection__action:hover a,
        a.c-collection__item.c-collection__item--action:hover,
        a.c-collection__item.c-collection__item--action:hover a,
        button.c-collection__item.c-collection__item--action:hover,
        button.c-collection__item.c-collection__item--action:hover a {
            background: transparent;
            transition: none;
        }
    }

    .o-container, .c-collection, c-collection__item {
        display: unset;
        overflow: visible;
        page-break-before: avoid;
        page-break-inside: avoid;
        break-inside: avoid;
        break-before: avoid;
    }

}


$event-date-size:  56px;

.c-collection.c-collection--event {
    .c-collection__date {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: $event-date-size;
        height: $event-date-size;
        background-color: rgba(black, 0.05);
    };

    .c-collection__divider.c-collection__divider--inset {
        margin-left: 96px;
    }

    .c-collection__date {
        font-weight: 500;

    }
    .c-collection__day {
        font-size: 20px;
        line-height: 1;
        margin-bottom: 6px;
    }

    .c-collection__day.c-collection__day--today,
    .c-collection__day.c-collection__day--range {
        font-size: 18px;
    }

    .c-collection__month {
        line-height: 1;
        font-size: 14px;
        text-transform: uppercase;
    }

    .c-collection__icon,
    .c-collection__secondary,
    .c-collection__content {
        align-self: flex-start;
    }

    .c-collection__content {
        h1, h2, h3, h4 {
            & + p {
                margin-top: 8px;
            }
        }

        p + p {
            margin-top: 4px;
        }
    }

    .c-collection__secondary  {
        text-align: right;
    }
}

