@use "sass:map";
@use "../mixin/mq";
@use "../setting/var_default";

// Reset
.c-collection {
    --c-collection-padding-x-inset: calc(var(--c-collection-padding-x, var(--base) * 2) * 3.5);
    
    padding: 0;
    margin: 0;


    p {
        margin: 0;
    }
    a.c-collection__item--action {
        text-decoration: none;
    }
}

.c-collection {
    &.c-collection--bordered {
        border-radius: var(--c-collection-border-radius, var(--radius-md, calc(var(--base) / 2)));
        border-color: var(--c-collection-border-color, var(--color-border-outline, #dadada));
        padding-top: var_default.$base;
        padding-bottom: var_default.$base;
        border: var(--c-collection-border-width, var(--border-width-outline, 1px)) solid;
    }

    // Item
    .c-collection__item {
        display: flex;
  
        &__floating {
            position: absolute;
            right: calc(var_default.$base * 2.75);
            top: var_default.$base;
            z-index: var(--level-3);
            cursor: pointer;
        }

        .c-collection__item__before {
            display: flex;

            img {
                aspect-ratio: 1/1;
                border-radius: var(--c-collection-card-border-radius, var(--radius-lg, calc(var(--base) / 2)));
                height: 100%;
                width: 100%;
                object-fit: cover;
                margin: 0;
                max-width: calc(var_default.$base * 15);
                min-width: calc(var_default.$base * 15);
            }

            .c-image {
                margin: 0;
            }

            .c-image.c-image--is-placeholder {
                img {
                    max-width: unset;
                    min-width: unset;
                }

                width: calc(var_default.$base * 15);
                min-height: calc(var_default.$base * 15);
            }
        }

        &.c-collection__item--bordered {
            padding: calc(var_default.$base * 3) 0;
            border-bottom: var(--c-collection-item-border-width, var(--border-width-medium, 2px)) solid var(--c-collection-item-border-color, #DCDCDC);
            border-top: var(--c-collection-item-border-width, var(--border-width-medium, 2px)) solid var(--c-collection-item-border-color, #DCDCDC);
            margin-top: calc(var(--c-collection-item-border-width, var(--border-width-medium, 2px)) * -1);
        }

        &.c-collection__item--icon-last {
            .c-collection__icon {
                order: 5;
            }

            .c-collection__content {
                padding-left: var(--c-collection-padding-x, calc(var(--base) * 2));
            }
        }
    }

    .c-collection__item.is-current {
        background-color: var(--color-primary, #ae0b05);
        color: white;
    }

    // Divider
    .c-collection__divider {
        border: none;
        border-top: var(--c-collection-border-width, var(--border-width-divider, 1px)) solid;
        border-color: var(--c-collection-border-color, var(--color-border-divider, #dadada));
        margin-top: var_default.$base;
        margin-bottom: var_default.$base;
    }

    // Fix single 1px messing up vertical rythm
    .c-collection__divider + * {
        margin-top: -1px;
    }

    .c-collection__divider.c-collection__divider--inset {
        margin-left: var(--c-collection-padding-x-inset);
    }

    // Content
    .c-collection__content {
        flex: 1 1 auto;
        padding: var(--c-collection-padding-y, calc(var(--base) * 2)) var(--c-collection-padding-x, calc(var(--base) * 2));

        & > *:first-child {
            margin-top: 0;
        }
        & > *:last-child {
            margin-bottom: 0;
        }
    }
    
    // Content Modifier - Multiline
    .c-collection__content.c-collection__content--icon {
        padding-right: calc(var(--base) * 5);
        position: relative;
        .c-collection__secondary {
            position: absolute;
            top: calc(var(--base) * 1.5);
            right: calc(var(--base) * 2);
            float: none;
        }
    }

    // Secondary
    .c-collection__item > .c-collection__secondary {
        padding: var(--c-collection-padding-y, calc(var(--base) * 2)) var(--c-collection-padding-x, calc(var(--base) * 2));
        display: flex;
    }
    .c-collection__content .c-collection__secondary {
        float: right;
    }


    // Icon
    .c-collection__icon {
        padding: var(--c-collection-padding-y, calc(var(--base) * 2)) var(--c-collection-padding-x, calc(var(--base) * 2));
        display: flex;
    }

    .c-collection__icon + .c-collection__content {
        padding-left: 0;
    }
    
    // Links, Buttons etc
    .c-collection__action,
    .c-collection__item--action {

        &, a {
            color: #000000;
            .c-collection__content,
            .c-collection__icon {
                transition: transform 400ms;
            }

            .c-collection__icon {
                transition: transform 300ms;
            }
        }
        
        &:hover {
            &, a {
                color: #000000;
                background-color: rgba(0, 0, 0, .05);
                .c-collection__content,
                .c-collection__icon {
                    transform: translateX(calc(var(--base) * 0.5));
                }
            }
        }
    }

    // Nested
    & .c-collection {
        padding-top: 0;
        padding-bottom: 0;
        padding-left: var(--c-collection-padding-x, calc(var(--base) * 2));
        border-top: none;
        border-right: none;
        border-bottom: none;
        border-left: none;
        display: none;
    }
}


// Modifiers - Bordered
.c-collection.c-collection--bordered {
    .c-collection__item {
        border-top: var(--c-collection-border-width, var(--border-width-divider, 1px)) solid;
        border-color: var(--c-collection-border-color, var(--color-border-divider, #dadada));
    }

    .c-collection__item:first-child {
        border-top: none;
    }
}

// Defined to avoid code duplication.
@mixin collection-compact-styles($breakpoint: null) {
    $suffix: if($breakpoint, "-#{$breakpoint}", "");

    .c-collection.c-collection--compact#{$suffix} {
        @for $i from 1 through 6 {
            --h#{$i}-font-size: min(var(--h#{i}-font-size, 1rem), var(--font-size-base, 1rem));
        }
        &.c-collection--bordered {
            padding-top: calc(var_default.$base / 2);
            padding-bottom: calc(var_default.$base / 2);
        }

        .c-collection__content,
        .c-collection__icon,
        .c-collection__item > .c-collection__secondary {
            padding: var(--c-collection-padding-y-compact, var(--base)) var(--c-collection-padding-x-compact, calc(var(--base) * 2));
        }

        .c-collection__icon + .c-collection__content {
            padding-left: 0;
        }

        .c-collection__icon {
            --c-icon-size: calc(var(--base) * 2);
            padding-right: calc(var(--base) * .5);
            align-self: center;
        }
    }
}

// Applying the normal compact styles
@include collection-compact-styles();

// Applying the compact styles for each breakpoint
@each $breakpoint in map.keys(var_default.$breakpoints-map) {
    @include mq.mq($breakpoint) {
        @include collection-compact-styles($breakpoint);
    }
}

//Modifiers - Sharp edges
.c-collection.c-collection--sharp-top {
    border-radius: 0 0 var(--c-collection-border-radius, var(--radius-md, calc(var(--base) / 2))) var(--c-collection-border-radius, var(--radius-md, calc(var(--base) / 2)));
}

.c-collection.c-collection--sharp-bot {
    border-radius: var(--c-collection-border-radius, var(--radius-md, calc(var(--base) / 2))) var(--c-collection-border-radius, var(--radius-md, calc(var(--base) / 2))) 0 0;

}
.c-collection.c-collection--sharp {
    border-radius: 0;
}

// Modifiers - unbox
.c-collection.c-collection--unbox {
    border: none;
    border-radius: 0;
    padding-top: 0;
    padding-bottom: 0;
}

// Modifiers - Nav
.c-collection.c-collection--nav {
    border-radius: 0;
    padding-top: 0;
    padding-bottom: 0;

    .c-collection__item {
        border-top: var(--c-collection-border-width, var(--border-width-divider, 1px)) solid;
        border-color: var(--c-collection-border-color, var(--color-border-divider, #dadada));
    }

    .c-collection__item:first-child {
        border-top: none;
    }

    .c-collection__item .c-collection__secondary {
        display: flex;
        align-items: center;
    }
    .c-collection__item.is-open > .c-collection__secondary i {
        transform: rotate(180deg);
    }

    .c-collection__item.is-open + .c-collection {
        display: block;
    }

    .c-collection__item > .c-collection__secondary {
        border-left: var(--c-collection-border-width, var(--border-width-divider, 1px)) solid;
    }

    .c-collection {
        border-radius: 0;
        padding-top: 0;
        padding-left: unset;
        border-left: solid var_default.$base var(--c-collection-border-color, var(--color-border-outline, #dadada));
        border-top: var(--c-collection-border-width, var(--border-width-divider, 1px)) solid;
    }
}

.c-card {
    .c-collection {
        border: none;
    }
}

@media print {

    .c-collection {

        .c-collection__icon {
            display: none;
        }

        .c-collection__action:hover,
        .c-collection__action:hover a,
        a.c-collection__item.c-collection__item--action:hover,
        a.c-collection__item.c-collection__item--action:hover a,
        button.c-collection__item.c-collection__item--action:hover,
        button.c-collection__item.c-collection__item--action:hover a {
            background: transparent;
            transition: none;
        }
    }

    .o-container, .c-collection {
        display: unset;
        overflow: visible;
        page-break-before: avoid;
        page-break-inside: avoid;
        break-inside: avoid;
        break-before: avoid;
    }

}


$event-date-size:  56px;

.c-collection.c-collection--event {
    .c-collection__date {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: $event-date-size;
        height: $event-date-size;
        background-color: rgba(black, 0.05);
    };

    .c-collection__divider.c-collection__divider--inset {
        margin-left: 96px;
    }

    .c-collection__date {
        font-weight: 500;

    }
    .c-collection__day {
        font-size: 20px;
        line-height: 1;
        margin-bottom: 6px;
    }

    .c-collection__day.c-collection__day--today,
    .c-collection__day.c-collection__day--range {
        font-size: 18px;
    }

    .c-collection__month {
        line-height: 1;
        font-size: 14px;
        text-transform: uppercase;
    }

    .c-collection__icon,
    .c-collection__secondary,
    .c-collection__content {
        align-self: flex-start;
    }

    .c-collection__content {
        h1, h2, h3, h4 {
            & + p {
                margin-top: 8px;
            }
        }

        p + p {
            margin-top: 4px;
        }
    }

    .c-collection__secondary  {
        text-align: right;
    }
}

