@use "../mixin/tokens";

$_: 'c-collection';

@include tokens.create($_, getComponentTokens($_), (
    "padding-x-compact": tokens.use($_, "space", 2),
    "padding-y-compact": tokens.use($_, "space", 1),
    "padding-x": tokens.use($_, "space", 2),
    "padding-y": tokens.use($_, "space", 2),
    "padding-x-inset": calc( tokens.get($_, "padding-x") * 3.5)
));

// Reset
.#{$_} {    
    padding: 0;
    margin: 0;

    p {
        margin: 0;
    }

    a.#{$_}__item--action {
        text-decoration: none;
    }
}

.#{$_} {
    border-radius: tokens.use($_, "border-radius");
    corner-shape: tokens.get($_, "corner-shape");

    &.#{$_}--bordered {
        border: tokens.use($_, "border-width", 2) solid tokens.get($_, "color--background-border");
        padding-bottom: tokens.use($_, "space");
        padding-top: tokens.use($_, "space");
    }

    // Item
    .#{$_}__item {
        display: flex;
  
        &__floating {
            position: absolute;
            right: tokens.use($_, "space", 2.75);
            top: tokens.use($_, "space");
            z-index: 3;
            cursor: pointer;
        }

        .#{$_}__item__before {
            display: flex;

            img {
                aspect-ratio: 1/1;
                border-radius: tokens.get($_, "border-radius");
                corner-shape: tokens.get($_, "corner-shape");
                height: 100%;
                width: 100%;
                object-fit: cover;
                margin: 0;
                max-width: tokens.use($_, "base", 15);
                min-width: tokens.use($_, "base", 15);
            }

            .c-image {
                margin: 0;
            }

            .c-image.c-image--is-placeholder {
                img {
                    max-width: unset;
                    min-width: unset;
                }

                width: tokens.use($_, "base", 15);
                min-height: tokens.use($_, "base", 15);
            }
        }

        &.#{$_}__item--bordered {
            padding: tokens.use($_, "space", 3) 0;
            border-bottom: tokens.use($_, "border-width", 1) solid tokens.get($_, "color--background-border");
            border-top: tokens.use($_, "border-width", 1) solid tokens.get($_, "color--background-border");
            margin-top: tokens.use($_, "border-width", -1);
        }

        &.#{$_}__item--icon-last {
            .#{$_}__icon {
                order: 5;
            }

            .#{$_}__content {
                padding-left: tokens.get($_, "padding-x");
            }
        }
    }

    .#{$_}__item.is-current {
        background-color: tokens.get($_, "color--primary");
        color: tokens.get($_, "color--primary-contrast");
    }

    // Divider
    .#{$_}__divider {
        border: none;
        border-top: tokens.use($_, "border-width", 1) solid;
        border-color: tokens.get($_, "color--background-border");
        margin-top: tokens.use($_, "space");
        margin-bottom: tokens.use($_, "space");
    }

    // Fix single 1px messing up vertical rythm
    .#{$_}__divider + * {
        margin-top: -1px;
    }

    .#{$_}__divider.#{$_}__divider--inset {
        margin-left: tokens.get($_, "padding-x-inset");
    }

    // Content
    .#{$_}__content {
        flex: 1 1 auto;
        padding: tokens.get($_, "padding-y") tokens.get($_, "padding-x");

        & > *:first-child {
            margin-top: 0;
        }
        & > *:last-child {
            margin-bottom: 0;
        }
    }
    
    // Content Modifier - Multiline
    .#{$_}__content.#{$_}__content--icon {
        padding-right: tokens.use($_, "space", 5);
        position: relative;
        .#{$_}__secondary {
            position: absolute;
            top: tokens.use($_, "space", 1.5);
            right: tokens.use($_, "space", 2);
            float: none;
        }
    }

    // Secondary
    .#{$_}__item > .#{$_}__secondary {
        padding: tokens.get($_, "padding-y") tokens.get($_, "padding-x");
        display: flex;
    }
    .#{$_}__content .#{$_}__secondary {
        float: right;
    }


    // Icon
    .#{$_}__icon {
        padding: tokens.get($_, "padding-y") tokens.get($_, "padding-x");
        display: flex;
    }

    .#{$_}__icon + .#{$_}__content {
        padding-left: 0;
    }
    
    // Links, Buttons etc
    .#{$_}__action,
    .#{$_}__item--action {

        &, a {
            color: tokens.get($_, "color--surface-contrast");
            .#{$_}__content,
            .#{$_}__icon {
                transition: transform 400ms;
            }

            .#{$_}__icon {
                transition: transform 300ms;
            }
        }
        
        &:hover {
            &, a {
                color: tokens.get($_, "color--surface-contrast");
                background-color: tokens.get($_, "color--surface-border");
                .#{$_}__content,
                .#{$_}__icon {
                    transform: translateX(tokens.use($_, "space", 0.5)); 
                }
            }
        }
    }

    // Nested
    & .#{$_} {
        padding-top: 0;
        padding-bottom: 0;
        padding-left: tokens.get($_, "padding-x");
        border-top: none;
        border-right: none;
        border-bottom: none;
        border-left: none;
        display: none;
    }
}

.#{$_}.#{$_}--compact .#{$_}__content {
    padding: tokens.get($_, "padding-y-compact") tokens.get($_, "padding-x-compact");
}

// Modifiers - Bordered
.#{$_}.#{$_}--bordered {
    padding-bottom: 0;
    .#{$_}__item {
        border-top: tokens.use($_, "border-width", 1) solid;
        border-color: tokens.get($_, "color--background-border");
    }
    
    .#{$_}__item:first-child {
        border-top: none;
    }
}

//Modifiers - Sharp edges
.#{$_}.#{$_}--sharp-top {
    border-radius: 0 0 #{tokens.use($_, "border-radius")} #{tokens.use($_, "border-radius")};  
}

.#{$_}.#{$_}--sharp-bot {
    border-radius: #{tokens.use($_, "border-radius")} #{tokens.use($_, "border-radius")} 0 0;    

}
.#{$_}.#{$_}--sharp {
    border-radius: 0;
}

// Modifiers - unbox
.#{$_}.#{$_}--unbox {
    border: none;
    border-radius: 0;
    padding-top: 0;
    padding-bottom: 0;
}

// Modifiers - Nav
.#{$_}.#{$_}--nav {
    border-radius: 0;
    padding-top: 0;
    padding-bottom: 0;

    .#{$_}__item {
        border-top: tokens.use($_, "border-width", 1) solid;
        border-color: tokens.get($_, "color--background-border");
    }
    
    .#{$_}__item:first-child {
        border-top: none;
    }

    .#{$_}__item .#{$_}__secondary {
        display: flex;
        align-items: center;
    }
    .#{$_}__item.is-open > .#{$_}__secondary i {
        transform: rotate(180deg);
    }

    .#{$_}__item.is-open + .#{$_} {
        display: block;
    }

    .#{$_}__item > .#{$_}__secondary {
        border-left: tokens.use($_, "border-width", 1) solid;
    }

    .#{$_} {
        border-radius: 0;
        padding-top: 0;
        padding-left: unset;
        border-left: solid tokens.use($_, "base") tokens.get($_, "color--surface-border");
        border-top: tokens.use($_, "border-width", 1) solid;
    }
}

.c-card {
    .#{$_} {
        border: none;
    }
}

@media print {

    .#{$_} {

        .#{$_}__icon {
            display: none;
        }

        .#{$_}__action:hover,
        .#{$_}__action:hover a,
        a.#{$_}__item.#{$_}__item--action:hover,
        a.#{$_}__item.#{$_}__item--action:hover a,
        button.#{$_}__item.#{$_}__item--action:hover,
        button.#{$_}__item.#{$_}__item--action:hover a {
            background: transparent;
            transition: none;
        }
    }

    .o-container, .#{$_} {
        display: unset;
        overflow: visible;
        page-break-before: avoid;
        page-break-inside: avoid;
        break-inside: avoid;
        break-before: avoid;
    }

}