@use "sass:map";
@use "../setting/var_border-radius";
@use "../setting/var_colors";
@use "../setting/var_default";
@use "../setting/var_fonts";

$c-comment-border-radius: var(--c-comment-border-radius, var_border-radius.var(--radius-lg)) !default;
$c-comment-border-radius-corner: var(--c-comment-border-radius-corner, var_border-radius.var(--radius-sm)) !default;

.c-comment + .c-comment {
    margin-top: map.get(var_default.$spacers, "2");
}

.c-comment.c-comment--level-2 + .c-comment.c-comment--level-1 {
    margin-top: map.get(var_default.$spacers, "6");
}

.c-comment { 
    display: flex;
    flex-direction: row;
    gap: map.get(var_default.$spacers, "2");

    .c-comment__top {
        display: flex;
        gap: map.get(var_default.$spacers, "2");
        margin-bottom: map.get(var_default.$spacers, "05");
    }

    .c-comment__top .c-comment__author {
        font-size: .9rem;
        font-weight: var_fonts.$font-weight-bold;
        font-family: var_fonts.$font-family-bold;
        color: var_colors.$color-darker;
    }

    .c-avatar {
        width: calc(#{var_default.$base} * 6);
        height: calc(#{var_default.$base} * 6);
    }

    .c-comment__link {
        color: inherit;
        text-decoration: none;
        text-decoration-style: unset;

        &:hover,
        &:visited,
        &:active {
            color: inherit;
            text-decoration: none;
            text-decoration-style: unset;
        }

        :hover {
            color: var_colors.$color-darkest;
        }
    }

    .c-comment__actions {
        display: flex; 
        gap: calc(#{var_default.$base} * 2);
    }

    &__date {
        color: var_colors.$color-comment-date;
        font-weight: 400;
        display: flex;
        line-height: 1.3;

        * {
            font-weight: 400;
        }

        &:before {
            content: "•";
            margin-right: map.get(var_default.$spacers, "1half");
            text-indent: -.2em;
        }
    }

    &__bubble {
        justify-content: flex-start;
        display: flex;
        flex-wrap: wrap;
        position: relative;
    }

    &__bubble--color-dark &__bubble--inner,
    &__bubble--color-light &__bubble--inner {
        width: 100%;
        border-radius: $c-comment-border-radius;
        border-top-left-radius: $c-comment-border-radius-corner;
        padding: map.get(var_default.$spacers, "1half") map.get(var_default.$spacers, "2");
        color: var_colors.$color-black;
        margin: 0;
    }

    &__bubble--color-dark &__bubble--inner {
        background-color: var_colors.$color-comment-bubble-bg-dark;
    }

    &__bubble--color-light &__bubble--inner {
        background-color: var_colors.$color-comment-bubble-bg-light;
    }

    &__is-reply {
        margin-left: map.get(var_default.$spacers, "8");
    }
}
