@use "../setting/var_default";

.c-datebadge.c-datebadge--dark {
    --c-datebadge-color: #ffffff;
    --c-datebadge-color-background: #707070;
    --c-datebadge-month-background: #565656;
}

.c-datebadge.c-datebadge--primary {
    --c-datebadge-color: #ffffff;
    --c-datebadge-color-background: #ae0b05;
    --c-datebadge-month-background: #e84c31;
}

.c-datebadge.c-datebadge--secondary {
    --c-datebadge-color: #ffffff;
    --c-datebadge-color-background: #ec6701;
    --c-datebadge-month-background: #ff983e;
}

.c-datebadge.c-datebadge--translucent {
    --c-datebadge-backdrop-filter: saturate(300%) blur(calc(var(--base) * 1.5)) brightness(200%) opacity(100%);
    --c-datebadge-color-background: rgba(255, 255, 255, 0.2);
    --c-datebadge-month-background: rgba(255, 255, 255, 0.8);
    --c-datebadge-color: #000000;
}

.c-datebadge.c-datebadge--translucent.c-datebadge--primary {
    --c-datebadge-backdrop-filter: saturate(300%) blur(calc(var(--base) * 2)) brightness(100%) opacity(100%);
    --c-datebadge-color-background: color-mix(in srgb, var(--color-primary, #ae0b05), transparent 50%);
    --c-datebadge-month-background: color-mix(in srgb, var(--color-primary, #ae0b05), transparent 90%);
}

.c-datebadge.c-datebadge--translucent.c-datebadge--secondary {
    --c-datebadge-backdrop-filter: saturate(300%) blur(calc(var(--base) * 2)) brightness(100%) opacity(100%);
    --c-datebadge-color-background: color-mix(in srgb, var(--color-secondary, #ec6701), transparent 50%);
    --c-datebadge-month-background: color-mix(in srgb, var(--color-secondary, #ec6701), transparent 90%);
}

.c-datebadge.c-datebadge--translucent.c-datebadge--dark {
    --c-datebadge-color: #ffffff;
    --c-datebadge-color-background: rgba(255, 255, 255, 0.2);
    --c-datebadge-month-background: rgba(255, 255, 255, 0.4);
    --c-datebadge-backdrop-filter: saturate(300%) blur(calc(var(--base) * 2)) brightness(60%) opacity(100%);
}

.c-datebadge.c-datebadge--sm {
    --c-datebadge-font-size: 1.125rem;
    --c-datebadge-date-padding: calc(var(--base) * 0.5);
    --c-datebadge-month-padding: calc(var(--base) * .5) var(--base);
}

.c-datebadge.c-datebadge--lg {
    --c-datebadge-font-size: 2rem;
    --c-datebadge-date-padding: calc(var(--base) * 1.25);
    --c-datebadge-month-padding: calc(var(--base) * 1) calc(var(--base) * 1.75);
}

.c-datebadge {
    .c-datebadge__container {
        display: inline-flex;
        flex-direction: column;
        align-items: center;
        font-family: var(--c-datebadge-font-family, var(--font-family-heading, var(--font-family-base, "Roboto", sans-serif)));
        font-size: var(--c-datebadge-font-size, 1.375rem);
        background-color: var(--c-datebadge-color-background, var(--color-lighter, #e5e5e5));
        color: var(--c-datebadge-color, var(--color-black, #000000));
        backdrop-filter: var(--c-datebadge-backdrop-filter, unset);
        border-radius: var(--c-datebadge-border-radius, var(--radius-lg, calc(var(--base) / 2)));
        padding: var(--c-datebadge-padding, calc(var(--base) * 0.5) calc(var(--base) * 0.5) 0 calc(var(--base) * 0.5));
    }

    .c-datebadge__month {
        line-height: 1;
        border-radius: var(--c-datebadge-month-border-radius, var(--radius-md, calc(var(--base) / 2)));
        padding: var(--c-datebadge-month-padding, calc(var(--base) * .5) calc(var(--base) * 1.5));
        background-color: var(--c-datebadge-month-background, var(--color-white, #ffffff));
        backdrop-filter: var(--c-datebadge-backdrop-filter, unset);
        font-size: max(0.875rem, 56.25%);
        text-transform: capitalize;
    }

    .c-datebadge__date {
        padding: var(--c-datebadge-date-padding, calc(var(--base) * .75));
        line-height: 1;
    }
}