@use "../setting/var_border-radius";
@use "../setting/var_colors";
@use "../setting/var_default";

$c-datebadge-color-background: var(--c-datebadge-color-background, var_colors.$color-lighter) !default;
$c-datebadge-color: var(--c-datebadge-color, var_colors.$color-black) !default;
$c-datebadge-border-radius: var(--c-datebadge-border-radius, var_border-radius.$border-radius-xs) !default;
$c-datebadge-size: var(--c-datebadge-size, calc(#{var_default.$base} * 8)) !default;

.c-datebadge {
    display: flex;
    flex-direction: column;
    gap: #{var_default.$base};
    
    .c-datebadge__time,
    .c-datebadge__daymonth {
      display: flex;
      flex-direction: column;
      justify-content: center;
      background: $c-datebadge-color-background;
      border-radius: $c-datebadge-border-radius;
      color: $c-datebadge-color; 
      text-align: center;
      margin-top: 0;
      margin-right: 0;
      margin-bottom: 0;
      margin-left: 0;
    }

    .c-datebadge__daymonth {
      width: $c-datebadge-size;
      height: $c-datebadge-size;
    }

    .c-datebadge__time {
      padding: calc(#{var_default.$base} * 0.5) 0;
      flex-direction: row;
      line-height: 1;
      gap: calc(#{var_default.$base} * 0.5)
    }
    
    .c-datebadge__daymonth .c-datebadge__date,
    .c-datebadge__daymonth .c-datebadge__month {
      line-height: 1; 
      white-space: nowrap;
      margin-top: 0 !important;
      margin-right: 0 !important;
      margin-bottom: 0 !important;
      margin-left: 0 !important;
    }

    .c-datebadge__daymonth .c-datebadge__date {
      font-size: calc(#{$c-datebadge-size} * .6);
    }

    .c-datebadge__daymonth .c-datebadge__month {
      font-size: calc(#{$c-datebadge-size} * .25);
    }
}

.c-datebadge--sm {
  width: calc( #{$c-datebadge-size} * .75 );

  .c-datebadge__daymonth {
    height: calc( #{$c-datebadge-size} * .75 );
    width: calc( #{$c-datebadge-size} * .75 );
  }

  .c-datebadge__daymonth .c-datebadge__date {
    font-size: calc(calc( #{$c-datebadge-size} * .75 ) * .6);
  }

  .c-datebadge__daymonth .c-datebadge__month {
    font-size: calc(calc( #{$c-datebadge-size} * .75 ) * .25);
  }
  
  .c-datebadge__time .c-icon {
    display: none;
  }
}

.c-datebadge--md {
  width: $c-datebadge-size; 
}