$c-datebadge-color-background: var(--c-datebadge-color-background, $color-lighter) !default;
$c-datebadge-color: var(--c-datebadge-color, $color-black) !default;
$c-datebadge-border-radius: var(--c-datebadge-border-radius, $border-radius-xs) !default;
$c-datebadge-size: var(--c-datebadge-size, calc(#{$base} * 8)) !default;

.c-datebadge {
    display: flex;
    flex-direction: column;
    gap: #{$base};
    
    .c-datebadge__time,
    .c-datebadge__daymonth {
      display: flex;
      flex-direction: column;
      justify-content: center;
      background: $c-datebadge-color-background;
      border-radius: $c-datebadge-border-radius;
      color: $c-datebadge-color; 
      text-align: center;
    }

    .c-datebadge__time {
      padding: calc(#{$base} * 0.5) 0;
      flex-direction: row;
      line-height: 1.4;
      gap: calc(#{$base} * 0.5);
    }
    
    .c-datebadge__date,
    .c-datebadge__month {
      line-height: 1; 
      white-space: nowrap;
    }
}

.c-datebadge--sm {
  width: calc( #{$c-datebadge-size} * .75 );

  .c-datebadge__daymonth {
    width: calc( #{$c-datebadge-size} * .75 );
    height: calc( #{$c-datebadge-size} * .75 );
  }

  .c-datebadge__time .c-icon {
    display: none;
  }

  .c-datebadge__date,
  .c-datebadge__month {
    transform: scale(.8);
    line-height: .7;
  }
}

.c-datebadge--md {
  width: $c-datebadge-size; 
  
  .c-datebadge__daymonth {
    width: $c-datebadge-size; 
    height: $c-datebadge-size; 
  }
}