@use "sass:map";
@use "../setting/var_default";


.c-divider{
    margin: 0 auto;

    display: flex;
    align-items: center;
    text-align: center;
      
    &::before,
    &::after {
        border-bottom: var(--c-divider-thickness, 1px) var(--c-divider-border-style, solid) var(--c-divider-color-divider, #707070);
        content: '';
        flex: 1;
    }

    &__title {
        padding: map.get(var_default.$spacers, "1") map.get(var_default.$spacers, "2");
    }

    &--has-frame .c-divider__title {
        background: var(--c-divider-title-background, var(--color-background-card, var(--color-white, #ffffff)));
        border: var(--c-divider-title-border-width, var(--border-width-card, 0px)) solid var(--c-divider-title-border-color, var(--color-dark, #707070));
        border-radius: var(--c-divider-title-border-radius, var(--radius-lg, calc(var(--base) / 2)));
    }

    &.c-divider--align-left:not(.c-divider--has-frame) .c-divider__title {
        padding-left: 0;
    }

    &.c-divider--align-right:not(.c-divider--has-frame) .c-divider__title {
        padding-right: 0;
    }

    &--custom-font{
        .c-divider__title {
            color: var(--c-divider-color-text, var(--color-dark, #707070));
        }
    }

    &--align-left {
        &::before {
            display: none;
        }
    }

    &--align-right {
        &::after {
            display: none;
        }
    }
    
    &--without-title {
        &::before {
            display: block;
        }
        &::after {
            display: none;
        }
    }
    
    &--sm{
        width: 30%;
    }

    &--md{
        width: 50%;
    }

    &--lg{
        width: 70%;
    }

    &--full-width{
        width: 100%;
    }

    &--dashed{
        &::before,
        &::after {
            border-bottom-style: dashed;
        }
    }

    &--dotted{
        &::before,
        &::after {
            border-bottom-style: dotted;
        }
    }

    &--solid{
        &::before,
        &::after {
            border-bottom-style: solid;
        }
    }
}