@use "../setting/var_default";

$drawer-transition-ms: 300ms;
$drawer-width: calc(var(--base) * 40);


/* Colors */
.c-drawer {
    &,
    .site-nav-mobile__primary > .c-nav__item,
    .c-drawer__header {
        --drawer-background: var(--c-drawer-basic-background-color, var(--color-primary, #ae0b05));
    }
}

.c-drawer.c-drawer--primary,
.c-drawer.c-drawer--primary .site-nav-mobile__primary > .c-nav__item,
.c-drawer.c-drawer--primary .c-drawer__header {
    --drawer-background: var(--c-drawer-primary-background-color, var(--color-primary, #ae0b05));
}

.c-drawer.c-drawer--secondary,
.c-drawer.c-drawer--secondary .site-nav-mobile__primary > .c-nav__item,
.c-drawer.c-drawer--secondary .c-drawer__header {
    --drawer-background: var(--c-drawer-secondary-background-color, var(--color-secondary, #ec6701));
}

// Duotone drawer colors needing to target the main list items for better flexibility
.c-drawer.c-drawer--duotone {
    &,
    .site-nav-mobile__primary > .c-nav__item,
    .c-drawer__header {
        --drawer-background: var(--color-white, #ffffff);
        --drawer-duotone-background: var(--c-drawer-duotone-basic-background-color, var(--color-white, #ffffff));
    }
}

.c-drawer.c-drawer--duotone.c-drawer--primary,
.c-drawer.c-drawer--duotone.c-drawer--primary .site-nav-mobile__primary > .c-nav__item,
.c-drawer.c-drawer--duotone.c-drawer--primary .c-drawer__header {
    --drawer-background: var(--c-drawer-duotone-primary-background-color, var(--color-primary, #ae0b05));
}

.c-drawer.c-drawer--duotone.c-drawer--secondary,
.c-drawer.c-drawer--duotone.c-drawer--secondary .site-nav-mobile__primary > .c-nav__item,
.c-drawer.c-drawer--duotone.c-drawer--secondary .c-drawer__header {
    --drawer-background: var(--c-drawer-secondary-background-color, var(--color-secondary, #ec6701));
}

.c-drawer.c-drawer--duotone.c-drawer--duotone-primary,
.c-drawer.c-drawer--duotone.c-drawer--duotone-primary .site-nav-mobile__secondary > .c-nav__item {
    --drawer-duotone-background: var(--c-drawer-duotone-primary-background-color, var(--color-primary, #ae0b05));
}

.c-drawer.c-drawer--duotone.c-drawer--duotone-secondary,
.c-drawer.c-drawer--duotone.c-drawer--duotone-secondary .site-nav-mobile__secondary > .c-nav__item {
    --drawer-duotone-background: var(--c-drawer-duotone-secondary-background-color, var(--color-secondary, #ec6701));
}

// Actual css
.c-drawer {
    background-color: var(--drawer-background);

    .c-drawer__header,
    .site-nav-mobile__primary > .c-nav__item {
        background-color: var(--drawer-background);
    }
}

.c-drawer.c-drawer--duotone {
    background-color: var(--drawer-duotone-background);

    .site-nav-mobile__secondary > .c-nav__item {
        background-color: var(--drawer-duotone-background);
    }

    .c-drawer__header,
    .site-nav-mobile__primary > .c-nav__item {
        background-color: var(--drawer-background);
    }
}

/* Colors END */

// Drawer
.c-drawer {
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    max-width: $drawer-width;
    width: 90%;
    z-index: var(--level-9);
    transform: translate(-100%);
    transition: visibility 0s linear $drawer-transition-ms, $drawer-transition-ms ease-in transform, $drawer-transition-ms ease-in opacity;
    visibility: hidden;
    opacity: 0;
    display: flex;
    flex-direction: column;

    // Hide scrollbar
    overflow-y: auto;
    scrollbar-width: none;

    &::-webkit-scrollbar {
        display: none;
    }
}

.c-drawer__header {
    padding: calc(var(--base) * 1) calc(var(--base) * 2);
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.c-drawer__footer {
    border-top: 1px solid rgba(255, 255, 255, .3);
    align-self: flex-end;
    padding: calc(var(--base) * 4) calc(var(--base) * 4) calc(var(--base) * 12) calc(var(--base) * 4);
}

// Drawer Modifiers
.c-drawer.c-drawer--right {
    transform: translate(100%);
    right: 0;
    left: initial;
}

.c-drawer.c-drawer--duotone {
    .c-drawer__header,
    .site-nav-mobile__primary {
        * {
            color: var(--color-black, #000000);
        }

        .hamburger.hamburger--drawer.is-active .hamburger-inner,
        .hamburger.hamburger--drawer.is-active .hamburger-inner::before,
        .hamburger.hamburger--drawer.is-active .hamburger-inner::after {
            background-color: var(--color-black, #000000);
        }
    }
}

// Drawer States
.c-drawer.is-open {
    transition: visibility 0s linear 0s, $drawer-transition-ms ease-out transform, $drawer-transition-ms ease-out opacity;
    visibility: visible;
    transform: translate(0%);
    opacity: 1;
    filter: var(--drop-shadow-5, drop-shadow(0px 12px 14px rgba(0,0,0,.1)));
}

// Overlay
.drawer-overlay {
    background-color: rgba(0, 0, 0, .2);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 8999;
    transition: visibility 0s linear $drawer-transition-ms, $drawer-transition-ms ease-in opacity;
    visibility: hidden;
    opacity: 0;
    backdrop-filter: blur(1px);
}

// Overlay states
.c-drawer.is-open + .drawer-overlay {
    opacity: 1;
    transition: visibility 0s linear 0s, $drawer-transition-ms ease-out opacity;
    visibility: visible;
}