$drawer-transition-ms: 300ms;
$drawer-width: calc(#{$base} * 40);

// Background colors basic
$drawer-basic-background-color: var(--c-drawer-basic-background-color, $color-primary) !default;
$drawer-duotone-basic-background-color: var(--c-drawer-duotone-basic-background-color, $color-white) !default;

// Main area colors
$drawer-primary-background-color: var(--c-drawer-primary-background-color, $color-primary) !default;
$drawer-secondary-background-color: var(--c-drawer-secondary-background-color, $color-secondary) !default;

// Duotone colors
$drawer-duotone-primary-background-color: var(--c-drawer-duotone-primary-background-color, $color-primary) !default;
$drawer-duotone-secondary-background-color: var(--c-drawer-duotone-secondary-background-color, $color-secondary) !default;


/* Colors */
.c-drawer {
    &,
    .site-nav-mobile__primary > .c-nav__item,
    .c-drawer__header {
        --drawer-background: #{$drawer-basic-background-color};
    }
}

.c-drawer.c-drawer--primary,
.c-drawer.c-drawer--primary .site-nav-mobile__primary > .c-nav__item,
.c-drawer.c-drawer--primary .c-drawer__header {
    --drawer-background: #{$drawer-primary-background-color};
}

.c-drawer.c-drawer--secondary,
.c-drawer.c-drawer--secondary .site-nav-mobile__primary > .c-nav__item,
.c-drawer.c-drawer--secondary .c-drawer__header {
    --drawer-background: #{$drawer-secondary-background-color};
}

// Duotone drawer colors needing to target the main list items for better flexibility
.c-drawer.c-drawer--duotone {
    &,
    .site-nav-mobile__primary > .c-nav__item,
    .c-drawer__header {
        --drawer-background: #{$color-white};
        --drawer-duotone-background: #{$drawer-duotone-basic-background-color};
    }
}

.c-drawer.c-drawer--duotone.c-drawer--primary,
.c-drawer.c-drawer--duotone.c-drawer--primary .site-nav-mobile__primary > .c-nav__item,
.c-drawer.c-drawer--duotone.c-drawer--primary .c-drawer__header {
    --drawer-background: #{$drawer-duotone-primary-background-color};
}

.c-drawer.c-drawer--duotone.c-drawer--secondary,
.c-drawer.c-drawer--duotone.c-drawer--secondary .site-nav-mobile__primary > .c-nav__item,
.c-drawer.c-drawer--duotone.c-drawer--secondary .c-drawer__header {
    --drawer-background: #{$drawer-secondary-background-color};
}

.c-drawer.c-drawer--duotone.c-drawer--duotone-primary,
.c-drawer.c-drawer--duotone.c-drawer--duotone-primary .site-nav-mobile__secondary > .c-nav__item {
    --drawer-duotone-background: #{$drawer-duotone-primary-background-color};
}

.c-drawer.c-drawer--duotone.c-drawer--duotone-secondary,
.c-drawer.c-drawer--duotone.c-drawer--duotone-secondary .site-nav-mobile__secondary > .c-nav__item {
    --drawer-duotone-background: #{$drawer-duotone-secondary-background-color};
}

// Actual css
.c-drawer {
    background-color: var(--drawer-background);

    .c-drawer__header,
    .site-nav-mobile__primary > .c-nav__item {
        background-color: var(--drawer-background);
    }
}

.c-drawer.c-drawer--duotone {
    background-color: var(--drawer-duotone-background);

    .site-nav-mobile__secondary > .c-nav__item {
        background-color: var(--drawer-duotone-background);
    }

    .c-drawer__header,
    .site-nav-mobile__primary > .c-nav__item {
        background-color: var(--drawer-background);
    }
}

/* Colors END */

// Drawer
.c-drawer {
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    max-width: $drawer-width;
    width: 90%;
    z-index: $level-9;
    transform: translate(-100%);
    transition: visibility 0s linear $drawer-transition-ms, $drawer-transition-ms ease-in transform, $drawer-transition-ms ease-in opacity;
    visibility: hidden;
    opacity: 0;
    display: flex;
    flex-direction: column;

    // Hide scrollbar
    overflow-y: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;

    &::-webkit-scrollbar {
        display: none;
    }
}

.c-drawer__header {
    padding: calc(#{$base} * 1) calc(#{$base} * 2);
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.c-drawer__footer {
    border-top: 1px solid rgba(255, 255, 255, .3);
    align-self: flex-end;
    padding: calc(#{$base} * 4) calc(#{$base}  * 4) calc(#{$base} * 12) calc(#{$base} * 4);
}

// Drawer Modifiers
.c-drawer.c-drawer--right {
    transform: translate(100%);
    right: 0;
    left: initial;
}

.c-drawer.c-drawer--duotone {
    .c-drawer__header,
    .site-nav-mobile__primary {
        * {
            color: $color-black;
        }

        .hamburger.hamburger--drawer.is-active .hamburger-inner,
        .hamburger.hamburger--drawer.is-active .hamburger-inner::before,
        .hamburger.hamburger--drawer.is-active .hamburger-inner::after {
            background-color: $color-black;
        }
    }
}

// Drawer States
.c-drawer.is-open {
    transition: visibility 0s linear 0s, $drawer-transition-ms ease-out transform, $drawer-transition-ms ease-out opacity;
    visibility: visible;
    transform: translate(0%);
    opacity: 1;
}

// Overlay
.drawer-overlay {
    background-color: black;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: ($level-9 - 1);
    transition: visibility 0s linear $drawer-transition-ms, $drawer-transition-ms ease-in opacity;
    visibility: hidden;
    opacity: 0;
}

// Overlay states
.c-drawer.is-open + .drawer-overlay {
    opacity: 0.2;
    transition: visibility 0s linear 0s, $drawer-transition-ms ease-out opacity;
    visibility: visible;
}