@use "../setting/var_colors";
@use "../setting/var_default";
@use "../setting/var_fonts";
@use "../setting/var_properties";

/* Component CSS Variables */

/* Dropdown Colors */
$c-dropdown-background: var(--c-dropdown-background, var(--color--surface));
$c-dropdown-text-color: var(--c-dropdown-text-color, var(--color--text));
$c-dropdown-hover-background: var(--c-dropdown-hover-background, var(--color--secondary));
$c-dropdown-hover-color: var(--c-dropdown-hover-color, var(--color--primary));
$c-dropdown-active-background: var(--c-dropdown-active-background, var(--color--secondary));
$c-dropdown-active-color: var(--c-dropdown-active-color, var(--color--primary));

/* Dropdown Typography */
$c-dropdown-font-size: var(--c-dropdown-font-size, var(--font-size-caption));
$c-dropdown-line-height: var(--c-dropdown-line-height, var(--line-height-heading));

/* Dropdown Shadows */
$c-dropdown-shadow: var(--c-dropdown-shadow, var(--shadow-4));

/* Dropdown Spacing */
$c-dropdown-list-padding: var(--c-dropdown-list-padding, var(--spacing-xs));
$c-dropdown-item-padding: var(--c-dropdown-item-padding, var(--spacing-sm));

.c-dropdown {
    position: relative;
    cursor: pointer;
}

.c-dropdown__icon {

    transition: 80ms ease-in-out transform;
    will-change: transform;
    transform: rotate(0);

}

.c-dropdown__list {
    display: none;
    position: absolute;
    left: 0;
    top: 100%;
    z-index: 1;
    width: 100%;
    background-color: $c-dropdown-background;
    padding: $c-dropdown-list-padding;
    filter: $c-dropdown-shadow;
}

.c-dropdown__item {
    display: flex;
    font-size: $c-dropdown-font-size;
    line-height: $c-dropdown-line-height;
}

.c-dropdown__item a {
    width: 100%;
    padding: $c-dropdown-item-padding;
    text-overflow: ellipsis;
    overflow: hidden;
    text-decoration: none;
    color: $c-dropdown-text-color;

    &:hover {
        background-color: $c-dropdown-hover-background;
        color: $c-dropdown-hover-color;
    }

    &:active {
        background-color: $c-dropdown-active-background;
        color: $c-dropdown-active-color;
    }
}


// Modifiers 🎨
.c-dropdown--left .c-dropdown__list {
    left: 0;
    right: initial;
    max-width: initial;
}

.c-dropdown--right .c-dropdown__list {
    left: initial;
    right: 0;
    max-width: initial;
}

// Stateful modifiers 🌤️
.c-dropdown.is-open {
    .c-dropdown__icon {
        transform: rotate(-180deg);
    }

    .c-dropdown__list {
        display: initial;
    }
} 
