/* .c-dropdown--on-click{
    .c-btn:focus ~ .c-dropdown__list{
        visibility: visible;
        opacity: 1;
    }
} */

.c-dropdown--on-hover {

    .c-button:hover~.c-dropdown__list {
        visibility: visible;
        opacity: 1;
    }

    .c-dropdown__list:hover {
        visibility: visible;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        opacity: 1;
    }

}

.c-dropdown {
    position:relative;
    display:inline-block;

    &__list {
        transition:opacity 0.3s ease-in;
        position:absolute;
        @include shadow(6);
        z-index: $level-1;
        background-color: $color-menu-background;
        color: $color-menu-text;
        visibility: hidden;
        opacity: 0;

        & li:hover {
            background-color:darken($color: $color-menu-background, $amount: 10);
        }

        & div {
            flex-grow: 1;
        }

        & ul {
            padding:0;

            text-align: center;
        }

        & li {
            padding-left: $base * 3.5;
            padding-right: $base * 3.5;
            padding-top: $base;
            padding-bottom: $base;
            list-style-type: none;
            cursor:pointer;
        }

        & a {
            text-decoration: none;
        }

        & a:visited {
            color: $color-menu-text;
        }

        &--hidden {
            visibility: hidden;
        }

        &--visible {
            visibility: visible;
            opacity: 1;
        }
    }
}

.c-dropdown-button--left__click {

    .c-button:focus {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
    }
}

.c-dropdown-button--right__click {

    .c-button:focus {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }
}

.c-dropdown-button--left__hover {

    .c-button:hover {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
    }
}

.c-dropdown-button--right__hover {

    .c-button:hover {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }
}

.c-dropdown__list--right {
    top:0;
    left:96%;
}

.c-dropdown__list--left {
    top:0;
    right:96%;
}

.c-dropdown__list--top {
    bottom:96%;
    left:0;
}

.c-dropdown__list--bottom {
    top:96%;
    left:0;
}
.c-dropdown__auto--position-right {
    left: -4rem;
    right:auto;
}
.c-dropdown__auto--position-left {
    right: 58%;
    left:auto;
}
.c-dropdown__auto--position-bottom {
    bottom: 80%;
}