@use "../setting/var_colors";
@use "../setting/var_default";
@use "../setting/var_fonts";
@use "../setting/var_properties";

$dropdown-background: white;
$dropdown-color: black;

$dropdown-hover-background: var_colors.$color-secondary;
$dropdown-hover-color: var_colors.$color-primary;

$dropdown-active-background: var_colors.$color-secondary-dark;
$dropdown-active-color: var_colors.$color-primary;

.c-dropdown {
    position: relative;
    cursor: pointer;
}

.c-dropdown__icon {

    transition: 80ms ease-in-out transform;
    will-change: transform;
    transform: rotate(0);

}

.c-dropdown__list {
    display: none;
    position: absolute;
    left: 0;
    top: 100%;
    z-index: 1;
    width: 100%;
    background-color: $dropdown-background;
    padding: var(--base, 8px) calc(var(--base) * 0.5);
    filter: var_properties.$drop-shadow-4;
}

.c-dropdown__item {
    display: flex;
    font-size: 14px;
    line-height: var_fonts.$line-height-heading;
}

.c-dropdown__item a {
    width: 100%;
    padding: calc(var(--base, 8px)) calc(var(--base, 8px) * 1.5);
    text-overflow: ellipsis;
    overflow: hidden;
    text-decoration: none;
    color: $dropdown-color;

    &:hover {
        background-color: $dropdown-hover-background;
        color: $dropdown-hover-color;
    }

    &:active {
        background-color: $dropdown-active-background;
        color: $dropdown-active-color;
    }
}


// Modifiers 🎨
.c-dropdown--left .c-dropdown__list {
    left: 0;
    right: initial;
    max-width: initial;
}

.c-dropdown--right .c-dropdown__list {
    left: initial;
    right: 0;
    max-width: initial;
}

// Stateful modifiers 🌤️
.c-dropdown.is-open {
    .c-dropdown__icon {
        transform: rotate(-180deg);
    }

    .c-dropdown__list {
        display: initial;
    }
} 
