.c-field {

    input[type="color"],
    input[type="text"],
    input[type="search"],
    input[type="tel"],
    input[type="time"],
    input[type="date"],
    input[type="datetime-local"],
    input[type="url"],
    input[type="week"],
    input[type="month"],
    input[type="number"],
    input[type="password"],
    input[type="email"] {
        width: 100%;
        margin: 0;
        outline: 0;
        height: 56px;
        appearance: none;
        tap-highlight-color: rgba(255, 255, 255, 0);
        line-height: 1.32em;
        padding: map-get($spacers, "1");
        padding-left: map-get($spacers, "2") +3;
        padding-top: map-get($spacers, "2");
        font-size: 1em;
        background: $color-form-fields;
        border: 1px solid $color-form-fields;
        border-radius: $border-radius-xs;
        box-shadow: 0 0 0 0 transparent inset;
        -webkit-transition: color .1s ease, border-color .1s ease;
        transition: color .1s ease, border-color .1s ease;
        background-size: 16px 16px !important;

        &:focus {
            background-color: lighten($color-form-fields, 5%);
            box-shadow: 0 0 0 0 rgba(34, 36, 38, .35) inset;
        }
    }


    input:focus {
        border-bottom: 2px solid $color-in-action;
        transition: ease-in-out .3s;

    }
    // Input

    &__text {

        position: relative;
        padding-bottom: 10px;

        input:after, input:before {
            content: " ";
            width: 0%;
            bottom: 10px;
            left: 50%;
            transform: translate(-50%, -50%);
            position: absolute;
            transition: ease-in-out .3s;
        }

        input {
            padding-left: 20px;
        }

        input:focus-within:after {
            width: 100%;
        }

        input:after,
        input:after.valid:after {
            border-bottom: 2px solid $color-success;
        }

        input.invalid {
            border-bottom: 1px solid $color-primary-dimmed;
            transition: ease-in-out .3s;
        }

        input.valid {
            border-bottom: 2px solid $color-success;
            transition: ease-in-out .3s;
        }

        input:before {
            width: 100%;
            border-bottom: 1px solid $color-form-fields-border;
        }

        label {
            font-size: 14px;
            color: $color-form-fields-label;
            position: absolute;
            top: 0px;
            left: 20px;
            transform-origin: top left;
            transform: translate(0, 16px) scale(1);
            transition: all .1s ease-in-out;
            cursor: text;
            pointer-events: none;
        }

        input:focus+label {
            transform: translate(0, 4px) scale(.75);
        }

        label:active {
            transform: translate(0, 4px) scale(.75);
        }

        input:not(:placeholder-shown)+label {
            transform: translate(0, 4px) scale(.75);
        }

        ::-webkit-input-placeholder {
            color: transparent;
        }

        :-moz-placeholder {
            color: transparent;
        }

        ::-moz-placeholder {
            color: transparent;
        }

        :-ms-input-placeholder {
            color: transparent;
        }

        input[type="date"]+label,
        input[type="datetime-local"]+label,
        input[type="week"]+label,
        input[type="month"]+label,
        input[type="day"]+label,
        input[type="year"]+label {
            font-size: 11px;
            top: 3px !important;
            transform: none;
        }


    }

    /* Range Slider */

    &__range {

        input[type="range"] {
            -webkit-appearance: none;
            width: 100%;
            background: transparent;
        }

        input[type="range"]::-webkit-slider-thumb {
            -webkit-appearance: none;
        }

        input[type="range"]:focus {
            outline: none;
        }

        input[type="range"]::-ms-track {
            width: 100%;
            cursor: pointer;
            background: transparent;
            border-color: transparent;
            color: transparent;
        }

        input[type="range"]::-webkit-slider-thumb {
            appearance: none;
            height: 16px;
            width: 32px;
            border-radius: $border-radius-xs;
            background: $color-primary;
            cursor: pointer;
            margin-top: 0px;
        }

        input[type="range"]::-webkit-slider-thumb:before {
            font-family: styleguide-icons !important;
            content: "\f104";
            color: black;
            font-size: 20px;
            width: 20px;
            height: 20px;
        }

        input[type="range"]::-webkit-slider-thumb:after {
            font-family: styleguide-icons !important;
            content: "\f107";
            color: black;
            font-size: 20px;
        }

        input[type="range"]::-moz-range-thumb {
            appearance: none;
            height: 16px;
            width: 32px;
            border-radius: $border-radius-xs;
            background: $color-primary;
            cursor: pointer;
            margin-top: 0px;
        }

        input[type="range"]::-ms-thumb {
            padding-top: 20px;
            appearance: none;
            height: 16px;
            width: 32px;
            border-radius: $border-radius-xs;
            background: $color-primary;
            cursor: pointer;
            margin-top: 0px;
        }

        input[type="range"]::-webkit-slider-runnable-track {
            width: 100%;
            cursor: pointer;
            background: $color-form-fields;

        }

        input[type="range"]:focus::-webkit-slider-runnable-track {
            background-color: lighten($color-form-fields, 5%);
            border-bottom: 2px solid $color-success;
        }

        input[type="range"]::-moz-range-track {
            width: 100%;
            height: 8.4px;
            cursor: pointer;

        }

        input[type="range"]::-ms-track {
            width: 100%;
            height: 8.4px;
            cursor: pointer;
            background: transparent;
            border-color: transparent;
            border-width: 16px 0;
            color: transparent;
        }

        input[type="range"]::-ms-fill-lower {
            background-color: lighten($color-form-fields, 5%);
        }

        input[type="range"]:focus::-ms-fill-lower {
            background-color: lighten($color-form-fields, 5%);
        }

        input[type="range"]::-ms-fill-upper {
            background-color: lighten($color-form-fields, 5%);
        }

        input[type="range"]:focus::-ms-fill-upper {
            background-color: lighten($color-form-fields, 5%);
        }
    }

    input[type="submit"],
    input[type="reset"] {
        display: inline-block;
        vertical-align: middle;
        font-weight: 500;
        text-decoration: none;
        cursor: pointer;
        margin: 0;
        margin-top: 2.66667px;
        margin-bottom: 2.66667px;
        border: 2px solid;
        outline: 0;
        @include button-size(8px, 16px, $font-size-btn, $font-size-btn-lg-line-height, 2px);
    }

    input[type="submit"] {
        @include button-mix($color-white, $color-primary, $color-primary);
    }

    input[type="reset"] {
        @include button-mix($color-primary, false, $color-primary);
    }

    &__color {

        input[type="color"] {
            visibility: hidden;
            -webkit-appearance: none;
            width: 100%;
            background: transparent;
            padding:0px;
            border:none;
            box-shadow:none;
            &:before {
                font-family: "Material Icons" !important;
                content: "\e3b8";
                font-size: 22px;
                display: inline-block;
                visibility: visible;
                color: $color-primary;
                border-radius: $border-radius-xs;
                cursor: pointer;
            }
        }
    }

    ::-webkit-datetime-edit-year-field:not([aria-valuenow]),
    ::-webkit-datetime-edit-month-field:not([aria-valuenow]),
    ::-webkit-datetime-edit-day-field:not([aria-valuenow]) {
        color: transparent;
    }

    .error.active {
        padding: 0.3em;
    }

}