
$c-field-label-color: var(--c-field-label-text-transform, $color-darker) !default;
$c-field-label-text-transform: var(--c-field-label-text-transform, uppercase) !default;
$c-field-label-font-size: var(--c-field-label-font-size, 12px) !default;
$c-field-label-font-weight: var(--c-field-label-font-size, 700) !default;

$c-field-helper-error-color: var(--c-field-helper-error-color, $color-danger-dark) !default;
$c-field-helper-success-color: var(--c-field-helper-success-color, $color-success-dark) !default;
$c-field-border-radius: var(--c-field-border-radius, $border-radius-xs) !default;
$c-field-border-radius-color: var(--c-field-border-radius-color, $border-radius-xs) !default;

$fields: 'textarea, input, input[type="color"], input[type="text"], input[type="search"], input[type="tel"], input[type="time"], input[type="date"], input[type="datetime-local"], input[type="url"], input[type="week"], input[type="month"], input[type="number"], input[type="password"], input[type="email"]'; 

.c-field {
    .c-field__inner {
        position: relative;
    }
    .c-field__label,
    .c-field__helper {
        display: block;
        width: 100%;
    }

    .c-field__label {
        color: $c-field-label-color;
        font-size: $c-field-label-font-size;
        font-weight: $c-field-label-font-weight;
        text-transform: $c-field-label-text-transform;
        margin-bottom: calc(#{$base}/2);
        letter-spacing: 0.05em;
    }

    .c-field__helper {
        font-style: italic;
        font-size: 14px;
        font-weight: 500;
        color: #707070;
        margin-top: calc(#{$base}/2);
        margin-left: calc(#{$base}/4);
    }

    .c-field__icon {
        position: absolute;
        left: calc(var(--base, 8px)*2);
        top: 50%;
        transform: translateY(-50%);
    }

    #{$fields} {
        appearance: none;

        width: 100%;
        margin: 0;
        outline: 0;

        height: map-get($spacers, "6");
        padding: map-get($spacers, "2");

        font-size: calc(#{$base}*2);
        line-height: 1; 

        border: 1px solid $color-light;
        background: #F5F5F5;
        border-radius: 2.5px;

        &:focus,
        &:active {
            border-color: $color-darkest;
        }
    }

    textarea {
        min-height: map-get($spacers, "6");
        height: initial;
        max-width: 100%;
        min-width: 100%;
    }

    &.is-invalid {
        input {
            &,
            &:focus,
            &:active {
                border-color: $c-field-helper-error-color;
            }
        }
        .c-field__helper {
            color: $c-field-helper-error-color;
        }
    }
    
    &.is-valid {
        input {
            &,
            &:focus,
            &:active {
                border-color: $c-field-helper-success-color;
            }
        }
        .c-field__helper {
            color: $c-field-helper-success-color;
        }
    }

    &.c-field--icon {
        #{$fields} {
            padding-left: calc(#{$base}*6);
        }
    }
}