.c-field {

    $grandparent: &;

    position: relative; 

    $fields: 'input[type="color"], input[type="text"], input[type="search"], input[type="tel"], input[type="time"], input[type="date"], input[type="datetime-local"], input[type="url"], input[type="week"], input[type="month"], input[type="number"], input[type="password"], input[type="email"]'; 

    #{$fields} {
        appearance: none;

        width: 100%;
        margin: 0;
        outline: 0;

        height: map-get($spacers, "6");
        padding: map-get($spacers, "2");

        font-size: calc(#{$base}*2);
        line-height: calc(#{$base}*2); 

        border: 1px solid $color-form-fields;
        background: $color-form-fields;
        background-size: calc(#{$base}*2);

        border-radius: $border-radius-md;

        transition: color .1s ease, border-color .1s ease;

        &:focus {
            background-color: $color-form-fields-focus;
            border-bottom: 2px solid $color-in-action;
        }
    }

    .c-field--radius-xs {
        #{$fields} {
            border-radius: $border-radius-xs;
        }
    }

    /* Border radiuses */ 
    &.c-field--radius-none {
        #{$fields} {
            border-radius: 0;
        }
    }

    &.c-field--radius-xs {
        #{$fields} {
            border-radius: $border-radius-xs;
        }
    }

    &.c-field--radius-sm {
        #{$fields} {
            border-radius: $border-radius-sm;
        }
    }

    &.c-field--radius-md {
        #{$fields} {
            border-radius: $border-radius-md;
        }
    }

    &.c-field--radius-lg {
        #{$fields} {
            border-radius: $border-radius-lg;
        }
    }

    /* Field icon */ 
    .c-icon {
        position: absolute;
        left: map-get($spacers, "2");
        top: 50%;
        transform: translateY(-50%);
    }

    /* Size modifiers */ 
    &.c-field--sm {
        #{$fields} {
            padding: map-get($spacers, "1"); 
            height: (map-get($spacers, "4") + map-get($spacers, "05"));
            text-indent: map-get($spacers, "1");
        }

        .c-icon {
            left: map-get($spacers, "1");
        }

        &.c-field--icon {
            #{$fields} {
                text-indent: map-get($spacers, "3");
            }
        }

        &.c-field--icon label {
            left: map-get($spacers, "4");
        }
    }

    &.c-field--md {
        #{$fields} {
            padding: map-get($spacers, "2"); 
            height: map-get($spacers, "6"); 
        }

        .c-icon {
            left: map-get($spacers, "2");
        }

        &.c-field--icon {
            #{$fields} {
                text-indent: (map-get($spacers, "4"));
            }
        }

        &.c-field--icon label {
            left: map-get($spacers, "6");
        }
    }

    &.c-field--lg {
        #{$fields} {
            padding: calc(map-get($spacers, "2") + map-get($spacers, "05")); 
            height: map-get($spacers, "8"); 
        }

        label {
            left: calc(map-get($spacers, "2") + map-get($spacers, "05"));
        }

        .c-icon {
            left: calc(map-get($spacers, "2") + map-get($spacers, "05"));
        }

        &.c-field--icon {
            #{$fields} {
                text-indent: (map-get($spacers, "4") + map-get($spacers, "05"));
            }
        }

        &.c-field--icon label {
            left: map-get($spacers, "7");
        }
    }

    /* Label styling */ 
    label {
        font-size: 14px;
        color: $color-form-fields-label;
        position: absolute;
        top: 50%;
        left: map-get($spacers, "2");
        transform-origin: top left;
        transform: translate(0, -50%) scale(1);
        transition: all .1s ease-in-out;
        cursor: text;
        pointer-events: none;
        opacity: 1;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 70%;
    }

    $active: '.invalid + label, label:active, input:not(:empty) + label, input:focus + label, input:not(:placeholder-shown) + label'; 

    #{$active} {
        transform: translate(0, -100%) scale(.75);
    }

    &.c-field--sm {
        #{$active}  {
            opacity: 0;
            transform: none;
        }
    }

    &.c-field--lg {
        #{$active} {
            transform: translate(0, -125%) scale(.75);
        }
    }

    .invalid + label {
        display: none;
    }

    input.invalid {
        border-bottom: none;
        border-bottom-left-radius: 0; 
        border-bottom-right-radius: 0; 
    }

    input.valid {
        border-bottom: 2px solid $color-success;
    }

    ::placeholder {
        color: transparent;
    }

    input[type="submit"],
    input[type="reset"] {
        display: inline-block;
        vertical-align: middle;
        font-weight: 500;
        text-decoration: none;
        cursor: pointer;
        margin: 0;
        margin-top: 2.66667px;
        margin-bottom: 2.66667px;
        border: 2px solid;
        outline: 0;
        @include button-size(8px, 16px, $font-size-btn, $font-size-btn-lg-line-height, 2px);
    }

    input[type="submit"] {
        @include button-mix($color-white, $color-primary, $color-primary);
    }

    input[type="reset"] {
        @include button-mix($color-primary, false, $color-primary);
    }

    input[type="color"] {
        visibility: hidden;
        -webkit-appearance: none;
        width: 100%;
        background: transparent;
        padding:0px;
        border:none;
        box-shadow:none;

        &:before {
            font-family: "Material Icons";
            content: "\e3b8";
            font-size: 22px;
            display: inline-block;
            visibility: visible;
            color: $color-primary;
            border-radius: $border-radius-xs;
            cursor: pointer;
        }
    }

    ::-webkit-datetime-edit-year-field:not([aria-valuenow]),
    ::-webkit-datetime-edit-month-field:not([aria-valuenow]),
    ::-webkit-datetime-edit-day-field:not([aria-valuenow]) {
        color: transparent;
    }

    .error.active {
        padding: 0.3em;
    }

    .c-field__input-invalid-message {
        width: 100%;
        padding: map-get($spacers, "1") ;
        display: none;
        font-size: 80%;
        color: $color-white;
        background-color: $color-danger;
        border:none;
        border-radius: 0 0 $border-radius-sm $border-radius-sm;
        box-sizing: border-box;

        &.error {
            display: block;
            transition: ease-in-out .3s;
        }

        .c-icon {
            position: relative;
            top: 3px;
            left: 0;
            transform: none;
            margin-right: map-get($spacers, "05");
        }
    }
}