
$c-field-label-color: var(--c-field-label-text-transform, $color-darker) !default;
$c-field-label-text-transform: var(--c-field-label-text-transform, uppercase) !default;
$c-field-label-font-size: var(--c-field-label-font-size, 12px) !default;
$c-field-label-font-weight: var(--c-field-label-font-size, 700) !default;

$c-field-helper-error-color: var(--c-field-helper-error-color, $color-danger-dark) !default;
$c-field-helper-success-color: var(--c-field-helper-success-color, $color-success-dark) !default;
$c-field-border-radius: var(--c-field-border-radius, $border-radius-xs) !default;
$c-field-border-radius-color: var(--c-field-border-radius-color, $border-radius-xs) !default;

$c-field-padding: var(--c-field-padding, map-get($spacers, "2")) !default;
$c-field-height: var(--c-field-height, map-get($spacers, "6")) !default;
$c-field-font-size: var(--c-field-font-size, $font-size-base) !default;
$c-field-suffix-color: var(--c-field-suffix-color, $color-darker) !default;

$fields: 'textarea, input, input[type="color"], input[type="text"], input[type="search"], input[type="tel"], input[type="time"], input[type="date"], input[type="datetime-local"], input[type="url"], input[type="week"], input[type="month"], input[type="number"], input[type="password"], input[type="email"]'; 

.c-field {
    .c-field__label,
    .c-field__helper {
        display: block;
        width: 100%;
    }

    .c-field__label {
        color: $c-field-label-color;
        font-size: $c-field-label-font-size;
        font-weight: $c-field-label-font-weight;
        text-transform: $c-field-label-text-transform;
        margin-bottom: calc(#{$base}/2);
        letter-spacing: 0.05em;
    }

    .c-field__helper {
        font-style: italic;
        font-size: 14px;
        font-weight: 500;
        color: #707070;
        margin-top: calc(#{$base}/2);
        margin-left: calc(#{$base}/4);
    }

    #{$fields} {
        appearance: none;
        flex: 1;
        border: 0;
        background: none;
        height: $c-field-height;
        line-height: $c-field-font-size; 
        padding: $c-field-padding;
        outline: 0;
        margin: 0;
    }
    
    .c-field__inner {
        position: relative;

        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;
        
        width: 100%;

        font-size: $c-field-font-size;
        line-height: $c-field-font-size; 

        border: 1px solid $color-light;
        background: #F5F5F5;
        border-radius: $c-field-border-radius;

        &:focus,
        &:focus-within,
        &:active {
            border-color: $color-darkest;
        }

        .c-field__icon, .c-field__prefix, .c-field__suffix {
            color: $c-field-suffix-color;
        }
        .c-field__icon, .c-field__prefix {
            padding-left: $c-field-padding;
        }
        .c-field__suffix {
            padding-right: $c-field-padding;
        }
    }

    textarea {
        min-height: $c-field-height;
        height: initial;
        max-width: 100%;
        min-width: 100%;
    }

    &.is-invalid {
        input {
            &,
            &:focus,
            &:active {
                border-color: $c-field-helper-error-color;
            }
        }
        .c-field__helper {
            color: $c-field-helper-error-color;
        }
    }
    
    &.is-valid {
        input {
            &,
            &:focus,
            &:active {
                border-color: $c-field-helper-success-color;
            }
        }
        .c-field__helper {
            color: $c-field-helper-success-color;
        }
    }

    .c-field__input-invalid-message {
        width: 100%;
        padding: #{map-get($spacers, "1")};
        display: none;
        font-size: 80%;
        color: $color-white;
        background-color: $color-danger;
        border:none;
        border-radius: 0 0 $c-field-border-radius $c-field-border-radius;
        box-sizing: border-box;
        margin-top: #{map-get($spacers, "05")};
        &.error {
            display: block;
            transition: ease-in-out .3s;
        }
    }
    
    .c-field__input-invalid-message {
        width: 100%;
        padding: #{map-get($spacers, "1")};
        display: none;
        font-size: 80%;
        color: $color-white;
        background-color: $color-danger;
        border:none;
        border-radius: 0 0 $c-field-border-radius $c-field-border-radius;
        box-sizing: border-box;
        margin-top: #{map-get($spacers, "05")};
        &.error {
            display: block;
            transition: ease-in-out .3s;
        }

        .c-icon {
            position: relative;
            top: 3px;
            left: 0;
            transform: none;
            margin-right: #{map-get($spacers, "05")};
        }
    }
}
