
$c-field-label-color: var(--c-field-label-text-transform, $color-darker) !default;
$c-field-label-text-transform: var(--c-field-label-text-transform, uppercase) !default;
$c-field-label-font-size: var(--c-field-label-font-size, 12px) !default;
$c-field-label-font-weight: var(--c-field-label-font-size, 700) !default;

$c-field-border-color: var(--c-field-border-color, var(--color-border-input, $color-light)) !default;
$c-field-danger-color: var(--c-field-danger-color, var(--color-danger, $color-form-fields-border-error)) !default;
$c-field-success-color: var(--c-field-success-color, var(--color-success, $color-success-dark)) !default;

$c-field-border-radius: var(--c-field-border-radius, $border-radius-xs) !default;
$c-field-border-radius-color: var(--c-field-border-radius-color, $border-radius-xs) !default;

$c-field-border-width: var(--c-field-border-width, var(--border-width-input, 1px)) !default;
$c-field-padding: var(--c-field-padding, map-get($spacers, "2")) !default;
$c-field-height: var(--c-field-height, calc((map-get($spacers, "6")))) !default;
$c-field-font-size-sm: var(--c-field-font-size-sm, $font-size-btn-sm) !default;
$c-field-font-size-md: var(--c-field-font-size-md, $font-size-btn-md) !default;
$c-field-font-size-lg: var(--c-field-font-size-lg, $font-size-btn-lg) !default;
$c-field-font-size-sm-line-height: var(--c-field-font-size-sm-line-height, $font-size-btn-sm-line-height) !default;
$c-field-font-size-md-line-height: var(--c-field-font-size-md-line-height, $font-size-btn-md-line-height) !default;
$c-field-font-size-lg-line-height: var(--c-field-font-size-lg-line-height, $font-size-btn-lg-line-height) !default;
$c-field-helper-font-size: var(--c-field-helper-font-size, $font-size-caption) !default;
$c-field-suffix-color: var(--c-field-suffix-color, $color-darker) !default;


$fields: 'input, input[type="color"], input[type="text"], input[type="search"], input[type="tel"], input[type="time"], input[type="date"], input[type="datetime-local"], input[type="url"], input[type="week"], input[type="month"], input[type="number"], input[type="password"], input[type="email"]'; 

.c-field {
    flex: 1;
    .c-field__label,
    .c-field__helper {
        display: block;
        width: 100%;
    }

    .c-field__label {
        color: $c-field-label-color;
        font-size: $c-field-label-font-size;
        font-weight: $c-field-label-font-weight;
        text-transform: $c-field-label-text-transform;
        margin-bottom: calc(#{$base}/2);
        letter-spacing: 0.05em;
    }

    .c-field__helper {
        font-style: italic;
        font-family: $font-family-italic;
        font-weight: $font-family-italic;
        font-size: $c-field-helper-font-size;
        color: #707070;
        margin-top: calc(#{$base}/2);
        margin-left: calc(#{$base}/4);
    }

    #{$fields}, textarea {
        appearance: none;
        flex: 1;
        border: 0;
        background: none;
        height: $c-field-height;
        padding: $c-field-padding;
        outline: 0;
        margin: 0;
    }
    
    .c-field__inner {
        position: relative;

        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;
        
        width: 100%;
        min-width: calc(#{$base}*10);

        font-size: $c-field-font-size-md;
        line-height: $c-field-font-size-md-line-height; 

        border: $c-field-border-width solid $c-field-border-color;
        background: $color-form-fields;
        border-radius: $c-field-border-radius;

        &:focus,
        &:focus-within,
        &:active {
            border: 3px solid $color-form-fields-border-focus;
            background-color: $color-form-fields-focus;
        }

        .c-field__icon, .c-field__prefix, .c-field__suffix {
            color: $c-field-suffix-color;
        }
        .c-field__icon, .c-field__prefix {
            padding-left: $c-field-padding;
        }
        .c-field__suffix {
            padding-right: $c-field-padding;
        }
        .c-field__error-icon {
            color: $c-field-danger-color;
            display: none;
        }

        &.c-field__inner--textarea .c-field__error-icon {
            position: absolute;
            padding: 0;
            right: map-get($spacers, "2");
            bottom: map-get($spacers, "2");
        }
    }

    textarea {
        min-height: $c-field-height;
        height: initial;
        max-width: 100%;
    }

    /* Borderless */
    &.c-field--borderless {
        .c-field__inner {
            border-width: 0;
            border-color: transparent;
        }
    }

    /* Size modifiers */ 
    &.c-field--sm {
        font-size: $c-field-font-size-sm;
        line-height: $c-field-font-size-sm-line-height; 
        
        #{$fields} {
            padding: map-get($spacers, "1"); 
            height: calc((#{map-get($spacers, "4")} + #{map-get($spacers, "05")}));
        }

        &.c-field--borderless {
            #{$fields} {
                height: calc((#{map-get($spacers, "4")} + #{map-get($spacers, "05")}));
            }
        }

        textarea {
            padding: map-get($spacers, "1"); 
            min-height: calc((#{map-get($spacers, "4")} + #{map-get($spacers, "05")}));
        }

        .c-field__icon, .c-field__prefix {
            padding-left: map-get($spacers, "1");
        }

        .c-field__suffix {
            padding-right: map-get($spacers, "1");
        }
    }

    &.c-field--md {
        #{$fields} {
            padding: map-get($spacers, "2"); 
            height: calc($c-field-height - ($c-field-border-width * 2)); 
        }

        &.c-field--borderless {
            #{$fields} {
                height: $c-field-height;
            }   
        }

        textarea {
            padding: map-get($spacers, "2"); 
            min-height: calc($c-field-height - ($c-field-border-width * 2)); 
        }

        .c-field__icon, .c-field__prefix {
            padding-left: map-get($spacers, "2");
        }

        .c-field__suffix {
            padding-right: map-get($spacers, "2");
        }
    }

    &.c-field--lg {
        font-size: $c-field-font-size-lg;
        line-height: $c-field-font-size-lg-line-height; 

        #{$fields} {
            padding: calc(#{map-get($spacers, "2")} + #{map-get($spacers, "05")}); 
            height: calc((#{map-get($spacers, "8")}));
        }

        &.c-field--borderless {
            #{$fields} {
                height: #{map-get($spacers, "8")};
            }
        }

        textarea {
            padding: calc(#{map-get($spacers, "2")} + #{map-get($spacers, "05")}); 
            min-height: calc((#{map-get($spacers, "8")}));
        }

        .c-field__icon, .c-field__prefix {
            padding-left: calc(#{map-get($spacers, "2")} + #{map-get($spacers, "05")});
        }

        .c-field__suffix {
            padding-right: calc(#{map-get($spacers, "2")} + #{map-get($spacers, "05")});
        }
    }

    &.is-invalid {
        .c-field__inner, select, option {
            &,
            &:focus,
            &:focus-within,
            &:active {
                background: $color-form-fields-error;
                border-color: $c-field-danger-color;
            }
            .c-field__error-icon {
                display: block;
            }
        }
        .c-field__helper {
            color: $c-field-danger-color;
        }

        .c-field__inner {
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 0;
        }

        .c-field__error {
            display: block;
            padding: map-get($spacers, "05") map-get($spacers, "2");
            color: $color-white;
            background-color: $c-field-danger-color;
            border-radius: 0 0 $c-field-border-radius $c-field-border-radius;
        }
    }
    
    &.is-valid {
        .c-field__inner {
            &,
            &:focus,
            &:active {
                border-color: $c-field-success-color;
            }
        }
        .c-field__helper {
            color: $c-field-success-color;
        }
    }

    .c-field__error {
        display: none;
    }
}

/* For the search-field in a hamburgermenu */
.c-hamburgermenu .c-form {
    @include mq("xs") {
        .c-group {
            justify-content: center;
        }
        .c-button {
            padding: 0 calc(var(--base, 8px) * 0.5);
        }
    }

    @include mq("sm") {
        .c-button {
            padding: 0 calc(var(--base, 8px) * 4);
        }
    }
}

/* To remove the arrows for a number input */
.c-field.c-field--textfield {
    input[type=number]::-webkit-outer-spin-button,
    input[type=number]::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0
    }
    
    input[type=number] {
        -webkit-appearance: none;
        -moz-appearance: textfield;
    }
}


