.c-field {
    position: relative;

    input[type="color"],
    input[type="text"],
    input[type="search"],
    input[type="tel"],
    input[type="time"],
    input[type="date"],
    input[type="datetime-local"],
    input[type="url"],
    input[type="week"],
    input[type="month"],
    input[type="number"],
    input[type="password"],
    input[type="email"] {
        width: 100%;
        margin: 0;
        outline: 0;
        appearance: none;
        padding: map-get($spacers, "2");
        font-size: 1em;
        line-height: $base*2; 
        background: $color-form-fields;
        border: 1px solid $color-form-fields;
        box-shadow: 0 0 0 0 transparent inset;
        transition: color .1s ease, border-color .1s ease;
        background-size: $base*2;
        border-radius: $border-radius-md;

        &:focus {
            background-color: lighten($color-form-fields, 5%);
            box-shadow: 0 0 0 0 rgba(34, 36, 38, .35) inset;
            border-bottom: 2px solid $color-in-action;
            margin-bottom: -2px;
        }

        &--sm & {
            padding: map-get($spacers, "1"); 
        }
    }

    label {
        font-size: 14px;
        color: $color-form-fields-label;
        position: absolute;
        top: 50%;
        left: $base*2;
        transform-origin: top left;
        transform: translate(0, -50%) scale(1);
        transition: all .1s ease-in-out;
        cursor: text;
        pointer-events: none;
    }

    .invalid + label,
    label:active,
    input:not(:empty) + label,
    input:focus + label,
    input:not(:placeholder-shown) + label {
        transform: translate(0, -100%) scale(.75);
    }

    .invalid + label {
        display: none;
    }

    input.invalid {
        border-bottom: none;
        border-bottom-left-radius: 0; 
        border-bottom-right-radius: 0; 
    }

    input.valid {
        border-bottom: 2px solid $color-success;
    }

    ::placeholder {
        color: transparent;
    }

    input[type="submit"],
    input[type="reset"] {
        display: inline-block;
        vertical-align: middle;
        font-weight: 500;
        text-decoration: none;
        cursor: pointer;
        margin: 0;
        margin-top: 2.66667px;
        margin-bottom: 2.66667px;
        border: 2px solid;
        outline: 0;
        @include button-size(8px, 16px, $font-size-btn, $font-size-btn-lg-line-height, 2px);
    }

    input[type="submit"] {
        @include button-mix($color-white, $color-primary, $color-primary);
    }

    input[type="reset"] {
        @include button-mix($color-primary, false, $color-primary);
    }

    input[type="color"] {
        visibility: hidden;
        -webkit-appearance: none;
        width: 100%;
        background: transparent;
        padding:0px;
        border:none;
        box-shadow:none;

        &:before {
            font-family: "Material Icons";
            content: "\e3b8";
            font-size: 22px;
            display: inline-block;
            visibility: visible;
            color: $color-primary;
            border-radius: $border-radius-xs;
            cursor: pointer;
        }
    }

    ::-webkit-datetime-edit-year-field:not([aria-valuenow]),
    ::-webkit-datetime-edit-month-field:not([aria-valuenow]),
    ::-webkit-datetime-edit-day-field:not([aria-valuenow]) {
        color: transparent;
    }

    .error.active {
        padding: 0.3em;
    }

    .c-field__input-invalid-message {
        width: 100%;
        padding: map-get($spacers, "1") ;
        display: none;
        font-size: 80%;
        color: $color-white;
        background-color: $color-danger;
        border:none;
        border-radius: 0 0 $border-radius-sm $border-radius-sm;
        box-sizing: border-box;

        &.error {
            display: block;
            transition: ease-in-out .3s;
        }

        .c-icon {
            position: relative;
            top: 3px;
        }
    }
}