@use "sass:map";
@use "../mixin/mq";
@use "../mixin/focus";
@use "../setting/var_default";

$fields: 'input, input[type="color"], input[type="text"], input[type="search"], input[type="tel"], input[type="time"], input[type="date"], input[type="datetime-local"], input[type="url"], input[type="week"], input[type="month"], input[type="number"], input[type="password"], input[type="email"], [data-js-select-action-overlay]';

.c-field {
    --c-field-height-computed: calc(var(--c-field-height, var(--base, 8px) * 6) - var(--c-field-border-width, var(--border-width-input, 1px)) * 2);

    flex: 1;

    .c-field__label,
    .c-field__helper {
        display: block;
        width: 100%;
    }

    .c-field__label {
        color: var(--c-field-label-color, var(--color-darker, #565656));
        font-size: var(--c-field-label-font-size, 0.75rem);
        font-weight: var(--c-field-label-font-size, 700);
        text-transform: var(--c-field-label-text-transform, uppercase);
        margin-bottom: calc(#{var_default.$base}/2);
        letter-spacing: 0.05rem;
    }

    .c-field__description {
        font-size: var(--c-field-description-font-size, 0.75rem);
        color: var(--c-field-description-color, var(--color-darker, #565656));
        margin-top: 0;
    }

    .c-field__helper {
        font-family: var_fonts.$font-family-base;
        font-weight: var_fonts.$font-family-base;
        font-size: $c-field-helper-font-size;
        color: #707070;
        margin-top: calc(#{var_default.$base}/2);
        margin-left: calc(#{var_default.$base}/4);
    }

    #{$fields},
    textarea {
        appearance: none;
        flex: 1;
        border: 0;
        background: none;
        height: var(--c-field-height, calc(var(--base, 8px) * 6));
        padding: var(--c-field-padding, calc(var(--base, 8px) * 2));
        outline: 0;
        margin: 0;
    }

    .c-field__inner {
        position: relative;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;
        width: 100%;
        min-width: calc(#{var_default.$base}*10);
        font-size: var(--c-field-font-size-md, var(--font-size-btn-md, 1rem));
        line-height: var(--c-field-font-size-md, var(--font-size-btn-md, 1rem))-line-height;
        border: var(--c-field-border-width, var(--border-width-input, 1px)) solid var(--c-field-border-color, var(--color-border-input, var(--color-light, #a3a3a3)));
        background: var(--c-field-background-color, var(--color-form-fields, #ffffff));
        border-radius: calc(var_default.$base * var(--c-field-border-radius, 0.25));

        &:focus-within {
            @include focus.focus-remove-default();
            @include focus.focus();
        }

        input {
            border-radius: calc(var_default.$base * var(--c-field-border-radius, 0.25));
        }

        .c-field__icon,
        .c-field__prefix,
        .c-field__suffix {
            color: $c-field-suffix-color;
        }

        .c-field__icon,
        .c-field__prefix {
            padding-left: var(--c-field-padding, calc(var(--base, 8px) * 2));
        }

        .c-field__suffix {
            padding-right: var(--c-field-padding, calc(var(--base, 8px) * 2));
        }

        .c-field__error-icon {
            color: var(--c-field-danger-color, var(--color-danger, var(--color-form-fields-border-error, #e02e24)));
            display: none;
        }

        .c-field__success-icon {
            color: var(--c-field-success-color, var(--color-success, var(--color-success-dark, #00b341)));
            display: none;
        }

        &.c-field__inner--textarea .c-field__error-icon,
        &.c-field__inner--textarea .c-field__success-icon {
            position: absolute;
            padding: 0;
            right: map.get(var_default.$spacers, "2");
            bottom: map.get(var_default.$spacers, "2");
        }

        &--search {

            #input_search-form__field,
            #input_search-form--field,
            #input_header-search-form__field,
            #input_hero-search-form__field,
            #input_mobile-search-form__field {
                box-shadow: none;
            }
        }

        &--number,
        &--email,
        &--text,
        &--url,
        &--time,
        &--date {
            input:focus {
                box-shadow: none;
            }
        }
    }

    &.c-field--hidden {
        .c-field__inner {
            border: unset;
        }
    }


    textarea {
        min-height: var(--c-field-height, calc(var(--base, 8px) * 6));
        height: initial;
        max-width: 100%;

        &:focus-visible {
            box-shadow: none;
        }
    }

    /* Borderless */
    &.c-field--borderless {
        .c-field__inner {
            border-width: 0;
            border-color: transparent;
        }
    }

    /* Shadow */
    &.c-field--shadow {
        transition: filter 100ms ease-in-out;
        filter: var_properties.$drop-shadow-1;
    }

    &.c-field--shadow:hover {
        filter: var_properties.$drop-shadow-2;
    }

    /* Customizer modifiers */
    &.c-field--rounded {

        .c-field__inner,
        .c-field__inner input {
            border-radius: calc(var_default.$base * 3);
            border: none;

            input::placeholder {
                font-weight: 700;
            }
        }

        .c-field__label {
            margin-left: calc(var_default.$base * 2);
        }

        &.c-field--rounded-border {
            .c-field__inner {
                border: var(--c-field-border-width, var(--border-width-input, 1px)) solid var(--c-field-border-color, var(--color-border-input, var(--color-light, #a3a3a3)));
            }
        }

        input:focus+.c-field_focus-styler,
        textarea:focus+.c-field_focus-styler {
            border-radius: calc(var_default.$base * 3);
        }
    }

    /* Size modifiers */
    &.c-field--sm {
        font-size: var(--c-field-font-size-sm, var(--font-size-btn-sm, 0.875rem));
        line-height: var(--c-field-font-size-sm-line-height, var(--font-size-btn-sm-line-height, 1.2));

        #{$fields} {
            padding: map.get(var_default.$spacers, "1");
            height: calc((#{map.get(var_default.$spacers, "4")} + #{map.get(var_default.$spacers, "05")}));
        }

        &.c-field--borderless {
            #{$fields} {
                height: calc((#{map.get(var_default.$spacers, "4")} + #{map.get(var_default.$spacers, "05")}));
            }
        }

        textarea {
            padding: map.get(var_default.$spacers, "1");
            min-height: calc((#{map.get(var_default.$spacers, "4")} + #{map.get(var_default.$spacers, "05")}));
        }

        .c-field__icon,
        .c-field__prefix {
            padding-left: map.get(var_default.$spacers, "1");
        }

        .c-field__suffix {
            padding-right: map.get(var_default.$spacers, "1");
        }
    }

    &.c-field--md {
        #{$fields} {
            padding: map.get(var_default.$spacers, "2");
            height: var(--c-field-height-computed);
        }

        &.c-field--borderless {
            #{$fields} {
                height: var(--c-field-height, calc(var(--base, 8px) * 6));
            }
        }

        textarea {
            padding: map.get(var_default.$spacers, "2");
            min-height: var(--c-field-height-computed);
        }

        .c-field__icon,
        .c-field__prefix {
            padding-left: map.get(var_default.$spacers, "2");
        }

        .c-field__suffix {
            padding-right: map.get(var_default.$spacers, "2");
        }
    }

    &.c-field--lg {
        font-size: var(--c-field-font-size-lg, var(--font-size-btn-lg, 1.125rem));
        line-height: var(--c-field-font-size-lg-line-height, var(--font-size-btn-lg-line-height, 1.5));

        #{$fields} {
            padding: calc(#{map.get(var_default.$spacers, "2")} + #{map.get(var_default.$spacers, "05")});
            height: #{map.get(var_default.$spacers, "8")}
        }

        &.c-field--borderless {
            #{$fields} {
                height: #{map.get(var_default.$spacers, "8")};
            }
        }

        textarea {
            padding: calc(#{map.get(var_default.$spacers, "2")} + #{map.get(var_default.$spacers, "05")});
            min-height: #{map.get(var_default.$spacers, "8")};
        }

        .c-field__icon,
        .c-field__prefix {
            padding-left: calc(#{map.get(var_default.$spacers, "2")} + #{map.get(var_default.$spacers, "05")});
        }

        .c-field__suffix {
            padding-right: calc(#{map.get(var_default.$spacers, "2")} + #{map.get(var_default.$spacers, "05")});
        }
    }

    &.is-invalid {

        .c-field__inner,
        select,
        option {

            &,
            &:focus,
            &:focus-within,
            &:active {
                background: var_colors.$color-form-fields-error;
                border-color: var(--c-field-danger-color, var(--color-danger, var(--color-form-fields-border-error, #e02e24)));
            }

            .c-field__error-icon {
                display: block;
            }
        }

        .c-field__helper {
            color: var(--c-field-danger-color, var(--color-danger, var(--color-form-fields-border-error, #e02e24)));
        }

        .c-field__inner {
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 0;
        }

        .c-field__error {
            display: block;
            padding: map.get(var_default.$spacers, "05") map.get(var_default.$spacers, "2");
            color: var_colors.$color-white;
            background-color: var(--c-field-danger-color, var(--color-danger, var(--color-form-fields-border-error, #e02e24)));
            border-radius: 0 0 calc(var_default.$base * var(--c-field-border-radius, 0.25)) calc(var_default.$base * var(--c-field-border-radius, 0.25));
        }
    }

    &.is-valid {
        .c-field__inner {

            &,
            &:focus,
            &:active {
                border-color: var(--c-field-success-color, var(--color-success, var(--color-success-dark, #00b341)));
            }

            .c-field__success-icon {
                display: block;
            }
        }
    }

    .c-field__error {
        display: none;
    }
}

/* For the search-field in a megamenu */
.c-megamenu .c-form {
    @include mq.mq("xs") {
        .c-group {
            justify-content: center;
        }

        .c-button {
            padding: 0 calc(var(--base, 8px) * 0.5);
        }
    }

    @include mq.mq("sm") {
        .c-button {
            padding: 0 calc(var(--base, 8px) * 4);
        }
    }
}