.c-fileinput {

    /* Is empty */
    .c-fileinput--is-empty {
        .c-fileinput__file-list {
            display: none;
        }
    }

    /* Drop area */
    .c-fileinput__area {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: calc( #{$base} * 4);
        border-radius: $border-radius-lg;
        background-color: $color-lightest;
        border: 1px solid $color-light;
        box-shadow: inset 0 0 50px 50px rgba(0,0,0,0.02);
        transition: all 0.2s ease-in-out;

        &:hover {
            background-color: $color-white;
            border-color: $color-light;
            cursor:pointer;
        }
    }

    /* List container */
    .c-fileinput__file-list {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        gap: calc(#{$base} * 2);
        margin-top: calc(#{$base} * 2);
        width: 100%;
        padding: calc(#{$base} * 2);    
    }

    /* Items uploaded */
    .c-fileinput__item {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 calc(#{$base} * .5);
        background-color: $color-lightest;
        border-radius: $border-radius-lg;
        margin: 0;
        border-radius: 100px;
        filter: $drop-shadow-1;
        height: calc(#{$base} * 5.5);

        .c-fileinput__item-remove {
            border-left: 1px solid $color-lighter;
            margin-left: calc(#{$base} * 2);
            border-radius: 0 100px 100px 0;
        }

        .c-fileinput__item-icon-wrapper {
            aspect-ratio: 1 / 1;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .c-fileinput__item-text {
            display: flex;
            flex-wrap: nowrap;
            align-items: center;
            gap: #{$base};

            .c-fileinput__item-name {
            max-width: calc(#{$base} * 20);
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            }

            .c-fileinput__item-size {
                white-space: nowrap;
                font-size: .7em;

                &::before {
                    content: "(";
                }
                &::after {
                    content: ")";
                }
            }
        }
    }
}