$c-filterselect-options-background-color: var(--c-filterselect-options-background-color, $color-white) !default;

/* Expand Button */
$c-filterselect-expand-color: var(--c-field-color, $c-field-label-color) !default;
$c-filterselect-expand-background-color: var(--c-field-background-color, $c-field-background-color) !default;
$c-filterselect-expand-border-color: var(--c-field-border-color, $c-field-border-color) !default;
$c-filterselect-expand-border-radius: var(--c-field-border-radius, $c-field-border-radius) !default;

/* Checked item */
$c-filterselect-checked-color: var(--c-filterselect-checked-color, $color-black) !default;
$c-filterselect-checked-background-color: var(--c-filterselect-checked-background-color, $color-lighter) !default;
$c-filterselect-checked-border-radius: var(--c-filterselect-checked-border-radius, $border-radius-xs) !default;
$c-filterselect-checked-font-size: var(--c-filterselect-checked-font-size, $font-size-meta) !default;

.c-filterselect {

    .c-filterselect__select,
    .c-filterselect__options {
        display: none;
    }

    .c-filterselect__options {
        background-color: $c-filterselect-options-background-color;
        padding: $base;
        position: absolute;
        top: 100%;
        width: 100%;
        max-height: calc($base * 30);
        overflow-y: auto;
        z-index: $level-3;
    }

    .c-filterselect__option {
        padding: $base;
        display: flex;
        align-items: center;
        justify-content: space-between;
        cursor: pointer;

        .c-filterselect__checked-icon {
            display: none;
        }

        &.is-checked {
            .c-filterselect__unchecked-icon {
                display: none;
            }

            .c-filterselect__checked-icon {
                display: block;
            }
        }
    }

    .c-filterselect__dropdown {
        display: flex;
        flex-direction: column;
        position: relative;
    }

    .c-filterselect__expand-button {
        display: flex;
        color: $c-filterselect-expand-color;
        background-color: $c-filterselect-expand-background-color;
        border: 1px solid $c-filterselect-expand-border-color;
        border-radius: calc($base * $c-filterselect-expand-border-radius);
        min-width: calc($base * 30);
        min-height: calc($base * 6);
        justify-content: space-between;
        cursor: pointer;
        z-index: $level-2;
    }

    .c-filterselect__checked-items {
        display: flex;
        width: 100%;
        flex-wrap: wrap;
        align-items: center;
        gap: $base;
        padding: $base;
    }

    .c-filterselect__checked-item {
        color: $c-filterselect-checked-color;
        font-size: $c-filterselect-checked-font-size;
        display: flex;
        padding: calc($base * .5);
        background-color: $c-filterselect-checked-background-color;
        border-radius: $c-filterselect-checked-border-radius;
        align-items: center;
    }

    .c-filterselect__expand-less-icon,
    .c-filterselect__expand-more-icon {
        padding: $base;
        border-left: 1px solid $c-filterselect-expand-border-color;
        align-items: center;
    }

    .c-filterselect__expand-less-icon {
        display: none;
    }

    .c-filterselect__expand-more-icon {
        display: flex;
    }

    &.is-active {
        .c-filterselect__options {
            display: block;
            z-index: 1;
        }

        .c-filterselect__expand-less-icon {
            display: flex;
        }

        .c-filterselect__expand-more-icon {
            display: none;
        }
    }

    &.c-filterselect--rounded {
        .c-filterselect__expand-button {
            border-radius: calc($base * 3);
            border: none;
            background-color: $color-form-fields;
            min-height: calc($base * 5.75);

            .c-filterselect__placeholder {
                font-weight: 500;
            }
        }
    }
}
