@use "sass:map";
@use "../element/headings";
@use "../mixin/mq";
@use "../setting/var_default";

.c-footer {
    background-color: var(--color-default, #f5f5f5);
    color: var(--c-footer-color-text, #000);

    a,
    a:hover,
    a:visited,
    a:active {
        color: var(--c-footer-color-text, #000);
    }

    &__main-wrapper {
        padding: calc(var(--c-footer-padding, 3) * var(--base, 8px)) 0;
    }

    &__body {
        width: 100%;
        max-width: var_default.$container-width;
        margin-left: auto;
        margin-right: auto;
        padding: map.get(var_default.$spacers, "5") 0;
        display: flex;
        flex-wrap: nowrap;
    }

    &__home-link {
        margin-right: 5%;
        line-height: 0;
        height: 60px;

        img, svg {
            height: 100%;
        }
    }

    &__links {
        margin-bottom: calc(var(--base) * 3);

        & h4 {
            font-weight: headings.$h4-font-weight;
            font-size:18px;
        }

        & a {
            color: #707070;
            text-decoration: none;
            display: inline-block;
        }
    }

    &__links div {
        color: #707070;
        text-decoration: none;
        display: inline-block;
    }

    &__link-divider {
        display: inline-block;
        background-color:#565656;
        border-radius: 50%;
        height: calc(var(--base) / 2);
        width: calc(var(--base) / 2);
        margin-bottom: calc(var(--base) / 2);
        margin-left: var_default.$base;
        margin-right: var_default.$base;
    }
    
    &__widget-area {
        gap: calc(var(--base) * 2);
        .footer-title {
            margin-bottom: calc(var(--base) * 2);
        }
        li {
            padding-left: 0;
        }
    }

    // Logo
    &__logotype {
        height: calc(var(--c-footer-height-logotype, 6) * var(--base, 8px));

        @include mq.mq('xs') {
            height: clamp(calc(var(--base, 8px) * 3), calc(calc(var(--c-footer-height-logotype, 6) * var(--base, 8px)) * 0.75), calc(var(--c-footer-height-logotype, 6) * var(--base, 8px)));
        }

        @include mq.mq('md') {
            height: clamp(calc(var(--base, 8px) * 3), calc(calc(var(--c-footer-height-logotype, 6) * var(--base, 8px)) * 0.75), calc(var(--c-footer-height-logotype, 6) * var(--base, 8px)));
        }

        @include mq.mq('lg') {
            height: calc(var(--c-footer-height-logotype, 6) * var(--base, 8px));
        }
    }

    &__header-wrapper {
        margin-bottom: calc(var(--c-footer-padding, 3) * var(--base, 8px));
    }

    &__prefooter-wrapper, &__widget-area {
        ul, p, figure {
            margin: 0;
            margin-bottom: var(--base);
        }
    }

    &--header-border {
        .c-footer__header-wrapper {
            border-bottom: var(--c-footer-header-border-size, 1px) solid var(--c-footer-header-border-color, var(--color-alpha, rgba(0, 0, 0, 0.7)));
            padding-bottom: calc(var(--c-footer-padding, 3) * var(--base, 8px));
        }
    }

    &__subfooter {
        color: var(--c-footer-subfooter-color-text, var(--color-black, #000000));
        background: var(--c-footer-subfooter-color-background, var(--color-white, #ffffff));
        padding: calc(var(--c-footer-subfooter-padding, 3) * var(--base, 8px)) 0;
        font-size: .9rem;

        a,
        a:hover,
        a:visited,
        a:active {
            color: var(--c-footer-subfooter-color-text, var(--color-black, #000000));
        }

        &__wrapper {
            display: flex;
            flex-wrap: wrap;
            justify-content: var(--c-footer-subfooter-alignment, center);
            align-items: var(--c-footer-subfooter-alignment, center);
            flex-direction: var(--c-footer-subfooter-flex-direction, row);
        }

        &__list {
            display: flex;
            flex-wrap: wrap;
            justify-content: var(--c-footer-subfooter-alignment, center);
            align-items: var(--c-footer-subfooter-alignment, center);
            flex-direction: var(--c-footer-subfooter-flex-direction, row);
            margin: calc(-1 * map.get(var_default.$spacers, "1")) calc(-1 * map.get(var_default.$spacers, "5"));
            margin-left: 0;
            padding: 0;
            list-style: none;
            overflow: hidden;
            flex: 1;
            li {
                position: relative;
                margin: 0;
                padding: map.get(var_default.$spacers, "1") map.get(var_default.$spacers, "5");
                padding-left: 0;
                line-height: 1;
                &:before {
                    content: "";
                    border-radius: 50%;
                    background: var(--c-footer-subfooter-color-separator, #A3A3A3);
                    display: none;
                    position: absolute;
                    width: 6px;
                    height: 6px;
                    left: -23px;
                    top: 50%;
                    transform: translateY(-50%);
                }
                &:not(:first-child):before {
                    display: block;
                }
            }
        }

        // Logo
        &__logotype {
            height: calc(var(--c-footer-subfooter-height-logotype, 6) * var(--base, 8px));
        }
    
        // Fix for separator dots showing on new lines
        &--align-flex-end {
            .c-footer__subfooter__list {
                margin: calc(-1 * map.get(var_default.$spacers, "1")) calc(-1 * map.get(var_default.$spacers, "5"));
                margin-right: 0;
                li {
                    padding: map.get(var_default.$spacers, "1") map.get(var_default.$spacers, "5");
                    padding-right: 0;
                    &:before {
                        display: none;
                    }
                    &:not(:last-child):before {
                        display: block;
                        left: auto;
                        right: -23px;
                    }
                }
            }
        }

        &--horizontal {
            .c-footer__subfooter__wrapper {
                align-items: center;
            }
            .c-footer__subfooter__logotype-wrapper {
                margin-right: map.get(var_default.$spacers, "7");
                margin-bottom: 0;
            }
        }

        &--vertical {
            .c-footer__subfooter__list {
                li:not(:first-child):before, li:not(:last-child):before {
                    display: none;
                }
            }
            .c-footer__subfooter__logotype-wrapper {
                margin-bottom: map.get(var_default.$spacers, "3");
                margin-right: 0;
            }
        }
    }
    
    //Todo: whole subfooter list implementation can/should be refactored and simplified
    .c-footer__subfooter__wrapper {
        overflow: hidden; //Quick fix until refactor
    }
}

@include mq.mq(map.get(var_default.$breakpoints-map, "xs"), "md") {

    .c-footer {

        &__body {
            padding: map.get(var_default.$spacers, "5") map.get(var_default.$spacers, "4");
            display: block;
            text-align: center;
        }

        &__home-link {
            display: block;
            margin-bottom: map.get(var_default.$spacers, "5");
        }

        &__link-divider {
            display: none;
        }

        &__links a {
            display: block;
            margin-bottom: map.get(var_default.$spacers, "2");
        }

        &__subfooter {
            &__list, &__wrapper {
                flex-direction: column;
                justify-content: center;
                align-items: center;
                > li:not(:first-child):before {
                    display: none;
                }
            }

            &--align-flex-end .c-footer__subfooter__list li:not(:last-child):before {
                display: none;
            }

            &__logotype {
                height: clamp(calc(var(--base, 8px) * 3), calc(calc(var(--c-footer-subfooter-height-logotype, 6) * var(--base, 8px)) * 0.75), calc(var(--c-footer-subfooter-height-logotype, 6) * var(--base, 8px)));
            }

            &--horizontal {
                .c-footer__subfooter__logotype-wrapper {
                    margin-bottom: map.get(var_default.$spacers, "3");
                    margin-right: 0;
                }
            }
        }
    }
}