$c-footer-grid-gap-widgets: calc(var(--base, 8px) * var(--o-grid-gap, 4) * 0.5) !default;
$c-footer-height-logotype: calc(var(--c-footer-height-logotype, 6) * #{$base}) !default;
$c-footer-padding: calc(var(--c-footer-padding, 3) * #{$base}) !default;
$c-footer-color-text: var(--c-footer-color-text, #000) !default;
$c-footer-subfooter-height-logotype: calc(var(--c-footer-subfooter-height-logotype, 6) * #{$base}) !default;
$c-footer-subfooter-padding: calc(var(--c-footer-subfooter-padding, 3) * #{$base}) !default;
$c-footer-subfooter-color-background: var(--c-footer-subfooter-color-background, $color-white) !default;
$c-footer-subfooter-color-text: var(--c-footer-subfooter-color-text, $color-black) !default;
$c-footer-subfooter-alignment: var(--c-footer-subfooter-alignment, center) !default;
$c-footer-subfooter-flex-direction: var(--c-footer-subfooter-flex-direction, row) !default;
$c-footer-subfooter-color-separator: var(--c-footer-subfooter-color-separator, #A3A3A3) !default;
$c-footer-header-border-size: var(--c-footer-header-border-size, 1px) !default;
$c-footer-header-border-color: var(--c-footer-header-border-color, #{$color-alpha}) !default;

.c-footer {
    background-color: $color-default;
    color: $c-footer-color-text;

    a {
        color: $c-footer-color-text;
    }

    &__main-wrapper {
        padding: $c-footer-padding 0;
    }

    &__body {
        width: 100%;
        max-width: $container-width;
        margin-left: auto;
        margin-right: auto;
        padding: map-get($spacers, "5") 0;
        display: flex;
        flex-wrap: nowrap;
    }

    &__home-link {
        margin-right: 5%;
        line-height: 0;
        height: 60px;

        img, svg {
            height: 100%;
        }
    }

    &__links {
        margin-bottom: calc(#{$base} * 3);

        & h4 {
            font-weight: 900;
            font-size:18px;
        }

        & a {
            color: #707070;
            text-decoration: none;
            display: inline-block;
        }
    }

    &__links div {
        color: #707070;
        text-decoration: none;
        display: inline-block;
    }

    &__link-divider {
        display: inline-block;
        background-color:#565656;
        border-radius: 50%;
        height: calc(#{$base} / 2);
        width: calc(#{$base} / 2);
        margin-bottom: calc(#{$base} / 2);
        margin-left: $base;
        margin-right: $base;
    }
    
    &__widget-area {
        gap: calc(#{$base} * 2);
        .footer-title {
            margin-bottom: calc(#{$base} * 2);
        }
        ul, p, figure {
            margin: 0;
            margin-bottom: #{$base};
        }
        li {
            padding-left: 0;
        }
    }

    // Logo
    &__logotype {
        height: $c-footer-height-logotype;

        @include mq('xs') {
            height: clamp(calc(#{$base} * 3), calc($c-footer-height-logotype * 0.75), $c-footer-height-logotype);
        }
    
        @include mq('md') {
            height: clamp(calc(#{$base} * 3), calc($c-footer-height-logotype * 0.75), $c-footer-height-logotype);
        }
    
        @include mq('lg') {
            height: $c-footer-height-logotype;
        }
    }

    &--header-border {
        .c-footer__header-wrapper {
            border-bottom: $c-footer-header-border-size solid $c-footer-header-border-color;
            padding-bottom: $c-footer-padding;
        }
    }

    &__subfooter {
        color: $c-footer-subfooter-color-text;
        background: $c-footer-subfooter-color-background;
        padding: $c-footer-subfooter-padding 0;

        a {
            color: $c-footer-subfooter-color-text;
        }

        &__wrapper {
            display: flex;
            flex-wrap: wrap;
            justify-content: $c-footer-subfooter-alignment;
            align-items: $c-footer-subfooter-alignment;
            flex-direction: $c-footer-subfooter-flex-direction;
        }

        &__list {
            display: flex;
            flex-wrap: wrap;
            justify-content: $c-footer-subfooter-alignment;
            align-items: $c-footer-subfooter-alignment;
            flex-direction: $c-footer-subfooter-flex-direction;
            margin: calc(-1 * map-get($spacers, "1")) calc(-1 * map-get($spacers, "5"));
            margin-left: 0;
            padding: 0;
            list-style: none;
            overflow: hidden;
            flex: 1;
            li {
                position: relative;
                margin: 0;
                padding: map-get($spacers, "1") map-get($spacers, "5");
                padding-left: 0;
                line-height: 1;
                &:before {
                    content: "";
                    border-radius: 50%;
                    background: $c-footer-subfooter-color-separator;
                    display: none;
                    position: absolute;
                    width: 6px;
                    height: 6px;
                    left: -23px;
                    top: 50%;
                    transform: translateY(-50%);
                }
                &:not(:first-child):before {
                    display: block;
                }
            }
        }

        // Logo
        &__logotype {
            height: $c-footer-subfooter-height-logotype;
        }
    
        // Fix for separator dots showing on new lines
        &--align-flex-end {
            .c-footer__subfooter__list {
                margin: calc(-1 * map-get($spacers, "1")) calc(-1 * map-get($spacers, "5"));
                margin-right: 0;
                li {
                    padding: map-get($spacers, "1") map-get($spacers, "5");
                    padding-right: 0;
                    &:before {
                        display: none;
                    }
                    &:not(:last-child):before {
                        display: block;
                        left: auto;
                        right: -23px;
                    }
                }
            }
        }

        &--horizontal {
            .c-footer__subfooter__wrapper {
                align-items: center;
            }
            .c-footer__subfooter__logotype-wrapper {
                margin-right: map-get($spacers, "7");
                margin-bottom: 0;
            }
        }

        &--vertical {
            .c-footer__subfooter__list {
                li:not(:first-child):before, li:not(:last-child):before {
                    display: none;
                }
            }
            .c-footer__subfooter__logotype-wrapper {
                margin-bottom: map-get($spacers, "3");
                margin-right: 0;
            }
        }
    }
}

@include mq(map_get($breakpoints-map, "xs"), "md") {

    .c-footer {

        &__body {
            padding: map-get($spacers, "5") map-get($spacers, "4");
            display: block;
            text-align: center;
        }

        &__home-link {
            display: block;
            margin-bottom: map-get($spacers, "5");
        }

        &__link-divider {
            display: none;
        }

        &__links a {
            display: block;
            margin-bottom: map-get($spacers, "2");
        }

        &__subfooter {
            &__list, &__wrapper {
                flex-direction: column;
                justify-content: center;
                align-items: center;
                > li:not(:first-child):before {
                    display: none;
                }
            }

            &--align-flex-end .c-footer__subfooter__list li:not(:last-child):before {
                display: none;
            }

            &__logotype {
                height: clamp(calc(#{$base} * 3), calc($c-footer-subfooter-height-logotype * 0.75), $c-footer-subfooter-height-logotype);
            }

            &--horizontal {
                .c-footer__subfooter__logotype-wrapper {
                    margin-bottom: map-get($spacers, "3");
                    margin-right: 0;
                }
            }
        }
    }
}