.c-gallery {

    .c-image {
        cursor:pointer;

    }

    @include unlist();

    display: grid; 
    grid-template-columns: 1fr;

    padding: 0; 
    margin: -#{map-get($spacers, '1')};

    &__item {
        margin: #{map-get($spacers, '1')}; 
        padding: 0; 
    }

    &__link,
    &__link:visited, 
    &__link:visited:hover {
        text-decoration: none; 
        color: $color-gray;
    }

}

@include mq(map_get($breakpoints-map, 'sm')) {
    .c-gallery {
        grid-template-columns: 1fr 1fr;
    }
}

@include mq(map_get($breakpoints-map, 'md')) {
    .c-gallery {
        margin: -#{map-get($spacers, '2')};

        &__item {
            margin: #{map-get($spacers, '2')}; 
        }
    }
}

@include mq(map_get($breakpoints-map, 'lg')) {
    .c-gallery {
        grid-template-columns: 1fr 1fr 1fr;

        &__item {
            grid-template-columns: 1fr 1fr 1fr;
        }
    }
}

