.c-gallery {
    display:flex;
    justify-content: space-between;
    flex-wrap: wrap;

    @include unlist(); 
    padding: 0; 
    margin: -#{map-get($spacers, '1')};

    &__item {
        margin: 0;
        padding: map-get($spacers, '1');

        @include mq(map_get($breakpoints-map, 'lg')) {
            width: 98%;
            height: auto;
            max-width: initial;
            max-height: initial;

            @media all and (orientation:portrait) {
                display: inline-block;
                width: auto;
                height: 100vh;
            }
        }

        @include mq(map_get($breakpoints-map, 'sm')) {
            width: 33%;
        }
    }
}