@use "sass:map";
@use "../mixin/focus";
@use "../mixin/list";
@use "../mixin/mq";
@use "../setting/var_colors";
@use "../setting/var_default";

.c-gallery {
    .c-image {
        cursor:pointer;
    }
    @include list.unlist();
    display: grid;
    grid-template-columns: 1fr;
    padding: 0;
    margin: 0;
    gap: calc(#{var(--base)} * 3);

    &__item {
        padding: 0;
        margin: 0;
    }

    &__link,
    &__link:visited,
    &__link:visited:hover {
        text-decoration: none;
        color: var_colors.$color-light;
    }
}

.c-modal--gallery .c-modal__content .c-image__caption {
    color: var_colors.$color-white;
}

.c-modal--gallery {

    .c-modal__close,
    .c-modal__prev,
    .c-modal__next {
        margin: #{map.get(var_default.$spacers, "1")};
    }

    .c-modal__prev:focus-visible,
    .c-modal__next:focus-visible,
    .c-modal__close:focus-visible {
        @include focus.focus();
    }

    .c-steppers {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        bottom: 0;
    }
}

@include mq.mq(map.get(var_default.$breakpoints-map, "sm")) {
    .c-gallery {
        grid-template-columns: 1fr 1fr;
    }
}

@include mq.mq(map.get(var_default.$breakpoints-map, "lg")) {
    .c-gallery {
        grid-template-columns: 1fr 1fr 1fr;
        &__item {
            grid-template-columns: 1fr 1fr 1fr;
        }
    }
}
