.c-grid__container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-auto-flow: row;
    width: 100%;

    &__cols {
        @for $i from 1 through 13 {

            &--#{$i} {
                grid-template-columns: repeat($i, 1fr);
            }
        }
    }
}

@each $name, $value in $spacers {

    .c-grid__container__gap {

        &__col {

            &--#{$name} {
                grid-column-gap: $value;
            }
        }

        &__row {

            &--#{$name} {
                grid-row-gap: $value;
            }
        }
    }
}

@each $axis in column, row {
    @each $side in start, end {
        @for $i from 1 through 13 {
            @include responsiveStyles(
                (
                    ".c-grid__#{$axis}__#{$side}--#{$i}" : (grid-#{$axis}-#{$side}: $i),
                )
            );
        }
    }
}