@use "../mixin/tokens";

$position: center, start, end, flex-start, flex-end, normal, space-between, space-around, space-evenly, stretch;

$_: "c-group";

@include tokens.create($_, getComponentTokens($_), (
    "grid-gap": tokens.use($_, "base", 4),
    "fluid-2col": calc(100% - #{tokens.get('grid-gap', 1)} / 2),
    "fluid-3col": calc(100% - #{tokens.get('grid-gap', 2)} / 3),
    "fluid-4col": calc(100% - #{tokens.get('grid-gap', 3)} / 4)
));

.#{$_} {
    display: flex;

    @for $i from 1 through 12 {
        &.#{$_}--gap-#{$i} {
            --grid-gap: tokens.use($_, "base", $i);
            gap: tokens.get($_, "grid-gap");
        }

        &.#{$_}--columns-#{$i} {
            --#{$_}-column-width: calc((100% - var(--grid-gap, var(--base, 8px) * 4)) / #{$i});
            
            > * {
                flex-basis: var(--#{$_}-column-width);
                max-width: var(--#{$_}-column-width);
            }
        }
    }

    @each $key in $position {
        &.#{$_}--justify-content-#{$key} {
            justify-content: $key;
        }

        @if $key != 'space-between' and $key != 'space-evenly' and $key != 'space-around' {
            &.#{$_}--align-items-#{$key} {
                align-items: $key;
            }
        }

        &.#{$_}--align-content-#{$key} {
            align-content: $key;
        }
        
    }

    &.#{$_}--display-flex {
        display: flex;
    }

    &.#{$_}--display-inline-flex {
        display: inline-flex;
    }

    &.#{$_}--display-grid {
        display: grid;
    }

    &.#{$_}--flex-wrap-wrap {
        flex-wrap: wrap;
    }
    
    &.#{$_}--flex-wrap-wrap-reverse {
        flex-wrap: wrap-reverse;
    }

    &.#{$_}--flex-wrap-nowrap {
        flex-wrap: nowrap;
    }

    &.#{$_}--flex-grow > * {
            flex-grow: 1;
    }

    &.#{$_}--flex-shrink-none > * {
            flex-shrink: 0;
    }

    &.#{$_}--size-md.#{$_}--single-column-sm,
    &.#{$_}--size-sm.#{$_}--single-column-md,
    &.#{$_}--size-lg.#{$_}--single-column-lg,
    &.#{$_}--single-column {
        grid-template-columns: 1fr;
    }
}

.#{$_}--horizontal > *:not(:first-child) {
    margin-left: 0;
    border-top-left-radius: 0; 
    border-bottom-left-radius: 0; 
    border-left: none;

    /* Fields */ 
    &.c-field input,
    &.c-field textarea {
        border-top-left-radius: 0; 
        border-bottom-left-radius: 0; 
    }
}

.#{$_}--horizontal > *:not(:last-child) {
    margin-right: 0;
    border-top-right-radius: 0; 
    border-bottom-right-radius: 0; 

    /* Fields */ 
    &.c-field input,
    &.c-field textarea {
        border-top-right-radius: 0; 
        border-bottom-right-radius: 0; 
    }
}

.#{$_}--vertical {
    flex-direction: column;
}

.#{$_}--vertical > *:not(:first-child) {
    margin-top: 0;
    border-top: none;

    /* Fields */ 
    &.c-field input,
    &.c-field textarea {
        border-top-left-radius: 0; 
        border-top-right-radius: 0; 
    }
}

.#{$_}--vertical > *:not(:last-child) {
    margin-bottom: 0;
    border-bottom-left-radius: 0; 
    border-bottom-right-radius: 0; 

    /* Fields */ 
    .c-field input,
    .c-field textarea {
        border-bottom-left-radius: 0; 
        border-bottom-right-radius: 0; 
    }
}

/* Fluid grid using grid */
.#{$_}.#{$_}--fluid-grid.#{$_}--display-grid {
    grid-template-columns: 1fr;

    &.#{$_}--fluid-grid-2 {
        &.#{$_}--size-lg:not(.#{$_}--single-column-lg) {
            grid-template-columns: 1fr 1fr;
        }
    }

    &.#{$_}--fluid-grid-3 {
        &.#{$_}--size-md:not(.#{$_}--single-column-md) {
            grid-template-columns: 1fr 1fr;
        }

        &.#{$_}--size-lg:not(.#{$_}--single-column-lg) {
            grid-template-columns: 1fr 1fr 1fr;
        }
    }
    
    &.#{$_}--fluid-grid-4 {
        &.#{$_}--size-sm:not(.#{$_}--single-column-sm) {
            grid-template-columns: 1fr 1fr;
        }

        &.#{$_}--size-lg:not(.#{$_}--single-column-lg) {
            grid-template-columns: 1fr 1fr 1fr 1fr;
        }
    }
}

/* Fluid grid using flex */
.#{$_}.#{$_}--fluid-grid:not(.#{$_}--display-grid) {
    --c-group-fluid-2col: calc(100% - #{tokens.get('grid-gap', 1)} / 2);
    --c-group-fluid-3col: calc(100% - #{tokens.get('grid-gap', 2)} / 3);
    --c-group-fluid-4col: calc(100% - #{tokens.get('grid-gap', 3)} / 4);
    
    flex-wrap: wrap;
    flex-direction: row;
    & > * {
        width: 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }

    &.#{$_}--fluid-grid-2 {
        &.#{$_}--size-lg > * {
            flex: 0 0 tokens.get($_, "fluid-2col");
            max-width: tokens.get($_, "fluid-2col");
        }
    }

    &.#{$_}--fluid-grid-3 {
        &.#{$_}--size-md > * {
            flex: 0 0 tokens.get($_, "fluid-2col");
            max-width: tokens.get($_, "fluid-2col");
        }

        &.#{$_}--size-lg > * {
            flex: 0 0 tokens.get($_, "fluid-3col");
            max-width: tokens.get($_, "fluid-3col");
        }
    }

    &.#{$_}--fluid-grid-4 {
        &.#{$_}--size-sm > * {
            flex: 0 0 tokens.get($_, "fluid-2col");
            max-width: tokens.get($_, "fluid-2col");
        }

        &.#{$_}--size-lg > * {
            flex: 0 0 tokens.get($_, "fluid-4col");
            max-width: tokens.get($_, "fluid-4col");
        }
    }
}
