
// Override hamburger settings
$hamburger-padding-x: calc(#{$base} * 3) !default;
$hamburger-padding-y: calc(#{$base} * 2) !default;
$hamburger-types     : (slider) !default;

// $hamburger-padding-x           : 15px;
// $hamburger-padding-y           : 15px;
$hamburger-layer-width         : calc(#{$base} * 4) !default;
$hamburger-layer-height        : 3px !default;
$hamburger-layer-spacing       : 6px !default;
// $hamburger-layer-color         : #000;
// $hamburger-layer-border-radius : 4px;
// $hamburger-hover-opacity       : 0.7;
// $hamburger-active-layer-color  : $hamburger-layer-color;
// $hamburger-active-hover-opacity: $hamburger-hover-opacity;

// // To use CSS filters as the hover effect instead of opacity,
// // set $hamburger-hover-use-filter as true and
// // change the value of $hamburger-hover-filter accordingly.
// $hamburger-hover-use-filter   : false;
// $hamburger-hover-filter       : opacity(50%);
// $hamburger-active-hover-filter: $hamburger-hover-filter;

@import "~hamburgers/_sass/hamburgers/hamburgers.scss";

.hamburger {
    display: flex;
    align-items: center;
}

.hamburger > * + * {
    margin-left: calc(#{$base} * 2.5);
}

.hamburger.hamburger--reverse

.hamburger-label {
    font-size: 16px;
}

@mixin hamburger--stacked()
{
    flex-direction: column;

    .hamburger-label {
        font-size: 14px;
        order: 2;
    }

    & > * + *  {
        margin-left: 0;
        margin-top: $base;
    }
}

@mixin hamburger--reverse()
{
    flex-direction: row-reverse;

    & > * + *  {
        margin-left: 0;
        margin-right: calc(#{$base} * 2.5);
    }
}



.hamburger.hamburger--stacked {
    @include hamburger--stacked();
}

.hamburger.hamburger--stacked\@xs {
    @include mq('xs', 'sm') {
        @include hamburger--stacked();
    }
}

.hamburger.hamburger--stacked\@sm {
    @include mq('xs', 'md') {
        @include hamburger--stacked();
    }
}
.hamburger.hamburger--stacked\@md {
    @include mq('xs', 'lg') {
        @include hamburger--stacked();
    }
}

.hamburger.hamburger--reverse {
    @include hamburger--reverse();
}

.hamburger.hamburger--reverse\@xs {
    @include mq('xs') {
        @include hamburger--reverse();
    }
}

.hamburger.hamburger--reverse\@sm {
    @include mq('sm') {
        @include hamburger--reverse();
    }
}
.hamburger.hamburger--reverse\@md {
    @include mq('md') {
        @include hamburger--reverse();
    }
}

.hamburger.hamburger--reverse\@lg {
    @include mq('lg') {
        @include hamburger--reverse();
    }
}
