$c-hamburgermenu-padding: calc(var(--o-grid-gap, 4) * #{$base}) !default;

.c-hamburgermenu {
    padding: $c-hamburgermenu-padding 0;
    
    .c-hamburgermenu__link--title {
        font-size: $font-size-title;
        color: $color-hamburger-menu-heading;
    }

    .c-hamburgermenu__item--child {
        padding: map-get($spacers, "05") 0;
        
        .c-hamburgermenu__link {
            text-decoration: none;
            color: $color-hamburger-menu-subitem;
        }
    }
}