$c-hamburgermenu-padding: calc(var(--o-grid-gap, 4) * #{$base}) !default;

.c-hamburgermenu {
    padding: $c-hamburgermenu-padding 0;
    &__link--title {
        font-size: $font-size-title;
    }
}