$c-hamburger-menu-heading-color: var(--c-hamburger-menu-heading-color, $color-primary) !default;
$c-hamburger-menu-subitem-color: var(--c-hamburger-menu-subitem-color, $color-primary) !default;
$c-hamburger-menu-background-color: var(--c-hamburger-menu-background-color, $color-primary-contrasting) !default;
$c-hamburger-menu-padding: calc(var(--c-hamburger-menu-padding, 4) * #{$base}) !default;
$c-hamburger-menu-font: var(--c-hamburger-menu-font, $font-family-base) !default;

.c-hamburgermenu {
    padding-top: $c-hamburger-menu-padding;
    padding-bottom: $c-hamburger-menu-padding;
    background-color: $c-hamburger-menu-background-color;

    &.c-hamburgermenu--secondary {
        --c-hamburger-menu-heading-color: #{$color-primary};
        --c-hamburger-menu-subitem-color: #{$color-primary};
        --c-hamburger-menu-background-color: #{$color-secondary};
    }

    &.c-hamburgermenu--primary {
        --c-hamburger-menu-heading-color: #{$color-primary};
        --c-hamburger-menu-subitem-color: #{$color-black};
        --c-hamburger-menu-background-color: #{$color-white};
    }

    &.c-hamburgermenu--font-heading {
        --c-hamburger-menu-font: #{$font-family-heading};
    }
    
    .c-hamburgermenu__link--title {
        font-size: $font-size-title;
        color: $c-hamburger-menu-heading-color;
        font-family: $c-hamburger-menu-font;
    }

    .c-hamburgermenu__description {
        border-top: 2px solid $c-hamburger-menu-heading-color;
        padding-top: calc($base * 1);
        margin-top: 0;
    }

    .c-hamburgermenu__link {
        display: inline-flex;
        align-items: center;
        text-decoration: none;
    }

    .c-hamburgermenu__item--child {
        padding: map-get($spacers, "05") 0;
        display: flex;
        align-items: center;
        
        .c-hamburgermenu__link {
            text-decoration: none;
            color: $c-hamburger-menu-subitem-color;
        }
    }
}


