@use "../mixin/focus";
@use "../setting/var_colors";
@use "../setting/var_default";
@use "../setting/var_properties";

$c-header-logotype-height: calc(var(--c-header-logotype-height, 6) * #{var_default.$base}) !default;

.c-header {
    z-index: var_properties.$level-6;
    position: relative;
    background-color: var_colors.$color-header-background;

    #main-menu:target {
        animation: blink 0.65s ease-in-out 3 both;
        scroll-margin-top: calc(#{var_default.$base} * 2);
    }

    &.c-header--sticky {
        position: sticky;
        top: 0;
        z-index: var_properties.$level-7;
    }

    &.c-header--accented {
        border-bottom: var_colors.$color-primary solid var_default.$base;
    }

    &.c-header--primary {
        background-color: var_colors.$color-primary;
    }

    &.c-header--secondary {
        background-color: var_colors.$color-secondary;
    }

    &.c-header--text-white > *,
    &.c-header--text-white .c-button__basic,
    &.c-header--text-white .c-nav .c-nav__link {
        color: var_colors.$color-white;
    }

    &.c-header--text-black * ,
    &.c-header--text-black .c-nav .c-nav__link {
        color: var_colors.$color-black;
    }

    &.c-header--text-primary * ,
    &.c-header--text-primary .c-nav .c-nav__link {
        color: var_colors.$color-primary;
    }

    &.c-header--text-secondary * ,
    &.c-header--text-secondary .c-nav .c-nav__link {
        color: var_colors.$color-secondary;
    }

    &.c-header--casual {
        #main-menu {
            display: flex;
            flex-grow: 1;
            flex-shrink: 1;

            .c-nav--casual-left {
                justify-content: flex-start;
                .c-nav__item--search {
                    margin-left: auto;
                }
            }

            .c-nav--casual-right {
                justify-content: flex-end;
            }

            .c-nav--casual-center {
                justify-content: center;
            }
        }
    }

    &.c-header--business {
        .c-nav--business-left {
            justify-content: flex-start;
            
            .c-nav__item--search {
                margin-left: auto;
            }
        }
        .c-nav--business-right {
            justify-content: flex-end;
        }

        .c-nav--business-gap {
            justify-content: space-between;
        }
    }

    // Logo
    &__logotype {
        height: $c-header-logotype-height;
    }
}

@keyframes blink {
    0% {}
    25% {
        @include focus.focus();
    }
    75% {
        @include focus.focus();
    }
    100% {}
}