.c-header .c-header__body {
    padding: $baseline*2 0;
}

.c-header.c-header--hard .c-header__body {
    padding: 0 0;
}

.c-header__body {
    align-items: center;
    flex-wrap: nowrap;
}

.c-header.c-header--large .c-header__body {
    @include mq(lg) {
        height: 128px;
    }
}