.c-header {
    @include shadow(2);
    z-index: $level-7;
    position: relative;

    &__menu {
        padding: map-get($spacers, "3") map-get($spacers, "4");
    }

    &__wrapper {
        background: $color-header-background;
    }

    &__wrapper.c-header__wrapper--level-1 {
        background-color: $color-header-background-level-1;
    }

    &__wrapper.c-header__wrapper--level-2 {
        background-color: $color-header-background-level-2;
    }

    &__wrapper.c-header__wrapper--level-3 {
        background-color: $color-header-background-level-3;
    }

    &__body {
        display: flex;
        align-items: center;
        flex-wrap: nowrap;
        justify-content: space-between;

        width: 100%;
        max-width: $container-width-wide;
        margin-left: auto;
        margin-right: auto;
    }
}

.c-header__home-link {
    display: inline-block;
    padding: map-get($spacers, "3") map-get($spacers, "4");

    img, svg {
        display: block;
        height: $header-logotype-height;
        transition: opacity 200ms, transform 100ms;
    }

    &:hover img, &:hover svg {
        opacity: .7;
    }

    &:active img, &:active svg {
        transform: scale(0.98);
    }

}