@use "../mixin/focus";
@use "../setting/var_default";

.c-header {
    z-index: var(--level-6);
    position: relative;
    background-color: var(--color-header-background, var(--color-white, #ffffff));

    #main-menu:target {
        animation: blink 0.65s ease-in-out 3 both;
        scroll-margin-top: calc(var(--base) * 2);
    }

    &.c-header--sticky {
        position: sticky;
        top: 0;
        z-index: var(--level-7);
    }

    &.c-header--accented {
        border-bottom: var(--color-primary, #ae0b05) solid var(--base);
    }

    &.c-header--primary {
        background-color: var(--color-primary, #ae0b05);
    }

    &.c-header--secondary {
        background-color: var(--color-secondary, #ec6701);
    }

    &.c-header--text-white > *,
    &.c-header--text-white .c-button__basic,
    &.c-header--text-white .c-nav .c-nav__link {
        color: var(--color-white, #ffffff);
    }

    &.c-header--text-black * ,
    &.c-header--text-black .c-nav .c-nav__link {
        color: var(--color-black, #000000);
    }

    &.c-header--text-primary * ,
    &.c-header--text-primary .c-nav .c-nav__link {
        color: var(--color-primary, #ae0b05);
    }

    &.c-header--text-secondary * ,
    &.c-header--text-secondary .c-nav .c-nav__link {
        color: var(--color-secondary, #ec6701);
    }

    &.c-header--casual {
        #main-menu {
            display: flex;
            flex-grow: 1;
            flex-shrink: 1;

            .c-nav--casual-left {
                justify-content: flex-start;
                .c-nav__item--search {
                    margin-left: auto;
                }
            }

            .c-nav--casual-right {
                justify-content: flex-end;
            }

            .c-nav--casual-center {
                justify-content: center;
            }
        }
    }

    &.c-header--business {
        .c-nav--business-left {
            justify-content: flex-start;
            
            .c-nav__item--search {
                margin-left: auto;
            }
        }
        .c-nav--business-right {
            justify-content: flex-end;
        }

        .c-nav--business-gap {
            justify-content: space-between;
        }
    }

    // Logo
    &__logotype {
        height: calc(var(--c-header-logotype-height, 6) * var(--base, 8px));
    }
}

@keyframes blink {
    0% {}
    25% {
        @include focus.focus();
    }
    75% {
        @include focus.focus();
    }
    100% {}
}