@use "../mixin/tokens";
@use "../mixin/animations/ken-burns";

$containerWidthSm: 362px;
$containerWidthMd: 744px;
$containerWidthLg: 1024px;

$_: "c-hero";

@include tokens.create($_, getComponentTokens($_),
    ("shadow": tokens.use($_, "shadow", 2),
        "color-overlay": tokens.get($_, "color--alpha"),
        "color-font-contrasting": tokens.get($_, "color--alpha-contrast"),
        "background-color": tokens.get($_, "color--alpha"),
        "content-border-radius": tokens.use($_, "border-radius"),
        "control-color": tokens.get($_, "color--primary"),
        "control-background-color": tokens.get($_, "color--primary-contrast"),
        "font-size-title": calc(tokens.get($_, "font-size-600") + 1vw),
        "font-size-byline": calc(tokens.get($_, "font-size-300") + 0.5vw),
        "font-size-body": calc(tokens.get($_, "font-size-100") + 0.2vw),
    ));

.#{$_} {
    display: flex;
    contain: layout;
    overflow: hidden;
    container-name: hero;
    container-type: inline-size;

    &:hover {
        .#{$_}__controls {
            display: inline-flex;
        }
    }

    .#{$_}__controls {
        display: none;
        position: absolute;
        top: tokens.use($_, "base", 1.5);
        right: tokens.use($_, "base", 1.5);
        cursor: pointer;
        z-index: 3;

        &:before {
            content: "";
            display: block;
            background: tokens.get($_, "control-background-color");
            width: tokens.use($_, "base", 3);
            height: tokens.use($_, "base", 3);
            border-radius: 50%;
            position: absolute;
            z-index: -1;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }

        .#{$_}__animation-play-button {
            display: none;
            color: tokens.get($_, "control-color");
        }

        .#{$_}__animation-pause-button {
            display: inline-flex;
            color: tokens.get($_, "control-color");
        }

        &.is-paused {
            .#{$_}__animation-pause-button {
                display: none;
            }

            .#{$_}__animation-play-button {
                display: inline-flex;
            }
        }
    }

    &.#{$_}--image {
        .#{$_}__image {
            background-color: tokens.get($_, "background-color");
            background-size: cover;
            width: 100%;
            height: 100%;
            position: absolute;

            .c-image.c-image--type-svg .c-image__image {
                object-fit: cover; //Override the default object-fit: scale-down;
            }
        }
    }

    &.#{$_}--animation-type-kenny {
        .#{$_}__image {
            @include ken-burns.ken-burns();
        }

        @media (prefers-reduced-motion: reduce) {
            .#{$_}__image {
                animation: none;
            }
        }
    }

    /** Modifiers - size **/
    &.#{$_}--small {
        min-height: tokens.use($_, "base", 40);

        &::before {
            aspect-ratio: 36 / 7;
            display: block;
            max-width: 100%;
        }
    }

    &.#{$_}--normal {
        min-height: tokens.use($_, "base", 50);

        &::before {
            aspect-ratio: 10 / 3;
            display: block;
            max-width: 100%;
        }
    }

    &.#{$_}--large {
        max-height: 70vh;
        min-height: tokens.use($_, "base", 60);

        &::before {
            aspect-ratio: 16 / 9;
            display: block;
            max-width: 100%;
        }
    }


    &.#{$_}--small:before,
    &.#{$_}--normal:before,
    &.#{$_}--large:after {
        content: "";
        display: table;
        clear: both;
    }

    &.#{$_}--stretch {
        /* Bleed outside container  left&right */
        border-radius: 0;
        left: 50%;
        position: relative;
        transform: translateX(-50%);
        width: calc(100vw - var(--scrollbar, 15px));
    }

    /** Sub elements */
    &.#{$_}--overlay .#{$_}__overlay {
        position: absolute;
        inset: 0;
        z-index: 1;
        box-shadow: inset 0 0 20vh rgba(0, 0, 0, .2);
    }

    .#{$_}__container {
        align-self: flex-end;
    }

    @container hero (min-width: #{$containerWidthMd}) {

        .#{$_}__container {
            display: flex;
        }

        &.#{$_}--content-horizontal__center .#{$_}__container {
            justify-content: center;
        }

        &.#{$_}--content-horizontal__right .#{$_}__container {
            justify-content: flex-end;
        }

        &.#{$_}--content-vertical__top .#{$_}__container {
            align-self: flex-start;
        }

        &.#{$_}--content-vertical__center .#{$_}__container {
            align-self: center;
        }

        &.#{$_}--text-align__center .#{$_}__container {
            text-align: center;
        }

        &.#{$_}--text-align__right .#{$_}__container {
            text-align: right;
        }
    }

    .#{$_}__content {
        padding: tokens.use($_, "space", 6) 0;
        max-width: tokens.use($_, "base", 87);
        z-index: 2;
        position: relative;
    }

    &.#{$_}--overlay .#{$_}__content {
        text-shadow: 0 0 .8rem rgba(0, 0, 0, .4);
    }

    &.#{$_}--has-content-background-color {
        .#{$_}__content {
            margin: tokens.use($_, "base", 3) 0;
            padding: tokens.use($_, "space", 6);
        }

        &.#{$_}--apply-rounded-corners .#{$_}__content {
            border-radius: tokens.get($_, "content-border-radius");
            corner-shape: tokens.get($_, "corner-shape");
        }

        &.#{$_}--apply-shadows .#{$_}__content {
            filter: tokens.get($_, "shadow");
        }
    }

    .#{$_}__content--link {
        text-decoration: none;
    }

    .#{$_}__title,
    .#{$_}__byline,
    .#{$_}__meta,
    .#{$_}__body {
        animation: hero-slide-in 1s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;
    }

    &.#{$_}--overlay {

        .#{$_}__title,
        .#{$_}__byline,
        .#{$_}__meta,
        .#{$_}__body {
            color: tokens.get($_, "color-font-contrasting");
        }
    }

    .#{$_}__meta {
        animation-delay: 200ms;
    }

    .#{$_}__title {
        font-size: tokens.get($_, "font-size-title");
        text-wrap: balance;
        animation-delay: 200ms;
    }

    .#{$_}__byline {
        font-size: tokens.get($_, "font-size-byline");
        animation-delay: 400ms;
        display: inline-block;
    }

    .#{$_}__body {
        font-size: tokens.get($_, "font-size-body");
        animation-delay: 600ms;
    }

    .#{$_}__title+.#{$_}__body {
        animation-delay: 400ms;
    }

    .#{$_}__overlay {
        background-color: tokens.get($_, "color-overlay");
    }

    .#{$_}__video {
        position: absolute;
        inset: 0;
        object-fit: cover;
        width: 100%;
        height: 100%;
    }

    /* Meta */
    &.#{$_}--meta {
        .#{$_}__content .#{$_}__title {
            margin-top: 0;
        }
    }

    /* TwoColumn hero */
    &.#{$_}--twoColumn {
        padding: tokens.use($_, "base", 10) 0;

        &:before {
            display: none;
        }

        .#{$_}__image-container {
            aspect-ratio: 16 / 9;
            border-radius: tokens.get($_, "content-border-radius");
            corner-shape: tokens.get($_, "corner-shape");
            contain: paint;
        }

        .#{$_}__group-image,
        .c-image__image {
            border-radius: inherit;
        }

        .#{$_}__background {
            height: 100%;
            width: 100%;
            z-index: -1;
            object-fit: cover;
            position: absolute;
            top: 0;
            background-repeat: no-repeat;
            background-size: cover;
        }

        .#{$_}__content {
            max-width: 100%;
            padding: 0;
            text-shadow: none;
            border-radius: tokens.get($_, "content-border-radius");
            corner-shape: tokens.get($_, "corner-shape");

            .#{$_}__group {
                flex: 0 0 100%;
            }

            .#{$_}__group-content {
                padding: 0;
                height: 100%;
            }
        }
    }

    @container hero (min-width: #{$containerWidthMd}) {
        &.#{$_}--twoColumn {
            opacity: .5;
        }

        &.#{$_}--twoColumn .#{$_}__content .#{$_}__group {
            flex: 0 0 calc(50% - calc(var(--o-grid-gap, 4) * var(--base, 8px)) * 0.5);
        }
    }


    /* Call to action hero */
    &.#{$_}--callToActions {
        color: tokens.get($_, "color--primary");

        .#{$_}__text {
            padding: tokens.use($_, "base", 5) tokens.use($_, "base", 3);

            &>.o-grid {
                max-width: var(--container-width, 100%);
                margin: auto;
            }

            p {
                margin: -0.5em 0 tokens.use($_, "base", 6) 0;
            }
        }

        .#{$_}__media {
            overflow: hidden;
            position: relative;
        }

        &.#{$_}--media-first {
            .#{$_}__media {
                order: 1;
            }

            .#{$_}__text {
                order: 2;
            }
        }

        &.#{$_}--normal {
            min-height: unset;
            max-height: none;

            .#{$_}__media {
                aspect-ratio: 1.5/1;
            }
        }

        &.#{$_}--small {
            min-height: unset;
            max-height: none;

            .#{$_}__media {
                aspect-ratio: 2/1;
            }
        }

        &.#{$_}--large {
            min-height: unset;
            max-height: none;

            .#{$_}__media {
                aspect-ratio: 1/1;
            }
        }

        .#{$_}__buttons {
            display: flex;
            flex-flow: column;
            margin-top: tokens.use($_, "base", 3);
            gap: tokens.use($_, "base", 2);

            .c-button+.c-button {
                margin-left: 0;
            }
        }

        @container hero (min-width: #{$containerWidthSm}) {
            .#{$_}__text {
                padding: tokens.use($_, "base", 6) tokens.use($_, "base", 3);

                p {
                    margin: 0;
                }
            }
        }

        @container hero (min-width: #{$containerWidthMd}) {
            .#{$_}__text {
                padding: tokens.use($_, "base", 8) tokens.use($_, "base", 3);
            }

            .#{$_}__buttons {
                flex-flow: row;
            }

            &.#{$_}--normal {
                .#{$_}__media {
                    aspect-ratio: 3/1;
                }
            }

            &.#{$_}--small {
                .#{$_}__media {
                    aspect-ratio: 4/1;
                }
            }

            &.#{$_}--large {
                .#{$_}__media {
                    aspect-ratio: 16/9;
                }
            }
        }

        @container hero (min-width: #{$containerWidthLg}) {
            .#{$_}__text {
                padding: tokens.use($_, "base", 10) tokens.use($_, "base", 3);
            }
        }
    }
}



@keyframes hero-slide-in {
    0% {
        transform: translateY(tokens.use($_, "base", 4));
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}