.c-hero {
    @include shadow(5, true);
    color: $color-white;

    background-size: cover;
    position: relative;
    min-height: $base*88; 

    display: flex;
    align-items: center;
    justify-content: center;

    /* Wrapping body */ 
    &__body {
        z-index: $level-2;
        width: 100%; 
        max-width: $container-width-wide; 
        padding: map-get($spacers, '3') map-get($spacers, '4');

        height: 100%; 

        display: flex; 
        align-items: center;
        flex-wrap: nowrap;
        justify-content: space-between;
    }

    /* Content */ 
    &__content {
        font-size: $font-size-hero-body; 
        max-width: 500px; 
        max-height: 100%; 
    }

    &__headline {
        font-size: $font-size-hero; 
        font-weight: 400; 
    }

    &__byline {
        font-size: $font-size-hero-byline; 
        font-weight: 300; 
    }

    &__paragraph {
        font-size: $font-size-hero-body; 
        font-weight: 300; 
    }

    &__headline + &__paragraph,
    &__byline + &__paragraph {
        margin-top: map-get($spacers, '3'); 
    }

    /* Aside image */ 
    &__complementary-image {
        height: 100%;
        background-size: contain;
        width: 40%;
        background-repeat: no-repeat;
        background-position: right center;
    }

    /* Modifiers */ 
    &--color-light {
        color: $color-white; 
    }

    &--color-dark {
        color: $color-black; 
    }

    /* Gradient fill */ 
    &--gradient-light:after,
    &--gradient-dark:after {
        @include cover(); 
        z-index: $level-1;
        content: ""; 
    }

    &--gradient-light:after {
        @include gradient(rgba(#fff, 0), rgba(#fff, .3));
    }

    &--gradient-dark:after {
        @include gradient(rgba(#000, 0), rgba(#000, .3));
    }

    /* Brand */ 
    &--brand:before {
        position: absolute;
        bottom: $base*3;
        left: auto; 
        right: auto;
        width: 8vmax;
        height: 8vmax;

        content: ''; 

        background-repeat: no-repeat;
        background-size: contain;

        min-width: $base*10;
        min-height: $base*10;
        max-width: $base*12;
        max-height: $base*12;
        z-index: $level-3;

        opacity: 0;
        animation: fadein 2s forwards;
        animation-delay: 1s;

        @include mq(map_get($breakpoints-map, 'sm')) {
            right: $base*3; 
        }
    }

    @keyframes fadein {
        from { opacity: 0; }
        to   { opacity: 1; }
    }
}