.c-icon {

    /* Set baseline to align icon to text */ 
    &:before {
        vertical-align: -12.5%; 
    }

    /* Modifiers  - Sizes */
    &--size-inherit {
        font-size: inherit; 
    }

    &--size-xs {
        font-size: $base; 
    }

    &--size-sm {
        font-size: $base*2; 
    }

    &--size-md {
        font-size: $base*3; 
    }

    &--size-lg {
        font-size: $base*4; 
    }

    &--size-xl {
        font-size: $base*5; 
    }

    &--size-xxl {
        font-size: $base*6; 
    }

    /* Modifiers  - Colors */

    &--color-black {
        color: $color-black; 
    }

    &--color-gray {
        color: $color-gray; 
    }

    &--color-gray-light {
        color: $color-gray-light; 
    }

    &--color-gray-lighter {
        color: $color-gray-lighter; 
    }

    &--color-white {
        color: $color-white; 
    }

    &--color-primary {
        color: $color-primary; 
    }

    &--color-secondary {
        color: $color-secondary; 
    }

    /* Nested elements */
    &__label {
        font-size: 1rem; 
        font-style: normal; 
        color: inherit;
    }

    &--fluid-label &__label {
        font-size: 1em; 
    }
}

