@use "sass:list";
@use "../setting/var_colors";
@use "../setting/var_default";

@charset "utf-8";
$sizes: xs, sm, md, lg, xl, xxl;

$colors: (
    "color-black": var(--color--black),
    "color-gray": var(--color--gray),
    "color-default": var(--color--default),
    "color-default-dark": var(--color--default-dark),
    "color-white": var(--color--white),
    "color-primary": var(--color--primary),
    "color-secondary": var(--color--secondary)
);

:root {
    @each $size in $sizes {
        $index: list.index($sizes, $size);
        --c-icon-size-#{$size}: calc(#{var(--base)} * #{$index});
    }
}

.c-icon {
    line-height: 1;

    &.c-icon--placeholder {
        visibility: hidden;
        &:after {
            content: "" !important; 
        }
    }
    
    &.c-icon--svg-link {
        width: 1em;
        object-fit: contain;
        aspect-ratio: 1/1;
    }

    &.c-icon--svg-path {
        svg {
            width: auto;

            path {
                stroke: currentColor;
                fill: currentColor;
                stroke-width: 1;
            }
        }
    }

    /* Set baseline to align icon to text */

    &:after {
        vertical-align: 12.5%;
    }

    /* Modifiers */
    &.c-icon--material {
        display: inline-flex;;
    }

    &.c-icon--size-inherit {
        font-size: inherit;
    }

    @each $size in $sizes {
        $index: list.index($sizes, $size);
        &.c-icon--size-#{$size} {
            $iconSize: var(--c-icon-size, var(--c-icon-size-#{$size}));
            font-size: $iconSize;
            &::after {
                height: $iconSize;
                width: $iconSize;
                display: inline-block;
            }
            svg {
                height: $iconSize;
            }
        }
    }

    @each $color, $value in $colors {
        &.c-icon--#{$color} {
            color: $value;
            
            svg path {
                stroke: $value;
                fill: $value;
                stroke-width: 1;
            }
        }
    }

    /* Nested elements */

    .c-icon__label {
        font-size: 1rem;
        font-style: normal;
        color: inherit;
    }

    &.c-icon--fluid-label .c-icon__label {
        font-size: 1rem;
    }

}

@media print {

    .c-icon {
        display: none;
    }

}