@use "../mixin/tokens";

/* Component name */
$_: "c-iconsection";

/* Design tokens */
@include tokens.create($_, getComponentTokens($_),
    ("shadow": tokens.use($_, "shadow", 2),
        "border": tokens.use($_, "border-width", 1) solid tokens.get($_, "color--surface-border"),
    ));

/* Component */
.#{$_} {
    display: flex;
    flex-direction: column;

    // Item
    .#{$_}__item {
        contain: paint layout;
        display: grid;
        grid-template-columns: [icon] auto [content] 1fr;
        border: tokens.get($_, "border");

        filter: tokens.get($_, "shadow");
        background-color: tokens.get($_, "color--surface");
        border-radius: tokens.use($_, "border-radius");
        corner-shape: tokens.get($_, "corner-shape");

        &__icon,
        &__content {
            padding: tokens.use($_, "space", 2);
        }

        &__icon {
            grid-column: icon;
            background-color: tokens.get($_, "color--surface-alt");
            border-right: tokens.get($_, "border");
            color: tokens.get($_, "color--surface-contrast-muted");

            &>* {
                opacity: .5;
            }
        }

        &__content {
            grid-column: content;
        }
    }

    &.#{$_}--gap-0 {
        contain: paint layout;
        filter: tokens.get($_, "shadow");
        background-color: tokens.get($_, "color--surface");
        border-radius: tokens.use($_, "border-radius");
        corner-shape: tokens.get($_, "corner-shape");

        .#{$_}__item {
            filter: unset;
            background-color: none;
            padding: 0;
        }

        .#{$_}__item+.#{$_}__item {
            border-top: none;
        }

        .#{$_}__item:not(:first-child) {
            border-top-left-radius: 0;
            border-top-right-radius: 0;
        }

        .#{$_}__item:not(:last-child) {
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 0;
        }
    }

    @for $i from 0 through 12 {
        &.#{$_}--gap-#{$i} {
            gap: tokens.use($_, "outer-space", $i * 0.5);
        }
    }
}