@use "../mixin/tokens";

/* Component name */
$_: "c-icon";
$sizes: xs, sm, md, lg, xl, xxl;

/* Design tokens */
@include tokens.create($_, getComponentTokens($_),
    ("size-xs": tokens.use($_, "base", 1),
        "size-sm": tokens.use($_, "base", 2),
        "size-md": tokens.use($_, "base", 3),
        "size-lg": tokens.use($_, "base", 4),
        "size-xl": tokens.use($_, "base", 5),
        "size-xxl": tokens.use($_, "base", 6),
        "color": tokens.get($_, "color--background-contrast"
        )));

.#{$_} {
    color: tokens.get($_, "color");
    line-height: 1;

    &.#{$_}--placeholder {
        visibility: hidden;

        &:after {
            content: "" !important;
        }
    }

    &.#{$_}--svg-link {
        width: 1em;
        object-fit: contain;
        aspect-ratio: 1/1;
    }

    &.#{$_}--svg-path {
        svg {
            width: auto;

            path {
                stroke: currentColor;
                fill: currentColor;
                stroke-width: 1;
            }
        }
    }

    /* Set baseline to align icon to text */

    &:after {
        vertical-align: 12.5%;
    }

    /* Modifiers */
    &.#{$_}--material {
        display: inline-flex;
    }

    &.#{$_}--size-inherit {
        font-size: inherit;
    }

    @each $size in $sizes {
        &.#{$_}--size-#{$size} {
            $icon-size: var(--c-icon-size, #{tokens.get($_, "size-#{$size}")});
 font-size: $icon-size;

                    &::after {
                    height: $icon-size;
                    width: $icon-size;
                    display: inline-block;
                }

                svg {
                    height: $icon-size;
                }
            }
        }

        /* Nested elements */

        .#{$_}__label {
            font-size: 1rem;
            font-style: normal;
            color: inherit;
        }

        &.#{$_}--fluid-label .#{$_}__label {
            font-size: 1rem;
        }

    }

    @media print {

        .#{$_} {
            display: none;
        }

    }