@use "../setting/var_border-radius";

$c-iframe-border-radius: var(--c-iframe-border-radius, var_border-radius.var(--radius-xs)) !default;

// ***************************************************************
// *** Mapping for different sizes
// ***************************************************************
$radius: (
    (
        'name': '',
        'size': var_border-radius.var(--radius-md),
    ),
    (
        'name': &--rounded-xs,
        'size': var_border-radius.var(--radius-xs),
    ),
    (
        'name': &--rounded-sm,
        'size': var_border-radius.var(--radius-sm),
    ),
    (
        'name': &--rounded-md,
        'size': var_border-radius.var(--radius-md),
    ),
    (
        'name': &--rounded-lg,
        'size': var_border-radius.var(--radius-lg),
    )
);

