$c-iframe-border-radius: var(--c-iframe-border-radius, $border-radius-xs) !default;

// ***************************************************************
// *** Mapping for different sizes
// ***************************************************************
$radius: (
    (
        'name': '',
        'size': $border-radius-md,
    ),
    (
        'name': &--rounded-xs,
        'size': $border-radius-xs,
    ),
    (
        'name': &--rounded-sm,
        'size': $border-radius-sm,
    ),
    (
        'name': &--rounded-md,
        'size': $border-radius-md,
    ),
    (
        'name': &--rounded-lg,
        'size': $border-radius-lg,
    )
);

.c-iframe {
    border-radius: $c-iframe-border-radius;
}