$c-iframe-border-radius: var(--c-iframe-border-radius, $border-radius-xs) !default;

// ***************************************************************
// *** Mapping for different sizes
// ***************************************************************
$radius: (
    (
        'name': '',
        'size': $border-radius-md,
    ),
    (
        'name': &--rounded-xs,
        'size': $border-radius-xs,
    ),
    (
        'name': &--rounded-sm,
        'size': $border-radius-sm,
    ),
    (
        'name': &--rounded-md,
        'size': $border-radius-md,
    ),
    (
        'name': &--rounded-lg,
        'size': $border-radius-lg,
    )
);

.c-iframe {
    border-radius: $c-iframe-border-radius;
    position: relative;
    background-color: white;

    &__modal {
        @include cover;
        z-index: 1;
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    &__description {
        max-width: 600px;
        margin:auto;
    }

     &--ratio {
        position: relative;

          /* &--video {
            color:white;
            max-width: unset;
            backdrop-filter: blur(10px);
            height: 100%;
            width: 100%;
            background-color: var(--c-slider-color-overlay, var(--color-alpha, rgba(0, 0, 0, 0.55)));    
        } */

        /* 
           &__action {
            text-align: center;
            .c-icon {
                cursor: pointer;
                font-size: 80px;
        }
    } */
        
    }
}

.c-acceptance {
    border-radius: $c-iframe-border-radius;
    
    .c-acceptance__modal {
        background-color: white;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
    }

    &.c-acceptance--video {
    
        .c-acceptance__modal {
            @include cover;
            overflow: auto;
            background-color: var(--c-slider-color-overlay, var(--color-alpha, rgba(0, 0, 0, 0.55)));  
            color:white; 
            max-width: unset;
            padding:calc(var(--base, 8px) * 3);
        }
        a {
            color: var(--color-alpha-contrast, white);
        }

        .c-acceptance__modal-description {
            margin: auto;
        }

        .c-acceptance__modal-button {
            text-align: center;
            margin-top: calc(var(--base, 8px) * 2);
            .c-icon {
                font-size: 80px;
            }
        }
    }
}