@use "sass:map";
@use "../mixin/cover";
@use "../mixin/mq";
@use "../mixin/ratio";
@use "../setting/var_border-radius";
@use "../setting/var_colors";
@use "../setting/var_default";
@use "../setting/var_fonts";

$c-image-border-radius: var(--c-image-border-radius, var(--radius-xs));


// ***************************************************************
// *** Image
// ***************************************************************

.c-image {
    line-height: 0;
    position: relative;
    
    .c-image__caption,
    .c-image__byline {
        font-size: var(--font-size-caption);
        line-height: var(--line-height-caption);
        margin-top: map.get(var_default.$spacers, '1');
    }

    .c-image__caption {
        color: var(--color--darkest);
    }

    .c-image__byline {
        color: var(--color--dark);
    }

    .c-image__modal {
        cursor: pointer;
    }

    .c-image__image {
        border-radius: $c-image-border-radius;
        corner-shape: var(--corner-shape);
        max-width: 100%;
        margin: 0;
        width: inherit;
        height: inherit;
        object-fit: cover;
    }

    /* Modifiers */
    &.c-image--custom-width {
        width: auto;
    }

    &.c-image--radius-xs .c-image__image,
    &.c-image--radius-xs .c-image__image-wrapper {
        border-radius: var(--radius-xs);
        corner-shape: var(--corner-shape);
    }

    &.c-image--radius-sm .c-image__image,
    &.c-image--radius-sm .c-image__image-wrapper {
        border-radius: var(--radius-sm);
        corner-shape: var(--corner-shape);
    }

    &.c-image--radius-md .c-image__image,
    &.c-image--radius-md .c-image__image-wrapper {
        border-radius: var(--radius-md);
        corner-shape: var(--corner-shape);
    }

    &.c-image--radius-lg .c-image__image,
    &.c-image--radius-lg .c-image__image-wrapper {
        border-radius: var(--radius-lg);
        corner-shape: var(--corner-shape);
    }

    &.c-image--radius-full .c-image__image,
    &.c-image--radius-full .c-image__image-wrapper {
        border-radius: var(--radius-full);
        corner-shape: var(--corner-shape);
    }

    &.c-image--full-width .c-image__image {
        object-fit: contain;
        width: 100%;
        display: block;
    }

    &.c-image--type-svg .c-image__image {
        object-fit: scale-down;
    }

    &.c-image--cover {
        @include cover.cover();
        .c-image__image {
            position: absolute;
            top: 50%; 
            left: 50%;
            transform: translate(-50%, -50%);
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: 50% 50%;
        }
    }

    .c-modal--gallery .c-image__caption {
        margin: 0 auto;
        position: absolute;
        bottom: calc( #{map.get(var_default.$spacers, '8')} * -1);
        color: var(--color--white);
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, -50%);

        @include mq.mq(map.get(var_default.$breakpoints-map, 'xs'), 'sm') {
            bottom: calc(#{map.get(var_default.$spacers, '8')} * -1);
            overflow-wrap: break-word;
        }
    }

    /* Inline images resized */
    &.is-resized {
        width: auto;
        display: inline;
        img {
            width: auto;
        }
    }
}

// ***************************************************************
// *** Container query
// ***************************************************************
@supports (container-type: size) {
    .c-image.c-image--container-query .c-image__image-wrapper {
        container-type: size;
        background-size: cover;
        width: 100%;
        height: 100%;
    }
    .c-image.c-image--container-query .c-image__image {
        display: none;
    }
}
@supports not (container-type: size) {
    .c-image.c-image--container-query .c-image__image-wrapper {
        width: 100%;
        height: 100%;
    }
    .c-image.c-image--container-query .c-image__image:not(:last-of-type) {
        display: none;
    }
}

// ***************************************************************
// *** Placeholder
// ***************************************************************

.c-image--is-placeholder {
    @include ratio.ratio(16, 9, true);
    position: relative;
    line-height: 0;
    border: 1px solid var(--color--image-placeholder-border);
    background-color: var(--color--image-placeholder-background);
    user-select: none;
}

.c-image__placeholder {
    @include cover.cover();
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    @include mq.mq(map.get(var_default.$breakpoints-map, 'sm')) {
        flex-direction: row;
    }

    .c-icon {
        color: var(--color--image-placeholder-icon);

        &.c-icon--svg-link {
            width: clamp(1em, 25%, 3em);
            img {
                filter: invert(1);
                opacity: .7;
            }
        }
    }

    .c-image__placeholder-text {
        color: var(--color--image-placeholder-label);
        font-weight: var(--font-weight-bold);
        font-family: var(--font-family-bold);
    }

    .c-icon + .c-image__placeholder-text {
        margin-top: map.get(var_default.$spacers, '2');

        @include mq.mq(map.get(var_default.$breakpoints-map, 'sm')) {
            margin-left: map.get(var_default.$spacers, '1');
            margin-top: 0;
        }
    }
}

// ***************************************************************
// *** SVG
// ***************************************************************

.c-image.c-image--type-svg {
    .c-image__image {
        object-fit: scale-down;
    }
}