@use "../setting/var_default";

.c-listing {
    .c-listing__item,
    .c-listing__link {
        display: flex;
        gap: calc(var(--base) * .5);
    }

    .c-listing__link {
        text-decoration: none;

        .c-listing__label {
            text-decoration: underline;
        }
    }

    @for $i from 0 to 11 {
        &.c-listing--padding-#{$i} {
            .c-listing__item {
                padding-bottom: calc(var(--base) * ($i/2));
            }

            .c-listing__item:last-child {
                padding-bottom: 0;
            }
        }
    }
}