@use "../mixin/tokens";

/* Component name */
$_: "c-listing";

@include tokens.create($_, ("space"));

.#{$_} {

    &__item,
    &__link {
        display: flex;
        gap: tokens.use($_, "space", 0.5);
    }

    &__link {
        text-decoration: none;
    }

    &__link &_label {
        text-decoration: underline;
    }

    @for $i from 0 to 11 {
        &.#{$_}--padding-#{$i} {
            .#{$_}__item {
                padding-bottom: tokens.use($_, "space", calc($i/2));
            }

            .#{$_}__item:last-child {
                padding-bottom: 0;
            }
        }
    }
}