@use "../setting/var_colors";

.c-loader {

    &--text {
        text-align: center;
    }
    /* Loader circular  */

    &__circular {

        color: #000;
        margin: 0px auto;
        border-radius: 50%;
        position: relative;
        text-indent: -9999rem;
        animation: loader--circular-anim 1.3s infinite linear;
        transform: translateZ(0);

        &--color--primary {
            color: var(--color--primary);
        }

        &--color--secondary {
            color: var(--color--secondary);
        }

        &--color--white {
            color: #fff;
        }

        &--xl {
            width: 20px;
            height: 20px;
            font-size: 20px;
        }

        &--lg {
            width: 15px;
            height: 15px;
            font-size: 15px;
        }

        &--md {
            width: 10px;
            height: 10px;
            font-size: 10px;
        }

        &--sm {
            width: 5px;
            height: 5px;
            font-size: 5px;
        }

        &--xs {
            width: 2px;
            height: 2px;
            font-size: 2px;
        }
    }

    @keyframes loader--circular-anim {

        0%,
        100% {
            box-shadow: 0 -3rem 0 0.2rem,
                2rem -2rem 0 0rem,
                3rem 0 0 -1rem,
                2rem 2rem 0 -1rem,
                0 3rem 0 -1rem,
                -2rem 2rem 0 -1rem,
                -3rem 0 0 -1rem,
                -2rem -2rem 0 0;
        }

        12.5% {
            box-shadow: 0 -3rem 0 0,
                2rem -2rem 0 0.2rem,
                3rem 0 0 0,
                2rem 2rem 0 -1rem,
                0 3rem 0 -1rem,
                -2rem 2rem 0 -1rem,
                -3rem 0 0 -1rem,
                -2rem -2rem 0 -1rem;
        }

        25% {
            box-shadow: 0 -3rem 0 -0.5rem,
                2rem -2rem 0 0,
                3rem 0 0 0.2rem,
                2rem 2rem 0 0,
                0 3rem 0 -1rem,
                -2rem 2rem 0 -1rem,
                -3rem 0 0 -1rem,
                -2rem -2rem 0 -1rem;
        }

        37.5% {
            box-shadow: 0 -3rem 0 -1rem,
                2rem -2rem 0 -1rem,
                3rem 0rem 0 0,
                2rem 2rem 0 0.2rem,
                0 3rem 0 0rem,
                -2rem 2rem 0 -1rem,
                -3rem 0rem 0 -1rem,
                -2rem -2rem 0 -1rem;
        }

        50% {
            box-shadow: 0 -3rem 0 -1rem,
                2rem -2rem 0 -1rem,
                3rem 0 0 -1rem,
                2rem 2rem 0 0rem,
                0 3rem 0 0.2rem,
                -2rem 2rem 0 0,
                -3rem 0rem 0 -1rem,
                -2rem -2rem 0 -1rem;
        }

        62.5% {
            box-shadow: 0 -3rem 0 -1rem,
                2rem -2rem 0 -1rem,
                3rem 0 0 -1rem,
                2rem 2rem 0 -1rem,
                0 3rem 0 0,
                -2rem 2rem 0 0.2rem,
                -3rem 0 0 0,
                -2rem -2rem 0 -1rem;
        }

        75% {
            box-shadow: 0rem -3rem 0 -1rem,
                2rem -2rem 0 -1rem,
                3rem 0rem 0 -1rem,
                2rem 2rem 0 -1rem,
                0 3rem 0 -1rem,
                -2rem 2rem 0 0,
                -3rem 0rem 0 0.2rem,
                -2rem -2rem 0 0;
        }

        87.5% {
            box-shadow: 0rem -3rem 0 0,
                2rem -2rem 0 -1rem,
                3rem 0 0 -1rem,
                2rem 2rem 0 -1rem,
                0 3rem 0 -1rem,
                -2rem 2rem 0 0,
                -3rem 0rem 0 0,
                -2rem -2rem 0 0.2rem;
        }
    }

    /* Loader linear */

    &__linear,
    &__linear:before,
    &__linear:after {
        border-radius: 50%;
        width: 2.5rem;
        height: 2.5rem;
        animation-fill-mode: both;
        animation: loader--linear-anim 1.8s infinite ease-in-out;
    }

    &__linear {
        color: #000;
        font-size: 10px;
        margin: 0px auto;
        position: relative;
        text-indent: -9999rem;
        transform: translateZ(0);
        animation-delay: -0.16s;

        &--color--primary {
            color: var(--color--primary);
        }

        &--color--secondary {
            color: var(--color--secondary);
        }

        &--color--white {
            color: #fff;
        }

        &--lg,
        &--lg::after, 
        &--lg::before {
            height: 2.5rem;
            width: 2.5rem;
        }

        &--md,
        &--md::after,
        &--md::before {
            height: 2rem;
            width: 2rem;
        }
    

        &--sm,
        &--sm::after,
        &--sm::before {
            height: 1.5rem;
            width: 1.5rem;
        }

        &--xs,
        &--xs::after,
        &--xs::before {
            height: 1rem;
            width: 1rem;
        }
    }

    &__linear:before,
    &__linear:after {
        content: "";
        position: absolute;
        top: 0;
    }

    &__linear:before {
        left: -3.5rem;
        animation-delay: -0.32s;
    }

    &:after {
        left: 3.5rem;
    }
    @keyframes loader--linear-anim {

        0%,
        80%,
        100% {
            box-shadow: 0 2.5rem 0 -1.3rem;
        }

        40% {
            box-shadow: 0 2.5rem 0 0;
        }
    }

}
