@use "../setting/var_default";

.c-logotypegrid {
    display: flex;
    gap: calc(#{var(--base)} * 6) calc(#{var(--base)} * 14);
    flex-wrap: wrap;

    .c-logotypegrid__item {
        display: inline-block;
        margin: auto;
    }

    .c-logotypegrid__logo {
        height: calc(#{var(--base)} * 10); 
    }

    .c-logotypegrid__logo .c-logotype__image {
        object-fit: contain;
    }
}