.c-logotype {
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;

    img {
        height: inherit;
    }

    &.c-logotype {
        &--align-left {
            text-align: left;
        }
        &--align-center {
            text-align: center;
        }
        &--align-right {
            text-align: right;
        }
    }
}