@use "sass:map";
@use "../setting/var_default";

.c-megamenu {
    padding-top: calc(var(--c-mega-menu-padding, 4) * var(--base, 8px));
    padding-bottom: calc(var(--c-mega-menu-padding, 4) * var(--base, 8px));
    background-color: var(--c-mega-menu-background-color, var(--color-primary-contrasting, #ffffff));
    position: absolute;
    width: 100%;
    z-index: var(--level-8);

    &.c-megamenu--secondary {
        --c-mega-menu-heading-color: var(--color-primary, #ae0b05);
        --c-mega-menu-subitem-color: var(--color-primary, #ae0b05);
        --c-mega-menu-background-color: var(--color-secondary, #ec6701);
    }

    &.c-megamenu--primary {
        --c-mega-menu-heading-color: var(--color-primary, #ae0b05);
        --c-mega-menu-subitem-color: var(--color-black, #000000);
        --c-mega-menu-background-color: var(--color-white, #ffffff);
    }

    &.c-megamenu--font-heading {
        --c-mega-menu-font: var(--font-family-heading, "Roboto", sans-serif);
    }

    .c-megamenu__description {
        border-top: 2px solid var(--c-mega-menu-heading-color, var(--color-primary, #ae0b05));
        color: var(--c-mega-menu-subitem-color, var(--color-primary, #ae0b05));
        padding-top: calc(var(--base) * 1);
        margin-top: calc(var(--base) * 0.5);
    }

    &.c-megamenu--cover {
        min-height: 100vh;
    }
    
    .c-megamenu__link--title {
        font-size: var(--font-size-title, 1.5rem);
        color: var(--c-mega-menu-heading-color, var(--color-primary, #ae0b05));
        font-family: var(--c-mega-menu-font, var(--font-family-base, "Roboto", sans-serif));
    }

    .c-megamenu__link {
        display: inline-flex;
        align-items: center;
        text-decoration: none;
        gap: var(--base);
    }

    .c-megamenu__item--child {
        padding: map.get(var_default.$spacers, "05") 0;
        display: flex;
        align-items: center;

        .c-megamenu__link {
            text-decoration: none;
            color: var(--c-mega-menu-subitem-color, var(--color-primary, #ae0b05));
        }
    }

    .c-megamenu__sublist.c-megamenu__sublist--flex {
        display: flex;
        flex-wrap: wrap;
        gap: 0 var(--base);
    }
}


