/* General behaviour */
.c-menu {
    &__list {
        @include unlist();
        padding: 0;
    }

    &__list &__list {
        display: none; 
    }

    &--active &__list {
        display: block; 
    }

    &__item {
        padding: 0;
        margin: 0;
        display: block; 
    }

    &__link,
    &__link:visited, 
    &__link:visited:hover {
        text-decoration: none; 
    }

}

/* Horizontal menu */ 
.c-menu.c-menu--horizontal {
    height: 100%;
    display: flex; 
    align-items: center;
    justify-content: flex-end;

    .c-menu__list {
        display: flex;
        flex-wrap: nowrap;
        margin-right: map-get($spacers, '2') * -1;
        margin-left: map-get($spacers, '2') * -1;
    }

    .c-menu__item .c-menu__link {
        padding: map-get($spacers, '1') map-get($spacers, '2');
    }

    .c-menu__item  * + * {
        padding-left: $base * 0.5; 
    }

    .c-menu__item .c-menu__link,
    .c-menu__item .c-menu__link:visited, 
    .c-menu__item .c-menu__link:visited:hover {
        color: $color-menu-text-horizontal;
    }

    .c-menu__item  .c-menu__link:after {
        content: ""; 
        @include centerX(); 
        bottom: 0;
        border-bottom: 3px solid $color-menu-active-indicator-horizontal;  
        width: 0%; 
        transition: width 250ms; 
    }
    
    .c-menu__item.c-menu--active .c-menu__link:after {
        transition-duration: 400ms; 
        width: calc(100% - #{map-get($spacers, '4')}); 
    }

    .c-menu__item .c-menu__link:hover:after {
        width: calc(100% - #{map-get($spacers, '2')}); 
    }

}

/* Vertical menu */ 
.c-menu.c-menu--vertical {
    @include paper(2); 

    .c-menu__list .c-menu__list {
        border-left: 4px solid $color-menu-active-indicator; 
    }

    .c-menu__item {
        border-top: 1px solid $color-menu-separator; 
    }

    .c-menu__link{
        display: block;
        padding: $base*1.5 $base*3;
    }

    .c-menu__item  * + * {
        padding-left: $base * 0.5; 
    }

    .c-menu__item .c-menu__link,
    .c-menu__item .c-menu__link:visited, 
    .c-menu__item .c-menu__link:visited:hover {
        color: $color-menu-text;
    }

    .c-menu--active .c-menu__list {
        background: $color-menu-active-background; 
    }

}
