@use "sass:map";
@use "../mixin/center";
@use "../mixin/list";
@use "../mixin/paper";
@use "../setting/var_colors";
@use "../setting/var_default";

/* General behaviour */

.c-menu {

    &__list {
        @include list.unlist();
        padding: 0;
        margin: 0;
    }

    &__list &__list {
        display: none;
    }

    &--active &__list {
        display: block;
    }

    &__item {
        padding: 0;
        margin: 0;
        display: block;

        & .c-icon, .c-menu__label {
            vertical-align: middle;
        }

    }

    &__link,
    &__link:visited,
    &__link:visited:hover {
        text-decoration: none;
    }

}

/* Horizontal menu */

.c-menu.c-menu--horizontal {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    .c-menu__list {
        display: flex;
        flex-wrap: nowrap;
        margin-right: calc(map.get(var_default.$spacers, "2") * -1);
        margin-left: calc(map.get(var_default.$spacers, "2") * -1);
    }

    .c-menu__item .c-menu__link {
        display: block;
        padding: map.get(var_default.$spacers, "1") map.get(var_default.$spacers, "2");
    }

    .c-menu__item  *+* {
        padding-left: calc(var(--base) * 0.5);
    }

    .c-menu__item .c-menu__link,
    .c-menu__item .c-menu__link:visited,
    .c-menu__item .c-menu__link:visited:hover {
        color: var_colors.$color-menu-text-horizontal;
    }

    .c-menu__item  .c-menu__link:after {
        content: "";
        @include center.centerX();

        bottom: var(--base);
        border-bottom: 3px solid var_colors.$color-menu-active-indicator-horizontal;
        width: 0%;
        transition: width 250ms;
    }

    .c-menu__item.c-menu--active .c-menu__link:after {
        transition-duration: 400ms;
        width: calc(100% - #{map.get(var_default.$spacers, "4")});
    }

    .c-menu__item .c-menu__link:hover:after {
        width: calc(100% - #{map.get(var_default.$spacers, "2")});
    }

}

/* Vertical menu */

.c-menu.c-menu--vertical {
    @include paper.paper(2);

    .c-menu__list .c-menu__list {
        border-left: 4px solid var_colors.$color-menu-active-indicator;
    }

    .c-menu__item {
        border-top: 1px solid var_colors.$color-menu-separator;
    }

    .c-menu__link {
        display: block;
        padding: calc(var(--base) * 1.5) calc(var(--base) * 3);
    }

    .c-menu__item  *+* {
        padding-left: calc(var(--base) * 0.5);
    }

    .c-menu__item .c-menu__link,
    .c-menu__item .c-menu__link:visited,
    .c-menu__item .c-menu__link:visited:hover {
        color: var_colors.$color-menu-text;
    }

    .c-menu--active .c-menu__list {
        background: var_colors.$color-menu-active-background;
    }

}
