.c-modal { 
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    z-index: $level-top;
    visibility: hidden;
    opacity: 0;
    transition: all 0.3s ease-in-out;

    &__close {
        position: absolute;
        top: map-get($spacers, '1');
        right: map-get($spacers, '2');
        display: block;
        color: $color-gray;
        cursor:pointer;
    }

    &__inner {
        position: relative;
        background-color: white;
        max-width: 800px;
        max-height: 80vh;
        overflow: auto;
        cursor: default;
        transition: all 0.3s ease-in-out;
    }

    &__is-visible {
        visibility: visible;
        opacity: 1;
        background-color: rgba($color-black, .85); 
        outline: 5000px solid rgba($color-black, .85); /* relative container fix */ 
    }

    &__prev,  &__next {
        position:absolute;
        top: calc(50% - 10px); /* 50% - 3/4 of icon height */
        vertical-align: middle;
        cursor:pointer;
    }

    &__prev {
        left:10px;
    }

    &__next {
        right:10px;
    }

}

.c-modal.c-modal__animation-- {
    &slide-up {
        .c-modal__inner {
            transform: translateY(100%);
        }
        
    }

    &slide-down {
        .c-modal__inner {
            transform: translateY(-100%);
        }
    }

    &scale-down {
        .c-modal__inner {
            transform: scale(1.1);
        }
    }
    &scale-up {
        .c-modal__inner {
            transform: scale(0.9);
        }
    }
}

.c-modal__is-visible.c-modal__animation-- {
        &slide-up, &slide-down {
            .c-modal__inner {
                transform: translateY(0);
            }
        }

        &scale-down, &scale-up {
            .c-modal__inner {
                transform: scale(1.0);
            }
        }
}