@use "sass:map";
@use "../mixin/mq";
@use "../setting/var_border-radius";
@use "../setting/var_colors";
@use "../setting/var_default";
@use "../setting/var_properties";

$c-modal-border-radius: var(--c-modal-border-radius, var(--radius-md));
$c-modal-backdrop-color: var(--c-modal-backdrop-color, var_colors.$color-alpha);

.c-block[data-open] {
    cursor: pointer;
}

.c-modal {
    background-color: white;
    gap: map.get(var_default.$spacers, "2");
    flex-direction: column;
    width: 100%;
    cursor: default;
    transition: all 0.3s ease-in-out;
    display: none;
    border: none;
    border-radius: $c-modal-border-radius;
    filter: var_properties.$drop-shadow-3;
    max-width: 800px;
    max-height: 90vh;
    position: fixed;

    .c-modal__close.c-button {
        color: var_colors.$color-black;
    }

    .c-image {
        width: 100%;
        height: auto;

        .c-image__image {

            width: 100%;
            height: auto;
        }
    }

    &.c-modal--gallery {
        max-height: unset;

        .c-image__image {
            max-height: 80vh;
            object-fit: contain;
        }

        .c-modal__header,
        .c-modal__footer {
            padding: 0;
        }

        .c-modal__content {
            line-height: 0;
            padding: 0;
        }
    }

    &.c-modal--transparent {
        background-color: transparent;

        .c-button.c-modal__close {
            color: var_colors.$color-white;
        }
    }

    &.search-modal {
        #modal-search-form {
            margin-top: calc(var_default.$base * 1);
            margin-bottom: calc(var_default.$base * 1);
        }
    }

    input:focus {
        outline: none;
        outline-offset: 0;
        box-shadow: none;
    }

    &::backdrop {
        background-color: $c-modal-backdrop-color;
        backdrop-filter: blur(1px);
    }

    &--visible {
        display: flex;
    }

    &--border-radius-sm {
        border-radius: var(--radius-sm);
    }

    &--border-radius-md {
        border-radius: var(--radius-md);
    }

    &--border-radius-lg {
        border-radius: var(--radius-lg);
    }

    .c-modal.c-modal--size-sm {
        max-width: map.get(var_default.$breakpoints-map, "sm");
    }

    .c-modal.c-modal--size-md {
        max-width: map.get(var_default.$breakpoints-map, "md");
    }

    .c-modal.c-modal--size-lg {
        max-width: map.get(var_default.$breakpoints-map, "lg");
    }

    &--is-panel {
        max-width: 100%;
        max-height: 100vh;
        width: 100%;
        height: 100vh;
        border-radius: 0;
    }

    @for $i from 1 through 4 {
        &--padding-#{$i} {
            padding: map.get(var_default.$spacers, #{$i}) 0;

            >* {
                padding: 0 map.get(var_default.$spacers, #{$i});
            }

            .c-modal__footer {
                padding-top: map.get(var_default.$spacers, #{$i});
            }
        }
    }

    &__header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;

        .c-modal__heading {
            margin-right: map.get(var_default.$spacers, "2");
        }
    }

    &__content {
        overflow-y: auto;
    }

    &__footer {
        flex-shrink: 0;
        border-top: 1px solid var_colors.$color-gray-light;
    }

    .c-button:hover {
        box-shadow: none;
    }

    .c-modal__close.c-button.c-button--lg,
    .c-modal__close.c-button.c-button--md,
    .c-modal__close.c-button.c-button--sm {
        cursor: pointer;
        height: auto;
        width: auto;
        margin-left: auto;
    }

    &__prev,
    &__next {
        color: var_colors.$color-white;
    }

    &__prev,
    &__next {
        position: absolute;
        top: calc(50% - 10px);
        /* 50% - 3/4 of icon height */
        vertical-align: middle;
        cursor: pointer;
        z-index: var_properties.$level-top;
    }

    &__prev {
        left: calc(#{map.get(var_default.$spacers, "8")} * -1);
    }

    &__next {
        right: #{map.get(var_default.$spacers, "0")};
    }

    @include mq.mq(map.get(var_default.$breakpoints-map, "xs"), "lg") {

        &__prev {
            left: map.get(var_default.$spacers, "0");
        }

        &__next {
            right: map.get(var_default.$spacers, "0");
        }

        &__prev,
        &__next {
            vertical-align: bottom;
            bottom: #{map.get(var_default.$spacers, "8")};
        }

    }

    @include mq.mq(map.get(var_default.$breakpoints-map, "xs"), "sm") {

        &__close,
        &__prev,
        &__next {

            &:hover {
                box-shadow: none;
                filter: var_properties.$drop-shadow-0;
                background: none;
            }
        }

        &__close {
            top: calc(#{map.get(var_default.$spacers, "6")} * -1);
            right: map.get(var_default.$spacers, "1");

            i {
                font-size: calc(var_default.$base * 3);
            }
        }

        &__prev {
            left: map.get(var_default.$spacers, "1");
        }

        &__next {
            right: map.get(var_default.$spacers, "1");
        }

        &__prev,
        &__next {
            bottom: #{map.get(var_default.$spacers, "6")};

            i {
                font-size: calc(var_default.$base * 3);
            }

        }

    }

}

.c-modal[open] {

    animation: modalSlideUp 300ms ease normal;

    &.c-modal--slide-down {
        animation: modalSlideDown 300ms ease normal;
    }

    &.c-modal--slide-left {
        animation: modalSlideLeft 300ms ease normal;
    }

    &.c-modal--slide-right {
        animation: modalSlideRight 300ms ease normal;
    }
}

@keyframes modalSlideLeft {
    from {
        opacity: 0;
        transform: translateX(50vw);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes modalSlideRight {
    from {
        opacity: 0;
        transform: translateX(-50vw);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}


@keyframes modalSlideDown {
    from {
        opacity: 0;
        transform: translateY(-50vh);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes modalSlideUp {
    from {
        opacity: 0;
        transform: translateY(50vh);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}
