@use "../mixin/tokens";

$_: "c-navbar";

@include tokens.create($_, getComponentTokens($_));

.#{$_} {
    container-name: navbar;
    container-type: inline-size;
    position: relative;
    display: grid;
    align-items: center;
    grid-template-columns: max-content auto max-content;
    grid-template-rows: 132px max-content;
    grid-template-areas:
        "logo links toggleexpand"
        "content content content"
    ;
    width: 100%;
    background-color: tokens.get($_, "color--surface");
    color: tokens.get($_, "color--surface-contrast");

    z-index: 6000;
    filter: tokens.use($_, "shadow", 1);

    &--border-top {
        border-top: tokens.use($_, "base", 1) solid tokens.get($_, "color--primary");
    }

    &--border-bottom {
        border-bottom: tokens.use($_, "base", 1) solid tokens.get($_, "color--primary");
    }

    &__logo {
        grid-area: logo;
        padding: tokens.use($_, "base", 5);

        .c-image {
            width: unset;
        }

        img {
            height: 55px;
            max-height: 55px;
            width: auto;
        }
    }

    &__list {
        padding: tokens.use($_, "base", 5);
        padding-right: 0;
        grid-area: links;
    }

    &__list {

        a:hover .#{$_}__item:after,
        a:active .#{$_}__item:after,
        a[item-active="1"] .#{$_}__item:after,
        a[item-ancestor="1"] .#{$_}__item:after {
            transform: scaleX(1);
        }
    }

    &__expand {
        padding: tokens.use($_, "base", 5);
        grid-area: toggleexpand;
    }

    &__item {

        span {
            font-size: 18px;
            color: tokens.get($_, "color--surface-contrast");
        }

        &:after {
            display: block;
            content: "";
            width: 24px;
            height: 2px;
            background-color: tokens.get($_, "color--primary");
            transform: scaleX(0);
            transition: transform 250ms ease-in-out;
        }
    }

    .c-icon__label {
        display: none;
    }

    a {
        text-decoration-style: unset;
        text-decoration: none;
        text-transform: capitalize;
    }
}

.#{$_}__content {
    height: 0;
    grid-area: content;
    overflow: hidden;
    width: 100%;
    background-color: tokens.get($_, "color--background");
    z-index: 5999;
}

.#{$_}__expanded_menu {

    .c-link,
    .c-link:active,
    .c-link:visited {
        color: tokens.get($_, "color--surface-contrast");
        font-family: tokens.get($_, "font-family-base");
        font-weight: var(--font-weight-bold);
    }

    .c-link:hover {
        color: tokens.get($_, "color--surface-contrast");
    }

    padding: tokens.use($_, "base", 4) tokens.use($_, "base", 11);
}

.#{$_}__expanded_main {
    padding: tokens.use($_, "base", 7) tokens.use($_, "base", 20);
    border-bottom: 2px solid tokens.get($_, "color--primary");

}

.#{$_}__expanded_grid {

    a {
        color: tokens.get($_, "color--surface-contrast-muted");

        &:active,
        &:hover {
            color: tokens.get($_, "color--surface-contrast");
            cursor: pointer;
        }
    }
}

.#{$_}__title {
    font-weight: 700;
    font-size: 24px;
}

.#{$_}__prev {
    font-size: 18px;
    position: relative;
    left: -20px;
}

.#{$_}__expand {

    .c-button {
        padding: unset;

        &:hover,
        &:focus,
        &:active {
            background-color: unset;
        }
    }
}

.#{$_}__toggle {
    * {
        cursor: pointer;
    }
}

@container navbar (max-width: 895px) {

    .#{$_} {
        grid-template-columns: 1fr auto 1fr;
        grid-template-rows: 132px max-content;
        grid-template-areas:
            "togglesidebar logo toggleexpand"
            "content content content"
        ;
        text-align: center;
    }

    .#{$_}__list {
        display: none;
    }

    .#{$_}__logo {
        display: flex;
        justify-content: center;
        flex: 1;
        padding: 0;

        .c-image {
            width: auto;
        }
    }

    .#{$_}__expand {
        padding: 0;
    }

    .#{$_}__expanded_menu.c-grid__container {
        display: none;
    }

    .#{$_}__content {
        text-align: start;
    }

    .#{$_}__expanded_main {
        padding: tokens.use($_, "base", 4);
    }

    .#{$_}__expanded_grid {
        grid-row-gap: tokens.use($_, "base", 2) !important;
    }
}

@container navbar (min-width: 896px) {

    .#{$_}__list {
        display: inline-flex;
        justify-content: flex-end;

        a {
            min-width: 44px;
            min-height: 44px;
            display: table;
            margin: 0 tokens.use($_, "base", 2);
        }
    }

    .#{$_}__toggle {
        display: none
    }

    .#{$_}__item {
        position: relative;
        white-space: nowrap;
        display: table-cell;
        vertical-align: middle;
    }
}