.c-navbar {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;

    .c-navbar__item {
        position: relative;
    }

    .c-navbar__link,
    .c-navbar__action {
        display: block;
        padding: $baseline*2 $baseline*2;
        color: $color-dark-muted;
        line-height: 24px;

        &:hover {
            color: $color-dark;
            text-decoration: none;
        }
    }

    .hamburger .hamburger-inner,
    .hamburger .hamburger-inner:after,
    .hamburger .hamburger-inner:before {
        background-color: $color-dark-muted;
    }

    .hamburger:hover .hamburger-inner,
    .hamburger:hover .hamburger-inner:after,
    .hamburger:hover .hamburger-inner:before {
        background-color: black;
    }

    .c-navbar__action.pricon:before {
        margin-right: $baseline;
    }

    .c-navbar__item.is-current,
    .c-navbar__item.is-current-ancestor:not(.c-navbarbar__sub) {
        &:after {
            bottom: 0;
            left: 50%;
            border: solid transparent;
            content: "";
            position: absolute;
            pointer-events: none;
            border-color: rgba(#fff, 0);
            border-bottom-color: #fff;
            border-width: 8px;
            transform: translate(-50%, 0);
        }
    }

    .c-navbar__item.is-current-ancestor {

    }

    .c-navbar__sub {
        display: none;
    }

    .c-navbar__item.is-open .c-navbar__sub {
        display: block;
    }

    .c-navbar__item:hover {
        cursor: pointer;
    }

    .c-navbar__item {

    }
}

.c-navbar.c-navbar--small {
    font-size: 14px;

    .c-navbar__link,
    .c-navbar__action {
        padding: $content-gutter/2;
    }
}

.c-navbar.c-navbar--large {
    font-size: 19px;
}