.c-navbar {
    position: absolute;
    top: 0;
    height: 132px;
    border-top: 8px solid $color-nav-top-accent;
    display: flex;
    justify-content: space-between;
    position: absolute;
    width: 100%;
    align-items: center;
    background-color: #ffffff;
    color: #000000;
    z-index: $level-6;
    
    @include shadow(1);

    &__logo {
        max-height: 55px;
        display: flex;
        justify-content: center;
        align-items: center;

        .c-image {
            width: unset;
        }

        img {
            height: 55px;
        }
    }

    &__item {

        span {
            font-size: 18px;
            color: #000000;
        }
    }

    .c-icon__label {
        display: none;
    }

    a {
        text-decoration-style: unset;
        text-decoration: none;
        text-transform: capitalize;
    }
}

@include mq(map_get($breakpoints-map, "xs"), "md") {

    .c-navbar {
        flex-wrap: wrap;
        min-height: 108px;
        min-width: 108px;
        max-height: 108px;
        justify-content: space-evenly;

        &__logo {
            display: flex;
            justify-content: center;
            order: 1;
            flex:1;
            padding: map-get($spacers, "2");

            .c-image {
                width: auto;
            }

            img {
                max-height: 55px;
                height: 55px;
                width: auto;
                order: 2;
            }
        }

        &__toggle {
            height: auto;
            width: initial;
            position: absolute;
            left: $base * 3;
            order: 1;
            cursor: pointer;

            .c-button {
                transition: all 0.3s ease-in-out;

                &[is-open=""] {
                    transform: rotate(180deg);
                }
            }
        }

        &__list {
            display: none;
        }
    }
}

@include mq(map_get($breakpoints-map, "md")) {

    .c-navbar {
        height: 140px;
        padding: map-get($spacers, "5");

        &__logo {
            margin-right: map-get($spacers, "10");

            img {
                height: 55px;
                max-height: 55px;
                width: auto;
            }
        }

        &__list {
            display: inline-flex;

            a {
                min-width: 44px;
                min-height: 44px;
                display: table;
                margin: 0 map-get($spacers, "2");
            }

            &:nth-of-type(2) {
                order: 2;
            }

            &:nth-of-type(3) {
                order: 3;
            }
        }

        &__toggle {
            display: none
        }

        &__item {
            position: relative;
            white-space: nowrap;
            display: table-cell;
            vertical-align: middle;

            span, span:active, span:visited, span:hover, span:visited:hover {
                min-height: 44px;
                min-width: 44px;
            }

            &:hover>.c-navbar__subcontainer>.c-navbar__subitem:first-of-type,
            &:active>.c-navbar__subcontainer>.c-navbar__subitem:first-of-type,
            &:hover>.c-navbar__subitem,
            &:active>.c-navbar__subitem {
                //display: block;
            }

            &:after {
                display:block;
                content: "";
                width: 24px;
                height: 2px;
                background-color: $color-nav-active-accent;
                transform: scaleX(0);
                transition: transform 250ms ease-in-out;
            }

            &:hover,
            &:active,
            &[item-active="true"] {

                &:after {
                    transform: scaleX(1);
                }
            }

        }
    }
}