//Settings vertical
$c-nav-v-color-contrasting: var(--c-nav-v-color-contrasting) !default;
$c-nav-v-background-active: var(--c-nav-v-background-active) !default;
$c-nav-v-color-contrasting-active: var(--c-nav-v-color-contrasting-active) !default;
$c-nav-v-background-expanded: var(--c-nav-v-background-expanded, rgba(0,0,0,.05)) !default;
$c-nav-v-divider-color: var(--c-nav-v-divider-color) !default;

//Settings horizontal
$c-nav-h-color-contrasting: var(--c-nav-h-color-contrasting) !default;
$c-nav-h-background-active: var(--c-nav-h-background-active) !default;
$c-nav-h-color-contrasting-active: var(--c-nav-h-color-contrasting-active) !default;

.c-nav.c-nav.c-nav--horizontal {
  .c-nav__item {
    .c-nav__text,
    .c-nav__icon,
    .c-nav__toggle {
      color: $c-nav-h-color-contrasting;
    }

    &.is-active,
    &.is-current,
    &:hover {
      background-color: $c-nav-h-background-active;

      .c-nav__text,
      .c-nav__icon,
      .c-nav__toggle {
        color: $c-nav-h-color-contrasting-active;
      }
    }
  }
}

.c-nav.c-nav.c-nav--vertical {

  .c-nav.c-nav--vertical {
    background-color: $c-nav-v-background-expanded;
  }

  .c-nav__item {
    .c-nav__text,
    .c-nav__icon,
    .c-nav__toggle {
      color: $c-nav-v-color-contrasting;
    }

    &.is-active,
    &.is-current,
    &:hover {
      background-color: $c-nav-v-background-active;

      .c-nav__text,
      .c-nav__icon,
      .c-nav__toggle {
        color: $c-nav-v-color-contrasting-active;
      }
    }
  }
}

.c-nav {
  display: block;
  width: 100%;
  display: flex;

  .c-nav__item-wrapper {
    display: flex;
    align-items: center;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    min-height: calc(#{$base} * 6);

    > * {
      min-height: calc(#{$base} * 6);
    }
  }

  .c-nav__link {
    display: flex;
    text-decoration: none;
    flex: 1; 
    align-items: center;
  }

  .c-nav__toggle {
    margin-bottom: auto;
  }

  .c-icon--expand-more {
    transition: transform 200ms;
  }

  /* Active state */ 
  .has-toggle:not(.is-active) > .c-nav,
  .has-toggle:not(.is-active) .c-nav__toggle:before {
    display: none;
  }

  .has-toggle.is-active > .c-nav__item-wrapper .c-icon--expand-more {
    transform: rotate(180deg);
  }
  /* End active state */ 
}

// Vertical menus
.c-nav.c-nav--vertical {
  flex-direction: column;

  .c-nav.c-nav--vertical {
    background-color: rgba(0,0,0,.1);
  }

  .c-nav__link {
    padding: calc(#{$base} * 1) calc(#{$base} * 2);
  }

  //Bordered is suppored in vnav
  &.c-nav--bordered {
    .c-nav__item + .c-nav__item {
      border-top: 1px solid #{$c-nav-v-divider-color};
    }
  }

  .c-nav__item.is-current > .c-nav__link {
    color: $color-vnav-item-text-active; 
    font-weight: $font-weight-bold;
    font-family: $font-family-bold;
  }

  .c-nav__item.is-current > .c-nav__link,
  .c-nav__item.is-current > .c-button {
    background-color: $color-complementary-light;
  }
}

// Horizontal menus
.c-nav.c-nav--horizontal {
  flex-direction: row;

  .c-nav.c-nav--vertical {
    .c-nav__item .c-nav__link:hover:after {
      left: calc(#{$base} * 2);
    }
  }

  &.c-nav--depth-1 {
    gap: calc(#{$base} * 2);
  }

  .c-nav__toggle:before {
    animation: c-nav-popout-arrow 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  }

  .c-nav__item--depth-1 > .c-nav__item-wrapper {
    white-space: nowrap;
  }

  .c-nav__item--depth-1 > .c-nav__item-wrapper > .c-nav__toggle:before {//Arrow
    content: "";
    position: absolute;
    bottom: #{$base};
    left: calc(#{$base} * 1.75);
    width: calc(#{$base} * 2.5);
    height: calc(#{$base} * 2.5);
    filter: $drop-shadow-1;
    transform: rotate(45deg);
    background: $color-white;
    z-index: $level-5;
    border-radius: $border-radius-sm;
  }

  .c-nav__item.is-current > .c-nav__item-wrapper .c-nav__link:after,
  > .c-nav__link:hover:after {
    display: block;
  }

  .c-nav__link:after {
    content: "";
    position: absolute;
    border-bottom: 3px solid;
    bottom: #{$base};
    left:  0;
    width: 0;
    display: none;
    animation: c-nav-hover-bounce 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  }

  //Dropdown
  .c-nav.c-nav--depth-2 {
    position: absolute;
    bottom: 0;
    background: $color-white;
    width: auto;
    min-width: calc(#{$base} * 28);
    background-color: $color-white;
    border-radius: $border-radius-sm;
    filter: $drop-shadow-1;
    transform: translateY(100%);
    animation: c-nav-popout 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  }
}

//Dropdown
@keyframes c-nav-popout {
  0% {
    transform: translateY(120%);
    opacity: 0;
  }

  30% {
    opacity: 1;
    transform: translateY(100%);
  }

  55% {
    transform: translateY(105%);
  }

  100% {
    transform: translateY(100%);
  }
}

@keyframes c-nav-popout-arrow {
  0% {
    transform: translateY(120%) rotate(45deg);
    opacity: 0;
  }

  30% {
    transform: translateY(100%) rotate(45deg);
  }

  55% {
    opacity: 1;
    transform: translateY(105%) rotate(45deg);
  }

  100% {
    transform: translateY(100%) rotate(45deg);
  }
}

//Active state
@keyframes c-nav-hover-bounce {
  0% {
    width: 0;
  }

  50% {
    width: 30%;
  }

  100% {
    width: 25%;
  }
}

@keyframes blink {
  0% {
  }
  25% {
    @include focus();
  }
  75% {
    @include focus();
  }
  100% {
  }
}