//Settings vertical
$c-nav-v-color-contrasting: var(--c-nav-v-color-contrasting) !default;
$c-nav-v-background-active: var(--c-nav-v-background-active) !default;
$c-nav-v-color-contrasting-active: var(--c-nav-v-color-contrasting-active) !default;
$c-nav-v-background-expanded: var(--c-nav-v-background-expanded, rgba(0,0,0,.05)) !default;
$c-nav-v-divider-color: var(--c-nav-v-divider-color) !default;
$c-nav-v-font-size: var(--c-nav-v-font-size) !default;

//Settings horizontal
$c-nav-h-color-contrasting: var(--c-nav-h-color-contrasting) !default;
$c-nav-h-background-active: var(--c-nav-h-background-active) !default;
$c-nav-h-color-contrasting-active: var(--c-nav-h-color-contrasting-active) !default;
$c-nav-h-font-size: var(--c-nav-h-font-size) !default;

.c-nav {
  display: block;
  width: 100%;
  display: flex;

  &.c-nav--gap {
    justify-content: space-between;
  }

  &.c-nav--height-sm > .c-nav__item > .c-nav__item-wrapper {
    min-height: calc(#{$base} * 6);
  }

  &.c-nav--height-md > .c-nav__item > .c-nav__item-wrapper {
    min-height: calc(#{$base} * 8);
  }

  &.c-nav--height-lg > .c-nav__item > .c-nav__item-wrapper {
    min-height: calc(#{$base} * 10);
  }

  .c-nav__item-wrapper {
    display: flex;
    align-items: center;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;

    .c-nav__link,
    .c-nav__toggle {
      min-height: inherit;
    }
  }

  .c-nav__link {
    display: flex;
    text-decoration: none;
    flex: 1; 
    align-items: center;
    gap: #{$base};
  }

  .c-nav__item {
    &.is-fetching.is-loading {
      .preloader, .preloader > * {
        height: calc(20 * $base);
      }
    }

    &.c-nav__item--separator {
      .c-nav__item-wrapper {
        background-color: $color-primary-contrasting;
      }

      .c-nav__link .c-nav__text{
        color: $color-primary;
      }
    }
  }

  .c-nav__toggle {
    margin-bottom: auto;

    &__plus-minus-symbol {
      height: 24px;
      position: relative;
      width: 24px;

      span {
        background: currentColor;
        border-radius: 4px;
        height: 2px;
        left: 0;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        transition: transform 200ms;
        width: 100%;

        &:nth-of-type(odd) {
          transform: translateY(-50%) rotate(90deg);
        }
      }
    }
  }

  .c-icon--expand-more {
    transition: transform 200ms;
  }

  /* Active state */ 
  .c-nav__item:not(.is-open) > .c-nav,
  .c-nav__item:not(.is-open) .c-nav__toggle:before {
    display: none;
  }

  .c-nav__item.is-open > .c-nav__item-wrapper .c-icon--expand-more {
    transform: rotate(180deg);
  }
  .c-nav__item.is-open > .c-nav__item-wrapper .c-nav__toggle__plus-minus-symbol span:nth-of-type(odd) {
    transform: translateY(-50%) rotate(360deg);
  }
  /* End active state */ 

  // Horizontal menus
  &.c-nav--horizontal {
    flex-direction: row;

    .c-nav.c-nav--vertical {
      .c-nav__item .c-nav__link:hover:after {
        left: calc(#{$base} * 2);
      }
    }

    &.c-nav--depth-1 {
      gap: calc(#{$base} * 2);

      &.c-nav--compressed {
        gap: calc(#{$base} * 1);
      }
    }

    .c-nav__item--depth-1 > .c-nav__item-wrapper {
      white-space: nowrap;
    }

    > .c-nav__item.is-current > .c-nav__item-wrapper .c-nav__link:after,
    > .c-nav__item > .c-nav__item-wrapper:hover .c-nav__link:after{
      display: block;
    }

    .c-nav__link:after {
      content: "";
      position: absolute;
      border-bottom: 3px solid $c-nav-h-color-contrasting-active;
      left:  0;
      width: 0;
      display: none;
      animation: c-nav-hover-bounce 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
      transform: translateY(0.75em);
    }

    //Dropdown
    .c-nav.c-nav--depth-2 {
      z-index: $level-5;
      position: absolute;
      bottom: 0;
      background: $color-white;
      width: auto;
      min-width: calc(#{$base} * 28);
      background-color: $color-white;
      border-radius: $border-radius-sm;
      filter: $drop-shadow-1;
      transform: translateY(100%);
      animation: c-nav-popout 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;

      &:after {
        position: absolute;
        background: inherit;
        content: "";
        height: calc(#{$base} * 2.5);
        left: calc(#{$base} * 2.5);
        top: calc(#{$base} * -1);
        transform: rotate(45deg);
        width: calc(#{$base} * 2.5);
        z-index: $level-5;
        border-top-left-radius: max(calc(#{$base} * .5), $border-radius-sm);
      }
    }
  }

  // Vertical menus
  &.c-nav--vertical {
    flex-direction: column;

    .c-nav.c-nav--vertical {
      background-color: rgba(0,0,0,.1);
    }

    .c-nav__link {
      padding: calc(#{$base} * 1) calc(#{$base} * 2);
    }

    &.c-nav--compressed .c-nav__link {
      padding: calc(#{$base} * 0.5) 0;
    }

    //Bordered is suppored in vnav
    &.c-nav--bordered {
      .c-nav__item + .c-nav__item {
        border-top: 1px solid #{$c-nav-v-divider-color};
      }
    }

    .c-nav__item.is-current > .c-nav__link,
    .c-nav__item.is-current > .c-nav__item-wrapper > .c-nav__link  {
      color: $color-vnav-item-text-active; 
      font-weight: $font-weight-bold;
      font-family: $font-family-bold;
    }

    .c-nav__item.is-current > .c-nav__link,
    .c-nav__item.is-current > .c-button {
      background-color: $color-complementary-light;
    }
  }

  /* Drawer */
  &.c-nav--drawer {
    .c-nav__link {
      gap: calc($base * 3);
    }
  }
}

  .c-nav.c-nav.c-nav--horizontal {
    font-size: $c-nav-h-font-size;

    .c-nav__item {
      .c-nav__text,
      .c-nav__icon,
      .c-nav__toggle {
        color: $c-nav-h-color-contrasting;
      }

      &.is-active,
      &.is-current,
      &:hover {
        > .c-nav__item-wrapper {
          background-color: $c-nav-h-background-active;

          .c-nav__text,
          .c-nav__icon,
          .c-nav__toggle {
            color: $c-nav-h-color-contrasting-active;
          }
        }
      }
    }
  }

  .c-nav.c-nav.c-nav--vertical {

    font-size: $c-nav-v-font-size;

    .c-nav.c-nav--vertical {
      background-color: $c-nav-v-background-expanded;
    }

    .c-nav__item {
      .c-nav__text,
      .c-nav__icon,
      .c-nav__toggle {
        color: $c-nav-v-color-contrasting;
      }

      &.is-active,
      &:hover {
        > .c-nav__item-wrapper {
          background-color: $c-nav-v-background-active;

          .c-nav__text,
          .c-nav__icon,
          .c-nav__toggle {
            color: $c-nav-v-color-contrasting-active;
          }
        }
      }

      &.c-nav__item--separator {
          .c-nav__text {
            color: $color-primary;
        }
      }
    }
  }

//Dropdown
@keyframes c-nav-popout {
  0% {
    transform: translateY(120%);
    opacity: 0;
  }

  30% {
    opacity: 1;
    transform: translateY(100%);
  }

  55% {
    transform: translateY(105%);
  }

  100% {
    transform: translateY(100%);
  }
}

//Active state
@keyframes c-nav-hover-bounce {
  0% {
    width: 0;
  }

  50% {
    width: 30%;
  }

  100% {
    width: 25%;
  }
}

@keyframes blink {
  0% {
  }
  25% {
    @include focus();
  }
  75% {
    @include focus();
  }
  100% {
  }
}