@use "../setting/var_colors";
@use "../setting/var_default";
@use "../setting/var_fonts";

$c-newsitem-header-border-color: var(--c-newsitem-header-border-color, var(--color--lighter));
$c-newsitem-heading-color: var(--c-newsitem-heading-color, var(--color--primary));

// Basic laying down
.c-newsitem {
    display: grid;
    gap: calc(var(--base) * 2);
    grid-template-columns: repeat(12, 1fr);
    container-type: inline-size;
    container-name: newsitem;
    grid-auto-rows: min-content;

    // Areas (components)
    .c-newsitem__main-left {
        grid-column: span 8;

        &.cover {
            grid-column: span 12;
        }
    }
    
    .c-newsitem__main-right {
        grid-column: span 4;
    }

    .c-newsitem__header {
        grid-column: span 12;
        display: flex;
        row-gap: var(--base);
        flex-wrap: wrap;
        justify-content: space-between;
        padding: var(--base) 0;
        border-top: 1px solid $c-newsitem-header-border-color;
        border-bottom: 1px solid $c-newsitem-header-border-color;
    }

    .c-newsitem__title {
        grid-column: span 12;
        display: grid;
        grid-template-columns: 1fr auto;
        gap: calc(var(--base) * 3);
    }

    .c-newsitem__title-left.cover {
        grid-column: span 2;
    }

    // Partials (individual items)
    .c-newsitem__heading {
        color: $c-newsitem-heading-color;
        margin-top: 0;
    }

    .c-newsitem__header-left,
    .c-newsitem__header-right {
        display: flex;
        align-items: center;
        gap: calc(var(--base) * 2);
    }

    .c-newsitem__date,
    .c-newsitem__read-time {
        display: flex;
        align-items: center;
        gap: calc(var(--base) * .5);
        font-size: var(--font-size-meta);
    }

    .c-newsitem__date-icon,
    .c-newsitem__read-time-icon {
        // Needed for correct alignment
        margin-bottom: 2px;
    }

    .c-newsitem__sub-heading {
        font-weight: bold;
        margin-top: 0;
    }

    .c-newsitem__image-container {
        position: relative;
        aspect-ratio: 16/9;
    }

    .c-newsitem__content {
        margin-top: 0;
    }
}

// Link
a.c-newsitem {
    text-decoration: none;
    color: inherit;

    &:hover {
        text-decoration: none;
        color: inherit;

        .c-newsitem__heading {
            text-decoration: underline;
        }
    }
}

// Standing
.c-newsitem.c-newsitem--standing {
    .c-newsitem__header {
        order: 1;
    }
    .c-newsitem__main-right {
        order: 2;
        grid-column: span 12;
    }

    .c-newsitem__title {
        order: 3;
    }

    .c-newsitem__main-left {
        order: 4;
        grid-column: span 12;
    }
}

// Responsive
.c-newsitem {
    @container newsitem (max-width: 650px) {
        .c-newsitem__header {
            order: 1;
        }
        .c-newsitem__main-right {
            order: 2;
            grid-column: span 12;
        }
    
        .c-newsitem__title {
            order: 3;
        }
    
        .c-newsitem__main-left {
            order: 4;
            grid-column: span 12;
        }
    }

    @supports not (container-type: inline-size) {
        .c-newsitem__header {
            order: 1;
        }
        .c-newsitem__main-right {
            order: 2;
            grid-column: span 12;
        }
    
        .c-newsitem__title {
            order: 3;
        }
    
        .c-newsitem__main-left {
            order: 4;
            grid-column: span 12;
        }
    }
}