@use "sass:map";
@use "../mixin/animations/slide";
@use "../setting/var_default" as defaults;
@use "../setting/var_properties";


.c-notification {
    cursor: pointer;
    margin-bottom:1%;
}

.c-notification--dying {
    animation: fadeOut 1s;

}

.c-notification__container {
    z-index: var_properties.$level-10;
    position: fixed;
    display:flex;
    flex-direction: column;
    max-height: 100vh;

    &--bottom {

        &-left {
            bottom: map.get(defaults.$spacers, "2");
            left: map.get(defaults.$spacers, "2");
        }

        &-right {
            bottom: map.get(defaults.$spacers, "2");
            right: map.get(defaults.$spacers, "2");
        }
    }

    &--top {

        &-left {
            top: map.get(defaults.$spacers, "2");
            left: map.get(defaults.$spacers, "2");
        }

        &-right {
            top: map.get(defaults.$spacers, "2");
            right: map.get(defaults.$spacers, "2");
        }
    }
}

.c-notification__spawn {

    &--bottom {

        &-left {
            bottom: map.get(defaults.$spacers, "2");
            @include slide.slide(left);
        }

        &-right {
            bottom: map.get(defaults.$spacers, "2");
            @include slide.slide(right);
        }
    }

    &--top {

        &-left {
            top: map.get(defaults.$spacers, "2");
            @include slide.slide(left);
        }

        &-right {
            top: map.get(defaults.$spacers, "2");
            @include slide.slide(right);
        }
    }
}

.c-notification .c-notice {
    filter: var(--shadow-5);
}

@keyframes fadeOut {

    0% { opacity: 1;}

    99% { opacity: 0.01;width: 100%; height: 100%;}

    100% { opacity: 0;width: 0; height: 0;}
}