@use "sass:map";
@use "../mixin/stretch";
@use "../setting/var_border-radius";
@use "../setting/var_colors";
@use "../setting/var_default";
@use "../setting/var_fonts";
@use "../setting/var_properties";

$c-notice-color-text: var(--notice-color-text, #d73740);
$c-notice-color-background: var(--notice-color-background, #d73740);

$c-notice-color-success-text: var(--c-notice-color-success-text, var_colors.$color-success-contrasting);
$c-notice-color-success-background: var(--notice-color-success-background, var_colors.$color-success);

$c-notice-color-danger-text: var(--notice-color-danger-text, var_colors.$color-danger-contrasting);
$c-notice-color-danger-background: var(--notice-color-danger-background, var_colors.$color-danger);

$c-notice-color-info-text: var(--notice-color-info-text, var_colors.$color-info-contrasting);
$c-notice-color-info-background: var(--notice-color-info-background, var_colors.$color-info);

$c-notice-color-warning-text: var(--notice-color-warning-text, var_colors.$color-warning-contrasting);
$c-notice-color-warning-background: var(--notice-color-warning-background, var_colors.$color-warning);

$c-notice-border-radius: var(--notice-border-radius, var(--radius-sm));

.c-notice {
    filter: var_properties.$drop-shadow-5;
    padding: map.get(var_default.$spacers, "2") map.get(var_default.$spacers, "3");
    background-color: var_colors.$color-base;
    border-radius: $c-notice-border-radius;
    color: var_colors.$color-notice-text-default;
    display: grid;
    grid-template-areas: 
        "icon title actions"
        "icon message actions";
    grid-template-columns: min-content 1fr auto;
    grid-auto-rows: auto;
    align-items: center;

    > [class*='c-notice__'] + [class*='c-notice__']  {
        margin-left: map.get(var_default.$spacers, "2");
    }

    .c-notice__icon {
        grid-area: icon;
        vertical-align: sub;
        line-height: 1rem;
        opacity: .7;
    }

    .c-notice__title {
        grid-area: title;
        margin: 0;
        line-height: var_fonts.$line-height-base;
    }

    .c-notice__message {
        grid-area: message;
        margin: 0;
    }

    .c-notice__actions {
        
        grid-area: actions;
        display: flex;
        gap: calc(map.get(var_default.$spacers, "1") * 1.5);
        align-items: center;
        justify-content: flex-end;
        margin: calc(map.get(var_default.$spacers, "1") * -1) calc(map.get(var_default.$spacers, "1") * -1) calc(map.get(var_default.$spacers, "1") * -1) 0;

        > * + * {
            position: relative;
            padding-left: calc(calc(map.get(var_default.$spacers, "1") * 0.75) + 1px);
            margin-left: calc(map.get(var_default.$spacers, "1") * 0.75);
        }

        > * + *::before {
            border-left: 1px solid;
            content: "";
            display: block;
            height: 1rem;
            opacity: .3;
            width: 1px;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            left: 0;
        }
    }

    // Remove gaps when elements are missing
    &:not(:has(.c-notice__title)) {
        grid-template-areas: "icon message actions";
    }

    &:not(:has(.c-notice__message)) {
        grid-template-areas: "icon title actions";
    }

    a,
    a:hover,
    a:active,
    a:visited {
        color: var_colors.$color-notice-text-default;
        text-decoration: underline;
    }

    &--success {
        background-color: $c-notice-color-success-background;
        color: $c-notice-color-success-text;

        a,
        a:hover,
        a:active,
        a:visited {
            color: $c-notice-color-success-text;
            text-decoration: underline;
        }

        .c-button {
            color: $c-notice-color-success-text;
        }
    }

    &--danger {
        background-color: $c-notice-color-danger-background;
        color: $c-notice-color-danger-text;

        a,
        a:hover,
        a:active,
        a:visited {
            color: $c-notice-color-danger-text;
            text-decoration: underline;
        }

        .c-button {
            color: $c-notice-color-danger-text;
        }
    }

    &--info {
        background-color: $c-notice-color-info-background;
        color: $c-notice-color-info-text;

        a,
        a:hover,
        a:active,
        a:visited {
            color: $c-notice-color-info-text;
            text-decoration: underline;
        }

        .c-button {
            color: $c-notice-color-info-text;
        }
    }

    &--warning {
        background-color: $c-notice-color-warning-background;
        color: $c-notice-color-warning-text;

        a,
        a:hover,
        a:active,
        a:visited {
            color: $c-notice-color-warning-text;
            text-decoration: underline;
        }

        .c-button {
            color: $c-notice-color-warning-text;
        }
    }

}

.c-notice.c-notice--stretch { /* Bleed outside container  left&right */ 
    @include stretch.stretch();
}

.c-notice.c-notice--action-below {
    grid-template-areas: 
        "icon title"
        "icon message"
        ". actions";

    .c-notice__actions {
        margin-top: var(--base, 8px);
        justify-content: flex-start;
    }

    // Remove gaps when elements are missing
    &:not(:has(.c-notice__title)) {
        grid-template-areas: 
            "icon message"
            ". actions";
    }

    &:not(:has(.c-notice__message)) {
        grid-template-areas: 
            "icon title"
            ". actions";
    }
}

.c-notice + .c-notice {
    margin-top: calc(#{var_default.$base} * 2); 
}

@media print {
    .c-notice {
        display: none;
    }
}
