@use "../mixin/stretch";
@use "../mixin/tokens";

/* Design tokens */
@include tokens.create-tokens("c-notice", (
    "border-radius",
    "space",
    "shadow",
    "line-height",
    "color--success",
    "color--danger",
    "color--warning",
    "color--info"
));

/* Component */
.c-notice {
    filter: var(--c-notice--shadow);
    contain: layout;
    padding: tokens.use("c-notice", "space", 2) tokens.use("c-notice", "space", 3);
    border-radius: tokens.use("c-notice", "border-radius");
    corner-shape: var(--c-notice--corner-shape);
    display: grid;
    grid-template-areas:
        "icon title actions"
        "icon message actions";
    grid-template-columns: min-content 1fr auto;
    grid-auto-rows: auto;
    align-items: center;

    > [class*='c-notice__'] + [class*='c-notice__']  {
        margin-left: tokens.use("c-notice", "space", 2);
    }

    .c-notice__icon {
        grid-area: icon;
        vertical-align: sub;
        line-height: 1rem;
        opacity: .7;
    }

    .c-notice__title {
        grid-area: title;
        margin: 0;
        line-height: var(--c-notice--line-height);
    }

    .c-notice__message {
        grid-area: message;
        margin: 0;
    }

    .c-notice__actions {
        grid-area: actions;
        display: flex;
        gap: calc(var(--c-notice--space) * 1.5);
        align-items: center;
        justify-content: flex-end;
        margin: calc(var(--c-notice--space) * -1) calc(var(--c-notice--space) * -1) calc(var(--c-notice--space) * -1) 0;
        > * + * {
            position: relative;
            padding-left: calc(calc(var(--c-notice--space) * 0.75) + 1px);
            margin-left: calc(var(--c-notice--space) * 0.75);
        }

        > * + *::before {
            border-left: 1px solid;
            content: "";
            display: block;
            height: 1rem;
            opacity: .3;
            width: 1px;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            left: 0;
        }
    }

    // Remove gaps when elements are missing
    &:not(:has(.c-notice__title)) {
        grid-template-areas: "icon message actions";
    }

    &:not(:has(.c-notice__message)) {
        grid-template-areas: "icon title actions";
    }

    a,
    a:hover,
    a:active,
    a:visited {
        color: inherit;
        text-decoration: underline;
    }

    @include tokens.color-variants("c-notice", ("success", "danger", "info", "warning"));
}

.c-notice.c-notice--stretch { /* Bleed outside container  left&right */
    @include stretch.stretch();
}

.c-notice.c-notice--action-below {
    grid-template-areas:
        "icon title"
        "icon message"
        ". actions";

    .c-notice__actions {
        margin-top: var(--base, 8px);
        justify-content: flex-start;
    }

    // Remove gaps when elements are missing
    &:not(:has(.c-notice__title)) {
        grid-template-areas:
            "icon message"
            ". actions";
    }

    &:not(:has(.c-notice__message)) {
        grid-template-areas:
            "icon title"
            ". actions";
    }
}

.c-notice + .c-notice {
    margin-top: calc(var(--base) * 2);
}

@media print {
    .c-notice {
        display: none;
    }
}
