@use "../mixin/stretch";
@use "../mixin/tokens";

/* Component name */
$_: "c-notice";

/* Design tokens */
@include tokens.create($_, (
    "border-radius",
    "space",
    "shadow",
    "line-height",
    "color--success",
    "color--danger",
    "color--warning",
    "color--info"
));

/* Component */
.#{$_} {
    contain: layout;
    filter: tokens.get($_, "shadow");
    padding: tokens.use($_, "space", 2) tokens.use($_, "space", 3);
    border-radius: tokens.use($_, "border-radius");
    corner-shape: tokens.get($_, "corner-shape");
    display: grid;
    grid-template-areas:
        "icon title actions"
        "icon message actions";
    grid-template-columns: min-content 1fr auto;
    align-items: center;

    .#{$_}__icon {
        grid-area: icon;
        line-height: 1rem;
        opacity: .7;
        color: tokens.get($_, "color--info-contrast");
    }

    .#{$_}__title {
        grid-area: title;
        margin: 0;
        line-height: tokens.get($_, "line-height");
    }

    .#{$_}__message {
        grid-area: message;
        margin: 0;
    }

    .#{$_}__actions {
        grid-area: actions;
        display: flex;
        gap: tokens.use($_, "space", 1.5);
        align-items: center;
        justify-content: flex-end;
        margin: tokens.use($_, "space", -1) tokens.use($_, "space", -1) tokens.use($_, "space", -1) 0;

        > * + * {
            padding-left: tokens.use($_, "space", 0.75);
            border-left: 1px solid;
            border-left-color: inherit;
            opacity: 1;
            border-left-color: color-mix(in srgb, currentColor 30%, transparent);
        }
    }

    &:not(:has(.#{$_}__title)) {
        grid-template-areas: "icon message actions";
    }

    &:not(:has(.#{$_}__message)) {
        grid-template-areas: "icon title actions";
    }

    a {
        color: inherit;
        text-decoration: underline;
    }

    @include tokens.color-variants($_, ("success", "danger", "info", "warning"));
}

.#{$_}.#{$_}--stretch {
    @include stretch.stretch();
}

.#{$_}.#{$_}--action-below {
    grid-template-areas:
        "icon title"
        "icon message"
        ". actions";
    grid-template-columns: min-content 1fr;

    .#{$_}__actions {
        margin-top: tokens.use($_, "space");
        justify-content: flex-start;
    }

    &:not(:has(.#{$_}__title)) {
        grid-template-areas:
            "icon message"
            ". actions";
    }

    &:not(:has(.#{$_}__message)) {
        grid-template-areas:
            "icon title"
            ". actions";
    }
}

.#{$_} + .#{$_} {
    margin-top: tokens.use($_, "space", 4);
}

@media print {
    .#{$_} {
        display: none;
    }
}
