@use "../mixin/stretch";
@use "../mixin/tokens";

/* Component name */ 
$_: "c-notice";

/* Design tokens */
@include tokens.create-tokens($_, (
    "border-radius",
    "space",
    "shadow",
    "line-height",
    "color--success",
    "color--danger",
    "color--warning",
    "color--info"
));

/* Component */
.#{$_} {
    contain: layout;
    filter: tokens.use($_, "shadow");
    padding: tokens.use($_, "space", 2) tokens.use($_, "space", 3);
    border-radius: tokens.use($_, "border-radius");
    corner-shape: tokens.use($_, "corner-shape");
    display: grid;
    grid-template-areas:
        "icon title actions"
        "icon message actions";
    grid-template-columns: min-content 1fr auto;
    grid-auto-rows: auto;
    align-items: center;

    > [class*='#{$_}__'] + [class*='#{$_}__']  {
        margin-left: tokens.use($_, "space", 2);
    }

    .#{$_}__icon {
        grid-area: icon;
        vertical-align: sub;
        line-height: 1rem;
        opacity: .7;
    }

    .#{$_}__title {
        grid-area: title;
        margin: 0;
        line-height: tokens.use($_, "line-height");
    }

    .#{$_}__message {
        grid-area: message;
        margin: 0;
    }

    .#{$_}__actions {
        grid-area: actions;
        display: flex;
        gap: tokens.use($_, "space", 1.5);
        align-items: center;
        justify-content: flex-end;
        margin: tokens.use($_, "space", -1) tokens.use($_, "space", -1) tokens.use($_, "space", -1) 0;

        > * + * {
            position: relative;
            padding-left: calc(#{tokens.use($_, "space", 0.75)} + 1px);
            margin-left: tokens.use($_, "space", 0.75);
        }

        > * + *::before {
            border-left: 1px solid;
            content: "";
            display: block;
            height: 1rem;
            opacity: .3;
            width: 1px;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            left: 0;
        }
    }

    // Remove gaps when elements are missing
    &:not(:has(.c-notice__title)) {
        grid-template-areas: "icon message actions";
    }

    &:not(:has(.c-notice__message)) {
        grid-template-areas: "icon title actions";
    }

    a,
    a:hover,
    a:active,
    a:visited {
        color: inherit;
        text-decoration: underline;
    }

    @include tokens.color-variants($_, ("success", "danger", "info", "warning"));
}

.c-notice.c-notice--stretch { /* Bleed outside container  left&right */
    @include stretch.stretch();
}

.c-notice.c-notice--action-below {
    grid-template-areas:
        "icon title"
        "icon message"
        ". actions";

    .c-notice__actions {
        margin-top: var(--base, 8px);
        justify-content: flex-start;
    }

    // Remove gaps when elements are missing
    &:not(:has(.c-notice__title)) {
        grid-template-areas:
            "icon message"
            ". actions";
    }

    &:not(:has(.c-notice__message)) {
        grid-template-areas:
            "icon title"
            ". actions";
    }
}

.c-notice + .c-notice {
    margin-top: calc(var(--base) * 2);
}

@media print {
    .c-notice {
        display: none;
    }
}
