@use "sass:map";
@use "../mixin/stretch";
@use "../setting/var_default";

.c-notice {
    filter: var(--drop-shadow-5, drop-shadow(0px 12px 14px rgba(0,0,0,.1)));
    padding: map.get(var_default.$spacers, "2") map.get(var_default.$spacers, "3");
    background-color: var(--color-base, #fafafa);
    border-radius: var(--notice-border-radius, var(--radius-sm, calc(var(--base, 8px) / 2)));
    color: var(--color-notice-text-default, #3d3d3d);
    display: grid;
    grid-template-areas: 
        "icon title actions"
        "icon message actions";
    grid-template-columns: min-content 1fr auto;
    grid-auto-rows: auto;
    align-items: center;

    > [class*='c-notice__'] + [class*='c-notice__']  {
        margin-left: map.get(var_default.$spacers, "2");
    }

    .c-notice__icon {
        grid-area: icon;
        vertical-align: sub;
        line-height: 1rem;
        opacity: .7;
    }

    .c-notice__title {
        grid-area: title;
        margin: 0;
        line-height: var(--line-height-base, 1.5);
    }

    .c-notice__message {
        grid-area: message;
        margin: 0;
    }

    .c-notice__actions {
        
        grid-area: actions;
        display: flex;
        gap: calc(map.get(var_default.$spacers, "1") * 1.5);
        align-items: center;
        justify-content: flex-end;
        margin: calc(map.get(var_default.$spacers, "1") * -1) calc(map.get(var_default.$spacers, "1") * -1) calc(map.get(var_default.$spacers, "1") * -1) 0;

        > * + * {
            position: relative;
            padding-left: calc(calc(map.get(var_default.$spacers, "1") * 0.75) + 1px);
            margin-left: calc(map.get(var_default.$spacers, "1") * 0.75);
        }

        > * + *::before {
            border-left: 1px solid;
            content: "";
            display: block;
            height: 1rem;
            opacity: .3;
            width: 1px;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            left: 0;
        }
    }

    // Remove gaps when elements are missing
    &:not(:has(.c-notice__title)) {
        grid-template-areas: "icon message actions";
    }

    &:not(:has(.c-notice__message)) {
        grid-template-areas: "icon title actions";
    }

    a,
    a:hover,
    a:active,
    a:visited {
        color: var(--color-notice-text-default, #3d3d3d);
        text-decoration: underline;
    }

    &--success {
        background-color: var(--notice-color-success-background, var(--color-success, #91d736));
        color: var(--c-notice-color-success-text, var(--color-success-contrasting, #ffffff));

        a,
        a:hover,
        a:active,
        a:visited {
            color: var(--c-notice-color-success-text, var(--color-success-contrasting, #ffffff));
            text-decoration: underline;
        }

        .c-button {
            color: var(--c-notice-color-success-text, var(--color-success-contrasting, #ffffff));
        }
    }

    &--danger {
        background-color: var(--notice-color-danger-background, var(--color-danger, #d73740));
        color: var(--notice-color-danger-text, var(--color-danger-contrasting, #ffffff));

        a,
        a:hover,
        a:active,
        a:visited {
            color: var(--notice-color-danger-text, var(--color-danger-contrasting, #ffffff));
            text-decoration: underline;
        }

        .c-button {
            color: var(--notice-color-danger-text, var(--color-danger-contrasting, #ffffff));
        }
    }

    &--info {
        background-color: var(--notice-color-info-background, var(--color-info, #0074c5));
        color: var(--notice-color-info-text, var(--color-info-contrasting, #ffffff));

        a,
        a:hover,
        a:active,
        a:visited {
            color: var(--notice-color-info-text, var(--color-info-contrasting, #ffffff));
            text-decoration: underline;
        }

        .c-button {
            color: var(--notice-color-info-text, var(--color-info-contrasting, #ffffff));
        }
    }

    &--warning {
        background-color: var(--notice-color-warning-background, var(--color-warning, #f0b731));
        color: var(--notice-color-warning-text, var(--color-warning-contrasting, #000000));

        a,
        a:hover,
        a:active,
        a:visited {
            color: var(--notice-color-warning-text, var(--color-warning-contrasting, #000000));
            text-decoration: underline;
        }

        .c-button {
            color: var(--notice-color-warning-text, var(--color-warning-contrasting, #000000));
        }
    }

}

.c-notice.c-notice--stretch { /* Bleed outside container  left&right */ 
    @include stretch.stretch();
}

.c-notice.c-notice--action-below {
    grid-template-areas: 
        "icon title"
        "icon message"
        ". actions";

    .c-notice__actions {
        margin-top: var(--base, 8px);
        justify-content: flex-start;
    }

    // Remove gaps when elements are missing
    &:not(:has(.c-notice__title)) {
        grid-template-areas: 
            "icon message"
            ". actions";
    }

    &:not(:has(.c-notice__message)) {
        grid-template-areas: 
            "icon title"
            ". actions";
    }
}

.c-notice + .c-notice {
    margin-top: calc(#{var_default.$base} * 2); 
}

@media print {
    .c-notice {
        display: none;
    }
}
