.c-notice {
    @include shadow(5);
    padding: map-get($spacers, "2") map-get($spacers, "3");
    background-color: $color-base;
    border-radius: $border-radius-xs;
    color: $color-notice-text-default;

    a,
    a:hover,
    a:active,
    a:visited {
        color: $color-notice-text-default;
        text-decoration: underline;
    }

    &--success {
        background-color: $color-success;
        color: $color-success-text;

        a,
        a:hover,
        a:active,
        a:visited {
            color: $color-success-text;
            text-decoration: underline;
        }
    }

    &--danger {
        background-color: $color-danger;
        color: $color-danger-text;

        a,
        a:hover,
        a:active,
        a:visited {
            color: $color-danger-text;
            text-decoration: underline;
        }
    }

    &--info {
        background-color: $color-info;
        color: $color-info-text;

        a,
        a:hover,
        a:active,
        a:visited {
            color: $color-info-text;
            text-decoration: underline;
        }
    }

    &--warning {
        background-color: $color-warning;
        color: $color-warning-text;

        a,
        a:hover,
        a:active,
        a:visited {
            color: $color-warning-text;
            text-decoration: underline;
        }
    }

    &__icon {
        margin-right: map-get($spacers, "1");
        vertical-align: sub;
    }

}

.c-notice__message {

    &--inherit {
        font-size: inherit;
    }

    &--xs {
        font-size: $base; 
    }

    &--sm {
        font-size: $base * 2; 
    }

    &--md {
        font-size: $base * 2 + ($base / 4); 
    }

    &--lg {
        font-size: $base * 2 + ($base / 2); 
    }

    &--xl {
        font-size: $base * 3; 
    }

    &--xxl {
        font-size: $base * 4;
    }
}

.c-notice__slide {

    &--from-left {
        @include slide(left);
    }

    &--from-right {
        @include slide(right);
    }

    &--from-top {
        @include slide(top);
    }

    &--from-bottom {
        @include slide(bottom);
    }

}