@use "../mixin/stretch";

/* Valuemap for design tokens: */
.c-notice {
    --c-notice--border-radius: var(--border-radius);
    --c-notice--corner-shape: var(--corner-shape);
    --c-notice--space: var(--space);
    --c-notice--shadow: var(--shadow);
    --c-notice--line-height: var(--line-height);
    --c-notice--color--success: var(--color--success);
    --c-notice--color--success-contrast: var(--color--success-contrast);
    --c-notice--color--danger: var(--color--danger);
    --c-notice--color--danger-contrast: var(--color--danger-contrast);
    --c-notice--color--warning: var(--color--warning);
    --c-notice--color--warning-contrast: var(--color--warning-contrast);
    --c-notice--color--info: var(--color--info);
    --c-notice--color--info-contrast: var(--color--info-contrast);
}

/* Component */
.c-notice {
    filter: var(--c-notice--shadow);
    contain: layout;
    padding: calc(var(--c-notice--space) * var(--base) * 2) calc(var(--c-notice--space) * var(--base) * 3);
    border-radius: calc(var(--c-notice--border-radius) * var(--base) * 1);
    corner-shape: var(--c-notice--corner-shape);
    display: grid;
    grid-template-areas: 
        "icon title actions"
        "icon message actions";
    grid-template-columns: min-content 1fr auto;
    grid-auto-rows: auto;
    align-items: center;

    > [class*='c-notice__'] + [class*='c-notice__']  {
        margin-left: calc(var(--c-notice--space) * var(--base) * 2);
    }

    .c-notice__icon {
        grid-area: icon;
        vertical-align: sub;
        line-height: 1rem;
        opacity: .7;
    }

    .c-notice__title {
        grid-area: title;
        margin: 0;
        line-height: var(--c-notice--line-height);
    }

    .c-notice__message {
        grid-area: message;
        margin: 0;
    }

    .c-notice__actions {
        
        grid-area: actions;
        display: flex;
        gap: calc(var(--c-notice--space) * 1.5);
        align-items: center;
        justify-content: flex-end;
        margin: calc(var(--c-notice--space) * -1) calc(var(--c-notice--space) * -1) calc(var(--c-notice--space) * -1) 0;
        > * + * {
            position: relative;
            padding-left: calc(calc(var(--c-notice--space) * 0.75) + 1px);
            margin-left: calc(var(--c-notice--space) * 0.75);
        }

        > * + *::before {
            border-left: 1px solid;
            content: "";
            display: block;
            height: 1rem;
            opacity: .3;
            width: 1px;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            left: 0;
        }
    }

    // Remove gaps when elements are missing
    &:not(:has(.c-notice__title)) {
        grid-template-areas: "icon message actions";
    }

    &:not(:has(.c-notice__message)) {
        grid-template-areas: "icon title actions";
    }

    a,
    a:hover,
    a:active,
    a:visited {
        color: inherit;
        text-decoration: underline;
    }

    &--success {
        background-color: var(--c-notice--color--success);
        color: var(--c-notice--color--success-contrast);

        a,
        a:hover,
        a:active,
        a:visited {
            color: var(--c-notice--color--success-contrast);
            text-decoration: underline;
        }

        .c-button {
            color: var(--c-notice--color--success-contrast);
        }
    }

    &--danger {
        background-color: var(--c-notice--color--danger);
        color: var(--c-notice--color--danger-contrast);

        a,
        a:hover,
        a:active,
        a:visited {
            color: var(--c-notice--color--danger-contrast);
            text-decoration: underline;
        }

        .c-button {
            color: var(--c-notice--color--danger-contrast);
        }
    }

    &--info {
        background-color: var(--c-notice--color--info);
        color: var(--c-notice--color--info-contrast);

        a,
        a:hover,
        a:active,
        a:visited {
            color: var(--c-notice--color--info-contrast);
            text-decoration: underline;
        }

        .c-button {
            color: var(--c-notice--color--info-contrast);
        }
    }

    &--warning {
        background-color: var(--c-notice--color--warning);
        color: var(--c-notice--color--warning-contrast);

        a,
        a:hover,
        a:active,
        a:visited {
            color: var(--c-notice--color--warning-contrast);
            text-decoration: underline;
        }

        .c-button {
            color: var(--c-notice--color--warning-contrast);
        }
    }

}

.c-notice.c-notice--stretch { /* Bleed outside container  left&right */ 
    @include stretch.stretch();
}

.c-notice.c-notice--action-below {
    grid-template-areas: 
        "icon title"
        "icon message"
        ". actions";

    .c-notice__actions {
        margin-top: var(--base, 8px);
        justify-content: flex-start;
    }

    // Remove gaps when elements are missing
    &:not(:has(.c-notice__title)) {
        grid-template-areas: 
            "icon message"
            ". actions";
    }

    &:not(:has(.c-notice__message)) {
        grid-template-areas: 
            "icon title"
            ". actions";
    }
}

.c-notice + .c-notice {
    margin-top: calc(var(--base) * 2); 
}

@media print {
    .c-notice {
        display: none;
    }
}
