.c-notice {
    @include shadow(5);
    padding: map-get($spacers, '2') map-get($spacers, '3');
    background-color: $color-base;
    border-radius: $border-radius-xs;
    
    &--success {
        background-color: $color-success; 
        color: #ffffff;
    }

    &--danger {
        background-color: $color-danger; 
        color: #ffffff;
    }

    &--info {
        background-color: $color-info; 
    }

    &--warning {
        background-color: $color-warning; 
    }

    &__icon{
        margin-right: map-get($spacers, '1');
    }
}

.c-notice__slide{
   
    &--from-left{
        @include slide(left);
    }
    &--from-right{
        @include slide(right);
    }
    &--from-top{
        @include slide(top);
    }
    &--from-bottom{
        @include slide(bottom);
    }    

    
}


