
$c-option-label-color: var(--c-option-label-color, $color-darker) !default;
$c-option-label-active-color: var(--c-option-label-active-color, $color-black) !default;
$c-option-label-font-size-sm: var(--c-option-label-font-size-sm, $font-size-caption) !default;
$c-option-label-font-size-md: var(--c-option-label-font-size-md, $font-size-base) !default;
$c-option-label-line-height-sm: var(--c-option-label-line-height-sm, $line-height-caption) !default;
$c-option-label-line-height-md: var(--c-option-label-line-height-md, $line-height-base) !default;

.c-option {

    &__checkbox {
        
        width: 100%;

        .c-option__checkbox--label-box {
            align-self: center;
            position: relative;
            height: 18px;
            width: 18px;
            border: 2px solid $color-primary;
            background-color: $color-white;
            border-radius: $border-radius-xs;
            cursor: pointer;
        }

        .c-option__checkbox--hidden-box:checked+.c-option__checkbox--label {

            .c-option__checkbox--label-text {
                font-style: normal;
                font-weight: 500;
                color: $c-option-label-active-color;
            }

            .c-option__checkbox--label-box {
                background: $color-primary;

                &:after {
                    content: "";
                    display: block;
                    position: absolute;
                    top: -2px;
                    left: 4px;
                    width: 5px;
                    height: 11px;
                    border: solid $color-white;
                    border-width: 0 2px 2px 0;
                    transform: rotate(45deg);
                }
            }

        }

        &.c-option--sm {
            .c-option__checkbox--label-text {
                font-size: $c-option-label-font-size-sm;
                line-height: $c-option-label-font-size-sm;
            }
            .c-option__checkbox--label-box {
                width: 16px;
                height: 16px;
            }
            .c-option__checkbox--hidden-box:checked+.c-option__checkbox--label {
                .c-option__checkbox--label-box:after {
                    top: -1px;
                    width: 3px;
                    height: 9px;
                }
            }
        }

    }

    &__radio {

        .c-option__radio--label-box {
            align-self: center;
            position: relative;
            height: 20px;
            width: 20px;
            border: 2px solid $color-primary;
            background-color: $color-white;
            border-radius: $border-radius-full;
            cursor: pointer;
        }

        .c-option__radio--hidden-box:checked+.c-option__radio--label {

            .c-option__radio--label-text {
                font-style: normal;
                font-weight: 500;
                color: $c-option-label-active-color;
            }

            .c-option__radio--label-box {

                &:after {
                    animation: pop-in 150ms;
                    content: "";
                    display: block;
                    position: absolute;
                    top: 3px;
                    left: 3px;
                    width: 10px;
                    height: 10px;
                    background-color: $color-primary;
                    border-radius: $border-radius-full;
                }
            }

            .c-option__radio--label-text {

                &:after {
                    width: 85%;
                }
            }
        }
    }

    .c-option__checkbox,
    .c-option__radio {
        display: flex;
        flex-direction: column;
        margin: 0;
        padding: 0;
        width: 80%;
        max-width: 500px;
        background-color: $color-white;
        list-style: none;
        overflow: hidden;
    }

    .c-option__checkbox--hidden-box,
    .c-option__radio--hidden-box {
        position: absolute;
        appearance: none;
        height: 0;
        width: 0;
        display: hidden;
    }

    .c-option__checkbox--label,
    .c-option__radio--label {
        margin: 0;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: flex-start;
        align-items: flex-start;
        margin-right: map-get($spacers, "05");
    }

    .c-option__checkbox--label-text,
    .c-option__radio--label-text {
        position: relative;
        cursor: pointer;
        font-style: italic;
        flex: 1;
        color: $color-darker;
        padding: map-get($spacers, "05") 10px;
        font-size: $c-option-label-font-size-md;
        line-height: $c-option-label-font-size-md;
    }

    .c-option__input-invalid-message {
        width: 100%;
        padding: map-get($spacers, "1");
        display: none;
        font-size: 80%;
        color: $color-white;
        background-color: $color-danger;
        border: none;
        border-radius: 0 0 5px 5px;
        box-sizing: border-box;

        &.error {
            display: block;
            transition: ease-in-out .3s;
        }

        .c-icon {
            position: relative;
            top: 3px;
        }
    }
    &.is-invalid {
        .c-option__checkbox--label-box {
            &,
            &:focus,
            &:active {
                border-color: $c-field-helper-error-color;
            }
        }
        .c-option__checkbox--label-text {
            color: $c-field-helper-error-color;
        }
    }
    
    &.is-valid {
        .c-option__checkbox--label-box {
            &,
            &:focus,
            &:active {
                border-color: $c-field-helper-success-color;
            }
        }
        .c-option__checkbox--label-text {
            color: $c-field-helper-success-color;
        }
    }
}