@use "sass:map";
@use "../mixin/focus";
@use "../setting/var_border-radius";
@use "../setting/var_colors";
@use "../setting/var_default";
@use "../setting/var_fonts";


/**********************************************************
 * OPTION COMPONENT CSS VARIABLES
 * Component-level tokens for checkbox/radio options.
 **********************************************************/

// Label Colors
$c-option-label-color: var(--c-option-label-color, var(--color--darker));
$c-option-label-active-color: var(--c-option-label-active-color, var(--color--black));

// Font Sizes - Map to base semantic sizes
$c-option-label-font-size-sm: var(--c-option-label-font-size-sm, var(--font-size-caption));
$c-option-label-line-height-sm: var(--c-option-label-line-height-sm, calc(var(--base) * 1.5));
$c-option-label-font-size-md: var(--c-option-label-font-size-md, var(--font-size-base));
$c-option-label-line-height-md: var(--c-option-label-line-height-md, calc(var(--base) * 2));

// Border & State Colors
$c-option-border-color: var(--c-option-border-color, var(--color--border));
$c-option-danger-color: var(--c-option-danger-color, var(--color--error));
$c-option-success-color: var(--c-option-success-color, var(--color--success));
$c-option-check-color: var(--c-option-check-color, var(--color--primary));
$c-option-bg-color: var(--c-option-bg-color, var(--color--white));

.c-option {

    &__checkbox {

        :focus-visible + label {
            @include focus.focus();
        }
    
        width: 100%;

        .c-option__checkbox--label-box {
            align-self: center;
            position: relative;
            height: 18px;
            width: 18px;
            border: 2px solid $c-option-check-color;
            background-color: $c-option-bg-color;
            border-radius: var(--radius-xs);
            cursor: pointer;
        }

        .c-option__checkbox--hidden-box:checked:disabled+.c-option__checkbox--label,
        &.is-disabled .c-option__checkbox--hidden-box:checked+.c-option__checkbox--label {
            .c-option__checkbox--label-box,
            .c-option__radio--label-box {
                background: var_colors.$color-disabled;
                border-color: var_colors.$color-disabled;
            } 
        }

        .c-option__checkbox--hidden-box:checked+.c-option__checkbox--label {

            .c-option__checkbox--label-text {
                font-style: normal;
                font-weight: var_fonts.$font-weight-base;
                color: $c-option-label-active-color;
            }

            .c-option__checkbox--label-box {
                background: var_colors.$color-primary;

                &:after {
                    content: "";
                    display: block;
                    position: absolute;
                    top: -2px;
                    left: 4px;
                    width: 5px;
                    height: 11px;
                    border: solid var_colors.$color-white;
                    border-width: 0 2px 2px 0;
                    transform: rotate(45deg);
                }
            }

        }

        &.c-option--sm {
            .c-option__checkbox--label-text {
                font-size: $c-option-label-font-size-sm;
                line-height: $c-option-label-font-size-sm;
            }
            .c-option__checkbox--label-box {
                width: 16px;
                height: 16px;
            }
            .c-option__checkbox--hidden-box:checked+.c-option__checkbox--label {
                .c-option__checkbox--label-box:after {
                    top: -1px;
                    width: 3px;
                    height: 9px;
                }
            }
        }

    }

    &__radio {

        :focus-visible + label {
            @include focus.focus();
        }

        .c-option__radio--label-box {
            align-self: center;
            position: relative;
            height: 20px;
            width: 20px;
            border: 2px solid var_colors.$color-primary;
            background-color: var_colors.$color-white;
            border-radius: var(--radius-full);
            cursor: pointer;
        }


        .c-option__radio--hidden-box:checked+.c-option__radio--label {

            .c-option__radio--label-text {
                font-style: normal;
                font-weight: 500;
                color: $c-option-label-active-color;
            }

            .c-option__radio--label-box {

                &:after {
                    animation: pop-in 150ms;
                    content: "";
                    display: block;
                    position: absolute;
                    top: 3px;
                    left: 3px;
                    width: 10px;
                    height: 10px;
                    background-color: var_colors.$color-primary;
                    border-radius: var(--radius-full);
                }
            }

            .c-option__radio--label-text {

                &:after {
                    width: 85%;
                }
            }
        }
    }

    .c-option__checkbox,
    .c-option__radio {
        display: flex;
        flex-direction: column;
        margin: 0;
        padding: 0;
        width: 80%;
        max-width: 500px;
        background-color: var_colors.$color-white;
        list-style: none;
        overflow: hidden;
    }

    .c-option__checkbox--hidden-box,
    .c-option__radio--hidden-box {
        position: absolute;
        height: 1px;
        width: 1px;
        margin: -1px;
        white-space: nowrap;
        appearance: none;
        overflow: hidden;
        border: 0;

        &:focus-visible {
            outline: none;
            z-index: -1;
        }
    }

    .c-option__checkbox--label,
    .c-option__radio--label {
        margin: 0;
        display: inline-flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: flex-start;
        align-items: flex-start;
        margin-right: map.get(var_default.$spacers, "05");
    }

    .c-option__checkbox--label-text,
    .c-option__radio--label-text {
        position: relative;
        cursor: pointer;
        font-style: italic;
        flex: 1;
        color: var_colors.$color-darker;
        padding: map.get(var_default.$spacers, "05") 10px;
        font-size: $c-option-label-font-size-md;
        line-height: $c-option-label-font-size-md;
    }

    .c-option__input-invalid-message {
        width: 100%;
        padding: map.get(var_default.$spacers, "1");
        display: none;
        font-size: 80%;
        color: var_colors.$color-white;
        background-color: var_colors.$color-danger;
        border: none;
        border-radius: 0 0 5px 5px;
        box-sizing: border-box;

        &.error {
            display: block;
            transition: ease-in-out .3s;
        }

        .c-icon {
            position: relative;
            top: 3px;
        }
    }
    &.is-invalid {
        .c-option__checkbox--label-box {
            &,
            &:focus,
            &:active {
                border-color: $c-option-danger-color;
            }
        }
        .c-option__checkbox--label-text {
            color: $c-option-danger-color;
        }
    }
    
    &.is-valid {
        .c-option__checkbox--label-box {
            &,
            &:focus,
            &:active {
                border-color: $c-option-success-color;
            }
        }
        .c-option__checkbox--label-text {
            color: $c-option-success-color;
        }
    }
}