.c-option {

    &__checkbox {

        .c-option__checkbox--label-box {

            display: flex;
            align-self: center;
            position: relative;
            height: 20px;
            width: 20px;
            border: 1px solid $color-form-fields;
            background-color: $color-form-fields;
            border-radius: $border-radius-xs;
            cursor: pointer;
            box-shadow: 0 0 0 1px $color-gray-detail;

            &:hover {
                box-shadow: 0 0 0 2px $color-disabled-text;
            }
        }

        .c-option__checkbox--hidden-box:checked+.c-option__checkbox--label {

            .c-option__checkbox--label-box {

                &:after {
                    content: "";
                    display: block;
                    position: absolute;
                    top: -1px;
                    left: 4px;
                    width: 6px;
                    height: 12px;
                    border: solid $color-primary;
                    border-width: 0 3px 3px 0;
                    transform: rotate(45deg);
                }
            }

            .c-option__checkbox--label-text {

                &:after {
                    width: 85%;
                }
            }
        }
    }

    &__radio {

        .c-option__radio--label-box {
            display: flex;
            align-self: center;
            position: relative;
            height: 20px;
            width: 20px;
            border: 1px solid $color-form-fields;
            background-color: $color-form-fields;
            border-radius: $border-radius-full;
            cursor: pointer;
            box-shadow: 0 0 0 1px $color-gray-detail;

            &:hover {
                box-shadow: 0 0 0 2px $color-disabled-text;
            }
        }

        .c-option__radio--hidden-box:checked+.c-option__radio--label {

            .c-option__radio--label-box {

                &:after {
                    animation: pop-in 150ms;
                    content: "";
                    display: block;
                    position: absolute;
                    top: 3px;
                    left: 3px;
                    width: 12px;
                    height: 12px;
                    background-color: $color-primary;
                    border-radius: $border-radius-full;
                }
            }

            .c-option__radio--label-text {

                &:after {
                    width: 85%;
                }
            }
        }
    }

    .c-option__checkbox,
    .c-option__radio {
        display: flex;
        flex-direction: column;
        margin: 0;
        padding: 0;
        width: 80%;
        max-width: 500px;
        background-color: $color-white;
        list-style: none;
        overflow: hidden;
    }

    .c-option__checkbox--hidden-box,
    .c-option__radio--hidden-box {
        position: absolute;
        top: -9999px;
        left: -9999px;
        appearance: none;
        opacity: 0;
        visibility: hidden;
    }

    .c-option__checkbox--label,
    .c-option__radio--label {
        margin: 0;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: flex-start;
        align-items: center;
    }

    .c-option__checkbox--label-text,
    .c-option__radio--label-text {
        display: flex;
        align-self: flex-start;
        position: relative;
        cursor: pointer;
        padding: map-get($spacers, "1") 11px;
    }

    .c-option__input-invalid-message {
        width: 100%;
        padding: map-get($spacers, "1");
        display: none;
        font-size: 80%;
        color: $color-white;
        background-color: $color-danger;
        border: none;
        border-radius: 0 0 5px 5px;
        box-sizing: border-box;

        &.error {
            display: block;
            transition: ease-in-out .3s;
        }

        .c-icon {
            position: relative;
            top: 3px;
        }
    }

}