$c-pagination-border-radius: var(--c-pagination-border-radius, $border-radius-sm) !default;

.c-pagination {
    &__list {
        @include unlist();
        gap: map-get($spacers, '2');
        padding: 0;
        margin: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
    }

    &__pages {
        @include unlist();
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        gap: map-get($spacers, '05');
        margin: 0;
        padding: 0;
    }

    &__page-wrapper {
        margin: 0;
        padding: 0;
    }

    .c-pagination__item {
        margin: 0;
        padding: 0;

        .c-pagination__link {
            padding: 0;
            width: map-get($spacers, '5');
            height: map-get($spacers, '5');
            line-height: map-get($spacers, '5');
        }
    }

    .c-icon {
        color: $color-breadcrumb-icon;
        &:before {
            vertical-align: -20%; /* TODO: Fix */
        }
    }
}
