$c-pagination-border-radius: var(--c-pagination-border-radius, $border-radius-sm) !default;

.c-pagination {
    &__list {
        @include unlist();

        padding: 0;
        margin: 0;
        display: flex;
    }

    &__item {
        margin: 0;
        padding: 0;
        border-radius: $c-pagination-border-radius;
        height: calc(#{$base}* 5);
        min-width: calc(#{$base}* 5);
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__item + &__item {
        margin-left: map-get($spacers, '1');
    }

    &__item--next {
        margin-left: map-get($spacers, '1');
    }

    &__item--previous {
        margin-right: map-get($spacers, '1');
    }

    &__item--is-active {
        @include shadow(2);
        background-color: $color-primary;
    }

    &--outlined {
        .c-pagination__item--is-active {
            box-shadow: none;
            background-color: unset;
            border: calc(#{$base} / 4) solid $color-primary;
            * {
                color: $color-black;
            }
        }
    }

    &__item--is-active &__link,
    &__item--is-active &__link:visited,
    &__item--is-active &__link:visited:hover {
        color: $color-white;
    }

    &__link {
        display: flex;
        padding: map-get($spacers, '1') map-get($spacers, '2');
        border-radius: $c-pagination-border-radius;
    }

    &__link,
    &__link:visited,
    &__link:visited:hover {
        color: inherit;
        text-decoration: none;
    }

    .c-icon {
        color: $color-breadcrumb-icon;

        &:before {
            vertical-align: -20%; /* TODO: Fix */
        }
    }
}
