.c-pagination,
.c-pagination .c-pagination__list,
.c-pagination .c-pagination__pages {
    @include unlist(); 
    display: flex;
    flex-direction: row;
    gap: calc(#{$base} * 2);
    margin: 0;
    padding: 0;
    align-items: center;

    .c-pagination__item,
    .c-pagination__page-wrapper {
        padding: 0;
        margin: 0;
    }

    .c-button.c-button--sm.c-pagination__link,
    .c-button.c-button--md.c-pagination__link,
    .c-button.c-button--lg.c-pagination__link {
        padding: 0;
    }

    .c-button.c-button--sm.c-pagination__link {
        min-width: calc(var(--base, 8px)*4.5);
    }

    .c-button.c-button--md.c-pagination__link {
        min-width: calc(var(--base, 8px)*6);
    }

    .c-button.c-button--lg.c-pagination__link {
        min-width: calc(var(--base, 8px)*8);
    }
}

.c-pagination .c-pagination__pages {
    flex-wrap: wrap;
    justify-content: center;
}