/* Valuemap for design tokens: */
.c-paper {
    --c-paper--color-surface: var(--color--surface);
    --c-paper--color-surface-contrast: var(--color--surface-contrast);
    --c-paper--border-radius: var(--border-radius);
    --c-paper--corner-shape: var(--corner-shape);
    --c-paper--space: var(--space);
    --c-paper--shadow: var(--shadow);
    --c-paper--border-width: var(--border-width);
    --c-paper--border-color: var(--color--surface-contrast-muted);

    /* Derived tokens */
    --c-paper--padding: calc(var(--c-paper--space) * var(--base) * var(--c-paper--padding-multiplier, 0));
}

.c-paper {
    border: var(--c-paper--border-width) solid var(--c-paper--border-color);
    contain: layout;
    filter: var(--c-paper--shadow);
    background-color: var(--c-paper--color-surface);
    border-radius: calc(var(--c-paper--border-radius) * var(--base) * 1);
    color: var(--c-paper--color-surface-contrast);
    corner-shape: var(--c-paper--corner-shape);
    padding: var(--c-paper--padding);

    &--padding-0 {
        --c-paper--padding-multiplier: 0;
    }
    &--padding-1 {
        --c-paper--padding-multiplier: 1;
    }
    &--padding-2 {
        --c-paper--padding-multiplier: 2;
    }
    &--padding-3 {
        --c-paper--padding-multiplier: 3;
    }
    &--padding-4 {
        --c-paper--padding-multiplier: 4;
    }
    &--padding-5 {
        --c-paper--padding-multiplier: 5;
    }
    &--padding-6 {
        --c-paper--padding-multiplier: 6;
    }
    &--padding-7 {
        --c-paper--padding-multiplier: 7;
    }
    &--padding-8 {
        --c-paper--padding-multiplier: 8;
    }

    &--divider {
        border-top: var(--c-paper--border-width) solid var(--c-paper--border-color);
        padding-top: calc(var(--c-paper--space) * var(--base) * 3);
    }
}
