@use "sass:map";
@use "../mixin/paper";
@use "../setting/var_colors";
@use "../setting/var_default";
@use "../setting/var_properties";

$c-paper-border-width: var(--c-paper-border-width, var_properties.$border-width-card);
$c-paper-border-color: var(--c-paper-border-color, var_colors.$color-border-card);

.c-paper {
    border: $c-paper-border-width solid;
    border-color: $c-paper-border-color;
    
    position: relative;
    @include paper.paper(2);

    &--transparent {
        background: transparent;
        box-shadow: none;
        filter: var_properties.$drop-shadow-0;
        height:auto;
    }

    @each $number, $size in var_default.$spacers {
        @if $size != auto {
            &--padding-#{$number} {
                padding: map.get(var_default.$spacers, $number);
            }
        }
    }

    &--divider {
        border-top: 1px Solid var_colors.$color-gray-light;
        padding-top: map.get(var_default.$spacers, "3");
    }

    &--component-description-area {
        background-color: var_colors.$color-component-doc-background;
        display: inline-block;
        width:100%;

        p, h4, h5 {
            color: var_colors.$color-white;
        }

        .c-button__text--primary[aria-pressed="true"],
        [aria-pressed="true"].c-button__outlined--primary {
            color: var_colors.$color-white;
            background-color: var_colors.$color-component-doc-background-lighten;
        }

        .c-button__outlined--primary:hover, .c-button__text--primary:hover {
            background-color: var_colors.$color-component-doc-background-lighten;
        }

    }

    &--component-description-area-full {
        padding: 24px;
    }

    &--component-code-area-grid {
        margin-top: -8px;
        padding: 0 24px;
    }

    &--component-code-area-full {
        margin-top:-10px;
    }

    .c-code__output {
        padding-top:10px;
    }

    // Flat card design
    &.c-paper--flat {
        background: none;
        border: none;
        filter: none;
    }
    //end flat card design
}
