$c-paper-border-width: var(--c-paper-border-width, $border-width-card) !default;
$c-paper-border-color: var(--c-paper-border-color, $color-border-card) !default;

.c-paper {
    border: $c-paper-border-width solid;
    border-color: $c-paper-border-color;
    
    position: relative;
    @include paper(2);

    &--transparent {
        background: transparent;
        box-shadow: none;
        filter: $drop-shadow-0;
        height:auto;
    }

    @each $number, $size in $spacers {

        &--padding-#{$number} {
            padding: map-get($spacers, $number);
        }
    }

    &--divider {
        border-top: 1px Solid $color-gray-light;
        padding-top:map-get($spacers, "3");
    }

    &--component-description-area {
        background-color: $color-component-doc-background;
        display: inline-block;
        width:100%;

        p, h4, h5 {
            color: $color-white;
        }

        .c-buttongroup {
            float:right;
        }

        .c-button__text--primary[aria-pressed="true"],
        [aria-pressed="true"].c-button__outlined--primary {
            color: $color-white;
            background-color: $color-component-doc-background-lighten;
        }

        .c-button__outlined--primary:hover, .c-button__text--primary:hover {
            background-color: $color-component-doc-background-lighten;
        }

    }

    &--component-description-area-full {
        padding: 24px;
    }

    &--component-code-area-grid {
        margin-top: -8px;
        padding: 0 24px;
    }

    &--component-code-area-full {
        margin-top:-10px;
    }

    .c-code__output {
        padding-top:10px;
    }

}

.c-card  .c-paper {
    //display: flow-root;
}