@use "../mixin/tokens";

/* Component name */
$_: "c-paper";

/* Design tokens */
@include tokens.create($_, (
    "border-radius",
    "space",
    "shadow",
    "border-width",
    "color--surface"
), (
    "border-color": "var(--color--surface-contrast-muted)",
    "padding": "calc(var(--#{$_}--space) * var(--base) * var(--#{$_}--padding-multiplier, 0))"
));

/* Component */
.#{$_} {
    contain: layout;
    background-color: tokens.get($_, "color--surface");
    color: tokens.get($_, "color--surface-contrast");
    border: tokens.get($_, "border-width") solid tokens.get($_, "border-color");
    border-radius: tokens.use($_, "border-radius");
    corner-shape: tokens.get($_, "corner-shape");
    filter: tokens.get($_, "shadow");
    padding: tokens.get($_, "padding");

    @for $i from 0 through 8 {
        &--padding-#{$i} {
            --#{$_}--padding-multiplier: #{$i};
        }
    }

    &--divider {
        border-top: tokens.get($_, "border-width") solid tokens.get($_, "border-color");
        padding-top: tokens.use($_, "space", 3);
    }
}
