@use "sass:map";
@use "../mixin/paper";
@use "../setting/var_default";

.c-paper {
    border: var(--c-paper-border-width, var(--border-width-card, 0px)) solid;
    border-color: var(--c-paper-border-color, var(--color-border-card, var(--color-white, #ffffff)));
    
    position: relative;
    @include paper.paper(2);

    &--transparent {
        background: transparent;
        box-shadow: none;
        filter: var(--drop-shadow-0, none);
        height:auto;
    }

    @each $number, $size in var_default.$spacers {
        @if $size != auto {
            &--padding-#{$number} {
                padding: map.get(var_default.$spacers, $number);
            }
        }
    }

    &--divider {
        border-top: 1px Solid var(--color-gray-light, #c7c7c7);
        padding-top: map.get(var_default.$spacers, "3");
    }

    &--component-description-area {
        background-color: var(--color-component-doc-background, #1a1a1a);
        display: inline-block;
        width:100%;

        p, h4, h5 {
            color: var(--color-white, #ffffff);
        }

        .c-button__text--primary[aria-pressed="true"],
        [aria-pressed="true"].c-button__outlined--primary {
            color: var(--color-white, #ffffff);
            background-color: var(--color-component-doc-background-lighten, #2d2d2d);
        }

        .c-button__outlined--primary:hover, .c-button__text--primary:hover {
            background-color: var(--color-component-doc-background-lighten, #2d2d2d);
        }

    }

    &--component-description-area-full {
        padding: 24px;
    }

    &--component-code-area-grid {
        margin-top: -8px;
        padding: 0 24px;
    }

    &--component-code-area-full {
        margin-top:-10px;
    }

    .c-code__output {
        padding-top:10px;
    }

    // Flat card design
    &.c-paper--flat {
        background: none;
        border: none;
        filter: none;
    }
    //end flat card design
}
