@use "../mixin/list";
@use "../setting/var_default";

.c-product {
    &, .c-card {
        height: 100%;
    }
    
    .c-card__footer {
        text-align: center;
        border: none;
    }

    .c-button__filled--custom, .c-card__image--custom {
        background-color: var(--c-product-custom-color, #83A293);
        color: var(--c-button-primary-color-contrasting, var(--color-primary-contrasting, #ffffff));
    }

    .c-product__footer {
        .c-product__prices {
            display: flex;
            flex-direction: column;
            visibility: visible;
            margin-bottom: calc(var_default.$base * 10);

            &.has-button {
                margin-bottom: calc(var_default.$base * 4);
            }
        }
    }
}

.c-product__header {
    text-align: center;
}

.c-product--featured {
    margin: calc(var(--base) * -2);
}

.c-product__price {
    display: inline-block;

    &--primary {
        color: var(--color-primary, #ae0b05);
    }
    &--secondary {
        color: var(--color-secondary, #ec6701);
    }
    &--custom {
        color: var(--c-product-custom-color, #83A293);
    }
}

.c-product__label {
    padding-bottom: calc(var(--base) * 4);
}

.c-product__frequency {
    color: var(--color-black, #000000);
}

.c-product__image-container {
    position: relative;
    height: calc(var(--base) * 14);
    margin-bottom: calc(var(--base) * 3);
}

.c-product__image {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 25%);
    border-radius: 50%;
    border: calc(var(--base) * 0.25) solid white;
    height: calc(var(--base) * 14);
    width: calc(var(--base) * 14);
    aspect-ratio: 1 / 1;

    &--primary {
        background-color: var(--color-primary, #ae0b05);
    }
    &--secondary {
        background-color: var(--color-secondary, #ec6701);
    }
    &--custom {
        background-color: var(--c-product-custom-color, #83A293);
    }
}

.c-product__heading {
    position: relative;
    padding-bottom: calc(var(--base) * 2);

    &::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
    }

    &--primary {
        &::after {
            border: 1px solid var(--color-primary, #ae0b05);
        }
    }

    &--secondary {
        &::after {
            border: 1px solid var(--color-secondary, #ec6701);
        }
    }

    &--custom {
        &::after {
            border: 1px solid var(--c-product-custom-color, #83A293);
        }
    }
}

.c-product__listing {
    @include list.unlist();
    padding: 0;

    &--primary {
        .c-listing__label::before, .c-listing__label::after {
            color: var(--color-primary, #ae0b05);
        }
    }

    &--secondary {
        .c-listing__label::before, .c-listing__label::after {
            color: var(--color-secondary, #ec6701);
        }
    }
    &--custom {
        .c-listing__label::before, .c-listing__label::after {
            color: var(--c-product-custom-color, #83A293);
        }
    }

    .c-listing__link, 
    .c-listing__item {
        display: flex;
        align-items: center;
        text-decoration: none;
        .c-icon:first-child {
            color: var(--color-primary, #ae0b05);
        }
    }

    .c-listing__link {
        .c-icon:last-child {
            transition: 100ms ease-in-out;
        }
        &:hover .c-icon:last-child {
            padding-left: calc(var_default.$base * .5);
        }
    }

    .c-listing__label {
        display: block;
        color: var(--color-black, #000000);
    }
}
