@use "../setting/var_default";

.c-progressbar {
    height: calc(var(--c-progress-height, 1.5) * var(--base, 8px));
    width: 100%;
    background-color: var(--c-progress-background-color, var(--color-lighter, #e5e5e5));
    border-radius: var(--c-progress-border-radius, var(--radius-md, calc(var(--base, 8px) / 2)));
    .c-progressbar__value {
        height: 100%;
        background-color: var(--c-progress-value-color, var(--color-success, #91d736));
        border-radius: inherit;
    }

    &.c-progressbar--cancelled {
        .c-progressbar__value {
            background-color: var(--c-progress-value-color-cancelled, var(--color-dark, #707070));
        }
    }
}
