@use "../setting/var_border-radius";
@use "../setting/var_colors";
@use "../setting/var_default";

$c-progress-border-radius: var(--c-progress-border-radius, var(--radius-md)) !default;
$c-progress-background-color: var(--c-progress-background-color, var_colors.$color-lighter) !default;
$c-progress-value-color: var(--c-progress-value-color, var_colors.$color-success) !default;
$c-progress-height: calc(var(--c-progress-height, 1.5) * #{var_default.$base}) !default;
$c-progress-value-color-cancelled: var(--c-progress-value-color-cancelled, var_colors.$color-dark) !default;

.c-progressbar {
    height:$c-progress-height;
    width: 100%;
    background-color: $c-progress-background-color;
    border-radius: $c-progress-border-radius;
    .c-progressbar__value {
        height: 100%;
        background-color: $c-progress-value-color;
        border-radius: inherit;
    }

    &.c-progressbar--cancelled {
        .c-progressbar__value {
            background-color: $c-progress-value-color-cancelled;
        }
    }
}
