@use "../mixin/tokens";

/* Component name */
$_: "c-progressbar";

/* Design tokens */
@include tokens.create($_, (
    "base",
    "border-radius",
    "color--lighter",
    "color--success",
    "color--dark",
));

$c-progress-border-radius: tokens.use($_, "border-radius") !default;
$c-progress-background-color: tokens.get($_, "color--lighter") !default;
$c-progress-value-color: tokens.get($_, "color--success") !default;
$c-progress-height: calc(#{tokens.get($_, "base")} * 1.5) !default;
$c-progress-value-color-cancelled: tokens.get($_, "color--dark") !default;

.c-progressbar {
    height:$c-progress-height;
    width: 100%;
    background-color: $c-progress-background-color;
    border-radius: $c-progress-border-radius;
    .c-progressbar__value {
        height: 100%;
        background-color: $c-progress-value-color;
        border-radius: inherit;
    }

    &.c-progressbar--cancelled {
        .c-progressbar__value {
            background-color: $c-progress-value-color-cancelled;
        }
    }
}
