$c-quote-background-color: var(--c-quote-background-color, $color-secondary) !default;
$c-quote-color: var(--c-quote-color, $color-secondary-contrasting) !default;

.c-quote {
    display: flex;
    flex-direction: column;
    gap: calc($base * 3);
    padding: calc($base * 5);
    background-color: $c-quote-background-color;
    color: $c-quote-color;

    .c-quote__content {
        *:first-child {
            margin-top: 0;
        }
    }

    .c-quote__icon {
        font-size: calc($base * 8);
        transform: rotate(180deg);
        margin-left: calc($base * -1.5);
    }
    
    .c-quote__quote {
        margin-top: calc($base * -1.5);
    }
    
    .c-quote__footer {
        display: flex;
        justify-content: space-between;
        margin: calc($base * 1.5) 0;

        .c-quote__icon {
            margin-left: 0;
            margin: calc($base * -1.5) calc($base * -1.5) calc($base * -1.5) 0;
        }
    }

    .c-quote__image {
        flex: 0 0 30%;
        line-height: 0;

        img {
            width: 100%;
            aspect-ratio: 1/1;
            object-fit: cover;
            min-height: 100%;
        }
    }

    @include mq('md') { 
        flex-direction: row;
    }
}