// ***************************************************************
// *** Sections
// ***************************************************************
.c-section {
    display: block; 
    background: #eee; 

    &--with-md, 
    &--with-lg {
        max-width: 100vw;
        width: 100vw;
    }

    &--witdh-md {
        margin: 32px calc(25% - 25vw);
    }

    &--width-lg {
        margin: 32px calc(50% - 50vw);
    }

    /* Paddings */ 
    &--padding-xs {
        padding: map-get($spacers, '2');
    }

    &--padding-sm {
        padding: map-get($spacers, '4');
    }

    &--padding-md {
        padding: map-get($spacers, '6');
    }

    &--padding-lg {
        padding: map-get($spacers, '8');
    }

    &--padding-xl {
        padding: map-get($spacers, '10');
    }

    /* Heights */ 
    &--height-sm {
        min-height: map-get($spacers, '8');
    }

    &--height-md {
        min-height: 60vh;
    }

    &--height-lg {
        min-height: 95vh;
    }
}