// ***************************************************************
// *** Segment (Section)
// ***************************************************************

.c-segment {
    position: relative;
    width: 100%;
    background-size: cover;
    padding: map-get($spacers, "10");
    display: grid;
    justify-content: center;
    align-content: center;
    grid-gap: map-get($spacers, "4");
    grid-template-columns: minmax(0, 800px);
    grid-template-rows: auto auto auto;
    grid-template-areas:
        "top"
        "main"
        "bottom"
    ;

    &__top,
    &__main,
    &__bottom {
        z-index: $level-1;
    }

    &__top {
        grid-area: top;
        align-self: end;
    }

    &__main {
        grid-area: main;
    }

    &__bottom {
        grid-area: bottom;
    }

}

.c-segment__layout {

    &--col {

        &-right,
        &-left {
            grid-template-columns: minmax(0, 400px) minmax(0, 400px);
            grid-template-rows: min-content min-content;
        }

        &-right {
            grid-template-areas:
                "top main"
                "bottom main"
            ;
        }

        &-left {
            grid-template-areas:
                "main top"
                "main bottom"
            ;
        }
    }
}

.c-segment__color {

    &--black {
        color:black;
    }

    &--white {
        color:white;
    }
}

.c-segment__height {

    &--sm {
        min-height: map-get($spacers, "8");
    }

    &--md {
        min-height: 40vh;
    }

    &--lg {
        min-height: 95vh;
    }
}

.c-segment--padding {

    &-sm {
        padding: map-get($spacers, "5");
    }

    &-md {
        padding: map-get($spacers, "10");
    }

    &-lg {
        padding: map-get($spacers, "16");
    }
}

.c-segment__overlay {

    &--blur:before,
    &--dark:before,
    &--light:before {
        content: "";
        z-index: $level-1;
        @include cover();
    }

    &--blur:before {
        backdrop-filter: blur(2px);
    }

    &--dark:before {
        background: #000;
    }

    &--light:before {
        background: #fff;
    }

    &--opacity {

        &-low:before {
            opacity: 0.8;
        }

        &-medium:before {
            opacity: 0.5;
        }

        &-high:before {
            opacity: 0.3;
        }
    }
}

.c-segment__background--video {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@include mq(map_get($breakpoints-map, "xs"), "md") {

    .c-segment {
        padding: map-get($spacers, "3");
        grid-gap: map-get($spacers, "1");
    }

    .c-segment__layout {
        &--col {
            &-right,
            &-left {
                grid-template-columns: minmax(0, 800px);
                grid-template-rows: auto auto auto;
                grid-template-areas:
                    "top"
                    "main"
                    "bottom";
            }
        }
    }
}