@use "sass:map";
@use "../element/headings";
@use "../mixin/cover";
@use "../mixin/mq";
@use "../mixin/stretch";
@use "../setting/var_border-radius";
@use "../setting/var_colors";
@use "../setting/var_default";
@use "../setting/var_fonts";
@use "../setting/var_properties";

$c-segment-color-overlay: var(--c-segment-color-overlay, var(--color--alpha));
$c-segment-image-border-radius: var(--c-segment-image-border-radius, var(--radius-lg));
$c-segment-card-color-background: var(--c-card-color-background, var(--color--background-card));
$c-segment-image-background-color: var(--c-segment-image-background-color, var(--color--secondary));

.c-segment {
    display: flex;
    flex-wrap: wrap;
    position: relative;

    .c-segment__slot {
        order: 3;
        justify-content: center;
        z-index: var(--level-2);

        >.o-grid {
            justify-content: center;
        }
    }

    .c-segment__text {
        position: relative;
    }

    .c-segment__title {
        a {
            text-decoration: none;
            color: var(--color--base);

            &:hover,
            &:focus,
            &:active {
                text-decoration: underline;
                color: var(--color--link);
            }
        }
    }

    .c-segment__date {
        font-size: var(--font-size-meta);
    }

    .c-segment__buttons {
        margin-top: #{map.get(var_default.$spacers, "4")};
    }

    .c-segment__image {
        display: block;
        width: 100%;
        height: 100%;
        overflow: hidden;

        .c-image__image {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 0;
        }
    }

    .c-segment__floating {
        position: absolute;
        right: var(--base);
        top: var(--base);
        z-index: var(--level-3);
        cursor: pointer;
    }

    &.c-segment--card {
        flex-direction: column;
        min-height: 100%;
        flex-wrap: unset;

        .c-segment__image {
            aspect-ratio: 16/9;
            height: unset;
            border-radius: $c-segment-image-border-radius;

            .c-image__image {
                object-fit: cover;
            }
        }

        .c-segment__content {
            margin: calc(var(--base) * -4) calc(var(--base) * 2) 0 calc(var(--base) * 2);
            flex-grow: 1;
            display: flex;
            flex-direction: column;

            .c-segment__content-card {
                flex-grow: 1;
            }
        }

        &.c-segment--no-image .c-segment__content {
            margin-top: 0;
        }

        .c-segment__content-card {
            padding: calc(var(--base) * 3) calc(var(--base) * 5);
            height: 100%;
        }

        &.c-segment--height-full-screen {
            flex-direction: row;
            align-items: center;

            .c-segment__image {
                height: 100%;
                position: absolute;
            }
        }

        .c-segment__content-card.c-card.c-card--flat {
            background-color: $c-segment-card-color-background;
        }
    }

    &.c-segment--slider {
        &.c-segment--card {
            min-height: unset;
        }
    }

    /**
    * Responsive
    */
    &.c-segment--size-sm {
        &.c-segment--card {
            .c-segment__content {
                width: min(60%, calc(var(--base) * 60));
                min-height: calc(var(--base) * 40);
                margin-top: calc(var(--base) * -35);
            }

            &.c-segment--no-image .c-segment__content {
                margin-top: 0;
            }

            &.c-segment--height-full-screen {
                .c-segment__content {
                    margin-top: auto;
                    margin-bottom: auto;
                }
            }

            &.c-segment--reverse {
                .c-segment__content {
                    margin-left: auto;
                }
            }

            .c-segment__image {
                aspect-ratio: 3/2;
            }
        }
    }

    &.c-segment--size-md {
        &.c-segment--card {
            flex-direction: row;

            .c-segment__image {
                position: absolute;
                width: calc(100% - calc(var(--base) * 30));
                padding: 0;
                height: 100%;
                right: 0;

                .c-segment__image {
                    width: 100%;
                }
            }

            .c-segment__content {
                margin: calc(var(--base) * 2) 0;
                width: calc(#{var(--base)} * 60);
                flex-grow: unset;
                height: unset;
            }

            .c-segment__content-card {
                padding: calc(var(--base) * 5);

                .c-segment__title {
                    font-size: headings.$h1-font-size;
                }
            }

            .c-segment__floating {
                top: calc(var(--base) * 3);
            }

            &.c-segment--reverse {
                flex-direction: row-reverse;

                .c-segment__image {
                    left: 0;
                    right: unset;
                }
            }

            &.c-segment--slider {
                &.c-segment--size-md {
                    min-height: calc(var(--base) * 70);
                    align-items: center;

                    .c-segment__image {
                        width: 100%;
                    }

                    &.c-segment--reverse {
                        .c-segment__content {
                            margin-right: min(15%, calc(var(--base) * 12));
                        }
                    }
                }
            }
        }
    }

    &.c-segment--no-image.c-segment--size-sm,
    &.c-segment--no-image.c-segment--size-md {
        &.c-segment--card {
            .c-segment__content {
                width: 100%;
                min-height: initial;
            }
        }
    }
}

/**
* Modifiers
*/
.c-segment.c-segment--stretch {
    /* Bleed outside container  left&right */
    @include stretch.stretch();
}

.c-segment.c-segment--svg-background {
    .c-segment__image {
        background-size: clamp(#{var(--base)} * 3, 50%, #{var(--base)} * 8);
        background-repeat: no-repeat;
        background-color: $c-segment-image-background-color;
    }
}

.c-segment.c-segment--text {

    &-light .c-segment__title,
    &-light .c-segment__text {
        color: white;
        z-index: var(--level-2);
    }

    &-dark .c-segment__title,
    &-dark .c-segment__text,
    &-dark .c-segment__meta,
    &-dark .c-segment__date,
    &-dark .c-segment__tags {
        color: black;
        z-index: var(--level-2);
    }
}

.c-segment.c-segment--text {
    &-large .c-segment__content {
        @include mq.mq(map.get(var_default.$breakpoints-map, "md")) {
            font-size: 1.2em;
        }
    }
}

.c-segment.c-segment--height {
    &-full-screen {
        min-height: 100vh;

        .c-segment__content {
            margin-top: auto;
            margin-bottom: auto;
        }
    }
}

.c-segment.c-segment--overlay {
    &-dark .c-segment__image {
        filter: brightness(.5);
        opacity: .85;
        /* tint to bg */
    }

    &-light .c-segment__image {
        filter: brightness(.78);
        opacity: .85;
        /* tint to bg */
    }
}

.c-segment.c-segment--highlight {

    @include mq.mq(map.get(var_default.$breakpoints-map, "xs"), map.get(var_default.$breakpoints-map, "md")) {

        .c-segment__image {
            z-index: 2;
        }

        &:after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            border-left: var(--base) solid var(--color--primary);
            height: 100%;
            z-index: 1;
        }
    }

    @include mq.mq(map.get(var_default.$breakpoints-map, "md")) {

        &:after {
            content: '';
            position: absolute;
            top: 0;
            left: 50%;
            border-left: var(--base) solid var(--color--primary);
            height: 100%;
        }

        &.c-segment--reverse:after {
            left: 0;
        }
    }
}

/**
* Layout split, featured
*/
.c-segment.c-segment--split,
.c-segment.c-segment--featured {
    flex-direction: row;

    .c-segment__padder {
        max-width: calc(#{var(--base)} * 60);
        margin: auto;
        padding-top: #{map.get(var_default.$spacers, "4")};
        padding-bottom: #{map.get(var_default.$spacers, "4")};
    }

    .c-segment__image {
        height: auto;
        aspect-ratio: 16/9;
    }

    .c-segment__slot {
        margin-top: #{map.get(var_default.$spacers, "4")};

        @include mq.mq(map.get(var_default.$breakpoints-map, "md")) {
            margin-top: #{map.get(var_default.$spacers, "6")};
        }
    }

    @include mq.mq(map.get(var_default.$breakpoints-map, "md")) {
        &.c-segment--reverse {
            flex-direction: row-reverse;
        }
    }
}

.c-segment.c-segment--split {

    .c-segment__image {
        aspect-ratio: 16 / 9;
    }

    @include mq.mq(map.get(var_default.$breakpoints-map, "md")) {
        .c-segment__image,
        .c-segment__content {
            max-width: 50%;
        }
    }
}

.c-segment.c-segment--featured {

    .c-segment__image {
        background-size: 0;
    }

    .c-segment__image .c-image__image {
        object-fit: contain;
    }

    @include mq.mq(map.get(var_default.$breakpoints-map, "md")) {
        .c-segment__image .c-image__image {
            padding: 7% 3%;
        }

        .c-segment__image {
            max-width: 70%;
        }

        .c-segment__content {
            max-width: 30%;
        }
    }
}

.c-segment.c-segment--split.c-segment--alignment,
.c-segment.c-segment--featured.c-segment--alignment {

    &-top .c-segment__content,
    &-top .c-segment__slot {
        align-self: start;
    }

    &-center .c-segment__content,
    &-center .c-segment__slot {
        align-self: center;
    }

    &-bottom .c-segment__content,
    &-bottom .c-segment__slot {
        align-self: end;
    }
}

/**
* Layout full width
*/
.c-segment.c-segment--full-width {
    flex-direction: column;
    gap: #{map.get(var_default.$spacers, "8")};
    padding: map.get(var_default.$spacers, "8") 0;

    &.c-segment--has-overlay .c-segment__image::before {
        content: "";
        @include cover.cover();
        box-shadow: inset 0 0 20vh rgb(0 0 0 / 20%);
        background-color: $c-segment-color-overlay;
    }

    .c-segment__image {
        @include cover.cover();
    }

    &.c-segment--gap-xs {
        gap: #{map.get(var_default.$spacers, "2")};
    }

    &.c-segment--gap-sm {
        gap: #{map.get(var_default.$spacers, "4")};
    }

    &.c-segment--gap-md {
        gap: #{map.get(var_default.$spacers, "6")};
    }
}

.c-segment.c-segment--full-width.c-segment--alignment {
    &-left .c-segment__content {
        text-align: left;
    }

    &-center .c-segment__content {
        text-align: center;
    }

    &-right .c-segment__content {
        text-align: right;
    }
}