$c-segment-color-overlay: var(--c-segment-color-overlay, $color-alpha) !default;

.c-segment {
    display: flex;
    flex-wrap: wrap;
    position: relative; 
    background-size: cover;

    * {
        position: relative;
    }

    .c-segment__slot {
        order: 3;
        justify-content: center;

        > .o-grid {
            justify-content: center;
        }
    }

    .c-segment__buttons {
        margin-top: #{map-get($spacers, "4")};
    }

    .c-segment__image {
        display: block;
        width: 100%;
        height: 100%;
        background-size: cover;
        overflow: hidden;
    }
}

/**
* Modifiers
*/
.c-segment.c-segment--stretch { /* Bleed outside container  left&right */ 
    position: relative;
    width: 100vw; 
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
}

.c-segment.c-segment--text {
    
    &-light .c-segment__title,
    &-light .c-segment__text {
        color: white;
        z-index: $level-2;
    }

    &-dark .c-segment__title,
    &-dark .c-segment__text {
        color: black;
        z-index: $level-2;
    }
}

.c-segment.c-segment--text {
    &-large .c-segment__content {
        @include mq(map_get($breakpoints-map, "md")) {
            font-size: 1.2em; 
        }
    }
}

.c-segment.c-segment--height {
    &-full-screen {
        min-height: 100vh;
    }
}

.c-segment.c-segment--overlay {
    &-dark .c-segment__image {
        filter: brightness(.5);
        opacity: .85; /* tint to bg */ 
    }

    &-light .c-segment__image {
        filter: brightness(.78);
        opacity: .85; /* tint to bg */ 
    }
}

.c-segment.c-segment--highlight {

    @include mq(map_get($breakpoints-map, "xs"), map_get($breakpoints-map, "md")) {

        .c-segment__image  {
            z-index: 2;
        }

        &:after {
            content: ''; 
            position: absolute;
            top: 0; 
            left: 0; 
            border-left: $base solid $color-primary;
            height: 100%; 
            z-index: 1;
        }
    }

    @include mq(map_get($breakpoints-map, "md")) {

        &:after {
            content: ''; 
            position: absolute;
            top: 0; 
            left: 50%; 
            border-left: $base solid $color-primary;
            height: 100%; 
        }

        &.c-segment--reverse:after {
            left: 0;
        }
    }
}

/**
* Layout split, featured
*/
.c-segment.c-segment--split,
.c-segment.c-segment--featured {
    flex-direction: row;

    .c-segment__padder {
        max-width: calc( #{$base} * 60);
        margin: auto; 
        padding-top: #{map-get($spacers, "4")};
        padding-bottom: #{map-get($spacers, "4")};
    }

    .c-segment__image {
        height: auto;
        @include ratio(16,9,true);
    }

    .c-segment__slot {
        margin-top: #{map-get($spacers, "4")};

        @include mq(map_get($breakpoints-map, "md")) {
            margin-top: #{map-get($spacers, "6")};
        }
    }

    @include mq(map_get($breakpoints-map, "md")) {
        &.c-segment--reverse {
            flex-direction: row-reverse;
        }
    }
}

.c-segment.c-segment--split {
    @include mq(map_get($breakpoints-map, "md")) {
        .c-segment__image,
        .c-segment__content {
            max-width: 50%;
        }
    }
}

.c-segment.c-segment--featured {

    .c-segment__image {
        background-repeat: no-repeat;
        background-size: contain;
    }

    @include mq(map_get($breakpoints-map, "md")) {
        .c-segment__image {
            max-width: 70%;
            background-size: 80%;
        }
        .c-segment__content {
            max-width: 30%;
        }
    }
}

.c-segment.c-segment--split.c-segment--alignment,
.c-segment.c-segment--featured.c-segment--alignment {
    &-top .c-segment__content,
    &-top .c-segment__slot {
        align-self: start;
    }

    &-center .c-segment__content,
    &-center .c-segment__slot {
        align-self: center;
    }

    &-bottom .c-segment__content,
    &-bottom .c-segment__slot {
        align-self: end;
    }
}

/**
* Layout full width
*/
.c-segment.c-segment--full-width {
    flex-direction: column;
    gap: #{map-get($spacers, "8")};
    padding: map-get($spacers, "8") 0;
    
    &.c-segment--has-overlay::after {
        content: "dummyaftercontent";
        @include cover();
        z-index: $level-1;
        box-shadow: inset 0 0 20vh rgb(0 0 0 / 20%);
        background-color: $c-segment-color-overlay;
    }
    
    .c-segment__image {
        @include cover();
    }

    &.c-segment--gap-xs {
        gap: #{map-get($spacers, "2")}; 
    }

    &.c-segment--gap-sm {
        gap: #{map-get($spacers, "4")}; 
    }

    &.c-segment--gap-md {
        gap: #{map-get($spacers, "6")}; 
    }
}

.c-segment.c-segment--full-width.c-segment--alignment {
    &-left .c-segment__content {
        text-align: left;
    }

    &-center .c-segment__content {
        text-align: center;
    }

    &-right .c-segment__content{
        text-align: right;
    }
}
