@use "../mixin/tokens";

$c: "c-segment";
$_breakpoint-md: 896px;

@include tokens.create($c, getComponentTokens($c),
    ("image-border-radius": tokens.use($c, "border-radius"),
        "min-height-card": 100%, ));

.#{$c} {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    container-name: segment;
    container-type: inline-size;

    .#{$c}__slot {
        order: 3;
        justify-content: center;
        z-index: 2000;

        >.o-grid {
            justify-content: center;
        }
    }

    .#{$c}__text {
        position: relative;
    }

    .#{$c}__title {
        a {
            text-decoration: none;
            color: tokens.get($c, "color--surface-contrast");

            &:hover,
            &:focus,
            &:active {
                text-decoration: underline;
                color: tokens.get($c, "color--primary");
            }
        }
    }

    .#{$c}__date {
        font-size: 0.875rem;
    }

    .#{$c}__buttons {
        margin-top: tokens.use($c, "base", 4);
    }

    .#{$c}__image {
        display: block;
        width: 100%;
        height: 100%;
        overflow: hidden;

        .c-image__image {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 0;
        }
    }

    .#{$c}__floating {
        position: absolute;
        right: tokens.use($c, "base", 1);
        top: tokens.use($c, "base", 1);
        z-index: 3000;
        cursor: pointer;
    }

    &.#{$c}--card {
        flex-direction: column;
        min-height: tokens.get($c, "min-height-card");
        flex-wrap: unset;

        .#{$c}__image {
            aspect-ratio: 16/9;
            height: unset;
            border-radius: tokens.get($c, "image-border-radius");
            corner-shape: tokens.get($c, "corner-shape");

            .c-image__image {
                object-fit: cover;
            }
        }

        .#{$c}__content {
            margin: calc(#{tokens.use($c, "base", 4)} * -1) tokens.use($c, "base", 2) 0 tokens.use($c, "base", 2);
            flex-grow: 1;
            display: flex;
            flex-direction: column;

            .#{$c}__content-card {
                flex-grow: 1;
            }
        }

        &.#{$c}--no-image .#{$c}__content {
            margin-top: 0;
        }

        .#{$c}__content-card {
            padding: tokens.use($c, "base", 3) tokens.use($c, "base", 5);
            height: 100%;
        }

        &.#{$c}--height-full-screen {
            flex-direction: row;
            align-items: center;

            .#{$c}__image {
                height: 100%;
                position: absolute;
            }
        }

        .#{$c}__content-card.c-card.c-card--flat {
            background-color: tokens.get($c, "color--surface");
        }
    }

    /**
    * Responsive
    */
    &.#{$c}--size-sm {
        &.#{$c}--card {
            .#{$c}__content {
                width: min(60%, tokens.use($c, "base", 60));
                min-height: tokens.use($c, "base", 40);
                margin-top: calc(#{tokens.use($c, "base", 35)} * -1);
            }

            &.#{$c}--no-image .#{$c}__content {
                margin-top: 0;
            }

            &.#{$c}--height-full-screen {
                .#{$c}__content {
                    margin-top: auto;
                    margin-bottom: auto;
                }
            }

            &.#{$c}--reverse {
                .#{$c}__content {
                    margin-left: auto;
                }
            }

            .#{$c}__image {
                aspect-ratio: 3/2;
            }
        }
    }

    &.#{$c}--size-md {
        &.#{$c}--card {
            flex-direction: row;

            .#{$c}__image {
                position: absolute;
                width: calc(100% - #{tokens.use($c, "base", 30)});
                padding: 0;
                height: 100%;
                right: 0;

                .#{$c}__image {
                    width: 100%;
                }
            }

            .#{$c}__content {
                margin: tokens.use($c, "base", 2) 0;
                width: tokens.use($c, "base", 60);
                flex-grow: unset;
                height: unset;
            }

            .#{$c}__content-card {
                padding: tokens.use($c, "base", 5);

                .#{$c}__title {
                    font-size: tokens.get($c, "font-size-600");
                }
            }

            .#{$c}__floating {
                top: tokens.use($c, "base", 3);
            }

            &.#{$c}--reverse {
                flex-direction: row-reverse;

                .#{$c}__image {
                    left: 0;
                    right: unset;
                }
            }
        }
    }

    &.#{$c}--no-image.#{$c}--size-sm,
    &.#{$c}--no-image.#{$c}--size-md {
        &.#{$c}--card {
            .#{$c}__content {
                width: 100%;
                min-height: initial;
            }
        }
    }
}

/**
* Modifiers
*/
.#{$c}.#{$c}--stretch {
    /* Bleed outside container  left&right */
    border-radius: 0;
    left: 50%;
    position: relative;
    transform: translateX(-50%);
    width: calc(100vw - var(--scrollbar, 15px));
}

.#{$c}.#{$c}--svg-background {
    .#{$c}__image {
        background-size: clamp(tokens.use($c, "base", 3), 50%, tokens.use($c, "base", 8));
        background-repeat: no-repeat;
        background-color: tokens.get($c, "color--secondary");
    }
}

.#{$c}.#{$c}--text {

    &-light .#{$c}__title,
    &-light .#{$c}__text {
        color: white;
        z-index: 2000;
    }

    &-dark .#{$c}__title,
    &-dark .#{$c}__text,
    &-dark .#{$c}__meta,
    &-dark .#{$c}__date,
    &-dark .#{$c}__tags {
        color: black;
        z-index: 2000;
    }
}

.#{$c}.#{$c}--text {
    &-large .#{$c}__content {
        @container segment (min-width: #{$_breakpoint-md}) {
            font-size: 1.2em;
        }
    }
}

.#{$c}.#{$c}--height {
    &-full-screen {
        min-height: 100vh;

        .#{$c}__content {
            margin-top: auto;
            margin-bottom: auto;
        }
    }
}

.#{$c}.#{$c}--has-overlay .#{$c}__image::before {
    content: "";
    position: absolute;
    inset: 0;
    background-color: tokens.get($c, "color--alpha");
}

.#{$c}.#{$c}--has-overlay .#{$c}__title,
.#{$c}.#{$c}--has-overlay .#{$c}__text {
    color: tokens.get($c, "color--alpha-contrast");
}

.#{$c}.#{$c}--highlight {

    @container segment (max-width: #{$_breakpoint-md - 1px}) {

        .#{$c}__image {
            z-index: 2;
        }

        &:after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            border-left: tokens.use($c, "base", 1) solid tokens.get($c, "color--primary");
            height: 100%;
            z-index: 1;
        }
    }

    @container segment (min-width: #{$_breakpoint-md}) {

        &:after {
            content: '';
            position: absolute;
            top: 0;
            left: 50%;
            border-left: tokens.use($c, "base", 1) solid tokens.get($c, "color--primary");
            height: 100%;
        }

        &.#{$c}--reverse:after {
            left: 0;
        }
    }
}

/**
* Layout split, featured
*/
.#{$c}.#{$c}--split,
.#{$c}.#{$c}--featured {
    flex-direction: row;

    .#{$c}__padder {
        max-width: tokens.use($c, "base", 60);
        margin: auto;
        padding-top: tokens.use($c, "base", 4);
        padding-bottom: tokens.use($c, "base", 4);
    }

    .#{$c}__image {
        height: auto;
        aspect-ratio: 16/9;
    }

    .#{$c}__slot {
        margin-top: tokens.use($c, "base", 4);

        @container segment (min-width: #{$_breakpoint-md}) {
            margin-top: tokens.use($c, "base", 6);
        }
    }

    &.#{$c}--reverse {
        flex-direction: row-reverse;
    }
}

.#{$c}.#{$c}--split {
    align-items: center;

    .#{$c}__image {
        aspect-ratio: 16 / 9;
    }

    @container segment (min-width: #{$_breakpoint-md}) {

        .#{$c}__image,
        .#{$c}__content {
            max-width: 50%;
        }
    }
}

.#{$c}.#{$c}--featured {

    .#{$c}__image {
        background-size: 0;
    }

    .#{$c}__image .c-image__image {
        object-fit: contain;
    }

    @container segment (min-width: #{$_breakpoint-md}) {
        .#{$c}__image .c-image__image {
            padding: 7% 3%;
        }

        .#{$c}__image {
            max-width: 70%;
        }

        .#{$c}__content {
            max-width: 30%;
        }
    }
}

.#{$c}.#{$c}--split.#{$c}--alignment,
.#{$c}.#{$c}--featured.#{$c}--alignment {

    &-top .#{$c}__content,
    &-top .#{$c}__slot {
        align-self: start;
    }

    &-center .#{$c}__content,
    &-center .#{$c}__slot {
        align-self: center;
    }

    &-bottom .#{$c}__content,
    &-bottom .#{$c}__slot {
        align-self: end;
    }
}

/**
* Layout full width
*/
.#{$c}.#{$c}--full-width {
    flex-direction: column;
    gap: tokens.use($c, "base", 8);
    padding: tokens.use($c, "base", 8) 0;

    .#{$c}__image {
        position: absolute;
        inset: 0;
    }

    &.#{$c}--gap-xs {
        gap: tokens.use($c, "base", 2);
    }

    &.#{$c}--gap-sm {
        gap: tokens.use($c, "base", 4);
    }

    &.#{$c}--gap-md {
        gap: tokens.use($c, "base", 6);
    }
}

.#{$c}.#{$c}--full-width.#{$c}--alignment {
    &-left .#{$c}__content {
        text-align: left;
    }

    &-center .#{$c}__content {
        text-align: center;
    }

    &-right .#{$c}__content {
        text-align: right;
    }
}