@use "../mixin/tokens";

$_: "c-segment";
$_breakpoint-md: 896px;

@include tokens.create($_, getComponentTokens($_),
    ("image-border-radius": tokens.use($_, "border-radius")));

.#{$_} {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    container-name: segment;
    container-type: inline-size;

    .#{$_}__slot {
        order: 3;
        justify-content: center;
        z-index: 2000;

        >.o-grid {
            justify-content: center;
        }
    }

    .#{$_}__text {
        position: relative;
    }

    .#{$_}__title {
        a {
            text-decoration: none;
            color: tokens.get($_, "color--surface-contrast");

            &:hover,
            &:focus,
            &:active {
                text-decoration: underline;
                color: tokens.get($_, "color--primary");
            }
        }
    }

    .#{$_}__date {
        font-size: 0.875rem;
    }

    .#{$_}__buttons {
        margin-top: tokens.use($_, "base", 4);
    }

    .#{$_}__image {
        display: block;
        width: 100%;
        height: 100%;
        overflow: hidden;

        .c-image__image {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 0;
        }
    }

    .#{$_}__floating {
        position: absolute;
        right: tokens.use($_, "base", 1);
        top: tokens.use($_, "base", 1);
        z-index: 3000;
        cursor: pointer;
    }

    &.#{$_}--card {
        flex-direction: column;
        min-height: 100%;
        flex-wrap: unset;

        .#{$_}__image {
            aspect-ratio: 16/9;
            height: unset;
            border-radius: tokens.get($_, "image-border-radius");
            corner-shape: tokens.get($_, "corner-shape");

            .c-image__image {
                object-fit: cover;
            }
        }

        .#{$_}__content {
            margin: calc(#{tokens.use($_, "base", 4)} * -1) tokens.use($_, "base", 2) 0 tokens.use($_, "base", 2);
            flex-grow: 1;
            display: flex;
            flex-direction: column;

            .#{$_}__content-card {
                flex-grow: 1;
            }
        }

        &.#{$_}--no-image .#{$_}__content {
            margin-top: 0;
        }

        .#{$_}__content-card {
            padding: tokens.use($_, "base", 3) tokens.use($_, "base", 5);
            height: 100%;
        }

        &.#{$_}--height-full-screen {
            flex-direction: row;
            align-items: center;

            .#{$_}__image {
                height: 100%;
                position: absolute;
            }
        }

        .#{$_}__content-card.c-card.c-card--flat {
            background-color: tokens.get($_, "color--surface");
        }
    }

    &.#{$_}--slider {
        &.#{$_}--card {
            min-height: unset;
        }
    }

    /**
    * Responsive
    */
    &.#{$_}--size-sm {
        &.#{$_}--card {
            .#{$_}__content {
                width: min(60%, tokens.use($_, "base", 60));
                min-height: tokens.use($_, "base", 40);
                margin-top: calc(#{tokens.use($_, "base", 35)} * -1);
            }

            &.#{$_}--no-image .#{$_}__content {
                margin-top: 0;
            }

            &.#{$_}--height-full-screen {
                .#{$_}__content {
                    margin-top: auto;
                    margin-bottom: auto;
                }
            }

            &.#{$_}--reverse {
                .#{$_}__content {
                    margin-left: auto;
                }
            }

            .#{$_}__image {
                aspect-ratio: 3/2;
            }
        }
    }

    &.#{$_}--size-md {
        &.#{$_}--card {
            flex-direction: row;

            .#{$_}__image {
                position: absolute;
                width: calc(100% - #{tokens.use($_, "base", 30)});
                padding: 0;
                height: 100%;
                right: 0;

                .#{$_}__image {
                    width: 100%;
                }
            }

            .#{$_}__content {
                margin: tokens.use($_, "base", 2) 0;
                width: tokens.use($_, "base", 60);
                flex-grow: unset;
                height: unset;
            }

            .#{$_}__content-card {
                padding: tokens.use($_, "base", 5);

                .#{$_}__title {
                    font-size: tokens.get($_, "font-size-600");
                }
            }

            .#{$_}__floating {
                top: tokens.use($_, "base", 3);
            }

            &.#{$_}--reverse {
                flex-direction: row-reverse;

                .#{$_}__image {
                    left: 0;
                    right: unset;
                }
            }

            &.#{$_}--slider {
                &.#{$_}--size-md {
                    min-height: tokens.use($_, "base", 70);
                    align-items: center;

                    .#{$_}__image {
                        width: 100%;
                    }

                    &.#{$_}--reverse {
                        .#{$_}__content {
                            margin-right: min(15%, tokens.use($_, "base", 12));
                        }
                    }
                }
            }
        }
    }

    &.#{$_}--no-image.#{$_}--size-sm,
    &.#{$_}--no-image.#{$_}--size-md {
        &.#{$_}--card {
            .#{$_}__content {
                width: 100%;
                min-height: initial;
            }
        }
    }
}

/**
* Modifiers
*/
.#{$_}.#{$_}--stretch {
    /* Bleed outside container  left&right */
    border-radius: 0;
    left: 50%;
    position: relative;
    transform: translateX(-50%);
    width: calc(100vw - var(--scrollbar, 15px));
}

.#{$_}.#{$_}--svg-background {
    .#{$_}__image {
        background-size: clamp(tokens.use($_, "base", 3), 50%, tokens.use($_, "base", 8));
        background-repeat: no-repeat;
        background-color: tokens.get($_, "color--secondary");
    }
}

.#{$_}.#{$_}--text {

    &-light .#{$_}__title,
    &-light .#{$_}__text {
        color: white;
        z-index: 2000;
    }

    &-dark .#{$_}__title,
    &-dark .#{$_}__text,
    &-dark .#{$_}__meta,
    &-dark .#{$_}__date,
    &-dark .#{$_}__tags {
        color: black;
        z-index: 2000;
    }
}

.#{$_}.#{$_}--text {
    &-large .#{$_}__content {
        @container segment (min-width: #{$_breakpoint-md}) {
            font-size: 1.2em;
        }
    }
}

.#{$_}.#{$_}--height {
    &-full-screen {
        min-height: 100vh;

        .#{$_}__content {
            margin-top: auto;
            margin-bottom: auto;
        }
    }
}

.#{$_}.#{$_}--has-overlay .#{$_}__image::before {
    content: "";
    position: absolute;
    inset: 0;
    background-color: tokens.get($_, "color--alpha");
}

.#{$_}.#{$_}--has-overlay .#{$_}__title,
.#{$_}.#{$_}--has-overlay .#{$_}__text {
    color: tokens.get($_, "color--alpha-contrast");
}

.#{$_}.#{$_}--highlight {

    @container segment (max-width: #{$_breakpoint-md - 1px}) {

        .#{$_}__image {
            z-index: 2;
        }

        &:after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            border-left: tokens.use($_, "base", 1) solid tokens.get($_, "color--primary");
            height: 100%;
            z-index: 1;
        }
    }

    @container segment (min-width: #{$_breakpoint-md}) {

        &:after {
            content: '';
            position: absolute;
            top: 0;
            left: 50%;
            border-left: tokens.use($_, "base", 1) solid tokens.get($_, "color--primary");
            height: 100%;
        }

        &.#{$_}--reverse:after {
            left: 0;
        }
    }
}

/**
* Layout split, featured
*/
.#{$_}.#{$_}--split,
.#{$_}.#{$_}--featured {
    flex-direction: row;

    .#{$_}__padder {
        max-width: tokens.use($_, "base", 60);
        margin: auto;
        padding-top: tokens.use($_, "base", 4);
        padding-bottom: tokens.use($_, "base", 4);
    }

    .#{$_}__image {
        height: auto;
        aspect-ratio: 16/9;
    }

    .#{$_}__slot {
        margin-top: tokens.use($_, "base", 4);

        @container segment (min-width: #{$_breakpoint-md}) {
            margin-top: tokens.use($_, "base", 6);
        }
    }

    &.#{$_}--reverse {
        flex-direction: row-reverse;
    }
}

.#{$_}.#{$_}--split {
    align-items: center;

    .#{$_}__image {
        aspect-ratio: 16 / 9;
    }

    @container segment (min-width: #{$_breakpoint-md}) {

        .#{$_}__image,
        .#{$_}__content {
            max-width: 50%;
        }
    }
}

.#{$_}.#{$_}--featured {

    .#{$_}__image {
        background-size: 0;
    }

    .#{$_}__image .c-image__image {
        object-fit: contain;
    }

    @container segment (min-width: #{$_breakpoint-md}) {
        .#{$_}__image .c-image__image {
            padding: 7% 3%;
        }

        .#{$_}__image {
            max-width: 70%;
        }

        .#{$_}__content {
            max-width: 30%;
        }
    }
}

.#{$_}.#{$_}--split.#{$_}--alignment,
.#{$_}.#{$_}--featured.#{$_}--alignment {

    &-top .#{$_}__content,
    &-top .#{$_}__slot {
        align-self: start;
    }

    &-center .#{$_}__content,
    &-center .#{$_}__slot {
        align-self: center;
    }

    &-bottom .#{$_}__content,
    &-bottom .#{$_}__slot {
        align-self: end;
    }
}

/**
* Layout full width
*/
.#{$_}.#{$_}--full-width {
    flex-direction: column;
    gap: tokens.use($_, "base", 8);
    padding: tokens.use($_, "base", 8) 0;

    .#{$_}__image {
        position: absolute;
        inset: 0;
    }

    &.#{$_}--gap-xs {
        gap: tokens.use($_, "base", 2);
    }

    &.#{$_}--gap-sm {
        gap: tokens.use($_, "base", 4);
    }

    &.#{$_}--gap-md {
        gap: tokens.use($_, "base", 6);
    }
}

.#{$_}.#{$_}--full-width.#{$_}--alignment {
    &-left .#{$_}__content {
        text-align: left;
    }

    &-center .#{$_}__content {
        text-align: center;
    }

    &-right .#{$_}__content {
        text-align: right;
    }
}