@use "sass:map";
@use "../mixin/focus";
@use "../setting/var_default";

.c-select__container {
    position: relative;
}

.c-select {
    position: relative;

    .c-select__select-element {
        bottom: 0;
        height: 1px;
        left: 0;
        outline: none;
        opacity: 0;
        position: absolute;
        width: 1px;
    }

    .c-select__action-overlay {
        cursor: pointer;
        z-index: 4000;
        white-space: nowrap;
        text-overflow: ellipsis;
        max-width: 100%;
        overflow: hidden;
        padding-right: 15%;
    }

    .c-select__search-field {
        animation: c-select-dropdown-expand 0.5s cubic-bezier(0.175, 0.885, 0.320, 1.275) both;
        background-color: #FFF;
        border: var(--c-select-border-width, var(--border-width-input, 1px)) solid var(--c-field-border-color, var(--color-border-input, var(--color-light, #a3a3a3)));
        border-left: none;
        border-right: none;
        border-top: none;
        padding: #{var_default.$base};
        padding-top: 0;
    }

    .c-select__search-no-results {
        color: var(--color-dark, #707070);
        display: none;
        padding: calc(var(--base, 8px)*2) calc(var(--base, 8px)*1.75);
        text-align: center;
    }

    &.search-no-results .c-select__search-no-results {
        display: block;
    }

    &.is-empty .c-select__action-overlay {
        color: var(--color-dark, #707070);
    }

    &.is-ios,
    &.is-android {
        select {
            display: block;
            height: 100%;
            position: absolute;
            width: 100%;
            z-index: 5000;
        }
    }

    .c-select__clear-button {
        position: absolute;
        right: 2em;
        top: 0;
        left: auto;
        padding: map.get(var_default.$spacers, "2");
        z-index: 6000;
        height: 100%;
        color: var(--color-primary, #ae0b05);
        display: flex;
        align-items: center;

        &[aria-hidden="true"] {
            display: none;
        }
    }

    .c-select__expand-button {
        position: absolute;
        right: 0;
        top: 0;
        left: auto;
        padding: map.get(var_default.$spacers, "2");
        z-index: 2000;
        transition: none;
        height: 100%;
        color: var(--color-primary, #ae0b05);
        pointer-events: none;
        display: flex;
        align-items: center;

        .c-select__expand-more-icon {
            animation: c-select-expand-rotate 200ms cubic-bezier(0.470, 0.000, 0.745, 0.715) both;
        }

        .c-select__expand-less-icon {
            animation: c-select-expand-rotate-inverted 200ms cubic-bezier(0.470, 0.000, 0.745, 0.715) both;
        }

        .c-select__expand-less-icon {
            display: none;
        }
    }

    &.c-select--rounded {
        select {
            border-radius: calc(var_default.$base * 3);
            border: none;
            font-weight: 700;
        }

        .c-field__label {
            margin-left: calc(var_default.$base * 2);
        }

        &.c-select--rounded-border {
            select {
                border: var(--c-field-border-width, var(--border-width-input, 1px)) solid var(--c-field-border-color, var(--color-border-input, var(--color-light, #a3a3a3)));
            }
        }
    }

    .c-select__dropdown .c-select__option[aria-disabled="true"] {

        .c-icon {
            color: var(--color-disabled, var(--color-light, #a3a3a3));
        }

        .c-select__option-label {
            color: var(--color-disabled-text, var(--color-dark, #707070));
            font-style: italic;
        }
    }

    /* Size modifiers */
    &.c-select--sm {

        .c-select__clear-button,
        .c-select__expand-button {
            padding: 0 map.get(var_default.$spacers, "1");
        }

        .c-select__clear-button {
            font-size: var(--c-select-font-size-sm, var(--font-size-btn-sm, 0.875rem));
            line-height: var(--c-select-font-size-sm, var(--font-size-btn-sm, 0.875rem))-line-height;
        }

        .c-select__clear-button .c-icon {
            font-size: 1.5em
        }

        .c-select__dropdown .c-select__option {
            padding: calc(var(--base, 8px)*0.75) calc(var(--base, 8px)*1.5);
        }
    }

    &.c-select--md {

        .c-select__clear-button,
        .c-select__expand-button {
            padding: 0 map.get(var_default.$spacers, "2");
        }

        .c-select__clear-button {
            font-size: var(--c-select-font-size-md, var(--font-size-btn-md, 1rem));
            line-height: var(--c-select-font-size-md-line-height, var(--font-size-btn-md-line-height, 1.5));
        }

        .c-select__clear-button .c-icon {
            font-size: 1.5em
        }

        .c-select__dropdown .c-select__option {
            padding: calc(var(--base, 8px)*1) calc(var(--base, 8px)*1.75);
        }
    }

    &.c-select--lg {

        .c-select__clear-button,
        .c-select__expand-button {
            padding: 0 calc(calc(#{map.get(var_default.$spacers, "2")} + #{map.get(var_default.$spacers, "05")}));
        }

        .c-select__clear-button {
            font-size: var(--c-select-font-size-lg, var(--font-size-btn-lg, 1.125rem));
            line-height: var(--c-select-font-size-lg-line-height, var(--font-size-btn-lg-line-height, 1.5));
        }

        .c-select__clear-button .c-icon {
            font-size: 1.5em
        }

        .c-select__dropdown .c-select__option {
            padding: calc(var(--base, 8px)*1.5) calc(var(--base, 8px)*2.5);
        }
    }

    .error.active {
        padding: 0.3rem;
    }

    .c-select__select-invalid-message {
        width: 100%;
        padding: map.get(var_default.$spacers, "1");
        display: none;
        font-size: 80%;
        color: var(--color-white, #ffffff);
        background-color: var(--color-danger, #e02e24);
        border: none;
        border-radius: 0 0 calc(var(--c-field-border-radius, 0.25) * var(--base, 8px)) calc(var(--c-field-border-radius, 0.25) * var(--base, 8px));
        box-sizing: border-box;

        &.error {
            display: block;
            transition: ease-in-out .3s;
        }

        .c-icon {
            position: relative;
            top: 3px;
        }
    }

    .c-select__field-container {
        position: relative;
        line-height: 0;

        &:focus-within {
            @include focus.focus();
        }
    }

    /* States */
    &.is-invalid {
        .c-select {

            &,
            &:focus,
            &:active {
                border-color: $c-select-danger-color;
            }
        }

        .c-field__helper {
            color: $c-select-danger-color;
        }
    }

    &.is-valid {
        .c-select {

            &,
            &:focus,
            &:active {
                border-color: $c-select-success-color;
            }
        }

        .c-field__helper {
            color: $c-select-success-color;
        }
    }

    &.is-open {

        .c-select__dropdown {
            z-index: var_properties.$level-8;
            display: block;
            border-top: none;
            border-top-left-radius: 0;
            border-top-right-radius: 0;
        }

        .c-select__expand-button {
            .c-select__expand-more-icon {
                display: none;
            }

            .c-select__expand-less-icon {
                display: flex;
            }
        }
    }

    .c-select__dropdown {
        animation: c-select-dropdown-expand 0.5s cubic-bezier(0.175, 0.885, 0.320, 1.275) both;
        display: none;
        background-color: #FFF;
        position: absolute;
        top: 100%;
        width: 100%;
        max-height: calc(var_default.$base * 30);
        overflow-y: auto;
        z-index: var_properties.$level-3;
        padding: #{var_default.$base} 0;
        border: $c-select-border-width solid $c-select-border-color;
    }

    .c-select__option {
        display: flex;
        gap: calc(#{var_default.$base} * 1.5);
        padding: calc(#{var_default.$base} * 1.5) calc(#{var_default.$base} * 2);
        align-items: center;
        cursor: pointer;
        user-select: none;
        margin-top: 0;

        &:hover {
            background-color: rgba(#000, .2);
        }

        .c-select__option-icon {
            animation: c-select-option-puff 100ms cubic-bezier(0.470, 0.000, 0.745, 0.715) both;
        }

        .c-select__checked-icon {
            display: none;
        }

        &.is-selected {
            .c-select__unchecked-icon {
                display: none;
            }

            .c-select__checked-icon {
                display: block;
            }
        }

        &.is-disabled {
            opacity: .4;
        }
    }

    .c-select__option {
        .c-select__option-label {
            transition: transform 400ms;
        }

        .c-select__option-icon {
            transition: transform 300ms;
        }

        &:hover {

            .c-select__option-label,
            .c-select__option-icon {
                transform: translateX(calc(#{var_default.$base} * 0.5));
            }
        }
    }

}

@keyframes c-select-dropdown-expand {
    0% {
        transform-origin: top;
        opacity: 0;
    }

    100% {
        transform: rotateX(0deg);
        transform-origin: top;
        opacity: 1;
    }
}

@keyframes c-select-option-puff {
    0% {
        filter: blur(4px);
        opacity: 0;
    }

    100% {
        filter: blur(0px);
        opacity: 1;
    }
}

@keyframes c-select-expand-rotate {
    0% {
        transform: rotate(180deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

@keyframes c-select-expand-rotate-inverted {
    0% {
        transform: rotate(-180deg);
    }

    100% {
        transform: rotate(0deg);
    }
}