$c-select-border-radius: var(--c-field-border-radius, 0.25) !default;
$c-select-border-radius-option: var(--c-select-border-radius-option, $border-radius-sm) !default;
$c-select-font-size-sm: var(--c-select-font-size-sm, $font-size-btn-sm) !default;
$c-select-font-size-md: var(--c-select-font-size-md, $font-size-btn-md) !default;
$c-select-font-size-lg: var(--c-select-font-size-lg, $font-size-btn-lg) !default;
$c-select-font-size-sm-line-height: var(--c-select-font-size-sm-line-height, $font-size-btn-sm-line-height) !default;
$c-select-font-size-md-line-height: var(--c-select-font-size-md-line-height, $font-size-btn-md-line-height) !default;
$c-select-font-size-lg-line-height: var(--c-select-font-size-lg-line-height, $font-size-btn-lg-line-height) !default;

$c-select-border-width: var(--c-select-border-width, var(--border-width-input, 1px)) !default;
$c-select-border-color: var(--c-field-border-color, $c-field-border-color) !default;
$c-select-background-color: var(--c-field-background-color, $c-field-background-color) !default;
$c-select-danger-color: var(--c-select-danger-color, var(--color-danger, $color-form-fields-border-error)) !default;
$c-select-success-color: var(--c-select-success-color, var(--color-success, $color-success-dark)) !default;
$c-select-selected-bg: var(--c-select-selected-bg, $color-primary) !default;
$c-select-selected-color: var(--c-select-selected-color, $color-white) !default;

.c-select__container {
    position: relative;
}

.c-select {
    position: relative;

    .c-select__action-overlay {
        @include cover(); 
        cursor: pointer;
        z-index: $level-4;
    }

    /* Hides the trigger element, to act natively */
    &.is-android .c-select__action-overlay,
    &.is-ios .c-select__action-overlay {
        display: none;
    }

    .c-select__placeholder {
        @include cover(); 
        display: none;
        align-items: center;
        z-index: $level-3;
        padding: 0 map-get($spacers, "2");
        white-space: nowrap;
        text-overflow: ellipsis;
    }

    .c-select__select-element {
        appearance: none;
        width: 100%;
        margin: 0;
        outline: 0;
        height: map-get($spacers, "6");
        padding: 0 map-get($spacers, "2");
        font-size: $c-select-font-size-md;
        line-height: $c-select-font-size-md-line-height;
        border: $c-select-border-width solid $c-select-border-color;
        background: $c-select-background-color;
        border-radius: calc($c-select-border-radius * $base);
        position: relative;
        z-index: $level-2;
        text-overflow: ellipsis;

        &:focus {
            background-color: $color-form-fields-focus;
        }

        &:focus + .c-select_focus-styler {
            display: block;
            outline: thick solid $color-focus-outline;
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            border-radius: calc($c-select-border-radius * $base);
            pointer-events: none;
        }
    }

    .c-select__clear-button {
        position: absolute;
        right: 2em;
        top: 0;
        left: auto;
        padding: map-get($spacers, "2");
        z-index: $level-5;
        height: inherit;
        color: $color-primary;
        display: flex;
        align-items: center;

        &[aria-hidden="true"] {
            display: none;
        }
    }
    
    .c-select__expand-button {
        position: absolute;
        right: 0;
        top: 0;
        left: auto;
        padding: map-get($spacers, "2");
        z-index: $level-2;
        transition: none;
        height: inherit;
        color: $color-primary;
        pointer-events: none;
        display: flex;
        align-items: center;

        .c-select__expand-more-icon {
            animation: c-select-expand-rotate 200ms cubic-bezier(0.470, 0.000, 0.745, 0.715) both;
        }

        .c-select__expand-less-icon {
            animation: c-select-expand-rotate-inverted 200ms cubic-bezier(0.470, 0.000, 0.745, 0.715) both;
        }

        .c-select__expand-less-icon {
            display: none;
        }
    }

    &.c-select--rounded {
        select {
            border-radius: calc($base * 3);
            border: none;
            font-weight: 700;
            &:focus + .c-select_focus-styler {
                border-radius: calc($base * 3);
            }
        }

        .c-field__label {
            margin-left: calc($base * 2);
        }

        &.c-select--rounded-border {
            select {
                border: $c-field-border-width solid $c-field-border-color;
            }
        }
    }
    
    /* Size modifiers */ 
    &.c-select--sm {
        .c-select__select-element,
        .c-select__clear-button,
        .c-select__expand-button {
            padding: 0 map-get($spacers, "1"); 
            height: calc(#{map-get($spacers, "4")} + #{map-get($spacers, "05")});
        }

        .c-select__select-element,
        .c-select__placeholder,
        .c-select__clear-button {
            font-size: $c-select-font-size-sm;
            line-height: $c-select-font-size-sm-line-height;
        }

        .c-select__clear-button .c-icon {
            font-size: 1.5em
            // line-height: $c-select-font-size-sm-line-height;
        }

        .c-select__dropdown .c-select__option {
            padding: calc(var(--base, 8px)*0.75) calc(var(--base, 8px)*1.5);
        }
    }

    &.c-select--md {
        .c-select__select-element, 
        .c-select__clear-button,
        .c-select__expand-button {
            padding: 0 map-get($spacers, "2");
            height: map-get($spacers, "6"); 
        }
        .c-select__select-element,
        .c-select__placeholder,
        .c-select__clear-button {
            font-size: $c-select-font-size-md;
            line-height: $c-select-font-size-md-line-height;
        }

        .c-select__clear-button .c-icon {
            font-size: 1.5em
            //line-height: $c-select-font-size-md-line-height;
        }

        .c-select__dropdown .c-select__option {
            padding: calc(var(--base, 8px)*1) calc(var(--base, 8px)*1.75);
        }
    }

    &.c-select--lg {
        .c-select__select-element,
        .c-select__clear-button,
        .c-select__expand-button {
            padding: 0 calc(calc(#{map-get($spacers, "2")} + #{map-get($spacers, "05")})); 
            height: #{map-get($spacers, "8")};
        }
        .c-select__select-element,
        .c-select__placeholder,
        .c-select__clear-button {
            font-size: $c-select-font-size-lg;
            line-height: $c-select-font-size-lg-line-height;
        }

        .c-select__clear-button .c-icon {
            font-size: 1.5em
        }

        .c-select__dropdown .c-select__option {
            padding: calc(var(--base, 8px)*1.5) calc(var(--base, 8px)*2.5);
        }
    }

    .error.active {
        padding: 0.3rem;
    }

    .c-select__select-invalid-message {
        width: 100%;
        padding: map-get($spacers, "1") ;
        display: none;
        font-size: 80%;
        color: $color-white;
        background-color: $color-danger;
        border:none;
        border-radius: 0 0 calc($c-select-border-radius * $base) calc($c-select-border-radius * $base);
        box-sizing: border-box;

        &.error {
            display: block;
            transition: ease-in-out .3s;
        }

        .c-icon {
            position: relative;
            top: 3px;
        }
    }

    .c-select__field-container {
        position: relative;
        line-height: 0;
    }

    /* Multiselect specific */
    &.c-select--multiselect {
        .c-select__select-element {
            overflow: hidden;
            padding: 0 map-get($spacers, "2");
        }

        &.c-select--sm .c-select__select-element {
            padding: calc(var(--base, 8px)*1.2); 
        }

        &.c-select--md .c-select__select-element {
            padding: calc(var(--base, 8px)*1.7);  
        }

        &.c-select--lg .c-select__select-element {
            padding: calc(var(--base, 8px)*2.7);  
        }

        .c-select__select-option {
            display: none;
            background: none;
        }

        .c-select__select-option[selected] {
            display: inline-block;
        }
    }

    /* States */
    &.is-invalid {
        .c-select {
            &,
            &:focus,
            &:active {
                border-color: $c-select-danger-color;
            }
        }
        .c-field__helper {
            color: $c-select-danger-color;
        }
    }
    
    &.is-valid {
        .c-select {
            &,
            &:focus,
            &:active {
                border-color: $c-select-success-color;
            }
        }
        .c-field__helper {
            color: $c-select-success-color;
        }
    }

    &.is-open {
        .c-select__select-element {
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 0;
        }

        .c-select__dropdown {
            z-index: $level-8;
            display: block;
            border-top: none;
            border-top-left-radius: 0;
            border-top-right-radius: 0;
        }

        .c-select__expand-button {
            .c-select__expand-more-icon {
                display: none;
            }
            .c-select__expand-less-icon {
                display: flex;
            }
        }
    }

    &.is-empty {
        .c-select__placeholder {
            display: flex;
            opacity: .7;
        }
    }

    .c-select__dropdown {
        animation: c-select-dropdown-expand 0.5s cubic-bezier(0.175, 0.885, 0.320, 1.275) both;
        display: none;
        background-color: #FFF; 
        position: absolute;
        top: 100%;
        width: 100%;
        max-height: calc($base * 30);
        overflow-y: auto;
        z-index: $level-3;
        padding: #{$base} 0;
        border: $c-select-border-width solid $c-select-border-color;
    }

    .c-select__option {
        display: flex;
        gap: calc(#{$base} * 1.5); 
        padding: calc(#{$base} * 1.5) calc(#{$base} * 2);
        align-items: center;
        cursor: pointer;
        user-select: none;
        margin-top: 0;

        &:hover {
            background-color: rgba(#000, .2);
        }

        .c-select__option-icon {
            animation: c-select-option-puff 100ms cubic-bezier(0.470, 0.000, 0.745, 0.715) both;
        }

        .c-select__checked-icon {
            display: none;
        }

        &.is-selected {
            .c-select__unchecked-icon {
                display: none;
            }

            .c-select__checked-icon {
                display: block;
            }
        }

        &.is-disabled {
            opacity: .4;
        }
    }

    .c-select__option {
        .c-select__option-label {
            transition: transform 400ms;
        }
        .c-select__option-icon {
            transition: transform 300ms;
        }
        &:hover {
            .c-select__option-label,
            .c-select__option-icon {
                transform: translateX(calc(#{$base} * 0.5)); 
            }
        }
    }

}

@keyframes c-select-dropdown-expand {
    0% {
        transform-origin: top;
        opacity: 0;
    }
    100% {
        transform: rotateX(0deg);
        transform-origin: top;
        opacity: 1;
    }
}

@keyframes c-select-option-puff {
    0% {
        filter: blur(4px);
        opacity: 0;
    }
    100% {
        filter: blur(0px);
        opacity: 1;
    }
}

@keyframes c-select-expand-rotate {
    0% {
        transform: rotate(180deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

@keyframes c-select-expand-rotate-inverted {
    0% {
        transform: rotate(-180deg);
    }
    100% {
        transform: rotate(0deg);
    }
}