$baseClass: ".c-sidebar";

#{$baseClass} {
    display: flex;
    flex-direction: column;
    background-color: $color-nav-background;
    width: 288px;
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    z-index: $level-5;
    margin-left: -288px;
    transition: margin-left 0.5s ease-in-out;

    &--expanded {
        margin-left: 0px;
    }

    &__item {
        position: relative;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        padding: map-get($spacers, "2") map-get($spacers, "6");
    }
}

#{$baseClass}__logo {
    min-height: 140px;
    max-height: 140px;
    padding: map-get($spacers, "6") map-get($spacers, "5") map-get($spacers, "5");
    display: flex;
    justify-content: center;
    align-items: center;

    img {
        height: 55px;
    }
}

#{$baseClass}__hide {
    display: flex;
    width: fit-content;
    min-height: 44px;
    line-height: 44px;
    align-items: center;
    font-size: $font-size-btn;
    color: $color-nav-item-text;
    padding: map-get($spacers, "2") map-get($spacers, "6");
    cursor: pointer;
    opacity: 1;

    .c-icon {
        margin-right: 16px;
        transition: all 0.2s ease-in-out;
    }

    &:hover {
        color: $color-nav-item-text;

        .c-icon {
            margin-left: 3px;
            margin-right: 13px;
        }
    }
}

#{$baseClass}__toggle {
    position: relative;
    min-width: 44px;
    min-height: 44px;
    cursor: pointer;

    &:hover {

        .bar {
            background-color: $color-black;
        }
    }

    &[aria-pressed="true"] {

        .bar:nth-of-type(2) {
            transform: translate(-50%, -50%) rotate(0deg);
        }
    }

    .bar {
        width: 14px;
        height: 2px;
        background-color: $color-nav-item-text;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        transition: transform 0.3s ease-in-out;

        &:nth-of-type(2) {
            transform: translate(-50%, -50%) rotate(90deg);
        }
    }
}

#{$baseClass}__subcontainer {
    width: 100%;
    max-height: 0;
    overflow: hidden;

    &#{$baseClass}__item--is-expanded {
        max-height: unset;
    }

    #{$baseClass}__item {
        padding-left: map-get($spacers, "2");
        padding-right: 0;
    }

    #{$baseClass}__link {
        font-weight: 400;
    }
}

#{$baseClass}__link {
    position: relative;
    min-height: 44px;
    line-height: 44px;
    font-weight: 900;
    flex: 1;
    flex-grow: 1;
    color: $color-nav-item-text;

    &:visited,
    &:hover:visited {
        color: $color-nav-item-text;
        text-transform: capitalize;
    }

    &:hover,
    &:active,
    &[item-active="true"] {
        color: $color-black;

        &:after {
            color: $color-black;
            transform: scaleX(1);
        }
    }

    &:after {
        display: block;
        position: absolute;
        bottom: 0;
        content: "";
        width: 24px;
        height: 2px;
        background-color: $color-nav-active-accent;
        transform: scaleX(0);
        transition: transform 250ms ease-in-out;
    }
}

a, a:visited {
    text-decoration-style: unset;
    text-decoration: none;
}

@include mq(map_get($breakpoints-map, "xs"), "md") {

    #{$baseClass} {
        z-index: $level-8;
    }

    #{$baseClass}__logo {
        min-height: 100px;
        max-height: 100px;
        margin-top: 8px;
    }

    #{$baseClass}__backdrop {
        background-color: $color-base-disabled;
        position: fixed;
        top: 0;
        height: 100%;
        width: 100%;
        z-index: $level-8 - 1;
        visibility: hidden;
        opacity: 0;
        transition: visibility 0s, opacity 0.5s linear;
    }

    body#{$baseClass}--expanded {

        #{$baseClass}+#{$baseClass}__backdrop {
            visibility: visible;
            opacity: 1;
        }
    }
}

body {
    transition: padding-left 0.5s ease-in-out;

    &#{$baseClass}--expanded {

        #{$baseClass} {
            margin-left: 0px;
        }
    }

    @include mq(map_get($breakpoints-map, "md")) {

        &#{$baseClass}--expanded {
            padding-left: 288px;
        }
    }
}