.c-signature {
    display: grid;
    grid-auto-columns: max-content max-content;
    grid-template-rows: auto;
    grid-template-areas:
        "avatar content"
    ;
    grid-gap: map-get($spacers, "1" );
    text-decoration: none;

    .c-avatar {
        grid-area: avatar;
    }

    .c-avatar--size-md + &__content {
        padding-top: map-get($spacers, "1") * 1.5;
    }

    &__content {
        grid-area: content;
        padding-top: map-get($spacers, "1") / 2;
    }

    &__author {
        margin-bottom: -8px;
    }

    &__title {
        color: $color-darker;
        margin-bottom: map-get($spacers, "1" );
    }

    &__published {
        color: $color-darker;
        margin-bottom: 0;
    }

    &__updated {
        color: $color-darker;
        margin-bottom: 0;
    }

    &__author + &__published,
    &__author + &__updated {
        margin-top: map-get($spacers, "1");
    }
}