@use "sass:map";
@use "../setting/var_colors";
@use "../setting/var_default";

.c-signature {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto 1fr;
    grid-template-areas: "avatar signature" "whitespace dates";
    text-decoration: none;
    column-gap: map.get(var_default.$spacers, "2" );

    &__avatar {
        grid-area: avatar;
    }

    &__author-box {
        grid-area: signature;
        display: flex;
        align-items: center;
    }

    &__title {
        color: var_colors.$color-darker;
        margin-top: calc(#{map.get(var_default.$spacers, "1" )} * -1);
        display: block;
    }

    &__dates {
        grid-area: dates;
    }

    &__published,
    &__updated {
        color: var_colors.$color-darker;
        display: block;
    }
}