.c-signature {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto 1fr;
    grid-template-areas: "avatar signature" "whitespace dates";
    text-decoration: none;

    &--space-1 {
        margin-bottom: map-get($spacers, "3");
    }

    &--space-2 {
        margin-bottom: map-get($spacers, "6");
    }

    .c-avatar--size-sm + &__content {
        margin-left: $base;
    }

    .c-avatar--size-md + &__content {
        margin-left: $base * 2;
    }

    .c-avatar--size-lg + &__content {
        margin-left: $base * 3;
    }

    &__avatar {
        grid-area: avatar;
    }

    &__author-box {
        grid-area: signature;
        display: flex;
        align-items: center;
        padding-left: map-get($spacers, "2" );
    }

    &__title {
        color: $color-darker;
        margin-top: -#{map-get($spacers, "1" )};
        display: block;
    }

    &__dates {
        grid-area: dates;
    }

    &__dates.c-signature__dates--aligned {
        padding-left: map-get($spacers, "2" );
    }

    &__published,
    &__updated {
        color: $color-darker;
        display: block;
    }
}