@use "../mixin/cover";
@use "../setting/var_border-radius";
@use "../setting/var_colors";
@use "../setting/var_default";

$c-siteselector-height: var(--c-siteselector-height, calc(#{var_default.$base} * 5.5));
$c-siteselector-radius: var(--c-siteselector-radius, $c-siteselector-height) !default;
$c-siteselector-background: var(--c-siteselector-background, var_colors.$color-primary) !default;
$c-siteselector-contrast: var(--c-siteselector-contrast, var_colors.$color-primary-contrasting) !default;

.c-siteselector {
    --c-siteselector-height-base: calc(var(--base, 8px) * 5.5);
    --c-siteselector-height-computed: calc(var(--c-siteselector-height, var(--c-siteselector-height-base)) - var(--base, 8px));
    --c-siteselector-radius-computed: calc(var(--c-siteselector-radius, var(--c-siteselector-height-base)) + var(--base, 8px) * 0.5);

    &.c-siteselector--radius-xs {
        --c-siteselector-radius: #{var_border-radius.var(--radius-xs)};
    }

    &.c-siteselector--radius-sm {
        --c-siteselector-radius: #{var_border-radius.var(--radius-sm)};
    }

    &.c-siteselector--radius-md {
        --c-siteselector-radius: #{var_border-radius.var(--radius-md)};
    }

    &.c-siteselector--radius-lg {
        --c-siteselector-radius: #{var_border-radius.var(--radius-lg)};
    }

    &.c-siteselector--primary {
        --c-siteselector-background: #{var_colors.$color-primary};
        --c-siteselector-contrast: #{var_colors.$color-primary-contrasting};
    }

    &.c-siteselector--secondary {
        --c-siteselector-background: #{var_colors.$color-secondary};
        --c-siteselector-contrast: #{var_colors.$color-secondary-contrasting};
    }

    display: inline-flex;
    border-radius: var(--c-siteselector-radius-computed);
    padding: calc(#{var_default.$base} * .5);
    background-color: #{$c-siteselector-background}; 
    height: calc(#{var_default.$base} * 5.5);
    
    .c-nav.c-nav--horizontal .c-nav__item--depth-1 > .c-nav__item-wrapper,
    .c-nav.c-nav--horizontal .c-nav__item--depth-1 > .c-nav__item-wrapper > * {
        min-height: unset;
        height: var(--c-siteselector-height-computed);
    }

    .c-siteselector__items.c-nav--depth-1  {
        gap: 0;
    }

    .c-siteselector__more > .c-nav__item-wrapper {
        .c-button.c-nav__toggle {
            height: unset;
            width: unset;
            padding: unset;
            margin: 0 calc(#{var_default.$base} * .5);
            color: $c-siteselector-contrast;
            .c-button__label {
                color: $c-siteselector-contrast;
            }

            &:before {
                left: 2px;
                bottom: 4px;
            }
        }

        + .c-nav--depth-2 {
            bottom: -4px;
        }
    }

    .c-siteselector__item.c-nav__item--depth-1 {
        padding: 0 calc(#{var_default.$base} * 1.5); 
        border-radius: #{$c-siteselector-radius};
        height: var(--c-siteselector-height-computed);
        
        .c-nav__link {
            padding: 0;
            color: $c-siteselector-contrast;

            &:hover {
                text-decoration: underline;
            }
        }

        .c-nav__link:after {
            display: none !important; 
        }
    }

    .is-current.c-nav__item--depth-1:before {
        content: ""; 
        background-color: $c-siteselector-contrast;
        position: absolute;
        @include cover.cover(); 
        opacity: .2;
        border-radius: #{$c-siteselector-radius};
    }

    .c-siteselector__more .c-nav.c-nav--depth-2 {
        left: auto;
        right: 0;

        &:after {
            right: calc(#{var_default.$base} * 0.75);
            left: auto;
        }
    }
}