@import '~@splidejs/splide/src/css/core';

$c-slider-inset: calc(#{$base} * var(--c-slider-padding, 7)) !default;
$c-slider-gap: calc(#{$base} * var(--c-slider-gap, 2)) !default;
$c-slider-border-radius: var(--c-slider-border-radius, $border-radius-lg) !default;
$c-slider-max-width: calc(#{$container-width-wide} - #{$c-slider-inset}) !default;
$c-slider-color-overlay-dark: var(--c-slider-color-overlay-dark, $color-black) !default; 

.c-slider {
    position: relative;
    border-radius: $border-radius-md;

    .c-slider__container {
        padding-top: Min(100%, 80vh);
        min-height: 0;
        position: relative;
        overflow: hidden;

        .c-slider__inner {
            display: flex;
            height: 100%;

            .c-segment {
                width: 100%;
            }
        }
    }

    &.c-slider--shadow {
        .c-slider__container {
            filter: $drop-shadow-2;
        }
    }

    .c-slider__arrows {
        width: 100%;
        max-width: $c-slider-max-width;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%);
        z-index: 1;

        .splide__arrow {
            position: absolute;
            top: 50%;
            z-index: 1;
            width: calc(#{$base} * 4);
            height: calc(#{$base} * 4);

             &.splide__arrow--prev {
                left: calc($base * -1.5);
                transform: translateY(-50%);
            }

            &.splide__arrow--next {
                right: calc($base * -1.5);
                transform: translateY(-50%);
            }

            @include mq(map_get($breakpoints-map, "md")) {
                width: calc(#{$base} * 6);
                height: calc(#{$base} * 6);

                &.splide__arrow--prev {
                    left: calc(#{$base} * 2.5);
                }

                &.splide__arrow--next {
                    right: calc(#{$base} * 2.5);
                }
            }
        }
    }

    &__controls {
        max-width: $c-slider-max-width;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        pointer-events: none;
        
        @include mq(map_get($breakpoints-map, "md")) {
            width: calc(100% - calc(#{$c-slider-inset} + #{$c-slider-gap}));
        }
    }

    &--hero {
        .c-slider__controls {
            top: $c-slider-gap;
        }
    }

    &__autoslide-toggle {
        pointer-events: auto;
        position: relative;
        display: none;
        cursor: pointer;
        width: calc(#{$base} * 5);
        height: calc(#{$base} * 5);
        color: $color-primary;
        z-index: 1;
        margin: calc(#{$base} * 1);
        
        @include mq(map_get($breakpoints-map, 'md')) {
            margin: calc(#{$base} * 3);
        }

        .c-slider__autoslide-play {
            display: none;
        }

        &:before {
            content: "";
            display: block;
            background: #fff;
            width: calc(#{$base} * 3);
            height: calc(#{$base} * 3);
            border-radius: 50%;
            position: absolute;
            z-index: -1;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }

    &[js-slider__autoslide]:hover {
        .c-slider__autoslide-toggle {
            display: block;
        }
    }

    /** Modifiers */
    &--is-paused {
        .c-slider__autoslide-play {
            display: block;
        }
        .c-slider__autoslide-pause {
            display: none;
        }
    }

    &.c-slider--has-stepper {
        margin-bottom: calc(#{$base} * 6);

        .c-slider__steppers {
            margin-bottom: calc(calc(#{$base} * 3) * -1);
            transform: translateY(-50%);
        }
    }

    &.c-slider--16-9,
    &.c-slider--4-3,
    &.c-slider--10-3,
    &.c-slider--36-7 {
        .c-slider__container {
            padding-top: 0;

            .c-slider__item__container {
                max-height: unset;
            }
        }
    }

    /** Aspect ratio */
    @each $modifier, $ratio in ("16-9": 16/9, "4-3": 4/3, "10-3": 10/3, "36-7": 36/7) {
        &.c-slider--#{$modifier} .c-slider__item:not(.c-slider__item--post) {
            aspect-ratio: $ratio;
        }
    } 

    // Posts as slider
    &.c-slider--post {

        .c-slider__item {
            max-height: unset;
        }

        .c-slider__item__container {
            color: $c-slider-color-overlay-dark;
        }

        .c-slider__shadow {
            .c-slider__container {
                filter: $drop-shadow-2;
            }
        }

        .c-card {
            filter: none;
        }

        .c-slider__arrows .splide__arrow.splide__arrow--prev {
            left: calc($base * -1);
        }

        .c-slider__arrows .splide__arrow.splide__arrow--next {
            right: calc($base * -1);
        }

        .c-slider__item {
            .c-slider__item__container {
                width: 100%;
                position: static;
                // height: 100%;
                grid-template-rows: none;
                background-color: transparent;
            }
        }
    
        .c-slider__container {
            padding-top: 0;
            
            .c-slider__inner {
                position: static;
            }
        }
    }

    &.c-slider--flat {
        .c-slider__item--post {
            .c-slider__item__container {
                background-color: unset;
                color: unset;
            }
        }
    }
}
    
// Stepper
.c-slider__steppers {
    position: absolute;
    bottom: 0;
    display: flex;
    gap: calc(#{$base} * 0.5);
    justify-content: center;
    width: 100%;
    list-style: none;
    margin: 0;
    padding: 0;

    li {
        margin: 0;
        padding: 0;
    }

    li:first-of-type .c-slider__dot {
        border-top-left-radius: calc(#{$base} * 0.5);
        border-bottom-left-radius: calc(#{$base} * 0.5);
    }

    li:last-of-type .c-slider__dot {
        border-top-right-radius: calc(#{$base} * 0.5);
        border-bottom-right-radius: calc(#{$base} * 0.5);
    }

    .c-slider__dot {
        cursor: pointer;
        background: $color-gray;
        display: block;
        width: calc(#{$base} * 2);
        height: calc(#{$base} * 0.5);
        border: none;

        &.c-slider__dot.is-active {
            cursor: default;
            background: $color-primary;
        }
    }

}

// Printing
@media print {
    .c-slider {
        display: none;
    }
}

//Import is here as adding the import in main.scss does not work
@import './slider_item';
