.c-slider__item {
    background-position: center;
    background-size: cover;
    position: relative;
    min-width: 100%;
    padding: map-get($spacers, "2");

    .c-slider__item__container {
        z-index: $level-4;
    }

    .c-slider__item__image {
        display: none;
    }

    &.c-slider__item--no-mobile-image {
        .c-slider__item__image {
            display: block;
            flex-grow: 2;
            object-fit: cover;
        }
    }

    //Other
    .c-slider__item__background--video {
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
        top: 0;
        left: 0;
        z-index: $level-3 - 1;
    }

    .c-slider__item__image__mobile {
        z-index: $level-1;
        object-fit: cover;
        min-width: 100%;
    }

    .c-slider__item__link {
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    //Video Additions
    &:not(:hover) &__background--video__play__btn:not(:focus){
        height: 0px;
        width: 0px;
        max-height: 0px;
        max-width: 0px;
        padding: 0;
    }

    &__background--video__play__btn {
        position: absolute;
        right: map-get($spacers, "2");
        bottom: map-get($spacers, "2");
        z-index: $level-4 + 1;
    }

}

////////////////////////////////
// Layouts
////////////////////////////////
.c-slider__item--layout-bottom {
    display: flex;
    flex-direction: column;
    padding: 0;

    .c-slider__item__container {
        flex-grow: 1;
        width: 100%;
        bottom: 0;
        padding: map-get($spacers, "2");
    }
}

.c-slider__item--layout-center {
    display: flex;
    color: $color-tertiary;

    .c-slider__item__image__mobile {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        height: 100%;
    }

    .c-slider__item__container {
        align-self: center;
        padding: map-get($spacers, "2");
        border-radius: $border-radius-lg;
    }

    &.c-slider__item--no-mobile-image {
        .c-slider__item__image {
            display: block;
            flex-grow: 2;
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            height: 100%;
            object-fit: cover;
        }
    }
}

////////////////////////////////
// Text Colors
////////////////////////////////
.c-slider__item--text-white {
    .c-slider__item__container {
        color: $color-white;
    }
}

.c-slider__item--text-black {
    .c-slider__item__container {
        color: $color-black;
    }
}

.c-slider__item--text-theme {
    .c-slider__item__container {
        color: $color-tertiary;
    }
}

////////////////////////////////
// Background Colors
////////////////////////////////
.c-slider__item--bg-white {
    .c-slider__item__container {
        background: $color-white;
    }
}

.c-slider__item--bg-black {
    .c-slider__item__container {
        background: $color-white;
    }
}

.c-slider__item--bg-theme {
    .c-slider__item__container {
        background: $color-tertiary;
    }
}

.c-slider__item--bg-theme-opacity {
    .c-slider__item__container {
        background: $color-tertiary-transparent;
    }
}

.c-slider__item--layout-bottom {
    &.c-slider__item--bg-theme-opacity,
    &.c-slider__item--bg-none {
        .c-slider__item__image__mobile {
            min-height: 100%;
        }
        .c-slider__item__container {
            position: absolute;
        }
    }
}

@include mq(map_get($breakpoints-map, "md")) {

    .c-slider__item {
        padding: map-get($spacers, "6") map-get($spacers, "8");

        .c-slider__item__image {
            display: block;
            position: absolute;
            width: 100%;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
        }
        
        .c-slider__item__image__mobile {
            display: none;
        }

        &.c-slider__item--layout-center {
            display: flex;
    
            .c-slider__item__container {
                align-self: center;
                padding: map-get($spacers, "4") map-get($spacers, "6");
            }
        }

        &.c-slider__item--layout-bottom {
            padding: 0;
    
            .c-slider__item__container {
                position: absolute;
                left: 0;
            }
        }

        &.c-slider__item--layout-featured {
            .c-slider__item__container {
                padding: map-get($spacers, "4") map-get($spacers, "6");
            }
        }
    }
}