@use "../mixin/focus";
@use "../mixin/tokens";

$container-width-md: 640px;
$_: "c-slider";

.#{$_}__item {
    background-position: center;
    background-size: cover;
    contain: layout paint;
    width: 100%;
    max-height: 80vh;
    border-radius: tokens.use($_, "border-radius");
    corner-shape: tokens.get($_, "corner-shape");
    container-name: slider-item;
    container-type: inline-size;

    .#{$_}__item__container {
        backface-visibility: hidden;
    }

    &:only-child {
        width: 100%;
        max-width: 100%;
        margin: 0;
    }

    &:focus-visible {
        @include focus.focus-inset(tokens.use($_, "border-radius"), true);
    }

    .#{$_}__item__body {
        margin-top: 0;
        overflow-wrap: break-word;
        max-width: 100%; // p has a max width we need to override
    }

    .#{$_}__item__image,
    .#{$_}__item__image img {
        border-radius: inherit;
    }

    //Other
    .#{$_}__item__background--video {
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
        top: 0;
        left: 0;
        z-index: 3;
        border-radius: tokens.use($_, "border-radius");
        corner-shape: tokens.get($_, "corner-shape");

        &:focus-visible {
            @include focus.focus-inset;
        }
    }

    .#{$_}__item__link {
        min-height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        text-decoration: none;
    }

    //Video Additions
    &:not(:hover) &__background--video__play__btn:not(:focus) {
        height: 0px;
        width: 0px;
        max-height: 0px;
        max-width: 0px;
        padding: 0;
        opacity: 0;
        transition: opacity 100ms;
    }

    &__background--video__play__btn {
        position: absolute;
        right: tokens.use($_, "space", 2);
        top: tokens.use($_, "space", 2);
        z-index: 5;
        opacity: 1;
    }

    // Modifiers
    &.#{$_}__item {
        margin-right: tokens.get($_, "gap");

        &.#{$_}__item--layout-center {
            &.#{$_}__item--text-align-center {
                text-align: center;
            }

            &.#{$_}__item--text-align-right {
                text-align: right;
            }
        }

        &--overlay-dark::before,
        &--overlay-light::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            border-radius: tokens.use($_, "border-radius");
            corner-shape: tokens.get($_, "corner-shape");
        }

        &--overlay-dark::before {
            background-color: tokens.get($_, "color--overlay");
        }

        &--hero {

            .#{$_}__item__heading {
                font-family: tokens.get($_, "font-family-heading");
                font-size: tokens.get($_, "font-size-heading");
                animation: hero-slider-slide-in 1s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;
                animation-delay: 200ms;
            }

            .#{$_}__item__body {
                font-family: tokens.get($_, "font-family");
                font-size: tokens.get($_, "font-size");
                animation: hero-slider-slide-in 1s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;
                animation-delay: 400ms;
            }
        }

        // Flat card
        &.c-card--flat {
            filter: none;
        }

        &--post {
            width: 100%;
            // For now c-slider__item--post margin is not customizeable
            // margin-right: $c-slider-gap; 
            margin: 0;

            .#{$_}__item__container {
                position: relative;
                min-height: 100%;
                padding: 0;
            }
        }
    }
}

////////////////////////////////
// Layouts
////////////////////////////////
.#{$_}__item--layout-bottom {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 0;

    .#{$_}__item__link {
        justify-content: flex-end;
    }

    .#{$_}__item__container {
        padding: tokens.use($_, "space", 3);
        border-bottom-left-radius: tokens.use($_, "border-radius");
        border-bottom-right-radius: tokens.use($_, "border-radius");
        corner-shape: tokens.get($_, "corner-shape");
        z-index: 4;
        color: tokens.get($_, "color--overlay-contrast");
        background-color: tokens.get($_, "color--overlay");
    }

    @container slider-item (min-width: #{$container-width-md}) {
        .#{$_}__item__container {
            display: grid;
            grid-template-columns: 2fr min-content;
            grid-template-rows: min-content;
        }

        .#{$_}__item__heading {
            grid-area: 1 / 1 / 2 / 2;
        }

        .#{$_}__item__body {
            grid-area: 2 / 1 / 3 / 2;
        }

        .#{$_}__item__cta {
            grid-area: 1 / 2 / 3 / 3;
            margin: auto 0 auto tokens.use($_, "space", 2);
            white-space: nowrap;
        }
    }
}

.#{$_}__item--layout-center {
    display: flex;

    .o-container {
        align-self: center;
    }

    .#{$_}__item__container {
        padding: tokens.use($_, "space", 4);
        border-radius: tokens.use($_, "border-radius");
        corner-shape: tokens.get($_, "corner-shape");
        margin: auto;
        width: calc(100% - tokens.use($_, "base", 10));
        max-width: tokens.get($_, "item-container-max-width");
        max-height: calc(100% - tokens.use($_, "base", 10));
        align-self: center;
        overflow: auto;
        z-index: 4;
        color: tokens.get($_, "color--overlay-contrast");
        background-color: tokens.get($_, "color--overlay");
        width: 100%;
    }

    .#{$_}__item__heading {
        @container slider-item (min-width: #{$container-width-md}) {
            font-size: tokens.use($_, "base", 4);
        }
    }

    .#{$_}__item__cta {
        margin-top: tokens.use($_, "space", 2);
    }
}

.c-testimonials {
    .#{$_}__item__container {
        display: grid;
    }
}

@keyframes hero-slider-slide-in {
    0% {
        transform: translateY(tokens.use($_, "base", 4));
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}