.c-slider {
    overflow: hidden;
    position: relative;

    &--inner {
        display: flex;
        transition: all 0.7s ease-in-out;

        .c-segment {
            min-width: 100%;
        }
    }

    .c-steppers {
        bottom: -10px;
        z-index: $level-9;

        &__dot-active {
            background-color: $color-primary;
        }
    }

    &__button {
        position: absolute;
        bottom: 50%;
        transform: translateY(50%);
        z-index: $level-9;

        &--prev {
            left: 0;
            margin-left: map-get($spacers, "1");
        }

        &--next {
            right: 0;
            margin-right: map-get($spacers, "1");
        }
    }

    // &__navigation--hover {
    //     .c-slider__button,
    //     .c-steppers {
    //         display: none;
    //     }

    //     &:hover {
    //         .c-slider__button,
    //         .c-steppers {
    //             display: block;
    //         }
    //     }
    // }

    &__peek {
        padding: 0 map-get($spacers, "2");
    }
}

@include mq(map_get($breakpoints-map, "md")) {
    .c-slider {
        .c-steppers {
            bottom: 60px;
        }

        &__button {
            &--prev {
                margin-left: map-get($spacers, "3");
            }
    
            &--next {
                margin-right: map-get($spacers, "3");
            }
        }
    }
}