@use "sass:map";
@use "../element/headings";
@use "../mixin/fluid-type";
@use "../mixin/focus";
@use "../mixin/mq";
@use "../setting/var_border-radius";
@use "../setting/var_colors";
@use "../setting/var_default";
@use "../setting/var_fonts";
@use "../setting/var_properties";
@use "../setting/component/_slider" as *;

.c-slider__item {
    --c-slider-item-font-size-heading-computed: calc(var(--c-slider-item-font-size-base, var(--base) * 2) * 2);
    
    background-position: center;
    background-size: cover;
    position: relative;
    width: 100%;
    max-width: var(--c-slider-max-width-computed);
    max-height: 80vh;
    border-radius: $c-slider-border-radius;

    .c-slider__item__container {
        backface-visibility: hidden;
    }

    &:only-child {
        width: 100%;
        max-width: 100%;
        margin: 0;
    }

    &:focus-visible {
        @include focus.focus-inset($c-slider-border-radius, true);
    }
    
    .c-slider__item__body {
        margin-top: 0;
        overflow-wrap: break-word;
        max-width: 100%; // p has a max width we need to override
    }

    .c-slider__item__image, 
    .c-slider__item__image img {
        border-radius: inherit;
    }

    //Other
    .c-slider__item__background--video {
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
        top: 0;
        left: 0;
        z-index: var_properties.$level-3 - 1;
        border-radius: $c-slider-border-radius;

        &:focus-visible {
            @include focus.focus-inset;
        }
    }

    .c-slider__item__link {
        min-height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        text-decoration: none;
    }

    //Video Additions
    &:not(:hover) &__background--video__play__btn:not(:focus) {
        height: 0px;
        width: 0px;
        max-height: 0px;
        max-width: 0px;
        padding: 0;
        opacity: 0;
        transition: opacity 100ms;
    }

    &__background--video__play__btn {
        position: absolute;
        right: map.get(var_default.$spacers, '2');
        top: map.get(var_default.$spacers, '2');
        z-index: var_properties.$level-4 + 1;
        opacity: 1;
    }

    // Modifiers
    &.c-slider__item {
        margin-right: $c-slider-gap;
        &.c-slider__item--layout-center {
            &.c-slider__item--text-align-center {
                text-align: center;
            }
    
            &.c-slider__item--text-align-right {
                text-align: right;
            }
        }

        &--overlay-dark::before,
        &--overlay-light::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            border-radius: $c-slider-border-radius;
        }

        &--overlay-dark::before {
            background-color: var_colors.$color-alpha;
        }

        &--hero {
            margin: $c-slider-gap $c-slider-gap $c-slider-gap 0;

            .c-slider__item__heading {
                font-family: $c-slider-item-font-family-heading;
                font-weight: $c-slider-item-font-weight-heading;
                font-size: headings.$h2-font-size;
                animation: hero-slider-slide-in 1s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;
                animation-delay: 200ms;

                @include mq.mq('sm') { 
                    @include fluid-type.fluid-type(
                        headings.$h2-font-size,
                        var(--c-slider-item-font-size-heading-computed),
                        6vw
                    );
                }

                @include mq.mq('lg') { 
                    font-size: var(--c-slider-item-font-size-heading-computed);
                }
            }

            .c-slider__item__body {
                font-family: $c-slider-item-font-family;
                font-weight: $c-slider-item-font-weight;
                font-size: var_fonts.$font-size-base;
                animation: hero-slider-slide-in 1s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;
                animation-delay: 400ms;

                @include mq.mq('sm') { 
                    @include fluid-type.fluid-type(
                        var_fonts.$font-size-base,
                        $c-slider-item-font-size-base,
                        3vw
                    );
                }

                @include mq.mq('lg') { 
                    font-size: $c-slider-item-font-size-base;
                }
            }
        }

        // Flat card
        &.c-card--flat {
            filter: none;
        }

        &--post {
            width: 100%;     
            // For now c-slider__item--post margin is not customizeable
            // margin-right: $c-slider-gap; 
            margin: 0;

            .c-slider__item__container {
                position: relative;
                min-height: 100%;
                padding: 0;
            }
        }
    }
}

////////////////////////////////
// Layouts
////////////////////////////////
.c-slider__item--layout-bottom {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 0;

    .c-slider__item__link {
        justify-content: flex-end;
    }

    .c-slider__item__container {
        padding: calc(var_default.$base * 3);
        border-bottom-left-radius: $c-slider-border-radius;
        border-bottom-right-radius: $c-slider-border-radius;
        z-index: var_properties.$level-4;
        color: $c-slider-color-overlay-contrasting;
        background-color: $c-slider-color-overlay;
    }

    @include mq.mq(map.get(var_default.$breakpoints-map, 'sm')) {
        .c-slider__item__container {
            display: grid;
            grid-template-columns: 2fr min-content;
            grid-template-rows: min-content;
        }
        .c-slider__item__heading {
            grid-area: 1 / 1 / 2 / 2;
        }

        .c-slider__item__body {
            grid-area: 2 / 1 / 3 / 2;
        }

        .c-slider__item__cta {
            grid-area: 1 / 2 / 3 / 3;
            margin: auto 0 auto calc(var(--base) * 2);
            white-space: nowrap;
        }
    }
}

.c-slider__item--layout-center {
    display: flex;
    color: var_colors.$color-secondary;

    .o-container {
        align-self: center;
    }

    .c-slider__item__container {
        padding: map.get(var_default.$spacers, '4');
        border-radius: var_border-radius.$border-radius-lg;
        margin: auto;
        width: calc(100% - (var(--base) * 10));
        max-width: $c-slider-item-container-max-width;
        max-height: calc(100% - (var(--base) * 10));
        align-self: center;
        overflow: auto;
        z-index: var_properties.$level-4;
        color: $c-slider-color-overlay-contrasting;
        background-color: $c-slider-color-overlay;
    }

    .c-slider__item__heading {
        @include mq.mq(map.get(var_default.$breakpoints-map, 'md')) {
            font-size: calc(var(--base) * 4);
        }
    }

    .c-slider__item__cta {
        margin-top: calc(var(--base) * 3);
    }
}

.c-testimonials {
    .c-slider__item__container {
        display: grid;
    }
}

@keyframes hero-slider-slide-in {
    0% {
      transform: translateY(calc(var(--base) * 4));
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
}
