.c-slider {
    position: relative;
    border-radius: $border-radius-md;
    margin-bottom: map-get($spacers, "7");
    @include shadow(2);

    &__button {
        position: absolute;
        bottom: 50%;
        transform: translateY(50%);
        z-index: $level-6;
        font-size: 2.5em;
        display: none;
        padding: 0;
        color: $color-darkest;
        margin: 0 !important;

        &-prev {
            left: 0;
            transform: translate(-100%, 50%);
            margin-left: map-get($spacers, "1");
        }

        &-next {
            right: 0;
            transform: translate(100%, 50%);
            margin-right: map-get($spacers, "1");
        }
    }

    .c-slider__container {
        overflow: hidden;
        position: relative;
        border-radius: $border-radius-md;
    
        .c-slider__inner {
            display: flex;
            transition: all 0.7s ease-in-out;
    
            .c-segment {
                min-width: 100%;
            }
        }
    }
}

@include mq(map_get($breakpoints-map, "md")) {

    .c-slider {

        &__button {
            display: block;
            &-prev {
                margin-left: map-get($spacers, "3");
            }
    
            &-next {
                margin-right: map-get($spacers, "3");
            }
        }

        &.c-slider--16-9 {
            .c-slider__container {
                padding-top: 56.25%;
            }
        }
    
        &.c-slider--4-3 {
            .c-slider__container {
                padding-top: 75%;
            }
        }
    
        &.c-slider--10-3 {
            .c-slider__container {
                padding-top: 30%;
            }
        }
    
        &.c-slider--36-7 {
            .c-slider__container {
                padding-top: 19.44%;
            }
        }
        
        &__inner {
            position: absolute;
            top: 0;
            bottom: 0;
            right: 0;
            left: 0;
        }

        &__container {
            height: 0;
        }
    }
}

// Stepper
.c-slider__steppers {
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    bottom: - map-get($spacers, "5");

    @include mq(map_get($breakpoints-map, "xs"), "sm") {
        bottom: - map-get($spacers, "6");
        padding-bottom:7px;
    }

    .c-slider__dot {
        background: $color-gray;
        display: inline-block;
        width: calc(#{$base} * 1.5);
        height: calc(#{$base} * 0.5);
        margin: calc(#{$base} * 0.5);

        &:first-of-type {
            border-top-left-radius: calc(#{$base} * 0.5);
            border-bottom-left-radius: calc(#{$base} * 0.5);
        }

        &:last-of-type {
            border-top-right-radius: calc(#{$base} * 0.5);
            border-bottom-right-radius: calc(#{$base} * 0.5);
        }

        &--active {
            background: $color-primary;
        }
    }
}

// Printing
@media print {
    .c-slider {
        display: none;
    }
}

//Import is here as adding the import in main.scss does not work
@import "./slider_item";