.c-slider {
    overflow: hidden;
    position: relative;

    &--inner {
        display: flex;
        transition: all 0.7s ease-in-out;

        .c-segment {
            min-width: 100%;
        }
    }

    .c-steppers {
        bottom: -10px;
        z-index: $level-9;

        &__dot-active {
            background-color: $color-primary;
        }
    }

    &__button {
        position: absolute;
        bottom: 50%;
        transform: translateY(50%);
        z-index: $level-9;
        font-size: 2.5em;
        display: none;
        padding: 0;
        color: $color-lightest;
        text-shadow: 0px 0px 2px $color-black;

        &--prev {
            left: 0;
            margin-left: map-get($spacers, "1");
        }

        &--next {
            right: 0;
            margin-right: map-get($spacers, "1");
        }

    }

    &__peek {
        padding: 0 map-get($spacers, "2");
    }
}

@include mq(map_get($breakpoints-map, "md")) {
    .c-slider {
        &__button {
            display: block;
            &--prev {
                margin-left: map-get($spacers, "3");
            }
    
            &--next {
                margin-right: map-get($spacers, "3");
            }
        }
    }
}