$c-slider-color-overlay: var(--c-slider-color-overlay, $color-alpha) !default;
$c-slider-color-overlay-contrasting: var(
    --c-slider-color-overlay-contrasting,
    $color-alpha-contrasting
) !default;
$c-slider-max-width: calc(#{$container-width-wide} - #{$c-slider-inset}) !default;
$c-slider-item-font-family: var(--c-slider-item-font-family-base, $font-family-base) !default;
$c-slider-item-font-weight: var(--c-slider-item-font-weight-base, inherit) !default;
$c-slider-item-font-size-base: var(--c-slider-item-font-size-base, calc(#{$base} * 2)) !default;
$c-slider-item-font-size-heading: calc(
    var(--c-slider-item-font-size-heading, calc(#{$c-slider-item-font-size-base} * 2))
) !default;
$c-slider-item-font-family-heading: var(--c-slider-item-font-family-heading, inherit) !default;
$c-slider-item-font-weight-heading: var(--c-slider-item-font-weight-heading, inherit) !default;
$c-slider-item-container-max-width: calc(#{$base} * 118) !default;

.c-slider__item {
    background-position: center;
    background-size: cover;
    position: relative;
    width: calc(100% - calc(#{$c-slider-inset} + #{$c-slider-gap}));
    max-width: $c-slider-max-width;
    border-radius: $c-slider-border-radius;

    &:only-child {
        width: 100%;
        max-width: 100%;
        margin: 0;
    }

    .c-slider__item__container {
        z-index: $level-4;
        color: $c-slider-color-overlay-contrasting;
        background-color: transparent;
        backdrop-filter: blur(1px);
    }
    
    .c-slider__item__body {
        margin-top: 0;
        word-wrap: break-word;
        max-width: 100%; // p has a max width we need to override
    }

    //Other
    .c-slider__item__background--video {
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
        top: 0;
        left: 0;
        z-index: $level-3 - 1;
        border-radius: $c-slider-border-radius;
    }

    .c-slider__item__link {
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        text-decoration: none;
    }

    //Video Additions
    &:not(:hover) &__background--video__play__btn:not(:focus) {
        height: 0px;
        width: 0px;
        max-height: 0px;
        max-width: 0px;
        padding: 0;
    }

    &__background--video__play__btn {
        position: absolute;
        right: map-get($spacers, '2');
        bottom: map-get($spacers, '2');
        z-index: $level-4 + 1;
    }

    // Modifiers
    &.c-slider__item {
        margin-right: $c-slider-gap;

        &--bg-none {
            .c-slider__item__container {
                background-color: none;
            }
        }

        &--bg-transparent {
            .c-slider__item__container {
                background-color: $c-slider-color-overlay;
            }
        }

        &--bg-theme {
            .c-slider__item__container {
                background-color: $color-primary;
            }
        }

        &--text-align-center {
            text-align: center;
        }

        &--text-align-right {
            text-align: right;
        }

        &--overlay-dark::before,
        &--overlay-light::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            border-radius: $c-slider-border-radius;
        }

        &--overlay-dark::before {
            background-color: $color-alpha;
        }

        &--hero {
            margin: $c-slider-gap $c-slider-gap $c-slider-gap 0;

            .c-slider__item__heading {
                font-family: $c-slider-item-font-family-heading;
                font-weight: $c-slider-item-font-weight-heading;
                font-size: $h2-font-size;
                animation: hero-slider-slide-in 1s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;
                animation-delay: 200ms;

                @include mq('sm') { 
                    @include fluid-type(
                        $h2-font-size,
                        $c-slider-item-font-size-heading,
                        6vw
                    );
                }

                @include mq('lg') { 
                    font-size: $c-slider-item-font-size-heading;
                }
            }

            .c-slider__item__body {
                font-family: $c-slider-item-font-family;
                font-weight: $c-slider-item-font-weight;
                font-size: $font-size-base;
                animation: hero-slider-slide-in 1s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;
                animation-delay: 400ms;

                @include mq('sm') { 
                    @include fluid-type(
                        $font-size-base,
                        $c-slider-item-font-size-base,
                        3vw
                    );
                }

                @include mq('lg') { 
                    font-size: $c-slider-item-font-size-base;
                }
            }
        }

        // Flat card
        &.c-card--flat {
            filter: none;
        }

        &--post {
            width: 100%;     
            // For now c-slider__item--post margin is not customizeable
            // margin-right: $c-slider-gap; 
            margin: 0;

            .c-slider__item__container {
                position: relative;
                top: calc(#{$base} * 4);
                padding: 0;
            }
        }
    }
}

////////////////////////////////
// Layouts
////////////////////////////////
.c-slider__item--layout-bottom {
    display: flex;
    flex-direction: column;
    padding: 0;

    .c-slider__item__container {
        right: 0;
        bottom: 0;
        left: 0;
        padding: map-get($spacers, '2');
        position: absolute;
        border-bottom-left-radius: $c-slider-border-radius;
        border-bottom-right-radius: $c-slider-border-radius;
    }

    @include mq(map_get($breakpoints-map, 'sm')) {
        .c-slider__item__container {
            display: grid;
            grid-template-columns: 2fr min-content;
            grid-template-rows: min-content;
        }
        .c-slider__item__heading {
            grid-area: 1 / 1 / 2 / 2;
        }

        .c-slider__item__body {
            grid-area: 2 / 1 / 3 / 2;
        }

        .c-slider__item__cta {
            grid-area: 1 / 2 / 3 / 3;
            margin: auto 0 auto calc(#{$base} * 2);
            white-space: nowrap;
        }
    }
}

.c-slider__item--layout-center {
    display: flex;
    color: $color-secondary;

    .o-container {
        align-self: center;
    }

    .c-slider__item__container {
        padding: map-get($spacers, '4');
        border-radius: $border-radius-lg;
        margin: auto;
        width: calc(100% - (#{$base} * 10));
        max-width: $c-slider-item-container-max-width;
        max-height: calc(100% - (#{$base} * 10));
        align-self: center;
        overflow: auto;
    }

    .c-slider__item__heading {
        @include mq(map_get($breakpoints-map, 'md')) {
            font-size: calc(#{$base} * 4);
        }
    }

    .c-slider__item__cta {
        margin-top: calc(#{$base} * 3);
    }
}

.c-testimonials {
    .c-slider__item__container {
        display: grid;
    }
}

@keyframes hero-slider-slide-in {
    0% {
      transform: translateY(calc(#{$base} * 4));
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
}