// ***************************************************************
// *** Steppers
// ***************************************************************

.c-steppers {
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    bottom: #{map-get($spacers, "3")};

    &__dot {
        background: $color-gray;
        display: inline-block;
        width: calc(#{$base} * 1.5);
        height: calc(#{$base} * 0.5);

        &:first-of-type {
            border-top-left-radius: calc(#{$base} * 0.5);
            border-bottom-left-radius: calc(#{$base} * 0.5);
        }

        &:last-of-type {
            border-top-right-radius: calc(#{$base} * 0.5);
            border-bottom-right-radius: calc(#{$base} * 0.5);
        }

        @include mq(map_get($breakpoints-map, "xs"), "sm") {
            width: calc(#{$base} * 0.5);
            height: calc(#{$base} * 0.5);
        }

        margin: calc(#{$base} * 0.5);
    }

    &__dot-active {
        background: $color-primary;
    }
}