@use "sass:map";
@use "../mixin/mq";
@use "../setting/var_colors";
@use "../setting/var_default";

// ***************************************************************
// *** Steppers
// ***************************************************************

.c-steppers {
    &__dot {
        background: var(--color--gray);
        display: inline-block;
        width: calc(#{var(--base)} * 1.5);
        height: calc(#{var(--base)} * 0.5);
        margin: calc(#{var(--base)} * 0.5);

        &:first-of-type {
            border-top-left-radius: calc(#{var(--base)} * 0.5);
            border-bottom-left-radius: calc(#{var(--base)} * 0.5);
        }

        &:last-of-type {
            border-top-right-radius: calc(#{var(--base)} * 0.5);
            border-bottom-right-radius: calc(#{var(--base)} * 0.5);
        }

        @include mq.mq(map.get(var_default.$breakpoints-map, "xs"), "sm") {
            width: calc(#{var(--base)} * 0.5);
            height: calc(#{var(--base)} * 0.5);
        }
    }

    &__dot-active {
        background: var(--color--primary);
    }
}