@use "sass:map";
@use "../mixin/mq";
@use "../setting/var_border-radius";
@use "../setting/var_colors";
@use "../setting/var_default";
@use "../setting/var_fonts";
@use "../setting/var_properties";

$c-table-background-color-odd: var(--c-table-background-color-odd, var_colors.$color-light);
$c-table-background-color-even: var(--c-table-background-color-even, var_colors.$color-lightest);

.c-table {
    position: relative;

    .c-table__column-content {
        width: 100%;
        display: inline-block;
    }

    .c-table__header {
        padding: calc(#{var_default.$base} * 1.5);
    }

    .c-table__inner {
        display: block;
        overflow-x: auto;
        position: relative;
        min-width: 100%;
        overflow: auto;
        scrollbar-width: none;
    }

    .c-table__footer {
        width: 100%;
        padding: 0 calc(#{var_default.$base} * 2);
    }

    .c-table__caption {
        font-size: calc(#{var_default.$base} * 2);
        font-weight: var_fonts.$font-weight-italic;
        font-family: var_fonts.$font-family-italic;
        font-style: italic;
        color: var_colors.$color-dark;
    }

    .c-table__title {
        display: inline-block;
    }

    .c-table__fullscreen {
        position: absolute;
        right: calc(#{var_default.$base} * 2);
        cursor: pointer;
    }

    /**
     * Generic table
     */

    .c-table__table {
        min-width: 100%;
        vertical-align: top;
    }

    .c-table__column {
        position: relative;
        padding: calc(#{var_default.$base} * 1.5);
        vertical-align: top;
        min-width: calc(#{var_default.$base} * 13);
    }

    /**
     * Table head
     */
    .c-table__head {
        font-weight: var_colors.$table-heading-font-weight;
        color: var_colors.$color-table-heading;

        .c-table__column-content  {
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
            width: 100%;
        }

        .c-table__heading {
            display: inline-block;
            padding-right: calc(#{var_default.$base} * 2);
            max-width: calc(100% - calc(#{var_default.$base} * 2));
            text-overflow: ellipsis;
            overflow: hidden; 
        }
    }

    /**
     * Flat styling
     */
.c-card--flat {
    .c-table .c-table__header {
        padding-left: 0;
        padding-right: 0;
    }
}

    /**
     * Table body
     */
    .c-table__body {
        color: var_colors.$color-table-body;

        .c-table__line .c-table__column {
            transition: background-color 100ms ease;
        }

        .c-table__line:nth-child(odd) .c-table__column {
            background-color: $c-table-background-color-odd;
        }

        .c-table__line:nth-child(even) .c-table__column {
            background-color: $c-table-background-color-even;
        }

        .c-table__line:hover .c-table__column {
            background: var_colors.$color-complementary;
        }

        .c-table__column {
            border-right: 1px solid $c-table-background-color-even;
        }

        .c-table__column:last-of-type {
            border-right: none;
        }
    }

    .c-table__column.c-table__column-0 {
        z-index: var(--level-1);
    }

    /**
     * Scroll indicator
     */
    .c-table__scroll-indicator-wrapper {
        margin: calc(#{var_default.$base} * 2) 0;
        width: 100%;
        background-color: var_colors.$color-lighter;
        height: calc(#{var_default.$base} * 1.5);
        border-radius: calc(var_border-radius.var(--radius-lg) * 4);
    }

    .c-table__scroll-indicator {
        width: 50%;
        background-color: var_colors.$color-primary;
        height: inherit;
        border-radius: inherit;
        cursor: grab;
        max-width: 90%;
    }

    .c-table__scroll-indicator:active {
        cursor: grabbing;
    }

    /**
     * Sorting
     */
    &[js-sort-container] th {
        cursor: pointer;
        .c-icon {
            vertical-align: bottom;
            cursor: pointer;
        }
    }

    /**
     * Actions
     */

    .c-table__collapse-button {
        cursor: pointer;
        transition: transform 200ms;
    }

    .c-table__sort-button {
        cursor: pointer;
    }

    /**
     * Modifier for summary line
     */
    &.c-table--summary .c-table__line:last-of-type .c-table__column-content {
        font-weight: var_fonts.$font-weight-bold;  
        font-family: var_fonts.$font-family-bold;
    }

    /**
     * Modifier for multdimension scroll
     */
    &.c-table--multidimensional {

        &.is-collapsed {
           .c-table__column-0 {

                min-width: calc(#{var_default.$base} * 10);

                @include mq.mq(map.get(var_default.$breakpoints-map, "xs"), map.get(var_default.$breakpoints-map, "md")) {
                    max-width: min(calc(#{var_default.$base} * 25), 25vw);
                }

                @include mq.mq(map.get(var_default.$breakpoints-map, "md")) {
                    max-width: calc(#{var_default.$base} * 25);
                }

                .c-table__column-content {
                    text-overflow: ellipsis;
                    overflow: hidden;
                    white-space: nowrap;
                }
            }
    
            .c-table__collapse-button {
                transform: rotate(180deg);
            }
        }

        .c-table__column-0 {
            position: sticky;
            left: 0;
            top: 0;

            @include mq.mq(map.get(var_default.$breakpoints-map, "md")) {
                max-width: calc(#{var_default.$base} * 60);
            }

            @include mq.mq(map.get(var_default.$breakpoints-map, "xs"), map.get(var_default.$breakpoints-map, "md")) {
                min-width: 20vw;
            }
    
            &:after{
                box-shadow: 20px 0 20px -20px rgba(0, 0, 0, 0.3) inset;
                content: " ";
                height: 100%;
                position: absolute;
                top: 0;
                right: -20px;
                width: 20px;
            }
        }
    }

    &.c-table--title-none {
        .c-table__header {
            text-align: right;
        }
        .c-icon {
            position: inherit;
        }
    }
}


/**
 * Embedded in modal
 */
.c-table__modal {
    margin: calc(#{var_default.$base} * 2);
    height: calc(100vh - calc(#{var_default.$base} * 4));

    .c-modal__header .c-modal__close .c-icon {
        color: var(--color-black, #000000);
    }

    .c-table__table {
        border: 1px solid var_colors.$color-lighter;
    }

    .c-table .c-table__header {
        padding-left: 0;
        padding-right: 0;
        padding-top: 0;
    }
 }