@use "sass:map";
@use "../mixin/mq";
@use "../setting/var_border-radius";
@use "../setting/var_colors";
@use "../setting/var_default";
@use "../setting/var_fonts";
@use "../setting/var_properties";

/* Component CSS Variables */

/* Table Typography */
$c-table-font-family-italic: var(--c-table-font-family-italic, var(--font-family-base));
$c-table-font-weight-italic: var(--c-table-font-weight-italic, var(--font-weight-normal));
$c-table-font-family-bold: var(--c-table-font-family-bold, var(--font-family-base));
$c-table-font-weight-bold: var(--c-table-font-weight-bold, var(--font-weight-bold));
$c-table-font-weight-heading: var(--c-table-font-weight-heading, var(--font-weight-medium));
$c-table-font-size-caption: var(--c-table-font-size-caption, var(--font-size-base));

/* Table Colors */
$c-table-caption-color: var(--c-table-caption-color, var(--color--dark));
$c-table-heading-color: var(--c-table-heading-color, var(--color--text));
$c-table-body-color: var(--c-table-body-color, var(--color--text));
$c-table-background-color-odd: var(--c-table-background-color-odd, var(--color--light));
$c-table-background-color-even: var(--c-table-background-color-even, var(--color--lighter));
$c-table-hover-background: var(--c-table-hover-background, var(--color--accent));
$c-table-border-color: var(--c-table-border-color, var(--color--lighter));

/* Table Scroll Indicator Colors */
$c-table-scroll-indicator-bg: var(--c-table-scroll-indicator-bg, var(--color--lighter));
$c-table-scroll-indicator-bar: var(--c-table-scroll-indicator-bar, var(--color--primary));
$c-table-scroll-indicator-radius: var(--c-table-scroll-indicator-radius, calc(var(--radius-lg) * 4));

/* Table Spacing */
$c-table-header-padding: var(--c-table-header-padding, var(--spacing-sm));
$c-table-column-padding: var(--c-table-column-padding, var(--spacing-sm));
$c-table-footer-padding: var(--c-table-footer-padding, var(--spacing-sm));

/* Table Z-index */
$c-table-column-z-index: var(--c-table-column-z-index, var(--level-1));

.c-table {
    position: relative;

    .c-table__column-content {
        width: 100%;
        display: inline-block;
    }

    .c-table__header {
        padding: $c-table-header-padding;
    }

    .c-table__inner {
        display: block;
        overflow-x: auto;
        position: relative;
        min-width: 100%;
        overflow: auto;
        scrollbar-width: none;
    }

    .c-table__footer {
        width: 100%;
        padding: 0 $c-table-footer-padding;
    }

    .c-table__caption {
        font-size: $c-table-font-size-caption;
        font-weight: $c-table-font-weight-italic;
        font-family: $c-table-font-family-italic;
        font-style: italic;
        color: $c-table-caption-color;
    }

    .c-table__title {
        display: inline-block;
    }

    .c-table__fullscreen {
        position: absolute;
        right: calc(#{var(--base)} * 2);
        cursor: pointer;
    }

    /**
     * Generic table
     */

    .c-table__table {
        min-width: 100%;
        vertical-align: top;
    }

    .c-table__column {
        position: relative;
        padding: $c-table-column-padding;
        vertical-align: top;
        min-width: calc(#{var(--base)} * 13);
    }

    /**
     * Table head
     */
    .c-table__head {
        font-weight: $c-table-font-weight-heading;
        color: $c-table-heading-color;

        .c-table__column-content  {
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
            width: 100%;
        }

        .c-table__heading {
            display: inline-block;
            padding-right: calc(#{var(--base)} * 2);
            max-width: calc(100% - calc(#{var(--base)} * 2));
            text-overflow: ellipsis;
            overflow: hidden; 
        }
    }

    /**
     * Flat styling
     */
.c-card--flat {
    .c-table .c-table__header {
        padding-left: 0;
        padding-right: 0;
    }
}

    /**
     * Table body
     */
    .c-table__body {
        color: $c-table-body-color;

        .c-table__line .c-table__column {
            transition: background-color 100ms ease;
        }

        .c-table__line:nth-child(odd) .c-table__column {
            background-color: $c-table-background-color-odd;
        }

        .c-table__line:nth-child(even) .c-table__column {
            background-color: $c-table-background-color-even;
        }

        .c-table__line:hover .c-table__column {
            background: $c-table-hover-background;
        }

        .c-table__column {
            border-right: 1px solid $c-table-border-color;
        }

        .c-table__column:last-of-type {
            border-right: none;
        }
    }

    .c-table__column.c-table__column-0 {
        z-index: $c-table-column-z-index;
    }

    /**
     * Scroll indicator
     */
    .c-table__scroll-indicator-wrapper {
        margin: calc(#{var(--base)} * 2) 0;
        width: 100%;
        background-color: $c-table-scroll-indicator-bg;
        height: calc(#{var(--base)} * 1.5);
        border-radius: $c-table-scroll-indicator-radius;
    }

    .c-table__scroll-indicator {
        width: 50%;
        background-color: $c-table-scroll-indicator-bar;
        height: inherit;
        border-radius: inherit;
        cursor: grab;
        max-width: 90%;
    }

    .c-table__scroll-indicator:active {
        cursor: grabbing;
    }

    /**
     * Sorting
     */
    &[js-sort-container] th {
        cursor: pointer;
        .c-icon {
            vertical-align: bottom;
            cursor: pointer;
        }
    }

    /**
     * Actions
     */

    .c-table__collapse-button {
        cursor: pointer;
        transition: transform 200ms;
    }

    .c-table__sort-button {
        cursor: pointer;
    }

    /**
     * Modifier for summary line
     */
    &.c-table--summary .c-table__line:last-of-type .c-table__column-content {
        font-weight: $c-table-font-weight-bold;
        font-family: $c-table-font-family-bold;
    }

    /**
     * Modifier for multdimension scroll
     */
    &.c-table--multidimensional {

        &.is-collapsed {
           .c-table__column-0 {

                min-width: calc(#{var(--base)} * 10);

                @include mq.mq(map.get(var_default.$breakpoints-map, "xs"), map.get(var_default.$breakpoints-map, "md")) {
                    max-width: min(calc(#{var(--base)} * 25), 25vw);
                }

                @include mq.mq(map.get(var_default.$breakpoints-map, "md")) {
                    max-width: calc(#{var(--base)} * 25);
                }

                .c-table__column-content {
                    text-overflow: ellipsis;
                    overflow: hidden;
                    white-space: nowrap;
                }
            }
    
            .c-table__collapse-button {
                transform: rotate(180deg);
            }
        }

        .c-table__column-0 {
            position: sticky;
            left: 0;
            top: 0;

            @include mq.mq(map.get(var_default.$breakpoints-map, "md")) {
                max-width: calc(#{var(--base)} * 60);
            }

            @include mq.mq(map.get(var_default.$breakpoints-map, "xs"), map.get(var_default.$breakpoints-map, "md")) {
                min-width: 20vw;
            }
    
            &:after{
                box-shadow: 20px 0 20px -20px rgba(0, 0, 0, 0.3) inset;
                content: " ";
                height: 100%;
                position: absolute;
                top: 0;
                right: -20px;
                width: 20px;
            }
        }
    }

    &.c-table--title-none {
        .c-table__header {
            text-align: right;
        }
        .c-icon {
            position: inherit;
        }
    }
}


/**
 * Embedded in modal
 */
.c-table__modal {
    margin: calc(#{var(--base)} * 2);
    height: calc(100vh - calc(#{var(--base)} * 4));

    .c-modal__header .c-modal__close .c-icon {
        color: var(--color-black, #000000);
    }

    .c-table__table {
        border: 1px solid $c-table-border-color;
    }

    .c-table .c-table__header {
        padding-left: 0;
        padding-right: 0;
        padding-top: 0;
    }
 }