.c-table {
    position: relative;
    border: 1px solid $color-table-border;
    border-radius: $border-radius-sm;
    overflow: hidden;

    & th[js-table-sort--order] {
        cursor:pointer;
    }

    &__inner {
        display: block;
        overflow-x: auto;

        &::-webkit-scrollbar {
            width: $base;
        }

        &::-webkit-scrollbar-track {
            background-color: $color-table-track-background;
        }

        &::-webkit-scrollbar-thumb {
            background-color: $color-table-track-control;
        }
    }

    &[js-sort-container] th {
        cursor: pointer;
        .c-icon {
            vertical-align: bottom;
            cursor: pointer;
        }
        
    }

    &:after {
        position: absolute;
        content: "";
        top: 0;
        right: 0;
        bottom: 0;
        width: $base*5;
        @include gradient(90deg,rgba($color-table-gradient, 0), rgba($color-table-gradient, 1));
    }

    &__column {
        padding: map-get($spacers, "1") map-get($spacers, "2");
        vertical-align: top;
    }

    &__table {
        min-width: 100%;
        vertical-align: top;
    }

    &__head,
    &__foot {
        font-weight: $table-heading-font-weight;
        color: $color-table-heading;
    }

    &__body {
        color: $color-table-body;
    }

    &__head,
    &__foot,
    &__body {
        width: 100%;
        background-color: $color-table-background;
    }

    &__body &__column,
    &__foot &__column {
        border-top: 1px solid $color-table-border;
        min-width: 150px;
    }

    &__body &__line:nth-child(odd) {
        background-color: $color-table-background-odd;
    }

    &__body &__line:hover {
        background: $color-primary-alpha-dimmed;
    }
}
