.c-tags {
    display: flex;
    flex-wrap: wrap;
    gap: #{$base};

    &--format .c-tag {
        word-spacing: -0.5ex;
        text-transform: lowercase;
    }
}

.c-tags:hover {
    .c-tag.is-hidden {
        display: block;
    }
    .c-tag.c-tag--more {
        display: none;
    }
}

.c-tag {
    font-size: $font-size-meta;
    text-decoration: none;

    &.is-hidden {
        display: none;
    }

    &:hover, &:visited, &:active {
        color: inherit;
    }

    &:hover {
        text-decoration: underline;
    }
}