.c-tags {
    display: flex;
    flex-wrap: wrap;
    gap: #{$base};

    &--format .c-tags__tag {
        word-spacing: -0.5ex;
        text-transform: lowercase;
    }

    .c-tags__tag {
        font-size: $font-size-meta;
        text-decoration: none;

        &.is-hidden {
            display: none;
        }

        &:hover, &:visited, &:active {
            color: inherit;
        }

        &:hover {
            text-decoration: underline;
        }
    }

    &:hover {
        .c-tags__tag.is-hidden {
            display: block;
        }
        .c-tags__tag.c-tags__tag-more {
            display: none;
        }
    }
}