@use "../mixin/tokens";
@use "../setting/var_fonts";
@use "../setting/var_properties";

/* Component name */
$_: "c-tags";

/* Design tokens */
@include tokens.create($_, (
    "base",
    "color--surface",
    "color--darker",
));

$c-tags-pill-background: tokens.get($_, "color--surface") !default;
$c-tags-pill-color: tokens.get($_, "color--darker") !default;

.c-tags {
    display: flex;
    flex-wrap: wrap;
    gap: tokens.get($_, "base");

    &--format .c-tags__tag {
        word-spacing: -0.5ex;
        text-transform: lowercase;
    }

    &.c-tags--pill {
        .c-tags__tag {
            background-color: $c-tags-pill-background;
            color: $c-tags-pill-color;
            padding: calc(#{tokens.get($_, "base")} * 0.5) calc(#{tokens.get($_, "base")} * 1.5);
            border-radius: calc(#{tokens.get($_, "base")} * 3);
            filter: var_properties.$detail-shadow-2;

            &:hover {
                color: $c-tags-pill-color;
            }
        }
    }

    .c-tags__tag {
        font-size: var_fonts.$font-size-meta;
        text-decoration: none;
        display: flex;
        align-items: center;

        &.is-hidden {
            display: none;
        }

        &:hover, &:visited, &:active {
            color: inherit;
        }
    }

    a.c-tags__tag:hover {
        text-decoration: underline;
    }
}
