$c-tags-pill-background: var(--c-tags-pill-background, $color-background-card) !default;
$c-tags-pill-color: var(--c-field-label-color, $color-darker) !default;

.c-tags {
    display: flex;
    flex-wrap: wrap;
    gap: #{$base};

    &--format .c-tags__tag {
        word-spacing: -0.5ex;
        text-transform: lowercase;
    }

    &.c-tags--pill {
        .c-tags__tag {
            background-color: $c-tags-pill-background;
            color: $c-tags-pill-color;
            padding: calc($base * 0.5) calc($base * 1.5);
            border-radius: calc($base * 3);
            filter: $detail-shadow-2;

            &:hover {
                color: $c-tags-pill-color;
            }
        }
    }

    .c-tags__tag {
        font-size: $font-size-meta;
        text-decoration: none;
        display: flex;
        align-items: center;

        &.is-hidden {
            display: none;
        }

        &:hover, &:visited, &:active {
            color: inherit;
        }
    }

    a.c-tags__tag:hover {
        text-decoration: underline;
    }
}