@use "../setting/var_colors";
@use "../setting/var_default";
@use "../setting/var_fonts";
@use "../setting/var_properties";

$c-tags-pill-background: var(--c-tags-pill-background, var_colors.$color-background-card);
$c-tags-pill-color: var(--c-field-label-color, var_colors.$color-darker);

.c-tags {
    display: flex;
    flex-wrap: wrap;
    gap: #{var(--base)};

    &--format .c-tags__tag {
        word-spacing: -0.5ex;
        text-transform: lowercase;
    }

    &.c-tags--pill {
        .c-tags__tag {
            background-color: $c-tags-pill-background;
            color: $c-tags-pill-color;
            padding: calc(var(--base) * 0.5) calc(var(--base) * 1.5);
            border-radius: calc(var(--base) * 3);
            filter: var_properties.$detail-shadow-2;

            &:hover {
                color: $c-tags-pill-color;
            }
        }
    }

    .c-tags__tag {
        font-size: var_fonts.$font-size-meta;
        text-decoration: none;
        display: flex;
        align-items: center;

        &.is-hidden {
            display: none;
        }

        &:hover, &:visited, &:active {
            color: inherit;
        }
    }

    a.c-tags__tag:hover {
        text-decoration: underline;
    }
}