@use "../setting/var_default";

.c-tags {
    display: flex;
    flex-wrap: wrap;
    gap: var(--base);

    &--format .c-tags__tag {
        word-spacing: -0.5ex;
        text-transform: lowercase;
    }

    &.c-tags--pill {
        .c-tags__tag {
            background-color: var(--c-tags-pill-background, var(--color-background-card, var(--color-white, #ffffff)));
            color: var(--c-field-label-color, var(--color-darker, #565656));
            padding: calc(var(--base) * 0.5) calc(var(--base) * 1.5);
            border-radius: calc(var(--base) * 3);
            filter: var(--detail-shadow-2, drop-shadow(0px 4px 4px rgba(0,0,0,.1)));

            &:hover {
                color: var(--c-field-label-color, var(--color-darker, #565656));
            }
        }
    }

    .c-tags__tag {
        font-size: 0.875rem;
        text-decoration: none;
        display: flex;
        align-items: center;

        &.is-hidden {
            display: none;
        }

        &:hover, &:visited, &:active {
            color: inherit;
        }
    }

    a.c-tags__tag:hover {
        text-decoration: underline;
    }
}