@use "sass:map";
@use "../mixin/mq";
@use "../setting/var_colors";
@use "../setting/var_default";
@use "../setting/var_fonts";
@use "../setting/var_properties";
@use "card";

.c-testimonials {
    // General
    .c-testimonial .c-card__paint-container {
        display: grid;
        grid-template-rows: auto 1fr;
        grid-template-columns: calc(#{var(--base)} * 11) auto;
        grid-template-areas: "image header" "quote quote";
        padding: map.get(var_default.$spacers, "4");

        .c-testimonial__header {
            margin-left: calc(var(--base, 8px) * 4);

            & .c-divider {
                margin: 0;
                border-color: var(--color--complementary-light);
            }
            .c-testimonial__author {
                font-size: calc(var(--base, 8px) * 3);
                color: var(--color--darkest);
                overflow-wrap: break-word;
                margin-top: calc(var(--base, 8px) * 2);
            }
            .c-testimonial__title {
                color: var(--color--primary-dark);
                max-width: 25ch;
                margin-bottom: map.get(var_default.$spacers, "1");
                margin-top: calc(var(--base, 8px));
            }
        }
        
        // Flat card
        &.c-card--flat {
            .c-testimonial__image {
                filter: none;
            }
        }
    }
    
    .c-testimonial__quote {
        grid-area: quote;
        font-style: italic;
        font-weight: var(--font-weight-italic);
        font-family: var(--font-family-italic);
    }

    .c-testimonial__image {
        width: calc(#{var(--base)} * 11);
        max-height: calc(#{var(--base)} * 14);
        border-radius: card.$c-card-border-radius;
        corner-shape: var(--corner-shape);
        overflow: hidden;
        filter: var(--shadow-3);
        grid-area: image;
        
        &.c-image .c-image__image {
            object-fit: cover;
            width: 100%;
            height: 100%;
        }
    }

    // Non-carousel
    .c-testimonials__wrapper {
        display: grid;
        grid-template-columns: 100%;
        row-gap: calc(#{var(--base)} * 7);
    }

    // Slider style
    .c-testimonials__slider {
        .c-slider {
            max-height: unset;
            
            .c-slider__item {
                display: flex;
                justify-content: center;
                align-items: center;

                .c-slider__item__container {
                    width: 100%;
                    position: static;
                    padding: 0;
                    height: 100%;
                    display: grid;
                    grid-template-rows: none;

                    & .c-testimonial {
                        filter: none;
                    }
                }
            }
            
            .c-slider__container .c-slider__inner {
                position: static;
            }
        }

        .c-slider.is-active .c-slider__container {
            padding-top: 0;
        }

        .c-slider__arrows {
            .splide__arrow {
                &.splide__arrow--prev {
                    left: calc(#{var(--base)} * -2.5);
                }
                &.splide__arrow--next {
                    right: calc(#{var(--base)} * -2.5);
                }
            }
        }
    }
}

@include mq.mq(map.get(var_default.$breakpoints-map, "md")) {
    .c-testimonials {
        & .c-testimonials__wrapper {
            grid-template-columns: 1fr 1fr;
            column-gap: calc(#{var(--base)} * 7);
            row-gap: calc(#{var(--base)} * 6);
    
            margin-left: map.get(var_default.$spacers, "8");
            margin-right: map.get(var_default.$spacers, "8");
        }

        & .c-testimonials__slider {
            padding-left: calc(#{var(--base)} * 7);
            padding-right: calc(#{var(--base)} * 7);
        }
    }
}
