.c-testimonials {

    &__header {

        & h2 {
            font-weight: 900;
            font-size: calc(var(--base, 8px) * 4);
            color: $color-darkest;
        }

        & .c-divider {
            margin: 0;
            border-color: $color-lighter;
        }

        
    }

    &__title {
        color: $color-primary-dark;
    }

    &__image {
        margin: 0 auto;
        text-align:center;
    }

    &__image {
        max-height: 80vh;
        overflow: hidden;

        img {
            max-width: 100%;
            width: 100%;
            height: auto;
        }
    }

    .c-avatar {
        margin: 0 auto;
    }

    .c-avatar__image,
    .c-avatar__initials {
        position:relative;
        top: unset;
        left: unset;
        right:unset;
        bottom: unset;
    }

    &__quote {
        margin-top: calc(var(--base, 8px) * 4);
        font-style: italic;
        
    }

    :nth-child(even) {

        .c-testimonials__image {
            margin-bottom: $base;
        }
    }

    h3.c-typography__variant--h3 {
        margin-bottom: map-get($spacers, "1");
        margin-top: calc(var(--base, 8px));
    }

    h2.c-typography__variant--h2 {
        margin-top: calc(var(--base, 8px) * 2);
    }
}
