.c-testimonial__image {
    width: calc(#{$base} * 11);
    max-height: calc(#{$base} * 14);
    border-radius: calc(#{$base} * 1);
    overflow: hidden;
    filter: $drop-shadow-3;
    grid-area: image;

    &.c-image .c-image__image {
        object-fit: cover;
        width: 100%;
        height: 100%;
    }
}
    
    .c-testimonial__header {
        grid-area: header;
    }

    .c-testimonial__quote {
        grid-area: quote;
    }