.c-testimonials {

    &__header {

        :first-child {
            font-weight: $font-weight-bold;
        }

        :last-child {
            margin-bottom: map-get($spacers, "1");
        }
    }

    &__header, &__image {
        margin: 0 auto;
        text-align:center;
    }

    &__image {
        max-height: 60vh;
        overflow: hidden;

        img {
            max-width: 100%;
            width: 100%;
            height: auto;
        }
    }

    .c-avatar {
        margin: 0 auto;
    }

    .c-avatar__image,
    .c-avatar__initials {
        position:relative;
        top: unset;
        left: unset;
        right:unset;
        bottom: unset;
    }

    &__quote {
        margin-top: $base;
        font-style: italic;
    }

    :nth-child(odd) {

        .c-testimonials__image {
            margin-top: $base;
        }
    }

    :nth-child(even) {

        .c-testimonials__image {
            margin-bottom: $base;
        }
    }
}
