@use "sass:map";
@use "../setting/var_border-radius";
@use "../setting/var_colors";
@use "../setting/var_default";

.c-textarea {
    position: relative;
    
    textarea {
        width: 100%;
        margin: 0;
        outline: 0;
        min-height: calc(#{var_default.$base}*25);
        appearance: none;
        padding: map.get(var_default.$spacers, "2");
        font-size: 1rem;
        background: var_colors.$color-form-fields;
        border: 1px solid var_colors.$color-form-fields;
        transition: color .1s ease;
        background-size: calc(#{var_default.$base}*2);
        border-radius: var(--radius-md);
        line-height: 1.5;

        &:focus {
            background-color: var_colors.$color-form-fields-focus;
            box-shadow: 0 0 0 0 rgba(34, 36, 38, .35) inset;
        }
    }

    textarea:focus {
        border-bottom: 2px solid var_colors.$color-in-action;
        transition: ease-in-out .3s;
    }

    label {
        font-size: 14px;
        color: var_colors.$color-form-fields-label;
        position: absolute;
        top: calc(#{var_default.$base}*2);
        left: calc(#{var_default.$base}*2);
        transform-origin: top left;
        transform: translate(0, 0) scale(1);
        transition: all .1s ease-in-out;
        cursor: text;
        pointer-events: none;
    }

    textarea:focus+label,
    textarea:not(:placeholder-shown)+label {
        transform: translate(0, -60%) scale(.75);
    }

    textarea:after,
    textarea:after.valid:after {
        border-bottom: 2px solid var_colors.$color-success;
    }

    textarea.invalid {
        border-bottom: 1px solid var_colors.$color-primary-dimmed;
        transition: ease-in-out .3s;
    }

    textarea.valid {
        border-bottom: 2px solid var_colors.$color-success;
        transition: ease-in-out .3s;
    }

    .error.active {
        padding: 0.3rem;
    }

    .c-textarea-invalid-message {
        width: 100%;
        padding: map.get(var_default.$spacers, "1") ;
        display: none;
        font-size: 80%;
        color: var_colors.$color-white;
        background-color: var_colors.$color-danger;
        border:none;
        border-radius: 0 0 var(--radius-sm) var(--radius-sm);
        box-sizing: border-box;

        &.error {
            display: block;
            transition: ease-in-out .3s;
        }

        .c-icon {
            position: relative;
            top: 3px;
        }
    }
}