@use "sass:map";
@use "../mixin/list";
@use "../mixin/mq";
@use "../setting/var_default";
@use "../setting/var_fonts";
@use "../setting/var_properties";

$c-timeline-card-text-color: var(--c-timeline-card-text-color, black);
$c-timeline-card-background-color: var(--c-timeline-card-background-color, white);
$c-timeline-marker-background-color: var(--c-timeline-marker-background-color, black);
$c-timeline-marker-border-color: var(--c-timeline-marker-border-color, white);
$c-timeline-marker-text-color: var(--c-timeline-marker-text-color, white);

.c-timeline {
    position: relative;
    margin: 0 auto;
    padding: 0;

    &::after {
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);

        width: 1px;
        background-color: black;
    }

    &--sequential {
        .c-timeline__event {
            .c-timeline__marker {
                border-radius: 50%;
                height: calc(#{var_default.$base} * 3);
                width: calc(#{var_default.$base} * 3);

                @include mq.mq(null, map.get(var_default.$breakpoints-map, 'md')) {
                    top: calc(var(--base, 8px) * 3);
                }
            }

            &--active {
                --c-timeline-marker-border-color: var(--color-primary, black);
            }
        }
    }
}

/* Container around content */
.c-timeline__event {
    position: relative;
    padding: 0;
    @include list.unlist();

    .c-timeline__event__card {
        width: calc(50% - calc(#{var_default.$base} * 5));
        background-color: #{$c-timeline-card-background-color};
        color: #{$c-timeline-card-text-color};
    }

    .c-timeline__event__card {
        &::before {
            content: '';
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            right: calc(#{var_default.$base} * -1);
            height: 0;
            width: 0;
            z-index: var(--level-1);
            border: 0 solid #{$c-timeline-card-background-color};
            border-width: #{var_default.$base} 0 #{var_default.$base} #{var_default.$base};
            border-color: transparent transparent transparent #{$c-timeline-card-background-color};
        }
        
        &.c-card--flat {
            background: none;

            &::before {
                display: none;
            }
        }
    }


    &:nth-child(odd) {
        left: 0%;
    }

    .c-timeline__marker {
        position: absolute;
        transform: translate(50%, -50%);
        background-color: #{$c-timeline-marker-background-color};
        border: calc(#{var_default.$base} * 0.5) solid #{$c-timeline-marker-border-color};
        border-radius: 50%;
        z-index: 1;

        @include mq.mq(map.get(var_default.$breakpoints-map, 'md'), null) {
            width: calc(#{var_default.$base} * 3);
            height: calc(#{var_default.$base} * 3);
            top: 50%;
            right: 50%;
        }

        .c-timeline__date {
            color: #{$c-timeline-marker-text-color};
        }
    }

    @include mq.mq(map.get(var_default.$breakpoints-map, 'md'), null) {
        .c-timeline__date {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            left: calc(50% + calc(#{var_default.$base} * 3));
        }

        &:nth-child(even) {
            .c-timeline__date {
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                right: calc(50% + calc(#{var_default.$base} * 3));
                left: initial;
            }
        }
    }

    &:nth-child(even) {
        .c-timeline__event__card {
            left: calc(50% + calc(#{var_default.$base} * 5));
            &::before {
                left: calc(#{var_default.$base} * -1);
                border: 0 solid #{$c-timeline-card-background-color};
                border-width: #{var_default.$base} #{var_default.$base} #{var_default.$base} 0;
                border-color: transparent #{$c-timeline-card-background-color} transparent transparent;
            }
        }
    }
}

@include mq.mq(null, map.get(var_default.$breakpoints-map, 'md')) {
    .c-timeline::after {
        left: calc(#{var_default.$base} * 3);
        transform: translateX(50%);
    }

    .c-timeline__event {
        padding-left: calc(#{var_default.$base} * 10);

        .c-timeline__event__card {
            left: 0 !important;
            width: 100%;

            &::before {
                top: calc(#{var_default.$base} * 4.5);
                left: calc(#{var_default.$base} * -1);
                border: 0 solid #{$c-timeline-card-background-color};
                border-width: #{var_default.$base} #{var_default.$base} #{var_default.$base} 0;
                border-color: transparent #{$c-timeline-card-background-color} transparent transparent;
            }
        }

        .c-timeline__date {
            text-align: center;
            position: relative;
            color: #fff;
            font-size: var_fonts.$font-size-meta;
            display: inline;
        }

        .c-timeline__marker {
            padding: calc(#{var_default.$base} * 0.5) calc(#{var_default.$base} * 0.75);
            border-radius: 3px;
            left: calc(#{var_default.$base} * 3);
            top: calc(#{var_default.$base} * 5);
            transform: translateX(-50%);
        }
    }
}
