$c-timeline-card-text-color: var(--c-timeline-card-text-color, black);
$c-timeline-card-background-color: var(--c-timeline-card-background-color, white);
$c-timeline-marker-background-color: var(--c-timeline-marker-background-color, black);
$c-timeline-marker-border-color: var(--c-timeline-marker-border-color, white);
$c-timeline-marker-text-color: var(--c-timeline-marker-text-color, white);

.c-timeline {
    position: relative;
    margin: 0 auto;
    padding: 0;

    &::after {
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);

        width: 1px;
        background-color: black;
    }
}

/* Container around content */
.c-timeline__event {
    position: relative;
    padding: 0;
    @include unlist();

    .c-timeline__event__card {
        width: calc(50% - calc(#{$base} * 5));
        background-color: #{$c-timeline-card-background-color};
        color: #{$c-timeline-card-text-color};
    }

    .c-timeline__event__card {
        &::before {
            content: '';
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            right: calc(#{$base} * -1);
            height: 0;
            width: 0;
            z-index: $level-1;
            border: 0 solid #{$c-timeline-card-background-color};
            border-width: #{$base} 0 #{$base} #{$base};
            border-color: transparent transparent transparent #{$c-timeline-card-background-color};
        }
        
        &.c-card--flat {
            background: none;

            &::before {
                display: none;
            }
        }
    }


    &:nth-child(odd) {
        left: 0%;
    }

    .c-timeline__marker {
        position: absolute;
        transform: translate(50%, -50%);

        @include mq(map_get($breakpoints-map, 'md'), null) {
            width: calc(#{$base} * 3);
            height: calc(#{$base} * 3);
            top: 50%;
            right: 50%;
        }

        background-color: #{$c-timeline-marker-background-color};
        border: calc(#{$base} * 0.5) solid #{$c-timeline-marker-border-color};
        border-radius: 50%;
        z-index: 1;

        .c-timeline__date {
            color: #{$c-timeline-marker-text-color};
        }
    }

    @include mq(map_get($breakpoints-map, 'md'), null) {
        .c-timeline__date {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            left: calc(50% + calc(#{$base} * 3));
        }

        &:nth-child(even) {
            .c-timeline__date {
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                right: calc(50% + calc(#{$base} * 3));
                left: initial;
            }
        }
    }

    &:nth-child(even) {
        .c-timeline__event__card {
            left: calc(50% + calc(#{$base} * 5));
            &::before {
                left: calc(#{$base} * -1);
                border: 0 solid #{$c-timeline-card-background-color};
                border-width: #{$base} #{$base} #{$base} 0;
                border-color: transparent #{$c-timeline-card-background-color} transparent transparent;
            }
        }
    }
}

@include mq(null, map_get($breakpoints-map, 'md')) {
    .c-timeline::after {
        left: calc(#{$base} * 3);
        transform: translateX(50%);
    }

    .c-timeline__event {
        padding-left: calc(#{$base} * 10);

        .c-timeline__event__card {
            left: 0 !important;
            width: 100%;

            &::before {
                top: calc(#{$base} * 4.5);
                left: calc(#{$base} * -1);
                border: 0 solid #{$c-timeline-card-background-color};
                border-width: #{$base} #{$base} #{$base} 0;
                border-color: transparent #{$c-timeline-card-background-color} transparent transparent;
            }
        }

        .c-timeline__date {
            text-align: center;
            position: relative;
            color: #fff;
            font-size: $font-size-meta;
            display: inline;
        }

        .c-timeline__marker {
            padding: calc(#{$base} * 0.5) calc(#{$base} * 0.75);
            border-radius: 3px;
            left: calc(#{$base} * 3);
            top: calc(#{$base} * 5);
            transform: translateX(-50%);
        }
    }
}
