@use "sass:map";
@use "../mixin/mq";
@use "../setting/var_default";

.c-tooltip {
    display: flex;

    .c-tooltip__wrapper {
        position: relative;
        display: inline-flex;
    }

    &.is-hidden {
        .c-tooltip__container {
            display: none;
        }
    }

    &.is-visible {
        .c-tooltip__container {
            opacity:1;
            display: block;
            animation-name: opacityAnimation;
            animation-duration: .2s;
        }
    }

    .c-tooltip__container {
        position: absolute;
        border-radius: var(--c-tooltip-border-radius, var(--radius-xs, calc(var(--base) / 4)));
        z-index: var(--level-9);
        width:max-content;
        top: 100%;
        left: 50%;
        transform: translateX(-50%);
        max-width: calc(var(--base) * 25);
        background-color: var(--c-tooltip-background-color, var(--color-alpha, rgba(0, 0, 0, 0.55)));
        display: none;

        .c-tooltip__arrow {
            content: " ";
            display: flex;
            position: absolute;
            bottom: 100%; 
            left: 50%;
            margin-left: -5px;
            border-width: 5px;
            border-style: solid;
            border-color: transparent transparent var(--c-tooltip-background-color, var(--color-alpha, rgba(0, 0, 0, 0.55))) transparent;
        }

        .c-tooltip__content {
            color: var(--c-tooltip-content-color, var(--color-alpha-contrasting, var(--color-white, #ffffff)));
            padding: var(--base);
            text-align:center;
        }
    }

        &.c-tooltip--overflow-right {
            .c-tooltip__container {
                left:98%;
                transform: translateX(-98%);
                .c-tooltip__arrow {
                    left: 92%;
                }
            }
        }

        &.c-tooltip--overflow-left {
            .c-tooltip__container {
                left:2%;
                transform: translateX(2%);
                .c-tooltip__arrow {
                    left: 4%;
                }
            }
        }

    &.c-tooltip--top {
        .c-tooltip__container {
            top: 0;
            transform: translateY(-100%) translateX(-50%);
           
            .c-tooltip__arrow {
                bottom:unset;
                border-color: var(--c-tooltip-background-color, var(--color-alpha, rgba(0, 0, 0, 0.55))) transparent transparent transparent;
           }
        }
    }

     &.c-tooltip--right {
        .c-tooltip__container {
            left: 100%;
            top: 50%;
            transform: translateY(-50%);
            
        .c-tooltip__arrow {
            left:0;
            top: 50%;
            border-color: transparent var(--c-tooltip-background-color, var(--color-alpha, rgba(0, 0, 0, 0.55))) transparent transparent;
            transform: translateY(-50%) translateX(-50%);
            }
        }
    }

      &.c-tooltip--left {
        .c-tooltip__container {
            left: 0%;
            top: 50%;
            transform: translateY(-50%) translateX(-100%);
            
        .c-tooltip__arrow {
            left:100%;
            top: 50%;
            border-color: transparent transparent transparent var(--c-tooltip-background-color, var(--color-alpha, rgba(0, 0, 0, 0.55)));
            transform: translateY(-50%) translateX(50%);
            }
        }
    }

    @include mq.mq(map.get(var_default.$breakpoints-map, "md")) {
        .c-tooltip__container {
            max-width: calc(var(--base) * 30);
        }
    }

    @media print {
        .c-tooltip__container {
            display: none;
        }
    }

    @keyframes opacityAnimation { 
        from {opacity: 0;}
        to {opacity: 1;}
    }
}

[data-tooltip] {
    position: relative;
    display: inline-block;
    cursor: pointer;

    &::after {
        line-height: 1.4;
        font-size: .95em;
        filter: var(--drop-shadow-2, drop-shadow(0px 6px 8px rgba(0,0,0,.1)));
        content: attr(data-tooltip);
        position: absolute;
        border-radius: var(--c-tooltip-border-radius, var(--radius-xs, calc(var(--base) / 4)));
        z-index: var(--level-9);
        width: max-content;
        max-width: calc(var(--base) * 25);
        background-color: var(--c-tooltip-background-color, var(--color-alpha, rgba(0, 0, 0, 0.55)));
        color: var(--c-tooltip-content-color, var(--color-alpha-contrasting, var(--color-white, #ffffff)));
        padding: calc(var(--base) * .75) calc(var(--base) * .5);
        bottom: calc(100% + calc(var(--base) * .5));
        left: 50%;
        transform: translateX(-50%) translateY(var(--base));
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
        transition: opacity 0.2s ease-in-out, transform 0.2s ease-in-out;
        transition: 
            opacity 0.25s ease-out, 
            transform 0.25s cubic-bezier(0.16, 1, 0.3, 1);
        text-align: center;
        backdrop-filter: blur(calc(var(--base) * .5));
    }

    &::before {
        filter: var(--drop-shadow-2, drop-shadow(0px 6px 8px rgba(0,0,0,.1)));
        content: " ";
        position: absolute;
        bottom: calc(100% + calc(var(--base) * -.5)); 
        left: 50%;
        border-width: calc(var(--base) * .5);
        border-style: solid;
        border-color: var(--c-tooltip-background-color, var(--color-alpha, rgba(0, 0, 0, 0.55))) transparent transparent transparent;
        opacity: 0;
        visibility: hidden;
        transition: opacity 0.2s ease-in-out;
        transform: translateX(-50%) translateY(var(--base));
        backdrop-filter: blur(calc(var(--base) * .5));
    }

    &:hover::after, 
    &:focus::after, 
    &:hover::before, 
    &:focus::before {
        opacity: 1;
        visibility: visible;
        transform: translateX(-50%) translateY(calc(var(--base) * .5));
    }

    &:hover::after,
    &:focus::after {
        pointer-events: unset;
    }

    &:hover::before,
    &:focus::before {
        pointer-events: none;
    }
}