.c-tooltip {
      @include mq(map_get($breakpoints-map, "sm")) {
          position: relative;
      }
    display: inline-block;

    &.c-tooltip--full-width {
        position:unset;
        .c-tooltip__container {
            width: 99vw;

            .c-tooltip__arrow {
                display: none;
            }
        }
    }

    @include mq(map_get($breakpoints-map, "sm")) {
        &.c-tooltip--overflow-right {
            .c-tooltip__container {
                left:98%;
                transform: translateX(-98%);
                .c-tooltip__arrow {
                    left: 92%;
                }
            }
        }
    }

    @include mq(map_get($breakpoints-map, "sm")) {
        &.c-tooltip--overflow-left {
            .c-tooltip__container {
                left:2%;
                transform: translateX(2%);
                .c-tooltip__arrow {
                    left: 4%;
                }
            }
        }
    }

    .c-tooltip__container {
        position: absolute;
        border-radius: $border-radius-xs;
        z-index: $level-9;
        display: block;
        max-width: 200px;
        transform: none;
        left: 0;

        .c-tooltip__arrow {
            display: none;
        }

        @include mq(map_get($breakpoints-map, "sm")) {
        top: 100%;
        left: 50%;
        transform: translateX(-50%);
        width: 200px;
        max-width: 400px;

        /* Arrow */
        .c-tooltip__arrow {
            content: " ";
            display: flex;
            position: absolute;
            bottom: 100%; 
            left: 50%;
            margin-left: -5px;
            border-width: 5px;
            border-style: solid;
            border-color: transparent transparent inherit transparent;
            color: inherit;
        }
    }

        .c-tooltip__content {
            color: white;
            padding: $base;
        }
    }

    &.c-tooltip--top {
        .c-tooltip__container {
            top: 0;
            transform: translateY(-100%) translateX(-50%);
           
            .c-tooltip__arrow {
               bottom:unset;
               border-color: inherit transparent transparent transparent;
           }
        }
    }

@include mq(map_get($breakpoints-map, "md")) {
    &.c-tooltip--right {
        .c-tooltip__container {
            left: 100%;
            top: 50%;
            transform: translateY(-50%);
            
        .c-tooltip__arrow {
            left:0;
            top: 50%;
            border-color: transparent inherit transparent transparent;
            transform: translateY(-50%) translateX(-50%);
            }
        }
    }
}

@include mq(map_get($breakpoints-map, "md")) {
     &.c-tooltip--left {
        .c-tooltip__container {
            left: 0%;
            top: 50%;
            transform: translateY(-50%) translateX(-100%);
            
        .c-tooltip__arrow {
            left:100%;
            top: 50%;
            border-color: transparent transparent transparent inherit;
            transform: translateY(-50%) translateX(50%);
            }
        }
    }
}

    @media print {

        &:before {
            display: none !important;
        }

        &:after {
            display: inline-block;
            content: "(" attr(data-title) ")";
            margin-left: .3em;
            color: $color-white;
            font-size: .8em;
        }
    }

    :hover,
    :focus,
    :focus>[data-title] {

        &:after,
        &:before {
            display: inline-block;
        }
    }
}