$c-tooltip-border-radius: var(--c-tooltip-border-radius, $border-radius-xs) !default;
$c-tooltip-color: var(--c-tooltip-background-color, $color-alpha) !default;
$c-tooltip-content-color: var(--c-tooltip-content-color, $color-alpha-contrasting) !default;

.c-tooltip {
    display: flex;

    .c-tooltip__wrapper {
        position: relative;
        display: inline-flex;
    }

    &.is-hidden {
        .c-tooltip__container {
            display: none;
        }
    }

    &.is-visible {
        .c-tooltip__container {
            opacity:1;
            display: block;
            animation-name: opacityAnimation;
            animation-duration: .2s;
        }
    }

    .c-tooltip__container {
        position: absolute;
        border-radius: $c-tooltip-border-radius;
        z-index: $level-9;
        width:max-content;
        top: 100%;
        left: 50%;
        transform: translateX(-50%);
        max-width: calc($base * 25);
        background-color: $c-tooltip-color;
        display: none;

        .c-tooltip__arrow {
            content: " ";
            display: flex;
            position: absolute;
            bottom: 100%; 
            left: 50%;
            margin-left: -5px;
            border-width: 5px;
            border-style: solid;
            border-color: transparent transparent $c-tooltip-color transparent;
        }

        .c-tooltip__content {
            color: $c-tooltip-content-color;
            padding: $base;
            text-align:center;
        }
    }

        &.c-tooltip--overflow-right {
            .c-tooltip__container {
                left:98%;
                transform: translateX(-98%);
                .c-tooltip__arrow {
                    left: 92%;
                }
            }
        }

        &.c-tooltip--overflow-left {
            .c-tooltip__container {
                left:2%;
                transform: translateX(2%);
                .c-tooltip__arrow {
                    left: 4%;
                }
            }
        }

    &.c-tooltip--top {
        .c-tooltip__container {
            top: 0;
            transform: translateY(-100%) translateX(-50%);
           
            .c-tooltip__arrow {
                bottom:unset;
                border-color: $c-tooltip-color transparent transparent transparent;
           }
        }
    }

     &.c-tooltip--right {
        .c-tooltip__container {
            left: 100%;
            top: 50%;
            transform: translateY(-50%);
            
        .c-tooltip__arrow {
            left:0;
            top: 50%;
            border-color: transparent $c-tooltip-color transparent transparent;
            transform: translateY(-50%) translateX(-50%);
            }
        }
    }

      &.c-tooltip--left {
        .c-tooltip__container {
            left: 0%;
            top: 50%;
            transform: translateY(-50%) translateX(-100%);
            
        .c-tooltip__arrow {
            left:100%;
            top: 50%;
            border-color: transparent transparent transparent $c-tooltip-color;
            transform: translateY(-50%) translateX(50%);
            }
        }
    }

    @include mq(map_get($breakpoints-map, "md")) {
        .c-tooltip__container {
            max-width: calc($base * 30);
        }
    }

    @media print {
        .c-tooltip__container {
            display: none;
        }
    }

    @keyframes opacityAnimation { 
        from {opacity: 0;}
        to {opacity: 1;}
    }
}