.c-tooltip {
    display: inline-flex;

    &.c-tooltip--full-width {
        position:unset;
        .c-tooltip__container {
            width: 99vw;
            
            .c-tooltip__arrow {
                display: none;
            }
        }
    }

    .c-tooltip__container {
        visibility: hidden;
        position: absolute;
        border-radius: $border-radius-xs;
        z-index: $level-9;
        display: block;
        max-width: 200px;
        width:max-content;
        transform: none;
        left: 0;
        opacity: 0;
        transition: .2s;

        .c-tooltip__arrow {
            display: none;
        }

        .c-tooltip__content {
            color: white;
            padding: $base;
            text-align:center;
        }
    }

    &.c-tooltip--top {
        .c-tooltip__container {
            top: 0;
            transform: translateY(-100%) translateX(-50%);
           
            .c-tooltip__arrow {
                bottom:unset;
                border-bottom-color: transparent;
                border-top-color: inherit;
                border-left-color: transparent;
                border-right-color: transparent;
           }
        }
    }

    @include mq(map_get($breakpoints-map, "sm")) {

        position: relative;

        &.c-tooltip--overflow-right {
            .c-tooltip__container {
                left:98%;
                transform: translateX(-98%);
                .c-tooltip__arrow {
                    left: 92%;
                }
            }
        }

        &.c-tooltip--overflow-left {
            .c-tooltip__container {
                left:2%;
                transform: translateX(2%);
                .c-tooltip__arrow {
                    left: 4%;
                }
            }
        }
    }

@include mq(map_get($breakpoints-map, "md")) {

    .c-tooltip__container {
        top: 100%;
        left: 50%;
        transform: translateX(-50%);
        max-width: 400px;

        .c-tooltip__arrow {
            content: " ";
            display: flex;
            position: absolute;
            bottom: 100%; 
            left: 50%;
            margin-left: -5px;
            border-width: 5px;
            border-style: solid;
            border-bottom-color: inherit;
            border-top-color: transparent;
            border-left-color: transparent;
            border-right-color: transparent;
            color: inherit;
        }
    }

     &.c-tooltip--right {
        .c-tooltip__container {
            left: 100%;
            top: 50%;
            transform: translateY(-50%);
            
        .c-tooltip__arrow {
            left:0;
            top: 50%;
            border-bottom-color: transparent;
            border-top-color: transparent;
            border-left-color: transparent;
            border-right-color: inherit;
            transform: translateY(-50%) translateX(-50%);
            }
        }
    }

      &.c-tooltip--left {
        .c-tooltip__container {
            left: 0%;
            top: 50%;
            transform: translateY(-50%) translateX(-100%);
            
        .c-tooltip__arrow {
            left:100%;
            top: 50%;
            border-bottom-color: transparent;
            border-top-color: transparent;
            border-left-color: inherit;
            border-right-color: transparent;
            transform: translateY(-50%) translateX(50%);
            }
        }
    }

}

    @media print {
        .c-tooltip__container {
            display: none !important;
        }
    }

        &:hover,
        &:focus {
            .c-tooltip__container {
                visibility: visible;
                opacity:1;
            }
        }
}