@use "../setting/var_fonts";

.c-typography.c-typography__variant-- {

    &h1, &h2, &h3, &h4, &h5, &h6 {
        overflow-wrap: break-word;
    }

    &h1 {
        @extend .h1 !optional;
    }
    
    &h2 {
        @extend .h2 !optional;
    }
    
    &h3 {
        @extend .h3 !optional;
    }
    
    &h4 {
        @extend .h4 !optional;
    }

    &h5 {
        @extend .h5 !optional;
    }

    &h6 {
        @extend .h6 !optional;
    }

    &headline {
        font-size: var_fonts.$font-size-headline;
    }

    &title {
        font-family: var_fonts.$font-family-heading;
        font-size: var_fonts.$font-size-title;
        font-weight: var_fonts.$font-weight-heading;
        line-height: var_fonts.$line-height-heading;
        letter-spacing: var_fonts.$letter-spacing-heading;
    }

    &subtitle {
        font-size: var_fonts.$font-size-subtitle;
    }

    &bold {
        font-weight: var_fonts.$font-weight-bold;
        font-family: var_fonts.$font-family-bold;
        font-size: var_fonts.$font-size-base;
        line-height: var_fonts.$line-height-base;
        letter-spacing: var_fonts.$letter-spacing-base;
    }

    &body,
    &p {
        font-size: var_fonts.$font-size-base;
        font-family: var_fonts.$font-family-base;
        line-height: var_fonts.$line-height-base;
        font-weight: var_fonts.$font-weight-base;
        letter-spacing: var_fonts.$letter-spacing-base;
    }

    &caption {
        font-size: var_fonts.$font-size-caption;
    }

    &byline {
        font-size: var_fonts.$font-size-caption;
    }

    &meta {
        font-size: var_fonts.$font-size-meta;
    }

    &marketing {
        font-weight: var_fonts.$font-weight-bold;
        font-family: var_fonts.$font-family-bold;
        font-size: var_fonts.$font-size-marketing;
        line-height: 124%;
    }

    &email {
        word-break: break-all;
        hyphens: auto;
    }

}
