@use "../element/headings";
@use "../setting/var_fonts";

.c-typography.c-typography__variant-- {

    &h1, &h2, &h3, &h4, &h5, &h6 {
        overflow-wrap: break-word;
    }

    &h1 {
        @extend .h1 !optional;
    }
    
    &h2 {
        @extend .h2 !optional;
    }
    
    &h3 {
        @extend .h3 !optional;
    }
    
    &h4 {
        @extend .h4 !optional;
    }

    &h5 {
        @extend .h5 !optional;
    }

    &h6 {
        @extend .h6 !optional;
    }

    &headline {
        font-size: var(--font-size-headline);
    }

    &title {
        font-family: var(--font-family-heading);
        font-size: var(--font-size-title);
        font-weight: var(--font-weight-heading);
        line-height: var(--line-height-heading);
        letter-spacing: var_fonts.$letter-spacing-heading;
    }

    &subtitle {
        font-size: var(--font-size-subtitle);
    }

    &bold {
        font-weight: var(--font-weight-bold);
        font-family: var(--font-family-bold);
        font-size: var(--font-size-base);
        line-height: var(--line-height-base);
        letter-spacing: var_fonts.$letter-spacing-base;
    }

    &body,
    &p {
        font-size: var(--font-size-base);
        font-family: var(--font-family-base);
        line-height: var(--line-height-base);
        font-weight: var(--font-weight-base);
        letter-spacing: var_fonts.$letter-spacing-base;
    }

    &caption {
        font-size: var(--font-size-caption);
    }

    &byline {
        font-size: var(--font-size-caption);
    }

    &meta {
        font-size: var(--font-size-meta);
    }

    &marketing {
        font-weight: var(--font-weight-bold);
        font-family: var(--font-family-bold);
        font-size: var(--font-size-marketing);
        line-height: 124%;
    }

    &email {
        word-break: break-all;
        hyphens: auto;
    }

}
