.box.box-author {
    $margin-top: 42px;

    margin-top: $margin-top;
    text-align: center;

    .box-image {
        display: block;
        width: 150px;
        margin: 0 auto;
        margin-top: -$margin-top;
        border-radius: 50%;
    }

    .author-name {
        font-size: 1.5em;
        line-height: 1.2;
        font-weight: bold;
    }

    .author-description {
        margin-top: 15px;
    }
}
