.box {
    @include box;

    &:not(.box-news-horizontal):not(.box-panel-secondary):not(.box-news-circular) {
        @include material-radius;
        @include material-shadow;
    }

    &.box-panel-secondary > :not(.box-title):not(.accordion-table-head) {
        @include material-radius;
        @include material-shadow;
    }
}

body:not(.material-no-radius) .main-footer .box:not(.box-news-horizontal):not(.box-panel-secondary) {
    box-shadow: none;
}

.box.box-plain {
    padding: 0;
    box-shadow: none !important;
}

.box-border {
    border: 1px solid $creamy-darker;
}

.box + .box {
    margin-bottom: 0;
    margin-top: $content-gutter;
}

.box-content {
    @include box-content;
    flex: 1 1 auto;
}

.box-content img {
    max-width: 100%;
    height: auto;
}

.creamy .box:not(.box-news):not(.box-post-brick) .box-content {
    background-color: #fff;
}

.box-image {
    width: 100%;
    flex: 0 0 auto;
    display: block;
}

.box-card-post {
    .box-image {
        background-repeat: no-repeat;
        background-position: center;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
}

.box.box-filled .box-title:last-child {
    padding-bottom: 32px;
}

.box-image-container {
    position: relative;
}

[data-equal-item] .box-image-container {
    flex: 0 0 auto;
}
