//
// @name Post brick box
// @description Display a post brick on image background
//
// @page Boxes/Post brick
//
// @markup
// <div class="grid">
//     <div class="grid-md-6">
//          <a class="box box-post-brick" href="#">
//             <div style="background-image:url(https:\/\/unsplash.it/1200/800/?image=513);" class="box-image">
//                <img alt="Explicabo accusantium est necessitatibus" src="https:\/\/unsplash.it/1200/800/?image=513">
//             </div>
//
//             <div class="box-content">
//                <span class="box-post-brick-date">
//                    <time>19 february, 2016 09:48</time>
//                </span>
//                <h3 class="post-title">Jelly beans jujubes cupcake</h3>
//             </div>
//             <div class="box-post-brick-lead">
//                <p>Gummies cake marzipan tootsie roll oat cake cupcake. Jelly beans jujubes cupcake cotton candy cupcake gummi bears jelly bonbon croissant. Sweet gingerbread tootsie roll tootsie roll bonbon gingerbread marshmallow cake oat cake. Bear claw candy toffee marshmallow pie macaroon lemon drops powder. Dessert powder chocolate chocolate cake. Jelly-o cupcake ice cream cupcake cheesecake. Jelly beans candy cookie halvah chocolate cake marzipan.</p>
//             </div>
//        </a>
//     </div>
// </div>
//

.box-post-brick {
    $animation-speed: 300ms;
    $lead-height: 150px;

    position: relative;
    display: block;
    padding: 0;
    padding-bottom: 100%;
    overflow: hidden;

    .box-image {
        position: absolute;
        display: block;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;

        background-size: cover;
        background-position: center center;
        overflow: hidden;

        transition: $animation-speed all ease-in-out;

        img {
            display: none;
        }

        &::after {
            display: block;
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            height: 100%;
            content: '';
            @include gradient(rgba(#000, 0), rgba(#000, .8));
        }
    }

    .box-content {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;

        padding: 15px 20px;
        transition: $animation-speed all ease-in-out;
    }

    .post-title {
        font-weight: bold;
        color: #fff;
        font-size: 1.5rem;
        text-transform: none;
        margin-bottom: 0px;
        margin-top: 5px;
    }

    .box-post-brick-category {
        color: #fff;
        display: block;
    }

    .box-post-brick-date {
        padding: 2px 5px;
        font-size: 1rem;
        line-height: 1;
        background-color: #fff;
        color: #000;
    }

    .box-post-brick-lead {
        opacity: 0;
        padding: 0 20px 0 20px;
        transition: $animation-speed all ease-in-out;
        font-size: .9em;
        color: #fff;
        height: $lead-height;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        transform: translateY(100%);

        &::after {
            display: block;
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            height: 100%;
            content: '';
            @include gradient(rgba(#000, 0), rgba(#000, 1));
        }
    }

    .box-post-brick-action {
        opacity: 0;
        position: absolute;
        bottom: 20px;
        right: 20px;
        transition: 300ms opacity ease-in-out,
                    100ms background-color;
    }

    &[class*="brick-columns-"] {
        padding-bottom: 0;
    }

    &.brick-columns-3 {
        height: 280px;
        @media #{$screen-below-lg} {
            height: 190px;
        }
    }

    &.brick-columns-4 {
        height: 400px;
        @media #{$screen-below-lg} {
            height: 260px;
        }
    }

    &.brick-columns-6, &.brick-columns-12 {
        height: 500px;
        @media #{$screen-below-lg} {
            height: 415px;
        }
    }

    &:hover {
        .box-content {
            transform: translateY(-$lead-height);
        }

        .box-post-brick-lead {
            opacity: 1;
            transform: translateY(0);
        }

        .box-post-brick-action {
            display: block;
            opacity: 1;
        }
    }
}

.modularity-mod-sites .box-post-brick .box-image svg {
    @include center();
    width: 70%;
}

.grid > [class*="grid-"]:nth-child(5n + 1) > .box-post-brick {
    background-color: $palette-1;
}

.grid > [class*="grid-"]:nth-child(5n + 2) > .box-post-brick {
    background-color: $palette-2;
}

.grid > [class*="grid-"]:nth-child(5n + 3) > .box-post-brick {
    background-color: $palette-3;
}

.grid > [class*="grid-"]:nth-child(5n + 4) > .box-post-brick {
    background-color: $palette-4;
}

.grid > [class*="grid-"]:nth-child(5n + 5)  > .box-post-brick{
    background-color: $palette-5;
}
