//
// @name Index
// @description Box that usally is of type <code>&lt;a&gt;</code> (can also be used on other elements) and represents an entrance to a sub section.
//
// @page Boxes/Index
//
// @markup
// <div class="grid">
//     <div class="grid-md-6">
//         <a href="#" class="box box-index">
//             <img class="box-image" src="https:\/\/unsplash.it/610/250/?image=442">
//             <div class="box-content">
//                 <h5 class="box-index-title link-item">Candy canes donut jelly</h5>
//                 <p>Macaroon pastry sweet pastry lollipop tootsie roll candy canes sweet roll. Candy canes lollipop cake I love. Candy canes I love ice cream caramels I love I love.</p>
//             </div>
//         </a>
//     </div>
// </div>
//

.box-index {
    display: block;
    background-color: #fff;
    border: 1px solid $creamy-darker;
    color: $base-font-color;
    position: relative;

    img:not(.box-image) {
        @extend .img-inherit-width;
    }

    .box-content {
        margin-top: 5px;
    }

    .label-category {
        position: absolute;
        bottom: 0;
        left: 0;
        margin-left: 0;
        display: inline-block;
        border-radius: 0;
    }

    time {
        display: block;
        margin-bottom: 10px;
    }
}

a.box-index {
    color: $base-font-color;
    transition: 300ms background;

    &:hover {
        text-decoration: none;
        background-color: $creamy;
    }

    /*
    &:after {
        @include pricon($pricon-right-fat-arrow);
        color: #fff;
        position: absolute;
        bottom: 3px;
        right: 4px;
        font-size: 12px;
    }

    &:before {
        content: "";
        position: absolute;
        bottom: -1px;
        right: -1px;
        border-color: transparent;
        border-style: solid;
        border-width: 17px;
        border-right-color: lighten($palette-4, 20%);
        border-bottom-color: lighten($palette-4, 20%);
    }
    */
}

.box-index-title.link-item {
    @extend .text-highlight;
    display: block;
    line-height: 24px;
    margin-top: -2px;
    padding-bottom: .5em;
}
