//
// @name News
// @description Used to feature news stories.
//
// @page Boxes/News
//
// @markup
// <div class="grid">
//     <div class="grid-lg-6">
//         <a href="#" class="box box-news">
//             <img src="https:\/\/unsplash.it/420/280/?image=400" alt="Kommunalanställd">
//             <div class="box-content">
//                 <h5 class="link-item link-item-light">Candy canes chocolate cake</h5>
//             </div>
//         </a>
//     </div>
// </div>
//
// <div class="grid">
//     <div class="grid-lg-12">
//         <a href="#" class="box box-news box-news-horizontal">
//             <div class="box-image-container">
//                 <img src="https:\/\/unsplash.it/200/130/?image=600">
//             </div>
//             <div class="box-content">
//                 <h3 class="box-title text-highlight">Fruitcake toffee</h3>
//                 <time datetime="2016-05-27 08:50:36">2016-05-27 08:50</time>
//                 <p>Chocolate candy cookie ice cream fruitcake toffee cake. Jujubes sesame snaps oat cake jujubes toffee sweet. Caramels danish candy candy canes croissant.</p>
//                 <p><span class="link-item">Read more</span></p>
//             </div>
//         </a>
//     </div>
//     <div class="grid-lg-12">
//         <a href="#" class="box box-news box-news-horizontal">
//             <div class="box-image-container">
//                 <img src="https:\/\/unsplash.it/200/130/?image=500">
//             </div>
//             <div class="box-content">
//                 <h3 class="text-highlight">Croissant oat cake</h3>
//                 <p>Dessert muffin tart cheesecake toffee sweet roll. Halvah pudding jelly muffin soufflé. Bonbon ice cream gummies cotton candy halvah. Jelly chupa chups icing cookie.</p>
//                 <p><span class="link-item">Read more</span></p>
//             </div>
//         </a>
//     </div>
// </div>
//

.box-news:not(.box-news-horizontal) {
    .box-title,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        color: #fff;
    }

    .sub-heading time {
        display: block;
        float: none;
    }
}

.box-news {
    background-color: $palette-2;
    color: #fff;
    padding: 0;

    .box-title,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        margin: 0;

        &:not(.link-item) {
            padding: 0;
        }
    }

    img {
        display: block;
        width: 100%;
        height: auto;
    }

    .box-content {
        padding: $content-gutter;
    }

    .box-content h1,
    .box-content h2,
    .box-content h3,
    .box-content h4,
    .box-content h5,
    .box-content h6 {
        padding-bottom: 0;
    }

    time {
        font-size: .8em;
    }

    p:first-of-type {
        margin-top: 10px;
    }
}

a.box-news:hover {
    text-decoration: none;

    .box-title, h1, h2, h3, h4, h5, h6,
    .link-item {
        text-decoration: underline;
    }
}

.box-news.box-news-horizontal {
    display: table;
    width: 100%;
    background-color: transparent;
    color: $base-font-color;

    @media #{$screen-xs} {
        display: block;
        border: 1px solid $creamy-darker;
        padding: 5px;
    }

    .box-image-container {
        display: table-cell;
        vertical-align: top;
        width: 35%;

        img, .image-placeholder {
            @include material-radius;
            @include material-shadow;
        }

        @media #{$screen-sm-up} {
            & + .box-content {
                padding-left: $content-gutter * 2;
            }
        }

        @media #{$screen-xs} {
            display: block;
            width: 100%;

            .image-placeholder {
                display: none;
            }
        }
    }

    .box-content {
        display: table-cell;
        vertical-align: top;
        padding: 0;

        @media #{$screen-xs} {
            display: block;
            width: 100%;
            padding: 10px;
        }
    }

    .box-title, h1, h2, h3, h4, h4, h6 {
        margin-bottom: 8px;
        line-height: 1.2;

        & + time {
            position: relative;
            top: -5px;
        }
    }
}

.box-news-circular {
    text-align: center;

    .box-image-container {
        background-size: cover;
        background-position: center center;
        border-radius: 50%;
        width: 80%;
        margin: 0 auto;
        @include material-shadow;
        overflow: hidden;
        position: relative;

        &::after {
            content: '';
            display: block;
            width: 100%;
            padding-bottom: 100%;
        }

        .box-image {
            position: absolute;
            @include center();
            height: 100%;
            width: auto;
        }
    }

    &:hover {
        text-decoration: none;

        h3 {
            text-decoration: underline;
        }
    }
}
