//
// @name Panel
// @description Box that usally is of type <code>&lt;a&gt;</code> (can also be used on other elements) and represents an entrance to a sub section.
//
// @page Boxes/Panel
//
// @state .box-panel-primary - Promary look (Default)
// @state .box-panel-secondary - Secondary look
//
// @markup
// <div class="grid">
//     <div class="grid-md-6">
//         <div class="box box-panel box-panel-primary">
//             <h4 class="box-title">Primary panel box</h4>
//             <div class="box-content">
//                 <p>Primary box with plain text content.</p>
//             </div>
//         </div>
//     </div>
//     <div class="grid-md-6">
//         <div class="box box-panel box-panel-secondary">
//             <h4 class="box-title">Secondary panel box</h4>
//             <div class="box-content">
//                 <p>Secondary box with plain text content.</p>
//             </div>
//         </div>
//     </div>
// </div>
// <div class="grid">
//     <div class="grid-md-6">
//         <div class="box box-panel box-panel-primary">
//             <h4 class="box-title">Primary panel box</h4>
//             <ul>
//                 <li>This is a box panel</li>
//                 <li>Displaying a list</li>
//                 <li><a href="https:\/\/www.youtube.com/watch?v=dQw4w9WgXcQ" class="link-item">Do not click here</a></li>
//             </ul>
//         </div>
//     </div>
//     <div class="grid-md-6">
//         <div class="box box-panel box-panel-secondary">
//             <h4 class="box-title">Secondary panel box</h4>
//             <table class="table table-striped">
//                 <thead>
//                     <tr>
//                         <th>First column</th>
//                         <th>Second column</th>
//                     </tr>
//                 </thead>
//                 <tbody>
//                     <tr>
//                         <td>This is</td>
//                         <td>a box panel</td>
//                     </tr>
//                     <tr>
//                         <td>Displaying</td>
//                         <td>a table</td>
//                     </tr>
//                 </tbody>
//             </table>
//         </div>
//     </div>
// </div>
//

.box-panel,
.sidebar-content-area [class^="widget_"]:not(.widget_calendar),
.sidebar-content-area-bottom [class^="widget_"]:not(.widget_calendar) {
    display: block;
    padding: 0;

    .box-title,
    .widgettitle,
    > h1,
    > h2,
    > h3,
    > h4,
    > h5,
    > h6,
    .widget > h1,
    .widget > h2,
    .widget > h3,
    .widget > h4,
    .widget > h5,
    .widget > h6 {
        padding: $cell-padding;
        margin: 0;
        background-color: $palette-4;
        color: #fff;
        border-radius: 2px 2px 0 0;

        @media print {
            background-color: transparent !important;
            color: $base-font-color !important;
            border-bottom: 2px solid $base-font-color;
            padding: 10px 0;
        }
    }

    .box-content,
    .dataTables_wrapper {
        border: 1px solid $creamy-darker;
    }

    .box-title + .box-content {
        border-top: none;
    }

    .table, {
        border-top: 0;
        background-color: #fff;
    }

    .box-title + ul:not(.social-feed-gallery):not(.accordion) {
        border-top: 0;
    }

    > ul.accordion {
        background-color: #fff;
    }

    > ul:not(.social-feed-gallery):not(.accordion) {
        background-color: #fff;
        border: 1px solid $creamy-darker;

        li {
            padding: $content-gutter/1.5 $content-gutter;
        }

        li + li:not(.timeline-event) {
            border-top: 1px solid $creamy-darker;
        }

        &:not(.social-feed) {
            a {
                display: block;

                &:hover {
                    text-decoration: none !important;

                    .title {
                        text-decoration: underline !important;
                    }
                }

                time {
                    float: right;
                }
            }
        }
    }
}

.box-panel-secondary,
.sidebar-content-area [class^="widget_"]:not(.widget_calendar),
.sidebar-content-area-bottom [class^="widget_"]:not(.widget_calendar) {
    .box-title,
    .widgettitle,
    > h1,
    > h2,
    > h3,
    > h4,
    > h5,
    > h6,
    .widget > h1,
    .widget > h2,
    .widget > h3,
    .widget > h4,
    .widget > h5,
    .widget > h6 {
        padding: ($content-gutter/1.5 - 1.5) ($content-gutter - 1.5);
        padding-left: 0;
        background-color: transparent !important;
        border-bottom: 3px solid $palette-2;
        color: $palette-2;

        a {
            color: $palette-2;
        }
    }
}
