//
// @name Stripe
// @description The iconic Helsingborg brand stripe.<br><strong>ATTENTION:</strong> Do not use the gray stripe, it's only for demonstration purpose. The default behaviour of the stripe is to inherit color from the currently active color theme.
// @author Kristoffer Svanmark, Sebastian Thulin
//
// @state .stripe-red - Red stripe
// @state .stripe-blue - Blue stripe
// @state .stripe-green - Green stripe
// @state .stripe-pruple - Purple stripe
// @state .has-stripe - Put this class on the parent container to get corretct padding-left for the stripe
//
// @page Stripe
//
// @markup
// <div class="stripe">
//     <div></div>
//     <div></div>
//     <div></div>
//     <div></div>
//     <div></div>
// </div>
//
// <div class="stripe stripe-red">
//     <div></div>
//     <div></div>
//     <div></div>
//     <div></div>
//     <div></div>
// </div>
//
// <div class="stripe stripe-blue">
//     <div></div>
//     <div></div>
//     <div></div>
//     <div></div>
//     <div></div>
// </div>
//
// <div class="stripe stripe-green">
//     <div></div>
//     <div></div>
//     <div></div>
//     <div></div>
//     <div></div>
// </div>
//
// <div class="stripe stripe-purple">
//     <div></div>
//     <div></div>
//     <div></div>
//     <div></div>
//     <div></div>
// </div>
//

@mixin stripe($color-1: $palette-1, $color-2: $palette-2, $color-3: $palette-3, $color-4: $palette-4, $color-5: $palette-5) {
    div {
        width: 100%;
        height: (100% / 5);
    }

    div:nth-child(1) {
        background-color: $color-1;
    }

    div:nth-child(2) {
        background-color: $color-2;
    }

    div:nth-child(3) {
        background-color: $color-3;
    }

    div:nth-child(4) {
        background-color: $color-4;
    }

    div:nth-child(5) {
        background-color: $color-5;
    }
}


.has-stripe.has-stripe {
    position: relative;
    padding-left: 10px;

    @media #{$screen-sm-up} {
        padding-left: 15px;
    }

    @media #{$screen-md-up} {
        padding-left: 20px;
    }

    @media #{$screen-lg-up} {
        padding-left: 25px;
    }
}

.stripe {
    @include stripe();
    position: absolute;
    top: 0;
    left: 0;
    width: 10px;
    height: 100%;
    z-index: $level-5;

    @media #{$screen-sm-up} {
        width: 17px;
    }

    @media #{$screen-md-up} {
        width: 20px;
    }

    @media #{$screen-lg-up} {
        width: 25px;
    }
}

.stripe-sm {
    width: 10px;
}

.has-stripe.has-stripe-sm {
    padding-left: 10px;
}

.stripe-md {
    width: 17px;
}

.has-stripe.has-stripe-md {
    padding-left: 17px;
}

.stripe-lg {
    width: 20px;
}

.has-stripe.has-stripe-lg {
    padding-left: 20px;
}

.stripe-percentage {
    width: 3.57%;

    @media #{$screen-sm-up} {
        width: 3.57%;
    }

    @media #{$screen-md-up} {
        width: 2.5%;
    }

    @media #{$screen-lg-up} {
        width: 2.5%;
    }
}

.stripe-red {
    @include stripe($palette-red-1, $palette-red-2, $palette-red-3, $palette-red-4, $palette-red-5);
}

.stripe-blue {
    @include stripe($palette-blue-1, $palette-blue-2, $palette-blue-3, $palette-blue-4, $palette-blue-5);
}

.stripe-green {
    @include stripe($palette-green-1, $palette-green-2, $palette-green-3, $palette-green-4, $palette-green-5);
}

.stripe-purple {
    @include stripe($palette-purple-1, $palette-purple-2, $palette-purple-3, $palette-purple-4, $palette-purple-5);
}
