.nav-toggle {
    display: none;

    //&:target,
    &.open {
        display: block;
    }
}

.nav-mobile {
    background-color: $palette-2;
    border: none;

    li + li {
        border: none;
    }

    a {
        color: #fff;
        padding: $baseline +6;
        &:hover {
            background-color: $palette-3;
            color: #fff !important;
        }
    }

    .current,
    .current-node,
    .current-menu-item {
        background-color: $palette-3;
    }

    .sub-menu .current,
    .sub-menu .current-menu-item {
        > a::before {
            background-color: #fff;
        }
    }

    .has-children,
    .page_item_has_children,
    .menu-item-has-children {
        > a::after {
            color: rgba(#fff, .5);
        }
    }

    .has-children.current,
    .has-children.current-node,
    .has-children.current-ancestor,
    .menu-item-has-children.current-menu-item,
    .menu-item-has-children.current-menu-ancestor {
        > a::after {
            color: #fff;
        }
    }

    .sub-menu {
        border-top: none;
        border-left: 8px solid rgba(#fff, .3);
    }

    [data-load-submenu] {
        background-color: transparent;
        border-left: none;
        border-bottom: none;

        .icon::after {
            color: #fff;
        }
    }
}

.nav-mobile-menu .search {
    background-color: darken($palette-2, 10%);
    padding: 10px;
}

.nav-mobile-menu .menu-help .nav-mobile {
    background-color: darken($palette-2, 5%);

    a {
        color: #fff;
    }
}
