//
// @name Pills
// @description Pills navigagtion
// @author Kristoffer Svanmark
//
// @page Navigation/Pills
//
// @markup
// <ul class="nav nav-pills nav-horizontal">
//     <li><a href="#">Cupkae</a></li>
//     <li><a href="#">Liquorice</a></li>
//     <li><a href="#">Gummi bears</a></li>
// </ul>
//

//
// @name Help
// @description Help navigagtion
// @author Kristoffer Svanmark
//
// @page Navigation/Help
//
// @markup
// <ul class="nav nav-help nav-horizontal">
//     <li><a href="#">Cupkae</a></li>
//     <li><a href="#">Liquorice</a></li>
//     <li><a href="#">Gummi bears</a></li>
// </ul>
//

.nav-pills,
.nav-help {
    font-size: 0;

    li + li {
        margin-left: 5px;
    }

    a {
        padding: .3em .6em;
        background-color: $creamy-darker;
        font-size: .9rem;
        color: $base-font-color;

        &:hover,
        &:focus {
            text-decoration: none;
            background-color: darken($creamy-darker, 3%);
        }
    }

    .pricon {
        font-size: 1.2em;
        vertical-align: 5%;
    }
}

.nav-pills {
    a {
        @include material-radius;
        @include material-shadow;
        border: 1px solid darken($creamy-darker,2%);
    }
}

.nav-help {
    li + li {
        margin-left: 8px;

        &::before {
            position: relative;
            top: -2px;
            content: '';
            display: inline-block;
            margin-right: 8px;
            width: 5px;
            height: 5px;
            border-radius: 50%;
            background-color: $creamy-darker;
        }
    }

    a {
        background-color: transparent;
        padding: 0;

        &:hover,
        &:focus {
            background-color: transparent;
            text-decoration: underline;
        }
    }
}

.nav-pills--badge {
    input[type="checkbox"]:checked + a {
        border-color: $palette-4 !important;
        background-color: $palette-4;
    }

    input[type="checkbox"]:checked + a label {
        color: white;
    }

   label {
        font-weight: bold;
        color: grey;
    }

   input {
        display: none !important;
    }

    a {
         border: 2px solid grey !important;
         border-radius: 20px 20px !important;
         background-color: transparent;
    }

    a:hover, label:hover {
         cursor:pointer;
    }

    li {
        line-height: 40px !important;
    }
}

.nav-pills--badge:last-of-type {
    margin-bottom: 15px;
}
