@use "sass:map";
@use "../../sass/mixin/tokens";
@use "../../sass/mixin/build-utility";
@use "../../sass/mixin/responsive-styles";

$_: "u-gap*";

@include tokens.create($_, ("space"));

$spacers: (
    "0": 0,
    "1": tokens.use($_, "space", 1),
    "2": tokens.use($_, "space", 2),
    "3": tokens.use($_, "space", 3),
    "4": tokens.use($_, "space", 4),
    "5": tokens.use($_, "space", 5),
    "6": tokens.use($_, "space", 6),
    "7": tokens.use($_, "space", 7),
    "8": tokens.use($_, "space", 8),
);

$mods: (
);

@each $size, $length in $spacers {
    $mods: map.merge($mods, (#{$size}: (gap: #{$length})));
}

@include build-utility.build-utilities(((name: "gap",
            modifiers: $mods)));

// Temporary compatibility layer for legacy class names: .u-gap-4
$legacy-mods: (
);

@each $size, $length in $spacers {
    $legacy-mods: map.merge($legacy-mods, (".u-gap-#{$size}": (gap: #{$length})));
}

@include responsive-styles.groupedStyles($legacy-mods);
@include responsive-styles.responsiveStyles($legacy-mods, all, true);