@use "../../sass/mixin/inset-multiplier" as insetMultiplier;
@use "../../sass/mixin/inherit";
@use "../../sass/mixin/tokens";

/* Inheritance properties */
@include insetMultiplier.property();

@property --inherit-color-contrast {
    syntax: "*";
    inherits: true;
}

@property --inherit-color-background {
    syntax: "*";
    inherits: true;
}

/* Component name */
$_: "c-card";

/* Design tokens */
@include tokens.create($prefix: $_, $tokens: getComponentTokens($_), $emitDefaultTokenVariables: true);

/* Component */
.#{$_} {
    --#{$_}--shadow: #{tokens.getCalculatedValue($_, "shadow", 1)};
    --#{$_}--shadow-hover: #{tokens.getCalculatedValue($_, "shadow", 1.5)};
    --#{$_}--image-bg: #{tokens.getRawValue($_, "color--surface-border")};
    --#{$_}--image-bg-svg: #{tokens.getRawValue($_, "color--secondary")};
    --#{$_}--border: #{tokens.getCalculatedValue($_, "border-width", 1)} solid #{tokens.getRawValue($_, "color--surface-border")};
    --#{$_}--content-alignment: start;
    --#{$_}--surface-color: #{tokens.getRawValue($_, "color--surface")};
    --#{$_}--surface-contrast-color: #{tokens.getRawValue($_, "color--surface-contrast")};
    --#{$_}--surface-alt-color: #{tokens.getRawValue($_, "color--surface-alt")};
    --#{$_}--surface-border-color: #{tokens.getRawValue($_, "color--surface-border")};
    --#{$_}--surface-contrast-muted-color: #{tokens.getRawValue($_, "color--surface-contrast-muted")};
    contain: layout;
    container-type: inline-size;
    filter: var(--#{$_}--shadow);
    will-change: filter;
    display: flex;
    flex-direction: column;
    position: relative;
    background-color: var(--#{$_}--surface-color);
    color: var(--#{$_}--surface-contrast-color);
    border-radius: tokens.getCalculatedValue($_, "border-radius");
    corner-shape: tokens.getRawValue($_, "corner-shape");
    transition: all 200ms ease-in;
    border: var(--#{$_}--border);

    /* switch to surface color tokens for nested components */

    [data-component="paper"],
    [data-component="comment"],
    [data-component="accordion"],
    [data-component="collection"],
    [data-component="table"],
    table:not(.c-table *),
    [data-component="button"].c-button__filled--default {
        --inherit-color-background: var(--#{$_}--surface-color);
        --inherit-color-contrast: var(--#{$_}--surface-contrast-color);
        --inherit-color-background-hover: var(--#{$_}--surface-alt-color);
        --inherit-color-background-active: var(--#{$_}--surface-alt-color);
        --inherit-color-border: var(--#{$_}--surface-border-color);
        --inherit-color-contrast-muted: var(--#{$_}--surface-contrast-muted-color);
    }

    [data-component="field"] {
        --inherit-color-background: var(--#{$_}--surface-alt-color);
        --inherit-color-background-hover: var(--#{$_}--surface-alt-color);
        --inherit-color-border: var(--#{$_}--surface-border-color);
        --inherit-color-contrast: var(--#{$_}--surface-contrast-color);
    }

    [data-component="image"] {
        --inherit-color-background: var(--#{$_}--surface-alt-color);
        --inherit-color-contrast: var(--#{$_}--surface-contrast-muted-color);
        --c-image--border-radius: 0;
    }

    .c-image__placeholder {
        --inherit-border: none;
    }

    [data-component="accordion"],
    [data-component="collection"] {
        @include insetMultiplier.publish(var(--#{$_}--inset-multiplier));
    }

    [data-component="accordion"] {
        @include inherit.publish("shadow", none);
        @include inherit.publish("outline-width", 0);
    }

    .#{$_}__paint-container {
        @include insetMultiplier.consume($_, insetMultiplier.contextual-multiplier(1), $includeContentGap: true, $includeStackGap: true);
        contain: paint;
        border-radius: inherit;
        display: inherit;
        flex-direction: inherit;
        flex-wrap: wrap;
        height: inherit;
        corner-shape: inherit;

        >* {
            width: 100%;
        }
    }

    /** Tell child components to inherit font-size from card for better typography scaling */
    .#{$_}__heading {
        --inherit-font-size: #{tokens.getRawValue($_, "font-size-200")};
    }

    .#{$_}__header {
        width: 100%;

        .c-typography {
            --inherit-margin-bottom: 0;
            --inherit-margin-top: 0;
            --inherit-font-size: #{tokens.getRawValue($_, "font-size-200")};
        }

        .c-typography+.c-typography {
            --inherit-margin-bottom: 0;
            --inherit-margin-top: 0;
            --inherit-font-size: #{tokens.getRawValue($_, "font-size-100")};
        }
    }

    .#{$_}__header,
    .#{$_}__body,
    .#{$_}__content-after {
        overflow-wrap: break-word;
        hyphens: auto;
        padding: var(--#{$_}--inset-padding-y) var(--#{$_}--inset-padding-x);
    }

    .#{$_}__footer {
        overflow-wrap: break-word;
        hyphens: auto;
        padding: var(--#{$_}--inset-padding-y) var(--#{$_}--inset-padding-x);
        margin-top: auto;
        border-top: var(--#{$_}--border);
    }

    .#{$_}__body {
        display: grid;
        gap: var(--#{$_}--content-gap);
        align-content: var(--#{$_}--content-alignment);

        .#{$_}__content> :first-child {
            margin-top: 0;
        }

        > :first-child {
            margin-top: 0;
        }
    }

    .#{$_}__content {
        margin-top: 0;
    }

    &__eyebrow {
        text-transform: uppercase;
        --inherit-letter-spacing: .1em;
    }

    &__title {

        &-expand-button {
            float: right;

            &[aria-pressed="true"] {
                transform: rotate(180deg);
                transition-timing-function: ease-in-out;
            }
        }
    }

    &__date {
        display: flex;
        gap: var(--#{$_}--content-gap);
        align-items: center;
        margin-top: var(--#{$_}--content-gap);
    }

    &__dropdown {
        position: absolute;
        top: 0;
        right: 0;
        color: tokens.getRawValue($_, "color--surface-contrast");
    }

    &__dropdown .c-button:hover,
    &__dropdown .c-button:focus {
        background-color: unset;
    }

    /* Image aspect ratio */
    .#{$_}__image-container {
        position: relative;
        width: 100%;
        contain: paint;
    }

    &.#{$_}--ratio-1-1 .#{$_}__image-container {
        aspect-ratio: 1 / 1;
    }

    &.#{$_}--ratio-16-9 .#{$_}__image-container {
        aspect-ratio: 16 / 9;
    }

    &.#{$_}--ratio-4-3 .#{$_}__image-container {
        aspect-ratio: 4 / 3;
    }

    &.#{$_}--ratio-10-3 .#{$_}__image-container {
        aspect-ratio: 10 / 3;
    }

    &.#{$_}--ratio-36-7 .#{$_}__image-container {
        aspect-ratio: 36 / 7;
    }

    .#{$_}__floating {
        position: absolute;
        right: tokens.getRawValue($_, "base");
        top: tokens.getRawValue($_, "base");
        z-index: tokens.getRawValue($_, "level-3");
    }

    .#{$_}__content-after {
        margin-top: auto;
    }

    &__header .c-icon {
        vertical-align: top;

        &~:is(h1, h2, h3, h4, h5, h6) {
            display: inline;
        }
    }

    .#{$_}__explicit-link {
        font-weight: 700;
    }

    /* Appearance modifiers */

    &--outline {
        border: tokens.getRawValue($_, "border-width") solid;
    }

    &--highlight {

        .#{$_}__paint-container {
            border-left: tokens.getRawValue($_, "base") solid tokens.getRawValue($_, "color--primary");
        }
    }

    &--accented {
        .#{$_} {
            margin-bottom: tokens.getRawValue($_, "base");
        }

        .#{$_}__header {
            border-bottom: calc(#{tokens.getRawValue($_, "base")} / 2) solid tokens.getRawValue($_, "color--primary");
            background: tokens.getRawValue($_, "color--primary");
            color: tokens.getRawValue($_, "color--primary-contrast");
        }

        .#{$_}__header .c-typography {
            color: tokens.getRawValue($_, "color--primary-contrast");
        }
    }

    &--panel {
        .#{$_}__header {
            background: tokens.getRawValue($_, "color--primary");
            color: tokens.getRawValue($_, "color--primary-contrast");

            * {
                color: tokens.getRawValue($_, "color--primary-contrast");
            }

            i,
            h4 {
                display: inline-block;
                vertical-align: middle;
            }

            h4 {
                margin-top: 0;
            }
        }
    }

    &--collapse {
        visibility: hidden;
        max-height: 0;
        height: 0;
        padding: 0;
    }

    .#{$_}__datebadge {
        position: absolute;
        margin: tokens.getCalculatedValue($_, "space", 2);
    }

    &.#{$_}--has-datebadge {
        .#{$_}__datebadge {
            margin: 0;
            left: tokens.getCalculatedValue($_, "space", 2);
            top: tokens.getCalculatedValue($_, "space", 2);
        }

        &:not(.#{$_}--has-image) {

            .#{$_}__heading-container,
            .#{$_}__content {
                padding-left: tokens.getCalculatedValue($_, "space", 9.5);
            }
        }
    }

    &--svg-background {
        .#{$_}__image-background {
            background-size: clamp(#{tokens.getRawValue($_, "base")} * 3, 50%, #{tokens.getRawValue($_, "base")} * 8);
            background-repeat: no-repeat;
            background-color: var(--#{$_}--image-bg-svg);
        }
    }

    .#{$_}__paint-container {
        @include insetMultiplier.responsive-resolve($_, $includeContentGap: true, $includeStackGap: true);

        @container (min-width: 500px) {
            display: flex;
            flex-wrap: wrap;
            flex-direction: row;

            .#{$_}__footer {
                flex: 1;
            }

            .#{$_}__image-background {
                height: 100%;
            }

            .#{$_}__image-container {
                flex-basis: 30%;
            }

            .#{$_}__image-container+.#{$_}__body {
                flex-basis: calc(100% - 30%);
            }
        }

    }
}

/* Hover effect for linked cards */
a.#{$_} {
    text-decoration: none;
    color: tokens.getRawValue($_, "color--surface-contrast");

    .#{$_}__image:before {
        content: "";
        inset: 0;
        position: absolute;
        transition: opacity 200ms;
        height: 100%;
        width: 100%;
        background: tokens.getRawValue($_, "color--surface-contrast");
        opacity: 0;
        z-index: var(--level-1);
    }

    &:hover {
        filter: var(--#{$_}--shadow-hover);
        background-color: tokens.getRawValue($_, "color--surface-alt");
        transform: translateY(calc(0px - #{tokens.getRawValue($_, "base")} * 0.25));
        transition: all 200ms ease-out;
        color: tokens.getRawValue($_, "color--surface-contrast");

        .#{$_}__heading {
            text-decoration: underline;
        }

        .#{$_}__image:before {
            opacity: 0.08;
        }
    }

    &:focus {
        background-color: color-mix(in srgb, #{tokens.getRawValue($_, "color--surface-contrast")} 6%, #{tokens.getRawValue($_, "color--surface")});

        .#{$_}__image-container:before {
            opacity: 0.2;
        }
    }
}

/* Grid without gutter */
.o-grid--no-gutter>[class*="o-grid-"] .#{$_},
.o-grid--no-gutter>[class*="o-grid-"] .#{$_} [class*="#{$_}"],
.o-grid--no-gutter>[class*="o-grid-"] .#{$_} [class*="#{$_}"]:after {
    border-radius: unset;
    filter: none;
}