@use "../../sass/mixin/tokens";

/* Component name */
$_: "c-paper";

/* Design tokens */
@include tokens.create($_, getComponentTokens($_));

/* Component */
.#{$_} {
    --#{$_}--border-color: #{tokens.getRawValue($_, "color--surface-border")};
    --#{$_}--border: #{tokens.getCalculatedValue($_, "border-width", 1)} solid var(--#{$_}--border-color);
    --#{$_}--padding: 0;
    --#{$_}--background-color: #{tokens.getRawValue($_, "color--surface")};
    --#{$_}--color: #{tokens.getRawValue($_, "color--surface-contrast")};
    contain: layout;
    background-color: var(--#{$_}--background-color);
    color: var(--#{$_}--color);
    border: var(--#{$_}--border);
    border-radius: tokens.getCalculatedValue($_, "border-radius");
    corner-shape: tokens.getRawValue($_, "corner-shape");
    padding: var(--#{$_}--padding);
    filter: tokens.getCalculatedValue($_, "shadow", 1);

    > :first-child {
        --inherit-margin-top: 0;
    }

    /* switch to surface color tokens for nested components */

    .c-card,
    .c-comment,
    .c-button__filled--default,
    .c-chat {
        --inherit-color-background: var(--color--background);
        --inherit-color-contrast: var(--color--background-contrast);
    }

    @for $i from 0 through 8 {
        &--padding-#{$i} {
            padding: calc(#{tokens.getCalculatedValue($_, "space")} * #{$i});
        }
    }

    &--divider {
        border-top: var(--#{$_}--border);
        padding-top: tokens.getCalculatedValue($_, "space", 3);
    }
}