@use "../../sass/mixin/tokens";

/* Component name */
$_: "c-paper";

/* Design tokens */
@include tokens.create($_, getComponentTokens($_),
    ("border-color": tokens.get($_, "color--surface-border"),
        "border": tokens.use($_, "border-width", 1) solid tokens.get($_, "border-color"),
        "padding": 0,
        "shadow": tokens.use($_, "shadow", 1),
        "background-color": tokens.get($_, "color--surface"),
        "color": tokens.get($_, "color--surface-contrast"),
    ),
    ("color--surface": "color--background",
    ));

/* Component */
.#{$_} {
    contain: layout;
    background-color: tokens.get($_, "background-color");
    color: tokens.get($_, "color");
    border: tokens.get($_, "border");
    border-radius: tokens.use($_, "border-radius");
    corner-shape: tokens.get($_, "corner-shape");
    padding: tokens.get($_, "padding");
    filter: tokens.get($_, "shadow");

    /* switch to surface color tokens for nested components */
    --c-field--background-color: var(--color--background);
    --c-field--color--surface-contrast: var(--color--background-contrast);
    --c-card--color--surface: var(--color--background);
    --c-card--color--surface-contrast: var(--color--background-contrast);
    --c-comment--color--surface: var(--color--background);
    --c-comment--color--surface-contrast: var(--color--background-contrast);

    .c-button__filled--default {
        --inherit-color-background: var(--color--background);
        --inherit-color-contrast: var(--color--background-contrast);
    }

    @for $i from 0 through 8 {
        &--padding-#{$i} {
            padding: calc(#{tokens.use($_, "space")} * #{$i});
        }
    }

    &--divider {
        border-top: tokens.get($_, "border");
        padding-top: tokens.use($_, "space", 3);
    }
}