@use "../../sass/mixin/inset-multiplier" as insetMultiplier;
@use "../../sass/mixin/inherit";
@use "../../sass/mixin/tokens";

@include insetMultiplier.property();

/* Component name */
$_: "c-paper";

$insetTargets: "[data-component=\"card\"], [data-component=\"accordion\"], [data-component=\"table\"]";

/* Design tokens */
@include tokens.create($prefix: $_, $tokens: getComponentTokens($_), $emitDefaultTokenVariables: true);

/* Component */
.#{$_} {
    --#{$_}--surface-color: #{tokens.getRawValue($_, "color--surface")};
    --#{$_}--surface-contrast-color: #{tokens.getRawValue($_, "color--surface-contrast")};
    --#{$_}--surface-alt-color: #{tokens.getRawValue($_, "color--surface-alt")};
    --#{$_}--surface-border-color: #{tokens.getRawValue($_, "color--surface-border")};
    --#{$_}--surface-contrast-muted-color: #{tokens.getRawValue($_, "color--surface-contrast-muted")};
    --#{$_}--border-color: var(--#{$_}--surface-border-color);
    --#{$_}--border: #{tokens.getCalculatedValue($_, "border-width", 1)} solid var(--#{$_}--border-color);
    --#{$_}--inset-scale: 1;
    --#{$_}--background-color: var(--#{$_}--surface-color);
    --#{$_}--color: var(--#{$_}--surface-contrast-color);

    contain: layout;
    container-type: inline-size;
    background-color: var(--#{$_}--background-color);
    color: var(--#{$_}--color);
    border: var(--#{$_}--border);
    border-radius: tokens.getCalculatedValue($_, "border-radius");
    corner-shape: tokens.getRawValue($_, "corner-shape");
    filter: tokens.getCalculatedValue($_, "shadow", 1);

    >.#{$_}__content {
        @include insetMultiplier.consume($_, insetMultiplier.contextual-multiplier(var(--#{$_}--inset-scale)));
        padding: 0;
    }

    >.#{$_}__content> :first-child {
        --inherit-margin-top: 0;
    }

    >.#{$_}__content> :last-child {
        --inherit-margin-bottom: 0;
    }

    @include insetMultiplier.responsive-resolve($_, $selector: "> .#{$_}__content");

    #{$insetTargets} {
        @include insetMultiplier.publish(insetMultiplier.contextual-multiplier(1));
    }

    [data-component="accordion"] {
        @include inherit.publish("shadow", none);
    }

    @include insetMultiplier.responsive-publish($selector: $insetTargets);

    /* switch to surface color tokens for nested components */

    [data-component="card"],
    [data-component="comment"],
    [data-component="table"],
    table:not([data-component="table"] *),
    [data-component="chat"] {
        --inherit-color-background: var(--#{$_}--background-color);
        --inherit-color-contrast: var(--#{$_}--color);
        --inherit-color-background-hover: var(--#{$_}--surface-alt-color);
        --inherit-color-background-active: var(--#{$_}--surface-alt-color);
        --inherit-color-border: var(--#{$_}--border-color);
        --inherit-color-contrast-muted: var(--#{$_}--surface-contrast-muted-color);
    }

    [data-component="field"] {
        --inherit-color-background: var(--#{$_}--surface-alt-color);
        --inherit-color-background-hover: var(--#{$_}--surface-alt-color);
        --inherit-color-border: var(--#{$_}--border-color);
        --inherit-color-contrast: var(--#{$_}--color);
    }

    [data-component="button"] {
        --inherit-color-contrast: var(--#{$_}--color);

        &.c-button__filled {
            --inherit-color-contrast: var(--#{$_}--background-color);
            --inherit-color-background: var(--#{$_}--color);
            --inherit-color-border: var(--#{$_}--border-color);
        }
    }

    @for $i from 0 through 8 {
        &--padding-#{$i} {
            >.#{$_}__content {
                padding: calc(#{tokens.getCalculatedValue($_, "space", $i)} * var(--#{$_}--inset-multiplier));
            }
        }
    }

    &--padding-0 [data-component="accordion"] {
        @include inherit.publish("outline-width", 0);
    }

    &--divider {
        >.#{$_}__content {
            border-top: var(--#{$_}--border);
            padding-top: calc(#{tokens.getCalculatedValue($_, "space", 3)} * var(--#{$_}--inset-multiplier));
        }
    }
}