@use "../../sass/mixin/tokens";

$_: "c-logotypegrid";

@include tokens.create($_, getComponentTokens($_));

.#{$_} {
    display: flex;
    gap: tokens.getCalculatedValue($_, "base", 6) tokens.getCalculatedValue($_, "base", 14);
    flex-wrap: wrap;

    .#{$_}__item {
        display: inline-block;
        margin: auto;
    }

    .#{$_}__logo {
        height: tokens.getCalculatedValue($_, "base", 10);
    }

    .#{$_}__logo .c-logotype__image {
        object-fit: contain;
    }
}
