//
// @name Large search form
// @description The search form basiclly is a input-group (find docs under Forms/Input group).
//
// @page Search/Search form
//
// @markup
// <form class="search" method="get" action="/">
//    <label for="search-keyword" class="sr-only">Sök på Helsingborg.se</label>
//    <div class="input-group input-group-lg">
//        <input id="search-keyword" autocomplete="off" class="form-control form-control-lg" type="search" name="s" placeholder="Search cupcakes">
//        <span class="input-group-addon-btn">
//            <input type="submit" class="btn btn-primary btn-lg" value="Search">
//        </span>
//    </div>
// </form>
//

.search-top {
    background-color: #fff;
    padding: $content-gutter 0;
    label {
        display: none;
    }
}
