.slider-next .slider-in {
    animation: slider-next-in 900ms cubic-bezier(.35,.21,.07,.87);
    z-index: 9;
}

.slider-next .slider-out {
    display: block !important;
    z-index: 8;
    animation: slider-next-out 900ms cubic-bezier(.35,.21,.07,.87) forwards;
}

.slider-next .slider-out.type-featured {
    @supports (display: flex) {
        display: flex !important;
    }
}

.slider-previous .slider-in {
    animation: slider-previous-in 900ms cubic-bezier(.35,.21,.07,.87);
    z-index: 9;
}

.slider-previous .slider-out {
    display: block !important;
    z-index: 8;
    animation: slider-previous-out 900ms cubic-bezier(.35,.21,.07,.87) forwards;
}

.slider-previous .slider-out.type-featured {
    @supports (display: flex) {
        display: flex !important;
    }
}

@keyframes slider-next-in {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes slider-next-out {
    from {

    }
    to {
        opacity: 0;
    }
}

@keyframes slider-previous-in {
    from {
        opacity: 0;
    }
    to {
    }
}

@keyframes slider-previous-out {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}


/*
@keyframes slider-next-in {
    from {
        transform: scale(1.2);
        opacity: 0;
    }

    to {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes slider-next-out {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(.8);
        opacity: 0;
    }
}

@keyframes slider-previous-in {
    from {
        transform: scale(.8);
        opacity: 0;
    }
    to {
        transform: scale(1);
    }
}

@keyframes slider-previous-out {
    from {
        opacity: 1;
        transform: scale(1);
    }
    to {
        transform: scale(1.2);
        opacity: 0;
    }
}
*/
