//
// @name Slider
// @description <span class="label label-theme">JavaScript dependent</span> Sliding content.
// @author Kristoffer Svanmark, Sebastian Thulin
//
// @page Special/Slider
//
// @state .slider-nav-hover - Only show slider nav buttons on slider hover (wrapping element)
// @state .slider-nav-bottom - Only show slider nav buttons in the bottom of the slider (wrapping element)
//
// @state .type-featured - Use in combination with textblock left/right
//
// @state .text-block-center - You can center the text in the text block by adding this class to text-block element
// @state .text-block-left - Text on a solid white background, image to the right.
// @state .text-block-right - Text on a solid white background, image to the left.
//
// @state .is-collapsed - Inidcator of compressed layout settings (wrapping element).
//
// @markup
// <div class="slider slider-nav-bottom slider-nav-hover">
//         <div class="slide type-featured current">
//              <a href="#">
//                 <span class="text-block text-block-left">
//                    <span>
//                        <em class="title block-level h1">Ipsum Fermentum Euismod</em>
//                        Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.
//                    </span>
//                  </span>
//                  <div class="slider-image slider-image-desktop hidden-xs hidden-sm" style="background-image:url(https:\/\/unsplash.it/800/800/?image=499)"></div>
//                  <div class="slider-image slider-image-mobile hidden-md hidden-lg" style="background-image:url(https:\/\/unsplash.it/800/800/?image=500)"></div>
//              </a>
//         </div>
//         <div class="slide type-featured">
//              <span class="text-block text-block-right">
//                  <span>
//                      <em class="title block-level h1">Amet Ornare Bibendum</em>
//                      Donec id elit non mi porta gravida at eget metus. Donec ullamcorper nulla non metus auctor fringilla.
//                  </span>
//              </span>
//              <div class="slider-image slider-image-desktop hidden-xs hidden-sm" style="background-image:url(https:\/\/unsplash.it/800/800/?image=499)"></div>
//              <div class="slider-image slider-image-mobile hidden-md hidden-lg" style="background-image:url(https:\/\/unsplash.it/800/800/?image=500)"></div>
//         </div>
//         <div class="slide type-image has-text-block">
//              <span class="text-block text-block-center">
//                  <span>
//                      <em class="title text-xl block-level">Ipsum Fermentum Euismod</em>
//                      Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.
//                  </span>
//              </span>
//              <div class="slider-image slider-image-desktop hidden-xs hidden-sm" style="background-image:url(https:\/\/unsplash.it/800/800/?image=496)"></div>
//              <div class="slider-image slider-image-mobile hidden-md hidden-lg" style="background-image:url(https:\/\/unsplash.it/800/800/?image=498)"></div>
//         </div>
//         <div class="slide"><div class="slider-image" style="background-image:url('https:\/\/unsplash.it/800/800/?image=493');"></div></div>
//         <div class="slide"><div class="slider-image" style="background-image:url('https:\/\/unsplash.it/800/800/?image=976');"></div></div>
//         <div class="slide"><div class="slider-image player" style="background-image:url('https:\/\/unsplash.it/800/800/?image=889');"><a href="#video-player-101935278" data-video-id="101935278"></a></div></div>
// </div>

.sidebar-slider-area {
    overflow-x: hidden;
}
.sidebar-right-sidebar,
.sidebar-left-sidebar-bottom,
.sidebar-left-sidebar-top,
.sidebar-content-area,
.sidebar-content-area-bottom,
article {
    .slider {
        @include material-shadow;
        @include material-radius;
    }
}

.creamy .slider .text-block.text-block-left:not([class*="stripe-"]):not([class*="stripe-"]),
.creamy .slider .text-block.text-block-right:not([class*="stripe-"]):not([class*="stripe-"]) {
    background-color: #fff !important;
}

.slider {
    position: relative;
    width: 100%;
    background: transparent;
    overflow: hidden;

    @media print {
        display: none;
    }

    ul {
        @include cover();

        li {
            @include cover();

            &:not(.current) {
                display: none;
            }
        }
    }

    ul li a:hover {
        text-decoration: none;
    }

    &.is-collapsed .type-featured,
    .type-featured.is-collapsed {
        > a {
            display: block;
            @include cover();
        }

        .text-block.text-block-left,
        .text-block.text-block-right {
            opacity: .9;
            margin-right: 0;
            margin-left: 0;
            width: 100%;

            ~ [class*="slider-image-"] {
                margin-right: 0;
                margin-left: 0;
                width: 100%;
            }
        }
    }

    .type-featured {

        .text-block,
        [class*="slider-image-"] {
            width: 50%;
            height: 100%;
        }

        .text-block.text-block-left {
            margin-right: 50%;
        }

        .text-block.text-block-right {
            margin-left: 50%;
        }

        .text-block.text-block-right ~ [class*="slider-image-"] {
            margin-right: 50%;
        }

        .text-block.text-block-left ~ [class*="slider-image-"] {
            margin-left: 50%;
        }

    }

    .slider-image,
    .slider-video,
    .player {
        position: relative;
        z-index: 1;
        width: 100%;
        height: 100%;
        background-size: cover;
        background-position: center center;

        video {
            width: 100%;
            height: auto;
            @include center();

            @media screen and (orientation: portrait) {
                width: auto;
                height: 100%;
            }
        }
    }

    .embeded-mini-toolbar {
        &.slider-show-on-hover {
            display:none;
            @media screen and (max-width: $screen-lg-max) {
                display: block;
            }
        }

        $opac: 0.2;
        $cssClassName: 2;
        @while $opac <= 1 {
            &.slider-icon-opacity-#{$cssClassName} {
                opacity: #{$opac};
            }
            $cssClassName : $cssClassName + 1;
            $opac: $opac + 0.1;
        }

        position: absolute;
        z-index: 3;
        bottom: 60px;
        right: 60px;
        @media screen and (max-width: $screen-xs-max) {
            bottom: 10px;
            right: 20px;
        }

        .pricon-badge {
            padding: 32px;
            color: #fff;
            cursor: pointer;
            @media screen and (max-width: $screen-xs-max) {
                padding:21px;
                font-size: 17px !important;
            }
            &:hover {
                opacity: 1 !important;
            }
        }
    }

    [class*="slider-nav-"] {
        @include center(false, true);
        z-index: 100;

        padding: .5em .8em;

        background-color: rgba(#000, .8);
        border: 0;
        apperance: none;
        transition: 200ms opacity cubic-bezier(.35, .21, .07, .87), 100ms background-color cubic-bezier(.35, .21, .07, .87), 100ms color cubic-bezier(.35, .21, .07, .87), 100ms transform cubic-bezier(.35, .21, .07, .87);

        font-size: 1.2em;
        font-weight: bold;
        text-align: center;
        line-height: 1;
        color: #fff;

        &:not([class*="stripe-"]):hover {
            background-color: $palette-2;
        }
    }

    .slider-nav-next {
        right: 0;
        border-radius: 50px 0 0 50px;
        padding-left: 1.2em;
        cursor: pointer;
    }

    .slider-nav-previous {
        left: 0;
        border-radius: 0 50px 50px 0;
        padding-right: 1.2em;
        cursor: pointer;
    }

    .content {
        transform: translateY(-32%) !important;
    }

    .text-block {
        padding: $grid-gutter-sm ($grid-gutter-md/3)*2;
        position: absolute;
        @include cover();
        top: auto;
        z-index: 2;
        background-color: rgba(#000, .7); //default
        color: #fff;
        font-size: .9em;
        display: block;

        &.text-block-center {
            background-color: rgba(#000, .4);
            text-align: center;
            padding: 0;
            top: 0;

            span {
                font-weight: normal;
                font-size: 2em;
                line-height: 1.3;
                text-shadow: 0 0 20px #000;
                padding: 0;
                width: 85%;
                max-width: $screen-md-max;
                @include center();

                em {
                    margin-bottom: $grid-gutter-xs;
                    font-weight: normal;
                }
            }

            /* Small devices */
            @media screen and (max-width: $screen-xs-max) {
                span {
                    font-size: 1.1em;
                    em {
                        font-size: 1.2em;
                    }
                }
            }

            @media screen and (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
                span {
                    font-size: 1.4em;
                    em {
                        font-size: 1.2em;
                    }
                }
            }

            @media screen and (min-width: $screen-md-min) and (max-width: $screen-md-max) {
                span {
                    font-size: 1.6em;
                    em {
                        font-size: 1.2em;
                    }
                }
            }
        }

        &:not([class*="stripe-"]) {
            background-image: inherit;
            background-size: inherit;
            background-color: $palette-2;
            background-blend-mode: multiply;
            background-position: center bottom;

            /* IE 10 and 11 */
            @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
                background-image: none;
                background-color: rgba($palette-2, .9);
            }

            &.text-block-left:not([class*=stripe-]),
            &.text-block-right:not([class*=stripe-]) {
                background-color: $creamy;
                border: 1px solid $creamy-darker;
            }

            .creamy {
                &.text-block-left:not([class*=stripe-]),
                &.text-block-right:not([class*=stripe-]) {
                    background-color: #ffffff;
                    border-color: $creamy-darker;
                }
            }

            &.text-block-center {
                background-color: rgba(#000, .4) !important;
            }

            &.text-block-left,
            &.text-block-right {

                span {
                    color: $base-font-color;

                    h1, .h1,
                    h2, .h2,
                    h3, .h3,
                    h4, .h4,
                    h5, .h5,
                    h6, .h6 {
                        //color: map-get($color, default);
                    }
                }
            }
        }
    }
}

.no-js .slider {
    li:first-child {
        display: block;
    }

    .type-video {
        a {
            display: none;
        }
    }
}

.slider-nav-hover {
    [class*="slider-nav-"] {
        opacity: 0;
    }

    &:hover {
        [class*="slider-nav-"] {
            opacity: 1;
        }
    }
}

.slider-nav-bottom {
    .flickity-prev-next-button,
    [class*="slider-nav-"] {
        top: auto;
        bottom: 0;
        border-radius: 0;
        transform: none;
        padding: .8em 1em;
        color: darken($creamy-darker, 40%);
        background-color: darken($creamy, 5%);
        z-index: $level-top;

        &:hover {
            color: #fff;
        }
    }

    .flickity-prev-next-button.previous {
        left: 0;
    }

    .flickity-prev-next-button.next {
        right: 0;
    }
}

.slider.slider-nav-hover {
    .flickity-prev-next-button,
    .flickity-page-dots {
        transition: 300ms all ease-in-out;
        opacity: 0;
    }

    .flickity-page-dots {
        bottom: -20px;
    }

    &:hover .flickity-prev-next-button,
    &:hover .flickity-page-dots {
        display: block;
        opacity: 1;
    }

    &:hover .flickity-page-dots {
        bottom: 15px;
    }
}

.slider .flickity-page-dots {
    bottom: 15px;

    .dot {
        background-color: #fff;
        opacity: .5;
    }

    .dot.is-selected {
        background-color: $palette-2;
        opacity: 1;
    }
}

.slider.slider-layout-circle {
    box-shadow: none !important;

    .slide {
        padding: 20px;
    }

    .slider-image {
        border-radius: 50%;
        width: 80%;
        padding-bottom: 80%;
        margin: 0 auto;
        height: 0;
        overflow: hidden;
    }

    .text-block,
    .text-block.text-block-center:not([class*="stripe-"]) {
        position: static;
        text-align: center;
        background-color: transparent !important;
        color: $base-font-color;
    }

    .text-block.text-block-center span {
        position: static;
        text-shadow: none;
        font-size: 1.2em;
    }
}

// Require 4:3 (square) ratio on tablet vertical & mobile
.slider.ratio-36-7, .slider.ratio-10-3, .slider.ratio-16-9 {
    &:not(.ratio-1-1-xs) {
        @media screen and (max-width: $screen-sm-max) {
            max-height: none !important;
            @include aspect-ratio(1, 1);
        }
    }
}

.slider-height-restrictions.ratio-10-3.slider:not(.slider-layout-circle),
.slider-height-restrictions.ratio-36-7.slider:not(.slider-layout-circle) {
    min-height: 350px;
}

.slider:not(.slider-layout-circle) {
    height: 100%;

    .flickity-viewport,
    [data-flickity] {
        width: 100%;
        height: 100%;
    }

    .flickity-viewport,
    [data-flickity],
    .flickity-enabled {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }

    .flickity-viewport {
        min-height: 100%;
        max-height: 100%;
    }

    .slide,
    .flickity-enabled {
        width: 100%;
        height: 100%;
    }
}
