//
// @name Datepicker
// @description Datepicker input
//
// @page Forms/Datepicker
//
// @markup
// <div class="form-group">
//     <label for="date">Date</label>
//     <input type="text" name="date" id="date" placeholder="Select date…" class="datepicker">
// </div>
//

.ui-datepicker {
    position: relative;
    background-color: #fff;
    max-width: 300px;
    width: 100%;
    border: 1px solid $creamy-darker;
    box-shadow: 0 5px 15px rgba(#000, .5);
}

.ui-datepicker-header {
    position: relative;
    margin-bottom: 8px;
    padding: $content-gutter;
    padding-bottom: 0;
}

.ui-datepicker-title {
    text-align: center;
    font-style: italic;

    select {
        padding: 5px;
    }

    select.ui-datepicker-month {
        width: 70px;
    }

    select.ui-datepicker-year {
        width: 80px;
        margin-top: 0;
    }
}

.ui-datepicker-prev {
    position: absolute;
    top: $content-gutter;
    left: $content-gutter * 2;

    &::after {
        @include pricon($pricon-previous);
    }
}

.ui-datepicker-next {
    position: absolute;
    top: $content-gutter;
    right: $content-gutter * 2;

    &::after {
        @include pricon($pricon-next);
    }
}

.ui-datepicker-prev,
.ui-datepicker-next {
    $size: 28px;
    width: $size;
    height: $size;

    background-color: transparent;
    border-radius: 50%;
    color: $palette-4;

    cursor: pointer;
    text-indent: -9999999px;

    &::after {
        position: absolute;
        display: block;
        text-indent: 0;
        @include center();
    }

    &:hover {
        background-color: $palette-4;
        color: #fff;
    }
}

.ui-datepicker-calendar {
    width: calc(100% - 30px);
    margin-left: $content-gutter;
    margin-bottom: $content-gutter;

    th {
        text-align: center;
        text-transform: uppercase;
        font-weight: bold;
        color: $gray;
        font-size: .7em;
    }

    td {
        text-align: center;
    }

    td a,
    td span {
        $size: 28px;
        display: inline-block;
        width: $size;
        height: $size;
        line-height: $size;
        font-size: .85em;
        border-radius: 3px;
        color: $base-font-color;

        &.ui-state-active {
            background-color: $palette-3;

            font-weight: bold;
            color: #fff;

            &:hover {
                background-color: darken($palette-3, 5%);
            }
        }

        &:hover {
            text-decoration: none;
            background-color: $creamy-darker;
        }
    }

    td.ui-datepicker-other-month a {
        color: $gray;

        &.ui-state-active {
            color: #fff;
        }
    }

    td.ui-datepicker-unselectable span {
        opacity: .3;
        cursor: no-drop;

        &:hover {
            background-color: transparent;
        }
    }

    td.ui-datepicker-week-end + td.ui-datepicker-week-end a {
        color: $palette-red-5;

        &.ui-state-active {
            color: #fff;
        }
    }
}

.ui-datepicker-buttonpane {
    border-top: 1px solid $creamy-darker;
    padding: 5px $content-gutter;

    button {
        apperance: none;
        background-color: transparent;
        border: none;

        padding: 0;
        color: $palette-red-4;
        font-size: .8em;
        font-weight: bold;
    }
}
