.gform_wrapper {
    margin: $content-gutter 0;
    background-color: $creamy;
    border: 1px solid $creamy-darker;
    padding: $content-gutter * 2;

    form {
        margin: 0 !important;
    }

    input[type="radio"] + label,
    input[type="checkbox"] + label {
        display: inline-block;
        font-weight: normal;
        padding-left: 5px;
    }

    ul:not(.nav):not(.slider-items):not(.line-numbers) {
        padding-left: 0;
    }
}

.gform_heading {
    margin-bottom: 10px;
}

.gform_fields {
    padding: 0 !important;
}

.ginput_container {
    margin-top: 3px;
}

.gfield_required {
    color: $palette-red-4;
}

.gfield_list {
    td {
        vertical-align: top;
    }

    .add_list_item,
    .delete_list_item {
        padding: 0 !important;
        margin: 0 !important;
    }

    td + td {
        padding-left: 5px;
    }

    tr + tr td {
        padding-top: 8px;
    }
}

.ginput_container_list + .gfield_description {
    margin-top: 5px;
}

.gfield_checkbox {
    margin: 0;
    padding: 0 !important;

    li label {
        display: inline-block;
        font-weight: normal;
    }
}

.ginput_container_name {
    display: table;
    width: 100%;

    .name_first,
    .name_last {
        display: table-cell;
        width: 50%;

        label {
            font-weight: normal;
        }
    }

    .name_first {
        padding-right: 5px;
    }

    .name_last {
        padding-left: 5px;
    }
}

.gform_drop_area {
    border: 2px dashed darken($creamy-darker, 10%);
    background-color: $creamy-darker;
    padding: 30px;
    text-align: center;
    border-radius: 5px;

    .gform_drop_instructions {
        display: block;
        text-align: center;
        margin-bottom: 5px;
    }

    .button {
        line-height: $base-line-height;
        appearance: none;
        display: inline-block;
        vertical-align: middle;
        padding: 5px 10px;
        background-color: $creamy-darker;
        border: 1px solid $creamy-darker;
        font-family: $base-font-family;
        font-size: $btn-font-size;
        font-weight: $btn-font-weight;
        color: $base-font-color;
        text-decoration: none;
        cursor: pointer;
        margin: 0;
        border-radius: 3px !important;

        &:hover,
        &:focus {
            background-color: darken($creamy-darker, 3%);
            text-decoration: none;
        }

        &:active {
            box-shadow: inset 0 0 8px rgba(#000, .3);
        }

        &:disabled,
        &.disabled {
            opacity: .5;
            cursor: no-drop;

            &:active {
                box-shadow: none;
            }
        }

        background-color: $palette-3;
        color: #fff;
        border-color: $palette-3;

        &:hover,
        &:focus {
            background-color: darken($palette-3, 3%);
            border-color: darken($palette-3, 3%);
        }
    }
}
