//
// @name Input group
// @description Grouped input combination. Use <code>.input-group-addon</code> to append text or use <code>.input-group-addon-btn</code> to append buttons.
//
// @page Forms/Input group
//
// @markup
// <div class="input-group">
//     <span class="input-group-addon"><i class="pricon pricon-file"></i></span>
//     <input type="text" name="keyword" class="form-control">
//     <span class="input-group-addon-btn">
//         <input type="submit" class="btn btn-primary" value="Send">
//     </span>
// </div>

$input-group-height: 40px;
$input-group-height-lg: 54px;

.input-group {
    display: table;
    position: relative;
    border-collapse: separate;
    height: $input-group-height;
    font-size: 1em;
}

.input-group-lg {
    height: $input-group-height-lg;
}

.input-group-addon,
.input-group-addon-btn {
    display: table-cell;
    vertical-align: middle;
    width: 1%;
    white-space: nowrap;
    height: $input-group-height - 2px;

    background-color: $creamy;
    border: 1px solid $creamy-darker;
    border-left: 0;
    border-right: 0;
    font-size: .9em;

    padding-left: 15px;
    padding-right: 15px;

    &:not(.input-group-addon-btn):first-of-type {
        border-left: 1px solid $creamy-darker;
    }

    .input-group-lg & {
        height: $input-group-height-lg - 2px;
    }
}

.input-group-addon-btn .btn,
.input-group-addon-btn .btn.btn-primary {
    line-height: 1;
    border-radius: 0;
}

.input-group-addon-btn {
    background-color: transparent;
    border: none;
    padding: 0;
    height: $input-group-height;

    .input-group-lg & {
        height: $input-group-height-lg;
    }

    * {
        height: inherit;
    }
}

.input-group .form-control {
    display: table-cell;
    position: relative;
    vertical-align: middle;
    width: 100%;
    z-index: 2;
    float: left;
    margin-bottom: 0;
    height: $input-group-height;
}

.input-group-lg .form-control {
    height: $input-group-height-lg;
}

.input-group .form-notice {
    @include material-radius;
    @include material-shadow;

    position: absolute;
    z-index: $level-9;
    bottom: -8px;
    left: 50%;
    transform: translateY(100%) translateX(-50%);

    display: block;
    white-space: nowrap;
    text-align: center;

    background-color: rgba(#252525,.9);
    color: #fff;
    padding: 3px 8px;
    line-height: $base-line-height;
    border-radius: 5px;
    font-size: 14px;
    font-weight: normal;

    color: #fff !important;

    &::before {
        content: '';
        display: block;

        position: absolute;
        z-index: $level-9;
        top: -4px;
        left: 50%;
        transform: translateY(0%) translateX(-50%);
        opacity: .9;
        @include arrow('up', 5px, #252525);
    }
}
