//
// @name Segment control
// @description A control for segmentating radiobuttons or checkboxes
//
// @page Forms/Segment control
//
// @markup
// <ul class="segmented-control">
//     <li>
//         <input id="search-level-subscriptions" type="radio" name="level" value="subscriptions">
//         <label for="search-level-subscriptions" class="checkbox inline-block">Subscriptions</label>
//     </li>
//     <li>
//         <input id="search-level-all" type="radio" name="level" value="all">
//         <label for="search-level-all" class="checkbox inline-block">All</label>
//     </li>
//     <li>
//         <input id="search-level-current" type="radio" name="level" value="current">
//         <label for="search-level-current" class="checkbox inline-block">Current</label>
//     </li>
// </ul>
//

.segmented-control {
    display: inline-block;
    background-color: #fff;
    border: 1px solid $creamy-darker;
    font-size: 0;

    input[type="radio"],
    input[type="checkbox"] {
        display: none;
    }

    li {
        display: inline-block;

        & + li {
            border-left: 1px solid $creamy-darker;
        }
    }

    li.title {
        padding: $content-gutter/3 $content-gutter;
        font-size: 1rem;
        font-weight: bold;
    }

    label {
        display: block;
        padding: $content-gutter/3 $content-gutter;
        font-size: 1rem;
        cursor: pointer;

        &:active {
            box-shadow: inset 0 0 5px rgba(#000, .1);
        }
    }

    input[type="radio"]:checked + label,
    input[type="checkbox"]:checked + label {
        background-color: lighten($creamy-darker, 5%);

        .label {
            background-color: #fff !important;
            color: $base-font-color !important;
        }
    }
}
