//
// @name Dropdown
// @description Dropdown menu
//
// @page Navigation/Dropdown
//
// @state .dropdown-menu-arrow - Adds arrow to the dropdown menu
// @state .dropdown-menu-arrow-right - Moves the arrow to the right edge
//
// @markup
// <span class="dropdown">
//     <span class="btn btn-primary dropdown-toggle">Actions</span>
//     <ul class="dropdown-menu">
//         <li><a href="#">Open</a></li>
//         <li><a href="#">Delete</a></li>
//         <li class="divider"></li>
//         <li><a href="#">Add new</a></li>
//     </ul>
// </span>
//

.dropdown:not(.ui) {
    position: relative;
    display: inline-block;

    &:hover,
    &:focus {
        .dropdown-menu {
            display: block;
        }
    }

    .dropdown-toggle {
        position: relative;
        z-index: $level-4;

        &:focus + .dropdown-menu {
            display: block;
        }
    }
}

.dropdown-toggle:not(.pricon)::after{
    display: inline-block;
    content: '';
    @include pricon($pricon-caret-down);
    font-size: .7em;
    margin-left: 7px;
    vertical-align: middle;
}

.dropdown-menu {
    display: none;
    position: absolute;
    top: 100%;
    z-index: $level-top;
    min-width: 200px;
    padding: 5px 0;
    background: #fff;
    border: 1px solid $creamy-darker;
    text-align: left;
    font-size: .9em;

    @include material-shadow-large();
    @include material-radius();

    &.dropdown-menu-arrow {
        margin-top: 5px;

        &::after {
            display: block;
            content: '';
            position: absolute;
            bottom: calc(100% - 1px);
            left: 10px;
            @include arrow('up', 10px, #fff);
        }

        &::before {
            display: block;
            content: '';
            position: absolute;
            bottom: 100%;
            left: 10px;
            transform: scale(1px);
            @include arrow('up', 10px, $creamy-darker);
        }
    }

    &.dropdown-menu-arrow-right {
        &::after,
        &::before {
            left: auto;
            right: 10px;
        }
    }

    li {
        > a {
            display: block;
            padding: 3px 10px;
            color: $base-font-color;

            &:hover {
                background-color: $creamy;
                text-decoration: none;
            }
        }

        label {
            display: block;
            padding: 3px 10px;
        }
    }

    li + li {
        margin-left: 0px;
    }

    .divider {
        height: 1px;
        background-color: $creamy-darker;
        margin: 5px 0;
    }

    .title {
        padding: 3px 10px;
    }

    .dropdown-menu-overflow {
        max-height: 300px;
        overflow: auto;
    }
}

.dropdown-toggle.btn-floating:focus {
    outline: 0;
}

.btn-floating + .dropdown-menu.dropdown-menu-arrow {
    margin-top: 15px;
}

.btn-floating + .dropdown-menu.dropdown-menu-arrow.dropdown-menu--up {
    margin-top: initial;
    margin-bottom: 15px;
}

.dropdown-open {
    display: block;
}


.dropdown-menu.dropdown-menu--up {
    top: initial;
    bottom: 100%;
    margin-top: initial;

    &:before, &:after {
        top: 100%;
        bottom: initial;
        transform: rotate(180deg);
    }
}

.dropdown-menu.dropdown-menu--right {
    text-align: right;
    right: 0;
}


//
// @name Dropdown (JS)
// @description JS powered dropdown menu
//
// @page Navigation/Dropdown
//
//
// @markup
//<div class="c-dropdown js-dropdown">
//  <button class="c-dropdown__toggle js-dropdown__toggle">Toggle</button>
//  <div class="c-dropdown__menu">
//    <ul>
//      <li><a href="#">List item</a></li>
//      <li><a href="#">List item</a></li>
//      <li><a href="#">List item</a></li>
//    </ul>
//  </div>
//</div>
//

@keyframes c-dropdown-zoom {
    from {transform: scale(0);}
    to {transform: scale(1);}
}

.c-dropdown {
    position: relative;
    z-index: 1;
    display: inline-block;
}
.c-dropdown__toggle {}
.c-dropdown__toggle--caret-left:before,
.c-dropdown__toggle--caret-right:after {
    @include pricon($pricon-caret-down);
    font-size: .9em;
    display: inline-block;
}

.js-dropdown.is-open {
    .c-dropdown__toggle--caret-left:before,
    .c-dropdown__toggle--caret-right:after {
        transform: rotate(180deg);
    }
}

.c-dropdown__toggle--caret-left:before {
    margin-right: $content-gutter / 2;
}

.c-dropdown__toggle--caret-right:after {
    margin-left: $content-gutter / 2;
}

.js-dropdown.is-open .c-dropdown__toggle--rotate-plus {
    i.pricon-plus:before {
        transform: rotate(45deg);
        transition: transform 100ms ease;
    }
}

.c-dropdown__menu {
    display: none;
    background: white;
}

.js-dropdown.is-open .c-dropdown__menu,
.js-dropdown__menu.is-open,
.c-dropdown__menu.is-open,
.no-js .c-dropdown .c-dropdown__toggle:focus + .c-dropdown__menu,
.no-js .c-dropdown .c-dropdown__toggle:active + .c-dropdown__menu  {
    display: block;
}

.c-dropdown .c-dropdown__menu {
    position: absolute;
    top: 100%;
    left: 0;
    min-width: $content-gutter * 10;
    padding: $content-gutter * 0.5 0;

    @include material-shadow-medium();
    @include material-radius();
}

.c-dropdown__menu.c-dropdown__menu--up {
    top: initial;
    bottom: 100%;
}

.c-dropdown__menu.c-dropdown__menu--right {
    left: initial;
    right: 0;
    text-align: right;
}

.c-dropdown__menu.c-dropdown__menu--bubble:before {
    content: '';
    position: absolute;
    @include arrow('up', $content-gutter, #fff);
}
.c-dropdown__menu.c-dropdown__menu--bubble {
    margin-top: $content-gutter * 1.25;
    &:before {
        bottom: 99.5%;
        left: $content-gutter * 0.75;
    }

    &.c-dropdown__menu--right:before {
        left: initial;
        right: $content-gutter * 0.75;
    }

    &.c-dropdown__menu--up {
        margin-top: initial;
        margin-bottom: $content-gutter * 1.25;
    }

    &.c-dropdown__menu--up:before {
        bottom: initial;
        top: 99.5%;
        transform: rotate(180deg);
    }
}

.js-dropdown.is-open .c-dropdown__menu--zoom-in {
    animation-name: c-dropdown-zoom;
    animation-duration: 200ms;
}

.o-dropdown-links {
    a {
        color: $black;
        padding: $content-gutter/4 $content-gutter;
        display: inline-block;
        width: 100%;
    }
}

._nav-dropdown {
    .o-dropdown-links {
        a {
            color: $black !important;
            padding: $content-gutter/4 $content-gutter !important;
        }
    }
}


