@use "../../sass/mixin/tokens";

/* Component name */
$_: "c-brand";

/* Design tokens */
@include tokens.create($_, getComponentTokens($_));

.c-brand {
  --#{$_}--height: #{tokens.use($_, "base", 12)};
  --#{$_}--gap: #{tokens.use($_, "space", 3)};
  --#{$_}--contrast-color: #{tokens.get($_, "color--primary")};
  --#{$_}--font-size: calc(var(--#{$_}--font-size-multiplier, 1) * #{tokens.get($_, "font-size-400")});

  .c-brand__logotype {
    height: var(--#{$_}--height);
  }

  .c-brand__viewbox {
    height: var(--#{$_}--height);
  }

  .c-brand__container {
    height: var(--#{$_}--height);
    display: flex;
    gap: var(--#{$_}--gap);
    align-items: center;
  }

  .c-brand__text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 100%;
    font-size: var(--#{$_}--font-size);
    color: var(--#{$_}--contrast-color);
    line-height: 1.2;
    justify-content: center;
  }

  .c-brand__line {
    white-space: nowrap;
    display: block;
  }
}