//
// @name Article
// @description A full article with heading, lead and body text
//
// @page Typography/Article
//
// @markup
// <article>
//      <h1>Candy tootsie roll cookie</h1>
//      <p class="lead">Dragée I love macaroon jelly-o I love. Soufflé I love I love I love. Cotton candy sugar plum caramels. Soufflé halvah sweet. Wafer jujubes dessert tart donut cookie chupa chups croissant. Jelly jujubes fruitcake tart danish sesame snaps pie dessert.</p>
//      <p>Dessert dessert I love powder sweet fruitcake soufflé bonbon. I love jelly beans carrot cake chupa chups lemon drops croissant lemon drops. I love cheesecake brownie oat cake topping candy canes caramels. Lemon drops bonbon gingerbread pastry I love dessert jujubes caramels ice cream. Topping sugar plum cookie tiramisu I love I love powder. Tiramisu bear claw candy cotton candy croissant macaroon bear claw. Chocolate bar cupcake halvah gummi bears I love.</p>
//      <p>Sesame snaps bonbon fruitcake dragée pastry. Caramels icing cake lollipop donut liquorice. Sweet roll pudding gingerbread apple pie cheesecake I love caramels chocolate bar. Cheesecake apple pie muffin cake toffee lemon drops apple pie. Danish oat cake pastry sugar plum jelly chocolate bar pastry pudding. Sesame snaps jujubes soufflé liquorice cake.</p>
//      <p>Cupcake marzipan biscuit cupcake chocolate cake. I love muffin sweet. Cake sweet roll donut dragée sesame snaps I love.</p>
// </article>
//

.mce-content-body,
article {
	em {
		font-style: italic;
	}

	> h1:first-of-type {
		margin-top: -0.25em;
		margin-bottom: 0;
		padding-bottom: 0;

		img + & {
			margin-top: 0;
		}

		@media print {
			border-bottom: 2px solid #000;
			padding-bottom: 0;
			margin-bottom: 20px;
		}
	}

	strong,
	b {
		font-weight: bold;
	}

	$elements-margin-list: (
		'h1',
		'h2',
		'h3',
		'h4',
		'h5',
		'h6',
		'p',
		'ol:not(.player-playlist)',
		'ul:not(.nav):not(.slider-items):not(.line-numbers)',
		'blockquote',
		'pre',
		'img',
		'table',
		'[class*="ratio-"]',
		'.wp-caption.wp-caption.wp-caption',
		'.wpview',
		'.box',
		'.dataTables_wrapper',
		'.notice',
		'div[class*="mod-"]',
		'.player-wrapper'
	);
	@include elements-margin($elements-margin-list);

	h1 + p,
	h2 + p,
	h3 + p,
	h4 + p,
	h5 + p,
	h6 + p {
		margin-top: 0.5rem;
	}

	p:first-of-type:not(:first-child) {
		margin-top: 16px;
	}

	img {
		display: block;
		max-width: 100%;
		height: auto;
	}

	@media print {
		a::after {
			display: inline;
			content: " (" attr(href) ")";
			color: #999;
			font-size: .8em;
			word-break: break-all;
			text-decoration: none;
		}
	}
}

article:not(.full) {
	p,
	h1,
	h2,
	h3,
	h4,
	h5,
	h6,
	li,
	blockquote,
	.wp-caption,
	[class^="mod-"] {
		max-width: 700px;

		@media print {
			max-width: none !important;
		}
	}
}

hr {
	position: relative;
	height: 4px;
	border-radius: 4px;
	background-color: $creamy-darker;
	border: none;
}

article + .page-footer {
	margin-top: $content-gutter * 2;
}

.page-footer {
	font-size: 14px;
}

.mce-content-body img[data-wp-more="printbreak"] {
	//background: rgba(0, 0, 0, 0) url('../images/printbreak.png') repeat-y scroll center center;
}

.modularity-mod-text .box-panel.box-panel-secondary .box-content {
	padding: 20px;
}

