//
// @name Comments
// @description List of comments
//
// @page Blog/Comments
//
// @markup
//<div class="comments-wrapper">
//    <ul class="comments" id="comments">
//        <li class="comment" id="comment-9999">
//            <div class="author-image">
//                <a href="#"><img src="https://unsplash.it/200/200?image=1005"></a>
//            </div>
//            <div class="comment-body">
//                <div class="comment-header">
//                    <em class="author-name"><a href="#">Random hero</a></em>
//                    <time data-tooltip="2017-08-22 kl. 08:36" data-tooltip-right datetime="2017-08-22 06:36:28">20 minuter sedan</time>
//                </div>
//                <div class="comment-content">
//                    <p>Lorem ipsum curabitur donec tempor nullam senectus curabitur taciti quis eget ultrices varius lacinia purus sodales pulvinar, ornare himenaeos per feugiat lacus sagittis venenatis interdum, amet ultricies sodales maecenas nostra porta.</p>
//                </div>
//                <div class="comment-footer">
//                    <span class="like">
//                        <a class="like-button" href="#" data-comment-id="9999"><span id="like-count">0</span></a>
//                    </span>
//                    <span class="reply">
//                        <a class="comment-reply-link" href="#">Svara</a>
//                    </span>
//                </div>
//            </div>
//
//            <ul class="answers">
//                <li class="answer" id="answer-9999">
//                    <div class="author-image">
//                        <a href="#"><img src="https://unsplash.it/200/200?image=1005"></a>
//                    </div>
//                    <div class="comment-body">
//                        <div class="comment-header">
//                            <em class="author-name"><a href="#">Random hero 2</a></em>
//                            <time data-tooltip="2017-08-22 kl. 08:36" data-tooltip-right datetime="2017-08-22 06:36:28">20 minuter sedan</time>
//                        </div>
//                        <div class="comment-content">
//                            <p>Lorem ipsum curabitur donec tempor nullam senectus curabitur taciti quis eget ultrices varius lacinia purus sodales pulvinar, ornare himenaeos per feugiat lacus sagittis venenatis interdum, amet ultricies sodales maecenas nostra porta.</p>
//                        </div>
//                        <div class="comment-footer">
//                            <span class="like">
//                                <a class="like-button" href="#" data-comment-id="9999"><span id="like-count">0</span></a>
//                            </span>
//                            <span class="reply">
//                                <a class="comment-reply-link" href="#">Svara</a>
//                            </span>
//                        </div>
//                    </div>
//                </li>
//
//                <li class="answer" id="answer-9999">
//                    <div class="author-image">
//                         <a href="#"><img src="https://unsplash.it/200/200?image=1005"></a>
//                    </div>
//                    <div class="comment-body">
//                        <div class="comment-header">
//                            <em class="author-name"><a href="#">Random hero 3</a></em>
//                            <time data-tooltip="2017-08-22 kl. 08:36" data-tooltip-right datetime="2017-08-22 06:36:28">20 minuter sedan</time>
//                        </div>
//                        <div class="comment-content">
//                            <p>Lorem ipsum curabitur donec tempor nullam senectus curabitur taciti quis eget ultrices varius lacinia purus sodales pulvinar, ornare himenaeos per feugiat lacus sagittis venenatis interdum, amet ultricies sodales maecenas nostra porta.</p>
//                        </div>
//                        <div class="comment-footer">
//                            <span class="like">
//                                <a class="like-button active" href="#" data-comment-id="9999"><span id="like-count">11</span></a>
//                            </span>
//                            <span class="reply">
//                                <a class="comment-reply-link" href="#">Svara</a>
//                            </span>
//                        </div>
//                    </div>
//                </li>
//            </ul>
//        </li>
//        <li class="comment" id="comment-9999">
//            <div class="author-image">
//                <a href="#"><i class="pricon pricon-2x pricon-user-o"></i></a>
//            </div>
//            <div class="comment-body">
//                <div class="comment-header">
//                    <em class="author-name"><a href="#">Random hero</a></em>
//                    <time data-tooltip="2017-08-22 kl. 08:36" data-tooltip-right datetime="2017-08-22 06:36:28">20 minuter sedan</time>
//                </div>
//                <div class="comment-content">
//                    <p>Lorem ipsum curabitur donec tempor nullam senectus curabitur taciti quis eget ultrices varius lacinia purus sodales pulvinar, ornare himenaeos per feugiat lacus sagittis venenatis interdum, amet ultricies sodales maecenas nostra porta.</p>
//                </div>
//                <div class="comment-footer">
//                    <span class="like">
//                        <a class="like-button active" href="#" data-comment-id="9999"><span id="like-count">11</span></a>
//                    </span>
//                    <span class="reply">
//                        <a class="comment-reply-link" href="#">Svara</a>
//                    </span>
//                </div>
//            </div>
//
//            <ul class="answers">
//                <li class="answer" id="answer-9999">
//                    <div class="author-image">
//                        <a href="#"><i class="pricon pricon-2x pricon-user-o"></i></a>
//                    </div>
//                    <div class="comment-body">
//                        <div class="comment-header">
//                            <em class="author-name"><a href="#">Random hero 2</a></em>
//                            <time data-tooltip="2017-08-22 kl. 08:36" data-tooltip-right datetime="2017-08-22 06:36:28">20 minuter sedan</time>
//                        </div>
//                        <div class="comment-content">
//                            <p>Lorem ipsum curabitur donec tempor nullam senectus curabitur taciti quis eget ultrices varius lacinia purus sodales pulvinar, ornare himenaeos per feugiat lacus sagittis venenatis interdum, amet ultricies sodales maecenas nostra porta.</p>
//                        </div>
//                        <div class="comment-footer">
//                            <span class="like">
//                                <a class="like-button" href="#" data-comment-id="9999"><span id="like-count">0</span></a>
//                            </span>
//                            <span class="reply">
//                                <a class="comment-reply-link" href="#">Svara</a>
//                            </span>
//                        </div>
//                    </div>
//                </li>
//
//                <li class="answer" id="answer-9999">
//                    <div class="author-image">
//                        <a href="#"><i class="pricon pricon-2x pricon-user-o"></i></a>
//                    </div>
//                    <div class="comment-body">
//                        <div class="comment-header">
//                            <em class="author-name"><a href="#">Random hero 3</a></em>
//                            <time data-tooltip="2017-08-22 kl. 08:36" data-tooltip-right datetime="2017-08-22 06:36:28">20 minuter sedan</time>
//                        </div>
//                        <div class="comment-content">
//                            <p>Lorem ipsum curabitur donec tempor nullam senectus curabitur taciti quis eget ultrices varius lacinia purus sodales pulvinar, ornare himenaeos per feugiat lacus sagittis venenatis interdum, amet ultricies sodales maecenas nostra porta.</p>
//                        </div>
//                        <div class="comment-footer">
//                            <span class="like">
//                                <a class="like-button active" href="#" data-comment-id="9999"><span id="like-count">11</span></a>
//                            </span>
//                            <span class="reply">
//                                <a class="comment-reply-link" href="#">Svara</a>
//                            </span>
//                        </div>
//                    </div>
//                </li>
//            </ul>
//        </li>
//    </ul>
//</div>
//

/*
 *  New styles for comments
 */
li.comment.comment-new {
    margin-bottom: $content-gutter * 2;

    &:last-child {
        margin-bottom: 0;
    }

    li.answer {
        margin-bottom: $content-gutter * 2;
    }

    &:not(:last-child) ul.answers {
        margin-bottom: $content-gutter * 2;
    }

    ul.answers {
        margin-top: $content-gutter * 2;
        padding-left: $content-gutter * 3.5;
    }

    .author-image, .comment-body {
        display: table-cell;
        vertical-align: top;
    }

    .author-image {
        border-radius: 100%;
        padding-right: $content-gutter * 1;

        i {
            font-size: $content-gutter * 2.5;
            display: inline;
            vertical-align: top;
            color: $palette-4;
        }

        img {
            width: $content-gutter * 2.5;
            height: auto;
            display: block;
            border-radius: 100%;
        }
    }

    .comment-header {
        line-height: 2em;

        em {
            font-weight: bold;
            color: $palette-4;
        }

        time {
            margin-left: $content-gutter / 2;
            color: $gray;
            font-size: .9em;
        }
    }

    .comment-content {
        margin-top: $content-gutter / 2;

        img {
            max-width: 100%;
            height: auto;
        }
    }

    .comment-footer {
        position: relative;
        margin-top: $content-gutter / 2;

        span:not(:last-child) {
            margin-right: $content-gutter / 2;
        }

        span > a {
            color: $gray;
            font-size: .9em;
            text-decoration: none !important;
        }

        span > a:hover{
            color: $palette-4;
        }

        .like-button.active {
             color: $palette-3;
        }

        .reply a:before, .like a:before {
            margin-right: $content-gutter / 2;
        }

        .reply a:before {@include pricon($pricon-reply);}
        .like a:before {@include pricon($pricon-thumbs-up);}

        span, span > a {display: inline-block;}
        span + span:before {
            display: inline-block;
            content: '';
            width: 1px;
            height: 1em;
            background-color: #e5e5e5;

            position: relative;
            bottom: -3px;
            margin-right: $content-gutter / 2;
        }
        span#like-count {pointer-events: none;}

    }
}

.comments.comments-new {
    .comment-respond {
        margin-bottom: $content-gutter * 4;
    }

    .comment-update {
        margin-top: $content-gutter / 2;
        margin-bottom: $content-gutter / 2;
    }
}

/*
 *  Old styles for comments (deprecated)
 */
.comment:not(.comment-new) {

    em {
        font-weight: bold;
    }

    time {
        color: $gray;
        font-size: .9em;
        cursor: default;
    }

    & + .comment, .answers {
        margin-top: $content-gutter * 2;
    }

    i {
        color: $palette-2;
    }

    .comment-text {
        @include material-shadow;
        @include material-radius-medium;

        position: relative;
        padding: $content-gutter/1.5 $content-gutter;
        margin-top: 10px;
        background-color: $palette-2;
        color: #fff;

        &::before {
            @include arrow('up', 8px, $palette-2);

            display: block;
            content: '';

            position: absolute;
            top: -8px;
            left: 15px;
        }

    }

    a:not(.author-link) {
        color: #fff;
        text-decoration: underline;

        &:hover {
            color: rgba(#fff, .8);
        }
    }

    .author-image, .author-name, .author-image a, .author-name a, time, .reply {
        line-height: 40px;
    }

    .reply {
        text-align: right;

        a {
            text-decoration: none !important;
            color: $gray;
            font-size: .9em;

            &:hover {color: $palette-2;}
        }

        a:before {
            text-decoration: none !important;
            margin-right: $content-gutter / 2;
        }

        a:before {
            @include pricon($pricon-reply);
        }

        a:hover {}
    }

    .author-image {

        border-radius: 100%;
        margin-left: $content-gutter / 2.5;

        img {
            width: 36px;
            height: auto;
            display: block;
            border-radius: 100%;
        }
    }

    header {
        @include clearfix;
        margin-bottom: $content-gutter;

        .author-image, .author-name, time {
            float: left !important;
        }

        .author-image, .author-name {
            margin-right: $content-gutter;
        }
    }

    .answers {
        padding-left: 3%;
        .comment-text {
            opacity: .7;
        }
    }

    &:nth-child(4n + 2) {
        .comment-text {
            background-color: $palette-3;
            color: #fff;

            &::before {
                @include arrow('up', 8px, $palette-3);
            }
        }

        .author-image i {
            color: $palette-3;
        }

    }

    &:nth-child(4n + 3) {
        .comment-text {
            background-color: $palette-4;
            color: #fff;

            &::before {
                @include arrow('up', 8px, $palette-4);
            }
        }

        .author-image i {
            color: $palette-4;
        }
    }

    &:nth-child(4n + 4) {
        .comment-text {
            background-color: $palette-5;
            color: #fff;

            &::before {
                @include arrow('up', 8px, $palette-5);
            }
        }
        .author-image i {
            color: $palette-5;
        }
    }
}

.comments:not(.comments-new) {
    .comment-respond {
        margin-top: $content-gutter * 2;
        margin-bottom: $content-gutter * 3;
    }
}
