
.article {
    margin: auto;

    &--readable-width {
        max-width: 544px;
    }
}

.article {
    h1 {
        color: $color-primary;
    }

    h1, h2, h3, h4, h5, h6 {
        margin-top: $base * 6;
        margin-bottom: $base * 2;

        &:first-child {
            margin-top: -0.8%;
        }
    }

    h1 + h2,
    h2 + h3,
    h3 + h4,
    h4 + h5,
    h6 + h6,
    h1 + h4,
    h2 + h4,
    h3 + h4 {
        margin-top: $base * -2;
        color: $color-base-secondary;
    }

    p, ul, ol, table {
        margin-bottom: $base * 4;
        margin-top: 0;

        &:last-child {
            margin-bottom: 0;
        }
    }
}
