$article-content-headings:
'h1', 'h2', 'h3', 'h4', 'h5', 'h6',
'.h1', '.h2', '.h3', '.h4', '.h5', '.h6' !default;

$article-content-elements:
'p', 'ul', 'ol', 'blockquote', 'img', 'figure', 'table', '> div' !default;

$article-color-heading: var(--article-color-heading, $color-primary);

.c-article {
    #{$article-content-elements} {
        margin-top: calc(#{$base} * 2);
    }

    h1, .h1 {
        color: $article-color-heading;
        margin-bottom: calc(#{$base} * 2.5);
    }

    > *:first-child {
        margin-top: 0;
    }

    h1:first-child {
        margin-top: -0.21em; /* Mitigates excessive spacing due to line-height */ 
    }
}

.c-article.c-article--readable-width {
    max-width: calc(#{$base} * 76);
}