@use "../element/headings";
@use "../setting/var_default";

$article-content-headings:
'h1', 'h2', 'h3', 'h4', 'h5', 'h6',
'.h1', '.h2', '.h3', '.h4', '.h5', '.h6';

$article-content-elements:
'p', 'ul', 'ol', 'blockquote', 'img', 'table', '> div';


.c-article {
    #{$article-content-elements} {
        margin-top: calc(#{var_default.$base} * 2);
    }

    > *:first-child {
        margin-top: 0;
    }

    h1:first-child,
    .c-group:first-child h1:first-child {
        margin-top: calc(headings.$h1-font-size - (headings.$h1-line-height * headings.$h1-font-size));
    }
    
    h1:last-child {
        margin-bottom: 0; 
    }
    
}

.c-article.c-article--readable-width {
    max-width: var(--container-width-content, calc(#{var_default.$base} * 76));
}
