$article-content-headings:
'h1', 'h2', 'h3', 'h4', 'h5', 'h6',
'.h1', '.h2', '.h3', '.h4', '.h5', '.h6' !default;

$article-content-elements:
'p', 'ul', 'ol', 'blockquote', 'img', 'figure', 'table', '> div' !default;

.c-article {
    #{$article-content-elements} {
        margin-top: $base * 2;
    }

    h1, .h1 {
        margin-bottom: $base * 3;
    }

    *:first-child {
        margin-top: 0;
    }

}

.c-article.c-article--readable-width {
    max-width: $base * 76;
}