.o-container {
    width: 100%;
    max-width: $container-width;
    margin: 0 auto;   
    padding: 0 calc(#{$base} * 3);

    @include mq('sm', 'md') {
        max-width: calc(#{$base} * 90);
    }
}

.o-container.o-container--remove-spacing {
    padding: 0;
    margin: 0 auto;
}

.o-container.o-container--content {
    max-width: $container-width-content;
}

.o-container.o-container--wide {
    max-width: $container-width-wide;
}

.o-container.o-container--fullwidth {
    width: 100%;
    max-width: 100%;
    padding: 0 0;
}