@use "../setting/var_fonts";


$lead-font-size: var(--lead-font-size, var_fonts.$font-size-lead);
$lead-line-height: var(--lead-line-height, var_fonts.$line-height-base);
$lead-font-weight: var(--lead-font-weight, var_fonts.$font-weight-medium);
$lead-font-family: var(--lead-font-family, var_fonts.$font-family-base);

.lead {
    font-size: $lead-font-size;
    line-height: $lead-line-height;
    font-weight: $lead-font-weight;
    font-family: $lead-font-family;
}