@use "../../sass/mixin/tokens";

$_: "[popover]";
$token: 'o-popover';

#{$_} {
    background: unset;
    border: unset;
    padding: unset;
    margin: unset;

    &::backdrop {
        background: transparent;
    }

    &:not([data-popover-backdrop])::backdrop {
        display: none;
    }

    &[data-popover-backdrop]::backdrop {
        background: #{tokens.getRawValue($token, "color--alpha")};
    }
}