@use "../../sass/mixin/tokens";

$_: "[popover]";
$token: 'o-popover';

body:has([popover][data-js-popover-cover]:popover-open) {
    overflow: hidden;
}

#{$_} {
    background: unset;
    border: unset;
    padding: unset;
    margin: unset;
    overflow: visible;

    &::backdrop {
        background: transparent;
    }

    &:not([data-popover-backdrop])::backdrop {
        display: none;
    }

    &[data-popover-backdrop]::backdrop {
        background: #{tokens.getRawValue($token, "color--alpha")};
    }

    &[data-js-popover-cover] {
        inset: 0;
        width: 100%;
        height: 100dvh;
        max-width: none;
        max-height: none;
        margin: 0;
        overflow: auto;
    }
}
