@use "sass:list";
@use "sass:map";
@use "../../sass/mixin/tokens";
@use "../../sass/mixin/build-utility";

$_: "u-spacing*";

@include tokens.create($_, ("space"));

$spacers: (
    "0": 0,
    "05": tokens.use($_, "space", 0.5),
    "1": tokens.use($_, "space", 1),
    "1half": tokens.use($_, "space", 1.5),
    "2": tokens.use($_, "space", 2),
    "3": tokens.use($_, "space", 3),
    "4": tokens.use($_, "space", 4),
    "5": tokens.use($_, "space", 5),
    "6": tokens.use($_, "space", 6),
    "7": tokens.use($_, "space", 7),
    "8": tokens.use($_, "space", 8),
    "9": tokens.use($_, "space", 9),
    "10": tokens.use($_, "space", 10),
    "11": tokens.use($_, "space", 11),
    "12": tokens.use($_, "space", 12),
    "13": tokens.use($_, "space", 13),
    "14": tokens.use($_, "space", 14),
    "15": tokens.use($_, "space", 15),
    "16": tokens.use($_, "space", 16),
    "17": tokens.use($_, "space", 17),
    "18": tokens.use($_, "space", 18),
    "19": tokens.use($_, "space", 19),
    "20": tokens.use($_, "space", 20),
    "21": tokens.use($_, "space", 21),
    "22": tokens.use($_, "space", 22),
    "23": tokens.use($_, "space", 23),
    "24": tokens.use($_, "space", 24),
    "auto": "auto",
);

$spacing-util: (
);

@each $prop in (margin, padding) {

    //Builds sides
    @each $side in (top, left, right, bottom) {

        $mods: (
        );

    @each $size, $length in $spacers {
        @each $size, $length in $spacers {
            @if $length !=auto or $prop ==margin {
                $style: (
                    #{$size}:(#{$prop}-#{$side}: #{$length})
                );
            $mods: map.merge($mods, $style);
        }
    }
}

$util: (
    name: "#{$prop}__#{$side}",
    default: (#{$prop}-#{$side}: tokens.use($_, "space", 1)),
    modifiers: $mods
);

$spacing-util: list.append($spacing-util, $util);
}

$mods: (
);

//Builds all around
@each $size, $length in $spacers {
    @if $length !=auto or $prop ==margin {
        $style: (
            #{$size}:(#{$prop}: #{$length})
        );
    $mods: map.merge($mods, $style);
}
}

$util: (
    name: "#{$prop}",
    default: (#{$prop}: tokens.use($_, "space", 1)),
    modifiers: $mods
);

$spacing-util: list.append($spacing-util, $util);

$mods: (
);

//Builds on axis Y
@each $size, $length in $spacers {
    @if $length !=auto or $prop ==margin {
        $style: (
            #{$size}:(#{$prop}-top: #{$length},
                #{$prop}-bottom: #{$length})
        );
    $mods: map.merge($mods, $style);
}
}

$util: (
    name: "#{$prop}__y",
    default: (#{$prop}-top: tokens.use($_, "space", 1),
        #{$prop}-bottom: tokens.use($_, "space", 1)),
    modifiers: $mods
);

$spacing-util: list.append($spacing-util, $util);

//Builds on axis X
@each $size, $length in $spacers {
    @if $length !=auto or $prop ==margin {
        $style: (
            #{$size}:(#{$prop}-left: #{$length},
                #{$prop}-right: #{$length})
        );
    $mods: map.merge($mods, $style);
}
}

$util: (
    name: "#{$prop}__x",
    default: (#{$prop}-left: tokens.use($_, "space", 1),
        #{$prop}-right: tokens.use($_, "space", 1)),
    modifiers: $mods
);

$spacing-util: list.append($spacing-util, $util);
}

// Top utilities
@each $side in (top, left, right, bottom) {
    $mods: (
    );

@each $size, $length in $spacers {
    $style: (
        #{$size}: (#{$side}: #{$length})
    );
$mods: map.merge($mods, $style);
}

$util: (
    name: "#{$side}",
    modifiers: $mods
);

$spacing-util: list.append($spacing-util, $util);
}

@include build-utility.build-utilities($spacing-util);
