#watson-fab-icon {
    width: 64px;
    height: 64px;
    position: relative;
    padding-left: 0;
    left: -12px;
}

#watson-fab-icon:after {
    @extend .sally, .is-stand-by;
    position: absolute;
    top: 0;
    left: 0;
    content: '';
    z-index: 0;
}

#watson-fab-icon:before {
    z-index: 1;
    position: relative;
    color: white;
}

#watson-fab-text {
    font-size: 18px !important;
    position: relative;
    left: -12px;
    color: $base-font-color;
    line-height: 1.2 !important;
    max-width: 146px;
}

div#watson-fab {
    background: white;
    border: solid 1px #dadada !important;
}

div#watson-header {
    background-color: white !important;
    color: $base-font-color !important;
    padding: 16px 24px !important;
    height: auto !important;
    border: solid 1px rgba(0, 0, 0, 0.10980392156862745) !important;
}

div#watson-header .watson-font {
    margin-left: 32px;
}

div#message-container {
    background-color: $creamy;
}

#message-container #messages {
    padding: 16px !important;
}

#message-container #messages .message {
    padding: 8px 16px !important;
}

#watson-box .message-form .message-input {
    padding: 0 16px !important;
}

#message-container #messages .message:last-child {
    margin-bottom: 12px !important;
}

#message-container #messages .watson-message {
    background-color: white !important;
    color: $base-font-color !important;
}

#watson-box #message-send {
    background-color: $palette-4 !important;
    width: 48px !important;
    height: 40px !important;
    border: none !important;

    div svg {
        width: 1.8em;
    }
}

#message-container #messages .user-message {
    background-color: $palette-4 !important;
    color: white !important;
}

#message-container #messages {}

// #message-container #messages .message {
//     border-radius: 16px !important;
// }

.message.message-option.watson-font {
    border-radius: 0px !important;
    border: none !important;
    color: #b10000 !important;
    text-decoration: underline;
    padding: 4px 8px !important;
}

#watson-header {
    position: relative;
}
#watson-header:before {
    @extend .sally, .is-stand-by;
    position: absolute;
    top: 11px;
    left: 12px;
    content: '';
    z-index: 0;
    width: 32px;
    height: 32px;
}
#watson-fab-float {
    bottom: 14vmin;
    right: 4vmin;
}
