//
// @name Accordion
// @description CSS-only solution for toggeling content section visibility.<br><small>Note: You can use either checkbox or radio-button in your sections. Radio-button will only allow one opened section while checkbox will allow multiple.</small>
//
// @page Special/Accordion
//
// @state .accordion-icon - Use plus/minus signs to indicate toggaleable element
// @state .accordion-boxes - Make boxes around alternatives
// @state .accordion-list - Show accordion as list (with alternating colors)
//
// @markup
// <div class="accordion accordion-icon accordion-list">
//      <section class="accordion-section">
//         <label tabindex="0" class="accordion-toggle" for="accordion-section-1">
//             Ice cream
//         </label>
//         <div class="accordion-content">
//             Ice cream cupcake tootsie roll jujubes tart. Icing tart sweet ice cream candy canes chupa chups marshmallow carrot cake powder. Powder wafer caramels cake jelly-o jelly biscuit dessert topping. Oat cake apple pie dessert cookie.
//         </div>
//     </section>
//     <section class="accordion-section">
//         <label tabindex="0" class="accordion-toggle" for="accordion-section-2">
//             <h3>Sugar plum (H3)</h3>
//         </label>
//         <div class="accordion-content">
//             Cupcake pudding cheesecake cake sugar plum. Apple pie marzipan bonbon tootsie roll tootsie roll jujubes cookie macaroon. Cake tart icing tiramisu marzipan liquorice.
//         </div>
//     </section>
//     <section class="accordion-section">
//         <label tabindex="0" class="accordion-toggle" for="accordion-section-3">
//             <h3>Fruitcake</h3>
//         </label>
//         <div class="accordion-content">
//             I love apple pie fruitcake. Fruitcake I love danish toffee jelly beans croissant candy canes caramels. Biscuit wafer icing gingerbread sweet dragée sesame snaps.
//         </div>
//     </section>
//      <section class="accordion-section">
//         <label tabindex="0" class="accordion-toggle" for="accordion-section-4">
//             <h3>Jelly-o</h3>
//         </label>
//         <div class="accordion-content">
//             Oat cake jelly-o wafer cake candy canes. Sweet pastry dragée biscuit dragée lemon drops I love. Bear claw bear claw cupcake candy canes fruitcake pudding sweet. Chocolate croissant caramels.
//         </div>
//     </section>
// </div>

.accordion {
    @include material-radius;
    @include material-shadow;

    .accordion-section > input[type="checkbox"],
    .accordion-section > input[type="radio"] {
        display: none;
    }

    .accordion-content {
        background-color: $creamy;
    }
}

.accordion + .accordion {
    margin-top: $content-gutter;
}

.accordion-table-head {
    border-radius: 0px !important;
    padding: $grid-gutter-sm/2 $grid-gutter-sm;
    padding-right: 40px;
}


.accordion-icon {
    .accordion-toggle {
        position: relative;

        &:before {
           /* @include pricon($pricon-plus-o);*/
            @include center(false, true);
            right: 0;
            font-size: 1em;
            color: $gray-light;
        }

        .column-header,
        h1, h2, h3, h4, h5, h6 {
            padding-right: 30px;
        }
    }
}



.accordion-search {
    background-color: $creamy;
    border: 1px solid $creamy-darker;
    padding: 5px;
}

.column-header {
    word-wrap: break-word;
    hyphens: auto;
}

.accordion-boxes,
.accordion-box,
.accordion-list {

    .accordion-toggle,
    .accordion-content {
        padding: $baseline * 1.5 $baseline * 2;

        &:before {
            right: $baseline * 2;
        }
    }

    .accordion-toggle {
        @include gradient(#fff, lighten($creamy, 2%));
    }

    .accordion-content {
        position: relative;
        padding: $grid-gutter-sm * 2;

        &::after {
            display: block;
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 5px;
            @include gradient(rgba(#000, .05), rgba(#000, 0))
        }
    }

    &.boxes-medium,
    &.box-medium,
    &.list-medium {
        .accordion-toggle,
        .accordion-content {
            padding: $grid-gutter-md $grid-gutter-md * 1.5;

            &:before {
                right: $grid-gutter-md * 1.5;
            }
        }

        .accordion-content {
            padding: $grid-gutter-md * 2;
        }

        .accordion-table-head {
            padding: $grid-gutter-md/2 $grid-gutter-md;
        }
    }

    &.boxes-large,
    &.box-large,
    &.list-large {
        .accordion-toggle,
        .accordion-content {
            padding: $grid-gutter-lg $grid-gutter-lg * 1.5;

            &:before {
                right: $grid-gutter-lg * 1.5;
            }
        }

        .accordion-content {
            padding: $grid-gutter-lg * 2;
        }

        .accordion-table-head {
            padding: $grid-gutter-lg/2 $grid-gutter-lg;
        }
    }

    .accordion-section {
        border: 1px solid $creamy-darker;
    }

    .accordion-search + .accordion-section {
        border-top: none;
    }

    .accordion-content {
        border-top: 1px solid $creamy-darker;
    }

    .accordion-toggle {
        h1, h2, h3, h4, h5, h6 {
            padding: 0;
            margin: 0;
            font-weight: normal;

            .fa,
            .pricon {
                font-size: .9em;
                width: 1.1em;
                text-align: center;
            }
        }
    }

}

.accordion-content article {
    margin-bottom: 0;
    width: 100%;
}

.accordion-list {
    .accordion-section + .accordion-section {
        margin-top: 0;
        border-top: none;
    }

    .accordion-section:nth-child(odd) {
        background: rgba(#000,.01);
    }
}

.accordion-list.accordion-list-small {
    .accordion-toggle {
        background: transparent;
    }
}

.accordion-icon input[type="checkbox"]:checked ~ .accordion-toggle:before,
.accordion-icon input[type="radio"]:checked ~ .accordion-toggle:before {
    @include pricon($pricon-minus-o);
}

input[type="checkbox"]:checked ~ .accordion-toggle,
input[type="radio"]:checked ~ .accordion-toggle,
input[type="checkbox"]:target ~ .accordion-toggle,
input[type="radio"]:target ~ .accordion-toggle {
    font-weight: bold;

    h1, h2, h3, h4, h5, h6 {
        font-weight: bold;
    }

    .label-number {
        color: $palette-green-2;
    }
}

.accordion-toggle {
    @extend .no-select;
    display: block;
    cursor: default;

    * {
        @extend .no-select;
    }
}

label.accordion-toggle {
    cursor: pointer;
}

label.accordion-toggle.link-item {
    color: $palette-4;

    &:hover {
        text-decoration: underline;
    }
}

.accordion-content {
    display: none;

    input[type="checkbox"] ~ &,
    input[type="radio"] ~ & {
        display: none;

        @media print {
            display: block !important;
        }
    }

    input[type="checkbox"]:checked ~ &,
    input[type="radio"]:checked ~ &,
    input[type="checkbox"]:target ~ &,
    input[type="radio"]:target ~ & {
        display: block;
    }

    @media print {
        display: block !important;
    }

    table {
        width: 100%;

        td {
            padding-right: 5px;
        }

        tr + tr td {
            padding-top: 5px;
        }
    }
}

.accordion-table {
    display: table;
    table-layout: fixed;
    width: 100%;

    .column-header {
        display: table-cell;
        width: 2%;
    }
}

.accordion-table-head {
    background-color: $palette-2;
    color: #fff;
    font-weight: bold;
}

.modal-body .accordion {
    .accordion-section:first-child {
        border-top: none;
    }

    .accordion-section:last-child {
        border-bottom: none;
    }
}

.accordion-nav {
    background-color: #F6F5F2;
    margin: -16px;
    margin-top: 20px;
    padding: 10px 20px;
    border-top: 1px solid #E7E5E1;

    @media print {
        display: none;
    }
}

body:not(.material-no-shadow) .box-content .accordion {
    box-shadow: none;
}

.box-content .accordion {
    border: none;
    border-radius: 0;

    li,
    .accordion-section {
        border: none;
        border-top: 1px solid $creamy-darker;
    }

    li:last-child,
    .accordion-section:last-child {
        border-bottom: 1px solid $creamy-darker;
    }
}

[data-accordion-nav="next"] .fa,
[data-accordion-nav="next"] .pricon {
    margin-left: 5px;
}

[data-accordion-nav="prev"] .fa,
[data-accordion-nav="prev"] .pricon {
    margin-right: 5px;
}

.accordion-toggle:before {
    @include pricon($pricon-plus-o);
}

.minus:before {
    @include pricon($pricon-minus-o);
}

.modularity-mod-guide, .modularity-mod-alarms {
    .accordion-toggle:before {
        content: '';
    }
    .minus:before {
        content: '';
    }
}










