@mixin arrow($direction: "up", $border-width: 5px, $color: #000) {
    width: 0;
    height: 0;

    @if ($direction == "up") {
        border-top: none;
        border-right: $border-width solid transparent;
        border-bottom: $border-width solid $color;
        border-left: $border-width solid transparent;
    } @else if ($direction == "down") {
        border-top: $border-width solid $color;
        border-right: $border-width solid transparent;
        border-bottom: none;
        border-left: $border-width solid transparent;
    } @else if ($direction == "left") {
        border-top: $border-width solid transparent;
        border-right: $border-width solid $color;
        border-bottom: $border-width solid transparent;
        border-left: none;
    } @else if ($direction == "right") {
        border-top: $border-width solid transparent;
        border-right: none;
        border-bottom: $border-width solid transparent;
        border-left: $border-width solid $color;
    }
}