@mixin build-utilities($utility_specs, $responsive: true, $limitToBreakpoint: true) {
    @if type-of($utility_specs) == list {
        @each $utility in $utility_specs {
            @include apply-utility($utility, $limitToBreakpoint);
        }
    } @else {
        @include apply-utility($utility_specs, $limitToBreakpoint);
    }
}

@mixin apply-utility($utility, $limitToBreakpoint: true) {
    $name: map-get($utility,  "name");
    $modifiers: map-get($utility,  "modifiers");
    $default: map-get($utility,  "default");

    @if $default {
        @include responsiveStyles(
            (".u-#{$name}": $default),
            all,
            $limitToBreakpoint
        );
    }

    @if $modifiers {
        @each $modifier in $modifiers {
            .u-#{$name}--#{nth($modifier,1)} {
                @each $property, $value in nth($modifier, 2) {
                    #{$property}: #{$value};
                }
            }
        }
        
        @each $modifier in $modifiers {
            $style: nth($modifier, 2);
            @include responsiveStyles(
                (".u-#{$name}--#{nth($modifier,1)}": $style),
                all,
                $limitToBreakpoint
            );
        }
    }
}