@mixin build-utilities($utility_specs, $responsive:true) {
    @if type-of($utility_specs) == list{
        @each $utility in $utility_specs{
            @include apply-utility($utility)
        }
    } @else {
        @include apply-utility($utility_specs);
    }
    
}

@mixin apply-utility($utility){
    $name: map-get($utility,  "name");
    $modifiers: map-get($utility,  "modifiers");
    $default: map-get($utility,  "default");

    @if $default {
        @include responsiveStyles(
            ('.u-#{$name}': appendImportant($default))
        );
    }
    
    @if $modifiers {
        @each $modifier in $modifiers {
            $style: nth($modifier, 2);
            
            @include responsiveStyles(
                ('.u-#{$name}--#{nth($modifier,1)}': appendImportant($style))
                
            )
        }
    }
}