// Button Focus, Hover - Color, Background, Borders
@mixin button-mix($color, $background, $border, $isIconButton: false) {
    color: $color;
    
    &:visited {
        color: $color;
        &:hover,
        &:active {
            color: $color;
        }
        
    }

    &:hover,
    &:active {
        color: $color;
    }
        
    @if $background{
        border: 2px solid $background;
        background-color: $background;
        &:hover {
            background-color: darken($background, 5);
            border-color: darken($background, 5);
        }
    }
    
    @if $border{
        &:hover {
            background-color: transparentize($color, 0.9);
        }

        border: 2px solid $color;
    }

    @if $isIconButton{
        &:hover {
            background-color: transparentize($color, 0.95);
        }
    }
}

// Button sizes
@mixin button-size($padding-vertical, $padding-horizontal, $font-size, $line-height, $border-radius) {
    padding-left: $padding-horizontal;
    padding-right: $padding-horizontal;
    padding-top: $padding-vertical;
    padding-bottom: $padding-vertical;
    font-size: $font-size;
    border-radius: $border-radius;
}

// Reset button styles
@mixin button-unstyled() {
    background-color: transparent;
    border: 0;
    border-radius: 0;
    box-shadow: none;
    font-weight: 'normal';
    margin: 0;
    padding: 0;
    text-align: left;

    &:hover,
    &:active {
        background-color: transparent;
        box-shadow: none;
        text-decoration: underline;
    }
}
