// Button Focus, Hover - Color, Background, Borders
@mixin button-mix($color, $background, $hoverColor) {
    color: $color;

    &:visited {
        color: $color;

        &:hover,
        &:active {
            color: $color;
        }

    }

    &:hover,
    &:active {
        color: $color;
    }

    @if $background {
        border: 1px solid $background;
        background-color: $background;

        &:hover {
            background-color: $hoverColor;
            border-color: $hoverColor;
        }
    }
}

// Button sizes
@mixin button-size(
    $padding-vertical,
    $padding-horizontal,
    $font-size,
    $line-height,
    $border-radius
) {
    padding-left: $padding-horizontal;
    padding-right: $padding-horizontal;
    padding-top: $padding-vertical;
    padding-bottom: $padding-vertical;
    font-size: $font-size;
    border-radius: $border-radius;
}

// Reset button styles
@mixin button-unstyled() {
    background-color: transparent;
    border: 0;
    border-radius: 0;
    box-shadow: none;
    font-weight: "normal";
    margin: 0;
    padding: 0;
    text-align: left;

    &:hover,
    &:active {
        background-color: transparent;
        box-shadow: none;
        text-decoration: underline;
    }
}
