@use "../setting/var_colors";
@use "../setting/var_default";
@use "../setting/var_properties";

@mixin focus {
    outline: thick solid var_colors.$color-focus-outline;
    outline-offset: calc(#{var(--base)} * 0.25);
    box-shadow: 0 0 0 6px var_colors.$color-white;
}

@mixin focus-remove-default {
    outline: none;
    outline-offset: 0;
    box-shadow: none;
}

@mixin focus-inset($border-radius: 0, $remove-default-focus: false) {
    
    @if($remove-default-focus) {
        @include focus-remove-default;
    }

    &::after {
        border-radius: $border-radius;
        box-shadow: inset 0 0 0 calc(#{var(--base)} * 0.5) var_colors.$color-focus-outline,
        inset 0 0 0 calc(#{var(--base)} * 0.75) var_colors.$color-white;
        content: '';
        display: block;
        height: 100%;
        outline: none;
        outline-offset: 0;
        pointer-events: none;
        position: absolute;
        width: 100%;
        z-index: var(--level-3);
    }
}