@use "../setting/var_colors";
@use "../setting/var_default";
@use "../setting/var_properties";

@mixin focus {
    outline: 2px solid var_colors.$color-focus-outline;
    outline-offset: 2px;
}

@mixin focus-remove-default {
    outline: none;
    outline-offset: 0;
    box-shadow: none;
}
