@mixin focus {
    outline: thick solid $color-focus-outline;
    outline-offset: calc(#{$base} * 0.25);
    box-shadow: 0 0 0 6px $color-white;
}

@mixin focus-remove-default {
    outline: none;
    outline-offset: 0;
    box-shadow: none;
}

@mixin focus-inset {
    outline: none;
    outline-offset: 0;
    box-shadow: inset 0 0 0 calc(#{$base} * 0.5)  $color-focus-outline, inset 0 0 0 calc(#{$base} * 0.75) $color-white;
}