@use "sass:list";
@use "sass:map";
@use "../setting/var_border-radius";
@use "../setting/var_colors";
@use "../setting/var_default";
@use "../setting/var_properties";

$c-paper-color-background: var(--c-paper-color-background, var_colors.$color-background-card);
$c-paper-border-radius: var(--c-paper-border-radius, var(--radius-lg));

@mixin paper($level: 1, $padding: "0") {
    filter: list.nth(var_properties.$drop-shadow-list, $level);
    background-color: $c-paper-color-background;
    border-radius: $c-paper-border-radius;
    corner-shape: var(--corner-shape);
    padding: map.get(var_default.$spacers, $padding);
}