@use "sass:string";
@use "psuedo";

@mixin ratio($x,$y, $pseudo: false) {
    $padding: string.unquote( calc($y / $x) * 100 + "%" );
    @if $pseudo {

        &:before {
            @include psuedo.pseudo($pos: relative);
            width: 100%;
            padding-top: $padding;
        }
    } @else {
        padding-top: $padding;
    }
}