@use "sass:string";

@mixin ratio($x, $y, $pseudo: false) {
    $padding: string.unquote(calc($y / $x) * 100 + "%");

    @if $pseudo {

        &:before {
            display: block;
            position: relative;
            content: "";
            width: 100%;
            padding-top: $padding;
        }
    }

    @else {
        padding-top: $padding;
    }
}