@use "sass:string";
@use "sass:list";
@use "sass:map";
@use "sass:meta";
@use "../function/breakpoint-suffix";
@use "../function/next-breakpoint";
@use "../function/validate-breakpoint-list";
@use "mq";

@mixin groupedStyles($styles, $suffix: "") {
    $grouped-selectors: (
    );
$grouped-style-values: (
);

@each $selector, $style in $styles {
    $style-key: meta.inspect($style);
    $selector-group: map.get($grouped-selectors, $style-key);

    @if $selector-group ==null {
        $selector-group: (
        );
}

$selector-group: list.append($selector-group, $selector, comma);
$grouped-selectors: map.merge($grouped-selectors, ($style-key: $selector-group));
$grouped-style-values: map.merge($grouped-style-values, ($style-key: $style));
}

@each $style-key, $selector-group in $grouped-selectors {
    $style: map.get($grouped-style-values, $style-key);
    $classes: (
    );

@each $selector in $selector-group {
    $base-class: $selector;
    $pseudo: null;

    // Detect pseudo-element and move it to the end
    @if string.index($base-class, "::") {
        $pseudo: string.slice($base-class, string.index($base-class, "::"));
        $base-class: string.slice($base-class, 1, string.index($base-class, "::") - 1);
    }

    $class: "#{$base-class}#{$suffix}#{$pseudo}";
    $classes: list.append($classes, $class, comma);
}

#{$classes} {
    @each $propety, $value in $style {
        #{$propety}: #{$value};
    }
}
}
}

@mixin responsiveStyles($styles, $breakpoints: all, $limitToBreakpoint: true) {
    $breakpoints: validate-breakpoint-list.validateBreakpointList($breakpoints, $limitToBreakpoint);

    @each $breakpoint in $breakpoints {
        $suffix: breakpoint-suffix.get-breakpoint-suffix($breakpoint, true);
        $next: null;

        @if $limitToBreakpoint ==true {
            $next: next-breakpoint.next-breakpoint($breakpoint);
        }

        @include mq.mq($breakpoint, $next) {
            @include groupedStyles($styles, $suffix);
        }
    }
}