@mixin responsiveStyles($styles, $breakpoints: all, $limitToBreakpoint: true) {
    $breakpoints: validateBreakpointList($breakpoints, $limitToBreakpoint);

    @each $breakpoint in $breakpoints {
        $suffix: get-breakpoint-suffix($breakpoint, true);
        $next: null;

        @if $limitToBreakpoint == true {
            $next: next-breakpoint($breakpoint);
        }

        @include mq($breakpoint, $next) {
            @each $selector, $style in $styles {
                
                $base-class: $selector;
                $pseudo: null;

                // Detect pseudo-element and move it to the end
                @if str-index($base-class, "::") {
                    $pseudo: str-slice($base-class, str-index($base-class, "::"));
                    $base-class: str-slice($base-class, 1, str-index($base-class, "::") - 1);
                }

                $class: "#{$base-class}#{$suffix}#{$pseudo}";

                #{$class} {
                    @each $propety, $value in $style {
                        #{$propety}: #{$value};
                    }
                }
            }
        }
    }
}
