@use "../../sass/mixin/tokens";

$_: "c-listing";

@include tokens.create($_, getComponentTokens($_));

.#{$_} {
    @for $i from 0 to 11 {
        &.#{$_}--padding-#{$i} {
            .#{$_}__item {
                padding-bottom: calc(tokens.getCalculatedValue($_, "space", $i) / 2);
            }

            .#{$_}__item:last-child {
                padding-bottom: 0;
            }
        }
    }

    .#{$_}__link {
        text-decoration: none;

        .#{$_}__label {
            text-decoration: underline;
        }
    }

    .#{$_}__item,
    .#{$_}__link {
        display: flex;
        gap: tokens.getCalculatedValue($_, "base", 0.5);
    }
}