@use "../mixin/tokens";

$_: "u-text*";

@include tokens.create($_,
    ("font-weight-bold",
        "font-size-90",
        "font-size-100",
        "font-size-200",
        "font-size-400",
        "font-size-500",
        "font-size-600",
        "font-size-700",
        "font-size-800"
    ));

/* Text decoration */

.u-no-decoration,
.u-no-decoration:hover,
.u-no-decoration:focus {
    text-decoration: none;
}

.u-inherit-color {
    color: inherit;
}

/* Text appearance */

.u-bold,
.u-strong {
    font-weight: tokens.get($_, "font-weight-bold");
}

.u-italic {
    font-style: italic;
}

/* Text flow */

.u-nowrap {
    white-space: nowrap;
}

.u-truncate {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.u-truncate-ignore-hover:hover {
    width: auto;
    overflow: visible;
}

/* Font size */
$font-sizes: (
    "base": tokens.get($_, "font-size-100"),
    "lead": tokens.get($_, "font-size-200"),
    "caption": tokens.get($_, "font-size-90"),
    "marketing": tokens.get($_, "font-size-800"),
    "headline": tokens.get($_, "font-size-600"),
    "title": tokens.get($_, "font-size-500"),
    "subtitle": tokens.get($_, "font-size-400"),
    "subtitle-small": tokens.get($_, "font-size-200"),
    "meta": tokens.get($_, "font-size-90"),
    "brand": tokens.get($_, "font-size-700"),
);

@each $name, $value in $font-sizes {
    .u-font-size--#{$name} {
        font-size: $value;
    }
}

/* Text size */

.u-text-small {
    font-size: tokens.get($_, "font-size-90");
}

.u-text-normal {
    font-size: tokens.get($_, "font-size-100");
}

.u-text-large {
    font-size: tokens.get($_, "font-size-400");
}

.u-text-xlarge {
    font-size: tokens.get($_, "font-size-500");
}

/* Apperance */

.u-text-uppercase {
    text-transform: uppercase;
}

.u-text-lowercase {
    text-transform: lowercase;
}

.u-text-capitalize {
    text-transform: capitalize;
}