@use "../../sass/mixin/tokens";

/* Component name */
$_: "c-divider";

@include tokens.create($_, getComponentTokens($_));

.#{$_} {
    margin: 0 auto;
    display: flex;
    align-items: center;
    text-align: center;

    &::before,
    &::after {
        border-bottom-style: var(--border-style, solid);
        border-bottom-width: clamp(1px, tokens.use($_, "border-width"), 6px);
        content: "";
        flex: 1;
    }

    &__title {
        padding: tokens.use($_, "space", 1) tokens.use($_, "space", 2);
    }

    &--has-frame .#{$_}__title {
        background: tokens.get($_, "color--surface");
        border-style: var(--border-style, solid);
        border-width: clamp(1px, tokens.use($_, "border-width"), 6px);
        border-radius: tokens.use($_, "border-radius", 1);
        corner-shape: tokens.get($_, "corner-shape");
    }

    &--has-frame.#{$_}--dashed .#{$_}__title {
        --border-style: dashed;
    }

    &--has-frame.#{$_}--dotted .#{$_}__title {
        --border-style: dotted;
    }

    &.#{$_}--align-left:not(.#{$_}--has-frame) .#{$_}__title {
        padding-left: 0;
    }

    &.#{$_}--align-right:not(.#{$_}--has-frame) .#{$_}__title {
        padding-right: 0;
    }

    &--align-left {
        &::before {
            display: none;
        }
    }

    &--align-right {
        &::after {
            display: none;
        }
    }

    &--without-title {
        &::before {
            display: block;
        }

        &::after {
            display: none;
        }
    }

    &--sm {
        width: 30%;
    }

    &--md {
        width: 50%;
    }

    &--lg {
        width: 70%;
    }

    &--full-width {
        width: 100%;
    }

    &--dashed::before,
    &--dashed::after {
        --border-style: dashed;
    }

    &--dotted::before,
    &--dotted::after {
        --border-style: dotted;
    }
}