@use "sass:map";
@use "../mixin/mq";
@use "../setting/var_default";

.container {
    width: calc( 100% - #{map.get(var_default.$spacers, "4")});
    max-width: var_default.$container-width;
    margin: 0 auto;

    &--wide {
        max-width: var_default.$container-width-wide;
    }

    &--full {
        max-width: initial;
    }

    &--home {
        min-height: calc(90vh - 140px);
        padding-left: calc(#{var_default.$base} * 17);
        padding-right: calc(#{var_default.$base} * 17);
    }

    &--doc {
        min-height: calc(90vh - 140px);
        padding: map.get(var_default.$spacers, "8");
    }
}

@include mq.mq(map.get(var_default.$breakpoints-map, "xs"), "md") {

    .container {

        &--home {
            padding: 20px;
        }

        &--doc {
            margin-left: 0;
            padding: 20px
        }
    }
}