.g-divider{
    border: 1px dashed $color-default-dimmed;
    align-self: center;
    margin:0 auto;
    
    &--sm{
        width:30%;
    }

    &--md{
        width:50%;
    }

    &--lg{
        width:500px;
    }

}