@font-face {
    font-family: "styleguide-icons";
    src: url("/assets/dist/icons/styleguide-icons.eot?a3fa0a634a4a693042aa56337a71a1a3?#iefix") format("embedded-opentype"),
url("/assets/dist/icons/styleguide-icons.woff2?a3fa0a634a4a693042aa56337a71a1a3") format("woff2"),
url("/assets/dist/icons/styleguide-icons.woff?a3fa0a634a4a693042aa56337a71a1a3") format("woff"),
url("/assets/dist/icons/styleguide-icons.ttf?a3fa0a634a4a693042aa56337a71a1a3") format("truetype"),
url("/assets/dist/icons/styleguide-icons.svg?a3fa0a634a4a693042aa56337a71a1a3#styleguide-icons") format("svg");
}

i[class^="c-icon--"]:before, i[class*=" c-icon--"]:before {
    font-family: styleguide-icons !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.c-icon--add:before {
    content: "\f101";
}
.c-icon--apps:before {
    content: "\f102";
}
.c-icon--archive:before {
    content: "\f103";
}
.c-icon--arrow-back:before {
    content: "\f104";
}
.c-icon--arrow-drop-down:before {
    content: "\f105";
}
.c-icon--arrow-drop-up:before {
    content: "\f106";
}
.c-icon--arrow-forward:before {
    content: "\f107";
}
.c-icon--bluetooth:before {
    content: "\f108";
}
.c-icon--bookmark:before {
    content: "\f109";
}
.c-icon--brush:before {
    content: "\f10a";
}
.c-icon--call:before {
    content: "\f10b";
}
.c-icon--cancel:before {
    content: "\f10c";
}
.c-icon--check:before {
    content: "\f10d";
}
.c-icon--chevron-left:before {
    content: "\f10e";
}
.c-icon--chevron-right:before {
    content: "\f10f";
}
.c-icon--close:before {
    content: "\f110";
}
.c-icon--cloud-upload:before {
    content: "\f111";
}
.c-icon--console:before {
    content: "\f112";
}
.c-icon--content-copy:before {
    content: "\f113";
}
.c-icon--content-cut:before {
    content: "\f114";
}
.c-icon--content-paste:before {
    content: "\f115";
}
.c-icon--data-usage:before {
    content: "\f116";
}
.c-icon--delete:before {
    content: "\f117";
}
.c-icon--expand-less:before {
    content: "\f118";
}
.c-icon--expand-more:before {
    content: "\f119";
}
.c-icon--favorite:before {
    content: "\f11a";
}
.c-icon--flag:before {
    content: "\f11b";
}
.c-icon--flask:before {
    content: "\f11c";
}
.c-icon--forum:before {
    content: "\f11d";
}
.c-icon--fullscreen-exit:before {
    content: "\f11e";
}
.c-icon--fullscreen:before {
    content: "\f11f";
}
.c-icon--greeting:before {
    content: "\f120";
}
.c-icon--local-offer:before {
    content: "\f121";
}
.c-icon--menu:before {
    content: "\f122";
}
.c-icon--mic:before {
    content: "\f123";
}
.c-icon--more-vert:before {
    content: "\f124";
}
.c-icon--people:before {
    content: "\f125";
}
.c-icon--place:before {
    content: "\f126";
}
.c-icon--print:before {
    content: "\f127";
}
.c-icon--refresh:before {
    content: "\f128";
}
.c-icon--replay:before {
    content: "\f129";
}
.c-icon--reply:before {
    content: "\f12a";
}
.c-icon--report:before {
    content: "\f12b";
}
.c-icon--screen:before {
    content: "\f12c";
}
.c-icon--search:before {
    content: "\f12d";
}
.c-icon--select-all:before {
    content: "\f12e";
}
.c-icon--send:before {
    content: "\f12f";
}
.c-icon--share:before {
    content: "\f130";
}
.c-icon--shopping-cart:before {
    content: "\f131";
}
.c-icon--signal-wifi-bar:before {
    content: "\f132";
}
.c-icon--volume-up:before {
    content: "\f133";
}
.c-icon--wrench:before {
    content: "\f134";
}
