.l-docs {
    display: grid;
    grid-template-columns: 288px calc( 100% - 288px);
    grid-template-rows: auto;
    grid-template-areas:
        "sidebar content"
    ;

    &--sidebar {
        grid-area: sidebar;
    }

    &--content {
        grid-area: content;
    }
}

@include mq(map_get($breakpoints-map, "xs"), "md") {

    .l-docs {
        display: block;
    }
}