@use "sass:meta";
@use "sass:string";
@use "../../sass/mixin/tokens";
@use "../segment/style" as segment;

$_: "c-slider";
$container-width-md: 640px;

@include tokens.create($_, getComponentTokens($_),
    ("gap": tokens.use($_, "base", 2),
        "inset": tokens.use($_, "base", 7),
        "font-family-heading": tokens.get($_, "font-family-heading"),
        "font-size-heading": clamp(1.5rem, 5cqw, 2.5rem),
        "font-family": tokens.get($_, "font-family-base"),
        "font-size": tokens.get($_, "font-size-100"),
        "item-container-max-width": tokens.use($_, "base", 118),
        "color--overlay": rgba(from tokens.get($_, "color--alpha") r g b / 0.8), // Ensures text is background is dark enough for text to be readable.
        "color--overlay-contrast": tokens.get($_, "color--alpha-contrast")));

.c-slider {
    position: relative;
    border-radius: tokens.use($_, "border-radius", 1);
    container-name: slider;
    container-type: inline-size;

    .c-slider__container {
        padding-top: Min(100%, 80vh);
        min-height: 0;
        position: relative;
        overflow: hidden;

        .c-slider__inner {
            display: flex;
            height: 100%;

            .#{segment.$c}.#{segment.$c}--card {
                --c-segment--min-height-card: 560px;
                width: 100%;
            }
        }
    }

    &.c-slider--shadow {
        .c-slider__container {
            filter: tokens.use($_, "shadow", 1);
        }
    }

    .c-slider__arrows {
        width: 100%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%);
        z-index: 1;

        .c-slider__arrow {
            position: absolute;
            top: 50%;
            z-index: 1;
            width: tokens.use($_, "base", 4);
            height: tokens.use($_, "base", 4);

            &.c-slider__arrow--prev {
                left: tokens.use($_, "base", -1.5);
                transform: translateY(-50%);
            }

            &.c-slider__arrow--next {
                right: tokens.use($_, "base", -1.5);
                transform: translateY(-50%);
            }

            @container slider (min-width: #{$container-width-md}) {
                width: tokens.use($_, "base", 6);
                height: tokens.use($_, "base", 6);

                &.c-slider__arrow--prev {
                    left: tokens.use($_, "base", 2.5);
                }

                &.c-slider__arrow--next {
                    right: tokens.use($_, "base", 2.5);
                }
            }
        }
    }

    &__controls {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        pointer-events: none;

        @container slider (min-width: #{$container-width-md}) {
            width: calc(100% - calc(tokens.get($_, "inset") + tokens.get($_, "gap")));
        }
    }

    &--hero {
        .c-slider__controls {
            top: tokens.get($_, "gap");
        }
    }

    &__autoslide-toggle {
        pointer-events: unset;
        position: relative;
        display: none;
        cursor: pointer;
        width: tokens.use($_, "base", 5);
        height: tokens.use($_, "base", 5);
        color: tokens.get($_, "color--primary");
        z-index: 1;
        margin: tokens.use($_, "base", 1);

        @container slider (min-width: #{$container-width-md}) {
            margin: tokens.use($_, "base", 3);
        }

        .c-slider__autoslide-play {
            display: none;
        }

        &:before {
            content: "";
            display: block;
            background: #fff;
            width: tokens.use($_, "base", 3);
            height: tokens.use($_, "base", 3);
            border-radius: 50%;
            position: absolute;
            z-index: -1;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }

    &[js-slider__autoslide]:hover {
        .c-slider__autoslide-toggle {
            display: block;
        }
    }

    /** Modifiers */
    &--is-paused {
        .c-slider__autoslide-play {
            display: block;
        }

        .c-slider__autoslide-pause {
            display: none;
        }
    }

    &.c-slider--has-stepper {
        margin-bottom: tokens.use($_, "base", 6);

        .c-slider__steppers {
            margin-bottom: tokens.use($_, "base", -3);
            transform: translateY(-50%);
        }
    }

    &.c-slider--16-9,
    &.c-slider--4-3,
    &.c-slider--10-3,
    &.c-slider--36-7 {
        .c-slider__container {
            padding-top: 0;

            .c-slider__item__container {
                max-height: unset;
            }
        }
    }

    /** Aspect ratio */
    @each $modifier, $ratio in ("16-9": "16/9", "4-3": "4/3", "10-3": "10/3", "36-7": "36/7") {
        &.c-slider--#{$modifier} .c-slider__item:not(.c-slider__item--post) {
            aspect-ratio: string.unquote($ratio);
        }
    }

    // Posts as slider
    &.c-slider--post {

        .c-slider__item {
            max-height: unset;
        }

        .c-slider__item__container {
            color: tokens.get($_, "color--overlay");
        }

        .c-slider__shadow {
            .c-slider__container {
                filter: tokens.use($_, "shadow", 1);
            }
        }

        .c-card {
            filter: none;
        }

        .c-slider__arrows .splide__arrow.splide__arrow--prev {
            left: tokens.use($_, "base", -1);
        }

        .c-slider__arrows .splide__arrow.splide__arrow--next {
            right: tokens.use($_, "base", -1);
        }

        .c-slider__item {
            .c-slider__item__container {
                width: 100%;
                position: static;
                // height: 100%;
                grid-template-rows: none;
                background-color: transparent;
            }
        }

        .c-slider__container {
            padding-top: 0;

            .c-slider__inner {
                position: static;
            }
        }
    }

    &.c-slider--flat {
        .c-slider__item--post {
            .c-slider__item__container {
                background-color: unset;
                color: unset;
            }
        }
    }
}

// Stepper
.c-slider__steppers {
    position: absolute;
    bottom: 0;
    display: flex;
    gap: tokens.use($_, "base", 0.5);
    justify-content: center;
    width: 100%;
    list-style: none;
    margin: 0;
    padding: 0;

    li {
        margin: 0;
        padding: 0;
    }

    li:first-of-type .c-slider__dot {
        border-top-left-radius: tokens.use($_, "base", 0.5);
        border-bottom-left-radius: tokens.use($_, "base", 0.5);
    }

    li:last-of-type .c-slider__dot {
        border-top-right-radius: tokens.use($_, "base", 0.5);
        border-bottom-right-radius: tokens.use($_, "base", 0.5);
    }

    .c-slider__dot {
        background: var(--color-light, #a3a3a3);
        cursor: default;
        width: tokens.use($_, "base", 2);
        height: tokens.use($_, "base", 0.5);
        border: none;

        &.c-slider__dot.is-active {
            background: tokens.get($_, "color--primary");
        }
    }

}

// Printing
@media print {
    .c-slider {
        display: none;
    }
}

@include meta.load-css("../slider-item/style");
@include meta.load-css("@splidejs/splide/dist/css/splide.min.css");