.p-home__hero.c-segment--overlay-dark:before{
    background: #F5F5F5;
}

.p-home__hero.c-segment--overlay-opacity-medium:before{
    opacity: 0;
}

.c-card__image-link{
    background-color: #F8F8F8;
}

.c-card__image-link > figure > img{


    margin: 0 auto;
    padding:30%;
    padding: 15% 30%;
}