.p-home__cards {

    & .c-card {
        overflow: hidden;
        border-radius: 12.5px;
        text-align: center;
        flex-grow: 1;

    }

    & .c-card__image-link {
        background-color:#f8f8f8;
    }

    & .c-card__image-link>figure>img {
        margin: 0 auto;
        padding: 15% 30%;
    }

    & .c-segment__inner {
        background-color: $color-default;
    }
}

.p-home__hero.c-segment--overlay-dark:before {
    background: $color-default;
}

.p-home__hero>.c-segment__inner {
    color:$color-black;
    text-shadow: none;
}

.c-segment__article {
    text-align: center;
}

.grid.p-home__cards .grid-md-3 {
    display: flex;
}

.p-home__getting-started {
    padding:0;
}

.p-home__update>.c-typography.c-typography__variant--body {
    margin-bottom: 5%;
}

.p-home__update h3 {
    font-weight: 900;
}

.p-home__hero>section>article {
    background-color: $color-white;
}

.p-home__intro-header {
    font-weight: 900;
    font-size: 48px;
}

.p-home__intro-subtitle__divider {
    @extend .c-footer__link-divider;
    display:inline-block;
    height: $base;
    width: $base;
}

.p-home__intro-subtitle__part {
    display:inline-block;
    font-size: 32px;
    font-weight: 500;
    color: #565656;

}
