.c-segment--color-light{
    background-color: #E5E5E5;
}

.c-card__image-link{
    background-color: #F8F8F8;
}

.c-card__image-link > figure > img{


    margin: 0 auto;
    padding:30%;
    padding: 15% 30%;
}