@mixin ken-burns() {
    animation: ken-burns-animation 40s ease infinite;
}

@keyframes ken-burns-animation {
    0% {
        transform-origin: bottom left;
        transform: scale(1.0);
    }
    100% {
        transform: scale(1.2);
    }
}