@mixin slide($direction, $animationDirection: "normal") {
    animation-duration: 0.7s;
    animation-name: $direction;
    animation-timing-function: ease-in-out;
    animation-direction: $animationDirection;
}

@keyframes left {

    0% {
        left:-110%;
        position:fixed;

    }

    70% {
        left: map-get($spacers, "4");
        position:fixed;
    }

    100% {
        left: map-get($spacers, "2");
        position:fixed;
    }
}

@keyframes right {

    0% {
        right:-110%;
        position:fixed;

    }

    70% {
        right: map-get($spacers, "4");
        position:fixed;
    }

    100% {
        right: map-get($spacers, "2");
        position:fixed;

    }
}
