@use "../../sass/mixin/mq";
@use "../../sass/mixin/ratio";
@use "../../sass/mixin/tokens";

/* Component name */
$_: "c-image";
$_modal: "c-modal--gallery";

/* Design tokens */
@include tokens.create($_, getComponentTokens($_));

/* Component */
.#{$_} {
    --#{$_}--base: var(--base);
    --#{$_}--font-size-caption: var(--font-size-caption, #{tokens.get($_, "font-size-90")});
    --#{$_}--line-height-caption: #{tokens.get($_, "line-height-base")};
    --#{$_}--font-weight-bold: #{tokens.get($_, "font-weight-bold")};
    --#{$_}--font-family-bold: #{tokens.get($_, "font-family-bold")};
    --#{$_}--border: #{tokens.use($_, "border-width", 1)} solid #{tokens.get($_, "color--surface-border")};
    line-height: 0;
    position: relative;

    .#{$_}__caption,
    .#{$_}__byline {
        display: inline-block;
        font-size: var(--#{$_}--font-size-caption);
        line-height: var(--#{$_}--line-height-caption);
        margin-top: tokens.use($_, "space");
    }

    .#{$_}__caption {
        color: tokens.get($_, "color--surface-contrast");
    }

    .#{$_}__byline {
        color: tokens.get($_, "color--muted-contrast");
    }

    .#{$_}__modal {
        cursor: pointer;
    }

    .#{$_}__image-wrapper {
        border-radius: tokens.use($_, "border-radius", 1);
    }

    .#{$_}__image {
        border-radius: tokens.use($_, "border-radius", 1);
        max-width: 100%;
        margin: 0;
        width: inherit;
        height: inherit;
        object-fit: cover;
    }

    /* Modifiers */
    &--custom-width {
        width: auto;
    }

    &--radius-xs .#{$_}__image,
    &--radius-xs .#{$_}__image-wrapper {
        border-radius: tokens.use($_, "border-radius", 0.25);
    }

    &--radius-sm .#{$_}__image,
    &--radius-sm .#{$_}__image-wrapper {
        border-radius: tokens.use($_, "border-radius", 0.5);
    }

    &--radius-md .#{$_}__image,
    &--radius-md .#{$_}__image-wrapper {
        border-radius: tokens.use($_, "border-radius");
    }

    &--radius-lg .#{$_}__image,
    &--radius-lg .#{$_}__image-wrapper {
        border-radius: tokens.use($_, "border-radius", 2);
    }

    &--radius-full .#{$_}__image,
    &--radius-full .#{$_}__image-wrapper {
        border-radius: 50%;
    }

    &--full-width .#{$_}__image {
        object-fit: contain;
        width: 100%;
        display: block;
    }

    &--type-svg .#{$_}__image {
        object-fit: scale-down;
    }

    &--cover {
        inset: 0;
        position: absolute;

        .#{$_}__image {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: 50% 50%;
        }
    }

    .#{$_modal} .#{$_}__caption {
        margin: 0 auto;
        position: absolute;
        bottom: calc(#{tokens.use($_, "space", 8)} * -1);
        color: tokens.get($_, "color--surface");
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, -50%);

        @include mq.mq("xs", "sm") {
            bottom: calc(#{tokens.use($_, "space", 8)} * -1);
            overflow-wrap: break-word;
        }
    }

    /* Inline images resized */
    &.is-resized {
        width: auto;
        display: inline;

        img {
            width: auto;
        }
    }
}

// ***************************************************************
// *** Container query
// ***************************************************************
@supports (container-type: size) {
    .#{$_}.#{$_}--container-query .#{$_}__image-wrapper {
        container-type: size;
        background-size: cover;
        width: 100%;
        height: 100%;
    }

    .#{$_}.#{$_}--container-query .#{$_}__image {
        display: none;
    }
}

@supports not (container-type: size) {
    .#{$_}.#{$_}--container-query .#{$_}__image-wrapper {
        width: 100%;
        height: 100%;
    }

    .#{$_}.#{$_}--container-query .#{$_}__image:not(:last-of-type) {
        display: none;
    }
}

// ***************************************************************
// *** Placeholder
// ***************************************************************

.#{$_}--is-placeholder {
    @include ratio.ratio(16, 9, true);
    position: relative;
    line-height: 0;
    border: var(--#{$_}--border);
    background-color: tokens.get($_, "color--background");
    user-select: none;
    border-radius: tokens.use($_, "border-radius");
    corner-shape: tokens.get($_, "corner-shape");
}

.#{$_}__placeholder {
    inset: 0;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    @include mq.mq("sm") {
        flex-direction: row;
    }

    .c-icon {
        color: tokens.get($_, "color--muted");

        &.c-icon--svg-link {
            width: clamp(1em, 25%, 3em);

            img {
                filter: invert(1);
                opacity: 0.7;
            }
        }
    }

    .#{$_}__placeholder-text {
        color: tokens.get($_, "color--muted");
        font-weight: var(--#{$_}--font-weight-bold);
        font-family: var(--#{$_}--font-family-bold);
    }

    .c-icon + .#{$_}__placeholder-text {
        margin-top: tokens.use($_, "space", 2);

        @include mq.mq("sm") {
            margin-left: tokens.use($_, "space");
            margin-top: 0;
        }
    }
}

// ***************************************************************
// *** SVG
// ***************************************************************

.#{$_}.#{$_}--type-svg {
    .#{$_}__image {
        object-fit: scale-down;
    }
}
