@use "../../sass/mixin/mq";
@use "../../sass/mixin/ratio";
@use "../../sass/mixin/tokens";

/* Inheritance properties */
@property --inherit-color-background {
    syntax: "*";
    inherits: true;
}

@property --inherit-color-contrast {
    syntax: "*";
    inherits: true;
}

@property --inherit-border {
    syntax: "*";
    inherits: false;
}

@property --inherit-border-radius {
    syntax: "*";
    inherits: false;
}

/* Component name */
$_: "c-image";
$_modal: "c-modal--gallery";

/* Design tokens */
@include tokens.create($_, getComponentTokens($_));

/* Component */
.#{$_} {
    --#{$_}--font-size-caption: #{tokens.getRawValue($_, "font-size-90")};
    --#{$_}--line-height-caption: #{tokens.getRawValue($_, "line-height-base")};
    --#{$_}--placeholder-font-weight: #{tokens.getRawValue($_, "font-weight-bold")};
    --#{$_}--placeholder-font-family: #{tokens.getRawValue($_, "font-family-heading")};
    --#{$_}--placeholder-background-color-default: #{tokens.getRawValue($_, "color--background-alt")};
    --#{$_}--placeholder-color-default: #{tokens.getRawValue($_, "color--background-contrast-muted")};
    --#{$_}--border-default: #{tokens.getCalculatedValue($_, "border-width", 1)} solid #{tokens.getRawValue($_, "color--surface-border")};
    --#{$_}--border-radius: var(--inherit-border-radius, calc(#{tokens.getCalculatedValue("", "border-radius", 1)} * var(--#{$_}--border-radius-multiplier, 1)));

    line-height: 0;
    position: relative;

    .#{$_}__caption,
    .#{$_}__byline {
        display: inline-block;
        font-size: var(--#{$_}--font-size-caption);
        line-height: var(--#{$_}--line-height-caption);
        margin-top: tokens.getCalculatedValue($_, "space");
    }

    .#{$_}__caption {
        color: tokens.getRawValue($_, "color--surface-contrast");
    }

    .#{$_}__byline {
        color: tokens.getRawValue($_, "color--muted-contrast");
    }

    .#{$_}__modal {
        cursor: pointer;
    }

    .#{$_}__image-wrapper {
        border-radius: var(--#{$_}--border-radius);
    }

    .#{$_}__image {
        border-radius: var(--#{$_}--border-radius);
        max-width: 100%;
        margin: 0;
        width: inherit;
        height: inherit;
        object-fit: cover;
    }

    /* Modifiers */

    &--custom-width {
        width: auto;
    }

    &--radius-full .#{$_}__image,
    &--radius-full .#{$_}__image-wrapper {
        border-radius: 50%;
    }

    &--full-width .#{$_}__image {
        object-fit: contain;
        width: 100%;
        display: block;
    }

    &--type-svg .#{$_}__image {
        object-fit: scale-down;
    }

    &--cover {
        inset: 0;
        position: absolute;

        .#{$_}__image {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: 50% 50%;
        }
    }

    /* Inline images resized */

    &.is-resized {
        width: auto;
        display: inline;

        img {
            width: auto;
        }
    }
}

// ***************************************************************
// *** Container query
// ***************************************************************
@supports (container-type: size) {
    .#{$_}.#{$_}--container-query .#{$_}__image-wrapper {
        container-type: size;
        background-size: cover;
        width: 100%;
        height: 100%;
    }

    .#{$_}.#{$_}--container-query .#{$_}__image {
        display: none;
    }
}

@supports not (container-type: size) {
    .#{$_}.#{$_}--container-query .#{$_}__image-wrapper {
        width: 100%;
        height: 100%;
    }

    .#{$_}.#{$_}--container-query .#{$_}__image:not(:last-of-type) {
        display: none;
    }
}

// ***************************************************************
// *** Placeholder
// ***************************************************************

.#{$_}--is-placeholder {
    @include ratio.ratio(16, 9, true);
    position: relative;
    height: 100%;
    line-height: 0;
    border: var(--#{$_}--border, var(--inherit-border, var(--#{$_}--border-default)));
    border-radius: var(--#{$_}--border-radius);
    background-color: var(--#{$_}--placeholder-background-color, var(--inherit-color-background, var(--#{$_}--placeholder-background-color-default)));
    color: var(--#{$_}--placeholder-color, var(--inherit-color-contrast, var(--#{$_}--placeholder-color-default)));
    user-select: none;
    corner-shape: tokens.getRawValue($_, "corner-shape");
}

.#{$_}__placeholder {
    inset: 0;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    @include mq.mq("sm") {
        flex-direction: row;
    }

    .c-icon {
        color: tokens.getRawValue($_, "color--muted");

        &.c-icon--svg-link {
            width: clamp(1em, 25%, 3em);

            img {
                filter: invert(1);
                opacity: 0.7;
            }
        }
    }

    .#{$_}__placeholder-text {
        color: tokens.getRawValue($_, "color--muted");
        font-weight: var(--#{$_}--placeholder-font-weight);
        font-family: var(--#{$_}--placeholder-font-family);
    }

    .c-icon+.#{$_}__placeholder-text {
        margin-top: tokens.getCalculatedValue($_, "space", 2);

        @include mq.mq("sm") {
            margin-left: tokens.getCalculatedValue($_, "space");
            margin-top: 0;
        }
    }
}

// ***************************************************************
// *** SVG
// ***************************************************************

.#{$_}.#{$_}--type-svg {
    .#{$_}__image {
        object-fit: scale-down;
    }
}