@use "../../sass/mixin/tokens";

$_: "c-modal";

@include tokens.create($_, getComponentTokens($_));

.c-block[data-open] {
    cursor: pointer;
}

.#{$_} {
    --#{$_}--padding: #{tokens.getCalculatedValue($_, "space", 4)};
    --#{$_}--vertical-padding-multiplier: .75;
    --#{$_}--inset-x: var(--#{$_}--padding);
    --#{$_}--inset-y: calc(var(--#{$_}--inset-x) * var(--#{$_}--vertical-padding-multiplier, 1));
    background-color: tokens.getRawValue($_, "color--surface");
    color: tokens.getRawValue($_, "color--surface-contrast");
    border: tokens.getCalculatedValue($_, "border", 1);
    border-radius: tokens.getCalculatedValue($_, "border-radius");
    corner-shape: tokens.getCalculatedValue($_, "corner-shape");
    filter: tokens.getCalculatedValue($_, "shadow", 3);

    position: fixed;
    margin: auto;
    inset: 0;
    cursor: default;
    transition: opacity 0.2s ease, transform 0.2s ease;
    overflow: hidden;
    padding: var(--#{$_}--inset-y) var(--#{$_}--inset-x);

    &[open] {
        display: grid;
        grid-template-rows: auto minmax(0, 1fr);
        gap: var(--#{$_}--inset-y);
    }

    &:not(.#{$_}--gallery):not(.#{$_}--is-panel) {
        --c-modal-max-width: 50rem;
        --c-modal-max-height: 80vh;
        width: min(92vw, var(--c-modal-max-width));
        max-width: var(--c-modal-max-width);
        max-height: var(--c-modal-max-height);
    }

    .#{$_}__heading {
        --inherit-font-size: #{tokens.getRawValue($_, "font-size-200")};
        --inherit-margin-bottom: 0;
        --inherit-margin-top: 0;
        align-self: center;
    }

    .c-modal__heading+.#{$_}__close {
        height: 100%;

        &:hover:before {
            display: none;
        }
    }

    &.#{$_}--transparent {
        background-color: transparent;
        filter: none;

        [data-component="button"].#{$_}__close {
            color: tokens.getRawValue($_, "color--alpha-contrast");
        }
    }

    &.search-modal {
        #modal-search-form {
            margin-top: tokens.getCalculatedValue($_, "base", 1);
            margin-bottom: tokens.getCalculatedValue($_, "base", 1);
        }
    }

    .#{$_}__next,
    .#{$_}__prev {
        display: none;
    }

    input:focus {
        outline: none;
        outline-offset: 0;
        box-shadow: none;
    }

    &::backdrop {
        background-color: tokens.getRawValue($_, "color--alpha");
        backdrop-filter: blur(2px);
    }

    &--visible {
        display: grid;
    }

    &.#{$_}--size-sm:not(.#{$_}--gallery):not(.#{$_}--is-panel) {
        --c-modal-max-width: 32.5em;
        --c-modal-max-height: 70vh;
    }

    &.#{$_}--size-md:not(.#{$_}--gallery):not(.#{$_}--is-panel) {
        --c-modal-max-width: 56em;
        --c-modal-max-height: 85vh;
    }

    &.#{$_}--size-lg:not(.#{$_}--gallery):not(.#{$_}--is-panel) {
        --c-modal-max-width: 78em;
        --c-modal-max-height: 100vh;
    }

    &--is-panel {
        max-width: 100%;
        max-height: 100vh;
        width: 100%;
        height: 100vh;
        border-radius: 0;
        inset: 0;
    }

    @for $i from 0 through 4 {
        &--padding-#{$i} {
            --c-modal-padding: calc(#{tokens.getCalculatedValue($_, "space", $i)} * 2);
        }
    }

    &:not(.#{$_}--gallery) .#{$_}__header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        gap: tokens.getCalculatedValue($_, "space", 1);
        background-color: #{tokens.getRawValue($_, "color--surface-alt")};
        margin: calc(-1 * var(--#{$_}--inset-y)) calc(-1 * var(--#{$_}--inset-x)) 0;
        padding: var(--#{$_}--inset-y) var(--#{$_}--inset-x);
        position: relative;

        &::after {
            content: "";
            position: absolute;
            right: 0;
            bottom: 0;
            left: 0;
            height: tokens.getCalculatedValue($_, "border-width", 1);
            background-color: tokens.getRawValue($_, "color--surface-border");
        }
    }

    &__content {
        overflow-y: auto;
        line-height: 1.5;
    }

    &__footer {
        background-color: #{tokens.getRawValue($_, "color--surface-alt")};
        margin: 0 calc(-1 * var(--#{$_}--inset-x)) calc(-1 * var(--#{$_}--inset-y));
        padding: var(--#{$_}--inset-y) var(--#{$_}--inset-x);
        flex-shrink: 0;
        position: relative;

        &::before {
            content: "";
            background-color: tokens.getRawValue($_, "color--surface-border");
            height: tokens.getCalculatedValue($_, "border-width", 1);
            position: absolute;
            right: 0;
            top: 0;
            left: 0;
        }
    }

    &::backdrop {
        background-color: tokens.getRawValue($_, "color--alpha");
        backdrop-filter: blur(tokens.getCalculatedValue($_, "base", 1));
    }
}

.#{$_}[open] {
    animation: modalSlideUp 300ms ease normal;
}

@keyframes modalSlideUp {
    from {
        opacity: 0;
        transform: translateY(50vh);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}