@use "../../sass/mixin/tokens";

/* Component name */
$_: "c-newsitem";

/* Design tokens */
@include tokens.create($_, getComponentTokens($_), ("border": tokens.use($_, "border-width", 1) solid tokens.get($_, "color--surface-border"),
    ));

/* Stacked layout (standing variant + responsive) */
@mixin _stacked {
    .#{$_}__header {
        order: 1;
    }

    .#{$_}__main-right {
        order: 2;
        grid-column: span 12;
    }

    .#{$_}__title {
        order: 3;
    }

    .#{$_}__main-left {
        order: 4;
        grid-column: span 12;
    }
}

/* Component */
.#{$_} {
    display: grid;
    gap: tokens.use($_, "space", 2);
    grid-template-columns: repeat(12, 1fr);
    container-type: inline-size;
    container-name: newsitem;
    grid-auto-rows: min-content;

    .#{$_}__main-left {
        grid-column: span 8;

        &.cover {
            grid-column: span 12;
        }
    }

    .#{$_}__main-right {
        grid-column: span 4;
    }

    .#{$_}__header {
        grid-column: span 12;
        display: flex;
        row-gap: tokens.use($_, "space");
        flex-wrap: wrap;
        justify-content: space-between;
        padding: tokens.use($_, "space") 0;
        border-top: tokens.get($_, "border");
        border-bottom: tokens.get($_, "border");
    }

    .#{$_}__title {
        grid-column: span 12;
        display: grid;
        grid-template-columns: 1fr auto;
        gap: tokens.use($_, "space", 3);
    }

    .#{$_}__title-left.cover {
        grid-column: span 2;
    }

    .#{$_}__heading {
        color: tokens.get($_, "color--surface-contrast");
        margin-top: 0;
        --inherit-font-size: #{tokens.get($_, "font-size-400")};
    }

    .#{$_}__header-left,
    .#{$_}__header-right {
        display: flex;
        align-items: center;
        gap: tokens.use($_, "space", 2);
    }

    .#{$_}__date,
    .#{$_}__read-time {
        display: flex;
        align-items: center;
        gap: tokens.use($_, "space", 0.5);
        font-size: 0.875rem;
    }

    .#{$_}__date-icon,
    .#{$_}__read-time-icon {
        margin-bottom: 2px;
    }

    .#{$_}__sub-heading {
        font-weight: bold;
        margin-top: 0;
    }

    .#{$_}__image-container {
        position: relative;
        aspect-ratio: 16/9;
    }

    .#{$_}__content {
        margin-top: 0;
    }
}

/* Link */
a.#{$_} {
    text-decoration: none;
    color: inherit;

    &:hover {
        text-decoration: none;
        color: inherit;

        .#{$_}__heading {
            text-decoration: underline;
        }
    }
}

/* Standing */
.#{$_}.#{$_}--standing {
    @include _stacked;
}

/* Responsive */
.#{$_} {
    @container newsitem (max-width: 650px) {
        @include _stacked;
    }

    @supports not (container-type: inline-size) {
        @include _stacked;
    }
}

.#{$_}+.#{$_} {
    margin-top: tokens.use($_, "space", 6);
}