@use "../../sass/mixin/inherit";
@use "../../sass/mixin/tokens";

$_: "c-logotype";

@include tokens.create($_, getComponentTokens($_));
@include inherit.property("color-contrast");
@include inherit.property("color-primary");

.#{$_} {
    --#{$_}--mask-color: var(--inherit-color-contrast, currentColor);
    --#{$_}--mask-color-hover: var(--inherit-color-primary, var(--#{$_}--mask-color));
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;
    display: inline-block;
    position: relative;

    .#{$_}__image {
        display: block;
        height: inherit;
    }

    &.#{$_}--align-left {
        text-align: left;
    }

    &.#{$_}--align-center {
        text-align: center;
    }

    &.#{$_}--align-right {
        text-align: right;
    }

    &[data-logotype-maskable],
    &.#{$_}--maskable {
        background-color: var(--#{$_}--mask-color);
        transition: background-color 0.3s ease;
        -webkit-mask-image: var(--#{$_}--mask-image, none);
        mask-image: var(--#{$_}--mask-image, none);
        -webkit-mask-repeat: no-repeat;
        mask-repeat: no-repeat;
        -webkit-mask-position: var(--#{$_}--mask-position, center);
        mask-position: var(--#{$_}--mask-position, center);
        -webkit-mask-size: var(--#{$_}--mask-size, contain);
        mask-size: var(--#{$_}--mask-size, contain);

        .#{$_}__image {
            visibility: hidden;
        }

        &:hover,
        a:hover & {
            background-color: var(--#{$_}--mask-color-hover, var(--#{$_}--mask-color));
        }
    }
}