$palette-1: #c6296e;
$palette-1-safe: #c6296e;
$palette-1-text: #000;

$palette-2: #712082;
$palette-2-safe: #712082;
$palette-2-text: #fff;

$palette-3: #a54e82;
$palette-3-safe: #a54e82;
$palette-3-text: #fff;

$palette-4: #660033;
$palette-4-safe: #660033;
$palette-4-text: #fff;

$palette-5: #a61380;
$palette-5-safe: #a61380;
$palette-5-text: #fff;

@import '../bootstrap';
