$palette-1: #FFDD00;
$palette-1-safe: #FFDD00;
$palette-1-text: #fff;

$palette-2: #F36E21;
$palette-2-safe: #F36E21;
$palette-2-text: #fff;

$palette-3: #E2007A;
$palette-3-safe: #E2007A;
$palette-3-text: #fff;

$palette-4: #009AA6;
$palette-4-safe: #009AA6;
$palette-4-text: #fff;

$palette-5: #522981;
$palette-5-safe: #522981;
$palette-5-text: #fff;

$override-base-font-family: 'Helvetica Neue', Helvetica, Arial, Verdana, Tahoma;

@import '../bootstrap';
