$palette-1: #ddd;
$palette-1-safe: #ddd;
$palette-1-text: #000;

$palette-2: #333;
$palette-2-safe: #333;
$palette-2-text: #fff;

$palette-3: #666;
$palette-3-safe: #666;
$palette-3-text: #fff;

$palette-4: #777;
$palette-4-safe: #777;
$palette-4-text: #000;

$palette-5: #000;
$palette-5-safe: #000;
$palette-5-text: #fff;

@import '../bootstrap';
