$palette-1: #afca05;
$palette-1-safe: #50811b;
$palette-1-text: #000;

$palette-2: #11a636;
$palette-2-safe: #50811b;
$palette-2-text: #000;

$palette-3: #a0c855;
$palette-3-safe: #50811b;
$palette-3-text: #000;

$palette-4: #50811b;
$palette-4-safe: #50811b;
$palette-4-text: #fff;

$palette-5: #76b828;
$palette-5-safe: #50811b;
$palette-5-text: #000;

@import '../bootstrap';
