@use "../../sass/mixin/focus";
@use "../../sass/mixin/tokens";

/* Component name */
$_: "c-header";

/* Design tokens */
@include tokens.create($_, getComponentTokens($_));

/* Component */
.#{$_} {
    --#{$_}--logotype-height: #{tokens.use($_, "base", 6)};
    --#{$_}--background-color: #{tokens.get($_, "color--surface")};
    --#{$_}--color: #{tokens.get($_, "color--surface-contrast")};
    --#{$_}--border-color: #{tokens.get($_, "color--primary")};
    position: relative;
    background-color: var(--#{$_}--background-color);
    color: var(--#{$_}--color);

    #main-menu:target {
        animation: blink 0.65s ease-in-out 3 both;
        scroll-margin-top: tokens.use($_, "space", 2);
    }

    &.#{$_}--sticky {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    &.#{$_}--primary {
        --c-header--background-color: #{tokens.get($_, "color--primary")};
        --c-header--color: #{tokens.get($_, "color--primary-contrast")};
        --c-header--border-color: #{tokens.get($_, "color--primary-border")};
    }

    &.#{$_}--secondary {
        --c-header--background-color: #{tokens.get($_, "color--secondary")};
        --c-header--color: #{tokens.get($_, "color--secondary-contrast")};
        --c-header--border-color: #{tokens.get($_, "color--secondary-border")};
    }

    .c-nav:not(.#{$_} .c-card *, .#{$_} .c-paper *) {
        --c-nav--item-color: var(--c-header--color);
        --c-nav--color--primary-contrast: var(--c-header--color);
    }

    .c-link:not(.#{$_} .c-card *, .#{$_} .c-paper *) {
        --c-link--color--background-contrast: var(--c-header--color);
    }

    .c-button:not(.#{$_} .c-card *, .#{$_} .c-paper *) {
        --inherit-color-contrast: var(--c-header--color);
    }

    .c-button.c-button__filled:not(.#{$_} .c-card *, .#{$_} .c-paper *) {
        --inherit-color-background: var(--c-header--color);
        --inherit-color-contrast: var(--c-header--background-color);
    }

    .c-button.c-button__outlined:not(.#{$_} .c-card *, .#{$_} .c-paper *) {
        --inherit-color-contrast: var(--c-header--color);
        --inherit-color-border: var(--c-header--color);
    }

    &.#{$_}--accented {
        border-bottom: tokens.use($_, "base", 1) solid var(--#{$_}--border-color);
    }

    &.#{$_}--text-primary *,
    &.#{$_}--text-primary .c-nav .c-nav__link {
        color: tokens.get($_, "color--primary");
    }

    &.#{$_}--text-secondary *,
    &.#{$_}--text-secondary .c-nav .c-nav__link {
        color: tokens.get($_, "color--secondary");
    }

    &.#{$_}--casual {
        #main-menu {
            display: flex;
            flex-grow: 1;
            flex-shrink: 1;

            .c-nav--casual-left {
                justify-content: flex-start;

                .c-nav__item--search {
                    margin-left: auto;
                }
            }

            .c-nav--casual-right {
                justify-content: flex-end;
            }

            .c-nav--casual-center {
                justify-content: center;
            }
        }
    }

    &.#{$_}--business {
        .c-nav--business-left {
            justify-content: flex-start;

            .c-nav__item--search {
                margin-left: auto;
            }
        }

        .c-nav--business-right {
            justify-content: flex-end;
        }

        .c-nav--business-gap {
            justify-content: space-between;
        }
    }

    // Logo
    &__logotype {
        height: var(--#{$_}--logotype-height);
    }
}

@keyframes blink {
    0% {}

    25% {
        @include focus.focus();
    }

    75% {
        @include focus.focus();
    }

    100% {}
}