$palette-1: #4db4e7;
$palette-1-safe: #005c86;
$palette-1-text: #000;

$palette-2: #0069b4;
$palette-2-safe: #0069b4;
$palette-2-text: #fff;

$palette-3: #5ba1d8;
$palette-3-safe: #005c86;
$palette-3-text: #000;

$palette-4: #005c86;
$palette-4-safe: #005c86;
$palette-4-text: #fff;

$palette-5: #0095db;
$palette-5-safe: #0069b4;
$palette-5-text: #000;

@import '../bootstrap';
