$palette-1: #f7a600;
$palette-1-safe: #ae0b05;
$palette-1-text: #000;

$palette-2: #cb0050;
$palette-2-safe: #cb0050;
$palette-2-text: #fff;

$palette-3: #ec6701;
$palette-3-safe: #e3000f;
$palette-3-text: #000;

$palette-4: #ae0b05;
$palette-4-safe: #ae0b05;
$palette-4-text: #fff;

$palette-5: #e3000f;
$palette-5-safe: #e3000f;
$palette-5-text: #fff;

@import '../settings/typography';
@import '../settings/colors';

@import '../pricons';
