$palette-1: #d35098;
$palette-1-safe: #a84c98;
$palette-1-text: #000;

$palette-2: #712082;
$palette-2-safe: #712082;
$palette-2-text: #fff;

$palette-3: #a84c98;
$palette-3-safe: #a84c98;
$palette-3-text: #fff;

$palette-4: #7b075e;
$palette-4-safe: #7b075e;
$palette-4-text: #fff;

$palette-5: #a61380;
$palette-5-safe: #a61380;
$palette-5-text: #fff;

@import '../bootstrap';
