@for $i from 1 through 10 {

    .u-level-#{$i},
    .u-level--#{$i} {
        z-index: ($i*1000);
    }
}

.u-level-top,
.u-level--top {
    z-index: 9999;
}

.u-level-bottom,
.u-level--bottom {
    z-index: 1;
}