@for $i from 1 through 10 {

    .u-level-#{$i},
    .u-level--#{$i} {
        z-index: $i;
    }
}

.u-level-top,
.u-level--top {
    z-index: 11;
}

.u-level-bottom,
.u-level--bottom {
    z-index: 0;
}