@use "sass:meta";
@use "../../sass/mixin/button";
@use "../../sass/mixin/tokens";
@use "../../sass/mixin/inset-multiplier" as insetMultiplier;

@include insetMultiplier.property();

@function getCompressedTitleFontSize($step) {
    @return calc(var(--font-size-base, var(--base-font-size, 1rem)) * pow(var(--font-size-scale-ratio), #{$step}));
}

$compressedTypographySteps: (
    "h1-font-size": 0.8333333333,
    "h2-font-size": 0.6666666667,
    "h3-font-size": 0.5,
    "h4-font-size": 0.3333333333,
    "h5-font-size": 0.1666666667,
    "h6-font-size": 0,
    "font-size-headline": 0.6666666667,
    "font-size-title": 0.5,
    "font-size-subtitle": 0.3333333333,
    "font-size-lead": 0,
    "font-size-marketing": 1,
);

/* Component name */
$_: "c-accordion";

/* Design tokens */
@include tokens.create($prefix: $_, $tokens: getComponentTokens($_), $emitDefaultTokenVariables: true);

.#{$_} {
    @include insetMultiplier.consume($_);
    --#{$_}--heading-columns: repeat(var(--#{$_}--heading-count, auto-fill), 1fr);
    --#{$_}--border: #{tokens.getCalculatedValue($_, "border-width", 1)} solid #{tokens.getRawValue($_, "color--surface-border")};
    --#{$_}--background-color: #{tokens.getRawValue($_, "color--surface")};
    --#{$_}--color: #{tokens.getRawValue($_, "color--surface-contrast")};
    --#{$_}--padding-x: var(--#{$_}--inset-padding-x, #{calc(tokens.getRawValue($_, "base") *  2)});
    --#{$_}--padding-y: var(--#{$_}--inset-padding-y, #{calc(tokens.getRawValue($_, "base") *  2)});

    container-name: accordion;
    container-type: inline-size;
    contain: paint;
    border-radius: #{tokens.getCalculatedValue($_, "border-radius", 1)};
    corner-shape: inherit;
    display: grid;
    color: var(--#{$_}--color);
    background-color: var(--#{$_}--background-color);

    .#{$_}__heading {
        display: grid;
        gap: calc(tokens.getRawValue($_, "base") *  2);
        grid-template-columns: var(--#{$_}--heading-columns);
        padding: calc(var(--#{$_}--padding-y) * 0.5) var(--#{$_}--padding-x);
        padding-right: calc(var(--#{$_}--padding-x) * 2);
        background-color: tokens.getRawValue($_, "color--surface-alt");
    }
    .#{$_}__heading-item {
        font-size: #{tokens.getRawValue($_, "font-size-90")};
    }

    /* Modifiers */
    &.#{$_}--bordered {
        border: var(--#{$_}--border);

        details {
            border-top: var(--#{$_}--border);
        }

        &:not(.#{$_}--spaced) > details:first-child {
            border-top: none;
        }

        > * {
            border-radius: 0;
        }
    }

    &.#{$_}--divided details {
        &:not(:first-child) {
            border-top: var(--#{$_}--border);
        }
    }

    &.#{$_}--spaced {
        gap: calc(tokens.getRawValue($_, "base") *  4);
        background-color: unset;

        > * {
            background-color: var(--#{$_}--background-color);
        }

        &.#{$_}--bordered {
            border: unset;
            border-radius: unset;

            > * {
                border: var(--#{$_}--border);
                background-color: var(--#{$_}--background-color);
                border-radius: #{tokens.getCalculatedValue($_, "border-radius", 1)};
            }
        }
    }
}

@include meta.load-css("./accordion-item");
