@use "sass:meta";
@use "../../sass/mixin/button";
@use "../../sass/mixin/tokens";

/* Component name */
$_: "c-accordion";

/* Design tokens */
@include tokens.create($_, getComponentTokens($_));

.#{$_} {
    --#{$_}--heading-columns: repeat(var(--#{$_}--heading-count, auto-fill), 1fr);
    --#{$_}--border: #{tokens.getCalculatedValue($_, "border-width", 1)} solid #{tokens.getRawValue($_, "color--surface-border")};
    container-name: accordion;
    container-type: inline-size;
    contain: paint;
    border-radius: #{tokens.getCalculatedValue($_, "border-radius", 1)};
    corner-shape: inherit;
    display: grid;

    .#{$_}__heading {
        display: grid;
        gap: calc(tokens.getRawValue($_, "base") *  2);
        grid-template-columns: var(--#{$_}--heading-columns);
        padding: calc(tokens.getRawValue($_, "base") *  1) calc(tokens.getRawValue($_, "base") *  2);
        padding-right: calc(tokens.getRawValue($_, "base") *  6);
        background-color: tokens.getRawValue($_, "color--surface-alt");
    }
    .#{$_}__heading-item {
        font-size: #{tokens.getRawValue($_, "font-size-90")};
    }

    /* Modifiers */
    &.#{$_}--bordered {
        border: var(--#{$_}--border);

        details {
            border-top: var(--#{$_}--border);
        }

        &:not(.#{$_}--spaced) > details:first-child {
            border-top: none;
        }

        > * {
            border-radius: 0;
        }
    }

    &.#{$_}--divided details {
        &:not(:first-child) {
            border-top: var(--#{$_}--border);
        }
    }

    &.#{$_}--spaced {
        gap: calc(tokens.getRawValue($_, "base") *  4);

        &.#{$_}--bordered {
            border: unset;
            border-radius: unset;

            > * {
                border: var(--#{$_}--border);
                border-radius: #{tokens.getCalculatedValue($_, "border-radius", 1)};
            }
        }
    }
}

@include meta.load-css("./accordion-item");