@use "../../sass/mixin/button";
@use "../../sass/mixin/tokens";

/* Component name */
$_: "c-accordion";

/* Design tokens */
@include tokens.create($_, getComponentTokens($_),
    ("border": tokens.use($_, "border-width", 1) solid tokens.get($_, "color--surface-border"),
    ));

/* Component */
.#{$_} {
    .#{$_}__button {
        @include button.button-unstyled;
        cursor: pointer;
        text-decoration: none;
        width: 100%;
        color: tokens.get($_, "color--surface-contrast");

        &:hover,
        &:focus {
            background-color: tokens.get($_, "color--surface-alt");
            text-decoration: none;
        }

        .#{$_}__icon {
            transition: ease .3s transform;
        }

        &[aria-expanded="true"] {
            background-color: tokens.get($_, "color--surface-alt");

            .#{$_}__icon {
                transform: rotate(180deg);
                transition: ease .3s transform;
            }
        }
    }

    .#{$_}__button:focus>.#{$_}__button-wrapper {
        outline-offset: 1px;
        outline: 1px dashed tokens.get($_, "color--surface-border");
    }

    .#{$_}__section {
        scroll-margin-top: var(--c-accordion--scroll-margin, 0);
        border-color: tokens.get($_, "color--surface-border");
        contain: paint;
    }

    .#{$_}__section+.#{$_}__section {
        border-top: tokens.get($_, "border");
    }

    .#{$_}__button-wrapper {
        padding: tokens.use($_, "space", 2);
        display: flex;
        gap: tokens.use($_, "space", 2);
        align-items: center;
        font-weight: var(--font-weight-bold, 700);
        font-family: var(--font-family-bold, var(--font-family-base));
    }

    .#{$_}__icon {
        margin-left: auto;

        &:before {
            display: inline-block;
            transform: rotate(90deg);
        }
    }

    .#{$_}__content {
        padding: tokens.use($_, "space", 2);

        &[aria-hidden="true"] {
            display: none;
        }

        &[aria-hidden="false"] {
            display: block;
            transition: ease .3s all;
            animation-name: fadeIn;
            animation-duration: .3s;
            animation-fill-mode: both;
            will-change: transform;
        }

        *:first-child {
            margin-top: 0;
        }
    }

    &.#{$_}--spaced-sections {
        display: flex;
        flex-flow: row wrap;
        gap: tokens.use($_, "space", 2);
        padding: 0;

        .#{$_}__section {
            background-color: tokens.get($_, "color--surface");
            border-radius: tokens.use($_, "border-radius");
            corner-shape: tokens.get($_, "corner-shape");
            filter: tokens.use($_, "shadow");
            border: tokens.get($_, "border");
            width: 100%;
        }

        .#{$_}__content {
            border-top: tokens.get($_, "border");
        }
    }

    @keyframes fadeIn {
        from {
            opacity: 0;
        }

        to {
            opacity: 1;
        }
    }
}

/* Accordion with table columns */

.accordion-table__head {
    display: flex;
    padding: var(--base, 8px) calc(var(--base, 8px) * 6) var(--base, 8px) calc(var(--base, 8px) * 3);
    background: var(--color--background);
    font-size: .8rem;
}

.accordion-table__head-column-icon,
.c-accordion-table .c-icon {
    flex-grow: 0;
}

.c-accordion__button .c-accordion__button-column,
.accordion-table__head-column {
    width: 20%;
    flex-grow: 1;
}

.c-accordion__button .c-accordion__button-column,
.c-accordion__button .c-accordion__button-wrapper {
    --inherit-font-size: var(--font-size-200);
    --inherit-margin-top: 0;
    --inherit-margin-bottom: 0;
}

.c-accordion-table .c-accordion__button {
    position: relative;
}

.c-accordion-table .c-accordion__icon,
.c-accordion-table .c-accordion__button[aria-expanded="true"] .c-accordion__icon {
    position: absolute;
    right: calc(var(--base, 8px) * 3);
}

// Card that has accordion with spaced sections should have no background color
.c-card:has(.c-accordion--spaced-sections) {
    background-color: transparent;
}

/* Expand accordion when print page */
@media print {

    .c-accordion .c-accordion__content[aria-hidden="true"],
    .c-accordion .c-accordion__content[aria-hidden="false"] {
        display: block;
    }
}