@use "../../sass/mixin/tokens";

$_: "c-loader";

@include tokens.create($_, getComponentTokens($_));

.#{$_} {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    /* Loader circular  */
    &__circular {
        color: tokens.get($_, "color--surface-contrast");
        font-size: tokens.use($_, "base", 2);
        width: 1em;
        height: 1em;
        margin: 0;
        border-radius: 50%;
        position: relative;
        text-indent: -9999rem;
        animation: loader--circular-anim 1.3s infinite linear;
        transform: translateZ(0);

        &--color--primary {
            color: tokens.get($_, "color--primary");
        }

        &--color--secondary {
            color: tokens.get($_, "color--secondary");
        }

        &--xl {
            font-size: tokens.use($_, "base", 2.5);
        }

        &--lg {
            font-size: tokens.use($_, "base", 2);
        }

        &--md {
            font-size: tokens.use($_, "base", 1.5);
        }

        &--sm {
            font-size: tokens.use($_, "base", 1);
        }

        &--xs {
            font-size: tokens.use($_, "base", 0.5);
        }
    }

    @keyframes loader--circular-anim {

        0%,
        100% {
            box-shadow: 0 -3em 0 0.2em,
                2em -2em 0 0,
                3em 0 0 -1em,
                2em 2em 0 -1em,
                0 3em 0 -1em,
                -2em 2em 0 -1em,
                -3em 0 0 -1em,
                -2em -2em 0 0;
        }

        12.5% {
            box-shadow: 0 -3em 0 0,
                2em -2em 0 0.2em,
                3em 0 0 0,
                2em 2em 0 -1em,
                0 3em 0 -1em,
                -2em 2em 0 -1em,
                -3em 0 0 -1em,
                -2em -2em 0 -1em;
        }

        25% {
            box-shadow: 0 -3em 0 -0.5em,
                2em -2em 0 0,
                3em 0 0 0.2em,
                2em 2em 0 0,
                0 3em 0 -1em,
                -2em 2em 0 -1em,
                -3em 0 0 -1em,
                -2em -2em 0 -1em;
        }

        37.5% {
            box-shadow: 0 -3em 0 -1em,
                2em -2em 0 -1em,
                3em 0 0 0,
                2em 2em 0 0.2em,
                0 3em 0 0,
                -2em 2em 0 -1em,
                -3em 0 0 -1em,
                -2em -2em 0 -1em;
        }

        50% {
            box-shadow: 0 -3em 0 -1em,
                2em -2em 0 -1em,
                3em 0 0 -1em,
                2em 2em 0 0,
                0 3em 0 0.2em,
                -2em 2em 0 0,
                -3em 0 0 -1em,
                -2em -2em 0 -1em;
        }

        62.5% {
            box-shadow: 0 -3em 0 -1em,
                2em -2em 0 -1em,
                3em 0 0 -1em,
                2em 2em 0 -1em,
                0 3em 0 0,
                -2em 2em 0 0.2em,
                -3em 0 0 0,
                -2em -2em 0 -1em;
        }

        75% {
            box-shadow: 0 -3em 0 -1em,
                2em -2em 0 -1em,
                3em 0 0 -1em,
                2em 2em 0 -1em,
                0 3em 0 -1em,
                -2em 2em 0 0,
                -3em 0 0 0.2em,
                -2em -2em 0 0;
        }

        87.5% {
            box-shadow: 0 -3em 0 0,
                2em -2em 0 -1em,
                3em 0 0 -1em,
                2em 2em 0 -1em,
                0 3em 0 -1em,
                -2em 2em 0 0,
                -3em 0 0 0,
                -2em -2em 0 0.2em;
        }
    }

    /* Loader linear */
    &__linear,
    &__linear:before,
    &__linear:after {
        border-radius: 50%;
        width: 1em;
        height: 1em;
        animation-fill-mode: both;
        animation: loader--linear-anim 1.8s infinite ease-in-out;
    }

    &__linear {
        color: tokens.get($_, "color--surface-contrast");
        font-size: tokens.use($_, "base", 4);
        margin: 0;
        position: relative;
        text-indent: -9999rem;
        transform: translateZ(0);
        animation-delay: -0.16s;

        &--color--primary {
            color: tokens.get($_, "color--primary");
        }

        &--color--secondary {
            color: tokens.get($_, "color--secondary");
        }

        &--xl {
            font-size: tokens.use($_, "base", 5);
        }

        &--lg {
            font-size: tokens.use($_, "base", 4);
        }

        &--md {
            font-size: tokens.use($_, "base", 3);
        }

        &--sm {
            font-size: tokens.use($_, "base", 2);
        }

        &--xs {
            font-size: tokens.use($_, "base", 1);
        }
    }

    &__linear:before,
    &__linear:after {
        content: "";
        position: absolute;
        top: 0;
    }

    &__linear:before {
        left: -1.4em;
        animation-delay: -0.32s;
    }

    &:after {
        left: 1.4em;
    }

    @keyframes loader--linear-anim {
        0%,
        80%,
        100% {
            box-shadow: 0 1em 0 -0.52em;
        }

        40% {
            box-shadow: 0 1em 0 0;
        }
    }
}
