//
// @name Pricons
// @description Iconfont (credit: <a href="http:\/\/iconmonstr.com/">Iconmonstr.com</a>)
// @author Kristoffer Svanmark
//
// @page Icons/Pricons
//
// @state .pricon-space-right - Adds space to the right of the icon
// @state .pricon-xs - Extra small icon
// @state .pricon-sm - Small icon
// @state .pricon-lg - Large icon
// @state .pricon-2x - 2x size
// @state .pricon-3x - 3x size
// @state .pricon-4s - 4x size
// @state .pricon-5x - 5x size
// @state .pricon-fw - Fixed width
//
// @markup
// <i class="pricon pricon-link-item"></i> pricon-link-item<br>
// <i class="pricon pricon-user-o"></i> pricon-user-o<br>
// <i class="pricon pricon-external-link"></i> pricon-external-link<br>
// <i class="pricon pricon-file-pdf"></i> pricon-file-pdf<br>
// <i class="pricon pricon-file-text"></i> pricon-file-text<br>
// <i class="pricon pricon-file-image"></i> pricon-file-image<br>
// <i class="pricon pricon-file-audio"></i> pricon-file-audio<br>
// <i class="pricon pricon-file-video"></i> pricon-file-video<br>
// <i class="pricon pricon-file-archive"></i> pricon-file-archive<br>
// <i class="pricon pricon-github"></i> pricon-github<br>
// <i class="pricon pricon-presentation"></i> pricon-presentation<br>
// <i class="pricon pricon-file"></i> pricon-file<br>
// <i class="pricon pricon-phone"></i> pricon-phone<br>
// <i class="pricon pricon-smartphone"></i> pricon-smartphone<br>
// <i class="pricon pricon-email"></i> pricon-email<br>
// <i class="pricon pricon-picture"></i> pricon-picture<br>
// <i class="pricon pricon-user"></i> pricon-user<br>
// <i class="pricon pricon-picture-add"></i> pricon-picture-add<br>
// <i class="pricon pricon-plus-o"></i> pricon-plus-o<br>
// <i class="pricon pricon-caret-down"></i> pricon-caret-down<br>
// <i class="pricon pricon-caret-up"></i> pricon-caret-up<br>
// <i class="pricon pricon-check"></i> pricon-check<br>
// <i class="pricon pricon-check-o"></i> pricon-check-o<br>
// <i class="pricon pricon-notice-warning"></i> pricon-notice-warning<br>
// <i class="pricon pricon-notice-danger"></i> pricon-notice-danger<br>
// <i class="pricon pricon-compass"></i> pricon-compass<br>
// <i class="pricon pricon-info-o"></i> pricon-info-o<br>
// <i class="pricon pricon-question-o"></i> pricon-question-o<br>
// <i class="pricon pricon-linkedin-square"></i> pricon-linkedin-square<br>
// <i class="pricon pricon-twitter-square"></i> pricon-twitter-square<br>
// <i class="pricon pricon-facebook-square"></i> pricon-facebook-square<br>
// <i class="pricon pricon-instagram"></i> pricon-instagram<br>
// <i class="pricon pricon-print"></i> pricon-print<br>
// <i class="pricon pricon-listen-ear"></i> pricon-listen-ear<br>
// <i class="pricon pricon-volume"></i> pricon-volume<br>
// <i class="pricon pricon-search"></i> pricon-search<br>
// <i class="pricon pricon-edit"></i> pricon-edit<br>
// <i class="pricon pricon-minus-o"></i> pricon-minus-o<br>
// <i class="pricon pricon-twitter"></i> pricon-twitter<br>
// <i class="pricon pricon-linkedin"></i> pricon-linkedin<br>
// <i class="pricon pricon-facebook"></i> pricon-facebook<br>
// <i class="pricon pricon-settings"></i> pricon-settings<br>
// <i class="pricon pricon-location-pin"></i> pricon-location-pin<br>
// <i class="pricon pricon-next"></i> pricon-next<br>
// <i class="pricon pricon-previous"></i> pricon-previous<br>
// <i class="pricon pricon-back"></i> pricon-back<br>
// <i class="pricon pricon-caret-right"></i> pricon-caret-right<br>
// <i class="pricon pricon-play-o"></i> pricon-play-o<br>
// <i class="pricon pricon-forbidden"></i> pricon-forbidden<br>
// <i class="pricon pricon-sort-asc"></i> pricon-sort-asc<br>
// <i class="pricon pricon-sort-desc"></i> pricon-sort-desc<br>
// <i class="pricon pricon-sort"></i> pricon-sort<br>
// <i class="pricon pricon-helsingborg"></i> pricon-helsingborg<br>
// <i class="pricon pricon-calendar"></i> pricon-calendar<br>
// <i class="pricon pricon-home"></i> pricon-home<br>
// <i class="pricon pricon-language"></i> pricon-language<br>
// <i class="pricon pricon-globe"></i> pricon-globe<br>
// <i class="pricon pricon-star"></i> pricon-star<br>
// <i class="pricon pricon-text-size"></i> pricon-text-size<br>
// <i class="pricon pricon-share"></i> pricon-share<br>
// <i class="pricon pricon-heart-minus"></i> pricon-heart-minus<br>
// <i class="pricon pricon-heart-plus"></i> pricon-heart-plus<br>
// <i class="pricon pricon-heart"></i> pricon-heart<br>
// <i class="pricon pricon-standby"></i> pricon-standby<br>
// <i class="pricon pricon-breifcase"></i> pricon-breifcase<br>
// <i class="pricon pricon-lightbulb"></i> pricon-lightbulb<br>
// <i class="pricon pricon-clipboard"></i> pricon-clipboard<br>
// <i class="pricon pricon-picture-user"></i> pricon-picture-user<br>
// <i class="pricon pricon-target"></i> pricon-target<br>
// <i class="pricon pricon-paintbrush"></i> pricon-paintbrush<br>
// <i class="pricon pricon-forbidden-circle"></i> pricon-forbidden-circle<br>
// <i class="pricon pricon-smiley-angry"></i> pricon-smiley-angry<br>
// <i class="pricon pricon-smiley-cool"></i> pricon-smiley-cool<br>
// <i class="pricon pricon-smiley-cry"></i> pricon-smiley-cry<br>
// <i class="pricon pricon-smiley-flirty"></i> pricon-smiley-flirty<br>
// <i class="pricon pricon-smiley-oh"></i> pricon-smiley-oh<br>
// <i class="pricon pricon-smiley-sad"></i> pricon-smiley-sad<br>
// <i class="pricon pricon-smiley-smile"></i> pricon-smiley-smile<br>
// <i class="pricon pricon-smiley-super-happy"></i> pricon-smiley-super-happy<br>
// <i class="pricon pricon-smiley-thounge"></i> pricon-smiley-thounge<br>
// <i class="pricon pricon-plus"></i> pricon-plus<br>
// <i class="pricon pricon-notice-info"></i> pricon-notice-info<br>
// <i class="pricon pricon-clock"></i> pricon-clock<br>
// <i class="pricon pricon-wifi"></i> pricon-wifi<br>
// <i class="pricon pricon-construction"></i> pricon-construction<br>
// <i class="pricon pricon-sun"></i> pricon-sun<br>
// <i class="pricon pricon-music"></i> pricon-music<br>
// <i class="pricon pricon-calendar-check"></i> pricon-calendar-check<br>
// <i class="pricon pricon-money"></i> pricon-money<br>
// <i class="pricon pricon-bus"></i> pricon-bus<br>
// <i class="pricon pricon-car"></i> pricon-car<br>
// <i class="pricon pricon-house"></i> pricon-house<br>
// <i class="pricon pricon-park"></i> pricon-park<br>
// <i class="pricon pricon-bike"></i> pricon-bike<br>
// <i class="pricon pricon-boat"></i> pricon-boat<br>
// <i class="pricon pricon-coffee"></i> pricon-coffee<br>
// <i class="pricon pricon-commute"></i> pricon-commute<br>
// <i class="pricon pricon-healthcare"></i> pricon-healthcare<br>
// <i class="pricon pricon-run"></i> pricon-run<br>
// <i class="pricon pricon-swim"></i> pricon-swim<br>
// <i class="pricon pricon-tent"></i> pricon-tent<br>
// <i class="pricon pricon-apple"></i> pricon-apple<br>
// <i class="pricon pricon-archive"></i> pricon-archive<br>
// <i class="pricon pricon-bag"></i> pricon-bag<br>
// <i class="pricon pricon-budget"></i> pricon-budget<br>
// <i class="pricon pricon-diagram-increase"></i> pricon-diagram-increase<br>
// <i class="pricon pricon-discuss"></i> pricon-discuss<br>
// <i class="pricon pricon-dog"></i> pricon-dog<br>
// <i class="pricon pricon-balloon"></i> pricon-balloon<br>
// <i class="pricon pricon-handshake"></i> pricon-handshake<br>
// <i class="pricon pricon-info"></i> pricon-info<br>
// <i class="pricon pricon-man"></i> pricon-man<br>
// <i class="pricon pricon-people"></i> pricon-people<br>
// <i class="pricon pricon-recycling"></i> pricon-recycling<br>
// <i class="pricon pricon-reload"></i> pricon-reload<br>
// <i class="pricon pricon-sports"></i> pricon-sports<br>
// <i class="pricon pricon-usb"></i> pricon-usb<br>
// <i class="pricon pricon-vote"></i> pricon-vote<br>
// <i class="pricon pricon-woman"></i> pricon-woman<br>
// <i class="pricon pricon-cake"></i> pricon-cake<br>
// <i class="pricon pricon-close"></i> pricon-close<br>
// <i class="pricon pricon-down"></i> pricon-down<br>
// <i class="pricon pricon-up"></i> pricon-up<br>
// <i class="pricon pricon-sign-language"></i> pricon-sign-language<br>
// <i class="pricon pricon-easy-read"></i> pricon-easy-read<br>
// <i class="pricon pricon-union-jack"></i> pricon-union-jack<br>
// <i class="pricon pricon-loading-o"></i> pricon-loading-o<br>
// <i class="pricon pricon-right-skinny-arrow"></i> pricon-right-skinny-arrow<br>
// <i class="pricon pricon-left-skinny-arrow"></i> pricon-left-skinny-arrow<br>
// <i class="pricon pricon-right-fat-arrow"></i> pricon-right-fat-arrow<br>
// <i class="pricon pricon-left-fat-arrow"></i> pricon-left-fat-arrow<br>
// <i class="pricon pricon-comments"></i> pricon-comments<br>
// <i class="pricon pricon-close-o"></i> pricon-close-o<br>
// <i class="pricon pricon-reply"></i> pricon-reply<br>
// <i class="pricon pricon-thumbs-up"></i> pricon-thumbs-up<br>
// <i class="pricon pricon-thumbs-up-o"></i> pricon-thumbs-up-o<br>
// <i class="pricon pricon-eye"></i> pricon-eye<br>
// <i class="pricon pricon-360"></i> pricon-360<br>
// <i class="pricon pricon-eye-hide"></i> pricon-eye-hide<br>
// <i class="pricon pricon-chevron-down"></i> pricon-chevron-down<br>
// <i class="pricon pricon-chevron-left"></i> pricon-chevron-left<br>
// <i class="pricon pricon-chevron-right"></i> pricon-chevron-right<br>
// <i class="pricon pricon-chevron-up"></i> pricon-chevron-up<br>
// <i class="pricon pricon-arrow-down"></i> pricon-arrow-down<br>
// <i class="pricon pricon-arrow-up"></i> pricon-arrow-up<br>
// <i class="pricon pricon-play"></i> pricon-play<br>
// <i class="pricon pricon-pause"></i> pricon-pause<br>
// <i class="pricon pricon-camera"></i> pricon-camera<br>
// <i class="pricon pricon-enter"></i> pricon-enter<br>
// <i class="pricon pricon-filter"></i> pricon-filter<br>
// <i class="pricon pricon-pen"></i> pricon-pen<br>
// <i class="pricon pricon-unchecked"></i> pricon-unchecked<br>
// <i class="pricon pricon-bell"></i> pricon-bell<br>
// <i class="pricon pricon-star-o"></i> pricon-star-o<br>
// <i class="pricon pricon-menu-dots"></i> pricon-menu-dots<br>
// <i class="pricon pricon-group"></i> pricon-group<br>
// <i class="pricon pricon-angle-right"></i> pricon-angle-right<br>
// <i class="pricon pricon-angle-left"></i> pricon-angle-left<br>
// <i class="pricon pricon-angle-down"></i> pricon-angle-down<br>
// <i class="pricon pricon-angle-up"></i> pricon-angle-up<br>
// 
//
@font-face {
    font-family: "hbg-pricons";
    src: url('../fonts/hbg-pricons.eot');
    src: url('../fonts/hbg-pricons.eot?#iefix') format('eot'),
         url('../fonts/hbg-pricons.woff2') format('woff2'),
         url('../fonts/hbg-pricons.woff') format('woff'),
         url('../fonts/hbg-pricons.ttf') format('truetype'),
         url('../fonts/hbg-pricons.svg#hbg-pricons') format('svg');
    font-weight: normal;
    font-style: normal;
}

.pricon {
    line-height: 1;
}

.pricon::before {
    display: inline-block;
    font: normal normal normal 14px/1 hbg-pricons;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    vertical-align: middle;
    text-decoration: none;
}

.pricon-space-right::before {
    margin-right: .5em;
}

//
// @name Icon badge
// @description
// @author Kristoffer Svanmark
//
// @page Icons/Icon badge
//
// @markup
// <i class="pricon pricon-badge pricon-badge-red-1 pricon-4x pricon-dog"></i>
//
.pricon-badge {
    $badge-size: 1.5em;
    $line-height: 1;
    display: inline-block;
    position: relative;
    width: $badge-size;
    height: $badge-size;

    background-color: $palette-gray-2;

    border-radius: 50%;
    text-align: center;
    line-height: $line-height;
    color: #fff;

    &::before {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
        color: #fff;
    }
}

.pricon-badge-theme {
    background-color: $palette-2;
}

/* Badge colors */
.pricon-badge-red-1,
.pricon-badge-red-1::before {
    background-color: $palette-red-1;
}

.pricon-badge-red-2,
.pricon-badge-red-2::before {
    background-color: $palette-red-2;
}

.pricon-badge-red-3,
.pricon-badge-red-3::before {
    background-color: $palette-red-3;
}

.pricon-badge-red-4,
.pricon-badge-red-4::before {
    background-color: $palette-red-4;
}

.pricon-badge-red-5,
.pricon-badge-red-5::before {
    background-color: $palette-red-5;
}

.pricon-badge-blue-1,
.pricon-badge-blue-1::before {
    background-color: $palette-blue-1;
}

.pricon-badge-blue-2,
.pricon-badge-blue-2::before {
    background-color: $palette-blue-2;
}

.pricon-badge-blue-3,
.pricon-badge-blue-3::before {
    background-color: $palette-blue-3;
}

.pricon-badge-blue-4,
.pricon-badge-blue-4::before {
    background-color: $palette-blue-4;
}

.pricon-badge-blue-5,
.pricon-badge-blue-5::before {
    background-color: $palette-blue-5;
}

.pricon-badge-green-1,
.pricon-badge-green-1::before {
    background-color: $palette-green-1;
}

.pricon-badge-green-2,
.pricon-badge-green-2::before {
    background-color: $palette-green-2;
}

.pricon-badge-green-3,
.pricon-badge-green-3::before {
    background-color: $palette-green-3;
}

.pricon-badge-green-4,
.pricon-badge-green-4::before {
    background-color: $palette-green-4;
}

.pricon-badge-green-5,
.pricon-badge-green-5::before {
    background-color: $palette-green-5;
}

.pricon-badge-purple-1,
.pricon-badge-purple-1::before {
    background-color: $palette-purple-1;
}

.pricon-badge-purple-2,
.pricon-badge-purple-2::before {
    background-color: $palette-purple-2;
}

.pricon-badge-purple-3,
.pricon-badge-purple-3::before {
    background-color: $palette-purple-3;
}

.pricon-badge-purple-4,
.pricon-badge-purple-4::before {
    background-color: $palette-purple-4;
}

.pricon-badge-purple-5,
.pricon-badge-purple-5::before {
    background-color: $palette-purple-5;
}

/* Size modifiers */
.pricon-xs {
    font-size: .6em;
    vertical-align: 12%;
}

.pricon-sm {
    font-size: .8em;
    vertical-align: 5%;
}

.pricon-lg {
    font-size: 1.3333333333333333em;
    vertical-align: -5%;
}

.pricon-2x {
    font-size: 2em;
    vertical-align: -10%;
}

.pricon-3x {
    font-size: 3em;
    vertical-align: -12%;
}

.pricon-4x {
    font-size: 4em;
    vertical-align: -15%;
}

.pricon-5x {
    font-size: 5em;
    vertical-align: -18%;
}

.pricon-6x {
    font-size: 6em;
    vertical-align: -18%;
}

.pricon-7x {
    font-size: 7em;
    vertical-align: -18%;
}

.pricon-8x {
    font-size: 8em;
    vertical-align: -18%;
}

.pricon-9x {
    font-size: 9em;
    vertical-align: -18%;
}

.pricon-10x {
    font-size: 10em;
    vertical-align: -18%;
}

.pricon-fw {
    width: 1.2857142857142858em;
    text-align: center;
}

/* Icon variables */
$pricon-link-item: "\EA01";
$pricon-user-o: "\EA02";
$pricon-external-link: "\EA03";
$pricon-file-pdf: "\EA04";
$pricon-file-text: "\EA05";
$pricon-file-image: "\EA06";
$pricon-file-audio: "\EA07";
$pricon-file-video: "\EA08";
$pricon-file-archive: "\EA09";
$pricon-github: "\EA0A";
$pricon-presentation: "\EA0B";
$pricon-file: "\EA0C";
$pricon-phone: "\EA0D";
$pricon-smartphone: "\EA0E";
$pricon-email: "\EA0F";
$pricon-picture: "\EA10";
$pricon-user: "\EA11";
$pricon-picture-add: "\EA12";
$pricon-plus-o: "\EA13";
$pricon-caret-down: "\EA14";
$pricon-caret-up: "\EA15";
$pricon-check: "\EA16";
$pricon-check-o: "\EA17";
$pricon-notice-warning: "\EA18";
$pricon-notice-danger: "\EA19";
$pricon-compass: "\EA1A";
$pricon-info-o: "\EA1B";
$pricon-question-o: "\EA1C";
$pricon-linkedin-square: "\EA1D";
$pricon-twitter-square: "\EA1E";
$pricon-facebook-square: "\EA1F";
$pricon-instagram: "\EA20";
$pricon-print: "\EA21";
$pricon-listen-ear: "\EA22";
$pricon-volume: "\EA23";
$pricon-search: "\EA24";
$pricon-edit: "\EA25";
$pricon-minus-o: "\EA26";
$pricon-twitter: "\EA27";
$pricon-linkedin: "\EA28";
$pricon-facebook: "\EA29";
$pricon-settings: "\EA2A";
$pricon-location-pin: "\EA2B";
$pricon-next: "\EA2C";
$pricon-previous: "\EA2D";
$pricon-back: "\EA2E";
$pricon-caret-right: "\EA2F";
$pricon-play-o: "\EA30";
$pricon-forbidden: "\EA31";
$pricon-sort-asc: "\EA32";
$pricon-sort-desc: "\EA33";
$pricon-sort: "\EA34";
$pricon-helsingborg: "\EA35";
$pricon-calendar: "\EA36";
$pricon-home: "\EA37";
$pricon-language: "\EA38";
$pricon-globe: "\EA39";
$pricon-star: "\EA3A";
$pricon-text-size: "\EA3B";
$pricon-share: "\EA3C";
$pricon-heart-minus: "\EA3D";
$pricon-heart-plus: "\EA3E";
$pricon-heart: "\EA3F";
$pricon-standby: "\EA40";
$pricon-breifcase: "\EA41";
$pricon-lightbulb: "\EA42";
$pricon-clipboard: "\EA43";
$pricon-picture-user: "\EA44";
$pricon-target: "\EA45";
$pricon-paintbrush: "\EA46";
$pricon-forbidden-circle: "\EA47";
$pricon-smiley-angry: "\EA48";
$pricon-smiley-cool: "\EA49";
$pricon-smiley-cry: "\EA4A";
$pricon-smiley-flirty: "\EA4B";
$pricon-smiley-oh: "\EA4C";
$pricon-smiley-sad: "\EA4D";
$pricon-smiley-smile: "\EA4E";
$pricon-smiley-super-happy: "\EA4F";
$pricon-smiley-thounge: "\EA50";
$pricon-plus: "\EA51";
$pricon-notice-info: "\EA52";
$pricon-clock: "\EA53";
$pricon-wifi: "\EA54";
$pricon-construction: "\EA55";
$pricon-sun: "\EA56";
$pricon-music: "\EA57";
$pricon-calendar-check: "\EA58";
$pricon-money: "\EA59";
$pricon-bus: "\EA5A";
$pricon-car: "\EA5B";
$pricon-house: "\EA5C";
$pricon-park: "\EA5D";
$pricon-bike: "\EA5E";
$pricon-boat: "\EA5F";
$pricon-coffee: "\EA60";
$pricon-commute: "\EA61";
$pricon-healthcare: "\EA62";
$pricon-run: "\EA63";
$pricon-swim: "\EA64";
$pricon-tent: "\EA65";
$pricon-apple: "\EA66";
$pricon-archive: "\EA67";
$pricon-bag: "\EA68";
$pricon-budget: "\EA69";
$pricon-diagram-increase: "\EA6A";
$pricon-discuss: "\EA6B";
$pricon-dog: "\EA6C";
$pricon-balloon: "\EA6D";
$pricon-handshake: "\EA6E";
$pricon-info: "\EA6F";
$pricon-man: "\EA70";
$pricon-people: "\EA71";
$pricon-recycling: "\EA72";
$pricon-reload: "\EA73";
$pricon-sports: "\EA74";
$pricon-usb: "\EA75";
$pricon-vote: "\EA76";
$pricon-woman: "\EA77";
$pricon-cake: "\EA78";
$pricon-close: "\EA79";
$pricon-down: "\EA7A";
$pricon-up: "\EA7B";
$pricon-sign-language: "\EA7C";
$pricon-easy-read: "\EA7D";
$pricon-union-jack: "\EA7E";
$pricon-loading-o: "\EA7F";
$pricon-right-skinny-arrow: "\EA80";
$pricon-left-skinny-arrow: "\EA81";
$pricon-right-fat-arrow: "\EA82";
$pricon-left-fat-arrow: "\EA83";
$pricon-comments: "\EA84";
$pricon-close-o: "\EA85";
$pricon-reply: "\EA86";
$pricon-thumbs-up: "\EA87";
$pricon-thumbs-up-o: "\EA88";
$pricon-eye: "\EA89";
$pricon-360: "\EA8A";
$pricon-eye-hide: "\EA90";
$pricon-chevron-down: "\EA91";
$pricon-chevron-left: "\EA92";
$pricon-chevron-right: "\EA93";
$pricon-chevron-up: "\EA94";
$pricon-arrow-down: "\EA95";
$pricon-arrow-up: "\EA96";
$pricon-play: "\EB30";
$pricon-pause: "\EC30";
$pricon-camera: "\EC32";
$pricon-enter: "\EC39";
$pricon-filter: "\EC40";
$pricon-pen: "\EC41";
$pricon-unchecked: "\EC50";
$pricon-bell: "\EC70";
$pricon-star-o: "\EC80";
$pricon-menu-dots: "\EC85";
$pricon-group: "\EC95";
$pricon-angle-right: "\EC96";
$pricon-angle-left: "\EC97";
$pricon-angle-down: "\EC98";
$pricon-angle-up: "\EC99";


/* Glyphs */
.pricon-link-item:before { content: $pricon-link-item }
.pricon-user-o:before { content: $pricon-user-o }
.pricon-external-link:before { content: $pricon-external-link }
.pricon-file-pdf:before { content: $pricon-file-pdf }
.pricon-file-text:before { content: $pricon-file-text }
.pricon-file-image:before { content: $pricon-file-image }
.pricon-file-audio:before { content: $pricon-file-audio }
.pricon-file-video:before { content: $pricon-file-video }
.pricon-file-archive:before { content: $pricon-file-archive }
.pricon-github:before { content: $pricon-github }
.pricon-presentation:before { content: $pricon-presentation }
.pricon-file:before { content: $pricon-file }
.pricon-phone:before { content: $pricon-phone }
.pricon-smartphone:before { content: $pricon-smartphone }
.pricon-email:before { content: $pricon-email }
.pricon-picture:before { content: $pricon-picture }
.pricon-user:before { content: $pricon-user }
.pricon-picture-add:before { content: $pricon-picture-add }
.pricon-plus-o:before { content: $pricon-plus-o }
.pricon-caret-down:before { content: $pricon-caret-down }
.pricon-caret-up:before { content: $pricon-caret-up }
.pricon-check:before { content: $pricon-check }
.pricon-check-o:before { content: $pricon-check-o }
.pricon-notice-warning:before { content: $pricon-notice-warning }
.pricon-notice-danger:before { content: $pricon-notice-danger }
.pricon-compass:before { content: $pricon-compass }
.pricon-info-o:before { content: $pricon-info-o }
.pricon-question-o:before { content: $pricon-question-o }
.pricon-linkedin-square:before { content: $pricon-linkedin-square }
.pricon-twitter-square:before { content: $pricon-twitter-square }
.pricon-facebook-square:before { content: $pricon-facebook-square }
.pricon-instagram:before { content: $pricon-instagram }
.pricon-print:before { content: $pricon-print }
.pricon-listen-ear:before { content: $pricon-listen-ear }
.pricon-volume:before { content: $pricon-volume }
.pricon-search:before { content: $pricon-search }
.pricon-edit:before { content: $pricon-edit }
.pricon-minus-o:before { content: $pricon-minus-o }
.pricon-twitter:before { content: $pricon-twitter }
.pricon-linkedin:before { content: $pricon-linkedin }
.pricon-facebook:before { content: $pricon-facebook }
.pricon-settings:before { content: $pricon-settings }
.pricon-location-pin:before { content: $pricon-location-pin }
.pricon-next:before { content: $pricon-next }
.pricon-previous:before { content: $pricon-previous }
.pricon-back:before { content: $pricon-back }
.pricon-caret-right:before { content: $pricon-caret-right }
.pricon-play-o:before { content: $pricon-play-o }
.pricon-forbidden:before { content: $pricon-forbidden }
.pricon-sort-asc:before { content: $pricon-sort-asc }
.pricon-sort-desc:before { content: $pricon-sort-desc }
.pricon-sort:before { content: $pricon-sort }
.pricon-helsingborg:before { content: $pricon-helsingborg }
.pricon-calendar:before { content: $pricon-calendar }
.pricon-home:before { content: $pricon-home }
.pricon-language:before { content: $pricon-language }
.pricon-globe:before { content: $pricon-globe }
.pricon-star:before { content: $pricon-star }
.pricon-text-size:before { content: $pricon-text-size }
.pricon-share:before { content: $pricon-share }
.pricon-heart-minus:before { content: $pricon-heart-minus }
.pricon-heart-plus:before { content: $pricon-heart-plus }
.pricon-heart:before { content: $pricon-heart }
.pricon-standby:before { content: $pricon-standby }
.pricon-breifcase:before { content: $pricon-breifcase }
.pricon-lightbulb:before { content: $pricon-lightbulb }
.pricon-clipboard:before { content: $pricon-clipboard }
.pricon-picture-user:before { content: $pricon-picture-user }
.pricon-target:before { content: $pricon-target }
.pricon-paintbrush:before { content: $pricon-paintbrush }
.pricon-forbidden-circle:before { content: $pricon-forbidden-circle }
.pricon-smiley-angry:before { content: $pricon-smiley-angry }
.pricon-smiley-cool:before { content: $pricon-smiley-cool }
.pricon-smiley-cry:before { content: $pricon-smiley-cry }
.pricon-smiley-flirty:before { content: $pricon-smiley-flirty }
.pricon-smiley-oh:before { content: $pricon-smiley-oh }
.pricon-smiley-sad:before { content: $pricon-smiley-sad }
.pricon-smiley-smile:before { content: $pricon-smiley-smile }
.pricon-smiley-super-happy:before { content: $pricon-smiley-super-happy }
.pricon-smiley-thounge:before { content: $pricon-smiley-thounge }
.pricon-plus:before { content: $pricon-plus }
.pricon-notice-info:before { content: $pricon-notice-info }
.pricon-clock:before { content: $pricon-clock }
.pricon-wifi:before { content: $pricon-wifi }
.pricon-construction:before { content: $pricon-construction }
.pricon-sun:before { content: $pricon-sun }
.pricon-music:before { content: $pricon-music }
.pricon-calendar-check:before { content: $pricon-calendar-check }
.pricon-money:before { content: $pricon-money }
.pricon-bus:before { content: $pricon-bus }
.pricon-car:before { content: $pricon-car }
.pricon-house:before { content: $pricon-house }
.pricon-park:before { content: $pricon-park }
.pricon-bike:before { content: $pricon-bike }
.pricon-boat:before { content: $pricon-boat }
.pricon-coffee:before { content: $pricon-coffee }
.pricon-commute:before { content: $pricon-commute }
.pricon-healthcare:before { content: $pricon-healthcare }
.pricon-run:before { content: $pricon-run }
.pricon-swim:before { content: $pricon-swim }
.pricon-tent:before { content: $pricon-tent }
.pricon-apple:before { content: $pricon-apple }
.pricon-archive:before { content: $pricon-archive }
.pricon-bag:before { content: $pricon-bag }
.pricon-budget:before { content: $pricon-budget }
.pricon-diagram-increase:before { content: $pricon-diagram-increase }
.pricon-discuss:before { content: $pricon-discuss }
.pricon-dog:before { content: $pricon-dog }
.pricon-balloon:before { content: $pricon-balloon }
.pricon-handshake:before { content: $pricon-handshake }
.pricon-info:before { content: $pricon-info }
.pricon-man:before { content: $pricon-man }
.pricon-people:before { content: $pricon-people }
.pricon-recycling:before { content: $pricon-recycling }
.pricon-reload:before { content: $pricon-reload }
.pricon-sports:before { content: $pricon-sports }
.pricon-usb:before { content: $pricon-usb }
.pricon-vote:before { content: $pricon-vote }
.pricon-woman:before { content: $pricon-woman }
.pricon-cake:before { content: $pricon-cake }
.pricon-close:before { content: $pricon-close }
.pricon-down:before { content: $pricon-down }
.pricon-up:before { content: $pricon-up }
.pricon-sign-language:before { content: $pricon-sign-language }
.pricon-easy-read:before { content: $pricon-easy-read }
.pricon-union-jack:before { content: $pricon-union-jack }
.pricon-loading-o:before { content: $pricon-loading-o }
.pricon-right-skinny-arrow:before { content: $pricon-right-skinny-arrow }
.pricon-left-skinny-arrow:before { content: $pricon-left-skinny-arrow }
.pricon-right-fat-arrow:before { content: $pricon-right-fat-arrow }
.pricon-left-fat-arrow:before { content: $pricon-left-fat-arrow }
.pricon-comments:before { content: $pricon-comments }
.pricon-close-o:before { content: $pricon-close-o }
.pricon-reply:before { content: $pricon-reply }
.pricon-thumbs-up:before { content: $pricon-thumbs-up }
.pricon-thumbs-up-o:before { content: $pricon-thumbs-up-o }
.pricon-eye:before { content: $pricon-eye }
.pricon-360:before { content: $pricon-360 }
.pricon-eye-hide:before { content: $pricon-eye-hide }
.pricon-chevron-down:before { content: $pricon-chevron-down }
.pricon-chevron-left:before { content: $pricon-chevron-left }
.pricon-chevron-right:before { content: $pricon-chevron-right }
.pricon-chevron-up:before { content: $pricon-chevron-up }
.pricon-arrow-down:before { content: $pricon-arrow-down }
.pricon-arrow-up:before { content: $pricon-arrow-up }
.pricon-play:before { content: $pricon-play }
.pricon-pause:before { content: $pricon-pause }
.pricon-camera:before { content: $pricon-camera }
.pricon-enter:before { content: $pricon-enter }
.pricon-filter:before { content: $pricon-filter }
.pricon-pen:before { content: $pricon-pen }
.pricon-unchecked:before { content: $pricon-unchecked }
.pricon-bell:before { content: $pricon-bell }
.pricon-star-o:before { content: $pricon-star-o }
.pricon-menu-dots:before { content: $pricon-menu-dots }
.pricon-group:before { content: $pricon-group }
.pricon-angle-right:before { content: $pricon-angle-right }
.pricon-angle-left:before { content: $pricon-angle-left }
.pricon-angle-down:before { content: $pricon-angle-down }
.pricon-angle-up:before { content: $pricon-angle-up }


/* Mixin */
@mixin pricon($icon, $vertical-align: -15%) {
    font-family: hbg-pricons;
    line-height: 1;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    vertical-align: $vertical-align;
    content: $icon;
}