/* * * * * * * * * *
 *
 *  Main.scss
 *
 *  1. Material  design icons
 *  2. Settings
 *  3. Tools
 *  4. Generic
 *  5. Elements
 *  6. Objects
 *  7. Components
 *  8. Misc
 *  9. Utilities
 *
 * * * * * * * * * */

// ***************************************************************
// *** Settings
// ***************************************************************
@import "material/material-icons";
@import "styleguide";
@import "docs";
@import "pages";