/* * * * * * * * * *
 *
 *  Main.scss
 *
 *  1. Material  design icons
 *  2. Settings
 *  3. Tools
 *  4. Generic
 *  5. Elements
 *  6. Objects
 *  7. Components
 *  8. Misc
 *  9. Utilities
 *
 * * * * * * * * * */

// ***************************************************************
// *** Settings
// ***************************************************************
@import "material/material-icons";
@import "setting/variables";

// ***************************************************************
// *** Functions
// ***************************************************************
@import "function/strip-unit";
@import "function/em";
@import "function/rem";
@import "function/px";
@import "function/breakpoint-suffix";
@import "function/next-breakpoint";
@import "function/get-color";
@import "function/remove-list-item";
@import "function/validate-breakpoint-list";
@import "function/mix-color-style-functions";
@import "function/legacy-direction";
@import "function/is-direction";
@import "function/append-important";
@import "function/heading";
@import "function/string-replace";

// ***************************************************************
// *** Doc
// ***************************************************************
@import "doc/generic";
@import "doc/icons";
@import "doc/fab";
@import "doc/utilities";

// ***************************************************************
// *** Mixins
// ***************************************************************
@import "mixin/mq";
@import "mixin/responsive-styles";
@import "mixin/psuedo";
@import "mixin/ratio";
@import "mixin/cover";
@import "mixin/center";
@import "mixin/size";
@import "mixin/shadow";
@import "mixin/button";
@import "mixin/list";
@import "mixin/paper";
@import "mixin/gradient";
@import "mixin/arrow";
@import "mixin/build-utility";
@import "mixin/animations/slide";
@import "mixin/animations/scale-up";
@import "mixin/animations/fade-in";

// ***************************************************************
// *** Generic
// ***************************************************************
@import "generic/normalize";
@import "generic/container";
@import "generic/grid";
@import "generic/layouts";
@import "generic/load-animation";
@import "generic/divider";

// ***************************************************************
// *** Elements
// ***************************************************************

@import "element/html";
@import "element/body";
@import "element/headings";
@import "element/list";
@import "element/link";
@import "element/strong";
@import "element/table";

// ***************************************************************
// *** Objects
// ***************************************************************
@import "object/article";
@import "object/hero";
@import "object/lead";
@import "object/ripple";

// ***************************************************************
// *** Components
// ***************************************************************
@import "component/header";
@import "component/footer";
@import "component/avatar";
@import "component/paper";
@import "component/card";
@import "component/icon";
@import "component/pagination";
@import "component/code";
@import "component/notice";
@import "component/button";
@import "component/menu";
@import "component/breadcrumb";
@import "component/fileinput";
@import "component/table";
@import "component/accordion";
@import "component/gallery";
@import "component/image";
@import "component/loader";
@import "component/tooltip";
@import "component/logotype";
@import "component/tabs";
@import "component/modal";
@import "component/testimonials";
@import "component/alert";
@import "component/fields";
@import "component/textarea";
@import "component/option";
@import "component/typography";
@import "component/buttonGroup";
@import "component/fab";
@import "component/steppers";
@import "component/segment";
@import "component/navbar";
@import "component/dropdown";
@import "component/date-picker";
@import "component/notification";
@import "component/comment";
@import "component/slider";
@import "component/tag";
@import "component/calendar";
@import "component/tile";
@import "component/sidebar";
@import "component/grid";

// ***************************************************************
// *** Misc
// ***************************************************************

// ***************************************************************
// *** Utilities
// ***************************************************************
@import "utility/shadow";
@import "utility/z-index";
@import "utility/border-radius";
@import "utility/display";
@import "utility/ratio";
@import "utility/disabled";
@import "utility/visibility";
@import "utility/flex";
@import "utility/color";
@import "utility/accessability";
@import "utility/responsive-media";
@import "utility/clearfix";
@import "utility/border";
@import "utility/overflow";
@import "utility/sizing";
@import "utility/spacing";
@import "utility/float";
@import "utility/vertical-align";
@import "utility/position";

// ***************************************************************
// *** Pages
// ***************************************************************
@import "pages/home";
@import "pages/master";
@import "pages/component";