/* * * * * * * * * *
 *
 *  Main.scss
 *
 *  1. Settings
 *  2. Tools
 *  3. Generic
 *  4. Elements
 *  5. Objects
 *  6. Components
 *  7. Misc
 *  8. Utilities
 *
 * * * * * * * * * */

// ***************************************************************
// *** Settings
// ***************************************************************
@import "/node_modules/material-design-icons/iconfont/material-icons.css";
@import "setting/variables";

// ***************************************************************
// *** Settings
// ***************************************************************
@import "function/strip-unit";
@import "function/em";
@import "function/rem";
@import "function/px";
@import "function/breakpoint-suffix";
@import "function/next-breakpoint";
@import "function/get-color";
@import "function/remove-list-item";
@import "function/validate-breakpoint-list";
@import "function/mix-color-style-functions.scss";
@import "function/legacy-direction";
@import "function/is-direction";
@import "function/append-important";

// ***************************************************************
// *** Mixins
// ***************************************************************
@import "mixin/mq";
@import "mixin/responsive-styles";
@import "mixin/psuedo";
@import "mixin/ratio";
@import "mixin/cover";
@import "mixin/center";
@import "mixin/size";
@import "mixin/shadow";
@import "mixin/button";
@import "mixin/list";
@import "mixin/paper";
@import "mixin/gradient";
@import "mixin/arrow";
@import "mixin/build-utility";
@import "mixin/animations/slide";
@import "mixin/animations/scale-up";

// ***************************************************************
// *** Generic
// ***************************************************************
@import "generic/normalize";
@import "generic/container";
@import "generic/grid";
@import "generic/icons";

// ***************************************************************
// *** Elements
// ***************************************************************

@import "element/html";
@import "element/body";
@import "element/headings";
@import "element/list";
@import "element/link";
@import "element/strong";
@import "element/table";

// ***************************************************************
// *** Objects
// ***************************************************************
@import "object/article";
@import "object/hero";
@import "object/lead";
@import "object/ripple";

// ***************************************************************
// *** Components
// ***************************************************************
@import "component/header";
@import "component/footer";
@import "component/hero";
@import "component/avatar";
@import "component/paper";
@import "component/card";
@import "component/icon";
@import "component/pagination";
@import "component/code";
@import "component/notice";
@import "component/button";
@import "component/menu";
@import "component/breadcrumb";
@import "component/fileinput";
@import "component/table";
@import "component/accordion";
@import "component/gallery";
@import "component/image";
@import "component/loader";
@import "component/tooltip";
@import "component/logotype";
@import "component/form";
@import "component/tabs";
@import "component/modal";
@import "component/testimonials";
@import "component/alert";
@import "component/fields";
@import "component/typography";
@import "component/buttonGroup";
@import "component/fab";
@import "component/steppers";
@import "component/navbar";
@import "component/dropdown";

// ***************************************************************
// *** Misc
// ***************************************************************

// ***************************************************************
// *** Utilities
// ***************************************************************
@import "utility/shadow";
@import "utility/z-index";
@import "utility/border-radius";
@import "utility/display";
@import "utility/ratio";
@import "utility/disabled";
@import "utility/visibility";
@import "utility/flex";
@import "utility/color";
@import "utility/accessability";
@import "utility/responsive-media";
@import "utility/clearfix";
@import "utility/border";
@import "utility/overflow";
@import "utility/sizing";
@import "utility/spacing";
@import "utility/float";
@import "utility/vertical-align";
@import "utility/position";
