@function appendImportant($styling){
    $altered-list: ();
    
    @each $property,$value in $styling{
        $value: $value + '!important';
        $altered-list: map-merge($altered-list, ($property: $value))
    }

    @return $altered-list;
}