@function get-breakpoint-suffix($screen, $includeZero: null) {
    @if map-has-key($breakpoints-map, $screen) {
        @if map-get($breakpoints-map, $screen) == 0 and $includeZero == null {
            @return '';
        } @else {
            @return \@#{$screen};
        }
    } @else if $screen == 'print' {
        @return \@#{$screen};
    } @else {
        @return '';
    }
}
