@function em($value, $base: $em-base) {
    @if unit($value) == "px" {
        @return strip-unit($value) / $base * 1em;
    } @else if unit($value) == "em" {
        @return $value;
    } @else if unitless($value) {
        @if $value == 0 {
            @return 0;
        }
        @return $value / $base * 1em;
    } @else {
        @error "$value parameter must be in PX or EM";
    }
}
