@use "sass:string";
@function str-replace($string, $search, $replace: "") {
    $index: string.index($string, $search);

    @if $index {
        $filtered: string.slice($string, 1, $index - 1);
        $new_string: string.slice($string, $index + string.length($search));
        $unfiltered: str-replace($new_string, $search, $replace);

        @return #{$filtered} #{$replace} #{$unfiltered};
    }

    @return $string;
}