@use "sass:list";
@use "sass:meta";
@use "remove-list-item";

@function validateBreakpointList($breakpoints, $limitToBreakpoint: true) {
    $breakpoints: $breakpoints;

    @if ($breakpoints == all) {
        $breakpoints: 0, xs, sm, md, lg, xl;
    } @else if meta.type-of($breakpoints) != list {
        $breakpoints: ($breakpoints);
    }

    @if list.index($breakpoints, 0) != null
        and list.index($breakpoints, 0) != null
        and $limitToBreakpoint != true {
        $breakpoints: remove-list-item.removeListItem($breakpoints, xs);
    }

    @return $breakpoints;
}
