@function validateBreakpointList($breakpoints, $limitToBreakpoint: true) {
    $breakpoints: $breakpoints;

    @if ($breakpoints == all) {
        $breakpoints: 0, xs, sm, md, lg;
    } @else if type-of($breakpoints) != list {
        $breakpoints: ($breakpoints);
    }

    @if index($breakpoints, 0) != null
        and index($breakpoints, 0) != null
        and $limitToBreakpoint != true {
        $breakpoints: removeListItem($breakpoints, xs);
    }

    @return $breakpoints;
}
