@use "../../sass/mixin/list";
@use "../../sass/mixin/mq";
@use "../../sass/mixin/tokens";

/* Component name */
$_: "c-breadcrumb";

/* Design tokens */
@include tokens.create($_, getComponentTokens($_));

/* Component */
.#{$_} {
    display: flex;
    gap: tokens.use($_, "space");
    
    &__prefix {
        font-weight: bold;
        white-space: nowrap;
    }

    &__list {
        @include list.unlist();
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        padding: 0;
    }

    &__item {
        padding-right: tokens.use($_, "space");
        margin: 0;
        display: flex;
        gap: tokens.use($_, "space");
        color: tokens.get($_, "color--background-contrast-muted");

        @include mq.mq($until: "sm") {
            &:not(:nth-last-child(2)) {
                display: none;
            }

            &:nth-last-child(2) {
                [data-material-symbol="home"]::after {
                    content: "chevron_right";
                }
            }
        }
    }

    &__link,
    &__link:visited {
        text-decoration: none;
        color: tokens.get($_, "color--background-contrast-muted");
    }

    &__link:hover {
        color: tokens.get($_, "color--background-contrast-muted");
        text-decoration: underline;
    }

    .c-icon {
        align-self: center;
        color: tokens.get($_, "color--background-contrast-muted");
        @include mq.mq($until: "sm") {
            transform: scaleX(-1);
        }
    }
}
