.d-fab {

    &__left {
        margin-left: 200px;
    }
}

.d-theme-presets {
    &__list {
        display: grid;
        gap: calc(var(--base) * 1);
    }

    &__button {
        width: 100%;
    }

    &__button.is-active {
        font-weight: 600;
    }
}