.d-divider{
    border: 1px dashed $color-default-dimmed;
    align-self: center;
    margin:0 auto;
    
    &--sm{
        width:10%;
    }

    &--md{
        width:30%;
    }

    &--lg{
        width:70%;
    }

}