@use "../setting/var_colors" as colors;
@use "../setting/var_border-radius" as border-radius;
@use "../setting/var_fonts" as fonts;
@use "../setting/var_default" as defaults;
@use "../setting/var_properties" as properties;

.l-docs--header {
    place-self: start;
    width: 100%;
}

.d-code {
    border-radius: 0 0 border-radius.$border-radius-md border-radius.$border-radius-md;
    border-top: 8px solid colors.$color-darkest;
    transform: translateY(-8px);
    z-index: properties.$level-1 - 1;
    margin: 0;

    .toolbar {
        top: unset !important;
        right: calc(#{defaults.$base}*3) !important;
        bottom: calc(#{defaults.$base}*3) !important;

        &-item {
            position: unset;
        }
    }
}

.d-code__toggle {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: calc(#{defaults.$base} * 1);
    margin: 0 0 calc(#{defaults.$base} * 2) 0;

    .c-button,
    .c-button:hover {
        filter: properties.$drop-shadow-0;
    }
}

.d-params {

    table {
        border-collapse: collapse
    }

    thead {
        border-bottom: 1px solid #e5e5e5;

        td {
            font-weight: fonts.$font-weight-bold;
            font-family: fonts.$font-family-bold;
            color: colors.$color-black;
        }
    }

    tbody tr {

        &:not(:last-of-type) {
            border-bottom: 1px solid #e5e5e5;
        }
    }

    tbody td {
        color: colors.$color-darkest;

        &:first-of-type {
            color: colors.$color-secondary-dark;
            font-family: monospace, monospace;
        }

        &:nth-of-type(3) {
            font-weight: fonts.$font-weight-bold;
            font-family: fonts.$font-family-bold;
        }
    }
}