@use "../setting/var_colors" as colors;
@use "../setting/var_default" as defaults;
@use "../setting/var_properties" as properties;
@use "../mixin/tokens";

.l-docs--header {
    place-self: start;
    width: 100%;
}

.d-code {
    margin: 0;

    .toolbar {
        top: unset !important;
        right: calc(#{defaults.$base}*3) !important;
        bottom: calc(#{defaults.$base}*3) !important;

        &-item {
            position: unset;
        }
    }
}

.d-code__toggle {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: calc(#{defaults.$base} * 1);
    position: absolute;
    top: 0;
    right: 0;
}

.markup-preview {
    border: 2px dashed var(--c-paper--border-color, var(--color--surface-border));
    box-sizing: border-box;
    display: block;
    inline-size: min(100%, 100vw);
    max-inline-size: 100vw;
    min-inline-size: min(100%, 16rem);
    overflow: auto;
    resize: horizontal;
    padding: 16px;
}

.d-params {

    table {
        border-collapse: collapse
    }

    thead {
        border-bottom: 1px solid #e5e5e5;

        td {
            font-weight: tokens.getRawValue("", "font-weight-bold");
            font-family: tokens.getRawValue("", "font-family-bold");
            color: colors.$color-black;
        }
    }

    tbody tr {

        &:not(:last-of-type) {
            border-bottom: 1px solid #e5e5e5;
        }
    }

    tbody td {
        color: colors.$color-darkest;

        &:first-of-type {
            color: colors.$color-secondary-dark;
            font-family: monospace, monospace;
        }

        &:nth-of-type(3) {
            font-weight: tokens.getRawValue("", "font-weight-bold");
            font-family: tokens.getRawValue("", "font-family-bold");
        }
    }
}