.d-animation {
    $base: &;
    &__content {
        position: relative;
        min-height: 70px;
        * {
            position: absolute;
            left: 0;
            top: 0;
            bottom: 0;
            right: 0;
            line-height: 100%;
        }
    
        #{$base}__icon {
            transform: scale(1);
            line-height: 70px;
        }
    
        #{$base}__copied {
            transform: scale(0);
            color: $color-primary;
            font-weight: bold;
            line-height: 70px;
        }
    }

    &--show{
        #{$base}__icon {
            animation-name: iconAnimation;
            animation-duration: 2s;
            transform: scale(1)
        }
    
        #{$base}__copied {
            animation-name: textAnimation;
            animation-duration: 2s;
            transform: scale(0)
        }
    
        @keyframes iconAnimation {
            10% {transform: scale(1.2)}
            15% {transform: scale(0)}
            90% {transform: scale(0)}
        }
        
        @keyframes textAnimation {
            15% {transform: scale(0)}
            20% {transform: scale(1.15)}
            25% {transform: scale(1)}
            80% {transform: scale(1)}
            90% {transform: scale(0)}
        }
    }
}

.d-icons--close{
    & > .d-icons__category > .c-icon{
        transform: rotate(180deg);
    }

    & > .d-icons__sheet{
        display:none;
    }
}

.d-icons__category{

    display:inline-block;
    & .c-button:focus{
        outline: none;
    }
    & .c-icon{
        cursor: pointer;
        transition: all ease-in-out 0.3s;
    }
}

.d-icons__sheet{
    
    margin-top: 5%;
    padding:2%;
    position: relative;
    margin: 0 auto;

    & .grid-md-2:hover{
        background-color: $color-default-dimmed;
    }
}
.d-icons__category{
    padding:1%;
    margin-bottom:0;
    & h2{
        color:$color-primary;
        display:inline-block

    }
    
    & > .c-button{
        display:inline-block

    }
}

.d-icons__controlls{
    margin-bottom:5%;
}
