@use "../mixin/arrow";
@use "../mixin/button";
@use "../mixin/center";
@use "../mixin/cover";
@use "../mixin/fluid-type";
@use "../mixin/focus";
@use "../mixin/gradient";
@use "../mixin/list";
@use "../mixin/mq";
@use "../mixin/paper";
@use "../mixin/psuedo";
@use "../mixin/ratio";
@use "../mixin/responsive-styles";
@use "../mixin/shadow";
@use "../mixin/size";
@use "../mixin/stretch";

/* Arrows */
.mixins-example-arrow   {
    @include arrow.arrow("up", 8px, #000);
}

/* Button */
.mixins-example-button-mix {
    @include button.button-mix(#000, #42c765, #ac42c7);
}

.mixin-example-button-size {
    @include button.button-size(8px, 12px, 16px, 4px);
}

.mixin-example-button-unstyled {
    @include button.button-unstyled();
}

.mixin-example-center {
    @include center.center();
}

.mixin-example-center-x {
    @include center.centerX();
}

.mixin-example-center-y {
    @include center.centerY();
}

/* Cover */
.mixin-example-cover {
    @include cover.cover();
    background-color: grey;
}

/* Fluid-type */
.mixin-example-fluid-type {
    @include fluid-type.fluid-type(8px, 24px, 2vw);
}

/* Focus */
.mixin-example-focus {
    @include focus.focus();
}

.mixin-example-focus-remove-default {
    @include focus.focus-remove-default();
}

.mixin-example-focus-inset {
    @include focus.focus-inset(4px, false);
}

/* Gradient */
.mixin-example-gradient {
    @include gradient.gradient(30deg, #000, #fff);
    height: 50px;
    width: 100%;
}

/* List */
.mixin-example-unlist {
    @include list.unlist();
}

/* Mq */
.mixin-example-mq {
    background-color: green;
    @include mq.mq("lg") {
        background-color: blue;
    }
}

/* Paper */
.mixin-example-paper {
    @include paper.paper(2, "2");
}

/* Pseudo */
.mixin-example-pseudo {
    &:before {
        @include psuedo.pseudo(block, static, "hi");
    }
}

/* Ratio */
.mixin-example-ratio {
    @include ratio.ratio(16, 2);
}

/* Shadow */
.mixin-example-shadow {
    @include shadow.shadow(2, true);
}

/* Size */
.mixin-example-size {
    @include size.size(3, 4, "em");
}

/* Size */
.mixin-example-stretch {
    @include stretch.stretch();
}

/* Responsive-styles */
$exampleOrder: 1;
@while($exampleOrder <= 2) {
    @include responsive-styles.responsiveStyles(
        (
            ".mixin-example-responsive-styles--#{$exampleOrder}": ( background-color: blue )
        ),
    );
    $exampleOrder: $exampleOrder + 1;
}

.mixin-example-responsive-styles--1 {
    height: 100px;
}

.mixin-example-responsive-styles--2 {
    background-color: green;
    height: 100px;
}
