/* Arrows */
.mixins-example-arrow   {
    @include arrow("up", 8px, #000);
}

/* Button */
.mixins-example-button-mix {
    @include button-mix(#000, #42c765, #ac42c7);
}

.mixin-example-button-size {
    @include button-size(8px, 12px, 16px, 4px);
}

.mixin-example-button-unstyled {
    @include button-unstyled();
}

.mixin-example-center {
    @include center();
}

.mixin-example-center-x {
    @include centerX();
}

.mixin-example-center-y {
    @include centerY();
}

/* Cover */
.mixin-example-cover {
    @include cover();
    background-color: grey;
}

/* Fluid-type */
.mixin-example-fluid-type {
    @include fluid-type(8px, 24px, 2vw);
}

/* Focus */
.mixin-example-focus {
    @include focus();
}

.mixin-example-focus-remove-default {
    @include focus-remove-default();
}

.mixin-example-focus-inset {
    @include focus-inset(4px, false);
}

/* Gradient */
.mixin-example-gradient {
    @include gradient(30deg, #000, #fff);
    height: 50px;
    width: 100%;
}

/* List */
.mixin-example-unlist {
    @include unlist();
}

/* Mq */
.mixin-example-mq {
    background-color: green;
    @include mq("lg") {
        background-color: blue;
    }
}

/* Paper */
.mixin-example-paper {
    @include paper(2, "2");
}

/* Pseudo */
.mixin-example-pseudo {
    &:before {
        @include pseudo(block, static, "hi");
    }
}

/* Ratio */
.mixin-example-ratio {
    @include ratio(16, 2);
}

/* Shadow */
.mixin-example-shadow {
    @include shadow(2, true);
}

/* Size */
.mixin-example-size {
    @include size(3, 4, "em");
}

/* Size */
.mixin-example-stretch {
    @include stretch();
}

/* Responsive-styles */
$exampleOrder: 1;
@while($exampleOrder <= 2) {
    @include responsiveStyles(
        (
            ".mixin-example-responsive-styles--#{$exampleOrder}": ( background-color: blue )
        ),
    );
    $exampleOrder: $exampleOrder + 1;
}

.mixin-example-responsive-styles--1 {
    height: 100px;
}

.mixin-example-responsive-styles--2 {
    background-color: green;
    height: 100px;
}
