.d-shadows {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: calc(#{$base} * 12);
    grid-column-gap: calc(#{$base} * 2);

    div {
        text-align: center;
        line-height: calc(#{$base} * 8);
    }
}

.d-border {
    display: grid;
    grid-template-columns: repeat(auto-fit, calc(#{$base} * 10));
    grid-auto-rows: calc(#{$base} * 10);
    grid-gap: calc(#{$base} * 2);

    div {
        background-color: $color-gray-light;
    }
}