@mixin box {
    display: block;
    width: 100%;
    padding: 0;

    &[data-equal-item] {
        display: flex;
        flex-direction: column;

        .box-content {
            flex: 1 1 auto;
        }
    }

    p + p {
        margin-top: $content-gutter * 0.75;
    }

    li .date {
        margin-top: 4px;
    }

    .box-title,
    .widgettitle,
    .box-index-title,
    > h1,
    > h2,
    > h3,
    > h4,
    > h5,
    > h6,
    .widget > h1,
    .widget > h2,
    .widget > h3,
    .widget > h4,
    .widget > h5,
    .widget > h6 {
        font-size: 19px;
        line-height: 24px;
    }

    .box-title.box-title-inherit {
        font-size: 1em;
    }
}

@mixin box-filled {
    background-color: $palette-2;
    color: #fff;

    @media print {
        background-color: transparent !important;
        color: $base-font-color !important;
        border: 1px solid $creamy-darker;
    }

    .box-title,
    .widgettitle,
    > h1,
    > h2,
    > h3,
    > h4,
    > h5,
    > h6,
    .widget > h1,
    .widget > h2,
    .widget > h3,
    .widget > h4,
    .widget > h5,
    .widget > h6 {
        padding: $box-padding $box-padding 0 $box-padding;
    }

    > ul {
        padding: $box-padding;
    }

    a:not(.btn):not(.page) {
        color: #fff;
        text-decoration: underline;

        @media print {
            color: $base-font-color;
        }
    }

    .box-content {
        color: #fff;

        img {
            @extend .img-inherit-width;
        }

        @media print {
            color: $base-font-color;
        }
    }

    .btn.btn-plain {
        color: #fff;
    }
}

@mixin box-content {
    padding: $box-padding;
    font-size: 15px;
}
