//
// @name Basic list
// @description Nullam quis risus eget urna mollis ornare vel eu leo.
//
// @page List/Basic list
//
// @state .c-list--sm - Less vertical padding
// @state .c-list--xs - Minimal vertical padding
//
// @markup
// <div class="grid">
//  <div class="grid-s-12 grid-md-4">
//      <ul class="c-list">
//          <li class="c-list__item">
//              Malesuada Aenean Vulputate
//          </li>
//          <li class="c-list__item">
//              Pharetra Tortor Commodo Porta
//          </li>
//          <li class="c-list__item">
//              Sem Vehicula Ullamcorper
//          </li>
//          <li class="c-list__item">
//              Venenatis Dapibus Etiam Bibendum
//          </li>
//          <li class="c-list__item">
//              Ipsum Quam
//          </li>
//      </ul>
//  </div>
//  <div class="grid-s-12 grid-md-4">
//      <ul class="c-list c-list--lg">
//          <li class="c-list__item">
//              Malesuada Aenean Vulputate
//          </li>
//          <li class="c-list__item">
//              Pharetra Tortor Commodo Porta
//          </li>
//          <li class="c-list__item">
//              Sem Vehicula Ullamcorper
//          </li>
//          <li class="c-list__item">
//              Venenatis Dapibus Etiam Bibendum
//          </li>
//          <li class="c-list__item">
//              Ipsum Quam
//          </li>
//      </ul>
//  </div>
//  <div class="grid-s-12 grid-md-4">
//      <ul class="c-list c-list--sm">
//          <li class="c-list__item">
//              Malesuada Aenean Vulputate
//          </li>
//          <li class="c-list__item">
//              Pharetra Tortor Commodo Porta
//          </li>
//          <li class="c-list__item">
//              Sem Vehicula Ullamcorper
//          </li>
//          <li class="c-list__item">
//              Venenatis Dapibus Etiam Bibendum
//          </li>
//          <li class="c-list__item">
//              Ipsum Quam
//          </li>
//      </ul>
//  </div>
// </div>
//

//
// @name Active items
// @description Nullam quis risus eget urna mollis ornare vel eu leo.
//
// @page List/Active items
//
//
// @markup
// <div class="grid">
//  <div class="grid-s-12 grid-md-6">
//      <ul class="c-list">
//          <li class="c-list__item">
//              Malesuada Aenean Vulputate
//          </li>
//          <li class="c-list__item">
//              Pharetra Tortor Commodo Porta
//          </li>
//          <li class="c-list__item is-active">
//              Active item
//          </li>
//          <li class="c-list__item">
//              Ipsum Quam
//          </li>
//          <li class="c-list__item">
//              Ipsum Quam
//          </li>
//      </ul>
//  </div>
// </div>
//

//
// @name Disabled items
// @description Nullam quis risus eget urna mollis ornare vel eu leo.
//
// @page List/Disabled items
//
//
// @markup
// <div class="grid">
//  <div class="grid-s-12 grid-md-6">
//      <ul class="c-list">
//          <li class="c-list__item">
//              Malesuada Aenean Vulputate
//          </li>
//          <li class="c-list__item">
//              Pharetra Tortor Commodo Porta
//          </li>
//          <li class="c-list__item is-disabled">
//              Disabled item
//          </li>
//          <li class="c-list__item">
//              Ipsum Quam
//          </li>
//          <li class="c-list__item">
//              Ipsum Quam
//          </li>
//      </ul>
//  </div>
// </div>
//

//
// @name Links
// @description Nullam quis risus eget urna mollis ornare vel eu leo.
//
// @page List/Links
//
//
// @markup
// <div class="grid">
//  <div class="grid-s-12 grid-md-6">
//      <div class="c-list">
//          <a href="#" class="c-list__item c-list__action">
//              Malesuada Aenean Vulputate
//          </a>
//          <a href="#" class="c-list__item c-list__action">
//              Pharetra Tortor Commodo Porta
//          </a>
//          <a href="#" class="c-list__item c-list__action is-active">
//              Active link
//          </a>
//          <a href="#" class="c-list__item c-list__action is-disabled">
//              Disabled link
//          </a>
//          <a href="#" class="c-list__item c-list__action">
//              Ipsum Quam
//          </a>
//      </div>
//  </div>
// </div>
//

//
// @name Buttons
// @description Nullam quis risus eget urna mollis ornare vel eu leo.
//
// @page List/Buttons
//
// @markup
// <div class="grid">
//  <div class="grid-s-12 grid-md-6">
//      <div class="c-list">
//          <button class="c-list__item c-list__action">
//              Malesuada Aenean Vulputate
//          </button>
//          <button class="c-list__item c-list__action">
//              Pharetra Tortor Commodo Porta
//          </button>
//          <button class="c-list__item c-list__action is-active">
//              Active button
//          </button>
//          <button class="c-list__item c-list__action is-disabled">
//              Disabled button
//          </button>
//          <button class="c-list__item c-list__action">
//              Ipsum Quam
//          </button>
//      </div>
//  </div>
// </div>
//

//
// @name Check / Radio buttons
// @description Nullam quis risus eget urna mollis ornare vel eu leo.
//
// @page List/Buttons
//
// @markup
// <div class="grid">
//  <div class="grid-s-12 grid-md-6">
//      <div class="c-list c-list--form">
//          <button class="c-list__item c-list__action">
//              Malesuada Aenean Vulputate
//          </button>
//      </div>
//  </div>
// </div>
//

//
// @name Flush
// @description Nullam quis risus eget urna mollis ornare vel eu leo.
//
// @page List/Flush
//
// @state .c-list--flush - Remove borders
//
// @markup
// <div class="grid">
//  <div class="grid-s-12 grid-md-6">
//      <ul class="c-list c-list--flush">
//          <li class="c-list__item">
//              Malesuada Aenean Vulputate
//          </li>
//          <li class="c-list__item">
//              Pharetra Tortor Commodo Porta
//          </li>
//          <li class="c-list__item">
//              Sem Vehicula Ullamcorper
//          </li>
//          <li class="c-list__item">
//              Venenatis Dapibus Etiam Bibendum
//          </li>
//          <li class="c-list__item">
//              Ipsum Quam
//          </li>
//      </ul>
//  </div>
// </div>
//

.c-list {
    .c-list__item {
        padding: ($content-gutter * 0.5) ($content-gutter * 1.5);
        border: solid 1px;
        border-color: $creamy-darker;
    }

    .c-list__item {
        display: block;
    }

    .c-list__item + .c-list__item {
        margin-top: -1px;
    }

    .c-list__item.is-active {
        background-color: $palette-3;
        color: white;
    }

    .c-list__item.is-disabled {
        // color: $disabled-font-color;
    }

    a.c-list__action,
    button.c-list__action {
        text-decoration: none;
        color: $base-font-color;
        text-align: inherit;
        width: 100%;
        font-size: inherit;
        line-height: inherit;
        background: initial;

        &:hover:not(.is-active, .is-disabled) {
            background-color: $creamy;
        }
        &:active:not(.is-active, .is-disabled) {
            background-color: $creamy-darker;
        }
    }

    &.c-list--flush {
        .c-list__item {
            border-radius: 0;
            border-left: 0;
            border-right: 0;
        }
        .c-list__item:first-child {
            border-top: 0;
        }
        .c-list__item:last-child {
            border-bottom: 0;
        }
    }
}

.c-list.c-list--lg {
    .c-list__item {
        padding: ($content-gutter) ($content-gutter * 1.5);
    }
}

.c-list.c-list--sm {
    .c-list__item {
        padding: ($content-gutter * 0.25) ($content-gutter * 1.5);
    }
}
