@use "../../sass/mixin/stretch";
@use "../../sass/mixin/tokens";
@use "../../sass/generic/animations";

/* Component name */
$_: "c-notice";

/* Design tokens */
@include tokens.create($_, getComponentTokens($_));

/* Component */
.#{$_} {
    --#{$_}--shadow: #{tokens.getCalculatedValue($_, "shadow", 1)};
    --#{$_}--border: #{tokens.getCalculatedValue($_, "border-width", 1)} solid;
    contain: layout;
    filter: var(--#{$_}--shadow);
    border: var(--#{$_}--border);
    padding: tokens.getCalculatedValue($_, "space", 2) tokens.getCalculatedValue($_, "space", 3);
    border-radius: tokens.getCalculatedValue($_, "border-radius");
    corner-shape: tokens.getRawValue($_, "corner-shape");

    display: grid;
    grid-template-areas:
        "icon title actions"
        "icon message actions";
    grid-template-columns: min-content 1fr auto;
    align-items: center;

    .#{$_}__icon {
        grid-area: icon;
        line-height: 1rem;
        opacity: .7;
        color: tokens.getRawValue($_, "color--info-contrast");
        margin-right: tokens.getCalculatedValue($_, "space", 2);
    }

    .#{$_}__title {
        grid-area: title;
        margin: 0;
        line-height: tokens.getRawValue($_, "line-height");

        --inherit-font-size: #{tokens.getRawValue($_, "font-size-300")};
    }

    .#{$_}__message {
        grid-area: message;
        margin: 0;

        a,
        a:hover,
        a:active,
        a:visited {
            color: inherit;
            text-decoration: underline;
        }
    }

    .#{$_}__actions {
        grid-area: actions;
        display: flex;
        gap: tokens.getCalculatedValue($_, "space", 1.5);
        align-items: center;
        justify-content: flex-end;
        margin: tokens.getCalculatedValue($_, "space", -1) tokens.getCalculatedValue($_, "space", -1) tokens.getCalculatedValue($_, "space", -1) 0;

        >*+* {
            padding-left: tokens.getCalculatedValue($_, "space", 0.75);
            border-left: 1px solid;
            opacity: 1;
            border-left-color: color-mix(in srgb, currentColor 30%, transparent);
        }
    }

    &:not(:has(.#{$_}__title)) {
        grid-template-areas: "icon message actions";
    }

    &:not(:has(.#{$_}__message)) {
        grid-template-areas: "icon title actions";
    }

    a,
    a:hover,
    a:active,
    a:visited {
        color: inherit;
        text-decoration: underline;
    }

    &--success {
        background-color: tokens.getRawValue($_, "color--success");
        color: tokens.getRawValue($_, "color--success-contrast");
        border-color: tokens.getRawValue($_, "color--success-border");

        a,
        a:hover,
        a:active,
        a:visited {
            color: tokens.getRawValue($_, "color--success-contrast");
            text-decoration: underline;
        }

        .c-button {
            color: tokens.getRawValue($_, "color--success-contrast");
        }
    }

    &--danger {
        background-color: tokens.getRawValue($_, "color--danger");
        color: tokens.getRawValue($_, "color--danger-contrast");
        border-color: tokens.getRawValue($_, "color--danger-border");

        a,
        a:hover,
        a:active,
        a:visited {
            color: tokens.getRawValue($_, "color--danger-contrast");
            text-decoration: underline;
        }

        .c-button {
            color: tokens.getRawValue($_, "color--danger-contrast");
        }
    }

    &--info {
        background-color: tokens.getRawValue($_, "color--info");
        color: tokens.getRawValue($_, "color--info-contrast");
        border-color: tokens.getRawValue($_, "color--info-border");

        a,
        a:hover,
        a:active,
        a:visited {
            color: tokens.getRawValue($_, "color--info-contrast");
            text-decoration: underline;
        }

        .c-button {
            color: tokens.getRawValue($_, "color--info-contrast");
        }
    }

    &--warning {
        background-color: tokens.getRawValue($_, "color--warning");
        color: tokens.getRawValue($_, "color--warning-contrast");
        border-color: tokens.getRawValue($_, "color--warning-border");

        a,
        a:hover,
        a:active,
        a:visited {
            color: tokens.getRawValue($_, "color--warning-contrast");
            text-decoration: underline;
        }

        .c-button {
            color: tokens.getRawValue($_, "color--warning-contrast");
        }
    }

    .#{$_}.#{$_}--stretch {
        @include stretch.stretch();
    }

    .#{$_}.#{$_}--action-below {
        grid-template-areas:
            "icon title"
            "icon message"
            ". actions";
        grid-template-columns: min-content 1fr;

        .#{$_}__actions {
            margin-top: tokens.getCalculatedValue($_, "space");
            justify-content: flex-start;
        }

        &:not(:has(.#{$_}__title)) {
            grid-template-areas:
                "icon message"
                ". actions";
        }

        &:not(:has(.#{$_}__message)) {
            grid-template-areas:
                "icon title"
                ". actions";
        }
    }
}

.#{$_}+.#{$_} {
    margin-top: tokens.getCalculatedValue($_, "outer-space", 2);
}

@media print {
    .#{$_} {
        display: none;
    }
}

.c-notice {
    animation: puff-in-center 0.2s cubic-bezier(0.470, 0.000, 0.745, 0.715) both;
}