@use "../../sass/mixin/mq";
@use "../../sass/mixin/tokens";

/* Component name */
$_: "c-table";

/* Design tokens */
@include tokens.create($_, getComponentTokens($_));

/* Component */
.#{$_} {
    --#{$_}--border: #{tokens.use($_, "border-width", 1)} solid #{tokens.get($_, "color--surface-border")};
    position: relative;

    .#{$_}__column-content {
        width: 100%;
        display: inline-block;
    }

    .#{$_}__header {
        padding: tokens.use($_, "space", 1.5);
        border-bottom: var(--#{$_}--border);

    }

    .#{$_}__title {
        --inherit-margin-top: 0;
        --inherit-margin-bottom: 0;
    }

    .#{$_}__inner {
        display: block;
        overflow-x: auto;
        position: relative;
        min-width: 100%;
        overflow: auto;
        scrollbar-width: none;
    }

    .#{$_}__footer {
        width: 100%;
        padding: tokens.use($_, "space", 1.5);
        border-top: var(--#{$_}--border);
        display: grid;
        gap: tokens.use($_, "space", 2);
    }

    .#{$_}__caption {
        margin: 0;
        font-weight: var(--font-weight-italic, 400);
        font-family: var(--font-family-italic, var(--font-family-base));
        font-style: italic;
        color: tokens.get($_, "color--surface-contrast-muted");
    }

    .#{$_}__title {
        display: inline-block;
    }

    .#{$_}__fullscreen {
        position: absolute;
        right: tokens.use($_, "space", 2);
        cursor: pointer;
    }

    /**
     * Generic table
     */
    .#{$_}__table {
        min-width: 100%;
    }

    .#{$_}__column {
        position: relative;
        min-width: tokens.use($_, "space", 13);
    }

    /**
     * Table head
     */
    .#{$_}__head {
        .#{$_}__column-content {
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
            width: 100%;
        }

        .#{$_}__heading {
            display: inline-block;
            padding-right: tokens.use($_, "space", 2);
            max-width: calc(100% - #{tokens.use($_, "space", 2)});
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
        }
    }

    /**
     * Table body
     */
    .#{$_}__body {
        color: tokens.get($_, "color--surface-contrast");
    }

    .#{$_}__column.#{$_}__column-0 {
        z-index: 1000;
    }

    /**
     * Scroll indicator
     */
    .#{$_}__scroll-indicator-wrapper {
        width: 100%;
        background-color: tokens.get($_, "color--surface-border");
        height: tokens.use($_, "space", 1.5);
        border-radius: 3000px;
    }

    .#{$_}__scroll-indicator {
        width: 50%;
        background-color: tokens.get($_, "color--primary");
        height: inherit;
        border-radius: inherit;
        cursor: grab;
        max-width: 90%;
    }

    .#{$_}__scroll-indicator:active {
        cursor: grabbing;
    }

    /**
     * Sorting
     */
    &[js-sort-container] th {
        cursor: pointer;

        .c-icon {
            vertical-align: bottom;
            cursor: pointer;
        }
    }

    /**
     * Actions
     */
    .#{$_}__collapse-button {
        cursor: pointer;
        transition: transform 200ms;
    }

    .#{$_}__sort-button {
        cursor: pointer;
        color: tokens.get($_, "color--surface-contrast-muted");
    }

    /**
     * Modifier: summary line
     */
    &.#{$_}--summary .#{$_}__line:last-of-type .#{$_}__column-content {
        font-weight: var(--font-weight-bold, 700);
        font-family: var(--font-family-bold, var(--font-family-base));
    }

    /**
     * Modifier: multidimensional scroll
     */
    &.#{$_}--multidimensional {
        &.is-collapsed {
            .#{$_}__column-0 {
                min-width: tokens.use($_, "space", 10);

                @include mq.mq("xs", "md") {
                    max-width: min(#{tokens.use($_, "space", 25)}, 25vw);
                }

                @include mq.mq("md") {
                    max-width: tokens.use($_, "space", 25);
                }

                .#{$_}__column-content {
                    text-overflow: ellipsis;
                    overflow: hidden;
                    white-space: nowrap;
                }
            }

            .#{$_}__collapse-button {
                transform: rotate(180deg);
            }
        }

        .#{$_}__column-0 {
            position: sticky;
            left: 0;
            top: 0;

            @include mq.mq("md") {
                max-width: tokens.use($_, "space", 60);
            }

            @include mq.mq("xs", "md") {
                min-width: 20vw;
            }

            &:after {
                box-shadow: tokens.get($_, "shadow");
                content: " ";
                height: 100%;
                position: absolute;
                top: 0;
                right: -20px;
                width: 20px;
            }
        }
    }

    &.#{$_}--title-none {
        .#{$_}__header {
            text-align: right;
        }

        .c-icon {
            position: inherit;
        }
    }
}

/**
 * Shared: .c-table and plain <table>
 */
.#{$_}__table,
table:not(.#{$_} *) {
    border-spacing: 0px;
    width: 100%;
    vertical-align: top;
}

.#{$_}__column,
table:not(.#{$_} *) td,
table:not(.#{$_} *) th {
    padding: tokens.use($_, "space", 1.5) tokens.use($_, "space", 2);
    font-size: tokens.use($_, "space", 2);
    text-align: left;
    line-height: tokens.use($_, "space", 3);
    vertical-align: top;
}

.#{$_}__head,
table:not(.#{$_} *) thead {
    font-weight: var(--font-weight-bold, bold);
    font-family: var(--font-family-bold, var(--font-family-base));
    color: tokens.get($_, "color--surface-contrast-muted");
    background-color: tokens.get($_, "color--surface-alt");
}

.#{$_}__head .#{$_}__column,
table:not(.#{$_} *) thead th {
    border-bottom: var(--#{$_}--border);
}

.#{$_}__body .#{$_}__line .#{$_}__column,
table:not(.#{$_} *) tbody tr td {
    transition: background-color 100ms ease;
}

.#{$_}__body .#{$_}__line:nth-child(odd) .#{$_}__column,
table:not(.#{$_} *) tbody tr:nth-child(odd) td {
    background-color: tokens.get($_, "color--surface");
}

.#{$_}__body .#{$_}__line:nth-child(odd):hover .#{$_}__column,
table:not(.#{$_} *) tbody tr:nth-child(odd):hover td {
    background-color: tokens.get($_, "color--surface-border");
}

.#{$_}__body .#{$_}__line:nth-child(even) .#{$_}__column,
table:not(.#{$_} *) tbody tr:nth-child(even) td {
    background-color: tokens.get($_, "color--surface-alt");
}

.#{$_}__body .#{$_}__line:nth-child(even):hover .#{$_}__column,
table:not(.#{$_} *) tbody tr:nth-child(even):hover td {
    background-color: tokens.get($_, "color--surface-border");
}

.#{$_}__body .#{$_}__column+.#{$_}__column,
table:not(.#{$_} *) tbody td+td {
    border-left: var(--#{$_}--border);
}

/**
 * Embedded in modal
 */
.#{$_}__modal {
    margin: tokens.use($_, "space", 2);
    height: calc(100vh - #{tokens.use($_, "space", 4)});

    .c-modal__header .c-modal__close .c-icon {
        color: var(--color-black, #000000);
    }

    .#{$_}__table {
        border: var(--#{$_}--border);
    }

    .#{$_} .#{$_}__header {
        padding-left: 0;
        padding-right: 0;
        padding-top: 0;
    }
}