@use "../../sass/mixin/mq";
@use "../../sass/mixin/tokens";

@property --inherit-inset-multiplier {
    syntax: "*";
    inherits: false;
}

/* Component name */
$_: "c-table";

/* Design tokens */
@include tokens.create($prefix: $_, $tokens: getComponentTokens($_), $emitDefaultTokenVariables: true);

/* Component */
.#{$_} {
    --#{$_}--border: #{tokens.getCalculatedValue($_, "border-width", 1)} solid #{tokens.getRawValue($_, "color--surface-border")};
    --#{$_}--inset-scale: 1;
    --#{$_}--inset-multiplier: max(var(--inherit-inset-multiplier, 1), var(--#{$_}--inset-scale));
    --#{$_}--inset-padding-x: calc(#{tokens.getCalculatedValue($_, "space", 2)} * var(--#{$_}--inset-multiplier));
    --#{$_}--inset-padding-y: calc(var(--#{$_}--inset-padding-x) * 0.75);
    --#{$_}--inset-padding-y-content: calc(#{tokens.getCalculatedValue($_, "space", 1)} + calc(var(--#{$_}--inset-multiplier) * #{tokens.getCalculatedValue($_, "space", 0.5)}));
    --#{$_}--content-gap: calc(#{tokens.getCalculatedValue($_, "space", 2)} * var(--#{$_}--inset-multiplier));
    position: relative;
    container-type: inline-size;

    .#{$_}__cell-content {
        width: 100%;
        display: inline-block;
    }

    .#{$_}__header {
        padding: var(--#{$_}--inset-padding-y) var(--#{$_}--inset-padding-x);
        border-bottom: var(--#{$_}--border);

    }

    .#{$_}__title {
        --inherit-margin-top: 0;
        --inherit-margin-bottom: 0;
        --inherit-font-size: #{tokens.getRawValue($_, "font-size-200")};
    }

    .#{$_}__inner {
        display: block;
        overflow-x: auto;
        position: relative;
        min-width: 100%;
        overflow: auto;
        scrollbar-width: none;
    }

    .#{$_}__footer {
        width: 100%;
        padding: var(--#{$_}--inset-padding-y) var(--#{$_}--inset-padding-x);
        border-top: var(--#{$_}--border);
        display: grid;
        gap: var(--#{$_}--content-gap);
    }

    .#{$_}__caption {
        margin: 0;
        font-weight: var(--font-weight-italic, 400);
        font-family: var(--font-family-italic, var(--font-family-base));
        font-style: italic;
        color: tokens.getRawValue($_, "color--surface-contrast-muted");
    }

    .#{$_}__title {
        display: inline-block;
    }

    .#{$_}__fullscreen {
        position: absolute;
        right: var(--#{$_}--inset-padding-x);
        cursor: pointer;
    }

    /**
     * Generic table
     */
    .#{$_}__table {
        min-width: 100%;
    }

    .#{$_}__cell {
        position: relative;
        min-width: tokens.getCalculatedValue($_, "space", 13);
    }

    /**
     * Table head
     */
    .#{$_}__head {
        .#{$_}__cell-content {
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
            width: 100%;
        }

        .#{$_}__heading {
            display: inline-block;
            padding-right: var(--#{$_}--inset-padding-x);
            max-width: calc(100% - var(--#{$_}--inset-padding-x));
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
        }
    }

    /**
     * Table body
     */
    .#{$_}__body {
        color: tokens.getRawValue($_, "color--surface-contrast");
    }

    .#{$_}__cell.#{$_}__cell-0 {
        z-index: 1;
    }

    /**
     * Scroll indicator
     */
    .#{$_}__scroll-indicator-wrapper {
        width: 100%;
        background-color: tokens.getRawValue($_, "color--surface-border");
        height: tokens.getCalculatedValue($_, "space", 1.5);
        border-radius: 3000px;
    }

    .#{$_}__scroll-indicator {
        width: 50%;
        background-color: tokens.getRawValue($_, "color--primary");
        height: inherit;
        border-radius: inherit;
        cursor: grab;
        max-width: 90%;
    }

    .#{$_}__scroll-indicator:active {
        cursor: grabbing;
    }

    /**
     * Sorting
     */

    &[js-sort-container] th {
        cursor: pointer;

        .c-icon {
            vertical-align: bottom;
            cursor: pointer;
        }
    }

    /**
     * Actions
     */
    .#{$_}__collapse-button {
        cursor: pointer;
        transition: transform 200ms;
    }

    &.#{$_}--sortable .#{$_}__head .#{$_}__cell-content,
    .#{$_}__sort-button {
        cursor: pointer;
    }

    .#{$_}__sort-button {
        color: tokens.getRawValue($_, "color--surface-contrast-muted");
    }

    /**
     * Modifier: summary line
     */
    &.#{$_}--summary .#{$_}__row:last-of-type .#{$_}__cell-content {
        font-weight: var(--font-weight-bold, 700);
        font-family: var(--font-family-bold, var(--font-family-base));
    }

    /**
     * Modifier: multidimensional scroll
     */
    &.#{$_}--multidimensional {

        &.is-collapsed {
            .#{$_}__cell-0 {
                min-width: tokens.getCalculatedValue($_, "space", 10);

                @include mq.mq("xs", "md") {
                    max-width: min(#{tokens.getCalculatedValue($_, "space", 25)}, 25vw);
                }

                @include mq.mq("md") {
                    max-width: tokens.getCalculatedValue($_, "space", 25);
                }

                .#{$_}__cell-content {
                    text-overflow: ellipsis;
                    overflow: hidden;
                    white-space: nowrap;
                }
            }

            .#{$_}__collapse-button {
                transform: rotate(180deg);
            }
        }

        .#{$_}__cell-0 {
            position: sticky;
            left: 0;
            top: 0;

            @include mq.mq("md") {
                max-width: tokens.getCalculatedValue($_, "space", 60);
            }

            @include mq.mq("xs", "md") {
                min-width: 20vw;
            }

            &:after {
                box-shadow: tokens.getRawValue($_, "shadow");
                content: " ";
                height: 100%;
                position: absolute;
                top: 0;
                right: -20px;
                width: 20px;
            }
        }
    }

    &.#{$_}--title-none {
        .#{$_}__header {
            text-align: right;
        }

        .c-icon {
            position: inherit;
        }
    }

    @container (min-width: 350px) {
        --#{$_}--inset-scale: 1.5;
    }

    @container (min-width: 500px) {
        --#{$_}--inset-scale: 2;
    }
}

/**
 * Shared: .c-table and plain <table>
 */
.#{$_}__table,
table:not(.#{$_} *) {
    border-spacing: 0px;
    width: 100%;
    vertical-align: top;
}

.#{$_}__cell {
    padding: var(--#{$_}--inset-padding-y-content) var(--#{$_}--inset-padding-x);
    font-size: tokens.getCalculatedValue($_, "space", 2);
    text-align: left;
    line-height: tokens.getCalculatedValue($_, "space", 3);
    vertical-align: top;
}

table:not(.#{$_} *) td,
table:not(.#{$_} *) th {
    padding: tokens.getCalculatedValue($_, "space", 1.5) tokens.getCalculatedValue($_, "space", 2);
    font-size: tokens.getCalculatedValue($_, "space", 2);
    text-align: left;
    line-height: tokens.getCalculatedValue($_, "space", 3);
    vertical-align: top;
}

.#{$_}__head,
table:not(.#{$_} *) thead {
    font-weight: var(--font-weight-bold, bold);
    font-family: var(--font-family-bold, var(--font-family-base));
    color: tokens.getRawValue($_, "color--surface-contrast-muted");
    background-color: tokens.getRawValue($_, "color--surface-alt");
}

.#{$_}__head .#{$_}__cell,
table:not(.#{$_} *) thead th {
    border-bottom: var(--#{$_}--border);
}

.#{$_}__body .#{$_}__row .#{$_}__cell,
table:not(.#{$_} *) tbody tr td {
    transition: background-color 100ms ease;
}

.#{$_}__body .#{$_}__row:nth-child(odd) .#{$_}__cell,
table:not(.#{$_} *) tbody tr:nth-child(odd) td {
    background-color: tokens.getRawValue($_, "color--surface");
}

.#{$_}__body .#{$_}__row:nth-child(odd):hover .#{$_}__cell,
table:not(.#{$_} *) tbody tr:nth-child(odd):hover td {
    background-color: tokens.getRawValue($_, "color--surface-border");
}

.#{$_}__body .#{$_}__row:nth-child(even) .#{$_}__cell,
table:not(.#{$_} *) tbody tr:nth-child(even) td {
    background-color: tokens.getRawValue($_, "color--surface-alt");
}

.#{$_}__body .#{$_}__row:nth-child(even):hover .#{$_}__cell,
table:not(.#{$_} *) tbody tr:nth-child(even):hover td {
    background-color: tokens.getRawValue($_, "color--surface-border");
}

.#{$_}__body .#{$_}__cell+.#{$_}__cell,
table:not(.#{$_} *) tbody td+td {
    border-left: var(--#{$_}--border);
}

/**
 * Embedded in modal
 */
.#{$_}__modal {
    margin: tokens.getCalculatedValue($_, "space", 2);
    height: calc(100vh - #{tokens.getCalculatedValue($_, "space", 4)});

    .c-modal__header .c-modal__close .c-icon {
        color: var(--color-black, #000000);
    }

    .#{$_}__table {
        border: var(--#{$_}--border);
    }

    .#{$_} .#{$_}__header {
        padding-left: 0;
        padding-right: 0;
        padding-top: 0;
    }
}