@use "../mixin/build-utility";
@use "../mixin/tokens";

$_: "u-rounded*";

@include tokens.create($_, ("border-radius", "corner-shape"));

[class*="u-rounded"]:not(.u-rounded--full) {
    corner-shape: tokens.get($_, "corner-shape");
    border-radius: tokens.use($_, "border-radius", 1);
}

.u-rounded--full {
    border-radius: 9999px;
}