.site-header.header-business {
    .logotype .h1 {
        color: $palette-4;
    }
}

@media #{$screen-md-up} {
    .header-transparent {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        z-index: $level-9;
    }

    .admin-bar .header-transparent {
        top: 46px;

        @media screen and (min-width: 783px) {
            top: 32px;
        }
    }
}
