.site-header > .container {
    position: relative;

}

.site-header.header-casual,
.site-header.header-jumbo,
.site-header.header-contrasted-nav {
    .menu-trigger {
        color: #fff;

        .menu-icon {
            background-color: #fff;

            &::before,
            &::after {
                background-color: #fff;
            }
        }

        &:target,
        &.open {
            .menu-icon {
                background: transparent;
            }
        }
    }
}

.site-header.header-casual,
.site-header.header-contrasted-nav {
    background-color: $palette-4;
}

@media #{$screen-md-up} {
    .header-transparent {
        &.site-header.header-casual,
        &.site-header.header-contrasted-nav {
            background-color: transparent;
        }
    }
}

.site-header.header-casual,
.site-header.header-contrasted-nav {
    .sub-site-title,
    .sub-site-title-block  {
        color: #fff;
    }

    .navbar-mainmenu {
        padding-top: 0;
    }

    .logotype {
        display: table;
    }

    &.header-center .logotype {
        display: inline-table;
    }

    .navbar {
        margin-top: 0;
    }

    .menu-header-tabs .nav-tabs {
        box-shadow: none;
    }

    .top-search {
        box-shadow: none;
    }

    .menu-help a {
        color: #fff;
    }
}

@media #{$screen-below-md} {
    .site-header.header-casual > .container {
        padding-bottom: $content-gutter;
    }
}

.site-header.header-contrasted-nav {
    .navbar-mainmenu:not(.navbar-creamy) {
        background-color: rgba($palette-5, .8);
    }

    > .container {
        margin-bottom: 15px;

        @media #{$screen-md} {
            margin-bottom: 0;
        }
    }
}

.search-top {
    display: none;
}

.search-top.open,
.no-js .search-top:target {
    display: block;
}
