@use "../../sass/mixin/tokens";

/* Declared properties */
@property --inherit-font-size {
    syntax: "*";
    inherits: false;
}

@property --inherit-letter-spacing {
    syntax: "*";
    inherits: false;
}

@property --inherit-margin-top {
    syntax: "*";
    inherits: false;
}

@property --inherit-margin-bottom {
    syntax: "*";
    inherits: false;
}

@property --inherit-color-contrast {
    syntax: "*";
    inherits: true;
}

/* Component name */
$_: "c-typography";

/* Design tokens */
@include tokens.create($prefix: $_, $tokens: getComponentTokens($_), $emitDefaultTokenVariables: true);

@mixin applyScaledFontSize($resolvedFontSize, $multiplierVariable, $enforceMinimum: false) {
    --#{$_}--resolved-font-size: #{$resolvedFontSize};
    --#{$_}--scaled-font-size: calc(var(--#{$_}--resolved-font-size) * var(--#{$_}--#{$multiplierVariable}, 1));

    @if $enforceMinimum {
        font-size: max(var(--font-size-base, var(--base-font-size, 1rem)), var(--#{$_}--scaled-font-size));
    }

    @else {
        font-size: var(--#{$_}--scaled-font-size);
    }
}

:root {
    // Must be global to be used in any context
    --#{$_}--font-size-caption-default: #{tokens.getDefaultRawValue($_, "font-size-90")};
    --#{$_}--font-size-meta-default: #{tokens.getDefaultRawValue($_, "font-size-90")};
    --#{$_}--font-size-subtitle-default: #{tokens.getDefaultRawValue($_, "font-size-400")};
    --#{$_}--font-size-title-default: #{tokens.getDefaultRawValue($_, "font-size-500")};
    --#{$_}--font-size-headline-default: #{tokens.getDefaultRawValue($_, "font-size-600")};
    --#{$_}--font-size-marketing-default: #{tokens.getDefaultRawValue($_, "font-size-800")};

    --#{$_}--font-size-lead-default: #{tokens.getDefaultRawValue($_, "font-size-200")};
    --#{$_}--font-size-lead-default: #{tokens.getDefaultRawValue($_, "font-size-200")};
    --#{$_}--font-weight-lead-default: #{tokens.getDefaultRawValue($_, "font-weight-medium")};

    --#{$_}--h1-font-size-default: #{tokens.getDefaultRawValue($_, "font-size-700")};
    --#{$_}--h1-font-weight: #{tokens.getDefaultRawValue($_, "font-weight-heading")};
    --#{$_}--h1-line-height: #{tokens.getDefaultRawValue($_, "line-height-heading")};
    --#{$_}--h1-font-family: #{tokens.getRawValue($_, "font-family-heading")};
    --#{$_}--h2-font-size-default: #{tokens.getDefaultRawValue($_, "font-size-600")};
    --#{$_}--h2-font-weight: #{tokens.getDefaultRawValue($_, "font-weight-heading")};
    --#{$_}--h2-line-height: #{tokens.getDefaultRawValue($_, "line-height-heading")};
    --#{$_}--h2-font-family: #{tokens.getRawValue($_, "font-family-heading")};
    --#{$_}--h3-font-size-default: #{tokens.getDefaultRawValue($_, "font-size-500")};
    --#{$_}--h3-font-weight: #{tokens.getDefaultRawValue($_, "font-weight-heading")};
    --#{$_}--h3-line-height: #{tokens.getDefaultRawValue($_, "line-height-heading")};
    --#{$_}--h3-font-family: #{tokens.getRawValue($_, "font-family-heading")};
    --#{$_}--h4-font-size-default: #{tokens.getDefaultRawValue($_, "font-size-400")};
    --#{$_}--h4-font-weight: #{tokens.getDefaultRawValue($_, "font-weight-heading")};
    --#{$_}--h4-line-height: #{tokens.getDefaultRawValue($_, "line-height-heading")};
    --#{$_}--h4-font-family: #{tokens.getRawValue($_, "font-family-heading")};
    --#{$_}--h5-font-size-default: #{tokens.getDefaultRawValue($_, "font-size-300")};
    --#{$_}--h5-font-weight: #{tokens.getDefaultRawValue($_, "font-weight-heading")};
    --#{$_}--h5-line-height: #{tokens.getDefaultRawValue($_, "line-height-heading")};
    --#{$_}--h5-font-family: #{tokens.getRawValue($_, "font-family-heading")};
    --#{$_}--h6-font-size-default: #{tokens.getDefaultRawValue($_, "font-size-200")};
    --#{$_}--h6-font-weight: #{tokens.getDefaultRawValue($_, "font-weight-heading")};
    --#{$_}--h6-line-height: #{tokens.getDefaultRawValue($_, "line-height-heading")};
    --#{$_}--h6-font-family: #{tokens.getRawValue($_, "font-family-heading")};
}

.#{$_} {
    font-family: tokens.getRawValue($_, "font-family-base");
    @include applyScaledFontSize(var(--inherit-font-size, #{tokens.getRawValue($_, "font-size-base")}), "body-font-size-multiplier");
    font-weight: tokens.getRawValue($_, "font-weight-normal");
    letter-spacing: tokens.getRawValue($prefix: $_, $token: "letter-spacing-base", $inheritVariable: "letter-spacing");
    line-height: tokens.getRawValue($_, "line-height-base");
}

h1,
.h1,
.#{$_}__variant--h1,
h2,
.h2,
.#{$_}__variant--h2,
h3,
.h3,
.#{$_}__variant--h3,
h4,
.h4,
.#{$_}__variant--h4,
h5,
.h5,
.#{$_}__variant--h5,
h6,
.h6,
.#{$_}__variant--h6 {
    max-width: 100%;
    overflow-wrap: break-word;
    margin: var(--inherit-margin-top, 1em) 0 var(--inherit-margin-bottom, 0.25em) 0;

    &+h1,
    &+.h1,
    &+.#{$_}__variant--h1,
    &+h2,
    &+.h2,
    &+.#{$_}__variant--h2,
    &+h3,
    &+.h3,
    &+.#{$_}__variant--h3,
    &+h4,
    &+.h4,
    &+.#{$_}__variant--h4,
    &+h5,
    &+.h5,
    &+.#{$_}__variant--h5,
    &+h6,
    &+.h6,
    &+.#{$_}__variant--h6,
    &+.subtitle,
    &+.#{$_}__variant--subtitle {
        margin-top: var(--inherit-margin-top, #{tokens.getCalculatedValue($_, "space")});
    }

    &:first-child {
        margin-top: 0;
    }
}

h1,
.h1,
.#{$_}__variant--h1 {
    @include applyScaledFontSize(tokens.getDerivedAliasValue($_, "h1-font-size", "font-size"), "h1-font-size-multiplier", true);
    font-weight: tokens.getRawValue($_, "font-weight-heading");
    line-height: tokens.getRawValue($_, "line-height-heading");
    font-family: tokens.getRawValue($_, "font-family-heading");
    letter-spacing: tokens.getRawValue($_, "letter-spacing-heading");
}

h2,
.h2,
.#{$_}__variant--h2 {
    @include applyScaledFontSize(tokens.getDerivedAliasValue($_, "h2-font-size", "font-size"), "h2-font-size-multiplier", true);
    font-weight: tokens.getRawValue($_, "font-weight-heading");
    line-height: tokens.getRawValue($_, "line-height-heading");
    font-family: tokens.getRawValue($_, "font-family-heading");
    letter-spacing: tokens.getRawValue($_, "letter-spacing-heading");
}

h3,
.h3,
.#{$_}__variant--h3 {
    @include applyScaledFontSize(tokens.getDerivedAliasValue($_, "h3-font-size", "font-size"), "h3-font-size-multiplier", true);
    font-weight: tokens.getRawValue($_, "font-weight-heading");
    line-height: tokens.getRawValue($_, "line-height-heading");
    font-family: tokens.getRawValue($_, "font-family-heading");
    letter-spacing: tokens.getRawValue($_, "letter-spacing-heading");
}

h4,
.h4,
.#{$_}__variant--h4 {
    @include applyScaledFontSize(tokens.getDerivedAliasValue($_, "h4-font-size", "font-size"), "h4-font-size-multiplier", true);
    font-weight: tokens.getRawValue($_, "font-weight-heading");
    line-height: tokens.getRawValue($_, "line-height-heading");
    font-family: tokens.getRawValue($_, "font-family-heading");
    letter-spacing: tokens.getRawValue($_, "letter-spacing-heading");
}

h5,
.h5,
.#{$_}__variant--h5 {
    @include applyScaledFontSize(tokens.getDerivedAliasValue($_, "h5-font-size", "font-size"), "h5-font-size-multiplier", true);
    font-weight: tokens.getRawValue($_, "font-weight-heading");
    line-height: tokens.getRawValue($_, "line-height-heading");
    font-family: tokens.getRawValue($_, "font-family-heading");
    letter-spacing: tokens.getRawValue($_, "letter-spacing-heading");
}

h6,
.h6,
.#{$_}__variant--h6 {
    @include applyScaledFontSize(tokens.getDerivedAliasValue($_, "h6-font-size", "font-size"), "h6-font-size-multiplier", true);
    font-weight: tokens.getRawValue($_, "font-weight-heading");
    line-height: tokens.getRawValue($_, "line-height-heading");
    font-family: tokens.getRawValue($_, "font-family-heading");
    letter-spacing: tokens.getRawValue($_, "letter-spacing-heading");
}

.#{$_}__variant--headline {
    @include applyScaledFontSize(tokens.getDerivedAliasValue($_, "font-size-headline", "font-size"), "headline-font-size-multiplier", true);
    font-weight: tokens.getRawValue($_, "font-weight-heading");
    line-height: tokens.getRawValue($_, "line-height-heading");
    font-family: tokens.getRawValue($_, "font-family-heading");
    letter-spacing: tokens.getRawValue($_, "letter-spacing-heading");
}

.#{$_}__variant--title {
    font-family: tokens.getRawValue($_, "font-family-heading");
    @include applyScaledFontSize(tokens.getDerivedAliasValue($_, "font-size-title", "font-size"), "title-font-size-multiplier", true);
    font-weight: tokens.getRawValue($_, "font-weight-heading");
    letter-spacing: tokens.getRawValue($_, "letter-spacing-heading");
    line-height: tokens.getRawValue($_, "line-height-heading");
}

.#{$_}__variant--subtitle {
    @include applyScaledFontSize(tokens.getDerivedAliasValue($_, "font-size-subtitle", "font-size"), "subtitle-font-size-multiplier", true);
    font-weight: tokens.getRawValue($_, "font-weight-heading");
    line-height: tokens.getRawValue($_, "line-height-heading");
    font-family: tokens.getRawValue($_, "font-family-heading");
    letter-spacing: tokens.getRawValue($_, "letter-spacing-heading");
}

.#{$_}__variant--bold {
    font-family: tokens.getDefaultRawValue($_, "font-family-base");
    @include applyScaledFontSize(tokens.getRawValue($prefix: $_, $token: "font-size-base", $inheritVariable: "font-size"), "bold-font-size-multiplier");
    font-weight: tokens.getDefaultRawValue($_, "font-weight-bold");
    letter-spacing: tokens.getRawValue($prefix: $_, $token: "letter-spacing-base", $inheritVariable: "letter-spacing");
    line-height: tokens.getDefaultRawValue($_, "line-height-base");
}

.#{$_}__variant--caption {
    @include applyScaledFontSize(tokens.getDerivedAliasValue($_, "font-size-caption", "font-size"), "caption-font-size-multiplier");
}

.#{$_}__variant--byline {
    @include applyScaledFontSize(tokens.getDerivedAliasValue($_, "font-size-caption", "font-size"), "byline-font-size-multiplier");
}

.#{$_}__variant--meta {
    @include applyScaledFontSize(tokens.getDerivedAliasValue($_, "font-size-meta", "font-size"), "meta-font-size-multiplier");
}

.lead,
.#{$_}__variant--lead {
    @include applyScaledFontSize(tokens.getDerivedAliasValue($_, "font-size-lead", "font-size"), "lead-font-size-multiplier", true);
    font-weight: tokens.getDerivedAliasValue($_, "font-weight-lead", "font-weight");
}

.#{$_}__variant--marketing {
    font-family: tokens.getRawValue($_, "font-family-heading");
    @include applyScaledFontSize(tokens.getDerivedAliasValue($_, "font-size-marketing", "font-size"), "marketing-font-size-multiplier", true);
    font-weight: tokens.getRawValue($_, "font-weight-heading");
    line-height: tokens.getRawValue($_, "line-height-heading");
    letter-spacing: tokens.getRawValue($_, "letter-spacing-heading");
}

.#{$_}__variant--email {
    @include applyScaledFontSize(tokens.getRawValue($prefix: $_, $token: "font-size-base", $inheritVariable: "font-size"), "email-font-size-multiplier");
    word-break: break-all;
    hyphens: auto;
}