@use "../../sass/mixin/tokens";

/***
* Deprecation notice
* Part of this utility is deprecated and will be removed in a future release. 
* Please do NOT use the .u-box-shadow--* classes as they will be removed. 
* Use the .u-shadow--* classes instead.
*/

$_: "u-shadow-*";

/* Design tokens */
@include tokens.create($_, ("shadow",
        "shadow-color",
        "shadow-amount",
    ));

.u-box-shadow--1,
.u-shadow--1 {
    filter: tokens.use($_, "shadow", 1);
}

.u-box-shadow--2,
.u-shadow--2 {
    filter: tokens.use($_, "shadow", 2);
}

.u-box-shadow--3,
.u-shadow--3 {
    filter: tokens.use($_, "shadow", 3);
}

.u-box-shadow--4,
.u-shadow--4 {
    filter: tokens.use($_, "shadow", 4);
}

.u-box-shadow--5,
.u-shadow--5 {
    filter: tokens.use($_, "shadow", 5);
}

.u-box-shadow--0,
.u-box-shadow--none,
.u-shadow--0,
.u-shadow--none {
    filter: tokens.use($_, "shadow", 0);
}