@use "../mixin/tokens";

$_drop: "u-drop-shadow-*";
$_detail: "u-detail-shadow-*";

/* Design tokens */
@include tokens.create($_drop, ("shadow-0",
        "shadow-1",
        "shadow-2",
        "shadow-3",
        "shadow-4",
        "shadow-5"
    ));

// NOTE: Only use u-shadow--{N}. The rest will be removed.


.u-drop-shadow-1,
.u-box-shadow--1,
.u-shadow--1 {
    filter: tokens.get($_drop, "shadow-1");
}

.u-drop-shadow-2,
.u-box-shadow--2,
.u-shadow--2 {
    filter: tokens.get($_drop, "shadow-2");
}

.u-drop-shadow-3,
.u-box-shadow--3,
.u-shadow--3 {
    filter: tokens.get($_drop, "shadow-3");
}

.u-drop-shadow-4,
.u-box-shadow--4,
.u-shadow--4 {
    filter: tokens.get($_drop, "shadow-4");
}

.u-drop-shadow-5,
.u-box-shadow--5,
.u-shadow--5 {
    filter: tokens.get($_drop, "shadow-5");
}

.u-detail-shadow-1 {
    filter: tokens.get($_detail, "shadow-detail-1");
}

.u-detail-shadow-2 {
    filter: tokens.get($_detail, "shadow-detail-2");
}

.u-detail-shadow-3 {
    filter: tokens.get($_detail, "shadow-detail-3");
}

.u-detail-shadow-4 {
    filter: tokens.get($_detail, "shadow-detail-4");
}

.u-detail-shadow-5 {
    filter: tokens.get($_detail, "shadow-detail-5");
}

.u-detail-shadow-0 {
    filter: tokens.get($_detail, "shadow-detail-0");
}

.u-drop-shadow-0,
.u-box-shadow--none,
.u-box-shadow--0,
.u-shadow--0,
.u-shadow--none {
    box-shadow: none !important;
    filter: tokens.get($_drop, "shadow-0") !important;
}