@use "../../sass/mixin/tokens";

$_: "c-chat__input";
$token: "c-chat";

.#{$_} {
    background-color: tokens.get($token, "color--surface-alt");
    display: grid;
    grid-template-columns: 1fr;
    corner-shape: tokens.get($token, "corner-shape");
    border-radius: calc(tokens.use($token, "border-radius") * var(--#{$token}--border-radius-multiplier, 2));
    border: tokens.use($token, "border-width", 1) solid tokens.get($token, "color--surface-border");

    &.is-empty {
        .#{$_}__editable::before {
            display: block;
        }
    }

    .#{$_}__editable {
        padding-block: calc(tokens.get($token, "base") * 1.5);
        padding-inline: calc(tokens.get($token, "base") * 1.5);
        grid-column: span 12;

        &::before {
            display: none;
            content: attr(data-placeholder);
            position: absolute;
            color: tokens.get($token, "color--text-placeholder");
            pointer-events: none;
            opacity: 0.5;
        }

        &:focus-visible {
            outline: unset;
        }
    }

    .#{$_}__actions {
        display: flex;
        gap: calc(tokens.get($token, "base") * 2);
        padding: calc(tokens.get($token, "base") * 1);
        justify-content: flex-end;
        cursor:text;

        button {
            border-radius: calc(tokens.use($token, "border-radius") * var(--#{$token}--border-radius-multiplier, 2));
        }
    }
}