@use "../../sass/mixin/tokens";

$_: "c-chat__input";
$token: "c-chat";

.#{$_} {
    background-color: tokens.get($token, "color--surface-alt");
    display: grid;
    grid-template-columns: 1fr;
    corner-shape: superellipse(.98);
    border-radius: calc(tokens.use($token, "border-radius") * 2.5);
    border: tokens.use($token, "border-width", 1) solid tokens.get($token, "color--surface-border");

    .#{$_}__editable {
        padding-block: calc(tokens.get($token, "base") * 1.5);
        padding-inline: calc(tokens.get($token, "base") * 1);
        grid-column: span 12;

        &:focus-visible {
            outline: unset;
        }
    }

    .#{$_}__actions {
        display: flex;
        gap: calc(tokens.get($token, "base") * 2);
        padding: calc(tokens.get($token, "base") * 1);
        justify-content: flex-end;
    }
}