@use "../../sass/mixin/tokens";
@use "./chat__message";
@use "./chat__input";

$_: "c-chat";

@include tokens.create($_, getComponentTokens($_));

.#{$_} {
    --#{$_}--inner-padding-multiplier: 0;

    overflow: auto;

    padding: calc(tokens.getRawValue($_, "base") * var(--#{$_}--inner-padding-multiplier)) 0;

    > * {
        padding: 0 calc(tokens.getRawValue($_, "base") * var(--#{$_}--inner-padding-multiplier));
    }

    .#{$_}__title-area {
        position: sticky;
        top: 0;
        display: flex;
        gap: calc(tokens.getRawValue($_, "base") * 1.5);
        z-index: 1;

        h2 {
            margin-top: 0;
            margin-bottom: 0;
        }
    }

    .#{$_}__message-area {
        overflow: auto;
        margin-bottom: calc(tokens.getRawValue($_, "base") * -4);
        padding-bottom: calc(tokens.getRawValue($_, "base") * 2.5);
        padding-top: calc(tokens.getRawValue($_, "base") * 2.5);
    }

    .#{$_}__messages {
        display: grid;
        gap: calc(tokens.getRawValue($_, "base") * 2);
        margin-bottom: calc(tokens.getRawValue($_, "base") * 4);
    }

    .#{$_}__input-area {
        position: sticky;
        bottom: 0;
    }
}