@use "../../sass/mixin/tokens";

$_: "c-drawer";

@include tokens.create($_, getComponentTokens($_));

/* Colors */

.c-drawer {
    --#{$_}--shadow: #{tokens.getCalculatedValue($_, "shadow", 5)};
    --#{$_}--drawer-transition-ms: 300ms;

    /* switch to surface color tokens for nested components */
    --c-field--background-color: var(--color--background);
    --c-field--color--surface-contrast: var(--color--background-contrast);

    &,
    .site-nav-mobile__primary>.c-nav__item,
    .c-drawer__header {
        --drawer-background: #{tokens.getRawValue($_, "color--surface")};
    }

    .c-nav {
        --inherit-color: var(--color--surface-contrast);
    }
}

.c-drawer.c-drawer--primary,
.c-drawer.c-drawer--primary .site-nav-mobile__primary>.c-nav__item,
.c-drawer.c-drawer--primary .c-drawer__header {
    --drawer-background: #{tokens.getRawValue($_, "color--primary")};
}

.c-drawer.c-drawer--secondary,
.c-drawer.c-drawer--secondary .site-nav-mobile__primary>.c-nav__item,
.c-drawer.c-drawer--secondary .c-drawer__header {
    --drawer-background: #{tokens.getRawValue($_, "color--secondary")};
}

// Duotone drawer colors needing to target the main list items for better flexibility

.c-drawer.c-drawer--duotone {

    &,
    .site-nav-mobile__primary>.c-nav__item,
    .c-drawer__header {
        --drawer-background: #{tokens.getRawValue($_, "color--surface")};
        --drawer-duotone-background: #{tokens.getRawValue($_, "color--surface")};
    }
}

.c-drawer.c-drawer--duotone.c-drawer--primary,
.c-drawer.c-drawer--duotone.c-drawer--primary .site-nav-mobile__primary>.c-nav__item,
.c-drawer.c-drawer--duotone.c-drawer--primary .c-drawer__header {
    --drawer-background: #{tokens.getRawValue($_, "color--primary")};
}

.c-drawer.c-drawer--duotone.c-drawer--secondary,
.c-drawer.c-drawer--duotone.c-drawer--secondary .site-nav-mobile__primary>.c-nav__item,
.c-drawer.c-drawer--duotone.c-drawer--secondary .c-drawer__header {
    --drawer-background: #{tokens.getRawValue($_, "color--secondary")};
}

.c-drawer.c-drawer--duotone.c-drawer--duotone-primary,
.c-drawer.c-drawer--duotone.c-drawer--duotone-primary .site-nav-mobile__secondary>.c-nav__item {
    --drawer-duotone-background: #{tokens.getRawValue($_, "color--primary")};
    --drawer-duotone-color: #{tokens.getRawValue($_, "color--primary-contrast")};
}

.c-drawer.c-drawer--duotone.c-drawer--duotone-secondary,
.c-drawer.c-drawer--duotone.c-drawer--duotone-secondary .site-nav-mobile__secondary>.c-nav__item {
    --drawer-duotone-background: #{tokens.getRawValue($_, "color--secondary")};
    --drawer-duotone-color: #{tokens.getRawValue($_, "color--secondary-contrast")};
}

// Actual css

.c-drawer {
    background-color: var(--drawer-background);

    .c-drawer__header,
    .site-nav-mobile__primary>.c-nav__item {
        background-color: var(--drawer-background);
    }

    .c-field {
        --c-field--color--surface: var(--drawer-background);
        --c-field--background-color: var(--drawer-background);
        --c-field--color--surface-contrast: #{tokens.getRawValue($_, "color--surface-contrast")};
        --c-field--color--primary: #{tokens.getRawValue($_, "color--surface-contrast")};
        --c-field--color--surface-border: #{tokens.getRawValue($_, "color--surface-border")};

        input::placeholder,
        textarea::placeholder {
            color: color-mix(in srgb, #{tokens.getRawValue($_, "color--surface-contrast")} 70%, transparent);
            opacity: 1;
        }
    }
}

.c-drawer.c-drawer--duotone {
    background-color: var(--drawer-duotone-background);

    .c-nav.site-nav-mobile__secondary {
        --c-nav--item-background-color: var(--drawer-duotone-background);
        --c-nav--item-background-color-hover: var(--drawer-duotone-color);
        --c-nav--item-color: var(--drawer-duotone-color);
        --c-nav--item-color-hover: var(--drawer-duotone-background);

        .c-link {
            --c-link--color--background-contrast: var(--drawer-duotone-color);
        }
    }

    .c-drawer__header {
        background-color: var(--drawer-background);
    }
}

/* Colors END */

// Drawer

.c-drawer {
    --#{$_}--width-multiplier: 1;
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    max-width: calc(var(--#{$_}--width-multiplier, 1) * #{tokens.getCalculatedValue($_, "base", 64)});
    width: 90%;
    z-index: 10;
    transform: translate(-100%);
    transition: visibility 0s linear var(--#{$_}--drawer-transition-ms),
    var(--#{$_}--drawer-transition-ms) ease-in transform,
    var(--#{$_}--drawer-transition-ms) ease-in opacity;
    visibility: hidden;
    opacity: 0;
    display: flex;
    flex-direction: column;

    // Hide scrollbar
    overflow-y: auto;
    scrollbar-width: none;
    overscroll-behavior: none;

    &::-webkit-scrollbar {
        display: none;
    }
}

.c-drawer__header {
    padding: tokens.getCalculatedValue($_, "space", 1) tokens.getCalculatedValue($_, "space", 2);
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.c-drawer__footer {
    border-top: 1px solid rgba(255, 255, 255, .3);
    align-self: flex-end;
    padding: tokens.getCalculatedValue($_, "space", 4) tokens.getCalculatedValue($_, "space", 4) tokens.getCalculatedValue($_, "space", 12) tokens.getCalculatedValue($_, "space", 4);
}

.c-drawer {

    .c-nav.c-nav--drawer.c-nav--vertical {
        --inherit-padding: #{tokens.getCalculatedValue($_, "space", 1)} #{tokens.getCalculatedValue($_, "space", 2)};
        --inherit-button-padding: #{tokens.getCalculatedValue($_, "space", 1.5)} #{tokens.getCalculatedValue($_, "space", 2)};
        --inherit-padding-compressed: #{tokens.getCalculatedValue($_, "space", 0.75)} #{tokens.getCalculatedValue($_, "space", 1.5)};
        --inherit-button-padding-compressed: #{tokens.getCalculatedValue($_, "space", 1.25)} #{tokens.getCalculatedValue($_, "space", 1.5)};
    }
}

// Drawer Modifiers

.c-drawer.c-drawer--right {
    transform: translate(100%);
    right: 0;
    left: initial;
}

.c-drawer.c-drawer--duotone {

    .c-drawer__header,
    .site-nav-mobile__primary {

        * {
            color: tokens.getRawValue($_, "color--surface-contrast");
        }

        .hamburger.hamburger--drawer.is-active .hamburger-inner,
        .hamburger.hamburger--drawer.is-active .hamburger-inner:before,
        .hamburger.hamburger--drawer.is-active .hamburger-inner:after {
            background-color: tokens.getRawValue($_, "color--surface-contrast");
        }
    }
}

// Drawer States

.c-drawer.is-open {
    transition: visibility 0s linear 0s,
    var(--#{$_}--drawer-transition-ms) ease-out transform,
    var(--#{$_}--drawer-transition-ms) ease-out opacity;
    visibility: visible;
    transform: translate(0%);
    opacity: 1;
    filter: var(--#{$_}--shadow);
}

$_overlay: "drawer-overlay";

// Overlay
.#{$_overlay} {
    --#{$_overlay}--drawer-transition-ms: 300ms;
    background-color: tokens.getRawValue($_, "color--alpha");
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9;
    transition: visibility 0s linear var(--#{$_overlay}--drawer-transition-ms),
    var(--#{$_overlay}--drawer-transition-ms) ease-in opacity;
    visibility: hidden;
    opacity: 0;
    backdrop-filter: blur(1px);
}

// Overlay states

.c-drawer.is-open+.drawer-overlay {
    opacity: 1;
    transition: visibility 0s linear 0s,
    var(--#{$_}--drawer-transition-ms) ease-out opacity;
    visibility: visible;
}