@use "../../sass/mixin/tokens";

$_: "c-drawer";

@include tokens.create($_, getComponentTokens($_),
    ("shadow": tokens.use($_, "shadow", 5),
        "drawer-transition-ms": 300ms,
    ));

/* Colors */
.c-drawer {

    &,
    .site-nav-mobile__primary>.c-nav__item,
    .c-drawer__header {
        --drawer-background: #{tokens.get($_, "color--surface")};
    }
}

.c-drawer.c-drawer--primary,
.c-drawer.c-drawer--primary .site-nav-mobile__primary>.c-nav__item,
.c-drawer.c-drawer--primary .c-drawer__header {
    --drawer-background: #{tokens.get($_, "color--primary")};
}

.c-drawer.c-drawer--secondary,
.c-drawer.c-drawer--secondary .site-nav-mobile__primary>.c-nav__item,
.c-drawer.c-drawer--secondary .c-drawer__header {
    --drawer-background: #{tokens.get($_, "color--secondary")};
}

// Duotone drawer colors needing to target the main list items for better flexibility
.c-drawer.c-drawer--duotone {

    &,
    .site-nav-mobile__primary>.c-nav__item,
    .c-drawer__header {
        --drawer-background: #{tokens.get($_, "color--surface")};
        --drawer-duotone-background: #{tokens.get($_, "color--surface")};
    }
}

.c-drawer.c-drawer--duotone.c-drawer--primary,
.c-drawer.c-drawer--duotone.c-drawer--primary .site-nav-mobile__primary>.c-nav__item,
.c-drawer.c-drawer--duotone.c-drawer--primary .c-drawer__header {
    --drawer-background: #{tokens.get($_, "color--primary")};
}

.c-drawer.c-drawer--duotone.c-drawer--secondary,
.c-drawer.c-drawer--duotone.c-drawer--secondary .site-nav-mobile__primary>.c-nav__item,
.c-drawer.c-drawer--duotone.c-drawer--secondary .c-drawer__header {
    --drawer-background: #{tokens.get($_, "color--secondary")};
}

.c-drawer.c-drawer--duotone.c-drawer--duotone-primary,
.c-drawer.c-drawer--duotone.c-drawer--duotone-primary .site-nav-mobile__secondary>.c-nav__item {
    --drawer-duotone-background: #{tokens.get($_, "color--primary")};
    --drawer-duotone-color: #{tokens.get($_, "color--primary-contrast")};
}

.c-drawer.c-drawer--duotone.c-drawer--duotone-secondary,
.c-drawer.c-drawer--duotone.c-drawer--duotone-secondary .site-nav-mobile__secondary>.c-nav__item {
    --drawer-duotone-background: #{tokens.get($_, "color--secondary")};
}

// Actual css
.c-drawer {
    background-color: var(--drawer-background);

    .c-drawer__header,
    .site-nav-mobile__primary>.c-nav__item {
        background-color: var(--drawer-background);
    }

    .c-field {
        --c-field--color--surface: var(--drawer-background);
        --c-field--background-color: var(--drawer-background);
        --c-field--color--surface-contrast: var(--c-drawer--color--surface-contrast);
        --c-field--color--primary: var(--c-drawer--color--surface-contrast);
        --c-field--color--surface-border: var(--c-drawer--color--surface-contrast);

        input::placeholder,
        textarea::placeholder {
            color: color-mix(in srgb, var(--c-drawer--color--surface-contrast) 70%, transparent);
            opacity: 1;
        }
    }
}

.c-drawer.c-drawer--duotone {
    background-color: var(--drawer-duotone-background);

    .c-nav.site-nav-mobile__secondary {
        --c-nav--item-background-color: var(--drawer-duotone-background);
        --c-nav--item-background-color-hover: var(--drawer-duotone-color);
        --c-nav--item-color: var(--drawer-duotone-color);
        --c-nav--item-color-hover: var(--drawer-duotone-background);
    }

    .c-drawer__header {
        background-color: var(--drawer-background);
    }
}

/* Colors END */

// Drawer
.c-drawer {
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    max-width: tokens.use($_, "base", 40);
    width: 90%;
    z-index: 9000;
    transform: translate(-100%);
    transition: visibility 0s linear #{tokens.get($_, "drawer-transition-ms")},
    #{tokens.get($_, "drawer-transition-ms")} ease-in transform,
    #{tokens.get($_, "drawer-transition-ms")} ease-in opacity;
    visibility: hidden;
    opacity: 0;
    display: flex;
    flex-direction: column;

    // Hide scrollbar
    overflow-y: auto;
    scrollbar-width: none;

    &::-webkit-scrollbar {
        display: none;
    }
}

.c-drawer__header {
    padding: tokens.use($_, "base", 1) tokens.use($_, "base", 2);
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.c-drawer__footer {
    border-top: 1px solid rgba(255, 255, 255, .3);
    align-self: flex-end;
    padding: tokens.use($_, "base", 4) tokens.use($_, "base", 4) tokens.use($_, "base", 12) tokens.use($_, "base", 4);
}

// Drawer Modifiers
.c-drawer.c-drawer--right {
    transform: translate(100%);
    right: 0;
    left: initial;
}

.c-drawer.c-drawer--duotone {

    .c-drawer__header,
    .site-nav-mobile__primary {
        * {
            color: tokens.get($_, "color--surface-contrast");
        }

        .hamburger.hamburger--drawer.is-active .hamburger-inner,
        .hamburger.hamburger--drawer.is-active .hamburger-inner::before,
        .hamburger.hamburger--drawer.is-active .hamburger-inner::after {
            background-color: tokens.get($_, "color--surface-contrast");
        }
    }
}

// Drawer States
.c-drawer.is-open {
    transition: visibility 0s linear 0s,
    #{tokens.get($_, "drawer-transition-ms")} ease-out transform,
    #{tokens.get($_, "drawer-transition-ms")} ease-out opacity;
    visibility: visible;
    transform: translate(0%);
    opacity: 1;
    filter: tokens.get($_, "shadow");
}

$_overlay: "drawer-overlay";
@include tokens.create($_overlay, ("color--alpha"
    ), ("drawer-transition-ms": 300ms,
    ));

// Overlay
.#{$_overlay} {
    background-color: tokens.get($_overlay, "color--alpha");
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 8999;
    transition: visibility 0s linear tokens.get($_overlay, "drawer-transition-ms"), tokens.get($_overlay, "drawer-transition-ms") ease-in opacity;
    visibility: hidden;
    opacity: 0;
    backdrop-filter: blur(1px);
}

// Overlay states
.c-drawer.is-open+.drawer-overlay {
    opacity: 1;
    transition: visibility 0s linear 0s,
    #{tokens.get($_, "drawer-transition-ms")} ease-out opacity;
    visibility: visible;
}