@use "../../sass/mixin/tokens";

$_: "c-drawer";

@include tokens.create($_, getComponentTokens($_));

/* Colors */

.c-drawer {
    --#{$_}--shadow: #{tokens.getCalculatedValue($_, "shadow", 5)};
    --#{$_}--drawer-transition-ms: 300ms;
    --#{$_}--padding-multiplier: 2;
    --#{$_}--padding-x: calc(#{tokens.getCalculatedValue($_, "space", 2)} * var(--#{$_}--padding-multiplier));
    --#{$_}--padding-y: calc(#{tokens.getCalculatedValue($_, "space", 1)} + calc(var(--#{$_}--padding-multiplier) * #{tokens.getCalculatedValue($_, "space", 0.5)}));
    --#{$_}--button-padding-y: calc(#{tokens.getCalculatedValue($_, "space", 2)} + calc(var(--#{$_}--padding-multiplier) * #{tokens.getCalculatedValue($_, "space", 0.5)}));
    --drawer-background: #{tokens.getRawValue($_, "color--surface")};
    --drawer-color: #{tokens.getRawValue($_, "color--surface-contrast")};
    --drawer-border-color: #{tokens.getRawValue($_, "color--surface-border")};
    --drawer-button-hover: color-mix(in srgb, var(--drawer-color) 18%, transparent);
    --drawer-button-active: color-mix(in srgb, var(--drawer-color) 24%, transparent);

    /* switch to surface color tokens for nested components */
    --c-field--background-color: var(--color--background);
    --c-field--color--surface-contrast: var(--color--background-contrast);

    [data-component="nav"],
    [data-component="field"],
    [data-component="button"] {
        --inherit-color-background: var(--drawer-background);
        --inherit-color-contrast: var(--drawer-color);
        --inherit-color-background-hover: var(--drawer-button-hover);
        --inherit-color-background-active: color-mix(in srgb, var(--drawer-color) 8%, var(--drawer-background));
        --inherit-color-border: var(--drawer-border-color);
        --inherit-filter: none;
    }

    .c-drawer__header {
        gap: calc(#{tokens.getCalculatedValue($_, "space", 1)} * var(--#{$_}--padding-multiplier));
    }
}

.c-drawer.c-drawer--primary {
    --drawer-background: #{tokens.getRawValue($_, "color--primary")};
    --drawer-color: #{tokens.getRawValue($_, "color--primary-contrast")};
    --drawer-border-color: color-mix(in srgb, var(--drawer-color) 20%, transparent);
}

.c-drawer.c-drawer--secondary {
    --drawer-background: #{tokens.getRawValue($_, "color--secondary")};
    --drawer-color: #{tokens.getRawValue($_, "color--secondary-contrast")};
    --drawer-border-color: color-mix(in srgb, var(--drawer-color) 20%, transparent);
}

// Duotone drawer colors needing to target the main list items for better flexibility

.c-drawer.c-drawer--duotone {
    --drawer-background: #{tokens.getRawValue($_, "color--surface")};
    --drawer-color: #{tokens.getRawValue($_, "color--surface-contrast")};
    --drawer-border-color: #{tokens.getRawValue($_, "color--surface-border")};
    --drawer-duotone-background: #{tokens.getRawValue($_, "color--surface")};
}

.c-drawer.c-drawer--duotone.c-drawer--primary {
    --drawer-background: #{tokens.getRawValue($_, "color--primary")};
    --drawer-color: #{tokens.getRawValue($_, "color--primary-contrast")};
    --drawer-border-color: color-mix(in srgb, var(--drawer-color) 20%, transparent);
}

.c-drawer.c-drawer--duotone.c-drawer--secondary {
    --drawer-background: #{tokens.getRawValue($_, "color--secondary")};
    --drawer-color: #{tokens.getRawValue($_, "color--secondary-contrast")};
    --drawer-border-color: color-mix(in srgb, var(--drawer-color) 20%, transparent);
}

.c-drawer.c-drawer--duotone.c-drawer--duotone-primary,
.c-drawer.c-drawer--duotone.c-drawer--duotone-primary .site-nav-mobile__secondary>.c-nav__item {
    --drawer-duotone-background: #{tokens.getRawValue($_, "color--primary")};
    --drawer-duotone-color: #{tokens.getRawValue($_, "color--primary-contrast")};
}

.c-drawer.c-drawer--duotone.c-drawer--duotone-secondary,
.c-drawer.c-drawer--duotone.c-drawer--duotone-secondary .site-nav-mobile__secondary>.c-nav__item {
    --drawer-duotone-background: #{tokens.getRawValue($_, "color--secondary")};
    --drawer-duotone-color: #{tokens.getRawValue($_, "color--secondary-contrast")};
}

// Actual css

.c-drawer {
    background-color: var(--drawer-background);

    .c-drawer__header,
    .site-nav-mobile__primary>.c-nav__item {
        background-color: var(--drawer-background);
    }
}

.c-drawer.c-drawer--duotone {
    background-color: var(--drawer-duotone-background);

    [data-component="nav"].site-nav-mobile__secondary {
        --inherit-color-background: var(--drawer-duotone-background);
        --inherit-color-contrast: var(--drawer-duotone-color);
        --inherit-color-background-hover: color-mix(in srgb, var(--drawer-duotone-color) 18%, transparent);
        --inherit-color-background-active: color-mix(in srgb, var(--drawer-duotone-color) 24%, transparent);
        --inherit-color-border: color-mix(in srgb, var(--drawer-duotone-color) 20%, transparent);
        --inherit-hover: color-mix(in srgb, var(--drawer-duotone-color) 18%, transparent);
        --inherit-active: color-mix(in srgb, var(--drawer-duotone-color) 24%, transparent);
    }

    .c-drawer__header {
        background-color: var(--drawer-background);
    }
}

/* Colors END */

// Drawer

.c-drawer {
    --#{$_}--width-multiplier: 1;
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    max-width: calc(var(--#{$_}--width-multiplier, 1) * #{tokens.getCalculatedValue($_, "base", 64)});
    width: 90%;
    z-index: 10;
    transform: translate(-100%);
    transition: visibility 0s linear var(--#{$_}--drawer-transition-ms),
        var(--#{$_}--drawer-transition-ms) ease-in transform,
        var(--#{$_}--drawer-transition-ms) ease-in opacity;
    visibility: hidden;
    opacity: 0;
    display: flex;
    flex-direction: column;

    // Hide scrollbar
    overflow-y: auto;
    scrollbar-width: none;
    overscroll-behavior: none;

    &::-webkit-scrollbar {
        display: none;
    }
}

.c-drawer__header {
    padding: var(--#{$_}--padding-y) var(--#{$_}--padding-x);
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.c-drawer__footer {
    border-top: 1px solid rgba(255, 255, 255, .3);
    align-self: flex-end;
    padding: calc(#{tokens.getCalculatedValue($_, "space", 4)} * var(--#{$_}--padding-multiplier)) calc(#{tokens.getCalculatedValue($_, "space", 4)} * var(--#{$_}--padding-multiplier)) calc(#{tokens.getCalculatedValue($_, "space", 12)} * var(--#{$_}--padding-multiplier)) calc(#{tokens.getCalculatedValue($_, "space", 4)} * var(--#{$_}--padding-multiplier));
}

.c-drawer {

    [data-component="nav"].c-nav--vertical {
        --inherit-padding: var(--#{$_}--padding-y) var(--#{$_}--padding-x);
        --inherit-button-padding: var(--#{$_}--button-padding-y) var(--#{$_}--padding-x);

        .c-nav__item.has-toggle>.c-nav__item-wrapper>.c-nav__toggle {
            margin-right: var(--#{$_}--padding-x);
        }
    }
}

// Drawer Modifiers

.c-drawer.c-drawer--right {
    transform: translate(100%);
    right: 0;
    left: initial;
}

.c-drawer.c-drawer--duotone {

    .c-drawer__header,
    .site-nav-mobile__primary {
        color: var(--drawer-color);

        .c-nav__link,
        .c-nav__text,
        .c-nav__icon,
        .c-nav__toggle,
        .c-nav__toggle *,
        .c-nav__button.c-button__basic .c-button__label,
        .c-nav__button.c-button__basic .c-button__label *,
        .c-nav__button.c-button__outlined .c-button__label,
        .c-nav__button.c-button__outlined .c-button__label * {
            color: var(--drawer-color);
        }

        .c-nav__button.c-button__filled,
        .c-nav__button.c-button__filled .c-button__label,
        .c-nav__button.c-button__filled .c-button__label * {
            color: var(--c-button-contrast);
        }

        .hamburger.hamburger--drawer.is-active .hamburger-inner,
        .hamburger.hamburger--drawer.is-active .hamburger-inner:before,
        .hamburger.hamburger--drawer.is-active .hamburger-inner:after {
            background-color: var(--drawer-color);
        }
    }
}

// Drawer States

.c-drawer.is-open {
    transition: visibility 0s linear 0s,
        var(--#{$_}--drawer-transition-ms) ease-out transform,
        var(--#{$_}--drawer-transition-ms) ease-out opacity;
    visibility: visible;
    transform: translate(0%);
    opacity: 1;
    filter: var(--#{$_}--shadow);
}

$_overlay: "drawer-overlay";

// Overlay
.#{$_overlay} {
    --#{$_overlay}--drawer-transition-ms: 300ms;
    background-color: tokens.getRawValue($_, "color--alpha");
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9;
    transition: visibility 0s linear var(--#{$_overlay}--drawer-transition-ms),
        var(--#{$_overlay}--drawer-transition-ms) ease-in opacity;
    visibility: hidden;
    opacity: 0;
    backdrop-filter: blur(1px);
}

// Overlay states

.c-drawer.is-open+.drawer-overlay {
    opacity: 1;
    transition: visibility 0s linear 0s,
        var(--#{$_}--drawer-transition-ms) ease-out opacity;
    visibility: visible;
}