$body-font-size: $font-size-base;
$body-font-weight: $font-weight-base;
$body-font-family: $font-family-base;
$body-line-height: $line-height-base;

body {
    background-color: $color-body-background;
    font-size: $body-font-size;
    font-family: $body-font-family;
    line-height: $body-line-height;
    font-weight: $body-font-weight;
}
