@use "../setting/var_colors";
@use "../setting/var_fonts";

body {
    background-color: var_colors.$color-background;
    font-size: var_fonts.$font-size-base;
    font-family: var_fonts.$font-family-base;
    line-height: var_fonts.$line-height-base;
    font-weight: var_fonts.$font-weight-base;
}
