$body-font-size: $font-size-body;
$body-font-weight: $font-weight-normal;
$body-font-family: $font-family-roboto;
$body-line-height: 1.625;

body {
    background-color: $color-body-background; 
    font-size: $body-font-size;
    font-family: $body-font-family;
    line-height: $body-line-height;
    font-weight: $body-font-weight;
}
