@use "../component/field";
@use "../setting/var_default";

$legend-color: field.$c-field-label-color !default;
$legend-font-size: field.$c-field-label-font-size !default;
$legend-font-weight: field.$c-field-label-font-weight !default;
$legend-text-transform: field.$c-field-label-text-transform !default;

fieldset {
    margin-inline: unset;
    min-inline-size: unset;
    border: unset;
    padding-block: unset;
    padding-inline: unset;

    legend {
        color: $legend-color;
        font-size: $legend-font-size;
        font-weight: $legend-font-weight;
        text-transform: $legend-text-transform;
        margin-bottom: calc(#{var_default.$base} / 2);
        letter-spacing: 0.05rem;
    }
}