@use "../mixin/tokens";

fieldset {
    margin-inline: unset;
    min-inline-size: unset;
    border: unset;
    padding-block: unset;
    padding-inline: unset;

    legend {
        color: tokens.getRawValue("", "color--surface-contrast");
        font-size: tokens.getRawValue("", "font-size-90");
        font-weight: tokens.getRawValue("", "font-weight-bold");
        text-transform: uppercase;
        margin-bottom: tokens.getCalculatedValue("", "base", 0.5);
        letter-spacing: 0.05rem;
    }
}