@use "../setting/var_default";
@use "../setting/var_fonts";

$h1-font-size:      clamp(calc(var(--font-size-base, 1rem) + 0.5rem), 3vw, var(--h1-font-size, var_fonts.$font-size-headline));
$h1-line-height:    var(--h1-line-height,   var_fonts.$line-height-headline);
$h1-font-weight:    var(--h1-font-weight,   var_fonts.$font-weight-bold);
$h1-font-family:    var(--h1-font-family,   var_fonts.$font-family-heading);

$h2-font-size:      clamp(calc(var(--font-size-base, 1rem) + 0.25rem), 3vw, var(--h2-font-size, var_fonts.$font-size-title));
$h2-line-height:    var(--h2-line-height,   var_fonts.$line-height-heading);
$h2-font-weight:    var(--h2-font-weight,   var_fonts.$font-weight-heading);
$h2-font-family:    var(--h2-font-family,   var_fonts.$font-family-heading);

$h3-font-size:      clamp(calc(var(--font-size-base, 1rem) + 0.125rem), 3vw, var(--h3-font-size, var_fonts.$font-size-subtitle));
$h3-line-height:    var(--h3-line-height,   var_fonts.$line-height-heading);
$h3-font-weight:    var(--h3-font-weight,   var_fonts.$font-weight-heading);
$h3-font-family:    var(--h3-font-family,   var_fonts.$font-family-heading);
 
$h4-font-size:      clamp(var(--font-size-base, 1rem), 3vw, var(--h4-font-size, var_fonts.$font-size-body));
$h4-line-height:    var(--h4-line-height,   var_fonts.$line-height-heading);
$h4-font-weight:    var(--h4-font-weight,   var_fonts.$font-weight-heading);
$h4-font-family:    var(--h4-font-family,   var_fonts.$font-family-heading);
 
$h5-font-size:      clamp(var(--font-size-base, 1rem), 3vw, var(--h5-font-size, var_fonts.$font-size-body));
$h5-line-height:    var(--h5-line-height,   var_fonts.$line-height-heading);
$h5-font-weight:    var(--h5-font-weight,   var_fonts.$font-weight-heading);
$h5-font-family:    var(--h5-font-family,   var_fonts.$font-family-heading);
 
$h6-font-size:      clamp(var(--font-size-base, 1rem), 3vw, var(--h6-font-size, var_fonts.$font-size-body));
$h6-line-height:    var(--h6-line-height,   var_fonts.$line-height-heading);
$h6-font-weight:    var(--h6-font-weight,   var_fonts.$font-weight-heading);
$h6-font-family:    var(--h6-font-family,   var_fonts.$font-family-heading);

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
    margin: 0;
    margin-top: calc(#{var_default.$base} * 6);
    font-family: var_fonts.$font-family-heading;
    letter-spacing: var_fonts.$letter-spacing-heading;
    text-transform: var_fonts.$text-transform-heading;

    &:first-child {
        margin-top: 0;
    }
}

h1, .h1 {
    font-size: $h1-font-size;
    font-weight: $h1-font-weight;
    line-height: $h1-line-height;
    font-family: $h1-font-family;
}

h2, .h2 {
    font-size: $h2-font-size;
    font-weight: $h2-font-weight;
    line-height: $h2-line-height;
    font-family: $h2-font-family;
}

h3, .h3 {
    font-size: $h3-font-size;
    font-weight: $h3-font-weight;
    line-height: $h3-line-height;
    font-family: $h3-font-family;
}

h4, .h4 {
    font-size: $h4-font-size;
    font-weight: $h4-font-weight;
    line-height: $h4-line-height;
    font-family: $h4-font-family;
}

h5, .h5 {
    font-size: $h5-font-size;
    font-weight: $h5-font-weight;
    line-height: $h5-line-height;
    font-family: $h5-font-family;
}

h6, .h6 {
    font-size: $h6-font-size;
    font-weight: $h6-font-weight;
    line-height: $h6-line-height;
    font-family: $h6-font-family;
}


// Subtitle spacing (heading + heading)
h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5 {

    & + h1, & + .h1,
    & + h2, & + .h2,
    & + h3, & + .h3,
    & + h4, & + .h4,
    & + h5, & + .h5,
    & + h6, & + .h6,
    & .subtitle {
        margin-top: var_default.$base;
    }
}