@use "../mixin/tokens";

/* Component name */
$_: "c-link";

@include tokens.create($_,
    (
        "color--background",
        "color--background--contrast-muted"
    )
);

a, .#{$_} {
    color: tokens.get($_, "color--background-contrast");
    text-decoration-style: solid;
    transition: 100ms color; 

    i {
        text-decoration: none;
    }

    &:hover {
        text-decoration-style: solid;
    }

    &:active, &:focus {
        text-decoration: underline;
        text-decoration-style: dotted;
    }

    &:active,
    &:hover {
        color: tokens.get($_, "color--background-contrast");
    }

    &:visited,
    &:visited:hover,
    &:visited:active {
        color: tokens.get($_, "color--background--contrast-muted");

    }
}
