@use "../setting/var_border-radius";
@use "../setting/var_colors";
@use "../setting/var_default";
@use "../setting/var_fonts";

a, .link {
    color: var_colors.$color-link;
    text-decoration-style: solid;
    transition: 100ms color; 

    i {
        text-decoration: none;
    }

    &:hover {
        color: var_colors.$color-link-hover;
        text-decoration-style: solid;
    }

    &:active, &:focus {
        text-decoration: underline;
        text-decoration-style: dotted;
    }

    &:active {
        color: var_colors.$color-link-active;
    }

    &:visited {
        color: var_colors.$color-link-visited;

        &:hover {
            color: var_colors.$color-link-visited-hover;
        }

        &:active {
            color: var_colors.$color-link-active;
        }
    }

    &.c-link--tag {
        background-color: var_colors.$color-gray-light;
        padding: calc(#{var_default.$base}/2);
        margin-right: calc(#{var_default.$base}/2);
        border-radius: var(--radius-sm);
        text-decoration: none;
        color: var_colors.$color-base;
        font-size: var_fonts.$font-size-meta;

        &:hover {
            color: var_colors.$color-white;
            background-color: var_colors.$color-gray;
        }
    }

    &.c-link--unstyled {
        color: inherit;
        text-decoration: inherit;

        &:hover,
        &:active,
        &:visited {
            color: inherit;
            text-decoration: inherit;
        }
    }
}
