ul, ol {
    margin: 0;
    padding-left: $base * 3.5;

    li {
        position: relative;
    }

    li {
        padding-left: $base/2;
    }

    li + li {
        margin-top: $base * 2;
    }
}

ul {
    li::marker {
        color: $color-primary;
    }
}

ul.unlist,
ol.unlist {
    list-style: none;
    padding-left: 0;

    li {
        padding-left: 0;
    }

    li + li {
        margin: 0;
    }
}

ul.unlist li::marker {
    content: none;
}

pre li::marker {
    background: transparent;
}


