table {
    border-spacing: 0px;
}

table td,
table th {
    padding: calc(#{$base} * 1.5) calc(#{$base} * 2);
    font-size: $font-size-caption;
    text-align: left;
    line-height: 24px;
}

table th {
    font-weight: $font-weight-bold;
    font-family: $font-family-bold;
}

table thead th {
    color: $color-white;
    background-color: $color-primary;
}