@use "../setting/var_colors";
@use "../setting/var_default";
@use "../setting/var_fonts";

table {
    border-spacing: 0px;
}

table td,
table th {
    padding: calc(var(--base) * 1.5) calc(var(--base) * 2);
    font-size: var_fonts.$font-size-caption;
    text-align: left;
    line-height: 24px;
}

table th {
    font-weight: var_fonts.$font-weight-bold;
    font-family: var_fonts.$font-family-bold;
}

table thead th {
    color: var_colors.$color-primary-contrasting;
    background-color: var_colors.$color-primary;
}