@use "../mixin/tokens";

/* Namespace */
$_: "e-table";

/* Design tokens */
@include tokens.create($_, (
    "space",
    "border-width",
    "color--primary",
),
(
    "border": tokens.use($_, "border-width", 1) solid tokens.get($_, "color--surface-border"),
));

table {
    border-spacing: 0px;
}

table td,
table th {
    padding: calc(tokens.use($_, "space", 1.5)) calc(tokens.use($_, "space", 2));
    font-size: tokens.use($_, "space", 2);
    text-align: left;
    line-height: tokens.use($_, "space", 3);
}

table th {
    font-weight: tokens.get($_, "font-weight-bold");
    font-family: tokens.get($_, "font-family-bold");
}

table thead th {
    color: tokens.get($_, "color--primary-contrast");
    background-color: tokens.get($_, "color--primary-alt");
}
