//
// @name Full width section
// @description Full width section with text. Can be devided in 1 - 3 columns. All "boxes" is compatible to embed inside .grid class.
//
// @page Section/Full
//
// @state .section-sm/md/lg - Sets a minimum height on the section. Aproxmently 60px, 40% 100%.
// @state .padding-sm/md/lg - Sets a padding on the area.
// @state .image-focus-right-top - Sets focal point of the image. Supports standard placement. Refer to the css documentation.
// @state .background-color-1 - A background color for the text.
// @state .columnize-2/3 - Makes columns from text.
// @state .effect-multiply - Make color shite trough image
// @state .effect-parallax - Make background image stay put, creates an efficient parallax illusion. This function should not be used with images of illustrative importantness, as they can be cropped weird. Cannot be combined with image focusing.
//
// @markup
// <section class="section section-full image-focus-right-top background-2 section-md padding-lg columnize-2 text-lg effect-multiply" style="background-image: url(https:\/\/unsplash.it/1250/800?image=1001);">
//     <div class="container">
//         <div class="grid">
//             <div class="grid-xs-12">
//                 <article class="section-article">
//                      <h2 class="section-title">Cheesecake chocolate cake</h2>
//                      <div class="section-text">
//                          <p>Nullam id dolor id nibh ultricies vehicula ut id elit. Aenean eu leo quam.</p>
//                          <p>Croissant dragée powder tootsie roll cupcake macaroon icing gummi bears tiramisu. Topping donut sweet chupa chups lemon drops halvah biscuit macaroon apple pie. Tootsie roll bonbon cheesecake dragée candy jelly beans croissant. Brownie halvah icing. Wafer chupa chups sweet marzipan croissant icing. Sugar plum chocolate cake jelly gingerbread sugar plum bear claw chocolate bar biscuit croissant. Macaroon muffin gummi bears topping chupa chups oat cake.</p>
//                      </div>
//                 </article>
//             </div>
//         </div>
//     </div>
// </section>

.section-full {

    background-size: cover;

    .section-article {
        @media screen and #{$screen-md-up} {

            margin: 0 auto;
        }
        text-align: center;
        max-width: 800px;
    }

    .grid.content-grid {
        flex: 1;
    }

    .container {
        width: 100%;
    }

    .section-title {
        @media screen and #{$screen-md-up} {
            margin-left: auto;
            margin-right: auto;
        }
    }

    @media screen and #{$screen-md-up} {

        &.columnize-2 .section-text {
            column-count: 2;
            column-gap: $grid-gutter-lg*2;
            text-align: left;
            max-width: 800px;
            margin-left: auto;
            margin-right: auto;
        }

        &.columnize-3 .section-text {
            column-count: 3;
            column-gap: $grid-gutter-md;
            text-align: left;
        }

        &.columnize-2 .section-title {
            text-align: left;
        }

        &.columnize-3 .section-title {
            text-align: left;
        }

    }

    @media screen and #{$screen-xs} {
        .section-article {
            margin-bottom: $grid-gutter-sm;
        }
    }

    @media screen and #{$screen-sm} {
        .section-article {
            margin-bottom: $grid-gutter-md;
        }
    }

    /* Vertical alignment */

    &.text-middle {
        align-items: center;
        display: flex;
    }

    &.text-top {
        align-items: flex-start;
        display: flex;
    }

    &.text-bottom {
        align-items: flex-end;
        display: flex;
    }

}
