//
// @name Modals
// @description CSS only modal box (exception for positioning).
// @author Sebastian Thulin
//
// @page Special/Modals
//
// @state .modal-backdrop-1 - Stripe color 1 as backdrop
// @state .modal-backdrop-2 - Stripe color 2 as backdrop
// @state .modal-backdrop-3 - Stripe color 3 as backdrop
// @state .modal-backdrop-4 - Stripe color 4 as backdrop
// @state .modal-backdrop-5 - Stripe color 5 as backdrop
//
// @state .modal-backdrop-black - Black backdrop
// @state .modal-backdrop-white - White backdrop
//
// @state .modal-large - Big modal (100% width, 100vh height)
// @state .modal-medium - Medium modal (70% width)
// @state .modal-small - Small modal (50% width)
//
// @markup
// 	<a href="#modal-target">Gummi bear modal</a>
// 	<div id="modal-target" class="modal modal-backdrop-1 modal-medium" tabindex="-1" role="dialog" aria-hidden="true">
//		<div class="modal-content material-shadow-lg">
//     		<div class="modal-header">
//				<a class="btn btn-close" href="#close"></a>
//         		<h2 class="modal-title">Gummi bears caramels</h2>
//       	</div>
//       	<div class="modal-body">
//				<article>
//                  <p>Pastry sweet topping lollipop chocolate cake cake I love lollipop. Gummies I love sesame snaps oat cake candy tart. Cake sugar plum chupa chups croissant brownie I love pudding dragée. Caramels liquorice apple pie marshmallow jujubes apple pie soufflé. Lemon drops croissant toffee gummi bears caramels I love. Pudding biscuit wafer bonbon pie danish dragée caramels pastry.</p>
//                  <p>Gingerbread I love jelly-o oat cake cookie. Icing sweet cookie sweet roll cotton candy sesame snaps candy canes I love muffin. Apple pie I love cotton candy sweet jelly-o cheesecake sweet roll. Marshmallow marshmallow jujubes. Jujubes danish lollipop sweet. Gummies I love tiramisu sugar plum.</p>
//                  <p>Liquorice donut tart tart tiramisu tootsie roll cheesecake brownie. Chocolate bonbon dessert. Halvah ice cream I love marshmallow gummi bears pudding dessert cheesecake. Carrot cake I love tiramisu toffee toffee. I love jujubes chocolate cake toffee I love sweet sesame snaps. Tart dessert candy canes lemon drops cake lemon drops pudding jelly-o. Pie tart danish candy gummi bears marshmallow. Ice cream cheesecake chupa chups oat cake apple pie jujubes. Sweet wafer marshmallow. Croissant wafer I love ice cream tootsie roll.</p>
//                  <p>Caramels bear claw biscuit chocolate cake I love. Tart cotton candy sweet liquorice. Carrot cake pastry donut cupcake tart. Tootsie roll I love cupcake carrot cake gingerbread I love donut. Lollipop gingerbread marshmallow brownie gummies apple pie tart donut. Chupa chups cupcake biscuit marshmallow croissant.</p>
//         		</article>
//			</div>
//       	<div class="modal-footer">
//         		<a href="#close" class="btn btn-default">Close</a>
//         		<button type="button" class="btn btn-primary">Save changes</button>
//       	</div>
//     	</div><!-- /.modal-content -->
//		<a href="#close" class="backdrop"></a>
// 	</div><!-- /.modal -->
//

.modal {
	@include cover();
	position: fixed;
	display: none;
	margin: 0 auto;
	opacity: 0;
	overflow: auto;
	z-index: $level-top;

	/* Backdrops */
	&[class*='modal-backdrop-'] .backdrop,
	&[class^=' modal-backdrop-'] .backdrop {
		@include cover();
		position: fixed;
		content: "";
		z-index: $level-9;
		display: block;
        box-shadow: inset 0 0 500px rgba(#000,.1);
	}

	/* Css open/close logic */
	&:target,
    &.modal-open {
		opacity: 1;
		display: block !important;
	}

    .backdrop {
        cursor: default;
    }
}

.modal-header {
	padding: .7em 1em;
	position: relative;
    border-bottom: 1px solid $creamy-darker;

	h1, h2, h3, h4, h5, h6 {
		padding-bottom: 0;
        font-weight: bold;
	}

	.btn-close {
		position: absolute;
		top: .45em;
		right: .45em;
        background-color: transparent;
        color: $base-font-color;
        font-size: 1.5em;
        padding: 0;
        text-align: center;
        width: 40px;
        height: 40px;
        opacity: .9;
        border: none;
        margin: 0;

        &:hvoer {
            &:before {
                font-weight: 400;
                @include pricon($pricon-close);
            }
        }

        &:before {
            font-weight: 400;
            @include pricon($pricon-close-o);
        }
	}
}

.modal-footer {
	padding: 1em;
	border-top: 1px solid $creamy-darker;
    background: #fff;
}

.modal-body {
    background-color: #f9f9f9;

    article {
        padding: 1em;
        margin-bottom: 0;
    }
}

.modal-content {
	position: relative;
    z-index: $level-10;
    line-height: $base-line-height;
    background-color: #fff;
    overflow: hidden;

    @media screen and #{$screen-sm-up} {
        margin: $grid-gutter-sm auto;
    }

    @media screen and #{$screen-sm-up} {
        margin: $grid-gutter-md auto;
        border-radius: 1px;
    }

    @media screen and #{$screen-lg-up} {
        margin: $grid-gutter-lg * 2 auto;
    }
}

/* Modifiers - size */

.modal-large .modal-content,
.modal-lg .modal-content {
	width: 100%;
	min-height: 100vh;
	margin: 0;
}

.modal-large .btn-close,
.modal-lg .btn-close {
	top: 43%;
	right: 2em;
}

.modal-large .modal-footer,
.modal-lg .modal-footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	background: #fff;
}

.modal-medium .modal-content,
.modal-md .modal-content {
	width: 70%;

	@media screen and #{$screen-xs-up} {
		width: 100%;
	}

	@media screen and #{$screen-sm-up} {
		width: 90%;
	}

	@media screen and #{$screen-md-up} {
		width: 80%;
	}
}

.modal-small .modal-content,
.modal-sm .modal-content {
	width: 50%;

	@media screen and #{$screen-xs-up} {
		width: 100%;
	}

	@media screen and #{$screen-sm-up} {
		width: 90%;
	}

	@media screen and #{$screen-md-up} {
		width: 60%;
	}
}

.modal-xsmall .modal-content,
.modal-xs .modal-content {
    width: 40%;

    @media screen and #{$screen-xs-up} {
        width: 100%;
    }

    @media screen and #{$screen-sm-up} {
        width: 90%;
    }

    @media screen and #{$screen-md-up} {
        width: 40%;
    }
}

/* Modifiers - color */

.modal-backdrop-1 .backdrop {
    background-color: rgba($palette-1, .95);
}

.modal-backdrop-2 .backdrop  {
    background-color: rgba($palette-2, .95);
}

.modal-backdrop-3 .backdrop  {
    background-color: rgba($palette-3, .95);
}

.modal-backdrop-4 .backdrop  {
    background-color: rgba($palette-4, .95);
}

.modal-backdrop-black .backdrop  {
    background-color: rgba(#000, .95);
}

.modal-backdrop-white .backdrop  {
    background-color: rgba(#dfe5ea, .95);
}

.modal-backdrop-white .modal-content {
    border: none;
}

html[data-useragent*="Windows"][data-useragent*="Firefox"],
html[data-useragent*="Windows"][data-useragent*="rv:11"],
html[data-useragent*="Windows"][data-useragent*="MSIE"]
{
    .modal[class*='modal-backdrop-'] .backdrop,
    .modal[class^=' modal-backdrop-'] .backdrop {
        right: 17px !important;
    }
}

html[data-useragent*="Windows"][data-useragent*="Edge"] {
    .modal[class*='modal-backdrop-'] .backdrop,
    .modal[class^=' modal-backdrop-'] .backdrop {
        right: 12px !important;
    }
}
