@use "../../sass/mixin/tokens";

$c: "c-segment";
$_observe-breakpoint-sm: 576px;
$_observe-breakpoint-md: 768px;

@container segment (min-width: #{$_observe-breakpoint-sm}) and (max-width: #{$_observe-breakpoint-md - 1px}) {

  .#{$c} .#{$c}__title,
  .#{$c} .#{$c}__title :is(h1, h2, h3, h4, h5, h6, [class*="c-typography__variant--"]) {
    --inherit-font-size: #{tokens.get($c, "font-size-200")};
  }
}

@container segment (min-width: #{$_observe-breakpoint-md}) {

  .#{$c} .#{$c}__title,
  .#{$c} .#{$c}__title :is(h1, h2, h3, h4, h5, h6, [class*="c-typography__variant--"]) {
    --inherit-font-size: #{tokens.get($c, "font-size-500")};
  }
}