//
// @name Blockquote
// @description
//
// @page Typography/Quotes
//
// @markup
// <blockquote>
//     <p>Jujubes jelly beans <strong>marshmallow</strong> danish brownie lollipop pudding. Apple pie wafer donut <strong>cake soufflé</strong> bonbon. Powder icing pastry carrot cake gummies tart tiramisu.</p>
// </blockquote>
//

blockquote {
    border-left: 5px solid currentColor;
    padding: 10px 7% 10px 30px;
    quotes: "\201C""\201D""\2018""\2019";
    font-size: 1.3em;
    font-weight: normal;
    line-height: 1.4;
    color: $palette-2;
}

blockquote:before {
    content: open-quote;
}

blockquote:after {
    content: close-quote;
}

blockquote p {
    display: inline;
    margin: 0;
}
