@use "../../sass/mixin/tokens";

$_: "c-megamenu";

@include tokens.create($_, getComponentTokens($_));

.#{$_} {
    --#{$_}--font-size-title: #{tokens.getRawValue($_, "font-size-300")};
    padding-top: tokens.getCalculatedValue($_, "base", 4);
    padding-bottom: tokens.getCalculatedValue($_, "base", 4);
    background-color: tokens.getRawValue($_, "color--surface");
    position: absolute;
    width: 100%;
    z-index: 7;
    left: 0;
    right: 0;

    &.#{$_}--secondary {
        background-color: tokens.getRawValue($_, "color--secondary");

        .#{$_}__link--title,
        .#{$_}__item--child .#{$_}__link {
            color: tokens.getRawValue($_, "color--secondary-contrast");
        }
    }

    &.#{$_}--primary {
        background-color: tokens.getRawValue($_, "color--primary");

        .#{$_}__link--title,
        .#{$_}__item--child .#{$_}__link {
            color: tokens.getRawValue($_, "color--primary-contrast");
        }
    }

    &.#{$_}--font-heading {
        font-family: tokens.getRawValue($_, "font-family-heading");
    }

    .#{$_}__description {
        border-top: 2px solid tokens.getRawValue($_, "color--primary-contrast");
        color: tokens.getRawValue($_, "color--primary-contrast");
        padding-top: tokens.getCalculatedValue($_, "base", 1);
        margin-top: tokens.getCalculatedValue($_, "base", 0.5);
    }

    &.#{$_}--cover {
        min-height: 100vh;
    }

    .#{$_}__link--title {
        font-size: var(--#{$_}--font-size-title);
        color: tokens.getRawValue($_, "color--primary");
        font-family: tokens.getRawValue($_, "font-family-base");
    }

    .#{$_}__link {
        display: inline-flex;
        align-items: center;
        text-decoration: none;
        gap: tokens.getCalculatedValue($_, "base", 1);

        &:hover {
            text-decoration: underline;
        }
    }

    .#{$_}__item--child {
        padding: tokens.getCalculatedValue($_, "base", 0.5) 0;
        display: flex;
        align-items: center;

        .#{$_}__link {
            text-decoration: none;
            color: tokens.getRawValue($_, "color--primary");

            &:hover {
                text-decoration: underline;
            }
        }
    }

    .#{$_}__sublist.#{$_}__sublist--flex {
        display: flex;
        flex-wrap: wrap;
        gap: 0 tokens.getCalculatedValue($_, "base", 1);
    }
}