@use "../mixin/tokens";

$_: "u-border-*";

/* Design tokens */
@include tokens.create($_, ("border-width",
        "color--surface-border",
        "color--primary-border",
        "color--secondary-border",
        "color--success-border",
        "color--danger-border",
        "color--info-border",
        "color--warning-border",
    ));

.u-border {
    border: tokens.use($_, "border-width", 1) solid tokens.get($_, "color--surface-border");
}

.u-border--0 {
    border: 0;
}

.u-border--1 {
    border: tokens.use($_, "border-width", 1) solid tokens.get($_, "color--surface-border");
}

.u-border--2 {
    border: tokens.use($_, "border-width", 2) solid tokens.get($_, "color--surface-border");
}

.u-border__color {
    border-color: tokens.get($_, "color--surface-border");
}

.u-border__color--primary {
    border-color: tokens.get($_, "color--primary-border");
}

.u-border__color--secondary {
    border-color: tokens.get($_, "color--secondary-border");
}

.u-border__color--success {
    border-color: tokens.get($_, "color--success-border");
}

.u-border__color--danger {
    border-color: tokens.get($_, "color--danger-border");
}

.u-border__color--info {
    border-color: tokens.get($_, "color--info-border");
}

.u-border__color--warning {
    border-color: tokens.get($_, "color--warning-border");
}

.u-border__top {
    border-top: tokens.use($_, "border-width", 1) solid tokens.get($_, "color--surface-border");
}

.u-border__top--0 {
    border-top: 0;
}

.u-border__top--1 {
    border-top: tokens.use($_, "border-width", 1) solid tokens.get($_, "color--surface-border");
}

.u-border__top--2 {
    border-top: tokens.use($_, "border-width", 2) solid tokens.get($_, "color--surface-border");
}

.u-border__right {
    border-right: tokens.use($_, "border-width", 1) solid tokens.get($_, "color--surface-border");
}

.u-border__right--0 {
    border-right: 0;
}

.u-border__right--1 {
    border-right: tokens.use($_, "border-width", 1) solid tokens.get($_, "color--surface-border");
}

.u-border__right--2 {
    border-right: tokens.use($_, "border-width", 2) solid tokens.get($_, "color--surface-border");
}

.u-border__bottom {
    border-bottom: tokens.use($_, "border-width", 1) solid tokens.get($_, "color--surface-border");
}

.u-border__bottom--0 {
    border-bottom: 0;
}

.u-border__bottom--1 {
    border-bottom: tokens.use($_, "border-width", 1) solid tokens.get($_, "color--surface-border");
}

.u-border__bottom--2 {
    border-bottom: tokens.use($_, "border-width", 2) solid tokens.get($_, "color--surface-border");
}

.u-border__left {
    border-left: tokens.use($_, "border-width", 1) solid tokens.get($_, "color--surface-border");
}

.u-border__left--0 {
    border-left: 0;
}

.u-border__left--1 {
    border-left: tokens.use($_, "border-width", 1) solid tokens.get($_, "color--surface-border");
}

.u-border__left--2 {
    border-left: tokens.use($_, "border-width", 2) solid tokens.get($_, "color--surface-border");
}