@use "../mixin/tokens";

$_: "u-border*";

/* Design tokens */
@include tokens.create($_, ("border-width",
        "color--surface-border",
        "color--primary-border",
        "color--secondary-border",
        "color--success-border",
        "color--danger-border",
        "color--info-border",
        "color--warning-border",
    ));

/**************************************
* Base Border Utility
**************************************/

[class^="u-border"] {
    border-width: tokens.use($_, "border-width", 1);
    border-color: currentColor;
    border-style: solid;
}

/**************************************
* Border Width
**************************************/

.u-border--0 {
    border-width: 0;
}

.u-border--1 {
    border-width: tokens.use($_, "border-width", 1);
}

.u-border--2 {
    border-width: tokens.use($_, "border-width", 2);
}

/**************************************
* Border Color
**************************************/

.u-border__color {
    border-color: tokens.get($_, "color--surface-border");
}

.u-border__color--primary {
    border-color: tokens.get($_, "color--primary-border");
}

.u-border__color--secondary {
    border-color: tokens.get($_, "color--secondary-border");
}

.u-border__color--success {
    border-color: tokens.get($_, "color--success-border");
}

.u-border__color--danger {
    border-color: tokens.get($_, "color--danger-border");
}

.u-border__color--info {
    border-color: tokens.get($_, "color--info-border");
}

.u-border__color--warning {
    border-color: tokens.get($_, "color--warning-border");
}

/**************************************
* Border Sides Resetter
**************************************/
.u-border__top,
.u-border__right,
.u-border__bottom,
.u-border__left {
    border-width: 0;
}

/**************************************
* Border Top
**************************************/

.u-border__top--0 {
    border-top-width: 0;
}

.u-border__top--1,
.u-border__top {
    border-width: 0;
    border-top-width: tokens.use($_, "border-width", 1);
}

.u-border__top--2 {
    border-width: 0;
    border-top-width: tokens.use($_, "border-width", 2);
}

/**************************************
* Border Right
**************************************/

*>.u-border__right--0 {
    border-right-width: 0;
}

*>.u-border__right--1,
.u-border__right {
    border-right-width: tokens.use($_, "border-width", 1);
}

*>.u-border__right--2 {
    border-right-width: tokens.use($_, "border-width", 2);
}


/**************************************
* Border Bottom
**************************************/

*>.u-border__bottom--0 {
    border-bottom-width: 0;
}

*>.u-border__bottom--1,
.u-border__bottom {
    border-bottom-width: tokens.use($_, "border-width", 1);
}

*>.u-border__bottom--2 {
    border-bottom-width: tokens.use($_, "border-width", 2);
}

/**************************************
* Border Left
**************************************/

*>.u-border__left--0 {
    border-left-width: 0;
}

*>.u-border__left--1,
.u-border__left {
    border-left-width: tokens.use($_, "border-width", 1);
}

*>.u-border__left--2 {
    border-left-width: tokens.use($_, "border-width", 2);
}

/**************************************
* Border Styles
**************************************/
.u-border__style--solid {
    border-style: solid;
}

.u-border__style--dashed {
    border-style: dashed;
}

.u-border__style--dotted {
    border-style: dotted;
}

.u-border__style--double {
    border-style: double;
}

.u-border__style--groove {
    border-style: groove;
}

.u-border__style--ridge {
    border-style: ridge;
}

.u-border__style--inset {
    border-style: inset;
}

.u-border__style--outset {
    border-style: outset;
}

.u-border__style--none {
    border-style: none;
}

.u-border__style--hidden {
    border-style: hidden;
}