@use "../../sass/mixin/tokens";

$_: "c-tags";

@include tokens.create($_, getComponentTokens($_));

.#{$_} {
    display: flex;
    flex-wrap: wrap;
    gap: tokens.getCalculatedValue($_, "base", 1);

    &--format .#{$_}__tag {
        word-spacing: -0.5ex;
        text-transform: lowercase;
    }

    &.#{$_}--pill {
        .#{$_}__tag {
            background-color: tokens.getRawValue($_, "color--surface");
            color: tokens.getRawValue($_, "color--surface-contrast");
            padding: tokens.getCalculatedValue($_, "base", 0.5) tokens.getCalculatedValue($_, "base", 1.5);
            border-radius: tokens.getCalculatedValue($_, "base", 3);
            corner-shape: tokens.getRawValue($_, "corner-shape");
            filter: tokens.getCalculatedValue($_, "shadow");
        }
    }

    .#{$_}__tag {
        font-size: 0.875rem;
        text-decoration: none;
        display: flex;
        align-items: center;

        &.is-hidden {
            display: none;
        }

        &:hover,
        &:visited,
        &:active {
            color: inherit;
        }
    }

    a.#{$_}__tag:hover {
        text-decoration: underline;
    }
}