.d-shadows {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: calc(var(--base) * 4);
}

.d-shadows__item {
    background-color: #fff;
    height: calc(var(--base) * 12);
}