@use "../../sass/mixin/tokens";

/* Inheritance properties */
@property --inherit-color-contrast {
    syntax: "*";
    inherits: false;
}

@property --inherit-color-background {
    syntax: "*";
    inherits: false;
}

/* Component name */
$_: "c-comment";

/* Design tokens */
@include tokens.create($_, getComponentTokens($_));

/* Component */
.#{$_}+.#{$_} {
    margin-top: tokens.getCalculatedValue($_, "outer-space", 3);
}

.#{$_} {
    contain: layout;
    display: flex;
    flex-direction: row;
    gap: tokens.getCalculatedValue($_, "space", 2);

    .#{$_}__top {
        display: flex;
        gap: tokens.getCalculatedValue($_, "space", 2);
        margin-bottom: tokens.getCalculatedValue($_, "space", 0.5);
    }

    .#{$_}__top .#{$_}__author {
        margin: 0;
        font-size: tokens.getRawValue($_, "font-size-90");
        color: tokens.getRawValue($_, "color--contrast");
    }

    .c-avatar {
        width: tokens.getCalculatedValue($_, "space", 6);
        height: tokens.getCalculatedValue($_, "space", 6);
    }

    .#{$_}__link {
        color: tokens.getRawValue($_, "color--contrast");
        text-decoration: none;
        text-decoration-style: unset;

        &:visited,
        &:active {
            color: tokens.getRawValue($_, "color--contrast");
            text-decoration: none;
            text-decoration-style: unset;
        }

        &:hover {
            color: tokens.getRawValue($_, "color--contrast");
            text-decoration: underline;
        }
    }

    &__bubble--inner {
        width: 100%;
        border-radius: tokens.getCalculatedValue($_, "border-radius");
        corner-shape: tokens.getRawValue($_, "corner-shape");
        border-top-left-radius: tokens.getCalculatedValue($_, "border-radius", 0.5);
        padding: tokens.getCalculatedValue($_, "space", 1.5) tokens.getCalculatedValue($_, "space", 2);
        margin: 0;
        background-color: var(--inherit-color-background, tokens.getRawValue($_, "color--surface"));
        color: var(--inherit-color-contrast, tokens.getRawValue($_, "color--surface-contrast"));
    }

    .#{$_}__actions {
        display: flex;
        gap: tokens.getCalculatedValue($_, "space", 2);
    }

    &__date {
        color: tokens.getRawValue($_, "color--background-contrast-muted");
        display: flex;

        &:before {
            content: "•";
            margin-right: tokens.getCalculatedValue($_, "space", 1.5);
            text-indent: -.2em;
        }
    }

    &__bubble {
        justify-content: flex-start;
        display: flex;
        flex-wrap: wrap;
        position: relative;
    }

    &__is-reply {
        margin-left: tokens.getCalculatedValue($_, "space", 8);
    }
}