@use "../../sass/mixin/tokens";

$_: "c-button";

.#{$_}.#{$_}__filled {
    --#{$_}-background: #{tokens.getRawValue($_, "color--surface-alt", "color-background")};
    --#{$_}-border: #{tokens.getRawValue($_, "color--surface-border", "color-border")};
    --#{$_}-contrast: #{tokens.getRawValue($_, "color--surface-contrast", "color-contrast")};
    --#{$_}-hover: color-mix(in srgb, var(--#{$_}-contrast) var(--color--border-mix-amount), var(--#{$_}-background));
    --#{$_}-active: color-mix(in srgb, var(--#{$_}-hover) 80%, transparent);
    --#{$_}-icon-offset: -0.4em;
    --#{$_}-font-size: #{tokens.getRawValue($_, "font-size-100")};

    background-color: var(--#{$_}-background);
    border: tokens.getCalculatedValue($_, "border-width", 1) solid var(--#{$_}-border);
    filter: var(--inherit-filter, #{tokens.getCalculatedValue($_, "shadow", 1)});

    height: tokens.getCalculatedValue($_, "base", 6);
    min-width: tokens.getCalculatedValue($_, "base", 9);
    padding: 0 tokens.getCalculatedValue($_, "space", 3);

    &:hover {
        background-color: var(--#{$_}-hover);
    }

    &:active,
    &[aria-pressed="true"] {
        background-color: var(--#{$_}-active);
    }

    &,
    .#{$_}__label {
        color: var(--#{$_}-contrast);
    }

    &[class*="--secondary"] {
        --#{$_}-background: #{tokens.getRawValue($_, "color--secondary")};
        --#{$_}-border: #{tokens.getRawValue($_, "color--secondary-border")};
        --#{$_}-contrast: #{tokens.getRawValue($_, "color--secondary-contrast")};
        --#{$_}-hover: #{tokens.getRawValue($_, "color--secondary-border")};
    }

    &[class*="--primary"] {
        --#{$_}-background: #{tokens.getRawValue($_, "color--primary")};
        --#{$_}-border: #{tokens.getRawValue($_, "color--primary-border")};
        --#{$_}-contrast: #{tokens.getRawValue($_, "color--primary-contrast")};
        --#{$_}-hover: #{tokens.getRawValue($_, "color--primary-border")};
    }

    &.#{$_}--icon-only {
        min-width: initial;
        padding: 0;
        width: tokens.getCalculatedValue($_, "base", 6);
    }

    &.#{$_}--sm {
        height: tokens.getCalculatedValue($_, "base", 4.5);
        min-width: tokens.getCalculatedValue($_, "base", 6.75);
        padding: 0 tokens.getCalculatedValue($_, "space", 2);
        --#{$_}-font-size: #{tokens.getRawValue($_, "font-size-90")};

        &.#{$_}--icon-only {
            min-width: initial;
            padding: 0;
            width: tokens.getCalculatedValue($_, "base", 4.5);
        }
    }

    &.#{$_}--lg {
        height: tokens.getCalculatedValue($_, "base", 8);
        min-width: tokens.getCalculatedValue($_, "base", 12);
        padding: 0 tokens.getCalculatedValue($_, "space", 4);
        --#{$_}-font-size: #{tokens.getRawValue($_, "font-size-200")};

        &.#{$_}--icon-only {
            min-width: initial;
            padding: 0;
            width: tokens.getCalculatedValue($_, "base", 8);
        }
    }
}