@use "../../sass/mixin/tokens";

$_: "c-button";

.#{$_}.#{$_}__outlined {
    --#{$_}-contrast: #{tokens.getRawValue($_, "color--surface-contrast")};
    --#{$_}-hover: color-mix(in srgb, var(--#{$_}-contrast) 18%, transparent);
    --#{$_}-active: color-mix(in srgb, var(--#{$_}-contrast) 24%, transparent);

    background-color: transparent;
    border-width: clamp(2px, tokens.getCalculatedValue($_, "border-width", 1), tokens.getCalculatedValue($_, "base", 0.5));
    border-color: currentColor;
    border-style: solid;
    color: var(--#{$_}-contrast);

    &:hover {
        background-color: var(--#{$_}-hover);
    }

    &:active {
        background-color: var(--#{$_}-active);
    }

    &[class*="--secondary"] {
        --#{$_}-border: #{tokens.getRawValue($_, "color--secondary")};
        --#{$_}-contrast: #{tokens.getRawValue($_, "color--secondary")};
    }

    &[class*="--primary"] {
        --#{$_}-border: #{tokens.getRawValue($_, "color--primary")};
        --#{$_}-contrast: #{tokens.getRawValue($_, "color--primary")};
    }
}