@use "../../sass/mixin/tokens";
@use "./__basic";
@use "./__filled";
@use "./__outlined";
@use "./__pill";

/* Component name */
$_: "c-button";

/* Design tokens */
@include tokens.create($prefix: $_, $tokens: getComponentTokens($_), $emitDefaultTokenVariables: true);

.#{$_} {
    border-radius: tokens.getCalculatedValue($_, "border-radius");
    contain: layout;
    corner-shape: tokens.getRawValue($_, "corner-shape");
    cursor: pointer;
    display: inline-flex;
    font-family: tokens.getRawValue($_, "font-family-base");
    font-size: tokens.getRawValue($_, "font-size-100");
    font-weight: tokens.getRawValue($_, "font-weight-medium");
    height: tokens.getCalculatedValue($_, "base", 6);
    min-width: tokens.getCalculatedValue($_, "base", 9);
    padding: 0 tokens.getCalculatedValue($_, "space", 4);
    position: relative;
    text-decoration: none;
    transition: transform 100ms ease-in-out;
    user-select: none;

    &[disabled] {
        cursor: not-allowed;
        opacity: 0.7;
    }

    &__full-width {
        width: 100%;
    }

    .#{$_}__label {
        align-items: center;
        display: inline-flex;
        gap: tokens.getCalculatedValue($_, "space", 1);
    }

    .#{$_}__label-icon {
        line-height: 1;
    }

    .#{$_}__label-icon:not(.#{$_}__label-icon--reverse) {
        order: 1;
    }

    &.#{$_}--icon-only {
        justify-content: center;
        min-width: initial;
        padding: 0;
        width: tokens.getCalculatedValue($_, "base", 6);

        .#{$_}__label {
            gap: unset;
        }

        .#{$_}__label-icon {
            display: flex;
        }
    }

    &.#{$_}--icon-only {
        justify-content: center;
        min-width: initial;
        padding: 0;
        width: tokens.getCalculatedValue($_, "base", 6);

        .#{$_}__label {
            gap: unset;
        }

        .#{$_}__label-icon {
            display: flex;
        }
    }
}

.#{$_}--sm {
    height: tokens.getCalculatedValue($_, "base", 4.5);
    min-width: tokens.getCalculatedValue($_, "base", 6.75);
    padding: 0 tokens.getCalculatedValue($_, "space", 2);
    font-size: tokens.getRawValue($_, "font-size-90");
    letter-spacing: 0.1rem;

    &.#{$_}--icon-only {
        min-width: initial;
        width: tokens.getCalculatedValue($_, "base", 4.5);
    }
}

.#{$_}--lg {
    height: tokens.getCalculatedValue($_, "base", 8);
    min-width: tokens.getCalculatedValue($_, "base", 12);
    padding: 0 tokens.getCalculatedValue($_, "space", 3);
    font-size: tokens.getRawValue($_, "font-size-200");

    &.#{$_}--icon-only {
        min-width: initial;
        width: tokens.getCalculatedValue($_, "base", 8);
    }
}



// $button-sizes: (
//     "lg": ("height": 8,
//         "min-width": 12,
//         "padding-x": 5,
//         "offset": -1.5,
//         "loader": 4,
//         "font-size": var(--#{$_}--font-size-lg)),
//     "md": ("height": 6,
//         "min-width": 9,
//         "padding-x": 4,
//         "offset": -1,
//         "loader": null,
//         "font-size": var(--#{$_}--font-size-md)),
//     "sm": ("height": 4.5,
//         "min-width": 6.75,
//         "padding-x": 2,
//         "offset": -0.5,
//         "loader": 2,
//         "font-size": var(--#{$_}--font-size-sm),
//         "letter-spacing": 0.1rem)
// );

.#{$_}+.#{$_} {
    margin-left: tokens.getCalculatedValue($_, "outer-space", 1);
}