.error404 {
    .error404-title {
        font-size: 6em;
        font-weight: 100;
        letter-spacing: -.1em;
        margin: 0;
        padding: 0;
        line-height: 1;
    }

    .error404-subtitle {
        font-weight: bold;
        font-size: 1.5em;
        color: $palette-4;
    }
}
