.u-sr__only, .u-sr__only--focusable {
    position: absolute !important;
    width: 1px !important;
    height: 1px !important;
    padding: 0 !important;
    overflow: hidden !important;
    clip: rect(0,0,0,0) !important;
    white-space: nowrap !important;
    border: 0 !important;
}

.u-sr__only--focusable:focus {
    position: static !important;
    width: auto !important;
    height: auto !important;
    overflow: visible !important;
    clip: auto !important;
    white-space: normal !important;
}

.c-header a:focus, 
.c-footer a:focus,
.c-header .site-language-menu:focus, 
.sidebar-left-sidebar a:focus, 
.sidebar-right-sidebar a:focus {
    outline: thick solid -webkit-focus-ring-color;
    outline-offset: 2px;
    box-shadow: 0 0 0 6px $color-white;
}
