//
// @name Screen reader only
// @description Hides any element for all devices except screen readers. Typically used for help text that should only be read by screen readers.
//
// @page Accessibility/Visibility
//
// @markup
// <span>This text will be readable everywhere.</span>
// <span class="sr-only">This text will not be readable/visible to any other device than screen readers.</span>
//

.sr-only {
    clip: rect(0px, 0px, 0px, 0px);
    position: absolute;
    height: 1px;
    width: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    border: 0 none;
}
