.u-sr__only, .u-sr__only--focusable {
    position: absolute !important;
    width: 1px !important;
    height: 1px !important;
    padding: 0 !important;
    overflow: hidden !important;
    clip: rect(0,0,0,0) !important;
    white-space: nowrap !important;
    border: 0 !important;
}

.u-sr__only--focusable:focus {
    position: static !important;
    width: auto !important;
    height: auto !important;
    overflow: visible !important;
    clip: auto !important;
    white-space: normal !important;
}

.c-header a:focus-visible, 
.c-footer a:focus-visible,
.c-header .site-language-menu:focus-visible,
a.c-link:focus-visible,
.sidebar-left-sidebar a:focus-visible, 
.sidebar-right-sidebar a:focus-visible,
select:focus-visible,
.c-article a:focus-visible {
    @include focus();
}
