$full: ("border-radius": "50%");
$border-radius-utilities:(
    (
        "name": "rounded",
        "default": (
            "border-radius": "8px"
        ),
        "modifiers": (
            full: (border-radius: 50%),
            none: (border-radius: none)
        )
    ),
    (
        "name": rounded__left,
        "modifiers": (
            0:  ("border-top-left-radius": "0",
                "border-bottom-left-radius": "0"
            ),
            2: ("border-radius": "2px 0px 0px 2px"),
            4: ("border-radius": "4px 0px 0px 4px"),
            8: ("border-radius": "8px 0px 0px 8px"),
            16: ("border-radius": "16px 0px 0px 16px")
        )
    ),
    (
        "name": rounded__right,
        "modifiers": (
            0:  ("border-top-right-radius": "0",
                "border-bottom-right-radius": "0"
            ),
            2: ("border-radius": "0px 2px 2px 0px"),
            4: ("border-radius": "0px 4px 4px 0px"),
            8: ("border-radius": "0px 8px 8px 0px"),
            16: ("border-radius": "0px 16px 16px 0px")
        )
    ),
    (
        "name": rounded__top,
        "modifiers": (
            0:  ("border-top-left-radius": "0",
                "border-top-right-radius": "0"
            ),
            2: ("border-radius": "2px 2px 0px 0px"),
            4: ("border-radius": "4px 4px 0px 0px"),
            8: ("border-radius": "8px 8px 0px 0px"),
            16: ("border-radius": "16px 16px 0px 0px")
        )
    ),
    (
        "name": rounded__bottom,
        "modifiers": (
            0:  ("border-bottom-left-radius": "0",
                "border-bottom-right-radius": "0"
            ),
            2: ("border-radius": "0px 0px 2px 2px"),
            4: ("border-radius": "0px 0px 4px 4px"),
            8: ("border-radius": "0px 0px 8px 8px"),
            16: ("border-radius": "0px 0px 16px 16px")
        )
    ),
    (
        "name": rounded__top__left,
        "modifiers": (
            0: ("border-top-left-radius": "0"),
            2: ("border-top-left-radius": "2px"),
            4: ("border-top-left-radius": "4px"),
            8: ("border-top-left-radius": "8px"),
            16: ("border-top-left-radius": "16px")
        )
    ),
    (
        "name": rounded__top__right,
        "modifiers": (
            0: ("border-top-right-radius": "0"),
            2: ("border-top-right-radius": "2px"),
            4: ("border-top-right-radius": "4px"),
            8: ("border-top-right-radius": "8px"),
            16: ("border-top-right-radius": "16px")
        )
    ),
    (
        "name": rounded__bottom__left,
        "modifiers": (
            0: ("border-bottom-left-radius": "0"),
            2: ("border-bottom-left-radius": "2px"),
            4: ("border-bottom-left-radius": "4px"),
            8: ("border-bottom-left-radius": "8px"),
            16: ("border-bottom-left-radius": "16px")
        )
    ),
    (
        "name": rounded__bottom__right,
        "modifiers": (
            0: ("border-bottom-right-radius": "0"),
            2: ("border-bottom-right-radius": "2px"),
            4: ("border-bottom-right-radius": "4px"),
            8: ("border-bottom-right-radius": "8px"),
            16: ("border-bottom-right-radius": "16px")
        )
    )
);

@include build-utilities($border-radius-utilities);
