.u-border-radius-none {
    border-radius: 0; 
}

.u-border-radius,
.u-border-radius-xs {
    border-radius: $border-radius-xs; 
}

.u-border-radius-sm {
    border-radius: $border-radius-sm;
}

.u-border-radis-md {
    border-radius: $border-radius-md;
}

.u-border-radius-lg {
    border-radius: $border-radius-lg; 
}

.u-border-radius-full,
.u-border-radius-rounded,
.u-rounded {
    border-radius: 50%; 
}
