$radius-sides: (
    'none',
    'top',
    'bottom',
    'left',
    'right',
    'top-left',
    'top-right',
    'bottom-left',
    'bottom-right'
);

//Default styling
$styling: ('border-radius': first($radiuses));

@include responsiveStyles( ('.u-border-radius': $styling) );

//Specified styling for each side, corner and none to remove
@each $side in $radius-sides{
    @each $radius in $radiuses{
        $width: strip-unit($radius);
        $class: '.u-border-radius--#{$side}--#{$width}';

        @if $side == 'left'{
            $styling: ('border-radius': '#{$radius} 0 0 #{$radius}'); 
        }
        @else if $side == 'right'{
            $styling: ('border-radius': '0 #{$radius} #{$radius} 0'); 
        }
        @else if $side == 'top'{
            $styling: ('border-radius': '#{$radius} #{$radius} 0 0'); 
        }
        @else if $side == 'bottom'{
            $styling: ('border-radius': '0 0 #{$radius} #{$radius}'); 
        }
        @else if $side == 'none'{
            $styling: ('border-radius': 0);
            $class: '.u-border-radius--#{$side}';
        }
        @else{
            $styling: ('border-#{$side}-radius': $radius);
        }

        @include responsiveStyles(
            (
                $class: $styling  
            )
        )
     }
}