$border-widths: (
    0: 0,
    1: 1px,
    2: 2px
);

$border-width-default: 1px;

$sides: (top, left, right, bottom);

$spacing-util: (
    (
        name: "border",
        default: (border: #{$border-width-default} solid #{$color_primary}),
        modifiers: (
            0: (border:  #{map-get($border_widths, 0)} solid #{$color_primary}),
            1: (border:  #{map-get($border_widths, 1)} solid #{$color_primary}),
            2: (border:  #{map-get($border_widths, 2)} solid #{$color_primary})
        )
    ),
    (
        name: "border__color",
        default: (border-color: #{$color_primary}),
        modifiers: (
            primary: (border-color:  #{$color_primary}),
            secondary: (border-color: #{$color_secondary}),
            success: (border-color:  #{$color_success}),
            danger: (border-color:  #{$color_danger}),
            info: (border-color:  #{$color_info}),
            warning: (border-color:  #{$color_warning}),
            default: (border-color:  #{$color_default}),
            black: (border-color: #{$color_black}),
            darkest: (border-color:  #{$color_darkest}),
            darker: (border-color:  #{$color_darker}),
            dark: (border-color:  #{$color_dark}),
            light: (border-color:  #{$color_light}),
            lighter: (border-color:  #{$color-lighter}),
            lightest: (border-color:  #{$color-lightest}),
            white: (border-color:  #{$color-white})
        )
    )
);

@each $side in $sides {
    $mods: ();

    @each $width_name, $width in $border-widths {
        $style: (#{$width_name}:(border-#{$side}: #{$width} solid #{$color-primary}));
        $mods: map-merge($mods, $style);
    }

    $util: (
        name: "border__#{$side}",
        default: (border-#{$side}: 1px solid #{$color-primary}),
        modifiers: $mods
    );

    $spacing-util: append($spacing-util, $util);
}

@include build-utilities($spacing-util);