$xs: --radius-xs;
$sm: --radius-sm;
$md: --radius-md;
$lg: --radius-lg;

$full: ("border-radius": "50%");
$border-radius-utilities:(
    (
        "name": "rounded",
        "default": (
            "border-radius": var(#{$md}, 8px)
        ),
        "modifiers": (
            full: (border-radius: 50%),
            none: (border-radius: none)
        )
    ),
    (
        "name": rounded__left,
        "modifiers": (
            0:  ("border-top-left-radius": "0",
            "border-bottom-left-radius": "0"
        ),
        2: ("border-radius":  var(#{$xs}, 2px) 0 0 var(#{$xs}, 2px)),
        4: ("border-radius": var(#{$sm}, 4px) 0 0 var(#{$sm}, 4px)),
        8: ("border-radius": var(#{$md}, 8px) 0 0 var(#{$md}, 8px)),
        16: ("border-radius": var(#{$lg}, 16px) 0 0 var(#{$lg}, 16px))
    )
),
(
    "name": rounded__right,
    "modifiers": (
        0:  ("border-top-right-radius": "0",
        "border-bottom-right-radius": "0"
    ),
    2: ("border-radius": 0 var(#{$xs}, 2px) var(#{$xs}, 2px) 0),
    4: ("border-radius": 0 var(#{$sm}, 4px) var(#{$sm}, 4px) 0),
    8: ("border-radius": 0 var(#{$md}, 8px) var(#{$md}, 8px) 0),
    16: ("border-radius": 0 var(#{$lg}, 16px) var(#{$lg}, 16px) 0)
)
),
(
"name": rounded__top,
"modifiers": (
    0:  ("border-top-left-radius": "0",
    "border-top-right-radius": "0"
),
2: ("border-radius": var(#{$xs}, 2px) var(#{$xs}, 2px) 0 0),
4: ("border-radius": var(#{$sm}, 4px) var(#{$sm}, 4px) 0 0),
8: ("border-radius": var(#{$md}, 8px) var(#{$md}, 8px) 0 0),
16: ("border-radius": var(#{$lg}, 16px) var(#{$lg}, 16px) 0 0)
)
),
(
"name": rounded__bottom,
"modifiers": (
0:  ("border-bottom-left-radius": "0",
"border-bottom-right-radius": "0"
),
2: ("border-radius": 0 0 var(#{$xs}, 2px) var(#{$xs}, 2px)),
4: ("border-radius": 0 0 var(#{$sm}, 4px) var(#{$sm}, 4px)),
8: ("border-radius": 0 0 var(#{$md}, 8px) var(#{$md}, 8px)),
16: ("border-radius": 0 0 var(#{$lg}, 16px) var(#{$lg}, 16px))
)
),
(
"name": rounded__top__left,
"modifiers": (
0: ("border-top-left-radius": "0"),
2: ("border-top-left-radius": var(#{$xs}, 2px)),
4: ("border-top-left-radius": var(#{$sm}, 4px)),
8: ("border-top-left-radius": var(#{$md}, 8px)),
16: ("border-top-left-radius": var(#{$lg}, 16px))
)
),
(
"name": rounded__top__right,
"modifiers": (
0: ("border-top-right-radius": "0"),
2: ("border-top-right-radius": var(#{$xs}, 2px)),
4: ("border-top-right-radius": var(#{$sm}, 4px)),
8: ("border-top-right-radius": var(#{$md}, 8px)),
16: ("border-top-right-radius": var(#{$lg}, 16px))
)
),
(
"name": rounded__bottom__left,
"modifiers": (
0: ("border-bottom-left-radius": "0"),
2: ("border-bottom-left-radius": var(#{$xs}, 2px)),
4: ("border-bottom-left-radius": var(#{$sm}, 4px)),
8: ("border-bottom-left-radius": var(#{$md}, 8px)),
16: ("border-bottom-left-radius": var(#{$lg}, 16px))
)
),
(
"name": rounded__bottom__right,
"modifiers": (
0: ("border-bottom-right-radius": "0"),
2: ("border-bottom-right-radius": var(#{$xs}, 2px)),
4: ("border-bottom-right-radius": var(#{$sm}, 4px)),
8: ("border-bottom-right-radius": var(#{$md}, 8px)),
16: ("border-bottom-right-radius": var(#{$lg}, 16px))
)
)
);

@include build-utilities($border-radius-utilities);
