@use "sass:list";
@use "sass:map";
@use "../component/icon";
@use "../mixin/build-utility";

$colors: (
    primary: var(--color--primary),
    secondary: var(--color--secondary),
    success: var(--color--success),
    danger: var(--color--error),
    info: var(--color--info),
    warning: var(--color--warning),
);

$border-widths: (
    0: 0,
    1: 1px,
    2: 2px
);

$border-width-default: 1px;

$sides: (top, left, right, bottom);

$spacing-util: (
    (
        name: "border",
        default: (border: #{$border-width-default} solid #{var(--color--primary)}),
        modifiers: (
            0: (border:  #{map.get($border_widths, 0)} solid #{var(--color--primary)}),
            1: (border:  #{map.get($border_widths, 1)} solid #{var(--color--primary)}),
            2: (border:  #{map.get($border_widths, 2)} solid #{var(--color--primary)})
        )
    ),
    (
        name: "border__color",
        default: (border-color: #{var(--color--primary)}),
        modifiers: (
            primary: (border-color:  #{var(--color--primary)}),
            secondary: (border-color: #{var(--color--secondary)}),
            success: (border-color:  #{var(--color--success)}),
            danger: (border-color:  #{var(--color--error)}),
            info: (border-color:  #{var(--color--info)}),
            warning: (border-color:  #{var(--color--warning)})
        )
    )
);

@each $side in $sides {
    $mods: ();

    @each $width_name, $width in $border-widths {
        $style: (#{$width_name}:(border-#{$side}: #{$width} solid #{var(--color--primary)}));
        $mods: map.merge($mods, $style);
    }

    $util: (
        name: "border__#{$side}",
        default: (border-#{$side}: 1px solid #{var(--color--primary)}),
        modifiers: $mods
    );

    $spacing-util: list.append($spacing-util, $util);
}

@include build-utility.build-utilities($spacing-util);