//
// @name Checklist
// @description A list with checklist items.
//
// @page Utilities/Checklist
//
// @state .checklist__item--checked - Checked item
//
// @markup
// <div class="grid">
//      <div class="grid-md-6">
//          <div class="box box-panel box-panel-primary">
//              <ul class="checklist">
//                  <li>
//                      <span class="checklist__item checklist__item--checked">Brownie I love danish marshmallow</span>
//                  </li>
//                  <li>
//                      <span class="checklist__item">Danish croissant caramels jelly-o</span>
//                  </li>
//                  <li>
//                      <span class="checklist__item">I love jelly jelly-o chupa chups caramels</span>
//                  </li>
//              </ul>
//          </div>
//      </div>
// </div>
//

.checklist {
    &__item {
        $padding-left: 20px;
        display: inline-block;
        position: relative;
        left: calc(#{$padding-left} + .5em);
        padding-right: $padding-left;

        &::before {
            @include pricon($pricon-unchecked);
            color: rgba(0,0,0,.5);
            display: inline-block;
            width: 20px;
            height: 20px;
            margin-right: .5em;
            margin-left: calc(-#{$padding-left} - .5em);
            text-decoration: none;
        }

        &--checked {
            color: rgba(0,0,0,.5);

            &::before {
                @include pricon($pricon-check);
            }
        }
    }

    .box-filled & {
        &__item {
            &::before, &--checked {
                color: rgba(255, 255, 255, .7);
            }
        }
    }
}
