$clearfix-utils:
    (name: 'clearfix::after',
    default: (
        display: block !important,
        content: '""' !important,
        clear: both !important
    ),
);

@include build-utilities($clearfix-utils);