@use "../mixin/build-utility";

$clearfix-utils:
    (name: "clearfix::after",
    default: (
        display: block,
        content: '""',
        clear: both
    ),
);

@include build-utility.build-utilities($clearfix-utils);