@use "../mixin/build-utility";

$color-utils: (
    (
        name: "color__text",
        modifiers: (
            white:                 (color: var(--color--white)),
            black:                 (color: var(--color--black)),
            primary:               (color: var(--color--primary)),
            secondary:             (color: var(--color--secondary)),
            success:               (color: var(--color--success)),
            danger:                (color: var(--color--error)),
            info:                  (color: var(--color--info)),
            warning:               (color: var(--color--warning)),
            default:               (color: var(--color--surface)),
            darkest:               (color: var(--color--black)),
            darker:                (color: var(--color--darker)),
            dark:                  (color: var(--color--dark)),
            light:                 (color: var(--color--light)),
            lighter:               (color: var(--color--lighter)),
            lightest:              (color: var(--color--white)),
            primary-contrasting:   (color: var(--color--primary-contrast)),
            secondary-contrasting: (color: var(--color--secondary-contrast))
        )
    ),
    (
        name: "color__bg",
        modifiers: (
            default:                (background-color: var(--color--surface)),
            primary:                (background-color: var(--color--primary)),
            secondary:              (background-color: var(--color--secondary)),
            success:                (background-color: var(--color--success)),
            danger:                 (background-color: var(--color--error)),
            info:                   (background-color: var(--color--info)),
            warning:                (background-color: var(--color--warning)),
            darkest:                (background-color: var(--color--black)),
            darker:                 (background-color: var(--color--darker)),
            dark:                   (background-color: var(--color--dark)),
            light:                  (background-color: var(--color--light)),
            lighter:                (background-color: var(--color--lighter)),
            lightest:               (background-color: var(--color--white)),
            complementary:          (background-color: var(--color--accent)),
            complementary-light:    (background-color: var(--color--accent)),
            complementary-lighter:  (background-color: var(--color--accent)),
            complementary-lightest: (background-color: var(--color--accent)),
            transparent:            (background-color: transparent),
        )
    )
);

@include build-utility.build-utilities($color-utils);