$color-utils: (
    (
        name: "color__text",
        modifiers: (
            white:      (color: $color-white),
            black:      (color: $color-black),
            primary:    (color: $color-primary),
            secondary:  (color: $color-secondary),
            success:    (color: $color-success),
            danger:     (color: $color-danger),
            info:       (color: $color-info),
            warning:    (color: $color-warning),
            default:    (color: $color-default),
            darkest:    (color: $color-darkest),
            darker:     (color: $color-darker),
            dark:       (color: $color-dark),
            light:      (color: $color-light),
            lighter:    (color: $color-lighter),
            lightest:   (color: $color-lightest),
        )
    ),
    (
        name: "color__bg",
        modifiers: (
            default:                (background-color: $color-default),
            primary:                (background-color: $color-primary),
            secondary:              (background-color: $color-secondary),
            success:                (background-color: $color-success),
            danger:                 (background-color: $color-danger),
            info:                   (background-color: $color-info),
            warning:                (background-color: $color-warning),
            darkest:                (background-color: $color-darkest),
            darker:                 (background-color: $color-darker),
            dark:                   (background-color: $color-dark),
            light:                  (background-color: $color-light),
            lighter:                (background-color: $color-lighter),
            lightest:               (background-color: $color-lightest),
            complementary:          (background-color: $color-complementary),
            complementary-light:    (background-color: $color-complementary-light),
            complementary-lighter:  (background-color: $color-complementary-lighter),
            complementary-lightest: (background-color: $color-complementary-lightest),
            transparent:            (background-color: transparent),
        )
    )
);

@include build-utilities($color-utils);