$color-utils: (
    (
        name: "color__text",
        modifiers: (
            primary: (color: $color-primary),
            secondary: (color: $color-secondary),
            success: (color: $color-success),
            danger: (color: $color-danger),
            info: (color: $color-info),
            warning: (color: $color-warning),
        )
    ),
    (
        name: "color__bg",
        modifiers: (
            primary: (background-color: $color-primary),
            secondary: (background-color: $color-secondary),
            success: (background-color: $color-success),
            danger: (background-color: $color-danger),
            info: (background-color: $color-info),
            warning: (background-color: $color-warning),
            gray: (background-color: $color-gray-light)
        )
    )
);

@include build-utilities($color-utils);