$color-utils: (
    (
        name: "color__text",
        modifiers: (
            light: (color: $color-white),
            dark: (color: $color-black),
            darker: (color: $color-darkest),
            darkest: (color: $color-darkest),
            primary: (color: $color-primary),
            secondary: (color: $color-secondary),
            success: (color: $color-success),
            danger: (color: $color-danger),
            info: (color: $color-info),
            warning: (color: $color-warning)
        )
    ),
    (
        name: "color__bg",
        modifiers: (
            default: (background-color: $color-default),
            primary: (background-color: $color-primary),
            secondary: (background-color: $color-secondary),
            success: (background-color: $color-success),
            danger: (background-color: $color-danger),
            info: (background-color: $color-info),
            warning: (background-color: $color-warning),
        )
    )
);

@include build-utilities($color-utils);