@use "../setting/var_properties";
@use "../mixin/build-utility";

$display-utils: (
    (
        name: "display",
        modifiers: var_properties.$display-states
    )
);

@include build-utility.build-utilities($display-utils);

.u-hide-empty:empty {
    display: none !important;
}