$disabled-utils: (
    name: "disabled",
    default: (
        background-color: $color-disabled-bg,
        color: $color-disabled-text,
        border-color: $color-disabled-border,
        cursor: not-allowed
    )
);

@include build-utilities($disabled-utils);