@use "../mixin/build-utility";

$disabled-utils: (
    name: "disabled",
    default: (
        background-color: var(--color--disabled),
        color: var(--color--disabled-text),
        border-color: var(--color--border),
        cursor: not-allowed
    )
);

@include build-utility.build-utilities($disabled-utils);