@use "../mixin/build-utility";

$display-states: (
    none:           (display: none),
    inline:         (display: inline),
    inline-block:   (display: inline-block),
    block:          (display: block),
    table:          (display: table),
    table-cell:     (display: table-cell),
    table-row:      (display: table-row),
    flex:           (display: flex),
    grid:           (display: grid),
    inline-flex:    (display: inline-flex)
);

$display-utils: (
    (
        name: "display",
        modifiers: $display-states
    )
);

@include build-utility.build-utilities($display-utils);

.u-hide-empty:empty {
    display: none !important;
}