//
// @name Explain
// @description Use for enclosed word description or similar
//
// @page Utilities/Explain
//
// @markup
// <span class="explain">
//     <em>The word</em>
//     <span data-tooltip="The word description"><i class="fa fa-question-circle"></i></span>
// </span>
//

.explain {
    position: relative;
    white-space: nowrap;

    span[data-tooltip] {
        display: inline-block;
    }

    em {
        font-style: italic;
    }

    .fa,
    .pricon {
        display: inline-block;
        color: $gray;
        cursor: default;
    }

    @media print {
        .fa,
        .pricon {
            display: none;
        }
    }
}
