$flex-utils: (  
    (
        name: 'flex-direction',
        modifiers: (
            row: (flex-direction: row),
            row--reverse: (flex-direction: row-reverse),
            column: (flex-direction: column),
            column--reverse: (flex-direction: column-reverse),
        )
    ),
    (
        name: 'justify-content',
        modifiers: (
            start: (justify-content: flex-start),
            end: (justify-content: flex-end),
            center: (justify-content: center),
            space-between: (justify-content: space-between),
            space-around: (justify-content: space-around),
            space-evenly: (justify-content: space-evenly),
        )
    ),
    (
        name: 'flex-wrap',
        default: (flex-wrap: wrap),
        modifiers: (
            reverse: (flex-wrap:  wrap-reverse),
            no-wrap: (flex-wrap: nowrap)
        )
    ),
    (
        name: 'flex-grow',
        modifiers: (
            0: (flex-grow: 0),
            1: (flex-grow: 1)
        )
    ),
    (
        name: 'flex-shrink',
        modifiers: (
            0: (flex-shrink: 0),
            1: (flex-shrink: 1)
        )
    ),
    (
        name: 'align-items',
        modifiers: (
            start: (align-items: flex-start),
            end: (align-items: flex-end),
            center: (align-items: center),
            stretch: (align-items: stretch),
            baseline: (align-items: baseline),
        )
    ),
    (
        name: 'align-self',
        modifiers: (
            start: (align-self: flex-start),
            end: (align-self: flex-end),
            center: (align-self: center),
            stretch: (align-self: stretch),
        )
    ),
    (
        name: 'align-content',
        modifiers: (
            start: (align-content: flex-start),
            end: (align-content: flex-end),
            center: (align-content: center),
            stretch: (align-content: stretch),
            around: (align-content: space-around),
        )
    )
);

@include build-utilities($flex-utils);

// Special case, list becomes too long
$order: 0;

@while($order <= 12){
    @include responsiveStyles(
        (
            '.u-order--#{$order}': (order: $order )
        )
    );
    $order: $order + 1;
}