$float-states:(
    left,
    right,
    none
);

.u-float{
    &--left{
        float:left;
    }
    &--right{
        float:right
    }
    &--none{
        float:none;
    }
}

@each $state in $float-states{
    @include responsiveStyles(
        ('.u-float--#{$state}': (float: $state))
    )
}
