$float-utils: (
    (
        name: "float",
        modifiers: (
            left: (float: left),
            right: (float: right),
            none: (float: none)
        )
    )
);

@include build-utilities($float-utils);