.u-gap-0 {
  gap: 0 !important;
}
.u-gap-1 {
  gap: map-get($spacers, "1") !important;
}
.u-gap-2 {
  gap: map-get($spacers, "2") !important;
}
.u-gap-3 {
  gap: map-get($spacers, "3") !important;
}
.u-gap-4 {
  gap: map-get($spacers, "4") !important;
}
.u-gap-5 {
  gap: map-get($spacers, "5") !important;
}
.u-gap-6 {
  gap: map-get($spacers, "6") !important;
}
.u-gap-7 {
  gap: map-get($spacers, "7") !important;
}
.u-gap-8 {
  gap: map-get($spacers, "8") !important;
}