.u-gap-0 {
  gap: 0;
}
.u-gap-1 {
  gap: map-get($spacers, "1");
}
.u-gap-2 {
  gap: map-get($spacers, "2");
}
.u-gap-3 {
  gap: map-get($spacers, "3");
}
.u-gap-4 {
  gap: map-get($spacers, "4");
}
.u-gap-5 {
  gap: map-get($spacers, "5");
}
.u-gap-6 {
  gap: map-get($spacers, "6");
}
.u-gap-7 {
  gap: map-get($spacers, "7");
}
.u-gap-8 {
  gap: map-get($spacers, "8");
}