@use "sass:map";
@use "../mixin/build-utility";

$overflows: (auto, hidden, visible, scroll);

$modifiers: ();
@each $modifier in $overflows {
    $modifiers: map.merge($modifiers, ($modifier: ("overflow": #{$modifier})))
}

$overflow-utils:(
    "name": "overflow",
    "modifiers": $modifiers
);

@include build-utility.build-utilities($overflow-utils)