//
// @name Placeholders
// @description A set of placeholders for different types of attachments/media
//
// @page Utilities/Placeholders
//
// @state .image-placeholder - Image placeholder
//
// @markup
// <figure class="image-placeholder"></figure>
//

.image-placeholder {
    display: block;
    position: relative;
    background-color: $creamy;
    border: 1px solid $creamy-darker;
    max-width: 100%;
    min-height: 1px;
    padding-bottom: 75%;
    overflow: hidden;

    &::after {
        @include center();
        @include pricon($pricon-picture);
        font-size: 3em;
        opacity: .5;
    }
}

.markup-preview .image-placeholder {
    max-width: 300px;
    padding-bottom: 25%;
}
