$positions: ('static', 'relative', 'absolute', 'fixed', 'sticky');

@each $position in $positions {
    @include responsiveStyles(
        ('.u-position--#{$position}': (position: $position !important))
        
    )
}

@each $position in ('top', 'bottom') {
    @include responsiveStyles(
        ('.u-fixed--#{$position}': (
            position: fixed !important,
            $position: 0 !important,
            right: 0 !important,
            left: 0 !important,
            z-index: $level-10 !important
            )
        )
    )
}

@include responsiveStyles(
    ('.u-sitcky--top': (
        position: sticky !important,
        top: 0 !important,
        z-index: $level-10 !important
        )
    )
)