.pos-absolute {
    position: absolute;
}

.pos-relative {
    position: relative;
}

.pos-absolute-center {
    @include center();
    margin: 0;
}

.pos-absolute-center-horizontal {
    @include center(true, false);
    margin-left: 0;
    margin-right: 0;
}

.pos-absolute-center-vertical {
    @include center(false, true);
    margin-top: 0;
    margin-bottom: 0;
}

.pos-absolute-bottom {
    position: absolute;
    bottom: 0;
}

.pos-absolute-top {
    position: absolute;
    top: 0;
}

.pos-absolute-right {
    position: absolute;
    right: 0;
}

.pos-absolute-left {
    position: absolute;
    left: 0;
}

.pos-absolute-topleft {
    position: absolute;
    top: 0;
    left: 0;
}

.pos-absolute-topright {
    position: absolute;
    top: 0;
    right: 0;
}

.pos-absolute-bottomleft {
    position: absolute;
    bottom: 0;
    left: 0;
}

.pos-absolute-bottomright {
    position: absolute;
    bottom: 0;
    right: 0;
}

.inline-block {
    display: inline-block !important;
}

.inline-block + .inline-block {
    margin-left: $content-gutter;
}

.is-sticky-scroll {
    position: fixed !important;
    top: 0;
    left: 0;
    z-index: $level-top;
    width: 100%;
}

.admin-bar .is-sticky-scroll {
    top: 46px !important;

    @media screen and (min-width: 783px) {
        top: 32px !important;
    }
}

.site-header.header-jumbo .navbar-transparent.sticky-scroll {
    position: absolute;
    top: 0;
    left: 0;
    z-index: $level-top;
    width: 100%;
}
