@use "../setting/var_properties";
@use "../mixin/build-utility";

$position_utils: (
    (
        name: "position",
        modifiers: (
            static: (position: static),
            relative: (position: relative),
            absolute: (position: absolute),
            fixed: (position: fixed),
            sticky: (position: sticky)
        )
    ),
    (
        name: "fixed",
        modifiers: (
            top: (
                position: fixed,
                top: 0,
                right: 0,
                left: 0,
                z-index: var_properties.$level-10
            ),
            top-left: (
                position: fixed,
                top: 0,
                left: 0,
                z-index: var_properties.$level-10
            ),
            top-right: (
                position: fixed,
                top: 0,
                right: 0,
                z-index: var_properties.$level-10
            ),
            bottom: (
                position: fixed,
                bottom: 0,
                right: 0,
                left: 0,
                z-index: var_properties.$level-10
            ),
            bottom-left: (
                position: fixed,
                bottom: 0,
                left: 0,
                z-index: var_properties.$level-10
            ),
            bottom-right: (
                position: fixed,
                bottom: 0,
                right: 0,
                z-index: var_properties.$level-10
            ),
            left: (
                position: fixed,
                top: 0,
                bottom: 0,
                left: 0,
                z-index: var_properties.$level-10
            ),
            right: (
                position: fixed,
                top: 0,
                bottom: 0,
                right: 0,
                z-index: var_properties.$level-10
            )
        )
    ),
    (
        name: "absolute",
        modifiers: (
            top: (
                position: absolute,
                top: 0,
                left: 50%,
                transform: translateX(-50%),
            ),
            top-left: (
                position: absolute,
                top: 0,
                left: 0,
            ),
            top-right: (
                position: absolute,
                top: 0,
                right: 0,
            ),
            bottom: (
                position: absolute,
                bottom: 0,
                left: 50%,
                transform: translateX(-50%),
            ),
            bottom-left: (
                position: absolute,
                bottom: 0,
                left: 0,
            ),
            bottom-right: (
                position: absolute,
                bottom: 0,
                right: 0,
            ),
            left: (
                position: absolute,
                top: 50%,
                left: 0,
                transform: translateY(-50%),
            ),
            right: (
                position: absolute,
                top: 50%,
                right: 0,
                transform: translateY(-50%),
            )
        )
    ),
    (
        name: "sticky",
        modifiers: (
            top: (
                position: sticky,
                top: 0,
                z-index: var_properties.$level-10
            )
        )
    )
);

@include build-utility.build-utilities($position_utils);