@use "../mixin/cover";

/** Adds preload like apperance of any component */
.u-preloader {
  position: relative;
  filter: unset !important;
  cursor: default;

  &:after,
  &:before {
    content: ""; 
    @include cover.cover(); 
    
    border-radius: inherit;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-name: placeHolderShimmer;
    animation-timing-function: linear;
    background: #f6f7f8;
    background: linear-gradient( to right, #eeeeee 8%,#dddddd 18%,#eeeeee 33% );
    background-size: 800px 104px;
  }

  * {
    visibility: hidden;
  }
  
  @keyframes placeHolderShimmer{
    0%{
      background-position: -468px 0;
    }
    100%{
      background-position: 468px 0;
    }
  }

  @for $i from 1 through 10 {
    &__opacity--#{$i} {
      &:after,
      &:before {
        opacity: #{$i * 0.1};
      }
    }
  }
}

/**
 * Utility: Preloader (Inner Components)
 *
 * This variant of the preloader utility is designed to target only inner components.
 * It is typically applied to elements containing meaningful content, such as:
 *   - .c-typography
 *   - .c-button
 *   - .c-avatar
 *   - .c-datebadge
 *   - .c-field
 *
 * Usage of this utility ensures that loading states are visually represented
 * within content-rich components, enhancing user experience during asynchronous operations.
 */
.u-preloader--inner {
  .c-typography,
  .c-button,
  .c-avatar,
  .c-datebadge,
  .c-field {
    position: relative;
    filter: unset !important;
    cursor: default;

    &:after,
    &:before {
      content: "";
      @include cover.cover();

      border-radius: inherit;
      animation-duration: 1s;
      animation-fill-mode: forwards;
      animation-iteration-count: infinite;
      animation-name: placeHolderShimmer;
      animation-timing-function: linear;
      background: #f6f7f8;
      background: linear-gradient( to right, #eeeeee 8%,#dddddd 18%,#eeeeee 33% );
      background-size: 800px 104px;
    }

    * {
      visibility: hidden;
    }
  }
}