@media print {

    $display-states: (none, inline, inline-block, block, table, table-cell, table-row, flex, grid, inline-flex);

    @each $state in $display-states {
        .u-print-display--#{$state} {
            display: #{$state} !important;
        }
    }

}
