@use "../mixin/build-utility";

$media-utils: (
    name: "media",
    modifiers: (
        responsive: (
            width: 100%,
            height: auto
        )
    )
);

@include build-utility.build-utilities($media-utils);