.scroll-elevator {
    visibility: hidden;
    position: fixed;
    right: 20px;
    bottom: 10px;
    opacity: 0;
    transition: visibility 0ms, opacity 300ms ease-in-out;

    a {
        display: block;
        background-color: $palette-2;
        color: $palette-2-text;
        border-radius: 40px;
        height: 40px;
        line-height: 40px;
        padding-right: 15px;
        text-decoration: none;

        box-shadow: 0 5px 7px 0px rgba(0,0,0,0.3);

        i::before {
            display: inline-block;
            width: 40px;
            text-align: center;
            vertical-align: middle;
            font-size: 1.5em;
            line-height: 40px;
            @include pricon($pricon-up, middle);
        }
        &:hover {
            background-color: $palette-3;
        }

    }
    &.minimalButtonHideRight {
        animation: hideRight 0.3s ease-in forwards;
        animation-delay: 3s;
    }
    &.minimalButtonHide {
        transform: translateX(88%);
    }
}
@keyframes  hideRight {
    0% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(88%);
    }
}
.show-scroll-elevator .scroll-elevator {
    display: block;
    visibility: visible;
    opacity: 1;
}
