$width: ();
$height: ();

@each $modifier in $sizings {
    $mod: ($modifier: ("width": $modifier + "%"));
    $width: map-merge($width, $mod);
}

@each $modifier in $sizings {
    $mod: ($modifier: ("height": $modifier + "%"));
    $height: map-merge($height, $mod);
}

$flex-utils: (
    (
        name: "width",
        modifiers: $width
    ),
    (
        name: "height",
        modifiers: $height
    )
);

@include build-utilities($flex-utils);
