/* Text decoration */

.u-no-decoration,
.u-no-decoration:hover,
.u-no-decoration:focus {
    text-decoration: none;
}

.u-inherit-color {
    color: inherit;
}

/* Text appearance */

.u-bold,
.u-strong {
    font-weight: $font-weight-bold;
}

.u-italic {
    font-style: italic;
}

/* Text flow */

.u-nowrap {
    white-space: nowrap;
}

.u-truncate {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.u-truncate-ignore-hover:hover {
    background-color: #fff;
    width: auto;
    overflow: visible;
}

/* Font size */
$font-sizes: (
    "base": $font-size-base,
    "lead": $font-size-lead,
    "caption": $font-size-caption,
    "marketing": $font-size-marketing,
    "headline": $font-size-headline,
    "title": $font-size-title,
    "subtitle": $font-size-subtitle,
    "subtitle-small": $font-size-subtitle-small,
    "meta": $font-size-meta,
    "brand": $font-size-brand
);

@each $name, $value in $font-sizes {
    .u-font-size--#{$name} {
        font-size: $value;
    }
}

/* Text size */

.u-text-small {
    font-size: 80%;
}

.u-text-normal {
    font-size: 100%;
}

.u-text-large {
    font-size: 110%;
}

.u-text-xlarge {
    font-size: 120%;
}

/* Apperance */

.u-text-uppercase {
    text-transform: uppercase;
}

.u-text-lowercase {
    text-transform: lowercase;
}

.u-text-capitalize {
    text-transform: capitalize;
}
