/* Text decoration */

.u-no-decoration,
.u-no-decoration:hover,
.u-no-decoration:focus {
    text-decoration: none;
}

.u-inherit-color {
    color: inherit;
}

/* Text appearance */

.u-bold,
.u-strong {
    font-weight: bold;
}

.u-italic {
    font-style: italic;
}

/* Text flow */

.u-nowrap {
    white-space: nowrap;
}

.u-truncate {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.u-truncate-ignore-hover:hover {
    background-color: #fff;
    width: auto;
    overflow: visible;
}

/* Text size */

.u-text-small {
    font-size: 80%;
}

.u-text-normal {
    font-size: 100%;
}

.u-text-large {
    font-size: 110%;
}

.u-text-xlarge {
    font-size: 120%;
}

/* Apperance */

.u-text-uppercase {
    text-transform: uppercase;
}

.u-text-lowercase {
    text-transform: lowercase;
}

.u-text-capitalize {
    text-transform: capitalize;
}
