$vertical-align-utils:(
    name: "align",
    modifiers: (
        baseline: (vertical-align: baseline),
        top: (vertical-align: top),
        middle: (vertical-align: middle),
        bottom: (vertical-align: bottom),
        text-top: (vertical-align: text-top),
        text-bottom: (vertical-align: text-bottom),
    )

);

@include build-utilities($vertical-align-utils);