//
// @name Visibility
// @description Hides any elements for the specified screen size
//
// @page Utilities/Visibility
//
// @state .hidden 	 - Hidden on all sizes
// @state .hidden-xs - Hidden on extra small screens
// @state .hidden-sm - Hidden on small screens
// @state .hidden-md - Hidden on medium screens
// @state .hidden-lg - Hidden on large screens
// @state .hidden-print - Hidden in print
// @state .print-only - Display only in print
//


@include mixResponsiveStyles(
    (
        '.u-hidden' : (display: none !important),
    )
);

//Prevent deprecated from breaking
.hidden {@extend .u-hidden;}
.hidden-xs {@extend .u-hidden\@xs;}
.hidden-sm {@extend .u-hidden\@sm;}
.hidden-md {@extend .u-hidden\@md;}
.hidden-lg {@extend .u-hidden\@lg;}
.hidden-lg {@extend .u-hidden\@xl;}

.block-level {
	display: block;
}

.target-toggle:not(:target).target-toggle:not(:target) {
	display: none;
}


.print-only {
	display: none;
}

@media print {
	.hidden-print {
		display: none;
	}

	.print-only {
		display: block !important;
	}

	.print-grow {
		flex: 1 1 auto;
		max-width: 100%;
	}
}
