@use "../mixin/build-utility";

$flex-utils: (
    name: "visibility",
    modifiers: (
        visible: (visibility: visible),
        hidden: (visibility: hidden)
    )
);

@include build-utility.build-utilities($flex-utils);