@for $i from 1 through 10 {

    .u-level-#{$i},
    .u-level--#{$i} {
        z-index: ($i*1000) !important;
    }
}

.u-level-top,
.u-level--top {
    z-index: 99999 !important;
}

.u-level-bottom,
.u-level--bottom {
    z-index: 1 !important;
}