@use "../setting/var_properties";

@for $i from 1 through 10 {

    .u-level-#{$i},
    .u-level--#{$i} {
        z-index: ($i*1000) !important;
    }
}

.u-level-top,
.u-level--top {
    z-index: #{var_properties.$level-top} !important;
}

.u-level-bottom,
.u-level--bottom {
    z-index: #{var_properties.$level-bottom} !important;
}