//
// @name WP Widget: Archive & Categories
// @description Wordpress built-in list-type (tags, categories, archives) functionality markup.
//
// @page Wordpress/WP Widget: Archive, Categories, Meta-data
//
// @markup
//
// <div class="widget_archive OR widget_categories"><h2 class="footer-title">Archive</h2>
//  <ul>
//    <li><a href="http://dunkerskulturhus.dev/2016/02/">February 2016</a></li>
//    <li><a href="http://dunkerskulturhus.dev/2016/01/">January 2016</a></li>
//  </ul>
// </div>
// <div class="widget_archive"><h2 class="footer-title">Archive</h2>    <label class="screen-reader-text" for="archives-dropdown-3">Archive</label>
//  <select id="archives-dropdown-3" name="archive-dropdown" onchange="document.location.href=this.options[this.selectedIndex].value;">
//    <option value="">Select Month</option>
//    <option value="http://dunkerskulturhus.dev/2016/02/"> February 2016 </option>
//    <option value="http://dunkerskulturhus.dev/2016/01/"> January 2016 </option>
//  </select>
// </div>

.widget_archive,
.widget_categories,
.widget_meta,
.widget_recent_entries,
.widget_recent_comments {
    .sidebar-left-sidebar &,
    .sidebar-right-sidebar & {
        a {
            @extend .link-item-light;
            color: #fff;
        }
    }

    a {
        @extend .link-item;
    }

    .post-date {
        display: block;
        font-size: .8em;
    }
}

.widget_recent_entries,
.widget_recent_comments {
    .sidebar-left-sidebar &,
    .sidebar-right-sidebar & {
        li + li {
            margin-top: 15px;
        }

        .post-date {
            margin-left: 20px;
        }
    }
}

.widget_categories li a.link-item {
    display: inline-block !important;
}

#recentcomments .recentcomments a {
    display: block !important;
}
