//
// @name WP Widget: Search
// @description Wordpress built-in search functionality markup.
//
// @page Wordpress/WP Widget: Search
//
// @markup
// <div class="widget_search">
//  <h2 class="footer-title">Search</h2>
//    <form class="search" method="get" action="/">
//      <label class="label label-lg label-theme" for="searchkeyword-1">Sök på Helsingborg.se</label>
//      <div class="input-group input-group-lg">
//        <input id="searchkeyword-1" autocomplete="off" class="form-control form-control-lg" type="search" name="s" placeholder="Vad letar du efter?" value="">
//        <span class="input-group-addon-btn">
//            <input type="submit" class="btn btn-primary btn-lg" value="Sök">
//        </span>
//      </div>
//    </form>
// </div>

.widget_search {
    .sidebar-left-sidebar &,
    .sidebar-right-sidebar & {
        padding: 0;

        h2 {
            display: none;
        }

        form {
            padding: 0;
        }
    }
}
