//
// @name WP Utility: Captions
// @description Wordpress built in caption functionality.
//
// @page Wordpress/WP Utility: Caption
//
// @markup
//
// <div class="wp-caption alignnone">
//  <img class="wp-image-2634 size-large" src="https://unsplash.it/458/354?image=0" alt="Hemtjanst2">
//  <p class="wp-caption-text">Gingerbread gummies lollipop chocolate cake.</p>
// </div>
//
.wp-caption {
    border-bottom: 1px solid $creamy-darker;
    padding-bottom: 10px;
}

.wp-caption.alignnone {
    margin-left: 0;
    margin-right: 0;
    width: 100% !important;
}

.wp-caption.alignleft {
    width: auto !important;
    margin: $align-left-margin;
}

.wp-caption.alignright {
    width: auto !important;
    margin: $align-right-margin;
}

@media screen and #{$screen-below-md} {
    .wp-caption.alignleft, .wp-caption.alignright {
        float: none;
        margin-left: 0;
        margin-right: 0;
        width: 100% !important;
    }
}

.wp-caption img {
    border: 0 none;
    height: auto;
    margin: 0;
    padding: 0;
    width: 100% !important;
}

.wp-caption p.wp-caption-text {
    font-size: .75em;
    line-height: 1.2em;
    margin: $grid-gutter-xs 0 0 0;
    padding: 0;
}

.creamy .wp-caption {
    background-color: #fff;
    border-color: $creamy-darker;
}
