@use "../../sass/mixin/tokens";

$_: "c-signature";

@include tokens.create($_, getComponentTokens($_));

.#{$_} {
    display: grid;
    grid-template-columns: max-content auto;
    text-decoration: none;
    column-gap: tokens.getCalculatedValue($_, "space", 2);

    &__author-box {
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    &__author {
        line-height: 1;
        --inherit-font-size: #{tokens.getRawValue($_, "font-size-100")};
    }

    &__title {
        color: tokens.getRawValue($_, "color--background-contrast-muted");
        display: block;
    }

    &__published,
    &__updated {
        color: tokens.getRawValue($_, "color--background-contrast-muted");
        display: block;
    }
}