@use "../../sass/mixin/tokens";

$_: "c-signature";

@include tokens.create($_, getComponentTokens($_));

.#{$_} {
    display: grid;
    grid-template-columns: max-content max-content;
    text-decoration: none;
    column-gap: tokens.use($_, "space", 2);

    &__author-box {
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    &__title {
        color: tokens.get($_, "color--surface-contrast-muted");
        display: block;
    }

    &__published,
    &__updated {
        color: tokens.get($_, "color--surface-contrast-muted");
        display: block;
    }
}