// *
// * 1. Breakpoints
// * 2. Media Queries
// * 3. Gutter
// * 4. Grid columns
// *

// ***************************************************************
// *** 1. Breakpoints
// ***************************************************************

$screen-xs-min: 0;
$screen-xs-max: map-get($breakpoints-map, sm) - 0.0625em; //468px

$screen-sm-min: $screen-xs-max + 0.0625em; //0.0625em = 1px
$screen-sm-max: map-get($breakpoints-map, md) - 0.0625em; //768px

$screen-md-min: $screen-sm-max + 0.0625em; //0.0625em = 1px
$screen-md-max: map-get($breakpoints-map, lg)- 0.0625em; //960px

$screen-lg-min: $screen-md-max + 0.0625em; //0.0625em = 1px
$screen-lg-max: map-get($breakpoints-map, xl) - 0.0625em; //1280px

$screen-xl-min: $screen-lg-max + 0.0625em; //0.0625em = 1px

// ***************************************************************
// *** 2. Media Queries
// ***************************************************************

$screen-xs: "(min-width: #{$screen-xs-min}) and (max-width: #{$screen-xs-max})";
$screen-xs-up: "(min-width: #{$screen-xs-min})";
$screen-below-xs: "(max-width: #{$screen-xs-min})";

$screen-sm: "(min-width: #{$screen-sm-min}) and (max-width: #{$screen-sm-max})";
$screen-sm-up: "(min-width: #{$screen-sm-min})";
$screen-below-sm: "(max-width: #{$screen-sm-min})";

$screen-md: "(min-width: #{$screen-md-min}) and (max-width: #{$screen-md-max})";
$screen-md-up: "(min-width: #{$screen-md-min})";
$screen-below-md: "(max-width: #{$screen-md-min})";

$screen-lg: "(min-width: #{$screen-lg-min}) and (max-width: #{$screen-lg-max})";
$screen-lg-up: "(min-width: #{$screen-lg-min})";
$screen-below-lg: "(max-width: #{$screen-lg-min})";

$screen-xl: "(min-width: #{$screen-xl-min})";
$screen-xl-up: "(min-width: #{$screen-xl-min})";
$screen-below-xl: "(max-width: #{$screen-xl-min})";

// ***************************************************************
// *** 3. Gutter
// ***************************************************************

$grid-gutter-xs: 8px;
$grid-gutter-sm: 8px;
$grid-gutter-md: 32px;
$grid-gutter-lg: 32px;

// ***************************************************************
// *** 4. Grid columns
// ***************************************************************

$grid-column-count: 12;
