$cell-padding: $content-gutter/1.5 $content-gutter;
$cell-padding-lg: $cell-padding;
$cell-padding-sm: $content-gutter/2 $content-gutter/1.5;

$table-highlight-color: $creamy-darker;
$table-zebra-alter-color: #f5f5f5;
