// ***************************************************************
// *** Base font
// ***************************************************************
// $base-font-family: system, "Segoe UI", Tahoma, -apple-system; // Using local fonts (localfont.scss)
@if variable-exists(override-base-font-family) {
    $base-font-family: $override-base-font-family;
}

// $base-font-size: 16px;
@if variable-exists(override-base-font-size) {
    $base-font-size: $override-base-font-size;
}

$base-font-color: #252525;
@if variable-exists(override-base-font-color) {
    $base-font-color: $override-base-font-color;
}

// $base-line-height: 1.5;
$print-font-size: 13px;

// ***************************************************************
// *** Code font
// ***************************************************************
$code-font-family: 'Fira Sans', 'Monaco', 'Consolas', 'Menlo', 'Lucida Console', 'Courier New', 'Courier', 'Console'; //Puhh, i think i got them all!

// ***************************************************************
// *** Content
// ***************************************************************
$content-gutter: 16px;

$mark-padding: 0 .15em;
